Repository nodejs/node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nodejs/tsc, @nodejs/nodejs-website, @nodejs/web-infra, @nodejs/streams, @nodejs/net, @nodejs/crypto, @nodejs/http, @nodejs/http2, @nodejs/loaders, @nodejs/vm, @nodejs/node-api, @nodejs/gyp, @nodejs/wasi, @nodejs/startup, @nodejs/realm, @nodejs/v8-update, @nodejs/actions, @nodejs/releasers, @nodejs/test_runner, @nodejs/single-executable, @nodejs/security-wg, @nodejs/security-stewards, @nodejs/web-standards, @nodejs/typescript, @nodejs/performance, @nodejs/url, @nodejs/sqlite, @nodejs/config

.github/CODEOWNERS:

# Node.js Project Codeowners

# This file does not define any requirements for landing PRs.
# Its purpose is to allow automation of courtesy pings to the
# relevant team(s) when any of the paths listed here are modified.
# Criteria for landing PRs are defined in
# https://github.com/nodejs/node/blob/main/doc/contributing/collaborator-guide.md#code-reviews.
#
# Codeowners must always be teams, never individuals.

# tsc

/.github/CODEOWNERS @nodejs/tsc
/.github/PULL_REQUEST_TEMPLATE.md @nodejs/tsc
/.github/ISSUE_TEMPLATE/* @nodejs/tsc
/CODE_OF_CONDUCT.md @nodejs/tsc
/CONTRIBUTING.md @nodejs/tsc
/doc/contributing/**/* @nodejs/tsc
/GOVERNANCE.md @nodejs/tsc
/SECURITY.md @nodejs/tsc
/LICENSE @nodejs/tsc
/onboarding.md @nodejs/tsc

# nodejs.org website
/doc/api_assets @nodejs/nodejs-website
/doc/template.html @nodejs/nodejs-website
/tools/doc @nodejs/web-infra

# streams

/lib/_stream* @nodejs/streams
/lib/internal/streams/* @nodejs/streams
/lib/stream.js @nodejs/streams
/lib/stream/* @nodejs/streams

# net

/deps/cares @nodejs/net
/doc/api/dgram.md @nodejs/net
/doc/api/dns.md @nodejs/net
/doc/api/net.md @nodejs/net
/lib/dgram.js @nodejs/net
/lib/dns.js @nodejs/net
/lib/internal/dgram.js @nodejs/net
/lib/internal/dns/* @nodejs/net
/lib/internal/js_stream_socket.js @nodejs/net
/lib/internal/net.js @nodejs/net
/lib/internal/socket_list.js @nodejs/net
/lib/net.js @nodejs/net
/src/cares_wrap.cc @nodejs/net
/src/connect_wrap.* @nodejs/net
/src/connection_wrap.* @nodejs/net
/src/node_sockaddr* @nodejs/net
/src/tcp_wrap.* @nodejs/net
/src/udp_wrap.* @nodejs/net

# tls/crypto

/doc/api/crypto.md @nodejs/crypto
/doc/api/webcrypto.md @nodejs/crypto
/lib/crypto.js @nodejs/crypto
/lib/internal/crypto/* @nodejs/crypto
/lib/internal/tls/* @nodejs/crypto @nodejs/net
/lib/tls.js @nodejs/crypto @nodejs/net
/src/crypto/* @nodejs/crypto
/src/node_crypto* @nodejs/crypto
/deps/ncrypto/* @nodejs/crypto

# http

/deps/llhttp/* @nodejs/http @nodejs/net
/doc/api/http.md @nodejs/http @nodejs/net
/lib/_http_* @nodejs/http @nodejs/net
/lib/http.js @nodejs/http @nodejs/net
/lib/https.js @nodejs/crypto @nodejs/net @nodejs/http
/src/node_http_common* @nodejs/http @nodejs/http2 @nodejs/net
/src/node_http_parser.cc @nodejs/http @nodejs/net

# http2

/deps/nghttp2/* @nodejs/http2 @nodejs/net
/doc/api/http2.md @nodejs/http2 @nodejs/http @nodejs/net
/lib/http2.js @nodejs/http2 @nodejs/net
/lib/internal/http2/* @nodejs/http2 @nodejs/net
/src/node_http2* @nodejs/http2 @nodejs/net
/src/node_mem* @nodejs/http2

# modules, including loaders

/doc/api/esm.md @nodejs/loaders
/doc/api/module.md @nodejs/loaders
/doc/api/modules.md @nodejs/loaders
/doc/api/packages.md @nodejs/loaders
/lib/internal/bootstrap/realm.js @nodejs/loaders
/lib/internal/modules/* @nodejs/loaders
/lib/internal/process/execution.js @nodejs/loaders
/lib/module.js @nodejs/loaders
/src/module_wrap* @nodejs/loaders @nodejs/vm

# Node-API

/doc/api/n-api.md @nodejs/node-api
/doc/contributing/adding-new-napi-api.md @nodejs/node-api
/src/js_native_api* @nodejs/node-api
/src/node_api* @nodejs/node-api

# gyp

*.gyp @nodejs/gyp
*.gypi @nodejs/gyp
/tools/gyp/**/* @nodejs/gyp

# WASI

/deps/uvwasi/ @nodejs/wasi
/doc/api/wasi.md @nodejs/wasi
/lib/wasi.js @nodejs/wasi
/src/node_wasi* @nodejs/wasi
/test/fixtures/wasi/ @nodejs/wasi
/test/wasi/ @nodejs/wasi

# Startup

/benchmark/misc/startup-* @nodejs/startup
/lib/internal/bootstrap/* @nodejs/startup
/src/node_builtins* @nodejs/startup
/src/node_realm* @nodejs/startup @nodejs/realm
/src/node_snapshot* @nodejs/startup
/src/node.cc @nodejs/startup
/test/parallel/test-bootstrap-* @nodejs/startup
/test/parallel/test-snapshot-* @nodejs/startup
/tools/snapshot/* @nodejs/startup

# V8

/deps/v8/* @nodejs/v8-update
/tools/v8_gypfiles/* @nodejs/v8-update

# Actions

/.github/workflows/* @nodejs/actions
/.github/workflows/create-release-proposal.yml @nodejs/releasers
/tools/actions/* @nodejs/actions

# Test runner

/doc/api/test.md @nodejs/test_runner
/lib/internal/main/test_runner.js @nodejs/test_runner
/lib/internal/test_runner/* @nodejs/test_runner
/lib/test.js @nodejs/test_runner
/lib/test/reporters.js @nodejs/test_runner
/test/parallel/test-runner-* @nodejs/test_runner

# Single Executable Applications
/deps/postject @nodejs/single-executable
/doc/api/single-executable-applications.md @nodejs/single-executable
/doc/contributing/maintaining/maintaining-single-executable-application-support.md @nodejs/single-executable
/src/node_sea* @nodejs/single-executable
/test/fixtures/postject-copy @nodejs/single-executable
/test/parallel/test-single-executable-* @nodejs/single-executable
/test/sequential/test-single-executable-* @nodejs/single-executable
/tools/dep_updaters/update-postject.sh @nodejs/single-executable

# Permission Model
/doc/api/permissions.md @nodejs/security-wg
/lib/internal/process/permission.js @nodejs/security-wg
/src/permission/* @nodejs/security-wg
/test/parallel/test-permission-* @nodejs/security-wg

# Security Release
/doc/contributing/security-release-process.md @nodejs/security-stewards

# Dependency Update Tools

/.github/workflows/tools.yml @nodejs/security-wg
/.github/workflows/update-openssl.yml @nodejs/security-wg
/.github/workflows/update-v8.yml @nodejs/security-wg @nodejs/v8-update
/deps @nodejs/security-wg
/tools/dep_updaters/* @nodejs/security-wg

# Web Standards
/lib/internal/bootstrap/web/* @nodejs/web-standards
/lib/internal/navigator.js @nodejs/web-standards
/test/fixtures/wpt/ @nodejs/web-standards
/test/wpt/ @nodejs/web-standards

# TypeScript

/deps/amaro/ @nodejs/typescript
/doc/api/typescript.md @nodejs/typescript
/test/fixtures/typescript/ @nodejs/typescript
/tools/dep_updaters/update-amaro.sh @nodejs/typescript

# Performance
/benchmark/* @nodejs/performance

# URL
/deps/ada @nodejs/url
/lib/internal/url.js @nodejs/url
/lib/url.js @nodejs/url
/src/node_url.* @nodejs/url
/test/fixtures/wpt/url @nodejs/url

# SQLite
/deps/sqlite/ @nodejs/sqlite
/doc/api/sqlite.md @nodejs/sqlite
/src/node_sqlite.* @nodejs/sqlite
/test/parallel/test-sqlite* @nodejs/sqlite
/test/sqlite/ @nodejs/sqlite
/tools/dep_updaters/update-sqlite.sh @nodejs/sqlite

# Config
/doc/node-config-schema.json @nodejs/config
/src/node_config.* @nodejs/config
/src/node_dotenv.* @nodejs/config
/src/node_options.* @nodejs/config
/test/parallel/test-config-* @nodejs/config
/test/parallel/test-dotenv-* @nodejs/config

undo the link
  lib/internal/fs/promises.js
Owners: none

add support for chunked reading in fs/promises
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises-file-handle-readFile.js
  test/parallel/test-fs-readfile.js
Owners: none

add large file support to callback-based readFile implementation
  lib/fs.js
  test/parallel/test-fs-readfile.js
Owners: none

undo the link
  lib/internal/fs/promises.js
Owners: none

Update lib/internal/fs/promises.js
  lib/internal/fs/promises.js
Owners: none

revert lint
  lib/internal/fs/promises.js
Owners: none

fs: enable chunked reading for large files in readFileHandle
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises-file-handle-readFile.js
Owners: none

revert lint
  lib/internal/fs/promises.js
Owners: none

use emitWarning
  lib/internal/fs/promises.js
Owners: none

keep old variable
  lib/internal/fs/promises.js
Owners: none

update large file limit
  test/parallel/test-fs-promises-file-handle-readFile.js
Owners: none

delete console import
  lib/internal/fs/promises.js
Owners: none

crypto: update root certificates to NSS 3.108
  src/node_root_certs.h
  tools/certdata.txt
Owners: none

dns: remove redundant code using common variable
  lib/dns.js
  lib/internal/dns/promises.js
  lib/internal/dns/utils.js
Owners: @nodejs/net

doc: make first parameter optional in `util.getCallSites`
  doc/api/util.md
Owners: none

net: validate non-string host for socket.connect
  lib/net.js
  test/parallel/test-net-connect-options-invalid.js
Owners: @nodejs/net

address comments/suggestions
  doc/contributing/managing-social-media-acounts.md
Owners: @nodejs/tsc

doc: update maintaining-openssl.md for openssl
  .github/workflows/update-openssl.yml
  doc/contributing/maintaining/maintaining-openssl.md
Owners: @nodejs/security-wg, @nodejs/tsc

fixup
  doc/contributing/managing-social-media-acounts.md
Owners: @nodejs/tsc

address comments
  doc/contributing/managing-social-media-acounts.md
Owners: @nodejs/tsc

fixup to make linter happy
  doc/contributing/managing-social-media-acounts.md
Owners: @nodejs/tsc

util: fix parseEnv incorrectly splitting multiple ‘=‘ in value
  src/node_dotenv.cc
  test/fixtures/dotenv/valid.env
  test/parallel/test-dotenv.js
Owners: @nodejs/config

fixup! doc: prefer to sign commits under nodejs repository
  doc/contributing/releases.md
  onboarding.md
Owners: @nodejs/tsc

src: add config file support
  Makefile
  doc/api/cli.md
  doc/node.1
  doc/node_config_json_schema.json
  lib/internal/options.js
  lib/internal/process/pre_execution.js
  node.gyp
  src/node.cc
  src/node_config_file.cc
  src/node_config_file.h
  src/node_options.cc
  src/node_options.h
  test/fixtures/dotenv/node-options-no-tranform.env
  test/fixtures/rc/empty-object.json
  test/fixtures/rc/empty.json
  test/fixtures/rc/host-port.json
  test/fixtures/rc/import-as-string.json
  test/fixtures/rc/import.json
  test/fixtures/rc/invalid-import.json
  test/fixtures/rc/negative-numeric.json
  test/fixtures/rc/no-op.json
  test/fixtures/rc/not-node-options-flag.json
  test/fixtures/rc/numeric.json
  test/fixtures/rc/override-property.json
  test/fixtures/rc/sneaky-flag.json
  test/fixtures/rc/string.json
  test/fixtures/rc/test.js
  test/fixtures/rc/transform-types.json
  test/fixtures/rc/unknown-flag.json
  test/fixtures/rc/v8-flag.json
  test/parallel/test-config-file.js
  test/parallel/test-config-json-schema.js
  tools/doc/generate-json-schema.mjs
Owners: @nodejs/gyp, @nodejs/startup, @nodejs/config, @nodejs/web-infra

src: create THROW_ERR_OPTIONS_BEFORE_BOOTSTRAPPING
  doc/api/errors.md
  src/node_errors.h
  src/node_options.cc
Owners: @nodejs/config

src: namespace config file flags
  doc/api/cli.md
  doc/node_config_json_schema.json
  lib/internal/options.js
  src/node_config_file.cc
  src/node_config_file.h
  test/fixtures/rc/host-port.json
  test/fixtures/rc/import-as-string.json
  test/fixtures/rc/import.json
  test/fixtures/rc/invalid-import.json
  test/fixtures/rc/negative-numeric.json
  test/fixtures/rc/no-op.json
  test/fixtures/rc/not-node-options-flag.json
  test/fixtures/rc/numeric.json
  test/fixtures/rc/override-property.json
  test/fixtures/rc/sneaky-flag.json
  test/fixtures/rc/string.json
  test/fixtures/rc/transform-types.json
  test/fixtures/rc/unknown-flag.json
  test/fixtures/rc/v8-flag.json
  test/parallel/test-config-file.js
Owners: @nodejs/config

test: add more coverage to node_config_file
  test/fixtures/rc/broken-node-options.json
  test/fixtures/rc/broken.json
  test/fixtures/rc/non-object-node-options.json
  test/fixtures/rc/non-object-root.json
  test/parallel/test-config-file.js
Owners: @nodejs/config

src: set default config as node.config.json
  Makefile
  doc/api/cli.md
  doc/node-config-schema.json
  doc/node.1
  lib/internal/process/pre_execution.js
  src/node_config_file.cc
  src/node_options.cc
  src/node_options.h
  test/fixtures/rc/default/node.config.json
  test/fixtures/rc/default/override.json
  test/fixtures/rc/non-readable/node.config.json
  test/parallel/test-config-file.js
  test/parallel/test-config-json-schema.js
  tools/doc/generate-json-schema.mjs
Owners: @nodejs/config, @nodejs/web-infra

test: skip `test-config-json-schema` with quic
  test/parallel/test-config-json-schema.js
Owners: @nodejs/config
