Repository nodejs/node, pull requests merged in 2018-12, with the labels that each got.

#24714 test: bailout test_threadsafe_function/test
  test/addons-napi/addons-napi.status
Labels: fast-track, n-api, test

#23683 module: don't search in require.resolve.paths
  lib/internal/modules/cjs/loader.js
  test/fixtures/require-resolve.js
Labels: semver-major

#24862 lib: move DEP0120 to end of life
  .eslintrc.js
  doc/api/deprecations.md
  lib/internal/bootstrap/node.js
  test/common/index.js
Labels: semver-major

#24924 src: use Local version of ToBoolean()
  src/js_native_api_v8.cc
Labels: C++

#25012 test: use global.gc() instead of gc()
  test/parallel/test-fs-filehandle.js
Labels: author ready, test

#25013 test: remove unnecessary linter comment
  test/parallel/test-fs-utimes.js
Labels: author ready, test

#25014 net: use strict comparisons for fd
  lib/net.js
Labels: net

#25045 doc: fix node.1 --http-parser sort order
  doc/node.1
Labels: doc

#25078 deps: upgrade to libuv 1.24.1
  deps/uv/.gitignore
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/Makefile.am
  deps/uv/README.md
  deps/uv/configure.ac
  deps/uv/docs/src/handle.rst
  deps/uv/include/uv/version.h
  deps/uv/include/uv/win.h
  deps/uv/src/inet.c
  deps/uv/src/strscpy.c
  deps/uv/src/strscpy.h
  deps/uv/src/timer.c
  deps/uv/src/unix/aix.c
  deps/uv/src/unix/darwin-proctitle.c
  deps/uv/src/unix/fs.c
  deps/uv/src/unix/linux-core.c
  deps/uv/src/unix/linux-inotify.c
  deps/uv/src/unix/netbsd.c
  deps/uv/src/unix/os390.c
  deps/uv/src/unix/pipe.c
  deps/uv/src/unix/sunos.c
  deps/uv/src/uv-common.c
  deps/uv/src/uv-common.h
  deps/uv/src/uv-data-getter-setters.c
  deps/uv/src/win/dl.c
  deps/uv/src/win/fs-event.c
  deps/uv/src/win/fs.c
  deps/uv/src/win/pipe.c
  deps/uv/src/win/poll.c
  deps/uv/src/win/process.c
  deps/uv/src/win/tty.c
  deps/uv/src/win/winapi.h
  deps/uv/test/run-tests.c
  deps/uv/test/runner-win.c
  deps/uv/test/runner-win.h
  deps/uv/test/test-close-fd.c
  deps/uv/test/test-condvar.c
  deps/uv/test/test-emfile.c
  deps/uv/test/test-fork.c
  deps/uv/test/test-fs.c
  deps/uv/test/test-ip4-addr.c
  deps/uv/test/test-ip6-addr.c
  deps/uv/test/test-list.h
  deps/uv/test/test-pipe-close-stdout-read-stdin.c
  deps/uv/test/test-platform-output.c
  deps/uv/test/test-poll-close-doesnt-corrupt-stack.c
  deps/uv/test/test-poll-oob.c
  deps/uv/test/test-process-title-threadsafe.c
  deps/uv/test/test-process-title.c
  deps/uv/test/test-signal-multiple-loops.c
  deps/uv/test/test-spawn.c
  deps/uv/test/test-strscpy.c
  deps/uv/test/test-tcp-close-accept.c
  deps/uv/test/test-tcp-oob.c
  deps/uv/test/test-tcp-write-after-connect.c
  deps/uv/test/test-tty.c
  deps/uv/test/test.gyp
  deps/uv/uv.gyp
Labels: author ready, libuv

#25088 test: remove obsolete eslint comments
  test/js-native-api/test_general/testInstanceOf.js
  test/parallel/test-require-extensions-same-filename-as-dir-trailing-slash.js
Labels: test

#25090 console: improve inspectOptions validation
  lib/internal/console/constructor.js
  test/parallel/test-console-instance.js
Labels: author ready, console

#25106 src: port GetLoadedLibraries for freebsd
  src/debug_utils.cc
Labels: C++, author ready

#24860 http: add maxHeaderSize property
  doc/api/http.md
  lib/http.js
  test/parallel/test-http-max-header-size.js
Labels: C++, lib / src, lts-watch-v10.x, lts-watch-v6.x, lts-watch-v8.x, semver-minor

#25111 os: use uv_os_gethostname() in hostname()
  src/node_os.cc
Labels: C++, os

#25191 tools: update ESLint to 5.11.0
  tools/node_modules/eslint/conf/eslint-recommended.js
  tools/node_modules/eslint/lib/rules/camelcase.js
  tools/node_modules/eslint/lib/rules/implicit-arrow-linebreak.js
  tools/node_modules/eslint/lib/rules/indent.js
  tools/node_modules/eslint/lib/rules/no-irregular-whitespace.js
  tools/node_modules/eslint/lib/rules/no-useless-catch.js
  tools/node_modules/eslint/node_modules/ajv/README.md
  tools/node_modules/eslint/node_modules/ajv/dist/ajv.bundle.js
  tools/node_modules/eslint/node_modules/ajv/dist/ajv.min.js
  tools/node_modules/eslint/node_modules/ajv/dist/ajv.min.js.map
  tools/node_modules/eslint/node_modules/ajv/lib/ajv.js
  tools/node_modules/eslint/node_modules/ajv/lib/refs/json-schema-draft-04.json
  tools/node_modules/eslint/node_modules/ajv/package.json
  tools/node_modules/eslint/node_modules/debug/dist/debug.js
  tools/node_modules/eslint/node_modules/debug/package.json
  tools/node_modules/eslint/node_modules/debug/src/common.js
  tools/node_modules/eslint/node_modules/vfile-message/package.json
  tools/node_modules/eslint/package.json
Labels: author ready, tools

#25205 src: fix compiler warnings in node_crypto.cc
  src/node_crypto.cc
Labels: C++, author ready, crypto

#25194 child_process: simplify argument handling
  lib/child_process.js
Labels: child_process

#25241 lib: simplify several debug() calls
  lib/internal/http2/core.js
  lib/internal/modules/esm/create_dynamic_module.js
Labels: author ready, dont-land-on-v6.x, http2

#23099 test: add uv threadpool congestion regression test
  test/internet/test-uv-threadpool-schedule.js
Labels: author ready, dns, libuv, test

#25261 tools: enable no-buffer-constructor lint rule
  lib/.eslintrc.yaml
  test/parallel/test-eslint-buffer-constructor.js
  test/root.status
  tools/eslint-rules/buffer-constructor.js
Labels: author ready, tools

#25195 doc: edit and simplify util.inspect() docs
  doc/api/util.md
Labels: doc, util

#25230 src: fix warning in cares_wrap.cc
  src/cares_wrap.cc
Labels: C++, author ready, cares
