Repository nodejs/node, pull requests merged in 2018-07, with the labels that each got.

#21597 n-api: fix compiler warning
  src/node_api.cc
Labels: C++, dont-land-on-v4.x, n-api

#21699 lib: consolidate redundant require() calls
  lib/_http_outgoing.js
  lib/internal/crypto/random.js
  lib/internal/http2/core.js
  lib/internal/modules/esm/translators.js
Labels: lib / src

#21612 doc: update changelog with 9.x EOL
  CHANGELOG.md
Labels: author ready, doc, meta

#21487 doc: fix http2stream.pushStream error doc
  doc/api/http2.md
Labels: author ready, doc, dont-land-on-v6.x, errors, fast-track, http2, lts-watch-v8.x

#21435 fs: fix fsPromises.lchmod errors on non-Mac
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises.js
Labels: author ready, errors, experimental, fs

#21731 deps: upgrade to libuv 1.22.0
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/MAINTAINERS.md
  deps/uv/Makefile.am
  deps/uv/checksparse.sh
  deps/uv/configure.ac
  deps/uv/docs/src/errors.rst
  deps/uv/docs/src/fs.rst
  deps/uv/include/uv.h
  deps/uv/include/uv/version.h
  deps/uv/include/uv/win.h
  deps/uv/src/fs-poll.c
  deps/uv/src/timer.c
  deps/uv/src/unix/core.c
  deps/uv/src/unix/fsevents.c
  deps/uv/src/unix/internal.h
  deps/uv/src/unix/loop.c
  deps/uv/src/unix/os390-syscalls.c
  deps/uv/src/unix/pipe.c
  deps/uv/src/unix/process.c
  deps/uv/src/unix/signal.c
  deps/uv/src/unix/stream.c
  deps/uv/src/unix/tcp.c
  deps/uv/src/unix/tty.c
  deps/uv/src/unix/udp.c
  deps/uv/src/uv-common.c
  deps/uv/src/uv-common.h
  deps/uv/src/win/async.c
  deps/uv/src/win/core.c
  deps/uv/src/win/fs-event.c
  deps/uv/src/win/handle-inl.h
  deps/uv/src/win/handle.c
  deps/uv/src/win/internal.h
  deps/uv/src/win/loop-watcher.c
  deps/uv/src/win/pipe.c
  deps/uv/src/win/poll.c
  deps/uv/src/win/process-stdio.c
  deps/uv/src/win/process.c
  deps/uv/src/win/signal.c
  deps/uv/src/win/stream.c
  deps/uv/src/win/tcp.c
  deps/uv/src/win/thread.c
  deps/uv/src/win/timer.c
  deps/uv/src/win/tty.c
  deps/uv/src/win/udp.c
  deps/uv/test/test-condvar.c
  deps/uv/test/test-error.c
  deps/uv/test/test-list.h
  deps/uv/test/test-tty.c
  deps/uv/uv.gyp
Labels: fast-track, libuv
