Repository nodejs/node, pull requests merged in 2018-05, with the labels that each got.

#20504 fs: move fs/promises to fs.promises
  benchmark/fs/bench-stat-promise.js
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/default_resolve.js
  lib/internal/process/stdio.js
  node.gyp
  test/parallel/test-fs-filehandle.js
  test/parallel/test-fs-open-flags.js
  test/parallel/test-fs-promises-file-handle-append-file.js
  test/parallel/test-fs-promises-file-handle-chmod.js
  test/parallel/test-fs-promises-file-handle-read.js
  test/parallel/test-fs-promises-file-handle-readFile.js
  test/parallel/test-fs-promises-file-handle-stat.js
  test/parallel/test-fs-promises-file-handle-write.js
  test/parallel/test-fs-promises-file-handle-writeFile.js
  test/parallel/test-fs-promises-readfile.js
  test/parallel/test-fs-promises-writefile.js
  test/parallel/test-fs-promises.js
  test/parallel/test-fs-syncwritestream.js
  test/parallel/test-internal-fs-syncwritestream.js
  test/parallel/test-internal-fs.js
  test/sequential/test-async-wrap-getasyncid.js
Labels: lib / src

#20540 test: use common.canCreateSymLink() consistently
  test/parallel/test-fs-realpath.js
  test/parallel/test-trace-events-fs-sync.js
Labels: test

#20615 doc: add util.types.isBig{Int,Uint}64Array()
  doc/api/util.md
Labels: author ready, doc, fast-track, util

#20585 deps: upgrade to libuv 1.20.3
  deps/uv/AUTHORS
  deps/uv/ChangeLog
  deps/uv/README.md
  deps/uv/configure.ac
  deps/uv/include/uv-version.h
  deps/uv/m4/libuv-check-flags.m4
  deps/uv/src/unix/internal.h
  deps/uv/src/unix/os390-syscalls.c
  deps/uv/src/win/getaddrinfo.c
  deps/uv/src/win/pipe.c
  deps/uv/src/win/util.c
  deps/uv/src/win/winapi.c
  deps/uv/src/win/winapi.h
Labels: author ready, libuv

#20697 stream: simplify Writable.prototype.cork()
  lib/_stream_writable.js
Labels: author ready, fast-track, stream

#20696 stream: simplify writable's validChunk()
  lib/_stream_writable.js
Labels: author ready, fast-track, stream

#20693 assert: support symbols as assertion messages
  lib/internal/assert.js
  test/parallel/test-assert.js
Labels: assert, author ready

#20551 fs: refactor promises version of lchown and lchmod
  lib/internal/fs/promises.js
Labels: experimental, fs, promises

#20559 fs: drop duplicate API in promises mode
  benchmark/fs/bench-stat-promise.js
  doc/api/fs.md
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises.js
Labels: author ready, experimental, fs, promises

#20826 deps: cherry-pick 6989b3f6d7 from V8 upstream
  common.gypi
  deps/v8/src/js/intl.js
  deps/v8/test/intl/assert.js
  deps/v8/test/intl/break-iterator/default-locale.js
  deps/v8/test/intl/break-iterator/wellformed-unsupported-locale.js
  deps/v8/test/intl/collator/default-locale.js
  deps/v8/test/intl/collator/wellformed-unsupported-locale.js
  deps/v8/test/intl/date-format/default-locale.js
  deps/v8/test/intl/date-format/wellformed-unsupported-locale.js
  deps/v8/test/intl/number-format/default-locale.js
  deps/v8/test/intl/number-format/wellformed-unsupported-locale.js
  deps/v8/test/mjsunit/regress/regress-6288.js
Labels: V8 Engine

#20972 Revert "repl: add friendly tips about how to exit repl"
  lib/repl.js
  test/parallel/test-repl.js
Labels: author ready, repl
