Repository nodejs/node, pull requests merged in 2018-04, with the labels that each got.

#19664 inspector: report client-visible host and port
  src/inspector_socket.cc
  src/inspector_socket.h
  src/inspector_socket_server.cc
  src/inspector_socket_server.h
  test/cctest/test_inspector_socket.cc
  test/common/inspector-helper.js
  test/parallel/test-inspector-reported-host.js
  test/sequential/test-inspector.js
Labels: C++, lib / src

#19758 deps: upgrade libuv to 1.20.0
  deps/uv/.mailmap
  deps/uv/AUTHORS
  deps/uv/ChangeLog
  deps/uv/README.md
  deps/uv/checksparse.sh
  deps/uv/configure.ac
  deps/uv/docs/src/fs.rst
  deps/uv/include/uv-unix.h
  deps/uv/include/uv-version.h
  deps/uv/include/uv.h
  deps/uv/src/unix/core.c
  deps/uv/src/unix/fs.c
  deps/uv/src/unix/internal.h
  deps/uv/src/unix/loop.c
  deps/uv/src/unix/posix-poll.c
  deps/uv/src/unix/process.c
  deps/uv/src/unix/stream.c
  deps/uv/src/unix/tcp.c
  deps/uv/src/uv-common.c
  deps/uv/src/uv-common.h
  deps/uv/src/win/core.c
  deps/uv/src/win/fs-event.c
  deps/uv/src/win/fs.c
  deps/uv/src/win/internal.h
  deps/uv/src/win/pipe.c
  deps/uv/src/win/stream-inl.h
  deps/uv/src/win/tcp.c
  deps/uv/src/win/tty.c
  deps/uv/src/win/util.c
  deps/uv/test/test-connect-unspecified.c
  deps/uv/test/test-fs-copyfile.c
  deps/uv/test/test-fs-event.c
  deps/uv/test/test-fs.c
  deps/uv/test/test-list.h
  deps/uv/test/test-poll.c
  deps/uv/test/test-tcp-bind-error.c
  deps/uv/test/test-tcp-oob.c
  deps/uv/test/test-tcp-write-queue-order.c
  deps/uv/uv.gyp
Labels: libuv

#19818 2018-04-05, Version 9.11.1 (Current)
  CHANGELOG.md
  doc/changelogs/CHANGELOG_V9.md
  src/node_version.h
Labels: meta, v9.x

#19471 doc: clarify lifecycle of domain sockets
  doc/api/net.md
Labels: author ready, doc, fast-track, net

#19833 build,windows: make vcbuild fail if upload fails
  vcbuild.bat
Labels: author ready, build, windows

#19887 test: verify inspector help url works
  test/internet/test-inspector-help-page.js
Labels: test
