Repository nodejs/node, pull requests merged in 2018-06, with the labels that each got.

#21070 inspector: code cleanup
  src/inspector_io.cc
  src/inspector_io.h
  src/inspector_socket.cc
  src/inspector_socket.h
  src/inspector_socket_server.cc
  src/inspector_socket_server.h
  test/cctest/test_inspector_socket_server.cc
Labels: C++, inspector, lib / src

#21316 child_process: change windowsHide default to true
  doc/api/child_process.md
  doc/api/cluster.md
  lib/child_process.js
  test/parallel/test-child-process-spawnsync-shell.js
Labels: child_process, semver-major

#21386 deps: cherry-pick 5dd3395 from upstream V8
  common.gypi
  deps/v8/src/log.cc
Labels: V8 Engine, build

#21429 net: validate fds passed to Socket constructor
  lib/net.js
  test/parallel/test-net-socket-constructor.js
Labels: author ready, net

#21428 net: report uv_tcp_open() errors
  lib/net.js
  src/tcp_wrap.cc
Labels: C++, net

#21483 doc: add a missing anchor to error codes
  doc/api/errors.md
Labels: author ready, doc, dont-land-on-v10.x, dont-land-on-v6.x, dont-land-on-v8.x, dont-land-on-v9.x, errors, fast-track

#21485 doc: sort error codes in errors.md
  doc/api/errors.md
Labels: author ready, doc, errors, fast-track

#21498 fs: undeprecate lchown()
  doc/api/deprecations.md
  doc/api/documentation.md
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  src/node_file.cc
  test/parallel/test-fs-lchown.js
  test/parallel/test-fs-null-bytes.js
  test/parallel/test-trace-events-fs-sync.js
Labels: libuv

#21545 src: add null check to GetCategoryGroupEnabled()
  src/node_trace_events.cc
Labels: C++, author ready, lib / src
