Repository nodejs/node, pull requests merged in 2018-10, with the labels that each got.

#23131 cluster: move handle tracking out of utils
  lib/internal/cluster/master.js
  lib/internal/cluster/utils.js
Labels: cluster

#23208 test: mark some flakes
  test/parallel/parallel.status
  test/sequential/sequential.status
Labels: CI / flaky test, fast-track, test

#23001 build: exclude npm test directories on Windows
  tools/msvs/msi/nodemsi.wixproj
  vcbuild.bat
Labels: build, install, npm, semver-major, windows

#23180 build: cleanup in .gitignore
  .gitignore
Labels: meta

#22381 vm: add dynamic import support
  doc/api/errors.md
  doc/api/vm.md
  lib/internal/bootstrap/loaders.js
  lib/internal/errors.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/process/esm_loader.js
  lib/internal/vm/source_text_module.js
  lib/vm.js
  src/env-inl.h
  src/env.h
  src/module_wrap.cc
  src/module_wrap.h
  src/node_contextify.cc
  src/node_contextify.h
  test/es-module/test-esm-dynamic-import.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-vm-module-dynamic-import.js
Labels: ES Modules, lib / src, vm

#23298 src: fix ToObject() usage in node_crypto.cc
  src/node_crypto.cc
Labels: C++, crypto

#23042 streams: refactor ReadableStream asyncIterator creation and a few fixes
  lib/_stream_readable.js
  lib/internal/streams/async_iterator.js
  test/parallel/test-stream-readable-async-iterators.js
Labels: author ready, experimental, stream

#23355 build: restore js2c direct dependency on config.gypi
  node.gyp
Labels: build, fast-track, regression

#23337 src: replace NO_RETURN with [[noreturn]]
  src/node.cc
  src/node_internals.h
  src/util.h
Labels: C++, lib / src

#23317 [WIP] doc,meta: add references to outside C++ guides
  CPP_STYLE_GUIDE.md
Labels: C++, doc, meta

#23292 docs,meta: assign PR semantics
  COLLABORATOR_GUIDE.md
Labels: doc, meta

#23620 test: add test coverage for fs.truncate
  test/parallel/test-fs-truncate.js
Labels: author ready, code-and-learn, fs, test

#23650 doc: cleanup and add references to CPP_STYLE_GUIDE.md
  CPP_STYLE_GUIDE.md
Labels: C++, doc, meta

#23660 src: update v8::Object::GetPropertyNames() usage
  src/node_contextify.cc
Labels: C++, vm

#23636 tls: prevent multiple connection errors
  lib/_tls_wrap.js
Labels: tls

#22079 Linux large pages - after rebase
  configure.py
  node.gyp
  node.gypi
  src/large_pages/ld.implicit.script
  src/large_pages/node_large_page.cc
  src/large_pages/node_large_page.h
  src/node.cc
Labels: C++, build, lib / src, lts-watch-v10.x, python

#23682 deps: add missing ares_android.h file
  deps/cares/src/ares_android.h
Labels: author ready, cares

#23733 build: spawn `make test-ci` with `-j1`
  Makefile
Labels: build

#23676 src: add public wrapper for Environment::GetCurrent
  src/node.cc
  src/node.h
  test/cctest/test_environment.cc
Labels: C++, author ready, embedding, semver-minor

#23644 tls: support changing credentials dynamically
  doc/api/tls.md
  lib/_tls_wrap.js
  test/parallel/test-tls-set-secure-context.js
Labels: semver-minor, tls

#23627 test: add blocks and comments to test cases in test-fs-promises
  test/parallel/test-fs-promises.js
Labels: test

#23830 Update v8.gyp
  deps/v8/gypfiles/inspector.gypi
  deps/v8/gypfiles/v8.gyp
Labels: V8 Engine, build, doc

#23801 deps: fix wrong default for v8 handle zapping
  common.gypi
  deps/v8/gypfiles/features.gypi
  deps/v8/gypfiles/toolchain.gypi
Labels: V8 Engine, author ready

#23691 test: fix test-require-symlink on Windows
  test/parallel/test-require-symlink.js
Labels: fs, test, windows

#23794 lib: trigger uncaught exception handler for microtasks
  doc/api/globals.md
  lib/internal/bootstrap/node.js
  lib/internal/queue_microtask.js
  src/node.cc
  test/parallel/test-queue-microtask.js
Labels: C++, author ready, lib / src

#23804 src: refactor deprecated v8::Function::Call call
  src/node.cc
Labels: C++

#23778 build,meta: bump gcc on travis
  .travis.yml
Labels: build, regression

#23820 tls: deprecate Server.prototype.setOptions()
  doc/api/deprecations.md
  lib/_tls_wrap.js
  test/parallel/test-tls-server-setoptions-clientcertengine.js
Labels: deprecations, semver-major, tls

#23883 doc: update missing deprecation
  doc/api/deprecations.md
  lib/net.js
  test/parallel/test-net-deprecated-setsimultaneousaccepts.js
Labels: author ready, deprecations, fast-track, net

#23822 src,win: informative stack traces
  src/debug_utils.cc
  src/debug_utils.h
Labels: C++, post-mortem, windows

#23953 v8 module: allow TypedArray and DataView
  doc/api/v8.md
  src/node_serdes.cc
  test/parallel/test-v8-serdes.js
Labels: C++, V8 Engine, semver-minor

#23961 build: add -Werror=undefined-inline to clang builds
  node.gypi
Labels: C++, build, lib / src, meta
