Repository nodejs/node, pull requests merged in 2018-09, with the labels that each got.

#22609 os: don't use getCheckedFunction() in userInfo()
  lib/os.js
Labels: author ready, os

#22674 test: fix test-trace-events-dns
  test/internet/test-trace-events-dns.js
Labels: fast-track, test

#22627 build,win: remove unmatched `endlocal` statement
  vcbuild.bat
Labels: author ready, build, fast-track, windows

#22679 doc: add warning to readline's close() method
  doc/api/readline.md
Labels: author ready, doc, readline

#22941 test: mark some tests as flaky
  test/parallel/parallel.status
  test/sequential/sequential.status
Labels: author ready, fast-track, test

#23047 http2: close fd in doSendFileFD()
  lib/internal/http2/core.js
Labels: dont-land-on-v6.x, http2

#23014 src: refactor crypto code with RAII cleanup
  src/node_crypto_clienthello.cc
Labels: C++, author ready, crypto

#23016 lib: Improve readability of help text in `node --help`
  lib/internal/print_help.js
Labels: cli
