Repository nodejs/node, pull requests merged in 2019-05, with the labels that each got.

#27500 test: allow EAI_FAIL in test-http-dns-error.js
  test/parallel/test-http-dns-error.js
Labels: test

#27504 build: opt-in to delegate building from Makefile to ninja
  Makefile
  configure.py
Labels: build

#27507 test: document NODE_COMMON_PORT env var
  test/common/README.md
Labels: author ready, test

#27498 doc: doc deprecate the legacy http parser
  doc/api/deprecations.md
Labels: deprecations, doc, http, http_parser

#27627 module: add missing space in error message
  lib/internal/modules/cjs/loader.js
  test/parallel/test-module-create-require.js
Labels: author ready, module

#27634 module: fix createRequireFromPath() slash logic
  lib/internal/modules/cjs/loader.js
Labels: author ready, module

#27647 tools: allow RegExp in required-modules eslint rule
  test/.eslintrc.yaml
  test/parallel/test-eslint-required-modules.js
  tools/eslint-rules/required-modules.js
Labels: author ready, tools

#27680 tools: DRY isRequireCall() in lint rules
  tools/eslint-rules/no-duplicate-requires.js
  tools/eslint-rules/require-common-first.js
  tools/eslint-rules/required-modules.js
  tools/eslint-rules/rules-utils.js
Labels: author ready, tools

#27691 console: don't attach unnecessary error handlers
  lib/internal/console/constructor.js
  test/parallel/test-worker-console-listeners.js
Labels: author ready, console

#27246 src: enable V8's WASM trap handlers
  src/inspector_agent.cc
  src/node.cc
  src/node.h
  src/node_internals.h
  src/node_watchdog.cc
  src/node_watchdog.h
Labels: C++, V8 Engine, author ready, semver-major, wasm

#25518 tools: refactor js2c.py for maximal python3 compat
  node.gyp
  tools/js2c.py
Labels: build, python

#27696 child_process: setup stdio on error when possible
  lib/internal/child_process.js
  test/parallel/test-child-process-spawn-error.js
  test/sequential/test-child-process-emfile.js
Labels: child_process

#27718 deps: upgrade to libuv 1.29.1
  deps/uv/.mailmap
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/Makefile.am
  deps/uv/README.md
  deps/uv/configure.ac
  deps/uv/docs/src/async.rst
  deps/uv/docs/src/fs.rst
  deps/uv/docs/src/misc.rst
  deps/uv/docs/src/sphinx-plugins/manpage.py
  deps/uv/include/uv.h
  deps/uv/include/uv/unix.h
  deps/uv/include/uv/version.h
  deps/uv/src/fs-poll.c
  deps/uv/src/unix/aix.c
  deps/uv/src/unix/async.c
  deps/uv/src/unix/core.c
  deps/uv/src/unix/darwin.c
  deps/uv/src/unix/freebsd.c
  deps/uv/src/unix/fs.c
  deps/uv/src/unix/fsevents.c
  deps/uv/src/unix/ibmi.c
  deps/uv/src/unix/internal.h
  deps/uv/src/unix/kqueue.c
  deps/uv/src/unix/linux-core.c
  deps/uv/src/unix/linux-syscalls.c
  deps/uv/src/unix/netbsd.c
  deps/uv/src/unix/openbsd.c
  deps/uv/src/unix/os390.c
  deps/uv/src/unix/process.c
  deps/uv/src/unix/sunos.c
  deps/uv/src/win/util.c
  deps/uv/test/test-fs-poll.c
  deps/uv/test/test-fs.c
  deps/uv/test/test-get-memory.c
  deps/uv/test/test-list.h
  deps/uv/test/test-spawn.c
  deps/uv/uv.gyp
Labels: libuv

#23926 take ownership of prepareStackTrace for upstream v8 changes
  lib/internal/bootstrap/node.js
  lib/internal/errors.js
  src/api/environment.cc
  src/env.h
  src/node_binding.cc
  src/node_errors.cc
  test/parallel/test-bootstrap-modules.js
Labels: author ready, errors, lib / src

#27809 esm: refactor createDynamicModule()
  lib/internal/modules/esm/create_dynamic_module.js
Labels: ES Modules, author ready, experimental

#27736 build,win: create junction instead of symlink to `out\%config%`
  vcbuild.bat
Labels: build, windows

#27828 test: detect missing postmortem metadata
  test/v8-updates/test-postmortem-metadata.js
Labels: test

#27768 lib: rework logic of stripping BOM+Shebang from commonjs
  lib/internal/bootstrap/pre_execution.js
  lib/internal/main/check_syntax.js
  lib/internal/main/run_main_module.js
  lib/internal/modules/cjs/helpers.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/process/execution.js
  lib/internal/util/inspector.js
  lib/module.js
  lib/repl.js
  test/fixtures/utf8-bom-shebang.js
  test/fixtures/utf8-shebang-bom.js
  test/sequential/test-module-loading.js
Labels: author ready, module, semver-major

#27888 test: switch actual value argument and expected in deepStrictEqual call
  test/parallel/test-http-upgrade-client.js
Labels: author ready, code-and-learn, fast-track, test

#27905 test: add a test case for the path.posix.resolve
  test/parallel/test-path-resolve.js
Labels: author ready, code-and-learn, fast-track, test

#27908 test: unhardcode server port
  test/parallel/test-http-server-delete-parser.js
Labels: author ready, code-and-learn, fast-track, http, test

#27854 child_process: simplify spawn argument parsing
  lib/child_process.js
  lib/internal/child_process.js
  test/parallel/test-child-process-spawnsync-kill-signal.js
  test/parallel/test-child-process-spawnsync-shell.js
  test/parallel/test-child-process-windows-hide.js
Labels: child_process, semver-major

#27907 test: fix arguments order of comparsion functions
  test/parallel/test-http2-origin.js
Labels: author ready, code-and-learn, fast-track, test

#27912 test: switch assertEqual arguments
  test/fixtures/GH-892-request.js
Labels: author ready, code-and-learn, test

#27877 src: make UNREACHABLE variadic
  src/util.h
Labels: C++, lib / src

#27948 doc: add missing --experimental-wasm-modules docs
  doc/api/cli.md
  doc/node.1
Labels: author ready

#27949 doc: move DEP0129 to a runtime deprecation
  doc/api/deprecations.md
  lib/internal/child_process.js
Labels: child_process, deprecations, semver-major
