Repository nodejs/node, pull requests merged in 2019-11, with the labels that each got.

#30119 build: fix detection of Visual Studio 2017
  vcbuild.bat
Labels: author ready, build, windows

#30214 tools: make doctool work if no internet available
  test/doctool/test-doctool-versions.js
  tools/doc/versions.js
Labels: author ready, doc, tools

#30329 doc,meta: remove wait period for npm pull requests
  doc/guides/maintaining-npm.md
Labels: author ready, npm

#30330 doc,meta: allow Travis results for doc/comment changes
  COLLABORATOR_GUIDE.md
Labels: author ready, doc

#30365 doc: remove "maintenance is supported by" text in BUILDING.md
  BUILDING.md
Labels: author ready, build, doc

#30549 src: fix -Winconsistent-missing-override warning
  src/node_api.cc
Labels: C++, author ready, fast-track, n-api

#30604 doc: document "Resume Build" limitation
  COLLABORATOR_GUIDE.md
Labels: author ready, doc

#30608 test: test for minimum ICU version consistency
  test/parallel/test-icu-minimum-version.js
Labels: author ready, intl, test

#30618 test: use useful message argument in test function
  test/sequential/test-inspector-async-call-stack.js
Labels: author ready, test

#30629 test: skip test-domain-error-types in debug mode temporariliy
  test/parallel/parallel.status
Labels: author ready, test

#30672 doc: update AUTHORS list
  AUTHORS
Labels: fast-track, meta

#30649 test: add mustCall() to test-inspector-contexts
  test/sequential/test-inspector-contexts.js
Labels: author ready, test

#30669 child_process: document kill() return value
  doc/api/child_process.md
Labels: author ready, child_process, doc

#30705 test: increase coverage for trace_events.js
  test/parallel/test-util-inspect.js
Labels: author ready, test
