Repository nodejs/node, pull requests merged in 2019-08, with the labels that each got.

#28911 report: include network interfaces in report
  doc/api/report.md
  src/node_report.cc
  test/common/report.js
Labels: C++, author ready, report, semver-minor

#28929 test: refactor test-fs-stat.js
  test/parallel/test-fs-stat.js
Labels: author ready, fs, test

#28956 util: improve debuglog performance
  lib/internal/util/debuglog.js
Labels: performance, util

#28989 stream: improve read() performance more
  lib/internal/streams/buffer_list.js
Labels: performance, stream

#29070 deps: upgrade to libuv 1.31.0
  deps/uv/.gitignore
  deps/uv/.mailmap
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/Makefile.am
  deps/uv/README.md
  deps/uv/configure.ac
  deps/uv/docs/src/fs.rst
  deps/uv/docs/src/misc.rst
  deps/uv/include/uv.h
  deps/uv/include/uv/unix.h
  deps/uv/include/uv/version.h
  deps/uv/include/uv/win.h
  deps/uv/src/unix/core.c
  deps/uv/src/unix/darwin-proctitle.c
  deps/uv/src/unix/fs.c
  deps/uv/src/unix/openbsd.c
  deps/uv/src/unix/proctitle.c
  deps/uv/src/unix/stream.c
  deps/uv/src/uv-common.c
  deps/uv/src/win/fs-fd-hash-inl.h
  deps/uv/src/win/fs.c
  deps/uv/src/win/process.c
  deps/uv/src/win/tty.c
  deps/uv/src/win/util.c
  deps/uv/src/win/winapi.c
  deps/uv/src/win/winapi.h
  deps/uv/test/runner-win.c
  deps/uv/test/task.h
  deps/uv/test/test-env-vars.c
  deps/uv/test/test-fs-fd-hash.c
  deps/uv/test/test-fs-open-flags.c
  deps/uv/test/test-fs.c
  deps/uv/test/test-ipc.c
  deps/uv/test/test-list.h
  deps/uv/test/test-pipe-getsockname.c
  deps/uv/test/test-process-title-threadsafe.c
  deps/uv/test/test-queue-foreach-delete.c
  deps/uv/test/test-spawn.c
  deps/uv/test/test-tmpdir.c
  deps/uv/test/test.gyp
Labels: author ready, libuv

#28963 report: list envvars using uv_os_environ()
  src/node_report.cc
Labels: report

#29149 readline: support closing dumb terminals
  lib/readline.js
  test/pseudo-tty/repl-dumb-tty.js
Labels: author ready, readline

#29183 doc: add missing deprecation number
  doc/api/deprecations.md
Labels: author ready, deprecations, doc

#29184 lib: rename validateSafeInteger to validateInteger
  lib/fs.js
  lib/internal/crypto/scrypt.js
  lib/internal/fs/promises.js
  lib/internal/validators.js
  test/parallel/test-validators.js
Labels: author ready, crypto, fs

#29185 fs: validate writev fds consistently
  lib/fs.js
Labels: author ready, fs

#25436 net: allow reading data into a static buffer
  benchmark/net/net-s2c.js
  doc/api/net.md
  lib/internal/stream_base_commons.js
  lib/net.js
  src/stream_base.cc
  src/stream_base.h
  test/parallel/test-net-onread-static-buffer.js
Labels: C++, lib / src, net, performance, semver-minor

#29303 doc,errors: add extends to derived classes
  doc/api/assert.md
  doc/api/errors.md
  tools/doc/type-parser.js
Labels: author ready, doc, tools

#29302 doc,crypto: add extends for derived classes
  doc/api/crypto.md
  tools/doc/type-parser.js
Labels: author ready, crypto, doc

#29337 stream: improve read() performance
  lib/internal/streams/buffer_list.js
Labels: author ready, performance, stream
