Repository nodejs/node, pull requests merged in 2019-01, with the labels that each got.

#25277 test: remove unnecessary test flags
  test/parallel/test-buffer-of-no-deprecation.js
  test/parallel/test-util-inspect.js
  test/parallel/test-v8-deserialize-buffer.js
  test/parallel/test-v8-serdes.js
Labels: author ready, test

#25276 doc: simplify DEP0119 wording
  doc/api/deprecations.md
Labels: author ready, deprecations, doc

#25279 lib: move DEP0006 to end of life
  doc/api/deprecations.md
  lib/child_process.js
  test/parallel/test-child-process-custom-fds.js
Labels: child_process, semver-major

#25280 lib: move DEP0023 to end of life
  doc/api/deprecations.md
  lib/os.js
Labels: author ready, os, semver-major

#25360 test: clean up wasm fixtures
  test/fixtures/shared-memory.wasm
  test/fixtures/shared-memory.wat
  test/fixtures/simple.wasm
  test/fixtures/simple.wat
  test/fixtures/test.wasm
  test/fixtures/test.wat
  test/fixtures/wasm-threads-shared-memory.wasm
  test/fixtures/wasm-threads-shared-memory.wat
  test/parallel/test-util-types.js
  test/parallel/test-v8-serdes.js
  test/parallel/test-wasm-simple.js
  test/parallel/test-worker-message-port-wasm-module.js
  test/parallel/test-worker-message-port-wasm-threads.js
Labels: author ready, test, wasm

#25434 doc: fix deprecations metadata
  doc/api/deprecations.md
Labels: author ready, deprecations, doc, fast-track

#25418 test: fix module loading error for AIX 7.1
  test/parallel/test-module-loading-error.js
Labels: aix, author ready, test

#25395 tools: lint for use of internalBinding()
  test/parallel/test-eslint-crypto-check.js
  tools/eslint-rules/rules-utils.js
Labels: tools

#25481 src: remove unused variable
  src/node_native_module.cc
Labels: C++

#25526 process: allow reading umask in workers
  doc/api/errors.md
  doc/api/process.md
  lib/internal/bootstrap/node.js
  lib/internal/errors.js
  lib/internal/process/worker_thread_only.js
  src/node_process_methods.cc
  test/common/index.js
  test/parallel/test-fs-write-file-sync.js
  test/parallel/test-process-umask-mask.js
  test/parallel/test-process-umask.js
Labels: C++, errors, process, semver-major

#25415 test: relax chunk count expectations
  test/parallel/test-fs-read-stream-concurrent-reads.js
Labels: test

#25566 http: reuse noop function in socketOnError()
  lib/_http_server.js
Labels: http

#25639 build: do not lint python scripts under test/fixtures
  Makefile
Labels: build, fast-track

#25600 os: implement os.release() using uv_os_uname()
  src/node_os.cc
Labels: author ready, os

#25611 test: revoke flaky designation for tests
  test/parallel/parallel.status
  test/sequential/sequential.status
Labels: test

#25523 build: remove AIX/ppc (32bit) dead code
  common.gypi
  node.gyp
Labels: aix, build

#25640 src: stop using v8::Function in node_os.cc
  src/node_os.cc
Labels: C++, os

#25659 os: implement os.type() using uv_os_uname()
  src/node_os.cc
Labels: C++, author ready, os, semver-major

#25083 test: exit sequence sanity tests
  test/parallel/test-worker-cleanexit-with-moduleload.js
Labels: author ready, test

#25754 test: refactor test/common/report.js
  test/common/report.js
Labels: test

#25749 lib: refactor ERR_SYNTHETIC
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/process/report.js
Labels: errors, process

#25755 report: split up osVersion and machine values
  src/node_report.cc
Labels: C++

#25744 process: simplify report uncaught exception logic
  lib/internal/process/execution.js
Labels: process

#25596 src: mitigate MSVC dynamic initialization bug
  src/node_options.cc
Labels: C++, windows
