Repository nodejs/node, pull requests merged in 2019-02, with the labels that each got.

#25826 report: separate release metadata
  doc/api/report.md
  src/node_report.cc
  test/common/report.js
Labels: C++, report

#25855 doc: fix machine field in example report
  doc/api/report.md
Labels: author ready, doc, fast-track, report

#25900 report: use libuv calls for OS and machine info
  doc/api/report.md
  node.gyp
  src/node_report.cc
Labels: C++, report

#25910 report: print libuv handle addresses as hex
  doc/api/report.md
  src/node_report.h
  src/node_report_utils.cc
Labels: C++, report

#21209 child_process: close pipe ends that are re-piped
  lib/internal/child_process.js
  test/parallel/test-child-process-pipe-dataflow.js
Labels: child_process

#25873 fix a few minor issues flagged by lgtm
  lib/internal/http2/core.js
  tools/cpplint.py
Labels: V8 Engine, dont-land-on-v6.x, http2, tools

#25085 test: exit sequence sanity tests [2]
  test/parallel/test-worker-cleanexit-with-js.js
Labels: blocked, test

#25945 src: make watchdog async callback a lambda
  src/node_watchdog.cc
  src/node_watchdog.h
Labels: C++

#25960 Misc cleanup of node_report_utils.cc
  src/node_report_utils.cc
Labels: C++, author ready, report

#25962 report: use uv_getnameinfo() for socket endpoints
  src/node_report_utils.cc
Labels: C++, author ready, report

#25983 doc: edit process.report related documentation
  doc/api/process.md
Labels: author ready, doc, process, report

#25986 test: remove extraneous report validation argument
  test/node-report/test-api-getreport.js
  test/node-report/test-api-nohooks.js
  test/node-report/test-api-pass-error.js
  test/node-report/test-api-uvhandles.js
  test/node-report/test-api.js
  test/node-report/test-exception.js
  test/node-report/test-fatal-error.js
  test/node-report/test-signal.js
Labels: report, test

#25990 report: refactor and rename setDiagnosticReportOptions()
  doc/api/process.md
  doc/api/report.md
  lib/internal/process/report.js
Labels: process, report

#26007 test: capture stderr from child processes
  test/parallel/test-child-process-pipe-dataflow.js
Labels: test

#26037 deps: upgrade to libuv 1.26.0
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/Makefile.am
  deps/uv/configure.ac
  deps/uv/docs/src/misc.rst
  deps/uv/docs/src/threading.rst
  deps/uv/include/uv.h
  deps/uv/include/uv/unix.h
  deps/uv/include/uv/version.h
  deps/uv/src/unix/aix.c
  deps/uv/src/unix/core.c
  deps/uv/src/unix/kqueue.c
  deps/uv/src/unix/linux-core.c
  deps/uv/src/unix/os390.c
  deps/uv/src/unix/pipe.c
  deps/uv/src/unix/posix-poll.c
  deps/uv/src/unix/sunos.c
  deps/uv/src/unix/tcp.c
  deps/uv/src/unix/thread.c
  deps/uv/src/win/thread.c
  deps/uv/src/win/tty.c
  deps/uv/src/win/util.c
  deps/uv/test/test-gethostname.c
  deps/uv/test/test-list.h
  deps/uv/test/test-thread.c
  deps/uv/test/test-tty-duplicate-key.c
  deps/uv/test/test.gyp
Labels: author ready, libuv

#26038 os,report: use UV_MAXHOSTNAMESIZE
  src/node_os.cc
  src/node_report.cc
Labels: os, report

#26052 src: use more stable cast where possible
  src/tracing/node_trace_buffer.cc
Labels: C++, author ready

#26101 test: add arg to narrow http benchmark test
  test/benchmark/test-benchmark-http.js
Labels: CI / flaky test, benchmark, fast-track, test

#26056 fs, src, lib: fix `blksize` & `blocks` on Windows
  doc/api/fs.md
  lib/internal/fs/utils.js
  src/node_file.h
  test/parallel/test-fs-stat-bigint.js
  test/parallel/test-fs-stat.js
  test/parallel/test-fs-watchfile-bigint.js
  test/parallel/test-fs-watchfile.js
Labels: C++, author ready, fs

#26104 worker: remove duplicate call
  src/node_worker.cc
Labels: C++, worker

#26114 doc: fix changelog entry
  doc/changelogs/CHANGELOG_V11.md
Labels: doc, fast-track

#26116 test: increase coverage of node_report_module.cc
  test/node-report/test-api-trigger-with-filename.js
  test/node-report/test-api-trigger-with-options.js
  test/node-report/test-diagnostic-report-verbose.js
Labels: report, test

#26189 "on push" runs three Actions
  .github/main.workflow
Labels: meta

#26119 benchmark,test: refactoring
  benchmark/http/create-clientrequest.js
  benchmark/http/headers.js
  benchmark/http/incoming_headers.js
  test/benchmark/test-benchmark-http.js
Labels: benchmark, http, test

#26169 test: simplify test-api-getreport.js
  test/node-report/test-api-getreport.js
Labels: report, test

#26174 report: simplify TriggerNodeReport()
  src/node_report.cc
Labels: C++, report

#26190 tools: update ESLint to 5.14.1
  tools/node_modules/eslint/lib/rules/sort-keys.js
  tools/node_modules/eslint/package.json
Labels: author ready, tools

#26191 report: simplify OnFatalError() handling
  src/node_errors.cc
Labels: C++, author ready, report

#26195 report: remove verbose setting
  doc/api/cli.md
  doc/api/process.md
  doc/api/report.md
  doc/node.1
  lib/internal/process/report.js
  src/node_options.cc
  src/node_options.h
  src/node_report_module.cc
  test/node-report/test-diagnostic-report-verbose.js
Labels: C++, author ready, process, report

#26184 src: Make `node::SignalWrap::OnSignal` into a lambda
  src/signal_wrap.cc
Labels: C++, process

#26220 build: tidy up comments in `create_expfile.sh`
  tools/create_expfile.sh
Labels: author ready, tools

#26215 timers: support name in validateTimerDuration()
  lib/_http_client.js
  lib/internal/stream_base_commons.js
  lib/internal/timers.js
  lib/timers.js
Labels: author ready, http, timers

#26217 test: simplify test-api-nohooks.js
  test/node-report/test-api-nohooks.js
Labels: author ready, report, test

#26219 test: remove node-report/test-api.js
  test/node-report/test-api.js
Labels: author ready, report, test

#26259 doc: clarify http.ClientRequest path description
  doc/api/http.md
Labels: doc, http

#26277 test: simplify node-report/test-exception.js
  test/node-report/test-exception.js
Labels: test

#26285 report: simplify heap space iteration
  src/node_report.cc
Labels: C++, report

#26286 report: use ru_stime for system CPU calculation
  src/node_report.cc
Labels: C++, report

#26161 src: track memory retainer fields
  src/memory_tracker-inl.h
  src/memory_tracker.h
Labels: C++

#26298 test: eliminate port collision in test-cluster-net-listen-ipv6only-rr
  test/sequential/test-cluster-net-listen-ipv6only-rr.js
Labels: test

#26265 report: fix build warning in node_report.cc
  src/node_report.cc
Labels: C++, author ready, report
