Repository nodejs/node, pull requests merged in 2019-03, with the labels that each got.

#26368 doc,test,repl: fix deprecation code
  doc/api/deprecations.md
  lib/repl.js
  test/parallel/test-repl-options.js
Labels: author ready, deprecations, fast-track, repl

#26289 test: improve validation of report output
  test/common/report.js
Labels: report, test

#26303 tools: roll inspector_protocol to f67ec5
  src/inspector/node_inspector.gypi
  src/inspector/node_string.cc
  src/inspector/node_string.h
  src/inspector_agent.cc
  tools/inspector_protocol/README.node
  tools/inspector_protocol/check_protocol_compatibility.py
  tools/inspector_protocol/code_generator.py
  tools/inspector_protocol/concatenate_protocols.py
  tools/inspector_protocol/convert_protocol_to_json.py
  tools/inspector_protocol/lib/Allocator_h.template
  tools/inspector_protocol/lib/Array_h.template
  tools/inspector_protocol/lib/CBOR_cpp.template
  tools/inspector_protocol/lib/CBOR_h.template
  tools/inspector_protocol/lib/DispatcherBase_cpp.template
  tools/inspector_protocol/lib/DispatcherBase_h.template
  tools/inspector_protocol/lib/ErrorSupport_cpp.template
  tools/inspector_protocol/lib/ErrorSupport_h.template
  tools/inspector_protocol/lib/Forward_h.template
  tools/inspector_protocol/lib/FrontendChannel_h.template
  tools/inspector_protocol/lib/Maybe_h.template
  tools/inspector_protocol/lib/Object_cpp.template
  tools/inspector_protocol/lib/Object_h.template
  tools/inspector_protocol/lib/Parser_cpp.template
  tools/inspector_protocol/lib/Parser_h.template
  tools/inspector_protocol/lib/Protocol_cpp.template
  tools/inspector_protocol/lib/ValueConversions_h.template
  tools/inspector_protocol/lib/Values_cpp.template
  tools/inspector_protocol/lib/Values_h.template
  tools/inspector_protocol/lib/base_string_adapter_cc.template
  tools/inspector_protocol/lib/base_string_adapter_h.template
  tools/inspector_protocol/pdl.py
  tools/inspector_protocol/templates/Exported_h.template
  tools/inspector_protocol/templates/Imported_h.template
  tools/inspector_protocol/templates/TypeBuilder_cpp.template
  tools/inspector_protocol/templates/TypeBuilder_h.template
Labels: C++, lib / src

#26406 report: support RUSAGE_SELF stats on Windows
  src/node_report.cc
  test/common/report.js
Labels: C++, report

#26405 build,deps: less warnings from V8
  deps/v8/gypfiles/toolchain.gypi
Labels: V8 Engine, build, gyp

#26380 src: fix build when NODE_USE_V8_PLATFORM is not defined
  src/node_v8_platform-inl.h
Labels: C++, V8 Engine, author ready

#26434 test: relax timer check in test-report-uv-handles.js
  test/report/test-report-uv-handles.js
Labels: author ready, test

#26453 test: fix tests so they work in worker threads
  test/parallel/test-cli-eval.js
  test/parallel/test-cli-node-options-disallowed.js
  test/parallel/test-cli-node-options.js
  test/parallel/test-preload-print-process-argv.js
  test/parallel/test-preload.js
  test/parallel/test-tick-processor-arguments.js
  test/parallel/test-trace-events-environment.js
  test/parallel/test-worker-prof.js
Labels: author ready, test

#26446 test: refactor test/report/test-report-signal.js
  test/report/test-report-signal.js
Labels: test

#26358 Revert "build: silence cpp lint by default"
  Makefile
Labels: build

#26471 src: cleanup in all return paths in node::Start
  src/node.cc
Labels: C++

#25594 lib: move queueMicrotask to stable
  doc/api/globals.md
  lib/internal/bootstrap/node.js
  test/common/index.js
  test/parallel/test-global.js
Labels: author ready, experimental, semver-minor

#26520 test: bump test-bootstrap-modules.js limit
  test/parallel/test-bootstrap-modules.js
Labels: author ready, fast-track, test

#26473 test: de-flake test-dns-idna2008.js
  test/internet/test-dns-idna2008.js
Labels: dns, test

#26470 various cpp improvement in src folder
  src/node_api.cc
  src/node_crypto_bio.cc
  src/node_file.cc
Labels: C++, author ready, lib / src

#26557 test: mark `test-worker-prof` as Flaky on ARM
  test/parallel/parallel.status
Labels: CI / flaky test, author ready, fast-track, test

#22140 tools: update to mdast-util-to-hast v3.0.2
  tools/doc/html.js
  tools/doc/package-lock.json
  tools/doc/package.json
Labels: author ready, doc, tools

#26495 doc: document fake ENOTFOUND as a system error
  doc/api/errors.md
  lib/internal/errors.js
Labels: author ready, errors

#26524 test: cover triggerReport() failure case
  test/report/test-report-triggerreport.js
Labels: author ready, test

#26527 report: rename triggerReport() to writeReport()
  doc/api/process.md
  doc/api/report.md
  lib/internal/process/execution.js
  lib/internal/process/report.js
  src/node_report.h
  src/node_report_module.cc
  test/report/test-report-writereport.js
Labels: C++, author ready, process, report

#26447 tools: update ESLint to 5.15.1
  tools/node_modules/eslint/lib/rules/no-warning-comments.js
  tools/node_modules/eslint/node_modules/ajv/README.md
  tools/node_modules/eslint/node_modules/ajv/dist/ajv.bundle.js
  tools/node_modules/eslint/node_modules/ajv/dist/ajv.min.js
  tools/node_modules/eslint/node_modules/ajv/dist/ajv.min.js.map
  tools/node_modules/eslint/node_modules/ajv/lib/ajv.d.ts
  tools/node_modules/eslint/node_modules/ajv/lib/ajv.js
  tools/node_modules/eslint/node_modules/ajv/lib/compile/rules.js
  tools/node_modules/eslint/node_modules/ajv/lib/compile/util.js
  tools/node_modules/eslint/node_modules/ajv/lib/dot/defaults.def
  tools/node_modules/eslint/node_modules/ajv/lib/dot/validate.jst
  tools/node_modules/eslint/node_modules/ajv/lib/dotjs/validate.js
  tools/node_modules/eslint/node_modules/ajv/package.json
  tools/node_modules/eslint/node_modules/inquirer/node_modules/ansi-regex/index.js
  tools/node_modules/eslint/node_modules/inquirer/node_modules/ansi-regex/package.json
  tools/node_modules/eslint/node_modules/inquirer/node_modules/ansi-regex/readme.md
  tools/node_modules/eslint/node_modules/inquirer/node_modules/strip-ansi/package.json
  tools/node_modules/eslint/node_modules/inquirer/node_modules/strip-ansi/readme.md
  tools/node_modules/eslint/node_modules/table/node_modules/ansi-regex/index.js
  tools/node_modules/eslint/node_modules/table/node_modules/ansi-regex/package.json
  tools/node_modules/eslint/node_modules/table/node_modules/ansi-regex/readme.md
  tools/node_modules/eslint/node_modules/table/node_modules/string-width/package.json
  tools/node_modules/eslint/node_modules/table/node_modules/string-width/readme.md
  tools/node_modules/eslint/node_modules/table/node_modules/strip-ansi/package.json
  tools/node_modules/eslint/node_modules/table/node_modules/strip-ansi/readme.md
  tools/node_modules/eslint/package.json
Labels: author ready, tools

#26600 test: mark test-worker-prof as flake on all platforms
  test/parallel/parallel.status
Labels: CI / flaky test, fast-track, test

#26319 crypto: fix EdDSA support for KeyObject
  doc/api/crypto.md
  src/env.h
  src/node_crypto.cc
  test/fixtures/test_ed25519_privkey.pem
  test/fixtures/test_ed25519_pubkey.pem
  test/fixtures/test_ed448_privkey.pem
  test/fixtures/test_ed448_pubkey.pem
  test/parallel/test-crypto-key-objects.js
Labels: C++, crypto, lts-watch-v10.x

#26570 test: fix syntax error in test-dns-idna2008.js when failing
  test/internet/test-dns-idna2008.js
Labels: CI / flaky test, dns, test

#26531 test: whitelist the expected modules in test-bootstrap-modules.js
  test/parallel/test-bootstrap-modules.js
Labels: author ready, test

#21283 shutdown node in-flight
  src/api/callback.cc
  src/api/environment.cc
  src/env-inl.h
  src/env.cc
  src/env.h
  src/module_wrap.cc
  src/node.cc
  src/node.h
  src/node_contextify.cc
  src/node_worker.cc
  src/node_worker.h
Labels: C++, author ready, embedding, semver-minor

#26666 build,deps,v8: loose ends
  deps/v8/gypfiles/inspector.gypi
  deps/v8/gypfiles/v8.gyp
  deps/v8/gypfiles/v8_external_snapshot.gypi
Labels: V8 Engine, build, dont-land-on-v10.x, dont-land-on-v11.x, dont-land-on-v6.x, dont-land-on-v8.x

#26702 deps: V8: cherry-pick 385aa80
  common.gypi
  deps/v8/AUTHORS
  deps/v8/src/compiler/backend/gap-resolver.cc
Labels: V8 Engine, build, fast-track, regression

#26697 report: tidy up included headers
  src/node_report.cc
Labels: C++, author ready, report

#24787 child_process: ensure message sanity at send source
  lib/internal/child_process.js
  test/parallel/test-child-process-fork.js
Labels: child_process

#26735 src,win: fix usage of deprecated v8::Object::Set
  src/api/exceptions.cc
Labels: C++, fast-track

#26740 build,meta: quiet/pretty make output by default
  Makefile
Labels: author ready, build, meta, semver-major

#26719 build: update configure for Node.js 12
  configure.py
Labels: author ready, build, dont-land-on-v10.x, dont-land-on-v11.x, dont-land-on-v6.x, dont-land-on-v8.x

#26812 src: apply clang-tidy performance-faster-string-find
  src/inspector_socket.cc
  src/node_report.cc
Labels: C++, inspector, report

#26813 src: apply clang-tidy readability-delete-null-pointer
  src/js_native_api_v8.cc
Labels: C++, author ready

#26746 tools: update ESLint to 5.15.3
  tools/node_modules/eslint/lib/rules/implicit-arrow-linebreak.js
  tools/node_modules/eslint/node_modules/inquirer/node_modules/strip-ansi/index.js
  tools/node_modules/eslint/node_modules/inquirer/node_modules/strip-ansi/package.json
  tools/node_modules/eslint/node_modules/inquirer/node_modules/strip-ansi/readme.md
  tools/node_modules/eslint/node_modules/table/node_modules/strip-ansi/index.js
  tools/node_modules/eslint/node_modules/table/node_modules/strip-ansi/package.json
  tools/node_modules/eslint/node_modules/table/node_modules/strip-ansi/readme.md
  tools/node_modules/eslint/package.json
Labels: tools

#26866 process: load internal/async_hooks before inspector hooks registration
  lib/internal/async_hooks.js
  lib/internal/bootstrap/node.js
Labels: async_hooks, fast-track, inspector, process

#26879 src: remove unused variable
  src/js_native_api_v8.cc
Labels: C++, fast-track

#26608 test: strengthen test-worker-prof
  test/parallel/test-worker-prof.js
Labels: test

#26615 tools: enable getter-return lint rule
  .eslintrc.js
  lib/internal/http2/compat.js
  lib/net.js
  test/parallel/test-util-inspect.js
Labels: author ready, dont-land-on-v6.x, http2, net, tools

#26883 src: add include guard for trace_event_common.h
  src/tracing/trace_event_common.h
Labels: C++

#26424 tools: windows_boxstarter: "choco install python -y" for Python 3
  tools/bootstrap/README.md
  tools/bootstrap/windows_boxstarter
Labels: author ready, python, tools, windows

#26611 crypto: add crypto.sign() and crypto.verify()
  doc/api/crypto.md
  lib/crypto.js
  lib/internal/crypto/sig.js
  src/node_crypto.cc
  test/parallel/test-crypto-sign-verify.js
Labels: C++, crypto, dont-land-on-v10.x, dont-land-on-v11.x, semver-minor

#26944 doc: add note about mkdtemp() platform differences
  doc/api/fs.md
Labels: author ready, doc, fs

#26967 src: check uv_fs_close() return value
  src/module_wrap.cc
Labels: C++, author ready

#27017 build,win: silence MSVC warning C4129 for V8
  tools/v8_gypfiles/toolchain.gypi
Labels: V8 Engine, author ready, build, fast-track, tools

#26982 child_process: doc deprecate ChildProcess._channel
  doc/api/deprecations.md
Labels: author ready, child_process, deprecations, doc
