Repository nodejs/node, pull requests merged in 2019-06, with the labels that each got.

#27773 build,aix: skip ld missing symbols warning
  node.gyp
Labels: aix, build

#27983 http2: respect inspect() depth
  lib/internal/http2/core.js
Labels: author ready, http2

#27242 test: fs promises, fixes comment, simplifies test
  test/parallel/test-fs-promises.js
Labels: author ready, test

#27194 stream: convert string to Buffer when calling `unshift(<string>)`
  doc/api/errors.md
  doc/api/stream.md
  lib/_stream_readable.js
  test/parallel/test-stream-readable-unshift.js
Labels: author ready, semver-minor, stream

#27995 test: finish code coverage for lib/internal/worker.js
  test/parallel/test-worker-message-not-serializable.js
  test/parallel/test-worker-message-type-unknown.js
Labels: author ready, test, worker

#27954 build,meta: rearrange and narrow git ignore rules
  .gitignore
Labels: build, tools

#28037 trace_events: respect inspect() depth
  lib/trace_events.js
  test/parallel/test-util-inspect.js
Labels: author ready, trace_events, util

#27364 test: skip less scenarios for test-linux-perf.js
  test/fixtures/linux-perf.js
  test/v8-updates/test-linux-perf.js
Labels: V8 Engine, performance, test

#28076 doc: mark Node.js 11 as EOL in changelog
  CHANGELOG.md
Labels: author ready, doc

#28090 doc: clarify weak keys text
  doc/api/crypto.md
Labels: author ready, crypto, doc

#28091 doc: clarify special schemes
  doc/api/url.md
Labels: author ready, doc, whatwg-url

#28097 doc: improve DEP0090 text
  doc/api/deprecations.md
Labels: author ready, deprecations, doc

#28098 doc: edit reason-for-deprecation text
  doc/api/deprecations.md
Labels: author ready, deprecations, doc

#28115 doc: improve synopsis.md
  doc/api/synopsis.md
Labels: author ready, doc

#28127 doc: fix `prohibited-strings` warning in `pull-requests.md`
  doc/guides/contributing/pull-requests.md
Labels: author ready, doc

#28135 dgram: fix abort on bad args
  lib/dgram.js
  test/parallel/test-dgram-send-bad-arguments.js
Labels: dgram

#28129 test: remove test-tty-wrap from status file
  test/pseudo-tty/pseudo-tty.status
Labels: author ready, test, tty

#28130 test: remove test-gc-http-client from status file
  test/sequential/sequential.status
Labels: author ready, test

#28071 Fix configure script to work with Apple Clang 11
  configure.py
Labels: build, python

#28178 doc,n-api: fix typo
  doc/api/n-api.md
Labels: author ready, doc, n-api

#28239 doc: improve assert strict-mode text
  doc/api/assert.md
Labels: assert, author ready, doc

#28255 doc: tidy AssertionError text
  doc/api/assert.md
Labels: assert, author ready, doc

#28260 meta: update LICENSE
  LICENSE
Labels: author ready, meta

#28286 deps: V8: extend workaround for MSVC optimizer bug
  deps/v8/src/builtins/setup-builtins-internal.cc
Labels: V8 Engine, fast-track, windows

#28270 test: add logging to statwatcher test
  test/async-hooks/test-statwatcher.js
Labels: async_hooks, author ready, test

#28121 report: add report versioning
  doc/api/report.md
  src/node_report.cc
  test/common/report.js
Labels: C++, report

#28285 doc: revise strict mode text in assert
  doc/api/assert.md
Labels: assert, author ready, doc

#28305 test: permit test-graph.signal to work without test runner
  test/async-hooks/test-graph.signal.js
Labels: async_hooks, author ready, test

#28316 test: remove test-ttywrap.writestream
  test/async-hooks/test-ttywrap.writestream.js
Labels: async_hooks, author ready, test

#28315 doc: revise assert legacy mode text
  doc/api/assert.md
Labels: assert, author ready, doc

#28309 doc: format ECMA-262 with a hyphen
  doc/api/n-api.md
Labels: author ready, doc, n-api

#28314 doc: make multipleResolves docs less opinionated
  doc/api/process.md
Labels: doc, process, promises

#28325 child_process: attach child in promisification
  doc/api/child_process.md
  lib/child_process.js
  test/parallel/test-child-process-promisified.js
Labels: author ready, child_process

#28326 doc: remove obsolete external link
  doc/api/addons.md
Labels: addons, doc

#28327 doc: drop 'Note that' in addons docs
  doc/api/addons.md
Labels: addons, author ready, doc

#28328 doc: fix typo in process.disconnect() docs
  doc/api/process.md
Labels: author ready, doc, process

#28336 doc: fix sentence about Http2Stream destruction
  doc/api/http2.md
Labels: author ready, doc, http2

#28387 doc: add missing word in frameError event docs
  doc/api/http2.md
Labels: doc, http2

#28410 doc,n-api: fix metadata for napi_create_threadsafe_function
  doc/api/n-api.md
Labels: author ready, doc, fast-track, n-api

#28388 doc: cleanup pendingSettingsAck docs
  doc/api/http2.md
Labels: doc, http2

#28421 doc: cleanup isDead() example
  doc/api/cluster.md
Labels: cluster, doc, fast-track

#28450 doc: add links to 12.5.0 changelog notable changes
  doc/changelogs/CHANGELOG_V12.md
Labels: doc, fast-track

#28435 http2: propagate session destroy code to streams
  lib/internal/http2/core.js
  test/parallel/test-http2-propagate-session-destroy-code.js
Labels: http2

#28449 deps: upgrade to libuv 1.30.0
  deps/uv/.gitattributes
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/Makefile.am
  deps/uv/configure.ac
  deps/uv/docs/src/design.rst
  deps/uv/docs/src/threadpool.rst
  deps/uv/include/uv/unix.h
  deps/uv/include/uv/version.h
  deps/uv/src/threadpool.c
  deps/uv/src/unix/bsd-ifaddrs.c
  deps/uv/src/unix/core.c
  deps/uv/src/unix/fs.c
  deps/uv/src/unix/haiku.c
  deps/uv/src/unix/internal.h
  deps/uv/src/unix/process.c
  deps/uv/src/unix/signal.c
  deps/uv/src/unix/stream.c
  deps/uv/src/unix/thread.c
  deps/uv/src/win/fs.c
  deps/uv/test/fixtures/lorem_ipsum.txt
  deps/uv/test/test-cwd-and-chdir.c
  deps/uv/test/test-fs-copyfile.c
  deps/uv/test/test-fs.c
  deps/uv/test/test-list.h
  deps/uv/test/test-tcp-try-write-error.c
  deps/uv/test/test.gyp
Labels: author ready, libuv
