Repository nodejs/node, pull requests merged in 2019-12, with the labels that each got.

#30729 doc: revise REPL uncaught exception text
  doc/api/repl.md
Labels: author ready, doc, repl

#30757 test: fix test-benchmark-streams
  test/benchmark/test-benchmark-streams.js
Labels: author ready, fast-track, test

#30735 doc: fix typographical error
  doc/api/perf_hooks.md
Labels: author ready, doc, perf_hooks

#30741 test: add coverage for ERR_TLS_INVALID_PROTOCOL_VERSION
  test/parallel/test-tls-basic-validations.js
Labels: author ready, test

#30749 test: move test-child-process-fork-getconnections to parallel
  test/parallel/test-child-process-fork-getconnections.js
Labels: test

#30758 doc: remove usage of "Node" in favor of "Node.js"
  SECURITY.md
  doc/STYLE_GUIDE.md
  doc/api/fs.md
  doc/guides/contributing/pull-requests.md
Labels: author ready, doc

#30762 tools: update ESLint to 6.7.2
  tools/node_modules/eslint/README.md
  tools/node_modules/eslint/lib/cli-engine/file-enumerator.js
  tools/node_modules/eslint/lib/rules/no-unexpected-multiline.js
  tools/node_modules/eslint/lib/source-code/source-code.js
  tools/node_modules/eslint/package.json
Labels: author ready, tools

#30769 test: remove duplicate entries from root.status
  test/root.status
Labels: author ready, test

#30763 doc: remove imprecise and redundant testing text
  BUILDING.md
Labels: author ready, build, doc

#30789 tools: update remark-preset-lint-node to 1.11.0
  tools/lint-md.js
  tools/node-lint-md-cli-rollup/package-lock.json
  tools/node-lint-md-cli-rollup/package.json
Labels: author ready, tools

#30783 deps: upgrade to libuv 1.34.0
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/MAINTAINERS.md
  deps/uv/Makefile.am
  deps/uv/configure.ac
  deps/uv/docs/src/fs.rst
  deps/uv/docs/src/misc.rst
  deps/uv/include/uv.h
  deps/uv/include/uv/version.h
  deps/uv/src/random.c
  deps/uv/src/unix/aix-common.c
  deps/uv/src/unix/core.c
  deps/uv/src/unix/fs.c
  deps/uv/src/unix/netbsd.c
  deps/uv/src/unix/os390-syscalls.c
  deps/uv/src/unix/random-devurandom.c
  deps/uv/src/unix/random-sysctl-linux.c
  deps/uv/src/win/fs.c
  deps/uv/src/win/util.c
  deps/uv/test/runner-unix.c
  deps/uv/test/runner-win.c
  deps/uv/test/task.h
  deps/uv/test/test-fs.c
  deps/uv/test/test-list.h
  deps/uv/uv.gyp
Labels: author ready, libuv

#30866 doc: clarify Tier 2 implications in BUILDING.md
  BUILDING.md
Labels: author ready, build, doc

#30886 test: disable colorMode in test-console-group
  test/parallel/test-console-group.js
Labels: author ready, test

#30887 doc: edit colorMode information
  doc/api/console.md
Labels: author ready, console, doc

#30899 doc: clarify build support text
  BUILDING.md
Labels: author ready, build, doc

#30935 doc: add "Be direct." to the style guide
  doc/STYLE_GUIDE.md
Labels: author ready, doc

#30997 test: use tmpdir.refresh() in test-esm-windows.js
  test/es-module/test-esm-windows.js
Labels: author ready, fast-track, test

#31057 doc,vm,test: remove _sandbox_ from vm documentation
  doc/api/vm.md
  lib/vm.js
  test/parallel/test-vm-context.js
Labels: author ready, vm

#31073 doc: standardize usage of hostname vs. host name
  doc/api/dns.md
Labels: author ready, dns, doc

#31091 repl: use public getCursorPos()
  lib/internal/repl/utils.js
Labels: author ready, fast-track, repl

#31077 doc: add missing man page entries
  doc/node.1
Labels: author ready, doc

#31090 doc: improve dns introduction
  doc/api/dns.md
Labels: author ready, dns, doc
