Repository nodejs/node, pull requests merged in 2020-01, with the labels that each got.

#31212 wasi: improve use of primordials
  lib/wasi.js
Labels: author ready, wasi

#31294 tools: update JSON header parsing for backticks
  test/doctool/test-doctool-json.js
  test/fixtures/doc_with_backticks_in_headings.md
  tools/doc/json.js
Labels: author ready, doc, tools

#31278 vm: add code cache support for SourceTextModule
  doc/api/errors.md
  doc/api/vm.md
  lib/internal/errors.js
  lib/internal/vm/module.js
  src/module_wrap.cc
  src/module_wrap.h
  src/node_errors.h
  test/parallel/test-vm-module-cached-data.js
Labels: author ready, semver-minor, vm

#31338 minor vcbuild.bat fixups
  vcbuild.bat
Labels: author ready, build, windows

#31333 src: use uv_guess_handle() to detect TTYs
  src/node.cc
Labels: author ready, blocked, build, libuv

#31350 doc: add missing code formatting in vm.md
  doc/api/vm.md
Labels: author ready, doc, fast-track, vm

#31349 build: do not use setup-node in build workflows
  .github/workflows/CI.yml
Labels: author ready, build

#31393 doc: fix several child_process doc typos
  doc/api/child_process.md
Labels: author ready, child_process, doc

#31403 test: add wasi test for symlink() and readlink()
  test/wasi/c/create_symlink.c
  test/wasi/test-wasi-symlinks.js
  test/wasi/wasm/create_symlink.wasm
Labels: author ready, test

#31435 test: remove bluebird remnants from test fixture
  test/fixtures/bluebird/node_modules/bluebird/package.json
  test/fixtures/bluebird/package.json
  test/fixtures/bluebird/test.js
  test/fixtures/package-main-enoent/node_modules/package-main-enoent/fhqwhgads.js
  test/fixtures/package-main-enoent/node_modules/package-main-enoent/package.json
  test/fixtures/package-main-enoent/package.json
  test/fixtures/package-main-enoent/test.js
  test/parallel/test-require-invalid-main-no-exports.js
Labels: author ready, test

#31426 test: add tests for main() argument handling
  test/wasi/c/main_args.c
  test/wasi/test-wasi.js
  test/wasi/wasm/main_args.wasm
Labels: author ready, test

#31493 doc: enable visual code indication in headers
  doc/api_assets/style.css
Labels: author ready, doc

#31495 deps: uvwasi: cherry-pick 7b5b6f9
  deps/uvwasi/src/uv_mapping.c
Labels: author ready, wasi

#31489 buffer: improve fill(number) performance
  lib/buffer.js
Labels: C++, author ready, buffer, performance

#31504 build: build docs in GitHub Actions CI workflow
  .github/workflows/CI.yml
Labels: build, meta

#31321 build: enable loading internal modules from disk
  configure.py
  node.gyp
  src/node.cc
  src/node_native_module.cc
  src/node_native_module.h
Labels: C++, build
