Repository nodejs/node, pull requests merged in 2020-02, with the labels that each got.

#31537 doc: list largepage values in --help
  src/node_options.cc
Labels: C++

#31628 tools: unify make-v8.sh for ppc64le and s390x
  tools/make-v8.sh
Labels: V8 Engine, author ready, lts-watch-v10.x, lts-watch-v12.x, ppc, s390, tools

#31640 test: add test-dns-promises-lookupService
  test/parallel/test-dns-promises-lookupService.js
Labels: author ready, test

#31643 process: remove undocumented `now` argument from emitWarning()
  lib/internal/modules/cjs/loader.js
  lib/internal/process/warning.js
Labels: author ready, process, semver-major

#31686 test: fix test-benchmark-http
  test/benchmark/test-benchmark-http.js
Labels: author ready, fast-track, test

#31660 doc,async_hooks: simplify async_hooks overview
  doc/api/async_hooks.md
Labels: async_hooks, author ready, doc

#31667 doc,assert: consolidate introductory text
  doc/api/assert.md
Labels: assert, author ready, doc

#31615 buffer: improve from() performance
  benchmark/buffers/buffer-from.js
  lib/buffer.js
Labels: author ready, buffer, performance

#31676 readline: remove intermediate variable
  lib/readline.js
Labels: author ready, readline

#31675 doc: update missing pr-urls
  doc/api/deprecations.md
Labels: author ready, deprecations, doc

#31674 doc,src,test: assign missing deprecation code
  doc/api/deprecations.md
  src/node_file.cc
  test/parallel/test-fs-filehandle.js
  test/parallel/test-fs-promises-file-handle-close.js
Labels: C++, author ready, fs

#31678 test,dns: add coverage for dns exception
  test/parallel/test-dns-resolve-promises.js
Labels: author ready, test

#31684 doc,net: reword Unix domain path paragraph in net.md
  doc/api/net.md
Labels: author ready, doc, net

#31685 doc,util: revise util.md introductory paragraph
  doc/api/util.md
Labels: author ready, doc, util

#31697 test: improve assertion message in test-dns-any
  test/internet/test-dns-any.js
Labels: author ready, test

#31703 doc: improve strict assertion mode color text
  doc/api/assert.md
Labels: assert, author ready, doc

#31704 doc: revise deepEqual() legacy assertion mode text
  doc/api/assert.md
Labels: assert, author ready, doc

#31712 util: throw if unreachable code is reached
  lib/internal/util/comparisons.js
Labels: author ready, util

#31553 fs: add fs/promises alias module
  doc/api/fs.md
  lib/fs/promises.js
  node.gyp
  test/es-module/test-esm-fs-promises.mjs
  test/parallel/test-fs-promises-exists.js
Labels: fs, semver-major

#31839 test: remove common.PORT from test-net-write-callbacks.js
  test/pummel/test-net-write-callbacks.js
Labels: author ready, test

#31897 test: replace instances of common.PORT in pummel tests with port "0"
  test/pummel/test-http-many-keep-alive-connections.js
  test/pummel/test-http-upload-timeout.js
  test/pummel/test-https-large-response.js
  test/pummel/test-https-no-reader.js
  test/pummel/test-net-pingpong-delay.js
  test/pummel/test-net-timeout2.js
  test/pummel/test-regress-GH-892.js
  test/pummel/test-tls-throttle.js
Labels: author ready, test

#31928 meta: move not-an-aardvark to emeritus
  README.md
Labels: author ready, doc

#31959 build: add missing comma in node.gyp
  node.gyp
Labels: author ready, build, fast-track
