Repository nodejs/node, pull requests merged in 2020-07, with the labels that each got.

#34134 test: report actual error code on failure
  test/parallel/test-dgram-error-message-address.js
Labels: author ready, test

#34187 deps: upgrade to libuv 1.38.1
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/ChangeLog
  deps/uv/Makefile.am
  deps/uv/configure.ac
  deps/uv/include/uv/version.h
  deps/uv/m4/.gitignore
  deps/uv/m4/ax_pthread.m4
  deps/uv/src/unix/core.c
  deps/uv/src/unix/darwin.c
  deps/uv/src/unix/fs.c
  deps/uv/src/unix/kqueue.c
  deps/uv/src/unix/linux-core.c
  deps/uv/src/unix/os390-syscalls.c
  deps/uv/src/unix/pthread-fixes.c
  deps/uv/src/unix/tcp.c
  deps/uv/src/unix/thread.c
  deps/uv/src/unix/udp.c
  deps/uv/src/uv-common.c
  deps/uv/src/uv-common.h
  deps/uv/src/win/internal.h
  deps/uv/src/win/tty.c
  deps/uv/src/win/udp.c
  deps/uv/src/win/util.c
  deps/uv/test/test-list.h
  deps/uv/test/test-signal-multiple-loops.c
  deps/uv/test/test-udp-sendmmsg-error.c
  deps/uv/uv.gyp
Labels: author ready, libuv, lts-watch-v10.x, lts-watch-v12.x

#31617 test: add WASI test for file resizing
  test/wasi/c/ftruncate.c
  test/wasi/test-wasi.js
  test/wasi/wasm/ftruncate.wasm
Labels: test

#34397 doc: add release key for Richard Lau
  README.md
Labels: doc, fast-track, notable-change

#34331 test: handle app already signed error
  test/parallel/test-macos-app-sandbox.js
Labels: test

#34508 build: speed up source tarball creation
  .github/workflows/build-tarball.yml
  Makefile
Labels: author ready, build, meta

#34562 Revert "module: disable cjs snapshotting into esm loader"
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
  test/es-module/test-esm-snapshot.mjs
Labels: ES Modules, fast-track, module, modules-agenda, tsc-agenda
