Repository nodejs/node, pull requests merged in 2020-11, with the labels that each got.

#35865 doc: move bnoordhuis to emeritus
  README.md
Labels: doc

#35874 docs: update crypto.createSecretKey history
  doc/api/crypto.md
Labels: crypto, doc

#35866 tools: bump cpplint to 1.5.1
  tools/cpplint.py
Labels: tools

#35896 test: add missing ref comments to parallel.status
  test/parallel/parallel.status
Labels: test

#35941 stream: fix regression on duplex end
  lib/internal/streams/writable.js
  test/parallel/test-stream-duplex-readable-end.js
Labels: fast-track

#35969 test: fix error in test/internet/test-dns.js
  test/internet/test-dns.js
Labels: fast-track, test

#35945 doc: update benchmark CI test indicator in README
  test/README.md
Labels: test

#35734 console: use more primordials
  lib/internal/console/constructor.js
  lib/internal/console/global.js
Labels: console, review wanted

#35875 lib: refactor to use more primordials
  lib/internal/v8_prof_processor.js
Labels: author ready, review wanted, tools

#35849 doc: revise v8.getHeapSnapshot()
  doc/api/v8.md
Labels: doc

#35951 http2: Fix error stream write followed by destroy
  lib/internal/http2/core.js
  test/parallel/test-http2-destroy-after-write.js
Labels: http2

#35882 fs: remove unused assignment
  lib/fs.js
Labels: fs

#36035 doc,crypto: fix linter errors
  doc/api/crypto.md
Labels: crypto, doc, fast-track

#35772 http2: move events to the JSStreamSocket
  lib/internal/http2/core.js
  test/parallel/test-http2-client-jsstream-destroy.js
Labels: http2

#35979 dns: fix trace_events name for resolveCaa()
  src/cares_wrap.cc
Labels: C++, cares

#36017 tools,lib: tighten prefer-primordials rules for Error methods
  lib/.eslintrc.yaml
Labels: author ready

#35372 doc: stream write(chunk, encoding, cb) encoding can be null
  doc/api/stream.md
Labels: author ready, doc, stream

#35999 bootstrap: refactor to use more primordials
  lib/internal/bootstrap/loaders.js
  lib/internal/bootstrap/node.js
  lib/internal/bootstrap/pre_execution.js
Labels: author ready

#36002 test: use global.EventTarget instead of internals
  test/parallel/test-abortcontroller.js
  test/parallel/test-eventtarget-once-twice.js
  test/parallel/test-eventtarget-whatwg-once.js
  test/parallel/test-eventtarget.js
  test/parallel/test-nodeeventtarget.js
Labels: author ready, dont-land-on-v10.x, dont-land-on-v12.x, dont-land-on-v14.x, test

#36027 doc: move v8.getHeapCodeStatistics()
  doc/api/v8.md
Labels: author ready, doc

#36039 test: add missing test coverage for setLocalAddress()
  test/parallel/test-dns-setlocaladdress.js
Labels: test

#35985 http2: delay session.receive() by a tick
  lib/internal/http2/core.js
  test/parallel/test-http2-connect-tls-with-delay.js
Labels: http2

#35961 test: remove flaky designation for fixed test
  test/parallel/parallel.status
Labels: CI / flaky test, test

#36052 util: fix to inspect getters that access this
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect-getters-accessing-this.js
Labels: author ready, util

#35755 configure.py: upgrade from optparse to argparse
  configure.py
Labels: author ready, build

#36102 test: fix unreliable test-fs-write-file.js
  test/parallel/test-fs-write-file.js
Labels: CI / flaky test, fast-track, test

#35940 src: add loop idle time in diagnostic report
  doc/api/report.md
  src/node_report.cc
  test/report/test-report-uv-handles.js
Labels: C++, report, semver-minor

#36066 doc: fix typo in debugger.md
  doc/api/debugger.md
Labels: debugger, doc

#36069 test: replace var statements by let statements
  test/parallel/test-util-inspect.js
Labels: commit-queue-failed, test

#36086 test: add util.inspect test for null maxStringLength
  test/parallel/test-util-inspect.js
Labels: test

#36025 lib,tools: enforce access to prototype from primordials
  lib/internal/freeze_intrinsics.js
  lib/internal/process/warning.js
  test/parallel/test-eslint-prefer-primordials.js
  tools/eslint-rules/prefer-primordials.js
Labels: author ready, process, tools

#36056 test: improve test-stream-duplex-readable-end
  test/parallel/test-stream-duplex-readable-end.js
Labels: author ready, test

#36093 doc: move shigeki to emeritus
  README.md
Labels: doc

#36109 doc: fix invalid link in worker_threads.md
  doc/api/worker_threads.md
Labels: doc, worker

#36129 test: make test-http2-client-jsstream-destroy.js reliable
  test/parallel/test-http2-client-jsstream-destroy.js
Labels: test

#36120 test: deflake test-http-destroyed-socket-write2
  test/parallel/test-http-destroyed-socket-write2.js
Labels: test

#36127 test: fix typo in inspector-helper.js
  test/common/inspector-helper.js
Labels: test

#36135 doc: add link for v8.takeCoverage()
  doc/api/v8.md
Labels: doc

#36149 lib: remove primordials.SafePromise
  lib/internal/per_context/primordials.js
Labels: author ready, lib / src

#36106 tools: bump unist-util-find@1.0.1 to unist-util-find@1.0.2
  tools/doc/package-lock.json
  tools/doc/package.json
Labels: doc, tools

#36142 http2: refactor to use more primordials
  lib/internal/http2/compat.js
  lib/internal/http2/core.js
  lib/internal/http2/util.js
Labels: author ready, lib / src

#36167 error: refactor to use more primordials
  lib/internal/errors.js
  test/parallel/test-errors-systemerror.js
Labels: author ready, commit-queue-failed, errors

#36152 test: update comments in test-fs-read-offset-null
  test/parallel/test-fs-read-offset-null.js
Labels: test

#36163 doc: revise agent.destroy() text
  doc/api/http.md
Labels: doc, http

#36175 doc: remove stray comma in url.md
  doc/api/url.md
Labels: doc, url

#36197 src: update node.rc file description
  src/res/node.rc
Labels: commit-queue-failed, lib / src, windows

#36240 test: missed warning for non-experimental AbortController
  test/parallel/test-eventtarget-memoryleakwarning.js
Labels: fast-track, test

#36212 process: refactor to use more primordials
  lib/internal/process/per_thread.js
  lib/internal/process/promises.js
  lib/internal/process/signal.js
Labels: author ready, process

#36211 quic: refactor to use more primordials
  lib/internal/quic/core.js
Labels: author ready, dont-land-on-v12.x, dont-land-on-v14.x, quic

#36228 test: increase coverage for util.inspect()
  test/parallel/test-util-inspect.js
Labels: test

#36235 tools: bump cpplint to 1.5.3
  tools/cpplint.py
Labels: tools

#36249 test: fix flaky sequential/test-fs-watch
  test/sequential/test-fs-watch.js
Labels: CI / flaky test, test

#36196 fs: refactor to use more primordials
  lib/fs.js
  lib/internal/fs/dir.js
  lib/internal/fs/promises.js
  lib/internal/fs/read_file_context.js
  lib/internal/fs/rimraf.js
  lib/internal/fs/streams.js
  lib/internal/fs/sync_write_stream.js
  lib/internal/fs/utils.js
  lib/internal/fs/watchers.js
Labels: author ready, commit-queue-failed, lib / src

#36261 doc: add table header in intl.md
  doc/api/intl.md
Labels: doc

#36276 tools: fix undeclared identifier FALSE
  tools/icu/iculslocs.cc
Labels: author ready, tools

#36272 tty: refactor to use more primordials
  lib/internal/tty.js
Labels: author ready, tty

#36256 fs: move definition from header file
  src/node_file.cc
  src/node_file.h
Labels: C++, author ready, fs

#36309 tools: update highlight.js to 10.1.2
  tools/doc/package-lock.json
  tools/doc/package.json
Labels: doc, fast-track, tools
