Repository nodejs/node, pull requests merged in 2020-03, with the labels that each got.

#31994 meta: move maclover7 to Emeritus
  README.md
Labels: author ready, doc

#31996 meta: move jbergstroem to emeritus
  README.md
Labels: author ready, doc

#31997 meta: move aqrln to emeritus
  README.md
Labels: author ready, doc

#31923 build: only lint markdown files that have changed (POSIX-only)
  Makefile
Labels: author ready, build

#32017 test: fix flaky test-dns-any.js
  test/internet/test-dns-any.js
Labels: CI / flaky test, author ready, dns, fast-track, test

#32019 doc: revise --zero-fill-buffers text in buffer.md
  doc/api/buffer.md
Labels: author ready, buffer, doc

#32025 test: move test-inspector-module to parallel
  test/parallel/test-inspector-module.js
Labels: author ready, test

#32071 build: fix building with ninja
  node.gyp
Labels: author ready, build, fast-track

#31816 benchmark: remove problematic tls params
  benchmark/tls/secure-pair.js
  benchmark/tls/throughput.js
  test/benchmark/test-benchmark-tls.js
Labels: benchmark, test, tls

#32080 doc: remove em dashes
  CHANGELOG.md
  doc/api/addons.md
  doc/api/errors.md
  doc/api/http.md
  doc/api/http2.md
  doc/api/modules.md
  doc/api/net.md
  doc/api/path.md
  doc/api/process.md
  doc/api/url.md
  doc/guides/backporting-to-release-lines.md
  doc/guides/contributing/issues.md
  doc/guides/doc-style-guide.md
  doc/guides/maintaining-icu.md
  tools/doc/versions.js
Labels: author ready, meta

#32101 wasi: add returnOnExit option
  doc/api/wasi.md
  lib/wasi.js
  test/wasi/test-return-on-exit.js
  test/wasi/test-wasi-options-validation.js
Labels: author ready, wasi

#32120 test: revise test-net-reconnect-error
  test/sequential/test-net-reconnect-error.js
Labels: author ready, test

#32121 doc: fix broken links in benchmark README
  benchmark/README.md
Labels: author ready, benchmark

#32132 test: add WASI test for path_link()
  test/wasi/c/link.c
  test/wasi/test-wasi.js
  test/wasi/wasm/link.wasm
Labels: author ready, test

#32128 doc: document fs.watchFile() bigint option
  doc/api/fs.md
Labels: author ready, doc, fs, lts-watch-v10.x, lts-watch-v12.x

#32136 doc: revise tools/icu/README.md
  tools/icu/README.md
Labels: author ready, tools

#32151 meta: move inactive collaborators to emeriti
  README.md
Labels: doc

#32156 doc: fix os.version() Windows API
  doc/api/os.md
Labels: doc, os

#32157 test: verify that WASI errors are rethrown
  test/wasi/test-return-on-exit.js
Labels: author ready, review wanted, test

#32204 deps: upgrade to libuv 1.35.0
  deps/uv/AUTHORS
  deps/uv/CMakeLists.txt
  deps/uv/CONTRIBUTING.md
  deps/uv/ChangeLog
  deps/uv/MAINTAINERS.md
  deps/uv/Makefile.am
  deps/uv/README.md
  deps/uv/configure.ac
  deps/uv/docs/src/misc.rst
  deps/uv/docs/src/pipe.rst
  deps/uv/docs/src/static/diagrams.key/Data/st0-311.jpg
  deps/uv/docs/src/static/diagrams.key/Data/st1-475.jpg
  deps/uv/docs/src/tcp.rst
  deps/uv/docs/src/udp.rst
  deps/uv/include/uv.h
  deps/uv/include/uv/version.h
  deps/uv/include/uv/win.h
  deps/uv/src/timer.c
  deps/uv/src/unix/async.c
  deps/uv/src/unix/core.c
  deps/uv/src/unix/freebsd.c
  deps/uv/src/unix/ibmi.c
  deps/uv/src/unix/internal.h
  deps/uv/src/unix/linux-inotify.c
  deps/uv/src/unix/linux-syscalls.c
  deps/uv/src/unix/linux-syscalls.h
  deps/uv/src/unix/openbsd.c
  deps/uv/src/unix/os390-syscalls.c
  deps/uv/src/unix/pipe.c
  deps/uv/src/unix/process.c
  deps/uv/src/unix/proctitle.c
  deps/uv/src/unix/signal.c
  deps/uv/src/unix/tcp.c
  deps/uv/src/unix/udp.c
  deps/uv/src/win/pipe.c
  deps/uv/src/win/tcp.c
  deps/uv/src/win/tty.c
  deps/uv/test/benchmark-list.h
  deps/uv/test/benchmark-multi-accept.c
  deps/uv/test/benchmark-ping-udp.c
  deps/uv/test/echo-server.c
  deps/uv/test/run-tests.c
  deps/uv/test/runner.c
  deps/uv/test/test-fs-copyfile.c
  deps/uv/test/test-fs-event.c
  deps/uv/test/test-fs.c
  deps/uv/test/test-get-memory.c
  deps/uv/test/test-get-passwd.c
  deps/uv/test/test-list.h
  deps/uv/test/test-poll.c
  deps/uv/test/test-process-title.c
  deps/uv/test/test-signal-pending-on-close.c
  deps/uv/test/test-spawn.c
  deps/uv/test/test-stdio-over-pipes.c
  deps/uv/test/test-tty-escape-sequence-processing.c
  deps/uv/test/test-udp-connect.c
  deps/uv/test/test-udp-ipv6.c
  deps/uv/test/test-watcher-cross-stop.c
  deps/uv/test/test.gyp
  deps/uv/uv.gyp
Labels: author ready, libuv

#32241 src: fix warn_unused_result compiler warning
  src/node_file.cc
Labels: C++, author ready, fs

#32279 lib: Add option to disable __proto__ accessors
  doc/api/cli.md
  doc/api/errors.md
  doc/node.1
  src/api/environment.cc
  src/node.cc
  src/node_errors.h
  src/node_options.cc
  src/node_options.h
  test/parallel/test-disable-proto-delete.js
  test/parallel/test-disable-proto-throw.js
Labels: C++, lib / src, security

#32309 deps: update to uvwasi 0.0.6
  deps/uvwasi/include/fd_table.h
  deps/uvwasi/include/uvwasi.h
  deps/uvwasi/src/clocks.c
  deps/uvwasi/src/fd_table.c
  deps/uvwasi/src/uvwasi.c
  src/node_wasi.cc
Labels: author ready, lib / src

#32387 deps: remove *.pyc files from deps/npm
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/MSVSUtil.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/MSVSVersion.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/__init__.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/common.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/__init__.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/make.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/ninja.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/xcode.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/input.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/msvs_emulation.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/ninja_syntax.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/simple_copy.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/xcode_emulation.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/xcode_ninja.pyc
  deps/npm/node_modules/node-gyp/gyp/pylib/gyp/xcodeproj_file.pyc
Labels: fast-track, npm

#32381 test: improve test-cluster-net-listen-ipv6only-* tests
  test/sequential/test-cluster-net-listen-ipv6only-none.js
  test/sequential/test-cluster-net-listen-ipv6only-rr.js
Labels: author ready, test

#32451 doc: simplify and correct example descriptions in net.md
  doc/api/net.md
Labels: author ready, doc, net

#32493 test: revise test-http-client-default-headers-exist
  test/parallel/test-http-client-default-headers-exist.js
Labels: author ready, test

#32398 test: improve test-cluster-net-listen-ipv6only-false
  test/parallel/test-cluster-net-listen-ipv6only-false.js
Labels: author ready, test

#32547 test: refactor test-http-information-processing
  test/parallel/test-http-information-processing.js
Labels: author ready, test
