Repository nodejs/node, pull requests merged in 2020-06, with the labels that each got.

#33677 meta: fix a typo in the flaky test template
  .github/ISSUE_TEMPLATE/4-report-a-flaky-test.md
Labels: author ready, fast-track, meta

#33678 doc: update events docs for consistency
  doc/api/events.md
Labels: author ready, doc, events

#33691 doc: fix deprecation "End-of-Life" capitalization
  doc/api/deprecations.md
Labels: deprecations, doc, fast-track

#33688 build: fix compiling addons with older versions of Node.js
  common.gypi
Labels: addons, author ready, build

#33774 events: improve arrayClone performance
  benchmark/events/ee-emit.js
  benchmark/events/ee-listeners-many.js
  benchmark/events/ee-listeners.js
  lib/events.js
Labels: events, performance

#33808 vm: allow proxy callbacks to throw
  src/node_contextify.cc
  test/parallel/test-vm-context-property-forwarding.js
Labels: C++, lts-watch-v10.x, lts-watch-v12.x, vm

#33669 querystring: improve stringify() performance
  benchmark/querystring/querystring-stringify.js
  lib/internal/querystring.js
  lib/querystring.js
Labels: performance, querystring

#33776 tools: update ESLint to 7.2.0
  benchmark/es/spread-assign.js
  test/parallel/test-tls-transport-destroy-after-own-gc.js
  tools/node_modules/eslint/README.md
  tools/node_modules/eslint/lib/cli-engine/cli-engine.js
  tools/node_modules/eslint/lib/cli-engine/config-array-factory.js
  tools/node_modules/eslint/lib/init/config-initializer.js
  tools/node_modules/eslint/lib/linter/code-path-analysis/code-path-analyzer.js
  tools/node_modules/eslint/lib/linter/code-path-analysis/code-path-state.js
  tools/node_modules/eslint/lib/linter/config-comment-parser.js
  tools/node_modules/eslint/lib/rules/func-call-spacing.js
  tools/node_modules/eslint/lib/rules/keyword-spacing.js
  tools/node_modules/eslint/lib/rules/multiline-ternary.js
  tools/node_modules/eslint/lib/rules/no-control-regex.js
  tools/node_modules/eslint/lib/rules/no-extra-boolean-cast.js
  tools/node_modules/eslint/lib/rules/no-extra-parens.js
  tools/node_modules/eslint/lib/rules/no-invalid-regexp.js
  tools/node_modules/eslint/lib/rules/no-misleading-character-class.js
  tools/node_modules/eslint/lib/rules/no-mixed-operators.js
  tools/node_modules/eslint/lib/rules/no-mixed-spaces-and-tabs.js
  tools/node_modules/eslint/lib/rules/no-regex-spaces.js
  tools/node_modules/eslint/lib/rules/no-restricted-exports.js
  tools/node_modules/eslint/lib/rules/no-unneeded-ternary.js
  tools/node_modules/eslint/lib/rules/no-unused-expressions.js
  tools/node_modules/eslint/lib/rules/no-unused-vars.js
  tools/node_modules/eslint/lib/rules/no-useless-backreference.js
  tools/node_modules/eslint/lib/rules/prefer-named-capture-group.js
  tools/node_modules/eslint/lib/rules/quote-props.js
  tools/node_modules/eslint/lib/rules/template-tag-spacing.js
  tools/node_modules/eslint/lib/rules/utils/ast-utils.js
  tools/node_modules/eslint/node_modules/@babel/code-frame/lib/index.js
  tools/node_modules/eslint/node_modules/@babel/code-frame/package.json
  tools/node_modules/eslint/node_modules/@babel/helper-validator-identifier/package.json
  tools/node_modules/eslint/node_modules/@babel/highlight/package.json
  tools/node_modules/eslint/node_modules/cross-spawn/lib/util/resolveCommand.js
  tools/node_modules/eslint/node_modules/cross-spawn/package.json
  tools/node_modules/eslint/node_modules/eslint-scope/lib/referencer.js
  tools/node_modules/eslint/node_modules/eslint-scope/package.json
  tools/node_modules/eslint/node_modules/eslint-visitor-keys/lib/visitor-keys.json
  tools/node_modules/eslint/node_modules/eslint-visitor-keys/package.json
  tools/node_modules/eslint/node_modules/espree/package.json
  tools/node_modules/eslint/node_modules/v8-compile-cache/package.json
  tools/node_modules/eslint/node_modules/v8-compile-cache/v8-compile-cache.js
  tools/node_modules/eslint/package.json
Labels: tools

#34045 n-api: add version to wasm registration
  src/node_api.h
Labels: C++, n-api, wasm

#34071 test: update test-child-process-spawn-loop for Python 3
  test/pummel/test-child-process-spawn-loop.js
Labels: Python, test
