Repository nodejs/node, pull requests merged in 2021-10, with the labels that each got.

#40292 doc: update Forrest Norvell's pronouns
  README.md
Labels: doc, fast-track, author ready, commit-queue-failed

#40297 test: fix typo in test/common/index.js
  test/common/index.js
Labels: test, fast-track, author ready

#39969 doc: add triagers to the table of contents.
  README.md
Labels: doc, author ready

#40290 doc: format markdown files in test directory
  test/README.md
  test/async-hooks/coverage.md
  test/common/README.md
Labels: test, async_hooks, author ready, commit-queue-failed

#40281 tools: update rollup to 2.58.0
  tools/lint-md/package-lock.json
  tools/lint-md/package.json
Labels: tools

#39128 tools: avoid fetch extra commits when validating commit messages
  .github/workflows/commit-lint.yml
Labels: meta, commit-queue-failed
