Repository nodejs/node, pull requests merged in 2021-06, with the labels that each got.

#38840 tools: remove exception for Node.js 8 and earlier
  .eslintrc.js
Labels: author ready, tools

#38851 tools: bump cpplint to 1.5.5
  tools/cpplint.py
Labels: tools

#38850 debugger: removed unused function argument
  lib/internal/inspector/inspect_repl.js
Labels: inspector, needs-ci

#38845 src: fix typos
  src/base_object.h
  src/cares_wrap.cc
  src/debug_utils.cc
  src/env.h
  src/js_native_api_v8.cc
  src/node.cc
  src/node_http2.cc
  src/node_i18n.cc
  src/node_messaging.cc
  src/node_sockaddr.h
  src/util.h
Labels: author ready, c++, lib / src, needs-ci

#38846 lib: fix typos
  lib/internal/modules/cjs/loader.js
  lib/internal/util.js
  lib/internal/util/comparisons.js
  lib/internal/util/inspect.js
Labels: util

#38819 test: remove unnecessary `--pending-deprecation` flag
  test/es-module/test-esm-exports-deprecations.mjs
Labels: author ready, needs-ci, test

#38847 debugger: revise async iterator usage to comply with lint rules
  lib/internal/inspector/_inspect.js
Labels: inspector, needs-ci

#38099 dns: allow --dns-verbatim to change default dns verbatim
  doc/api/cli.md
  doc/api/dns.md
  lib/dns.js
  lib/internal/dns/promises.js
  lib/internal/dns/utils.js
  src/node_options.cc
  src/node_options.h
  test/parallel/test-dns-default-verbatim-false.js
  test/parallel/test-dns-default-verbatim-true.js
  test/parallel/test-dns-set-default-order.js
Labels: author ready, dns, lts-watch-v12.x, lts-watch-v14.x, needs-ci, notable-change, semver-minor

#38784 worker: do not look up context twice in PostMessage
  src/node_messaging.cc
  src/node_messaging.h
Labels: author ready, c++, needs-ci

#38882 doc: fix .mjs syntax in crypto.md
  doc/api/crypto.md
Labels: author ready, crypto, doc

#38891 doc: mark Node.js v15.x as EOL
  CHANGELOG.md
Labels: author ready, meta

#38910 tools: bump remark-preset-lint-node to 2.3.0
  tools/lint-md.js
  tools/node-lint-md-cli-rollup/package-lock.json
  tools/node-lint-md-cli-rollup/package.json
Labels: fast-track, tools

#38946 debugger: reduce scope of eslint disable comment
  lib/internal/inspector/_inspect.js
Labels: author ready, inspector

#38896 doc: mark util.inherits as legacy
  doc/api/util.md
Labels: author ready, doc, util

#38952 debugger: remove unnecessary boilerplate copyright comment
  lib/internal/inspector/_inspect.js
  lib/internal/inspector/inspect_client.js
  lib/internal/inspector/inspect_repl.js
Labels: author ready, inspector

#38838 lib: refactor debuglog init
  lib/internal/util/debuglog.js
Labels: author ready, dont-land-on-v12.x, dont-land-on-v14.x, needs-ci, review wanted, util

#39001 test: remove obsolete TLS test
  test/internet/test-tls-connnect-melissadata.js
Labels: test

#38979 module: fix legacy `node` specifier resolution to resolve `"main"` field
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-specifiers-legacy-flag.mjs
  test/fixtures/es-module-specifiers/dir-with-main/main.js
  test/fixtures/es-module-specifiers/dir-with-main/package.json
Labels: author ready, esm, needs-ci

#39045 test: fix typo ( diagnotic → diagnostic )
  test/common/README.md
Labels: doc, fast-track, test

#39044 fix typo ( compability → compatibility )
  node.gypi
Labels: author ready, build, fast-track

#39047 doc: remove references to deleted freenode channels
  .github/SUPPORT.md
  doc/guides/collaborator-guide.md
  doc/guides/contributing/pull-requests.md
  doc/guides/releases.md
  doc/node.1
  onboarding.md
Labels: commit-queue-failed, doc, fast-track, meta

#39079 test: move inspector-cli tests to sequential
  test/README.md
  test/inspector-cli/inspector-cli.status
  test/inspector-cli/testcfg.py
  test/sequential/test-debugger-address.js
  test/sequential/test-debugger-auto-resume.js
  test/sequential/test-debugger-backtrace.js
  test/sequential/test-debugger-break.js
  test/sequential/test-debugger-clear-breakpoints.js
  test/sequential/test-debugger-custom-port.js
  test/sequential/test-debugger-exceptions.js
  test/sequential/test-debugger-exec-scope.js
  test/sequential/test-debugger-exec.js
  test/sequential/test-debugger-heap-profiler.js
  test/sequential/test-debugger-help.js
  test/sequential/test-debugger-invalid-args.js
  test/sequential/test-debugger-launch.js
  test/sequential/test-debugger-low-level.js
  test/sequential/test-debugger-pid.js
  test/sequential/test-debugger-preserve-breaks.js
  test/sequential/test-debugger-profile.js
  test/sequential/test-debugger-random-port-with-inspect-port.js
  test/sequential/test-debugger-random-port.js
  test/sequential/test-debugger-run-after-quit-restart.js
  test/sequential/test-debugger-sb-before-load.js
  test/sequential/test-debugger-scripts.js
  test/sequential/test-debugger-use-strict.js
  test/sequential/test-debugger-watchers.js
Labels: needs-ci, test

#39083 tools: update ESLint to 7.29.0
  tools/node_modules/eslint/README.md
  tools/node_modules/eslint/lib/eslint/eslint.js
  tools/node_modules/eslint/lib/init/npm-utils.js
  tools/node_modules/eslint/lib/rule-tester/rule-tester.js
  tools/node_modules/eslint/lib/rules/comma-style.js
  tools/node_modules/eslint/lib/rules/indent.js
  tools/node_modules/eslint/lib/rules/no-fallthrough.js
  tools/node_modules/eslint/node_modules/@babel/helper-validator-identifier/package.json
  tools/node_modules/eslint/node_modules/@babel/highlight/lib/index.js
  tools/node_modules/eslint/node_modules/@babel/highlight/package.json
  tools/node_modules/eslint/node_modules/regexpp/index.js
  tools/node_modules/eslint/node_modules/regexpp/index.mjs
  tools/node_modules/eslint/node_modules/regexpp/package.json
  tools/node_modules/eslint/package.json
Labels: tools

#39091 Fix building with external builtins #39090
  src/node_native_module.cc
Labels: author ready, c++, commit-queue-failed

#39127 Doc: Align the EventTarget.dispatchEvent doc with the actual behavior
  doc/api/events.md
Labels: author ready, doc, events

#39070 wasi: use missing validator
  lib/internal/validators.js
  lib/wasi.js
  test/wasi/test-wasi-initialize-validation.js
  test/wasi/test-wasi-start-validation.js
Labels: author ready, commit-queue-failed, wasi

#39028 fs: use missing validator
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  test/parallel/test-fs-mkdtemp-prefix-check.js
Labels: author ready, commit-queue-failed, fs, semver-minor

#39156 test: replace "inspector-cli" with "debugger"
  test/fixtures/debugger/alive.js
  test/fixtures/debugger/backtrace.js
  test/fixtures/debugger/break.js
  test/fixtures/debugger/cjs/index.js
  test/fixtures/debugger/cjs/other.js
  test/fixtures/debugger/empty.js
  test/fixtures/debugger/exceptions.js
  test/fixtures/debugger/three-lines.js
  test/fixtures/debugger/use-strict.js
  test/sequential/test-debugger-address.js
  test/sequential/test-debugger-auto-resume.js
  test/sequential/test-debugger-backtrace.js
  test/sequential/test-debugger-break.js
  test/sequential/test-debugger-clear-breakpoints.js
  test/sequential/test-debugger-custom-port.js
  test/sequential/test-debugger-exceptions.js
  test/sequential/test-debugger-exec-scope.js
  test/sequential/test-debugger-exec.js
  test/sequential/test-debugger-heap-profiler.js
  test/sequential/test-debugger-help.js
  test/sequential/test-debugger-invalid-args.js
  test/sequential/test-debugger-launch.js
  test/sequential/test-debugger-low-level.js
  test/sequential/test-debugger-pid.js
  test/sequential/test-debugger-preserve-breaks.js
  test/sequential/test-debugger-profile.js
  test/sequential/test-debugger-random-port-with-inspect-port.js
  test/sequential/test-debugger-random-port.js
  test/sequential/test-debugger-run-after-quit-restart.js
  test/sequential/test-debugger-sb-before-load.js
  test/sequential/test-debugger-scripts.js
  test/sequential/test-debugger-use-strict.js
  test/sequential/test-debugger-watchers.js
Labels: needs-ci, test

#39157 doc: use repository instead of repo
  doc/guides/collaborator-guide.md
Labels: author ready, doc

#39179 doc: use "repository" in maintaining-V8 doc
  doc/guides/maintaining-V8.md
Labels: doc

#39181 doc: remove obsolete cc recommendations
  doc/guides/maintaining-V8.md
Labels: doc

#39185 doc: remove instructions for unsupported Node.js versions
  doc/guides/maintaining-V8.md
Labels: doc
