Repository nodejs/node, pull requests merged in 2021-09, with the labels that each got.

#40013 fs: make `open` and `close` stream override optional when unused
  doc/api/fs.md
  lib/internal/fs/streams.js
Labels: fs, semver-minor, author ready, needs-ci, commit-queue-failed

#40155 doc: update tools .md files for upcoming lint/formatting
  tools/icu/README.md
Labels: tools, i18n-api, author ready, needs-ci, commit-queue-failed, icu

#40156 doc: prepare markdown file for upcoming formatting/linting
  test/README.md
  test/common/README.md
  test/wasi/README.md
  test/wpt/README.md
Labels: test, author ready, needs-ci, commit-queue-failed

#40158 doc: update benchmarks README.md for upcoming linting/formatting
  benchmark/README.md
Labels: benchmark, author ready

#40159 doc: update markdown files in src for upcoming linting/formatting
  src/README.md
  src/crypto/README.md
Labels: crypto, c++, author ready, needs-ci

#40160 doc: add blank line between comments
  doc/api/addons.md
  doc/api/cli.md
  doc/api/corepack.md
  doc/api/deprecations.md
  doc/api/documentation.md
  doc/api/errors.md
  doc/api/esm.md
  doc/api/globals.md
  doc/api/intl.md
  doc/api/module.md
  doc/api/modules.md
  doc/api/n-api.md
  doc/api/net.md
  doc/api/packages.md
  doc/api/policy.md
  doc/api/process.md
  doc/api/report.md
  doc/api/synopsis.md
  doc/changelogs/CHANGELOG_ARCHIVE.md
  doc/changelogs/CHANGELOG_IOJS.md
  doc/changelogs/CHANGELOG_V010.md
  doc/changelogs/CHANGELOG_V012.md
  doc/changelogs/CHANGELOG_V10.md
  doc/changelogs/CHANGELOG_V11.md
  doc/changelogs/CHANGELOG_V12.md
  doc/changelogs/CHANGELOG_V13.md
  doc/changelogs/CHANGELOG_V14.md
  doc/changelogs/CHANGELOG_V15.md
  doc/changelogs/CHANGELOG_V16.md
  doc/changelogs/CHANGELOG_V4.md
  doc/changelogs/CHANGELOG_V5.md
  doc/changelogs/CHANGELOG_V6.md
  doc/changelogs/CHANGELOG_V7.md
  doc/changelogs/CHANGELOG_V8.md
  doc/changelogs/CHANGELOG_V9.md
Labels: doc, author ready

#40153 meta: add mailmap entry for ralphtheninja
  .mailmap
  AUTHORS
Labels: meta, author ready, commit-queue-failed

#40187 doc: fix typo error
  doc/api/async_hooks.md
Labels: doc, async_hooks, fast-track, author ready
