Repository nodejs/node, pull requests merged in 2021-11, with the labels that each got.

#39283 async_hooks: multi-tenant promise hook api
  doc/api/v8.md
  lib/internal/async_hooks.js
  lib/internal/promise_hooks.js
  lib/internal/validators.js
  lib/v8.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-promise-hook-create-hook.js
  test/parallel/test-promise-hook-exceptions.js
  test/parallel/test-promise-hook-on-after.js
  test/parallel/test-promise-hook-on-before.js
  test/parallel/test-promise-hook-on-init.js
  test/parallel/test-promise-hook-on-resolve.js
Labels: doc, semver-minor, lib / src, promises, diag-agenda, author ready, review wanted

#40673 tools: fix commit-lint workflow
  .github/workflows/commit-lint.yml
Labels: meta, fast-track

#40577 tools: abort CQ session when landing several commits
  doc/guides/commit-queue.md
  tools/actions/commit-queue.sh
Labels: tools, author ready

#40707 doc: update cjs-module-lexer repo link
  doc/api/esm.md
Labels: doc, esm, fast-track, commit-queue-failed

#40628 tools: fix bug in `prefer-primordials` ESLint rule
  test/parallel/test-eslint-prefer-primordials.js
  tools/eslint-rules/prefer-primordials.js
Labels: tools, author ready

#40664 process: refactor execution
  lib/internal/process/execution.js
Labels: process, author ready

#40747 tools: ensure the PR was not pushed before merging
  tools/actions/commit-queue.sh
Labels: tools, fast-track, author ready

#40742 tools: simplify and fix commit queue
  .github/workflows/auto-start-ci.yml
  .github/workflows/commit-queue.yml
  tools/actions/commit-queue.sh
  tools/actions/start-ci.sh
Labels: meta, tools, fast-track

#40572 http: change totalSocketCount only on socket creation or when the socket is closed
  lib/_http_agent.js
  test/parallel/test-http-agent-keepalive.js
  test/parallel/test-http-upgrade-agent.js
  test/parallel/test-http-upgrade-client.js
Labels: http, author ready, commit-queue

#40665 src: prevent extra copies of `TimerWrap::TimerCb`
  node.gyp
  src/inspector_agent.cc
  src/timer_wrap-inl.h
  src/timer_wrap.cc
  src/timer_wrap.h
Labels: c++, lib / src, author ready

#40675 src,crypto: refactor `crypto_tls.*`
  src/crypto/crypto_tls.cc
  src/crypto/crypto_tls.h
Labels: crypto, c++, author ready

#40760 feat: expose async wrap providers under async_hooks module
  doc/api/async_hooks.md
  lib/async_hooks.js
  lib/internal/async_hooks.js
  test/async-hooks/test-async-wrap-providers.js
Labels: async_hooks, needs-ci

#40792 lib: fix typos in lib code comments
  lib/_http_incoming.js
  lib/events.js
  lib/path.js
Labels: http, events, path, fast-track, author ready

#40740 tools: only validate first commit message of a PR
  .github/workflows/commit-lint.yml
Labels: meta, commit-queue-failed, commit-queue-squash

#40752 src,crypto: remove `AllocatedBuffer`s from `crypto_spkac`
  src/crypto/crypto_spkac.cc
  src/crypto/crypto_util.cc
  src/crypto/crypto_util.h
Labels: c++, lib / src, author ready

#40782 async_hooks: eliminate require side effects
  lib/internal/async_hooks.js
  src/async_wrap.cc
Labels: c++, async_hooks, author ready, needs-ci

#40768 doc: claim ABI version for Electron 18
  doc/abi_version_registry.json
Labels: doc, author ready

#40796 crypto: throw errors in SignTraits::DeriveBits
  src/crypto/crypto_sig.cc
  test/parallel/test-crypto-sign-verify.js
Labels: crypto, c++, author ready, needs-ci

#40631 deps: add -fno-strict-aliasing flag to libuv
  deps/uv/uv.gyp
Labels: libuv, author ready, needs-ci

#40824 doc: add pref to using draft PR versus WIP label
  doc/guides/contributing/pull-requests.md
Labels: doc, commit-queue-squash

#40870 build: fix tools.yml errors
  .github/workflows/tools.yml
Labels: meta, fast-track

#40837 doc: improve README.md lede section
  README.md
Labels: doc

#40847 deps: update to uvwasi 0.0.12
  deps/uvwasi/include/uvwasi.h
  deps/uvwasi/include/wasi_types.h
  deps/uvwasi/src/clocks.c
  deps/uvwasi/src/fd_table.c
  deps/uvwasi/src/fd_table.h
  deps/uvwasi/src/uvwasi.c
Labels: needs-ci, wasi

#40884 tools: add find-inactive-tsc
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/find-inactive-tsc.yml
  README.md
  tools/find-inactive-tsc.mjs
Labels: doc, meta, tools

#40863 test: deflake fs-promises-watch
  test/parallel/test-fs-promises-watch.js
Labels: test, needs-ci

#40877 test: deflake cluster-concurrent-disconnect
  test/parallel/test-cluster-concurrent-disconnect.js
Labels: test, needs-ci

#40890 build: fix `make` invocation in tools.yml
  .github/workflows/tools.yml
Labels: meta

#40858 stream: fix finished regression when working with legacy Stream
  lib/internal/streams/end-of-stream.js
  test/parallel/test-stream-finished.js
Labels: stream, author ready, commit-queue-squash

#40917 tools: update ESLint to 8.3.0
  tools/node_modules/eslint/README.md
  tools/node_modules/eslint/lib/linter/code-path-analysis/code-path-analyzer.js
  tools/node_modules/eslint/lib/linter/code-path-analysis/code-path.js
  tools/node_modules/eslint/lib/linter/linter.js
  tools/node_modules/eslint/lib/rules/block-scoped-var.js
  tools/node_modules/eslint/lib/rules/block-spacing.js
  tools/node_modules/eslint/lib/rules/brace-style.js
  tools/node_modules/eslint/lib/rules/class-methods-use-this.js
  tools/node_modules/eslint/lib/rules/complexity.js
  tools/node_modules/eslint/lib/rules/indent.js
  tools/node_modules/eslint/lib/rules/keyword-spacing.js
  tools/node_modules/eslint/lib/rules/lines-around-comment.js
  tools/node_modules/eslint/lib/rules/max-depth.js
  tools/node_modules/eslint/lib/rules/max-statements.js
  tools/node_modules/eslint/lib/rules/no-eval.js
  tools/node_modules/eslint/lib/rules/no-extra-semi.js
  tools/node_modules/eslint/lib/rules/no-inner-declarations.js
  tools/node_modules/eslint/lib/rules/no-invalid-this.js
  tools/node_modules/eslint/lib/rules/no-lone-blocks.js
  tools/node_modules/eslint/lib/rules/no-redeclare.js
  tools/node_modules/eslint/lib/rules/no-unused-expressions.js
  tools/node_modules/eslint/lib/rules/no-use-before-define.js
  tools/node_modules/eslint/lib/rules/one-var.js
  tools/node_modules/eslint/lib/rules/padded-blocks.js
  tools/node_modules/eslint/lib/rules/padding-line-between-statements.js
  tools/node_modules/eslint/lib/rules/prefer-const.js
  tools/node_modules/eslint/lib/rules/require-atomic-updates.js
  tools/node_modules/eslint/lib/rules/semi-style.js
  tools/node_modules/eslint/lib/rules/semi.js
  tools/node_modules/eslint/lib/rules/utils/ast-utils.js
  tools/node_modules/eslint/lib/rules/vars-on-top.js
  tools/node_modules/eslint/node_modules/acorn/dist/acorn.js
  tools/node_modules/eslint/node_modules/acorn/dist/acorn.mjs
  tools/node_modules/eslint/node_modules/acorn/dist/bin.js
  tools/node_modules/eslint/node_modules/acorn/package.json
  tools/node_modules/eslint/node_modules/eslint-scope/dist/eslint-scope.cjs
  tools/node_modules/eslint/node_modules/eslint-scope/lib/index.js
  tools/node_modules/eslint/node_modules/eslint-scope/lib/referencer.js
  tools/node_modules/eslint/node_modules/eslint-scope/lib/scope-manager.js
  tools/node_modules/eslint/node_modules/eslint-scope/lib/scope.js
  tools/node_modules/eslint/node_modules/eslint-scope/lib/version.js
  tools/node_modules/eslint/node_modules/eslint-scope/package.json
  tools/node_modules/eslint/node_modules/eslint-visitor-keys/README.md
  tools/node_modules/eslint/node_modules/eslint-visitor-keys/dist/eslint-visitor-keys.cjs
  tools/node_modules/eslint/node_modules/eslint-visitor-keys/lib/visitor-keys.js
  tools/node_modules/eslint/node_modules/eslint-visitor-keys/package.json
  tools/node_modules/eslint/node_modules/espree/README.md
  tools/node_modules/eslint/node_modules/espree/dist/espree.cjs
  tools/node_modules/eslint/node_modules/espree/lib/espree.js
  tools/node_modules/eslint/node_modules/espree/lib/options.js
  tools/node_modules/eslint/node_modules/espree/lib/version.js
  tools/node_modules/eslint/node_modules/espree/package.json
  tools/node_modules/eslint/node_modules/flatted/README.md
  tools/node_modules/eslint/node_modules/flatted/index.js
  tools/node_modules/eslint/node_modules/flatted/package.json
  tools/node_modules/eslint/package.json
Labels: tools, fast-track

#40894 tools: update lint-md dependencies
  tools/lint-md/lint-md.mjs
  tools/lint-md/package-lock.json
  tools/lint-md/package.json
Labels: tools, fast-track, author ready

#40924 build: fix branch name for lint-md-dependencies update
  .github/workflows/tools.yml
Labels: meta, fast-track, author ready

#40876 test: improve test coverage of readline/promises
  test/parallel/test-readline-promises-interface.js
Labels: test, author ready, commit-queue-squash

#40916 test: mark test-fs-watch-non-recursive flaky on Windows
  test/pummel/pummel.status
Labels: test, author ready, commit-queue-failed

#40915 tools: ping TSC members identified as inactive
  .github/workflows/find-inactive-tsc.yml
  tools/find-inactive-tsc.mjs
Labels: meta, tools

#40216 repl: fix and extend require/import tab complete
  lib/repl.js
  test/parallel/test-repl-tab-complete-import.js
  test/parallel/test-repl-tab-complete.js
Labels: repl, author ready, needs-ci

#40903 src,crypto: use `ByteSource::ToBuffer()` in `crypto_dh`
  src/crypto/crypto_dh.cc
Labels: crypto, c++, author ready

#40963 build: remove extraneous quotation marks from commit body
  tools/find-inactive-tsc.mjs
Labels: tools, fast-track, author ready

#40933 doc: update BUILDING.md section on running tests
  BUILDING.md
Labels: doc, build

#40934 tools: update gyp-next to v0.10.1
  tools/gyp/.github/workflows/Python_tests.yml
  tools/gyp/.github/workflows/node-gyp.yml
  tools/gyp/CHANGELOG.md
  tools/gyp/pylib/gyp/generator/make.py
  tools/gyp/setup.py
Labels: build, tools, fast-track, needs-ci, gyp, dont-land-on-v12.x, dont-land-on-v14.x

#40970 meta: add feature request label for issue template
  .github/ISSUE_TEMPLATE/2-feature-request.md
Labels: meta, fast-track

#40860 stream: deprecate thenable support
  doc/api/deprecations.md
Labels: doc, stream, notable-change, author ready, deprecations, commit-queue-squash

#40959 doc: improve grammar in API description
  doc/api/tls.md
Labels: tls, doc, fast-track, author ready

#40960 doc: add information on suppressing initial break in debugger
  doc/api/debugger.md
Labels: doc, fast-track, author ready, debugger

#40941 stream: stricter isReadableNodeStream
  lib/internal/streams/end-of-stream.js
  lib/internal/streams/utils.js
  test/parallel/test-stream-finished.js
Labels: stream, author ready, v17.x, commit-queue-squash

#40928 build: ignore unrelated workflow changes in slow Actions tests
  .github/workflows/test-asan.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
Labels: meta

#40967 build: add OpenSSL gyp artifacts to .gitignore
  .gitignore
Labels: meta, fast-track

#40895 src,crypto: remove uses of `AllocatedBuffer` from `crypto_sig`
  src/crypto/crypto_sig.cc
  src/crypto/crypto_sig.h
Labels: crypto, c++, author ready

#40972 build: set persist-credentials: false on workflows
  .github/workflows/authors.yml
  .github/workflows/auto-start-ci.yml
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/commit-lint.yml
  .github/workflows/commit-queue.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/daily.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/find-inactive-tsc.yml
  .github/workflows/license-builder.yml
  .github/workflows/linters.yml
  .github/workflows/misc.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/tools.yml
Labels: meta

#40968 meta: increase security policy response targets
  SECURITY.md
Labels: doc, tsc-agenda

#40989 lib,test,tools: use consistent JSDoc types
  lib/fs.js
  lib/http.js
  lib/internal/errors.js
  lib/internal/modules/esm/loader.js
  lib/internal/source_map/source_map.js
  lib/internal/util/inspect.js
  lib/v8.js
  test/async-hooks/hook-checks.js
  tools/eslint-rules/require-common-first.js
  tools/eslint-rules/required-modules.js
Labels: lib / src, author ready, needs-ci

#40904 perf_hooks: use spec-compliant `structuredClone`
  lib/internal/perf/usertiming.js
  lib/internal/util.js
  test/parallel/test-perf-hooks-usertiming.js
Labels: util, author ready, perf_hooks

#40949 deps: patch V8 to 9.6.180.15
  deps/v8/include/v8-version.h
  deps/v8/src/codegen/ppc/macro-assembler-ppc.cc
  deps/v8/src/codegen/ppc/macro-assembler-ppc.h
  deps/v8/test/unittests/assembler/turbo-assembler-ppc-unittest.cc
Labels: dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x

#40984 doc: fix JSDoc in ESM loaders examples
  doc/api/esm.md
Labels: doc, esm, author ready

#40993 deps: update Acorn to v8.6.0
  deps/acorn/acorn/CHANGELOG.md
  deps/acorn/acorn/dist/acorn.js
  deps/acorn/acorn/dist/acorn.mjs
  deps/acorn/acorn/dist/bin.js
  deps/acorn/acorn/package.json
Labels: needs-ci

#40987 build: update Actions versions
  .github/workflows/build-tarball.yml
  .github/workflows/close-stalled.yml
  .github/workflows/misc.yml
Labels: meta, author ready

#40990 tools: ignore unrelated workflow changes in slow Actions tests
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
Labels: meta, author ready, commit-queue-squash
