Repository nodejs/node, pull requests merged in 2021-07, with the labels that each got.

#39160 tools: update @babel/eslint-parser to 7.14.7
  tools/node_modules/@babel/core/node_modules/@babel/compat-data/package.json
  tools/node_modules/@babel/core/node_modules/@babel/helper-member-expression-to-functions/lib/index.js
  tools/node_modules/@babel/core/node_modules/@babel/helper-member-expression-to-functions/package.json
  tools/node_modules/@babel/core/node_modules/@babel/parser/lib/index.js
  tools/node_modules/@babel/core/node_modules/@babel/parser/package.json
  tools/node_modules/@babel/core/node_modules/@babel/traverse/lib/context.js
  tools/node_modules/@babel/core/node_modules/@babel/traverse/package.json
  tools/node_modules/@babel/core/node_modules/caniuse-lite/data/features/audio-api.js
  tools/node_modules/@babel/core/node_modules/caniuse-lite/data/features/css-color-function.js
  tools/node_modules/@babel/core/node_modules/caniuse-lite/data/features/variable-fonts.js
  tools/node_modules/@babel/core/node_modules/caniuse-lite/package.json
  tools/node_modules/@babel/core/node_modules/electron-to-chromium/chromium-versions.js
  tools/node_modules/@babel/core/node_modules/electron-to-chromium/full-chromium-versions.js
  tools/node_modules/@babel/core/node_modules/electron-to-chromium/full-versions.js
  tools/node_modules/@babel/core/node_modules/electron-to-chromium/package.json
  tools/node_modules/@babel/core/node_modules/electron-to-chromium/versions.js
  tools/node_modules/@babel/eslint-parser/lib/configuration.cjs
  tools/node_modules/@babel/eslint-parser/lib/convert/convertTokens.cjs
  tools/node_modules/@babel/eslint-parser/lib/index.cjs
  tools/node_modules/@babel/eslint-parser/package.json
Labels: tools

#39211 doc: move vm.measureMemory() to expected location in doc
  doc/api/vm.md
Labels: doc, vm

#39212 doc: move v8.stopCoverage() to expected location in doc
  doc/api/v8.md
Labels: doc

#39213 doc: use "pull request" instead of "PR" in packages.md
  doc/api/packages.md
Labels: doc

#39217 doc: update AUTHORS
  AUTHORS
Labels: meta

#39218 doc: use more consistent formatting for deprecations
  doc/api/deprecations.md
Labels: deprecations, doc

#39219 doc: remove unnecessary module format comments
  doc/api/fs.md
Labels: doc, fs

#39199 doc: normalize CSS variable names and indentation
  doc/api_assets/style.css
Labels: doc

#39209 doc: rename datatypes to data types
  doc/guides/adding-new-napi-api.md
Labels: doc

#39161 test: remove common.enoughTestCpu
  test/common/README.md
  test/common/index.js
  test/common/index.mjs
  test/pummel/test-fs-watch-system-limit.js
  test/tick-processor/test-tick-processor-builtin.js
  test/tick-processor/test-tick-processor-cpp-core.js
  test/tick-processor/test-tick-processor-polyfill-brokenfile.js
  test/tick-processor/test-tick-processor-preprocess-flag.js
  test/tick-processor/test-tick-processor-unknown.js
Labels: needs-ci, test

#39232 tools: update path-parse to 1.0.7
  tools/clang-format/package-lock.json
Labels: tools

#39236 test: move test-debugger-address to parallel
  test/parallel/test-debugger-address.js
Labels: needs-ci, test

#39168 doc: fix color contrast for anchor marks in dark mode
  doc/api_assets/style.css
Labels: author ready, doc

#39250 doc: update AUTHORS file
  AUTHORS
Labels: author ready, meta

#39264 doc: move Sam Ruby to emeritus
  README.md
Labels: doc, fast-track

#39252 doc: remove onboarding-extras
  .github/CODEOWNERS
  doc/guides/collaborator-guide.md
  doc/guides/onboarding-extras.md
  onboarding.md
Labels: doc

#39238 test: remove workaround code in debugger test
  test/sequential/test-debugger-preserve-breaks.js
Labels: needs-ci, test

#39278 doc: fix boldface punctuation for full sentences
  doc/api/domain.md
  doc/api/fs.md
  doc/api/punycode.md
  doc/api/vm.md
Labels: doc

#39182 errors: remove eager stack generation for node errors
  lib/internal/errors.js
  lib/internal/http2/util.js
  lib/internal/source_map/prepare_stack_trace.js
  test/message/esm_loader_not_found.out
  test/parallel/test-repl-top-level-await.js
Labels: errors, http2

#39251 doc: remove GitHub mark
  doc/api_assets/style.css
  tools/doc/html.mjs
Labels: doc, tools

#39273 test: add test for debugger restart message issue
  test/known_issues/test-debugger-restart-message.js
Labels: needs-ci, test

#39263 doc: update collaborator email address
  README.md
Labels: doc

#39262 tools: add find-inactive-collaborators.js
  tools/find-inactive-collaborators.mjs
Labels: tools

#39286 doc: use "repository" instead of "repo" in onboarding.md
  onboarding.md
Labels: doc

#39287 doc: simplify CRAN mirror text in benchmark guide
  doc/guides/writing-and-running-benchmarks.md
Labels: doc

#39307 doc: move ofrobots to collaborator emeritus
  README.md
Labels: doc, fast-track

#39315 doc: move AndreasMadsen to emeritus
  README.md
Labels: doc, fast-track

#39296 test: remove debugger workaround for AIX
  test/common/debugger.js
Labels: needs-ci, test

#39298 test: use common.PORT instead of hardcoded port number
  test/sequential/test-debugger-invalid-args.js
Labels: needs-ci, test

#39300 test: move debugger test case to parallel
  test/parallel/test-debugger-unavailable-port.js
  test/sequential/test-debugger-invalid-args.js
Labels: needs-ci, test

#39320 test: remove eslint-disable comment from fixture file
  test/fixtures/test-resolution-inspect-brk-resolver.js
Labels: author ready, needs-ci, test

#39335 tools: add GitHub Action to run find-inactive-collaborators.mjs
  .github/workflows/find-inactive-collaborators.yml
Labels: meta

#39277 doc: update AUTHORS
  AUTHORS
Labels: meta

#39343 doc: use consistent abbreviation formatting
  doc/api/buffer.md
  doc/api/cli.md
  doc/api/errors.md
  doc/api/fs.md
  doc/api/http.md
  doc/api/stream.md
  doc/guides/investigating_native_memory_leak.md
  doc/node.1
Labels: author ready, doc

#39344 doc: do not use tilde for "about" or "approximately"
  doc/api/buffer.md
  doc/guides/investigating_native_memory_leak.md
Labels: author ready, buffer, doc

#39345 doc: do not use & for "and" in text
  doc/guides/writing-tests.md
  doc/node.1
  onboarding.md
Labels: author ready, doc

#39358 test: put common lint exceptions into config file
  test/common/.eslintrc.yaml
  test/common/arraystream.js
  test/common/benchmark.js
  test/common/countdown.js
  test/common/cpu-prof.js
  test/common/dns.js
  test/common/duplexpair.js
  test/common/fixtures.js
  test/common/fixtures.mjs
  test/common/heap.js
  test/common/hijackstdio.js
  test/common/http2.js
  test/common/index.js
  test/common/index.mjs
  test/common/internet.js
  test/common/measure-memory.js
  test/common/report.js
  test/common/require-as.js
  test/common/tls.js
  test/common/tmpdir.js
  test/common/udppair.js
  test/common/wpt.js
  test/common/wpt/worker.js
Labels: needs-ci, test

#39362 tools: adjust script for use with 14.x
  .github/workflows/find-inactive-collaborators.yml
  tools/find-inactive-collaborators.mjs
Labels: tools

#39366 build: update to setup-node@v2
  .github/workflows/commit-lint.yml
Labels: meta

#39367 doc: update AUTHORS
  AUTHORS
Labels: meta

#39187 [v14.x] deps: V8: cherry-pick 81181a8ad80a
  common.gypi
  deps/v8/src/heap/heap.cc
  deps/v8/src/heap/heap.h
  deps/v8/src/json/json-parser.cc
Labels: build, needs-ci, v14.x, v8 engine

#39379 doc: standardize on not capitalizing _collaborator_
  GOVERNANCE.md
  doc/guides/collaborator-guide.md
  doc/guides/commit-queue.md
  doc/guides/contributing/pull-requests.md
  doc/guides/offboarding.md
  onboarding.md
Labels: doc, meta

#39433 doc,meta: update email addresses for misterdjules
  .mailmap
  AUTHORS
  README.md
Labels: doc, meta

#39206 doc,tools: remove `checkLinks.mjs`
  Makefile
  tools/doc/checkLinks.mjs
Labels: build, doc, review wanted, tools

#39457 meta: revise .mailmap for README consistency
  .mailmap
  AUTHORS
Labels: meta

#39501 doc: move lball@redhat.com to emeritus
  README.md
Labels: author ready, commit-queue-failed, doc, fast-track

#39424 tools: update ESLint to 7.31.0
  tools/node_modules/eslint-plugin-markdown/node_modules/@types/mdast/LICENSE
  tools/node_modules/eslint-plugin-markdown/node_modules/@types/mdast/README.md
  tools/node_modules/eslint-plugin-markdown/node_modules/@types/mdast/package.json
  tools/node_modules/eslint-plugin-markdown/node_modules/@types/unist/README.md
  tools/node_modules/eslint-plugin-markdown/node_modules/@types/unist/package.json
  tools/node_modules/eslint-plugin-markdown/node_modules/debug/package.json
  tools/node_modules/eslint-plugin-markdown/node_modules/debug/src/common.js
  tools/node_modules/eslint/README.md
  tools/node_modules/eslint/lib/rules/consistent-return.js
  tools/node_modules/eslint/lib/rules/no-mixed-operators.js
  tools/node_modules/eslint/lib/rules/operator-assignment.js
  tools/node_modules/eslint/node_modules/@eslint/eslintrc/lib/config-array-factory.js
  tools/node_modules/eslint/node_modules/@eslint/eslintrc/package.json
  tools/node_modules/eslint/node_modules/acorn-jsx/package.json
  tools/node_modules/eslint/node_modules/debug/package.json
  tools/node_modules/eslint/node_modules/debug/src/common.js
  tools/node_modules/eslint/node_modules/flatted/README.md
  tools/node_modules/eslint/node_modules/flatted/package.json
  tools/node_modules/eslint/node_modules/flatted/php/test.php
  tools/node_modules/eslint/node_modules/globals/globals.json
  tools/node_modules/eslint/node_modules/globals/package.json
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/README.md
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/compile/errors.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/compile/jtd/serialize.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/compile/validate/index.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/vocabularies/applicator/not.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/package.json
  tools/node_modules/eslint/package.json
Labels: commit-queue-failed, tools

#39544 Update Release guide
  doc/guides/releases.md
Labels: author ready, doc
