Repository nodejs/node, pull requests merged in 2021-05, with the labels that each got.

#38408 lib,zlib: fix brotli flush range
  lib/zlib.js
  test/parallel/test-zlib-brotli.js
Labels: brotli, needs-ci, zlib

#38464 test: fix `common.mustCall` `length` and `name` properties
  test/common/index.js
Labels: author ready, test

#38465 test,readline: improve tab completion coverage
  test/parallel/test-readline-tab-complete.js
Labels: author ready, needs-ci, readline, test

#38406 debugger: refactor `internal/inspector/_inspect` to use more primordials
  lib/internal/inspector/_inspect.js
Labels: author ready, inspector, needs-ci

#38417 debugger: enable linter on `internal/inspector/inspect_client`
  lib/internal/inspector/inspect_client.js
Labels: author ready, inspector, needs-ci

#38431 test: fix flaky inspector-cli tests when breakpoints are restored
  test/common/inspector-cli.js
  test/inspector-cli/test-inspector-cli-pid.js
Labels: aix, flaky-test, inspector, needs-ci, test

#38462 test: move test-net-connect-econnrefused from pummel to sequential
  test/sequential/test-net-connect-econnrefused.js
Labels: needs-ci, test

#38524 doc: use sentence case in headers in src/crypto/README.md
  src/crypto/README.md
Labels: crypto, doc, fast-track

#38542 doc: fix code example in ecdh.setPublicKey
  doc/api/crypto.md
Labels: author ready, crypto, doc, fast-track

#38550 debugger: refactor to use internal modules
  lib/internal/inspector/inspect_repl.js
Labels: author ready, inspector, needs-ci

#38576 build: add missing torque output sources
  tools/v8_gypfiles/v8.gyp
Labels: author ready, build, dont-land-on-v12.x, dont-land-on-v14.x, fast-track

#38548 buffer: remove TODOs in `atob` / `btoa`
  lib/buffer.js
Labels: author ready, buffer

#38559 test: increase coverage for repl
  test/parallel/test-repl-envvars.js
Labels: author ready, test

#38563 dgram: extract cluster lazy loading method to make it testable
  lib/dgram.js
Labels: author ready, dgram

#38564 test,repl: fix tests when inspector is disabled
  test/parallel/test-repl-history-navigation.js
Labels: author ready, test

#38600 build: remove dependency on `distutils.spawn`
  BUILDING.md
  configure
  configure.py
Labels: author ready, build, doc, needs-ci

#38632 build: add workaround for V8 builds
  configure.py
Labels: author ready, build, fast-track, needs-ci

#38656 repl: fix Ctrl+C on top level await
  lib/repl.js
  test/parallel/test-repl-top-level-await.js
Labels: author ready, needs-ci, repl

#38645 docs: update code examples for `node:url` module
  doc/api/url.md
Labels: author ready, doc, url

#38818 fs: grammar/typo fix
  doc/api/fs.md
Labels: author ready, doc, fast-track, fs

#38789 doc,url: clarify domainTo* when built without ICU
  doc/api/url.md
Labels: doc, needs-ci, url

#38839 Update README.md
  README.md
Labels: doc, fast-track

#38873 build: work around bug in MSBuild v16.10.0
  vcbuild.bat
Labels: build, fast-track, needs-ci, windows
