Repository nodejs/node, pull requests merged in 2021-08, with the labels that each got.

#39504 module: add some typings to `internal/modules/esm/resolve`
  lib/internal/modules/esm/resolve.js
Labels: author ready, esm, typings

#34847 meta: add gyp as owner of gyp files and tools/gyp
  .github/CODEOWNERS
Labels: meta

#39801 tools: update linter dependencies and move to ESM
  tools/node-lint-md-cli-rollup/package-lock.json
  tools/node-lint-md-cli-rollup/package.json
  tools/node-lint-md-cli-rollup/rollup.config.js
  tools/node-lint-md-cli-rollup/src/cli-entry.mjs
Labels: tools, author ready

#35831 build: add authors.yml
  .github/workflows/authors.yml
Labels: meta, author ready

#39836 fs: add docs and tests for `AsyncIterable` support in `fh.writeFile`
  doc/api/fs.md
  test/parallel/test-fs-promises-file-handle-writeFile.js
  test/parallel/test-fs-promises-writefile.js
Labels: fs, needs-ci, backport-requested-v14.x, commit-queue-failed
