Repository nodejs/node, pull requests merged in 2021-04, with the labels that each got.

#37747 path: fix posix.relative() on Windows
  lib/path.js
  test/known_issues/known_issues.status
  test/parallel/test-path-posix-relative-on-windows.js
  test/parallel/test-path-resolve.js
Labels: needs-ci, path

#37994 doc: move psmarshall to collaborators emeriti
  README.md
Labels: doc

#37076 src: fix error handling for CryptoJob::ToResult
  src/crypto/crypto_keygen.h
  src/crypto/crypto_keys.cc
  src/crypto/crypto_util.h
  test/parallel/test-crypto-keygen.js
Labels: author ready, c++, crypto

#38019 doc: add unref for input in readline
  doc/api/readline.md
Labels: author ready, doc, readline

#36839 test: use faster variant for rss in test-net-bytes-per-incoming-chunk-overhead.js
  test/sequential/test-net-bytes-per-incoming-chunk-overhead.js
Labels: author ready, review wanted, test

#37701 module: improve error message for invalid data URL
  lib/internal/modules/esm/loader.js
  test/es-module/test-esm-data-urls.js
  test/es-module/test-esm-invalid-data-urls.js
Labels: author ready, esm, needs-ci, question, review wanted

#37957 test: add extra space in pseudo-tty test failure output
  test/pseudo-tty/testcfg.py
Labels: author ready, needs-ci, test, tty

#38023 doc: fix asyncLocalStorage.run() description
  doc/api/async_hooks.md
Labels: async_hooks, author ready, doc

#38054 test: fix flaky test-vm-memleak
  test/pummel/test-vm-memleak.js
Labels: flaky-test, needs-ci, test

#38026 doc: how to expose primordials when using --expose-internals
  doc/guides/writing-tests.md
Labels: needs-ci

#38067 src: remove KeyObjectData::CreateSecret overload
  src/crypto/crypto_keys.cc
  src/crypto/crypto_keys.h
Labels: author ready, c++, crypto

#38046 lib: refactor to use primordials in lib/internal/cli_table
  lib/internal/cli_table.js
Labels: author ready, needs-ci

#38100 doc: fix typo in fs.md
  doc/api/fs.md
Labels: author ready, doc, fast-track, fs

#38097 tools: relax max-len lint rule for template strings
  .eslintrc.js
  lib/internal/util/inspect.js
  tools/doc/apilinks.js
  tools/doc/checkLinks.js
  tools/doc/html.js
  tools/doc/json.js
  tools/lint-sh.js
Labels: author ready, fast-track, lib / src

#38129 lib: fix typo in lib/_tls_common.js
  lib/_tls_common.js
Labels: author ready, fast-track, tls

#37958 test,http: check that http server is robust from handler abuse
  test/parallel/test-http-req-close-robust-from-tampering.js
Labels: needs-ci, test

#38124 test: remove unneeded m flag on regular expressions
  test/js-native-api/test_exception/testFinalizerException.js
  test/parallel/test-readline-async-iterators.js
  test/report/test-report-uv-handles.js
Labels: author ready, needs-ci, report, test

#37999 build: don't run test workflow on doc dir
  .github/workflows/test-macos.yml
Labels: meta

#38192 test: skip fs.watch() test on IBMi
  test/pummel/test-fs-watch-non-recursive.js
Labels: fast-track, needs-ci, test

#38074 Add pseudo random number generator info to randomUUID
  doc/api/crypto.md
Labels: crypto, doc

#38179 tools: update ESLint to 7.24.0
  tools/node_modules/eslint-plugin-markdown/lib/processor.js
  tools/node_modules/eslint-plugin-markdown/package.json
  tools/node_modules/eslint/lib/rules/no-implicit-coercion.js
  tools/node_modules/eslint/lib/rules/no-multi-assign.js
  tools/node_modules/eslint/lib/rules/no-unused-vars.js
  tools/node_modules/eslint/node_modules/balanced-match/README.md
  tools/node_modules/eslint/node_modules/balanced-match/index.js
  tools/node_modules/eslint/node_modules/balanced-match/package.json
  tools/node_modules/eslint/node_modules/globals/globals.json
  tools/node_modules/eslint/node_modules/globals/package.json
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/.runkit_example.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/README.md
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/compile/codegen/code.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/compile/codegen/index.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/vocabularies/applicator/items.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/dist/vocabularies/format/format.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/package.json
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/bundle.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/get-ajv-packages
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/get-contributors.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/jsontests.js
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/prepare-site
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/prepare-tests
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/publish-bundles
  tools/node_modules/eslint/node_modules/table/node_modules/ajv/scripts/publish-site
  tools/node_modules/eslint/package.json
Labels: author ready, tools

#38183 fs: validate encoding to binding.writeString()
  lib/fs.js
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises.js
  test/parallel/test-fs-write.js
Labels: author ready, fs, needs-ci

#38224 test: fix typo in gtest-all.cc
  test/cctest/gtest/gtest-all.cc
Labels: fast-track, test

#37263 lib: add `WeakRef` and `FinalizationRegistry` to `primordials`
  lib/.eslintrc.yaml
  lib/internal/event_target.js
  lib/internal/per_context/primordials.js
  lib/internal/util/iterable_weak_map.js
Labels: util

#38211 lib: add `globalThis` to primordials
  lib/.eslintrc.yaml
  lib/internal/modules/esm/loader.js
  lib/internal/per_context/primordials.js
  lib/internal/process/execution.js
  lib/internal/test/binding.js
  lib/internal/v8_prof_polyfill.js
Labels: author ready, fast-track, lib / src, needs-ci

#37852 module: clarify CJS global-like variables not defined error message
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-undefined-cjs-global-like-variables.js
Labels: author ready, esm, needs-ci

#38215 lib: avoid mutating `Error.stackTraceLimit` when it is not writable
  lib/assert.js
  lib/internal/assert/assertion_error.js
  lib/internal/errors.js
  lib/internal/process/promises.js
  lib/internal/process/warning.js
  lib/internal/util.js
  lib/repl.js
  test/parallel/test-errors-systemerror-frozen-intrinsics.js
  test/parallel/test-errors-systemerror-stackTraceLimit-custom-setter.js
  test/parallel/test-errors-systemerror-stackTraceLimit-deleted-and-Error-sealed.js
  test/parallel/test-errors-systemerror-stackTraceLimit-deleted.js
  test/parallel/test-errors-systemerror-stackTraceLimit-has-only-a-getter.js
  test/parallel/test-errors-systemerror-stackTraceLimit-not-writable.js
Labels: author ready, lib / src, needs-ci

#36691 Remove support for Python 2
  BUILDING.md
  configure
  configure.py
  doc/guides/maintaining-the-build-files.md
Labels: author ready, build, doc, python, semver-major

#38260 doc: fixed a missing backtick which broke the styling
  doc/api/fs.md
Labels: doc, fast-track, fs

#38230 lib: enforce using `primordials.globalThis` instead of `global`
  lib/.eslintrc.yaml
  lib/internal/bootstrap/node.js
  lib/internal/bootstrap/pre_execution.js
  lib/internal/main/eval_string.js
  lib/internal/per_context/primordials.js
  lib/internal/util/inspect.js
  lib/repl.js
Labels: author ready, lib / src

#38243 doc: fix typo in buffer.md
  doc/api/buffer.md
Labels: author ready, buffer, doc, fast-track

#38244 doc: fix typo in repl.md
  doc/api/repl.md
Labels: author ready, doc, fast-track, repl

#37750 buffer,errors: add missing n literal in range error string
  lib/internal/buffer.js
Labels: author ready, buffer

#38141 repl: fix declaring a variable with the name util
  lib/internal/repl/utils.js
  test/parallel/test-repl-history-navigation.js
Labels: needs-ci, repl

#38282 test: fix flaky test-dns and test-dns-lookup
  test/common/internet.js
  test/internet/test-dns-lookup.js
  test/internet/test-dns.js
Labels: fast-track, flaky-test, needs-ci, test

#38263 build: sync generation of `v8_build_config.json`
  tools/v8_gypfiles/v8.gyp
Labels: author ready, needs-ci

#38266 doc: restore minimum Xcode version for macOS
  BUILDING.md
Labels: author ready, build, doc

#38293 doc: remove superfluous await from fsPromises.readdir example
  doc/api/fs.md
Labels: author ready, doc, fast-track, fs

#37678 2021-04-20, Version 16.0.0 (Current)
  CHANGELOG.md
  doc/abi_version_registry.json
  doc/api/assert.md
  doc/api/async_hooks.md
  doc/api/cluster.md
  doc/api/deprecations.md
  doc/api/esm.md
  doc/api/events.md
  doc/api/fs.md
  doc/api/globals.md
  doc/api/http.md
  doc/api/modules.md
  doc/api/packages.md
  doc/api/perf_hooks.md
  doc/api/process.md
  doc/api/timers.md
  doc/api/util.md
  doc/changelogs/CHANGELOG_V010.md
  doc/changelogs/CHANGELOG_V012.md
  doc/changelogs/CHANGELOG_V10.md
  doc/changelogs/CHANGELOG_V11.md
  doc/changelogs/CHANGELOG_V12.md
  doc/changelogs/CHANGELOG_V13.md
  doc/changelogs/CHANGELOG_V14.md
  doc/changelogs/CHANGELOG_V15.md
  doc/changelogs/CHANGELOG_V16.md
  doc/changelogs/CHANGELOG_V4.md
  doc/changelogs/CHANGELOG_V5.md
  doc/changelogs/CHANGELOG_V6.md
  doc/changelogs/CHANGELOG_V7.md
  doc/changelogs/CHANGELOG_V8.md
  doc/changelogs/CHANGELOG_V9.md
  src/node_version.h
Labels: meta, release, release-agenda, tsc-agenda

#38289 tools: fix type mismatch in test runner
  tools/test.py
Labels: author ready, smartos, test, tools

#38286 test: use .test domain for not found address
  test/common/internet.js
Labels: author ready, needs-ci, test

#38032 doc: Use .prototype. for consistency
  doc/api/buffer.md
Labels: author ready, buffer, doc

#38170 tls: fix tlsSocket.setMaxSendFragment results in an abort
  lib/_tls_wrap.js
  test/parallel/test-tls-max-send-fragment.js
Labels: author ready, needs-ci, tls

#38217 bootstrap: freeze more intrinsics
  lib/internal/freeze_intrinsics.js
  test/parallel/test-freeze-intrinsics.js
Labels: author ready, needs-ci, review wanted

#38287 fs: allow no-params fsPromises fileHandle read
  doc/api/fs.md
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises-file-handle-read.js
Labels: author ready, fs, needs-ci, semver-minor

#38352 doc: update TSC members list with three new members
  README.md
Labels: doc, fast-track

#38308 tls: validate ticket keys buffer
  doc/api/tls.md
  lib/_tls_wrap.js
  test/parallel/test-tls-ticket-invalid-arg.js
Labels: author ready, needs-ci, tls

#38323 doc: fix typo in buffer.md - should be uint16array
  doc/api/buffer.md
Labels: author ready, buffer, doc

#38320 timers: remove redundant unref calls
  lib/timers/promises.js
Labels: needs-ci

#38384 tools: update markdown linter rules
  tools/lint-md.js
  tools/node-lint-md-cli-rollup/package-lock.json
Labels: tools

#38368 doc: fix typo in worker_threads.md
  doc/api/worker_threads.md
Labels: author ready, buffer, doc, worker

#38394 test: skip some pummel tests on slower machines
  test/pummel/test-crypto-dh-hash-modp18.js
  test/pummel/test-crypto-dh-hash.js
  test/pummel/test-crypto-dh-keys.js
  test/pummel/test-dh-regr.js
  test/pummel/test-next-tick-infinite-calls.js
  test/pummel/test-policy-integrity.js
Labels: test

#38395 test: move slower tests into pummel and skip on slow devices
  test/pummel/test-fs-watch-system-limit.js
  test/pummel/test-heapsnapshot-near-heap-limit-bounded.js
  test/pummel/test-heapsnapshot-near-heap-limit.js
  test/pummel/test-net-bytes-per-incoming-chunk-overhead.js
  test/pummel/test-webcrypto-derivebits-pbkdf2.js
Labels: test

#38370 benchmark: avoid using `console.log()`
  benchmark/common.js
Labels: benchmark

#38396 test: move abort test from pummel to abort directory
  test/abort/test-abort-fatal-error.js
Labels: test

#35271 doc: update message to match actual output
  doc/api/debugger.md
Labels: doc, inspector

#38398 tools: fix doc generation when version info is not available
  tools/doc/generate.js
Labels: doc, tools

#38413 tools: remove fixer for non-ascii-character ESLint custom rule
  test/parallel/test-eslint-non-ascii-character.js
  tools/eslint-rules/non-ascii-character.js
Labels: needs-ci, tools

#38482 doc: mark Node.js 10 as End-of-Life
  CHANGELOG.md
Labels: fast-track, meta
