Repository nodejs/node, pull requests merged in 2021-01, with the labels that each got.

#36705 doc: improve ALS.enterWith and exit descriptions
  doc/api/async_hooks.md
Labels: async_hooks, doc

#36653 doc: Update emitClose default for fs streams
  doc/api/fs.md
Labels: doc, fs

#34231 Allowing HEAD method to work with keep-alive
  lib/_http_outgoing.js
  test/parallel/test-http-reuse-socket.js
Labels: author ready, http

#36737 doc: reduce abbreviations in async_hooks.md
  doc/api/async_hooks.md
Labels: async_hooks, doc

#36744 util: remove unreachable defensive coding
  lib/internal/util/comparisons.js
Labels: util

#36795 test: guard large string decoder allocation
  test/parallel/test-string-decoder.js
Labels: fast-track, test

#36758 test: fix test-memory-usage.js for IBMi
  test/parallel/test-memory-usage.js
Labels: ibmi, test

#36730 inspect: refactor to use more primodials
  lib/internal/util/inspect.js
Labels: author ready, commit-queue-failed, util

#36800 Fix typo in esm documentation
  doc/api/esm.md
Labels: doc, fast-track

#36738 doc: revise exit() and run() text in async_hooks.md
  doc/api/async_hooks.md
Labels: async_hooks, doc

#36645 http: add test case for req-res close ordering
  test/parallel/test-http-req-res-close.js
Labels: author ready, test

#36680 module: refactor to avoid unsafe array iteration
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/get_source.js
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/module_map.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/package_json_reader.js
Labels: author ready, lib / src

#36699 fs: refactor to avoid unsafe array iteration
  lib/fs.js
  lib/internal/fs/dir.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
Labels: author ready, fs

#36724 wasi: refactor to avoid unsafe array iteration
  lib/wasi.js
Labels: author ready, wasi

#36774 readline: fix behaviour of Interface plugged to a non-terminal output
  lib/readline.js
  test/parallel/test-repl-no-terminal.js
Labels: author ready, readline

#36736 doc: revise method text in async_hooks.md
  doc/api/async_hooks.md
Labels: async_hooks, doc

#36830 doc: improve crypto.randomUUID() text
  doc/api/crypto.md
Labels: crypto, doc, fast-track

#34284 doc/api: module syncBuiltinESMExports example fix
  doc/api/module.md
Labels: author ready, doc, module, stalled

#36250 lib: refactor to use mapping in cluster master
  lib/internal/cluster/primary.js
Labels: author ready, cluster

#36753 console: refactor to avoid unsafe array iteration
  lib/internal/console/constructor.js
Labels: author ready, console, review wanted

#36759 build: refactor Makefile
  Makefile
Labels: author ready, build

#36763 events: refactor to use optional chaining
  lib/events.js
  lib/internal/event_target.js
Labels: author ready, dont-land-on-v10.x, dont-land-on-v12.x, events

#36772 tls: refactor to avoid unsafe array iteration
  lib/_tls_common.js
  lib/internal/tls.js
  lib/tls.js
Labels: author ready, tls

#36859 module: fix Windows folder exports deprecation warning
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-local-deprecations.mjs
  test/fixtures/es-modules/deprecated-folders-ignore/main.js
  test/fixtures/es-modules/deprecated-folders-ignore/node_modules/pkg/m.js
  test/fixtures/es-modules/deprecated-folders-ignore/node_modules/pkg/package.json
  test/fixtures/es-modules/deprecated-folders-ignore/package.json
Labels: author ready

#36866 lib: simplify `primordials.uncurryThis`
  lib/internal/per_context/primordials.js
Labels: author ready

#36900 test: disable test-crypto-secure-heap with asan
  test/parallel/test-crypto-secure-heap.js
Labels: fast-track

#36735 worker: refactor to avoid unsafe array iteration
  lib/internal/worker.js
Labels: author ready, review wanted, worker

#36752 vm: refactor to avoid unsafe array iteration
  lib/internal/vm/module.js
  lib/vm.js
Labels: author ready, review wanted, vm

#36734 lib: refactor source_map to avoid unsafe array iteration
  lib/internal/source_map/source_map.js
  lib/internal/source_map/source_map_cache.js
Labels: author ready, review wanted

#36722 zlib: refactor to avoid unsafe array iteration
  lib/zlib.js
Labels: author ready, dont-land-on-v10.x, dont-land-on-v12.x, review wanted, zlib

#36072 tls: use the most recently added matching SecureContext in default SN…
  doc/api/tls.md
  lib/_tls_wrap.js
  test/parallel/test-tls-secure-context-usage-order.js
Labels: tls

#36700 http2: refactor to avoid unsafe array iteration
  lib/internal/http2/compat.js
  lib/internal/http2/core.js
Labels: author ready, http2

#36947 doc: fixup type in metadata entry
  doc/api/worker_threads.md
Labels: doc, fast-track, worker

#36848 doc: use ESM syntax for WASI example
  .eslintrc.js
  doc/api/wasi.md
Labels: blocked, tools

#36905 doc: remove resolving-a-bug-report from contributing docs
  CONTRIBUTING.md
  doc/guides/contributing/issues.md
Labels: doc

#36908 doc: remove issue template duplication from contributing docs
  doc/guides/contributing/issues.md
Labels: author ready, doc

#36966 test: fixup flaky test-crypto-x509 on windows
  test/parallel/test-crypto-x509.js
Labels: fast-track, flaky-test, test

#36872 lib: add --expose-primordials flag
  lib/internal/modules/cjs/loader.js
  lib/internal/test/binding.js
Labels: author ready, c++, lib / src

#36898 test: improve coverage at `lib/internal/vm/module.js`
  test/parallel/test-vm-module-synthetic.js
Labels: author ready, test

#36909 doc: improve perf_hooks docs
  doc/api/perf_hooks.md
Labels: author ready, doc, perf_hooks

#36910 test: improve coverage on worker threads
  test/parallel/test-worker-unsupported-things.js
Labels: author ready, test

#36917 doc: fixup http.IncomingMessage deprecation code
  doc/api/deprecations.md
Labels: author ready, deprecations, doc

#36938 doc: fix percentile range in perf_hooks.md
  doc/api/perf_hooks.md
Labels: author ready, doc, perf_hooks

#36950 test: improve coverage for `Module` getters
  test/parallel/test-vm-module-errors.js
Labels: author ready, test

#36952 buffer: add base64url encoding option
  doc/api/buffer.md
  lib/buffer.js
  lib/internal/buffer.js
  lib/internal/util.js
  src/api/encoding.cc
  src/node_buffer.cc
  src/string_decoder.cc
  test/addons/parse-encoding/binding.cc
  test/addons/parse-encoding/test.js
  test/parallel/test-buffer-alloc.js
  test/parallel/test-buffer-bytelength.js
  test/parallel/test-buffer-fill.js
  test/parallel/test-buffer-isencoding.js
  test/parallel/test-buffer-write.js
  test/parallel/test-internal-util-normalizeencoding.js
  test/parallel/test-string-decoder-end.js
  test/parallel/test-string-decoder-fuzz.js
Labels: author ready, buffer, c++, lib / src, semver-minor

#36928 doc: fix crypto.generateKey aes allowed length list
  doc/api/crypto.md
Labels: author ready, crypto, doc

#36987 Update http.md
  doc/api/http.md
Labels: doc, fast-track, http

#36897 src: replace push_back with emplace_back in debug_utils
  src/debug_utils.cc
Labels: author ready, c++

#36991 src: use BaseObject::kInteralFieldCount in Blob
  src/node_blob.cc
Labels: author ready, c++, fast-track

#36996 test: log error in test-fs-realpath-pipe
  test/parallel/test-fs-realpath-pipe.js
Labels: needs-ci, test

#37031 doc: add missing ARIA label for button
  doc/template.html
Labels: doc, fast-track

#37034 test: improve assertion message for test-vm-memleak
  test/pummel/test-vm-memleak.js
Labels: flaky-test, test

#37011 test: update to improve terminology
  test/fixtures/wpt/README.md
  test/fixtures/wpt/common/sab.js
  test/fixtures/wpt/common/security-features/README.md
  test/fixtures/wpt/versions.json
  test/wpt/status/encoding.json
Labels: test

#37052 buffer: avoid creating the backing store in the thread
  src/node_blob.cc
Labels: c++, fast-track

#37095 util: add internal createDeferredPromise()
  lib/child_process.js
  lib/internal/blob.js
  lib/internal/util.js
Labels: author ready, child_process, util

#37043 doc: remove TOC summary for pages with no TOC
  doc/template.html
  tools/doc/allhtml.js
  tools/doc/html.js
Labels: doc, tools
