Repository nodejs/node, pull requests merged in 2021-03, with the labels that each got.

#37524 doc: revise premature disclosure text in collborator guide
  doc/guides/collaborator-guide.md
Labels: doc

#37525 doc: revise objections section of collaborator guide
  doc/guides/collaborator-guide.md
Labels: doc

#37526 doc: revise CI text in collaborator guide
  doc/guides/collaborator-guide.md
Labels: doc

#37527 doc: revise LTS text in collaborator guide
  doc/guides/collaborator-guide.md
Labels: doc

#37542 test: account for pending deprecations in esm test
  test/es-module/test-esm-local-deprecations.mjs
Labels: author ready, needs-ci, test

#37540 doc: remove experimental from --enable-source-maps
  doc/node.1
Labels: author ready, doc

#37541 doc,lib: add missing deprecation code
  doc/api/deprecations.md
  lib/internal/perf/observe.js
Labels: author ready, doc, dont-land-on-v10.x, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v15.x, needs-ci

#37549 tools: update eslint-plugin-markdown configuration
  .eslintrc.js
  Makefile
  tools/node_modules/eslint/node_modules/eslint-plugin-markdown/README.md
  tools/node_modules/eslint/node_modules/eslint-plugin-markdown/index.js
  tools/node_modules/eslint/node_modules/eslint-plugin-markdown/lib/index.js
  tools/node_modules/eslint/node_modules/eslint-plugin-markdown/lib/processor.js
  tools/node_modules/eslint/node_modules/eslint-plugin-markdown/package.json
  tools/node_modules/eslint/node_modules/object-assign/index.js
  tools/node_modules/eslint/node_modules/object-assign/license
  tools/node_modules/eslint/node_modules/object-assign/package.json
  tools/node_modules/eslint/node_modules/object-assign/readme.md
  tools/node_modules/eslint/node_modules/string-width/index.js
  tools/node_modules/eslint/node_modules/string-width/package.json
  tools/node_modules/eslint/package.json
  vcbuild.bat
Labels: author ready, build, needs-ci, tools

#37550 domain: improve DEP0097 warning
  lib/domain.js
  test/parallel/test-domain-dep0097.js
Labels: author ready, domain, needs-ci

#37573 tools: fix compiler warning in inspector_protocol
  tools/inspector_protocol/encoding/encoding.cc
  tools/inspector_protocol/lib/encoding_cpp.template
Labels: inspector, tools

#37604 tools: update remark-preset-lint-node to 2.1.1
  tools/lint-md.js
  tools/node-lint-md-cli-rollup/package-lock.json
Labels: author ready, fast-track, tools

#37602 doc: apply sentence case to headers in doc/guides/contributing/pull-requests.md
  doc/guides/contributing/pull-requests.md
Labels: author ready, doc, fast-track

#37605 doc: change lang info string in fs JS snippets
  doc/api/fs.md
Labels: author ready, doc, fast-track

#37311 tools: add support for meta info in JS snippet linting
  .eslintrc.js
  Makefile
  doc/api/buffer.md
  doc/api/module.md
  doc/api/stream.md
  doc/api/wasi.md
  doc/guides/writing-tests.md
Labels: blocked, build, tools

#37162 tools,doc: add support for several flavors of JS code snippets
  doc/api/wasi.md
  doc/api_assets/js-flavor-cjs.svg
  doc/api_assets/js-flavor-esm.svg
  doc/api_assets/style.css
  test/doctool/test-doctool-html.js
  test/fixtures/document_with_cjs_and_esm_code_snippet.md
  test/fixtures/document_with_esm_and_cjs_code_snippet.md
  tools/doc/html.js
Labels: doc, review wanted, tools

#37599 tools: check version number in YAML comments from changelogs
  .github/workflows/linters.yml
  tools/node-lint-md-cli-rollup/src/list-released-versions-from-changelogs.mjs
Labels: author ready, doc, fast-track, meta, tools

#37600 doc: add return type of readline.createInterface
  doc/api/readline.md
Labels: author ready, doc, readline

#37571 Improve mac coverage with webcrypto tests
  test/parallel/test-webcrypto-export-import.js
Labels: author ready, needs-ci, test

#37631 test: clear obsolete FLAKY entries
  test/parallel/parallel.status
Labels: flaky-test, http2, needs-ci, stream, test, windows

#37633 test: remove FLAKY status for fixed test
  test/parallel/parallel.status
Labels: author ready, needs-ci, test

#37636 test: remove FLAKY status for test-async-hooks-http-parser-destroy
  test/parallel/parallel.status
Labels: author ready, needs-ci, test

#37657 doc: fix linter issue
  doc/api/assert.md
Labels: assert, doc, fast-track

#37632 test: improve error reporting in test-child-process-pipe-dataflow
  test/parallel/test-child-process-pipe-dataflow.js
Labels: flaky-test, needs-ci, test

#37671 test: remove unnecessary V8 flag
  test/parallel/test-weakref.js
Labels: dont-land-on-v10.x, dont-land-on-v12.x, fast-track, test

#37598 src: add error formatting support
  doc/api/errors.md
  lib/internal/vm/module.js
  src/module_wrap.cc
  src/node_errors.h
Labels: author ready, c++, needs-ci

#37646 tools: update glob-parent to 5.1.2
  tools/lint-md.js
  tools/node-lint-md-cli-rollup/package-lock.json
Labels: tools

#37664 deps: V8: cherry-pick 1648e050cade
  deps/v8/src/torque/torque-parser.cc
Labels: needs-ci, v8 engine

#37521 src: fix variable name of OnCloseReceived callback
  src/inspector_socket.cc
Labels: author ready, c++, inspector, lib / src

#37645 doc: use sentence case in README.md headers
  README.md
Labels: author ready, doc

#37650 crypto: add internal error codes
  src/crypto/crypto_cipher.h
  src/crypto/crypto_context.cc
  src/crypto/crypto_keygen.h
  src/crypto/crypto_keys.h
  src/crypto/crypto_util.cc
  src/crypto/crypto_util.h
Labels: author ready, c++, lib / src, needs-ci

#37656 module: refactor NativeModule to avoid unsafe array iteration
  lib/internal/bootstrap/loaders.js
Labels: author ready, module

#37662 doc: fix typo in description of close event
  doc/api/http.md
Labels: author ready, doc, http

#37695 lib: fix typo in lib/internal/http2/core.js
  lib/internal/http2/core.js
Labels: author ready, http2

#37698 doc: fix link to googletest fixtures
  doc/guides/writing-tests.md
Labels: author ready, doc

#37654 http: refactor to avoid unsafe array iteration
  lib/_http_agent.js
Labels: author ready, http

#37655 tls: refactor to avoid unsafe array iteration
  lib/_tls_common.js
Labels: author ready, tls

#37711 assert,util: fix commutativity edge case
  lib/internal/util/comparisons.js
  test/parallel/test-assert-deep.js
Labels: author ready, needs-ci, util

#37706 http2: make res.req a normal property
  lib/internal/http2/compat.js
  test/parallel/test-http2-compat-serverresponse.js
Labels: http2, needs-ci

#37715 lib: use AbortError consistently
  lib/events.js
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/read_file_context.js
Labels: author ready, events, fs, needs-ci

#37714 doc: recommend checking abortSignal.aborted first
  doc/api/globals.md
Labels: author ready, doc

#37691 test: fix flaky wpt/test-timers
  test/wpt/status/html/webappapis/timers.json
  test/wpt/testcfg.py
Labels: flaky-test, needs-ci, test, timers

#37768 tools: lint version numbers in doc only in the default branch
  .github/workflows/linters.yml
Labels: fast-track, meta

#37328 [v12.x] node-api: allow retrieval of add-on file name
  doc/api/n-api.md
  src/env.h
  src/node_api.cc
  src/node_api.h
  test/node-api/test_general/test.js
  test/node-api/test_general/test_general.c
Labels: c++, lib / src, node-api, semver-minor, v12.x

#37718 [v12.x] doc: mark modules implementation as stable
  doc/api/esm.md
Labels: doc, v12.x

#37744 test: add known_issues test for #13683
  test/known_issues/known_issues.status
  test/known_issues/test-path-posix-relative-on-windows.js
Labels: needs-ci, test

#37256 child_process: add timeout to spawn and fork
  doc/api/child_process.md
  lib/child_process.js
  test/parallel/test-child-process-fork-timeout-kill-signal.js
  test/parallel/test-child-process-spawn-timeout-kill-signal.js
Labels: author ready, child_process

#37670 test: improve test-arm-math-illegal-instruction.js
  test/parallel/test-arm-math-illegal-instruction.js
Labels: author ready, needs-ci, test

#37716 doc: fix typo in stream docs
  doc/api/stream.md
Labels: author ready, doc, stream

#37738 doc: fix AbortError catch error example in timers.md
  doc/api/timers.md
Labels: author ready, doc, timers

#37741 lib: fix typo in lib/internal/crypto/certificate.js
  lib/internal/crypto/certificate.js
Labels: author ready, crypto

#37206 module: runtime deprecate "main" index and extension lookups
  doc/api/deprecations.md
  lib/internal/modules/esm/resolve.js
Labels: author ready, deprecations, dont-land-on-v15.x, esm, module, needs-ci, notable-change, semver-major

#37302 fs: runtime deprecate rmdir recursive option
  doc/api/deprecations.md
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
  test/parallel/test-fs-rmdir-recursive-sync-warns-not-found.js
  test/parallel/test-fs-rmdir-recursive-sync-warns-on-file.js
  test/parallel/test-fs-rmdir-recursive-warns-not-found.js
  test/parallel/test-fs-rmdir-recursive-warns-on-file.js
  test/parallel/test-fs-rmdir-recursive.js
Labels: author ready, deprecations, fs, needs-ci, needs-citgm, notable-change, semver-major

#37796 [v12.x] node-api: define version 8
  doc/api/n-api.md
  src/js_native_api.h
  src/js_native_api_types.h
  src/node_api.h
  src/node_api_types.h
  src/node_version.h
  test/js-native-api/test_general/test.js
  test/js-native-api/test_object/test_object.c
  test/node-api/test_async_cleanup_hook/binding.c
Labels: c++, lib / src, needs-ci, node-api, semver-minor, v12.x

#36242 worker: send correct error status for worker init
  src/node_worker.cc
Labels: author ready, c++, semver-major, worker

#37817 doc: add @linkgoron to collaborators
  README.md
Labels: doc, fast-track

#37726 doc: move Derek Lewis back to collaborators
  README.md
Labels: doc, tsc-agenda

#35187 fs: add validation for fd and path
  lib/internal/fs/streams.js
  test/parallel/test-fs-stream-options.js
Labels: author ready, fs, needs-ci, semver-major

#37215 module: runtime deprecate subpath folder mappings
  doc/api/deprecations.md
  doc/api/packages.md
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-local-deprecations.mjs
Labels: author ready, deprecations, dont-land-on-v15.x, module, needs-citgm, notable-change, semver-major

#37216 fs: remove permissive rmdir recursive
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
  test/parallel/test-fs-rmdir-recursive-sync-warns-not-found.js
  test/parallel/test-fs-rmdir-recursive-sync-warns-on-file.js
  test/parallel/test-fs-rmdir-recursive-throws-not-found.js
  test/parallel/test-fs-rmdir-recursive-throws-on-file.js
  test/parallel/test-fs-rmdir-recursive-warns-on-file.js
  test/parallel/test-fs-rmdir-recursive.js
Labels: author ready, deprecations, fs, needs-citgm, review wanted, semver-major, tsc-agenda

#37791 doc: fix JS flavor selection
  doc/api_assets/style.css
Labels: author ready, doc

#37798 test: refactor code to use AbortSignal.abort()
  test/parallel/test-child-process-exec-abortcontroller-promisified.js
  test/parallel/test-child-process-execFile-promisified-abortController.js
  test/parallel/test-child-process-execfile.js
  test/parallel/test-child-process-fork-abort-signal.js
  test/parallel/test-child-process-spawn-controller.js
  test/parallel/test-dgram-close-signal.js
  test/parallel/test-event-on-async-iterator.js
  test/parallel/test-events-once.js
  test/parallel/test-fs-promises-file-handle-readFile.js
  test/parallel/test-fs-promises-readfile.js
  test/parallel/test-fs-readfile.js
  test/parallel/test-fs-watch-abort-signal.js
  test/parallel/test-net-server-listen-options-signal.js
  test/parallel/test-stream-pipeline.js
  test/parallel/test-stream-writable-destroy.js
  test/parallel/test-timers-promisified.js
Labels: author ready, needs-ci, test

#37660 http: add http.ClientRequest.getRawHeaderNames()
  doc/api/deprecations.md
  doc/api/http.md
  lib/_http_outgoing.js
  test/parallel/test-http-mutable-headers.js
Labels: http, needs-ci, notable-change, semver-minor

#37761 test: account for OOM risks in heapsnapshot-near-heap-limit tests
  test/parallel/test-heapsnapshot-near-heap-limit-worker.js
  test/parallel/test-heapsnapshot-near-heap-limit.js
  test/pummel/test-heapsnapshot-near-heap-limit-big.js
Labels: needs-ci, test

#37730 http: fix double AbortSignal registration
  lib/_http_client.js
  test/parallel/test-http-agent-abort-controller.js
  test/parallel/test-http-client-abort-destroy.js
  test/parallel/test-http2-client-destroy.js
  test/parallel/test-https-abortcontroller.js
Labels: http, needs-ci

#37537 doc: apply sentence case to headers in issues.md
  doc/guides/contributing/issues.md
Labels: doc

#37803 test: remove skip for fixed test-benchmark-fs
  test/benchmark/benchmark.status
Labels: author ready, test

#37837 doc: use sentence-style capitlaztion in template header
  doc/template.html
Labels: doc

#37838 doc: fix legacy stability indicator display
  doc/api/documentation.md
Labels: doc

#37809 tty: validate file descriptor to avoid int32 overflow
  lib/tty.js
  test/pseudo-tty/test-tty-isatty.js
Labels: author ready, needs-ci, tty

#37810 crypto: fix DiffieHellman argument validation
  lib/internal/crypto/diffiehellman.js
  test/parallel/test-crypto-dh.js
Labels: author ready, crypto, needs-ci

#37858 test: fix deprecation warning in test-doctool-html
  test/doctool/test-doctool-html.js
Labels: author ready, doc, fast-track, test, tools

#37176 vm: add import assertion support
  doc/api/vm.md
  lib/internal/vm/module.js
  src/module_wrap.cc
  test/parallel/test-vm-module-link.js
Labels: c++, esm, vm

#35091 idna: use url module instead of punycode
  doc/api/intl.md
  lib/internal/idna.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-url-format.js
  test/parallel/test-url-parse-format.js
Labels: author ready, punycode, review wanted, semver-major

#37850 tools: simplify eslint comma-dangle configuration
  benchmark/.eslintrc.yaml
Labels: author ready, benchmark

#37846 tools: improve macos-firewall.sh output
  tools/macos-firewall.sh
Labels: author ready, tools

#37876 node-api: fix crash in finalization
  src/js_native_api_v8.cc
Labels: c++, fast-track

#37883 tools: simplify eslint comma-dangle configuration (tools)
  tools/.eslintrc.yaml
Labels: tools

#37942 doc,intl: spell out ICU acronym on first occurrence
  doc/api/intl.md
Labels: doc, fast-track

#37785 doc: add more commands for cherry-picking and changelog to release docs
  doc/guides/releases.md
Labels: author ready, doc

#37824 timers: fix arbitrary object clearImmediate errors
  lib/internal/timers.js
  lib/timers.js
  test/parallel/test-repl-clear-immediate-crash.js
  test/parallel/test-timers-clear-object-does-not-throw-error.js
Labels: author ready, needs-ci, timers

#37899 src: document newer values for --unhandled-rejections flag
  src/node_options.cc
Labels: author ready, c++

#37941 util: remove unreachable inspect code
  lib/internal/util/inspect.js
Labels: needs-ci, util

#37943 test: split promisified timers test for coverage purposes
  test/parallel/test-timers-immediate-promisified.js
  test/parallel/test-timers-interval-promisified.js
  test/parallel/test-timers-timeout-promisified.js
Labels: author ready, needs-ci, test

#37895 doc: fix "the the" typo in README.md of cjs-module-lexer
  deps/cjs-module-lexer/README.md
Labels: needs-ci

#37955 test: add DataView test case for v8 serdes
  test/parallel/test-v8-serdes.js
Labels: needs-ci, test

#37877 url: forbid pipe in URL host
  src/node_url.cc
  test/cctest/test_url.cc
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/versions.json
Labels: c++, needs-ci

#34867 doc: add Windows-specific info to `subprocess.kill`
  doc/api/child_process.md
Labels: author ready, child_process, doc, review wanted, stalled, windows
