Repository nodejs/node, pull requests merged in 2022-02, with the labels that each got.

#41749 lib: add fetch
  .eslintrc.js
  LICENSE
  deps/undici/LICENSE
  deps/undici/undici.js
  doc/api/cli.md
  doc/api/globals.md
  doc/node.1
  lib/internal/bootstrap/pre_execution.js
  lib/internal/main/worker_thread.js
  node.gyp
  src/node_options.cc
  src/node_options.h
  test/common/index.js
  test/parallel/test-fetch.mjs
  tools/doc/type-parser.mjs
  tools/license-builder.sh
Labels: semver-minor, lib / src, notable-change, needs-ci

#41808 doc: add v16 changelog link to iojs changelog
  doc/changelogs/CHANGELOG_IOJS.md
Labels: doc, fast-track, author ready, release

#41809 doc: add format-md step to release guide
  doc/contributing/releases.md
Labels: doc, fast-track, author ready

#41778 doc: improve wording surrounding TLS 1.3 ciphers
  doc/api/tls.md
Labels: tls, doc

#41764 src: fix typo in js_native_api_v8.cc
  src/js_native_api_v8.cc
Labels: c++

#41824 doc: use UDPv4/UDPv6 consistently with TCPv4/TCPv6
  doc/api/cluster.md
Labels: cluster, doc, fast-track

#41799 doc: align tls port types with net port types
  doc/api/tls.md
Labels: tls, doc

#41827 doc: use example.com for examples
  doc/api/http.md
Labels: http, doc, fast-track, author ready

#41777 stream: use synchronous error validation & validate abort signal option
  lib/internal/streams/operators.js
  test/parallel/test-stream-asIndexedPairs.mjs
  test/parallel/test-stream-drop-take.js
  test/parallel/test-stream-flatMap.js
  test/parallel/test-stream-map.js
  test/parallel/test-stream-reduce.js
  test/parallel/test-stream-some-every.js
  test/parallel/test-stream-toArray.js
Labels: needs-ci

#41478 buffer: fix atob/btoa no-arg case
  lib/buffer.js
  test/parallel/test-btoa-atob-global.js
  test/parallel/test-btoa-atob.js
Labels: buffer, errors, needs-ci

#39229 doc(async_hooks): fix imports in context example
  doc/api/async_hooks.md
Labels: doc, async_hooks

#41739 http2: fix no response event on continue request
  lib/internal/http2/core.js
  test/parallel/test-http2-compat-expect-continue.js
Labels: http2, commit-queue-squash

#41829 doc: use sentence case for X509 error codes header
  doc/api/tls.md
Labels: tls, doc, fast-track

#41841 doc: fix X509 CA acronym capitalization
  doc/api/crypto.md
Labels: crypto, doc, fast-track

#41822 doc: add overhead hints for heap snapshot generation
  doc/api/v8.md
Labels: doc, author ready

#34312 cluster: make kill to be just process.kill
  doc/api/cluster.md
  lib/internal/cluster/primary.js
  test/parallel/test-cluster-worker-kill-signal.js
Labels: cluster, doc, semver-major, review wanted

#41817 readline: improve code coverage for readline promises
  test/parallel/test-readline-promises-interface.js
Labels: test, author ready, needs-ci, commit-queue-squash

#41775 stream: initial port of test262 tests
  lib/internal/streams/operators.js
  lib/stream.js
  test/parallel/test-stream-iterator-helpers-test262-tests.mjs
Labels: stream, needs-ci

#41865 doc: add missing commas in cluster docs
  doc/api/cluster.md
Labels: cluster, doc, fast-track, author ready

#41866 doc: improve SSL_OP_PRIORITIZE_CHACHA description
  doc/api/crypto.md
Labels: crypto, doc, fast-track, author ready

#41796 doc: add steam pipelining note on Http usage
  doc/api/stream.md
Labels: doc, stream

#41848 stream: resume stream on drain
  lib/internal/streams/readable.js
  test/parallel/test-stream-readable-pause-and-resume.js
Labels: stream, author ready, lts-watch-v14.x, lts-watch-v16.x, commit-queue-squash

#41845 lib: refactor to use `validateObject()` validator
  lib/internal/source_map/source_map.js
Labels: author ready, source maps

#41867 test: remove test-worker-memory flaky designation
  test/parallel/parallel.status
Labels: test, needs-ci

#41873 doc: add missing space before hyphen
  README.md
Labels: doc, fast-track

#41859 test: remove eslint-disable comments from fixtures
  test/fixtures/es-module-loaders/loader-invalid-url.mjs
  test/fixtures/es-module-loaders/throw-undefined.mjs
  test/fixtures/es-modules/import-json-named-export.mjs
  test/fixtures/wpt/streams/readable-streams/general.any.js
  test/fixtures/wpt/streams/readable-streams/patched-global.any.js
  test/fixtures/wpt/streams/resources/test-utils.js
  test/fixtures/wpt/streams/transform-streams/patched-global.any.js
Labels: test, esm, fast-track, needs-ci

#41874 doc: use sentence case in readme introduction
  README.md
Labels: doc, fast-track

#41875 doc: use Oxford comma in crypto docs
  doc/api/crypto.md
Labels: crypto, doc, fast-track, author ready

#41876 doc: use the same case as the section heading
  README.md
Labels: doc, fast-track

#41849 stream: add iterator helper find
  doc/api/stream.md
  lib/internal/streams/operators.js
  test/parallel/test-stream-filter.js
  test/parallel/test-stream-flatMap.js
  test/parallel/test-stream-forEach.js
  test/parallel/test-stream-some-every.js
  test/parallel/test-stream-some-find-every.mjs
Labels: needs-ci, commit-queue-squash

#41662 readline: bind keystroke `ctrl`+`6` to redo
  doc/api/readline.md
  lib/internal/readline/interface.js
  test/parallel/test-readline-interface.js
Labels: readline, semver-minor, author ready, needs-ci, commit-queue-squash

#41791 build: improve consistency between workflows
  .github/workflows/authors.yml
  .github/workflows/auto-start-ci.yml
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/comment-labeled.yml
  .github/workflows/commit-lint.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/doc.yml
  .github/workflows/license-builder.yml
  .github/workflows/linters.yml
  .github/workflows/notify-force-push.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/tools.yml
Labels: meta, author ready

#41872 process: deprecate multipleResolves
  doc/api/deprecations.md
  doc/api/process.md
Labels: doc, process, notable-change, deprecations, commit-queue-squash

#41891 tools: fix typo in prefer-primordials.js
  tools/eslint-rules/prefer-primordials.js
Labels: tools, fast-track

#41888 doc: remove unneeded ellipsis in header
  doc/api/modules.md
Labels: doc, module, fast-track

#41879 lib: add internal genericNodeError() function
  lib/buffer.js
  lib/child_process.js
  lib/events.js
  lib/internal/errors.js
  lib/net.js
  lib/zlib.js
  test/sequential/test-child-process-execsync.js
Labels: lib / src, author ready

#41883 repl: #41690 REPL gives wrong autocomplete on literals
  lib/repl.js
  test/parallel/test-repl-tab-complete.js
Labels: repl, needs-ci, commit-queue-squash

#36328 Https imports
  doc/api/cli.md
  doc/api/errors.md
  doc/api/esm.md
  doc/node.1
  lib/internal/errors.js
  lib/internal/main/check_syntax.js
  lib/internal/modules/esm/fetch_module.js
  lib/internal/modules/esm/formats.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/get_source.js
  lib/internal/modules/esm/initialize_import_meta.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/resolve.js
  lib/internal/policy/manifest.js
  lib/repl.js
  src/node_options.cc
  src/node_options.h
  test/common/index.mjs
  test/es-module/test-esm-dynamic-import.js
  test/es-module/test-esm-import-assertion-errors.js
  test/es-module/test-esm-import-assertion-errors.mjs
  test/es-module/test-esm-invalid-data-urls.js
  test/es-module/test-esm-loader-resolve-type.mjs
  test/es-module/test-esm-loader-search.js
  test/es-module/test-esm-resolve-type.js
  test/es-module/test-http-imports.mjs
  test/fixtures/es-module-loaders/builtin-named-exports-loader.mjs
  test/fixtures/es-module-loaders/hook-resolve-type.mjs
  test/fixtures/es-module-loaders/loader-with-dep.mjs
  test/fixtures/es-module-loaders/mock-loader.mjs
  test/parallel/test-bootstrap-modules.js
  test/pummel/test-policy-integrity-dep.js
Labels: semver-minor, esm, author ready, commit-queue-failed, commit-queue-squash

#41889 doc: edit process.config deprecation text
  doc/api/deprecations.md
Labels: doc, author ready, deprecations

#41766 stream: throw invalid arg type from End Of Stream
  lib/internal/streams/end-of-stream.js
  test/parallel/test-stream-end-of-streams.js
  test/parallel/test-stream-finished.js
Labels: semver-major, author ready, needs-ci

#41547 src: don't print interface if sin6_scope_id is 0
  src/tcp_wrap.cc
Labels: c++, net, author ready, needs-ci

#41818 worker: improve code coverage
  test/parallel/test-worker-environmentdata.js
  test/parallel/test-worker-heap-snapshot.js
Labels: author ready, worker, needs-ci, commit-queue-squash

#41838 debugger: remove duplicate setPauseOnException call
  lib/internal/debugger/inspect_repl.js
Labels: author ready, needs-ci, debugger

#41862 test: improve code coverage for streams/duplexify
  test/parallel/test-stream-duplex-from.js
Labels: test, author ready, needs-ci, commit-queue-squash

#41903 fs: refactor to use ES2020 syntax
  lib/fs.js
Labels: fs, needs-ci

#41931 stream: revert map spec compliance
  lib/stream.js
  test/parallel/test-stream-iterator-helpers-test262-tests.mjs
Labels: stream, notable-change, fast-track, needs-ci

#41755 src: remove separate definitions for static constexpr members
  src/async_wrap.cc
  src/node_blob.cc
  src/node_file.cc
  src/node_http2.cc
  src/node_http_parser.cc
  src/node_process_methods.cc
  src/node_v8.cc
Labels: c++, lib / src, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x

#41877 lib: move kEnumerableProperty to internal/util
  lib/internal/abort_controller.js
  lib/internal/crypto/webcrypto.js
  lib/internal/encoding.js
  lib/internal/event_target.js
  lib/internal/url.js
  lib/internal/util.js
  lib/internal/webstreams/compression.js
  lib/internal/webstreams/encoding.js
  lib/internal/webstreams/queuingstrategies.js
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/util.js
  lib/internal/webstreams/writablestream.js
  lib/internal/worker/io.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#41412 child_process: apply hide_console_windows to spawnSync calls
  src/spawn_sync.cc
Labels: child_process, c++, author ready, needs-ci

#41924 esm: fix typo in `fetch_module`
  lib/internal/modules/esm/fetch_module.js
Labels: esm, fast-track, author ready, needs-ci

#41916 doc: emphasize security warning in vm module doc
  doc/api/vm.md
  doc/api_assets/style.css
Labels: doc, vm, author ready

#41943 doc: fix wrong indent in stream documentation
  doc/api/stream.md
Labels: doc, stream, fast-track, author ready

#41919 fs: fix writev empty array error behavior
  lib/internal/fs/promises.js
  test/parallel/test-fs-writev-promises.js
Labels: fs, author ready, needs-ci

#41923 doc: fix typo in readableStream.locked description
  doc/api/webstreams.md
Labels: doc

#41933 stream: revert revert map spec compliance
  lib/stream.js
  test/parallel/test-stream-iterator-helpers-test262-tests.mjs
Labels: stream, semver-major, author ready, needs-ci

#41757 src: merge ToJsSet into ToV8Value
  src/node_native_module_env.cc
  src/util-inl.h
  src/util.h
Labels: c++, author ready, dont-land-on-v12.x, dont-land-on-v14.x, commit-queue-failed, dont-land-on-v16.x

#41523 tls: avoid throw in onerror for bad TLSSocket obj
  lib/_tls_wrap.js
Labels: tls, needs-ci

#41961 doc: add missing `buffer` in the `stream/consumers` import example
  doc/api/webstreams.md
Labels: doc, fast-track

#41939 test: fix intl tests on small-icu builds
  test/parallel/test-intl.js
Labels: test, author ready, needs-ci

#41954 stream: need to cleanup event listeners if last stream is readable
  doc/api/stream.md
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline-listeners.js
Labels: stream, semver-major, author ready, needs-ci, commit-queue-squash

#41982 build: move tool updates workflow runtime a day later
  .github/workflows/tools.yml
Labels: meta, fast-track

#41944 doc: fix bug in stream doc unshift example
  doc/api/stream.md
Labels: doc, stream, commit-queue-failed

#41713 build: use zoslib_include_dir provided by node-gyp
  common.gypi
  configure.py
Labels: build, author ready, needs-ci, commit-queue-failed

#41819 fs: support copy of relative links with cp and cpSync
  doc/api/fs.md
  lib/internal/fs/cp/cp-sync.js
  lib/internal/fs/cp/cp.js
  lib/internal/fs/utils.js
  test/parallel/test-fs-cp.mjs
Labels: fs, semver-minor, author ready, needs-ci, commit-queue-squash

#41983 test: fix typographical error
  test/parallel/test-http-agent-timeout.js
  test/sequential/test-tls-psk-client.js
Labels: test, fast-track, author ready, needs-ci

#41991 doc: add marsonya to collaborators
  README.md
Labels: doc, notable-change, fast-track

#41984 test: fix names of tests marked flaky on IBM i
  test/parallel/parallel.status
Labels: test, fast-track, needs-ci, ibmi

#41990 doc: fix deprecation number
  doc/api/deprecations.md
  lib/internal/process/promises.js
  test/parallel/test-warn-multipleResolves.mjs
Labels: doc, fast-track, author ready, deprecations

#41986 Capitalize Valgrind in docs
  doc/contributing/investigating-native-memory-leaks.md
Labels: doc, fast-track, author ready, commit-queue-squash

#41955 deps: update undici to 3e267ece5f
  deps/undici/undici.js
Labels: author ready, needs-ci

#41999 tools: update remark-preset-lint-node to 3.3.1
  tools/lint-md/lint-md.mjs
  tools/lint-md/package-lock.json
  tools/lint-md/package.json
Labels: tools, fast-track, commit-queue-failed

#42006 doc: remove extra <td>
  doc/api/readline.md
Labels: doc, readline, fast-track, author ready

#42016 build: prevent concurrent CI and CQ workflow runs
  .github/workflows/auto-start-ci.yml
  .github/workflows/commit-queue.yml
Labels: meta, fast-track, author ready, commit-queue-squash

#41970 events: set default handler value
  lib/internal/event_target.js
  test/parallel/test-eventtarget.js
Labels: events, author ready, worker, needs-ci, abortcontroller

#41887 lib: allow respondWithNewView on byob auto allocated webstreams
  lib/internal/webstreams/readablestream.js
  test/parallel/test-whatwg-readablebytestream.js
Labels: author ready, needs-ci, review wanted, web streams

#41971 lib: stop installing webcrypto if `no_browser_globals` is `true`
  lib/internal/bootstrap/pre_execution.js
Labels: crypto, author ready, needs-ci, webcrypto

#41962 test: run webmessaging/broadcastchannel WPT
  test/fixtures/wpt/webmessaging/broadcastchannel/basics.any.js
  test/fixtures/wpt/webmessaging/broadcastchannel/blobs.html
  test/fixtures/wpt/webmessaging/broadcastchannel/cross-origin.html
  test/fixtures/wpt/webmessaging/broadcastchannel/cross-partition.https.tentative.html
  test/fixtures/wpt/webmessaging/broadcastchannel/detached-iframe.html
  test/fixtures/wpt/webmessaging/broadcastchannel/interface.any.js
  test/fixtures/wpt/webmessaging/broadcastchannel/opaque-origin.html
  test/fixtures/wpt/webmessaging/broadcastchannel/ordering.html
  test/fixtures/wpt/webmessaging/broadcastchannel/origin.window.js
  test/fixtures/wpt/webmessaging/broadcastchannel/resources/cross-origin.html
  test/fixtures/wpt/webmessaging/broadcastchannel/resources/ordering.html
  test/fixtures/wpt/webmessaging/broadcastchannel/resources/origin.html
  test/fixtures/wpt/webmessaging/broadcastchannel/resources/sandboxed.html
  test/fixtures/wpt/webmessaging/broadcastchannel/resources/service-worker.js
  test/fixtures/wpt/webmessaging/broadcastchannel/resources/worker.js
  test/fixtures/wpt/webmessaging/broadcastchannel/sandbox.html
  test/fixtures/wpt/webmessaging/broadcastchannel/service-worker.https.html
  test/fixtures/wpt/webmessaging/broadcastchannel/workers.html
  test/wpt/status/webmessaging/broadcastchannel.json
  test/wpt/test-broadcastchannel.js
Labels: test, needs-ci

#41915 doc: adjust a/an word usage
  doc/api/net.md
  doc/api/process.md
  doc/api/util.md
  doc/api/zlib.md
Labels: doc, author ready

#41989 meta: use plain emojis instead of escape sequences
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-api-ref-docs-problem.yml
Labels: meta, author ready

#41907 debugger: add debugger alias for exec(expr)
  doc/api/debugger.md
  lib/internal/debugger/inspect_repl.js
  test/sequential/test-debugger-exec.js
Labels: author ready, needs-ci, review wanted, debugger, commit-queue-squash

#42037 build: allow manual run of feature request action
  .github/workflows/close-stale-feature-requests.yml
Labels: meta, fast-track, author ready

#41945 src,buffer: evaluate `THROW_AND_RETURN_IF_OOB()` expression only once
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci, commit-queue-failed

#42001 crypto: rename X509_NAME_FLAGS
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready

#41979 crypto: check result of BIO_new in X509ToObject
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#41996 tools: reduce list of globals in ESLint config
  .eslintrc.js
Labels: tools

#41847 test: improve vm test coverage
  test/parallel/test-vm-basic.js
Labels: test, author ready, needs-ci, commit-queue-squash

#42013 tools: add timers functions to the list of restricted globals
  lib/.eslintrc.yaml
  lib/timers/promises.js
Labels: timers, author ready, needs-ci

#42011 worker: fix typo in debug statement
  lib/internal/main/worker_thread.js
Labels: author ready, needs-ci

#39227 doc: use openpgp.org for keyserver examples
  README.md
Labels: doc, author ready, release

#42015 test: check that fetch globals are disabled by default
  test/parallel/test-fetch-disabled.mjs
Labels: test, author ready, needs-ci

#41956 lib: add FormData global when fetch is enabled
  .eslintrc.js
  doc/api/globals.md
  lib/.eslintrc.yaml
  lib/internal/bootstrap/pre_execution.js
  test/common/index.js
  test/parallel/test-fetch.mjs
  test/wpt/test-url.js
  tools/doc/type-parser.mjs
Labels: doc, semver-minor, tools, author ready, needs-ci

#42010 tools: fix bugs in prefer-primordials linter rule
  test/parallel/test-eslint-prefer-primordials.js
  tools/eslint-rules/prefer-primordials.js
Labels: tools, author ready, needs-ci, commit-queue-squash

#42045 test: remove test-stdout-close-catch flaky designation
  test/parallel/parallel.status
Labels: test, fast-track, needs-ci

#41947 esm: improve `fetch_module` test coverage and remove hack
  lib/internal/modules/esm/fetch_module.js
  test/es-module/test-http-imports-cli.mjs
  test/es-module/test-http-imports.mjs
Labels: experimental, esm, author ready, needs-ci, loaders

#41992 tools: lint deprecation codes
  doc/api/deprecations.md
  test/doctool/test-deprecation-codes.js
  test/parallel/test-eslint-documented-deprecation-codes.js
  tools/doc/deprecationCodes.mjs
  tools/eslint-rules/documented-deprecation-codes.js
  tools/eslint-rules/rules-utils.js
Labels: doc, tools, author ready, needs-ci

#40349 lib, doc: improve default read length
  doc/api/fs.md
  lib/fs.js
Labels: fs, author ready, needs-ci

#42012 tools: add `console` to the list of restricted globals
  lib/.eslintrc.yaml
  lib/internal/freeze_intrinsics.js
  lib/internal/v8_prof_polyfill.js
Labels: tools, author ready, needs-ci

#41966 doc: some minor touch-ups (nitpicks) in the contributor docs
  doc/contributing/maintaining-the-build-files.md
  doc/contributing/maintaining-types-for-nodejs.md
Labels: doc

#42060 Fix typo
  doc/api/http2.md
Labels: doc, http2, fast-track

#42043 tools: enable es2022 env in ESLint config
  .eslintrc.js
  test/.eslintrc.yaml
Labels: tools, needs-ci

#42032 perf_hooks: use arrays to store EntryBuffers
  lib/internal/perf/observe.js
  lib/internal/perf/performance_entry.js
  test/parallel/test-performance-timeline.mjs
Labels: author ready, needs-ci

#42049 lib: add legacy built-in functions to primordials
  lib/.eslintrc.yaml
  lib/internal/freeze_intrinsics.js
  lib/internal/per_context/primordials.js
Labels: author ready, needs-ci

#41811 lib: enable fetch by default
  doc/api/cli.md
  doc/api/globals.md
  doc/node.1
  lib/internal/bootstrap/pre_execution.js
  src/node_options.cc
  src/node_options.h
  test/common/index.js
  test/parallel/test-fetch-disabled.mjs
  test/parallel/test-fetch.mjs
  test/parallel/test-global.js
Labels: c++, semver-major, needs-ci, commit-queue-squash, fetch

#42073 meta: remove collaborator
  README.md
Labels: doc, fast-track, author ready

#42055 test: increase Fibonacci argument to 40
  test/fixtures/workload/fibonacci.js
Labels: test, author ready, needs-ci

#41310 net: add new options to `net.Socket` and `net.Server`
  doc/api/http.md
  doc/api/net.md
  lib/_http_server.js
  lib/net.js
  test/parallel/test-net-connect-keepalive.js
  test/parallel/test-net-connect-nodelay.js
Labels: c++, lib / src, commit-queue-squash

#42063 doc: clarify supported versus enabled TLS ciphers
  doc/api/tls.md
Labels: tls, doc, author ready, commit-queue-squash

#42002 crypto: use RFC2253 format in PrintGeneralName
  src/crypto/crypto_common.cc
  test/parallel/test-x509-escaping.js
Labels: crypto, c++, semver-major, security, author ready, needs-ci

#42041 test: validate `EventEmitterAsyncResource` methods throw on invalid this
  test/parallel/test-eventemitter-asyncresource.js
Labels: test, author ready, needs-ci

#42066 doc: add meixg to triagers
  README.md
Labels: doc, author ready

#42092 meta: correct link to feature request document
  .github/ISSUE_TEMPLATE/2-feature-request.yml
Labels: meta, fast-track, author ready

#41974 stream: port more test262 tests
  lib/internal/streams/operators.js
  lib/stream.js
  test/parallel/test-stream-iterator-helpers-test262-tests.mjs
Labels: stream, needs-ci

#35025 src: allow preventing InitializeInspector in env
  src/api/environment.cc
  src/env-inl.h
  src/env.h
  src/inspector_agent.cc
  src/node.h
Labels: c++, semver-minor, embedding

#41404 doc: Improve navigability of API docs
  doc/api_assets/style.css
  doc/template.html
  test/doctool/test-make-doc.mjs
  tools/doc/html.mjs
Labels: doc, tools, author ready, commit-queue-failed, commit-queue-squash

#42110 node-api: fix lambda typo in node_api.cc comment
  src/node_api.cc
Labels: c++, node-api, fast-track, author ready

#41840 doc: make building with ninja more discoverable
  BUILDING.md
  doc/contributing/pull-requests.md
Labels: doc

#42078 stream: allow returning null from pipeline tail
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline.js
Labels: stream

#42096 errors: do not access .stack in debug
  lib/internal/source_map/prepare_stack_trace.js
  lib/internal/source_map/source_map_cache.js
Labels: author ready, needs-ci

#42090 build: add corepack to the auto-updated dependencies
  .github/workflows/tools.yml
  Makefile
Labels: build, meta, needs-ci, commit-queue-squash

#42104 perf_hooks: getEntriesBy[Name|Type](undefined) should not return all the entries
  lib/internal/perf/performance.js
  test/parallel/test-performance-timeline.mjs
Labels: author ready, needs-ci

#42138 doc: remove repeated a word
  doc/api/dgram.md
Labels: dgram, doc, fast-track, author ready

#41366 webstreams: clean after the cancel algorithm of readablestream throw error
  lib/internal/webstreams/readablestream.js
  test/parallel/test-whatwg-readablestream.js
Labels: author ready, web streams, commit-queue-squash

#42093 crypto: add KeyObject.prototype.equals method
  doc/api/crypto.md
  lib/internal/crypto/keys.js
  src/crypto/crypto_keys.cc
  src/crypto/crypto_keys.h
  test/parallel/test-crypto-key-objects.js
Labels: crypto, c++, semver-minor, lib / src, author ready, needs-ci

#42127 deps: update nghttp2 to 1.47.0
  deps/nghttp2/lib/Makefile.in
  deps/nghttp2/lib/includes/Makefile.in
  deps/nghttp2/lib/includes/nghttp2/nghttp2ver.h
  deps/nghttp2/lib/nghttp2_buf.h
  deps/nghttp2/lib/nghttp2_frame.c
  deps/nghttp2/lib/nghttp2_frame.h
  deps/nghttp2/lib/nghttp2_hd.c
  deps/nghttp2/lib/nghttp2_map.c
  deps/nghttp2/lib/nghttp2_net.h
  deps/nghttp2/lib/nghttp2_outbound_item.h
  deps/nghttp2/lib/nghttp2_pq.h
  deps/nghttp2/lib/nghttp2_session.c
  deps/nghttp2/lib/nghttp2_session.h
  deps/nghttp2/lib/nghttp2_stream.c
  deps/nghttp2/lib/nghttp2_submit.c
  tools/update-nghttp2.sh
Labels: tools, http2, author ready, dependencies

#42128 fs: Adjust default `length` for `fs.readSync` and fsPromises/`read`
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  test/parallel/test-fs-readSync-optional-params.js
Labels: fs, author ready, needs-ci, commit-queue-squash

#42121 src: simplify GetExponentString
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#42103 src: do not ignore return value of BIO_reset
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#42101 src: simplify arg type of AddFingerprintDigest
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#42097 src: prefer bool over int in crypto_common
  src/crypto/crypto_common.cc
  src/crypto/crypto_common.h
Labels: crypto, c++, author ready, needs-ci

#42087 src: simplify TLSWrap::SetSession
  src/crypto/crypto_common.cc
  src/crypto/crypto_common.h
  src/crypto/crypto_tls.cc
Labels: tls, c++, lib / src, author ready, needs-ci

#42118 src: combine GetCurveASN1Name and GetCurveNistName
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#41906 http,https: add default argument for Agent.prototype.getName
  doc/api/http.md
  lib/_http_agent.js
  lib/https.js
  test/parallel/test-http-agent-getname.js
  test/parallel/test-https-agent-getname.js
Labels: http, https, author ready, commit-queue-squash

#42117 buffer: improve blob read performance
  lib/internal/blob.js
Labels: buffer, needs-ci

#42150 build: fix usage of input in feature action
  .github/workflows/close-stale-feature-requests.yml
Labels: meta, fast-track
