Repository nodejs/node, pull requests merged in 2022-01, with the labels that each got.

#41357 build: remove Python 2 workaround
  configure.py
Labels: build, author ready, needs-ci

#41356 tools: remove last of error-masking in commit-queue.sh
  tools/actions/commit-queue.sh
Labels: tools, author ready

#41342 doc: revise frozen-intrinsics text
  doc/api/cli.md
Labels: doc, cli, author ready

#41231 timers: use ref counts to count timers
  lib/internal/bootstrap/node.js
  lib/internal/timers.js
  lib/timers.js
Labels: timers, author ready

#41345 doc: clarify `require` behavior with non `.js` extensions
  doc/api/modules.md
Labels: doc, module, author ready, commit-queue-squash

#41372 build: use list for mutable retval rather than tuple
  configure.py
Labels: python, author ready, commit-queue-squash

#39239 perf: remove duplicate codes
  lib/_http_server.js
Labels: http, author ready, commit-queue-failed

#41304 doc: clarify entry point behavior when using loader hooks
  doc/api/esm.md
Labels: doc, esm, author ready, loaders

#41384 doc: document that `require.main` may be `undefined`
  doc/api/modules.md
Labels: doc, module, author ready, commit-queue-squash

#41378 meta: add required fields in issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-api-ref-docs-problem.yml
  .github/ISSUE_TEMPLATE/4-report-a-flaky-test.yml
Labels: meta, author ready

#41337 tls: use optional chaining to simplify checks
  lib/internal/tls/secure-context.js
Labels: tls, author ready, needs-ci, dont-land-on-v12.x

#40532 src: add kNoBrowserGlobals flag for Environment
  configure.py
  lib/internal/bootstrap/browser.js
  lib/internal/bootstrap/node.js
  lib/internal/util.js
  src/env-inl.h
  src/env.h
  src/node.cc
  src/node.h
  src/node_worker.cc
Labels: lib / src, author ready

#41325 tools: remove conditional assignment in custom ESLint rule
  tools/eslint-rules/no-duplicate-requires.js
Labels: tools, author ready, commit-queue-failed

#41385 tools,benchmark,lib,test: enable no-case-declarations lint rule
  .eslintrc.js
  benchmark/zlib/inflate.js
  lib/_http_server.js
  lib/internal/bootstrap/switches/is_main_thread.js
  lib/internal/crypto/aes.js
  lib/internal/crypto/webcrypto.js
  lib/internal/error_serdes.js
  lib/internal/http2/compat.js
  lib/internal/http2/core.js
  lib/internal/repl/utils.js
  lib/internal/util/inspect.js
  test/addons/worker-addon/test.js
  test/async-hooks/test-callback-error.js
  test/common/dns.js
  test/parallel/test-child-process-spawnsync-timeout.js
  test/parallel/test-cluster-basic.js
  test/parallel/test-fs-write-stream-err.js
  test/parallel/test-http-mutable-headers.js
  test/parallel/test-http-response-splitting.js
  test/parallel/test-http2-response-splitting.js
  test/parallel/test-pending-deprecation.js
  test/parallel/test-stdio-pipe-access.js
  test/parallel/test-stdio-pipe-redirect.js
  test/parallel/test-trace-events-api.js
  test/sequential/test-tls-securepair-client.js
  tools/doc/json.mjs
Labels: commit-queue-failed

#41269 doc: fix example commands for `REPLACEME` updates
  doc/guides/releases.md
Labels: doc

#41375 doc: update Abstract Equality Comparison text in assert.md
  doc/api/assert.md
Labels: assert, doc, commit-queue-squash

#41409 test: mark test-performance-eventloopdelay flaky
  test/sequential/sequential.status
Labels: test, fast-track, needs-ci

#41352 esm: refactor esm tests out of test/message
  test/common/fixtures.js
  test/common/fixtures.mjs
  test/es-module/test-esm-export-not-found.mjs
  test/es-module/test-esm-import-json-named-export.mjs
  test/es-module/test-esm-loader-not-found.mjs
  test/es-module/test-esm-loader-obsolete-hooks.mjs
  test/es-module/test-esm-loader-with-syntax-error.mjs
  test/es-module/test-esm-module-not-found-commonjs-hint.mjs
  test/es-module/test-esm-syntax-error.mjs
  test/fixtures/es-module-loaders/syntax-error-import.mjs
  test/fixtures/es-modules/import-json-named-export.mjs
  test/fixtures/esm_loader_not_found_cjs_hint_bare.mjs
  test/fixtures/print-error-message.js
  test/message/esm_display_syntax_error_import.mjs
  test/message/esm_display_syntax_error_import.out
  test/message/esm_display_syntax_error_import_json_named_export.mjs
  test/message/esm_display_syntax_error_import_json_named_export.out
  test/message/esm_display_syntax_error_import_module.mjs
  test/message/esm_display_syntax_error_import_module.out
  test/message/esm_display_syntax_error_module.mjs
  test/message/esm_display_syntax_error_module.out
  test/message/esm_import_assertion_failed.mjs
  test/message/esm_import_assertion_failed.out
  test/message/esm_import_assertion_missing.mjs
  test/message/esm_import_assertion_missing.out
  test/message/esm_import_assertion_unsupported.mjs
  test/message/esm_import_assertion_unsupported.out
  test/message/esm_loader_not_found.mjs
  test/message/esm_loader_not_found.out
  test/message/esm_loader_not_found_cjs_hint_bare.js
  test/message/esm_loader_not_found_cjs_hint_bare.out
  test/message/esm_loader_not_found_cjs_hint_relative.mjs
  test/message/esm_loader_not_found_cjs_hint_relative.out
  test/message/esm_loader_syntax_error.mjs
  test/message/esm_loader_syntax_error.out
  test/message/test-esm-loader-obsolete-hooks.mjs
  test/message/test-esm-loader-obsolete-hooks.out
Labels: module, test, esm, author ready, loaders, commit-queue-squash

#41236 src: do IWYU for some STL includes
  src/env.h
  src/util.h
Labels: c++, author ready, needs-ci

#41235 build,tools,win: trim unused VCBUILD_PYTHON_LOCATION variable
  tools/msvs/find_python.cmd
Labels: windows, install, tools, author ready, needs-ci

#41273 build: start build on z/OS
  Makefile
  common.gypi
  configure.py
Labels: build, needs-ci

#41394 tools: fix argv bug in find-inactive-tsc.mjs
  tools/find-inactive-tsc.mjs
Labels: tools, author ready

#41403 stream: remove unused function argument
  lib/internal/webstreams/readablestream.js
Labels: author ready, needs-ci

#41413 doc: add reference for == and != operators
  doc/api/assert.md
Labels: assert, doc, author ready, commit-queue-squash

#41407 doc: revise HTTPRequestOptions text
  doc/api/http.md
Labels: http, doc, author ready

#41406 tools: replace while+exec() with matchAll()
  tools/doc/allhtml.mjs
Labels: doc, tools, author ready

#41339 doc: clarify `uncaughtException` `origin` for ESM
  doc/api/cli.md
  doc/api/process.md
Labels: doc, process, author ready

#41444 meta: correct my name in AUTHORS
  .mailmap
  AUTHORS
Labels: author ready

#41442 doc: add reference for `===` operator in assert.md
  doc/api/assert.md
Labels: assert, doc, author ready

#41434 doc: add note regarding unfinished TLA
  doc/api/esm.md
Labels: doc, esm, author ready

#41422 tools: use GITHUB_ACTIONS env var in inactivity scripts
  tools/find-inactive-collaborators.mjs
  tools/find-inactive-tsc.mjs
Labels: tools, author ready

#41390 doc: update output in inspector examples
  doc/api/inspector.md
Labels: doc, inspector, author ready

#41396 doc: align links in table to top
  doc/changelogs/CHANGELOG_V16.md
Labels: release, lts-watch-v16.x

#41433 stream: fix error-path function call
  lib/internal/streams/writable.js
Labels: author ready

#41437 doc: fixup my mailmap entries
  .mailmap
Labels: meta

#38206 benchmark: simplify http benchmarker regular expression
  benchmark/_http-benchmarkers.js
Labels: http, benchmark, commit-queue

#41373 fix,v8: make `v8.writeHeapSnapshot` throw if `fopen`/`fclose` fail
  doc/api/v8.md
  src/env.cc
  src/heap_utils.cc
  src/node_internals.h
  test/sequential/test-heapdump.js
Labels: c++, semver-major, author ready

#41451 tools: replace for loop with map()
  tools/doc/allhtml.mjs
Labels: doc, tools, author ready

#41460 doc: remove SameValue comparison reference
  doc/api/assert.md
Labels: assert, doc

#41472 build: fix workflow access to git history
  .github/workflows/find-inactive-tsc.yml
  tools/find-inactive-tsc.mjs
Labels: meta, author ready

#41388 module: `process.exit()` should result in exit code 0
  lib/internal/modules/esm/handle_process_exit.js
  lib/internal/modules/run_main.js
  lib/internal/process/per_thread.js
  test/es-module/test-esm-tla-unfinished.mjs
  test/fixtures/es-modules/tla/process-exit.mjs
  test/fixtures/es-modules/tla/unresolved-with-worker-process-exit.mjs
  test/parallel/test-bootstrap-modules.js
Labels: process, experimental, esm, author ready, needs-ci, dont-land-on-v12.x

#41469 tools: fix small not-quite-a-bug in find-inactive-tsc.mjs
  tools/find-inactive-tsc.mjs
Labels: tools, author ready

#41457 deps: V8: cherry-pick 3b6b21f595f6
  common.gypi
  deps/v8/src/wasm/baseline/arm/liftoff-assembler-arm.h
  deps/v8/src/wasm/baseline/liftoff-compiler.cc
Labels: build, v8 engine, author ready, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x, lts-watch-v16.x

#41426 test: remove broken wiki link from test/common doc
  test/common/README.md
Labels: test, author ready, needs-ci, commit-queue-failed

#41453 src: use std::optional for Worker thread id
  src/node_worker.cc
  src/node_worker.h
Labels: c++, author ready, worker, dont-land-on-v12.x, dont-land-on-v14.x, commit-queue-failed, dont-land-on-v16.x

#41516 doc: add missing YAML tag in `esm.md`
  doc/api/esm.md
Labels: doc, esm, fast-track, dont-land-on-v12.x, backport-open-v14.x

#41425 test: improve test coverage of dns/promises
  test/parallel/test-dns.js
Labels: test, author ready, needs-ci

#41524 doc: add missing word in readable.read() text
  doc/api/stream.md
Labels: doc, stream, fast-track, author ready

#41488 stream: remove always-false condition check
  lib/internal/streams/utils.js
Labels: author ready

#41544 doc: fix typo in `onboarding.md`
  onboarding.md
Labels: doc, fast-track, author ready

#41535 benchmark: remove unreachable code from crypto/hash-stream-creation
  benchmark/crypto/hash-stream-creation.js
Labels: crypto, benchmark

#41534 stream: avoid function call where possible
  lib/internal/streams/utils.js
Labels: author ready, needs-ci

#41527 test: add coverage for util.inspect()
  test/parallel/test-util-inspect.js
Labels: test, author ready, needs-ci, commit-queue-failed

#41383 doc: clarify module system selection
  doc/api/cli.md
  doc/api/esm.md
  doc/api/modules.md
  doc/api/packages.md
  doc/api/synopsis.md
  tools/doc/links-mapper.json
Labels: doc, module

#41510 doc: adjust assignment in condition in stream doc
  doc/api/stream.md
Labels: doc, stream, author ready

#41499 doc: fix typos in esm.md
  doc/api/esm.md
Labels: doc, esm, author ready

#41482 policy: replace entries with keys
  lib/internal/policy/manifest.js
Labels: author ready, policy

#41560 doc,readline: add missing node protocol in example
  doc/api/readline.md
Labels: doc, readline, author ready

#41555 build: fix libuv builds for android aarch64
  deps/uv/uv.gyp
Labels: libuv, author ready, needs-ci

#41515 tools: add missing `.PHONY` and `.NOTPARALLEL` targets in `Makefile`
  Makefile
Labels: build, author ready

#41550 doc: edit async_context context loss text
  doc/api/async_context.md
Labels: doc

#41381 doc: recommend package exports instead of requiring folders
  doc/api/modules.md
Labels: doc, module, author ready, commit-queue-squash

#41323 build: add loong64 configure
  configure.py
  tools/v8_gypfiles/toolchain.gypi
  tools/v8_gypfiles/v8.gyp
Labels: build, v8 engine, tools, author ready, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x

#41446 esm: improve validation of resolved URLs
  lib/internal/modules/esm/loader.js
  test/es-module/test-esm-loader-invalid-url.mjs
  test/fixtures/es-module-loaders/hooks-custom.mjs
Labels: esm, author ready, commit-queue-squash

#41414 domain: pass opts to `EventEmitter.init`
  lib/domain.js
  lib/events.js
  test/parallel/test-domain-ee.js
Labels: domain, author ready, needs-ci, commit-queue-squash

#41592 doc: remove redunant `await` calls from stream docs
  doc/api/stream.md
Labels: doc, stream, fast-track

#41572 test: improve util-format code coverage
  test/parallel/test-util-format.js
Labels: util, test, author ready, needs-ci

#41574 doc: simplify util.TextDecoder example
  doc/api/util.md
Labels: util, doc

#38590 dgram: remove unreachable connectState assign
  lib/dgram.js
Labels: dgram, author ready, needs-ci

#41618 doc: fix deprecated alias description in cluster
  doc/api/cluster.md
Labels: cluster, doc, fast-track, author ready

#41511 test: improve test coverage of internal/worker/io
  test/parallel/test-broadcastchannel-custom-inspect.js
Labels: test, needs-ci

#41609 doc: fix async_hooks example in api docs
  doc/api/async_hooks.md
Labels: doc, async_hooks, fast-track, author ready

#41392 readline: undo previous edit when get key code `0x1F`
  doc/api/readline.md
  lib/internal/readline/interface.js
  test/parallel/test-readline-interface.js
Labels: readline, author ready, needs-ci, commit-queue-squash

#41624 doc: add missing word in cluster.workers details
  doc/api/cluster.md
Labels: cluster, doc, fast-track

#41586 tools: increase maximum line length to 120 characters
  .eslintrc.js
  test/es-module/test-esm-import-assertion-2.mjs
  test/parallel/test-http2-binding.js
  test/parallel/test-readline-keys.js
  test/parallel/test-url-parse-format.js
  test/parallel/test-util-inspect.js
Labels: tools

#41628 doc: demonstrate dangers of `buffer.slice()`
  doc/api/buffer.md
Labels: buffer, doc, fast-track

#41604 lib: remove erroneous JSDoc entry
  lib/internal/source_map/source_map.js
Labels: author ready, needs-ci, commit-queue-failed

#41634 test: fix typo in test-stream-toArray
  test/parallel/test-stream-toArray.js
Labels: test, fast-track, needs-ci

#41438 doc: add note for handling signal events in trace events
  doc/api/tracing.md
Labels: doc, author ready, commit-queue-squash

#41249 lib: fix consistency of methods that emit warnings
  lib/internal/dns/utils.js
Labels: dns, author ready, needs-ci

#41598 doc: improve `'hex'` Buffer decoding description and examples
  doc/api/buffer.md
Labels: buffer, doc, author ready, commit-queue-squash

#41301 readline: add features yank and yank pop
  doc/api/readline.md
  lib/internal/readline/interface.js
  test/parallel/test-readline-interface.js
Labels: readline, semver-minor, author ready, needs-ci

#41646 doc: add 16 and 17 to previous versions
  BUILDING.md
Labels: doc, build, fast-track

#41619 test: move test-gc-http-client-onerror to sequential
  test/sequential/test-gc-http-client-onerror.js
Labels: test

#41616 doc: suggest worker threads in cluster docs
  doc/api/cluster.md
Labels: cluster, doc, worker

#41583 doc: simplify readline/stdin text
  doc/api/readline.md
Labels: doc, readline

#41615 stream: never flatten on toArray
  doc/api/stream.md
  lib/internal/streams/operators.js
  test/parallel/test-stream-toArray.js
Labels: stream, author ready, needs-ci

#41657 tools: fix typo in tools/code_cache/README.md
  tools/code_cache/README.md
Labels: tools, fast-track

#41626 doc: modernize and simplify cluster example
  doc/api/cluster.md
Labels: cluster, doc, author ready

#41675 tools: use Set instead of `{ [key]: true }` object
  tools/doc/allhtml.mjs
Labels: doc, tools, fast-track

#41605 util: remove unused fast path in internal debuglog
  lib/internal/util/debuglog.js
Labels: util, author ready, needs-ci

#41580 tools: add compile_commands to ignore file
  .gitignore
Labels: meta

#41649 doc: improve TLS/SSL introduction
  doc/api/tls.md
Labels: tls, doc, commit-queue-failed

#41645 doc: fix documentation for `MODULE_NOT_FOUND` and `ERR_MODULE_NOT_FOUND`
  doc/api/errors.md
  doc/api/modules.md
Labels: doc, author ready

#41651 lib: throw error in structuredClone when no arguments are passed
  lib/internal/structured_clone.js
  test/parallel/test-structuredClone-global.js
Labels: needs-ci, commit-queue-squash

#41640 test: remove error allowance in debugger test
  test/sequential/test-debugger-exceptions.js
Labels: test, inspector, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x

#41658 doc: clarify treatment of non-string argument to new URL()
  doc/api/url.md
Labels: doc, url, author ready, commit-queue-squash

#41661 doc: revise url.resolve() text
  doc/api/url.md
Labels: doc, url

#41663 test: remove unneeded test statement
  test/parallel/test-event-emitter-subclass.js
Labels: test, needs-ci

#41664 test: use Object.hasOwn() where applicable
  test/common/report.js
  test/doctool/test-doctool-versions.mjs
  test/parallel/test-child-process-constructor.js
  test/parallel/test-child-process-validate-stdio.js
  test/parallel/test-cluster-basic.js
  test/parallel/test-cluster-dgram-1.js
  test/parallel/test-cluster-dgram-bind-fd.js
  test/parallel/test-disable-proto-delete.js
  test/parallel/test-disable-proto-throw.js
  test/parallel/test-event-emitter-check-listener-leaks.js
  test/parallel/test-fs-stat.js
  test/parallel/test-http-client-default-headers-exist.js
  test/parallel/test-http-server-capture-rejections.js
  test/parallel/test-internal-errors.js
  test/parallel/test-module-version.js
  test/parallel/test-process-config.js
  test/parallel/test-process-env.js
  test/parallel/test-stream-duplex-writable-finished.js
  test/parallel/test-stream-readable-ended.js
  test/parallel/test-stream-writable-finished.js
  test/parallel/test-stream2-basic.js
Labels: author ready, dont-land-on-v12.x, dont-land-on-v14.x

#41668 doc: remove unadvisable cluster example
  doc/api/cluster.md
Labels: cluster, doc, author ready

#41694 doc: fix typo in `technical-priorities.md`
  doc/contributing/technical-priorities.md
Labels: doc, fast-track

#41685 doc: clarify treatment of non-string base in URL()
  doc/api/url.md
Labels: doc, url

#41692 util: use hasOwnProperty() primordial
  lib/internal/util/inspector.js
Labels: util, needs-ci, commit-queue-failed

#41712 doc: fix link to npm documentation
  doc/api/packages.md
Labels: doc, fast-track, author ready

#41650 Docs: should give a descriptive information about the process.platform property & os.platform() function
  doc/api/os.md
  doc/api/process.md
Labels: doc, author ready

#41723 doc: fix typo in contributing guides
  doc/contributing/releases.md
  doc/contributing/static-analysis.md
Labels: doc, fast-track, author ready

#41502 http2: fix memory leak when nghttp2 hd threshold is reached
  src/node_http2.cc
  src/node_http2.h
  test/parallel/test-http2-options-max-headers-exceeds-nghttp2.js
Labels: c++, http2, needs-ci

#41695 tools: use Set instead of `{ [key]: true }` object
  tools/doc/alljson.mjs
Labels: doc, tools

#41701 doc: avoid incomplete sentence in cluster docs
  doc/api/cluster.md
Labels: cluster, doc

#41682 process: unhandledRejection support more errors
  lib/internal/process/promises.js
  test/parallel/test-promise-unhandled-warn.js
Labels: process, promises, errors, needs-ci, commit-queue-squash

#41683 doc: update Mesteery email
  README.md
Labels: doc, commit-queue-squash

#41667 test: replace commented out expectations with tests
  test/js-native-api/test_symbol/test2.js
Labels: test, author ready, needs-ci

#41746 test: fix typo in MessageChannel test
  test/parallel/test-worker-message-port-infinite-message-loop.js
Labels: test, fast-track, author ready

#41751 meta: adjust mailmap/AUTHORS to reflect README change
  .mailmap
  AUTHORS
Labels: meta, fast-track

#41715 test: make fs watch test more stable
  test/pummel/test-fs-watch-non-recursive.js
Labels: test, flaky-test, needs-ci

#41698 lib: refactor source map stack trace prepare
  lib/internal/source_map/prepare_stack_trace.js
Labels: author ready

#41750 meta: update mailmap/AUTHORS info for existing collaborator
  .mailmap
  AUTHORS
Labels: meta, fast-track

#41724 benchmark: replace hasOwnProperty() with Object.hasOwn()
  benchmark/common.js
Labels: benchmark, author ready

#41669 stream: add reduce
  doc/api/stream.md
  lib/internal/streams/end-of-stream.js
  lib/internal/streams/operators.js
  lib/stream/promises.js
  test/parallel/test-stream-reduce.js
Labels: stream, needs-ci, commit-queue-squash

#41728 doc: update modules.md wording
  doc/api/modules.md
Labels: doc, module, author ready, commit-queue-squash

#41720 doc: clarify that import also uses main
  doc/api/packages.md
Labels: doc, author ready, commit-queue-squash

#41769 benchmark: use Object.hasOwn() instead of hasOwnProperty()
  benchmark/http/check_invalid_header_char.js
Labels: fast-track, author ready, dont-land-on-v12.x, dont-land-on-v14.x

#41773 doc: remove section on "recent" ECDH changes
  doc/api/crypto.md
Labels: crypto, doc, fast-track

#41780 doc: use Object.hasOwn() in util doc
  doc/api/util.md
Labels: util, doc, fast-track, author ready, dont-land-on-v12.x, dont-land-on-v14.x

#41736 module: Unflag JSON modules
  doc/api/cli.md
  doc/api/esm.md
  doc/api/packages.md
  doc/node.1
  lib/internal/modules/esm/get_format.js
  src/node_options.cc
  src/node_options.h
  test/es-module/test-esm-assertionless-json-import.js
  test/es-module/test-esm-data-urls.js
  test/es-module/test-esm-dynamic-import-assertion.js
  test/es-module/test-esm-dynamic-import-assertion.mjs
  test/es-module/test-esm-import-assertion-1.mjs
  test/es-module/test-esm-import-assertion-2.mjs
  test/es-module/test-esm-import-assertion-3.mjs
  test/es-module/test-esm-import-assertion-4.mjs
  test/es-module/test-esm-import-assertion-errors.js
  test/es-module/test-esm-import-assertion-errors.mjs
  test/es-module/test-esm-import-json-named-export.mjs
  test/es-module/test-esm-invalid-data-urls.js
  test/es-module/test-esm-json-cache.mjs
  test/es-module/test-esm-json.mjs
  test/es-module/test-esm-non-js.js
  test/es-module/test-esm-non-js.mjs
Labels: c++, module, notable-change, esm, author ready

#41761 crypto: fix `webcrypto.subtle` signature
  lib/internal/crypto/webcrypto.js
Labels: crypto, experimental, author ready, needs-ci
