Repository nodejs/node, pull requests merged in 2022-07, with the labels that each got.

#43558 errors: extract type detection & use in `ERR_INVALID_RETURN_VALUE`
  lib/internal/errors.js
  test/common/index.js
  test/errors/test-error-value-type-detection.mjs
  test/parallel/test-assert-async.js
Labels: errors, needs-ci, commit-queue-squash

#43620 test: mark test-worker-http2-stream-terminate flaky on all platforms
  test/parallel/parallel.status
Labels: test, fast-track, author ready, needs-ci

#43609 doc: promote `0x` to tier 4
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc

#43606 doc: remove dtrace from tierlist
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc

#43553 esm: restore `next<HookName>`'s `context` as optional arg
  doc/api/esm.md
  lib/internal/modules/esm/loader.js
  test/es-module/test-esm-loader-chaining.mjs
  test/fixtures/es-module-loaders/loader-load-null-return.mjs
  test/fixtures/es-module-loaders/loader-resolve-42.mjs
  test/fixtures/es-module-loaders/loader-resolve-null-return.mjs
Labels: esm, loaders, commit-queue-squash

#43615 test: fill `DOMException` names
  test/parallel/test-abortcontroller.js
  test/parallel/test-filehandle-readablestream.js
  test/parallel/test-fs-promises-file-handle-read-worker.js
  test/parallel/test-webcrypto-random.js
  test/parallel/test-whatwg-webstreams-transfer.js
Labels: test, author ready, needs-ci

#43641 http: fix failing test
  test/parallel/test-stream-finished.js
  test/sequential/test-gc-http-client-timeout.js
Labels: test, fast-track, needs-ci, commit-queue-squash

#43632 build,test: increase stack size limit on Windows
  node.gyp
  test/parallel/test-stack-size-limit.js
Labels: windows, build, author ready, needs-ci

#43612 fix: cjs-module-lexer WebAssembly out of memory fallback
  lib/internal/modules/esm/translators.js
Labels: esm, author ready, needs-ci, commit-queue-squash

#43611 doc: add single executable application initiative
  doc/contributing/strategic-initiatives.md
Labels: doc

#43567 test: fix flaky test-perf-hooks-histogram
  test/parallel/test-perf-hooks-histogram.js
Labels: test, needs-ci

#43637 doc: add daeyeon to triagers
  README.md
Labels: doc, author ready

#43677 doc: fix typo in errors.md
  doc/api/errors.md
Labels: doc, errors, fast-track, commit-queue-squash

#43665 doc: fix default of duplex.allowHalfOpen
  doc/api/stream.md
Labels: doc, stream, fast-track

#43690 doc: add note regarding special case of 0 stat.size
  doc/api/fs.md
Labels: doc, fs, fast-track

#43694 doc: improved readability
  doc/api/dns.md
Labels: doc, dns, fast-track

#43706 doc: add Geoffrey Booth to TSC
  README.md
Labels: doc, fast-track

#43705 doc: remove extra 'in's
  doc/api/process.md
Labels: doc, process, fast-track

#43575 src,stream: change return type to `Maybe`
  src/stream_wrap.cc
  src/stream_wrap.h
Labels: c++, author ready, needs-ci, commit-queue-squash

#43461 events: improve `Event` compatibility
  lib/internal/event_target.js
  test/parallel/test-whatwg-events-event-constructors.js
Labels: author ready, needs-ci, commit-queue-squash

#43434 test: improve code coverage for performance_entry.js
  test/parallel/test-perf-hooks-resourcetiming.js
Labels: test, author ready, needs-ci

#43396 module: add isBuiltin method
  doc/api/module.md
  lib/internal/modules/cjs/loader.js
  test/parallel/test-module-isBuiltin.js
Labels: module, author ready, needs-ci, commit-queue-squash

#43625 bootstrap: move global initialization to JS
  lib/internal/bootstrap/node.js
  src/node.cc
Labels: c++, author ready, needs-ci, commit-queue-squash

#43666 test_runner: wait for stderr and stdout to complete
  lib/internal/main/test_runner.js
Labels: needs-ci, commit-queue-squash, test_runner

#43640 assert: callTracker throw a specific error message when possible
  lib/internal/assert/calltracker.js
  test/parallel/test-assert-calltracker-verify.js
Labels: assert, author ready, needs-ci, commit-queue-squash

#43549 test_runner: cancel on termination
  lib/internal/test_runner/harness.js
  test/message/test_runner_desctibe_it.out
  test/message/test_runner_no_refs.out
  test/message/test_runner_only_tests.out
  test/message/test_runner_output.out
  test/message/test_runner_unresolved_promise.out
  test/parallel/test-runner-exit-code.js
Labels: needs-ci, commit-queue-squash, test_runner

#43624 crypto: do not allow to call setFips from the worker thread
  lib/crypto.js
  src/crypto/crypto_util.cc
  test/parallel/test-crypto-fips.js
Labels: crypto, c++, semver-major, author ready, needs-ci, review wanted

#43689 esm: treat `307` and `308` as redirects in HTTPS imports
  lib/internal/modules/esm/fetch_module.js
Labels: esm, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#43698 build: enable GitPod prebuilds
  .gitignore
  .gitpod.yml
Labels: meta, author ready

#43683 util: avoid inline access to Symbol.iterator
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect.js
Labels: util, author ready, needs-ci

#43594 src: NodeArrayBufferAllocator delegates to v8's allocator
  src/api/environment.cc
  src/node_internals.h
Labels: c++, author ready, needs-ci, commit-queue-squash

#43585 test: use Object for `tests` variable in fs trace test
  test/parallel/test-trace-events-fs-sync.js
Labels: test, author ready, needs-ci, commit-queue-squash

#43582 net: add drop event for net server
  doc/api/net.md
  lib/net.js
  test/parallel/test-net-server-drop-connections.js
Labels: net, semver-minor, author ready, needs-ci

#43533 src: fix crash on FSReqPromise destructor
  src/node_file-inl.h
Labels: c++, fs, flaky-test, author ready, needs-ci

#43578 test_runner: protect internals against prototype tampering
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/protoMutation.js
  test/parallel/test-runner-cli.js
Labels: author ready, needs-ci, commit-queue-failed, test_runner

#43646 util: add `AggregateError.prototype.errors` to inspect output
  lib/internal/util/inspect.js
  test/message/error_aggregateTwoErrors.out
Labels: errors, author ready, needs-ci, commit-queue-squash

#43710 net: remove redundant connecting assignment
  lib/net.js
  test/sequential/test-net-connect-handle-econnrefused.js
Labels: net, author ready, needs-ci

#43058 test: add test for profile command of `node inspect`
  test/sequential/test-debugger-profile-command.js
Labels: test, author ready, needs-ci

#43580 http: add diagnostics_channel for http client
  doc/api/diagnostics_channel.md
  lib/_http_client.js
  test/parallel/test-diagnostics-channel-http.js
Labels: http, semver-minor, author ready, needs-ci

#43728 lib: implement safe alternatives to `Promise` static methods
  lib/internal/modules/esm/module_job.js
  lib/internal/per_context/primordials.js
  lib/internal/vm/module.js
  test/parallel/test-primordials-promise.js
Labels: vm, esm, author ready, needs-ci, commit-queue-squash

#43634 cluster, net: fix listen pipe with readable and writable in cluster
  lib/internal/cluster/round_robin_handle.js
  lib/net.js
  test/parallel/test-cluster-listen-pipe-readable-writable.js
Labels: cluster, net, author ready, needs-ci

#43650 cluster: fix fd leak
  lib/internal/cluster/child.js
  test/parallel/test-cluster-worker-handle-close.js
Labels: cluster

#43225 src: merge `RunInThisContext()` with `RunInContext()`
  lib/vm.js
  src/node_contextify.cc
  src/node_contextify.h
  test/parallel/test-trace-events-vm.js
Labels: c++, vm, author ready, needs-ci, commit-queue-squash

#43764 test: fix typo in file name
  test/message/test_runner_describe_it.js
  test/message/test_runner_describe_it.out
Labels: test, fast-track, author ready, commit-queue-failed, test_runner

#43734 doc: remove openssl 1.x reference
  doc/contributing/maintaining-openssl.md
Labels: doc, dont-land-on-v14.x, dont-land-on-v16.x

#42929 lib: make `validateObject` less affected by prototype tampering
  lib/internal/validators.js
  test/parallel/test-validators.js
Labels: author ready, needs-ci, review wanted

#43701 stream: finish pipeline if dst closes before src
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline-duplex.js
Labels: stream, author ready, commit-queue-squash

#43731 test: remove unnecessary .toString() calls in HTTP tests
  test/parallel/test-http-missing-header-separator-cr.js
  test/parallel/test-http-server-close-all.js
  test/parallel/test-http-server-close-idle.js
  test/parallel/test-http-server-headers-timeout-delayed-headers.js
  test/parallel/test-http-server-headers-timeout-interrupted-headers.js
  test/parallel/test-http-server-headers-timeout-keepalive.js
  test/parallel/test-http-server-headers-timeout-pipelining.js
  test/parallel/test-http-server-request-timeout-delayed-body.js
  test/parallel/test-http-server-request-timeout-delayed-headers.js
  test/parallel/test-http-server-request-timeout-interrupted-body.js
  test/parallel/test-http-server-request-timeout-interrupted-headers.js
  test/parallel/test-http-server-request-timeout-keepalive.js
  test/parallel/test-http-server-request-timeout-pipelining.js
  test/parallel/test-http-server-request-timeout-upgrade.js
  test/parallel/test-http-server-request-timeouts-mixed.js
  test/parallel/test-http-transfer-encoding-repeated-chunked.js
  test/parallel/test-http-transfer-encoding-smuggling.js
  test/parallel/test-https-server-close-all.js
  test/parallel/test-https-server-close-idle.js
Labels: http, test, author ready, needs-ci

#43709 cluster: fix closing dgram sockets in cluster workers throws errors
  lib/internal/cluster/child.js
  test/parallel/test-dgram-cluster-close-in-listening.js
Labels: cluster, author ready, needs-ci, commit-queue-squash

#43727 deps: patch V8 to 10.2.154.13
  deps/v8/include/v8-version.h
  deps/v8/src/builtins/arm/builtins-arm.cc
  deps/v8/src/builtins/arm64/builtins-arm64.cc
  deps/v8/src/builtins/ia32/builtins-ia32.cc
  deps/v8/src/builtins/loong64/builtins-loong64.cc
  deps/v8/src/builtins/mips/builtins-mips.cc
  deps/v8/src/builtins/mips64/builtins-mips64.cc
  deps/v8/src/builtins/ppc/builtins-ppc.cc
  deps/v8/src/builtins/riscv64/builtins-riscv64.cc
  deps/v8/src/builtins/s390/builtins-s390.cc
  deps/v8/src/builtins/x64/builtins-x64.cc
  deps/v8/src/compiler/backend/instruction-selector.cc
  deps/v8/src/compiler/backend/instruction-selector.h
  deps/v8/src/compiler/backend/loong64/instruction-selector-loong64.cc
  deps/v8/src/compiler/backend/mips64/instruction-selector-mips64.cc
  deps/v8/src/compiler/backend/riscv64/instruction-selector-riscv64.cc
  deps/v8/src/compiler/backend/x64/instruction-selector-x64.cc
  deps/v8/src/compiler/pipeline.cc
  deps/v8/src/execution/riscv64/frame-constants-riscv64.h
  deps/v8/src/heap/mark-compact.cc
  deps/v8/src/ic/ic.cc
  deps/v8/src/objects/code-kind.h
  deps/v8/src/objects/js-objects.cc
  deps/v8/src/objects/js-objects.h
  deps/v8/src/objects/js-weak-refs-inl.h
  deps/v8/src/objects/js-weak-refs.h
  deps/v8/src/objects/lookup.cc
  deps/v8/src/objects/objects.cc
  deps/v8/src/profiler/profile-generator.cc
  deps/v8/src/profiler/profile-generator.h
  deps/v8/src/runtime/runtime-object.cc
  deps/v8/src/runtime/runtime-wasm.cc
  deps/v8/src/runtime/runtime.h
  deps/v8/src/wasm/baseline/mips64/liftoff-assembler-mips64.h
  deps/v8/src/wasm/wasm-linkage.h
  deps/v8/test/cctest/test-js-weak-refs.cc
  deps/v8/test/mjsunit/regress/regress-crbug-1321899-1.js
  deps/v8/test/mjsunit/regress/regress-crbug-1321899-2.js
  deps/v8/test/mjsunit/regress/regress-crbug-1321899-3.js
  deps/v8/test/mjsunit/regress/regress-crbug-1321899-4.js
  deps/v8/test/mjsunit/regress/regress-crbug-1321899-5.js
  deps/v8/test/mjsunit/regress/regress-crbug-1321899-6.js
  deps/v8/test/mjsunit/regress/regress-crbug-1321899.js
  deps/v8/tools/whitespace.txt
Labels: v8 engine, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x

#43613 test: mark test-net-connect-reset-until-connected flaky on freebsd
  test/parallel/parallel.status
Labels: test, author ready, needs-ci

#43744 doc: remove bullet point referring to Node.js 12
  doc/contributing/maintaining-openssl.md
Labels: doc, author ready

#43729 test_runner: catch errors thrown within `describe`
  lib/internal/test_runner/test.js
  test/message/test_runner_describe_it.js
  test/message/test_runner_describe_it.out
Labels: author ready, needs-ci, commit-queue-failed, commit-queue-squash, test_runner

#43742 esm: throw on any non-2xx response
  lib/internal/modules/esm/fetch_module.js
Labels: esm, author ready, needs-ci

#43792 test: mark test-http-client-response-timeout flaky
  test/parallel/parallel.status
Labels: http, test, flaky-test, fast-track, author ready, needs-ci

#43767 docs: updated ngtcp2 readme
  deps/ngtcp2/README.md
Labels: fast-track, author ready, quic, dont-land-on-v14.x, commit-queue-failed

#43758 repl: use `SafePromiseAll` and `SafePromiseRace`
  lib/internal/debugger/inspect_repl.js
  lib/repl.js
Labels: repl, author ready, needs-ci, debugger

#43743 build: add GitHub token permissions for workflows
  .github/workflows/authors.yml
  .github/workflows/auto-start-ci.yml
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/close-stale-feature-requests.yml
  .github/workflows/close-stalled.yml
  .github/workflows/comment-labeled.yml
  .github/workflows/commit-lint.yml
  .github/workflows/commit-queue.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/daily.yml
  .github/workflows/doc.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/find-inactive-tsc.yml
  .github/workflows/label-pr.yml
  .github/workflows/license-builder.yml
  .github/workflows/linters.yml
  .github/workflows/notify-force-push.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/tools.yml
Labels: meta, author ready

#43745 src: slim down env-inl.h
  src/async_wrap-inl.h
  src/base_object-inl.h
  src/base_object.h
  src/env-inl.h
  src/env.cc
  src/env.h
Labels: c++, lib / src, author ready

#43769 util: refactor to use validateObject
  lib/internal/util/inspect.js
Labels: util, author ready, needs-ci

#43829 build: make GitPod less noisy
  .gitpod.yml
Labels: meta, fast-track, author ready

#43505 test_runner: support timeout for tests
  doc/api/test.md
  lib/internal/test_runner/test.js
  test/message/test_runner_describe_it.js
  test/message/test_runner_describe_it.out
  test/message/test_runner_output.js
  test/message/test_runner_output.out
Labels: needs-ci, commit-queue-squash, test_runner

#43556 domain: fix vm promise tracking while keeping isolation
  lib/domain.js
  test/parallel/test-domain-vm-promise-isolation.js
Labels: confirmed-bug, domain, needs-ci

#43797 test: complete TODO in test/wpt/test-url.js
  test/wpt/test-url.js
Labels: test, author ready, needs-ci

#43768 doc: revert anachronistic 'node:' prefixed module require()s in API history notes
  doc/api/dns.md
  doc/api/fs.md
  doc/api/path.md
  doc/api/util.md
Labels: doc, author ready

#43576 util: add support for `maxArrayLength` when inspecting `Set` and `Map`
  doc/api/util.md
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect.js
Labels: util, semver-minor, author ready, needs-ci, needs-citgm, backport-blocked-v18.x

#43756 src: deduplicate SetALPN implementations
  src/crypto/crypto_common.cc
  src/crypto/crypto_common.h
  src/crypto/crypto_tls.cc
Labels: tls, c++, lib / src, author ready, needs-ci, commit-queue-failed

#43799 doc: add MoLow to triagers
  README.md
Labels: doc, author ready

#43780 src: fix node watchdog race condition
  src/node_watchdog.cc
  src/node_watchdog.h
  test/parallel/test-vm-break-on-sigint.js
Labels: c++, author ready, needs-ci

#43668 src: pass only `Isolate*` and `env_vars` to `EnabledDebugList::Parse()`
  src/debug_utils.cc
  src/debug_utils.h
  src/env.cc
  src/env.h
  src/node.cc
  src/node_credentials.cc
  src/node_internals.h
  src/util.h
Labels: c++, lib / src, author ready, needs-ci

#43651 build: remove systemtap support
  configure.py
  src/node.stp
  tools/install.py
Labels: c++, semver-major, lib / src

#43738 doc: deprecate coercion to integer in `process.exit()`
  doc/api/deprecations.md
Labels: doc, notable-change, author ready, deprecations, commit-queue-squash

#43847 doc: update (more) links to MDN page about dynamic imports
  doc/api/crypto.md
  doc/api/http2.md
  doc/api/https.md
  doc/api/modules.md
  doc/api/tls.md
Labels: doc, fast-track, author ready

#43757 test_runner: fix `it` concurrency
  lib/internal/test_runner/test.js
  test/message/test_runner_describe_it.out
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#43736 doc: add link to diagnostic tools
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc, author ready

#43827 repl: fix overzealous top-level await
  lib/internal/repl/await.js
  lib/repl.js
  test/parallel/test-repl-preprocess-top-level-await.js
  test/parallel/test-repl-top-level-await.js
Labels: repl, author ready, needs-ci

#43830 doc: document ES2022's Error "cause" property
  doc/api/errors.md
Labels: doc, errors, author ready, dont-land-on-v14.x, commit-queue-squash

#43820 lib: use private field in AbortController
  lib/internal/abort_controller.js
  test/parallel/test-abortcontroller.js
Labels: semver-major, author ready, needs-ci

#43808 doc: add platform-windows-arm to who to CC
  doc/contributing/collaborator-guide.md
Labels: doc, author ready

#43514 events: add `CustomEvent`
  doc/api/events.md
  lib/internal/event_target.js
  test/parallel/test-events-customevent.js
  test/parallel/test-eventtarget-brandcheck.js
  tools/doc/type-parser.mjs
Labels: doc, semver-minor, tools, author ready, needs-ci

#43841 doc: add history info for `global.performance`
  doc/api/globals.md
Labels: doc, fast-track, author ready, dont-land-on-v14.x

#43652 build: remove dtrace & etw support
  common.gypi
  configure.py
  doc/api/process.md
  lib/_http_client.js
  lib/_http_server.js
  lib/internal/dtrace.js
  lib/net.js
  node.gyp
  src/node.cc
  src/node.d
  src/node_binding.cc
  src/node_config.cc
  src/node_dtrace.cc
  src/node_dtrace.h
  src/node_external_reference.h
  src/node_provider.d
  src/node_win32_etw_provider-inl.h
  src/node_win32_etw_provider.cc
  src/node_win32_etw_provider.h
  src/res/node_etw_provider.man
  src/v8ustack.d
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-internal-dtrace.js
  tools/install.py
  tools/msvs/msi/i18n/de-de.wxl
  tools/msvs/msi/i18n/en-us.wxl
  tools/msvs/msi/i18n/it-it.wxl
  tools/msvs/msi/i18n/zh-cn.wxl
  tools/msvs/msi/nodemsi.wixproj
  tools/msvs/msi/product.wxs
  vcbuild.bat
Labels: semver-major, lib / src, commit-queue-failed

#43763 esm: prevent erroneous re-initialization of ESMLoader
  lib/internal/process/esm_loader.js
  test/es-module/test-esm-initialization.mjs
  test/fixtures/es-modules/runmain.mjs
Labels: process, esm, needs-ci, loaders, commit-queue-squash

#43856 crypto: remove unneeded guard
  lib/internal/crypto/cfrg.js
  lib/internal/crypto/keys.js
Labels: crypto, author ready, needs-ci

#43345 child_process: avoid repeated calls to `normalizeSpawnArguments`
  lib/child_process.js
  test/parallel/test-child-process-execfile.js
Labels: child_process, author ready, needs-ci, commit-queue-squash

#43850 test: add check to test-fs-readfile-tostring-fail
  test/pummel/test-fs-readfile-tostring-fail.js
Labels: test, author ready, needs-ci, commit-queue-squash

#43884 esm: remove superfluous argument
  lib/internal/modules/esm/resolve.js
Labels: esm, fast-track, author ready, needs-ci

#43714 fs: use signed types for `stat` data
  lib/internal/fs/utils.js
  src/aliased_buffer.h
  src/node_file-inl.h
  src/node_file.h
  test/parallel/test-fs-stat-date.mjs
Labels: c++, fs, lib / src, author ready, needs-ci, commit-queue-squash

#43459 util: add tokens to parseArgs
  doc/api/util.md
  lib/internal/util/parse_args/parse_args.js
  test/parallel/test-parse-args.mjs
Labels: util, semver-minor, author ready, needs-ci, commit-queue-squash

#43879 build: add .gitattributes for npm and other shims
  .gitattributes
Labels: meta, author ready, needs-ci

#43858 test: ensure NODE_EXTRA_CA_CERTS not set before tests
  test/parallel/test-tls-env-extra-ca-file-load.js
Labels: test, author ready, needs-ci, commit-queue-squash

#43554 test_runner: pass abort signal to test
  doc/api/test.md
  lib/internal/main/test_runner.js
  lib/internal/test_runner/test.js
  test/message/test_runner_abort.js
  test/message/test_runner_abort.out
  test/message/test_runner_abort_suite.js
  test/message/test_runner_abort_suite.out
  test/message/test_runner_describe_it.js
  test/message/test_runner_describe_it.out
Labels: needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, test_runner

#43836 doc: improve test runner timeout docs
  doc/api/test.md
Labels: doc, test, author ready, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, test_runner

#43178 test: refactor `test/es-module/test-esm-resolve-type`
  test/es-module/test-esm-resolve-type.mjs
Labels: test, esm, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x

#43919 test_runner: do not report an error when tests are passing
  lib/internal/main/test_runner.js
  test/parallel/test-runner-exit-code.js
Labels: fast-track, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, test_runner

#43822 child_process: skip count length when maxBuffer is Infinity
  lib/child_process.js
Labels: child_process, author ready, needs-ci

#43891 test: merge test-crypto-dh-hash with modp18 test
  test/pummel/test-crypto-dh-hash-modp18.js
  test/pummel/test-crypto-dh-hash.js
Labels: crypto, test, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x

#43806 http: add drop request event for http server
  doc/api/http.md
  lib/_http_server.js
  test/parallel/test-http-keep-alive-drop-requests.js
  test/parallel/test-https-keep-alive-drop-requests.js
Labels: http, semver-minor, author ready, needs-ci

#43913 tools: add verbose flag to inactive TSC finder
  tools/find-inactive-tsc.mjs
Labels: tools, author ready, commit-queue-squash

#43885 events: expose `CustomEvent` on the global scope via a CLI flag
  .eslintrc.js
  doc/api/cli.md
  doc/api/globals.md
  doc/node.1
  lib/.eslintrc.yaml
  lib/internal/bootstrap/pre_execution.js
  lib/internal/main/worker_thread.js
  src/node_options.cc
  src/node_options.h
  test/common/index.js
  test/parallel/test-global-customevent.js
  test/wpt/status/dom/events.json
  test/wpt/test-events.js
Labels: c++, semver-minor, author ready, needs-ci, eventtarget, commit-queue-squash

#43933 doc: fix typo in http.md
  doc/api/http.md
Labels: http, doc, author ready

#43927 deps: update hast-util-raw
  tools/doc/package-lock.json
Labels: doc, tools, author ready

#43889 lib: refactor PriorityQueue to use private field
  lib/internal/priority_queue.js
Labels: author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash

#43857 test: simplify ReplStream.wait()
  test/parallel/test-repl-preview.js
  test/parallel/test-repl-top-level-await.js
Labels: test, author ready, needs-ci

#43912 dns: fix cares memory leak
  src/cares_wrap.cc
Labels: c++, cares, author ready, needs-ci

#43922 dns: fix getServers return undefined
  lib/internal/dns/utils.js
  test/parallel/test-dns-get-server.js
Labels: dns, author ready, needs-ci

#43747 cluster: send or handle later instead of closing it when the worker can not accept a connection
  lib/internal/cluster/child.js
  test/parallel/test-cluster-net-server-drop-connection.js
Labels: cluster, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#43685 stream: fix 0 transform hwm backpressure
  lib/internal/streams/transform.js
  test/parallel/test-stream-passthrough-drain.js
  test/parallel/test-stream-transform-hwm0.js
  test/parallel/test-stream-transform-split-highwatermark.js
Labels: stream, author ready, commit-queue-failed, commit-queue-squash

#43762 util: remove unicode support todo for perf implications
  lib/internal/util/inspect.js
Labels: util, author ready, commit-queue-failed

#43924 doc: remind backporter about v8_embedder_string
  doc/contributing/maintaining-V8.md
Labels: doc, author ready

#43907 fix: avoid override by assignment
  lib/internal/process/per_thread.js
Labels: process, author ready, needs-ci

#43794 meta: update `node-api` in label-pr-config
  .github/label-pr-config.yml
Labels: meta, node-api, author ready

#43968 doc: fix typo in src/crypto/README.md
  src/crypto/README.md
Labels: crypto, c++, fast-track, author ready

#43935 test: fix test http upload timeout
  test/pummel/test-http-upload-timeout.js
Labels: test, author ready, needs-ci

#43819 test: use `common.mustNotMutateObjectDeep()` in fs tests
  test/parallel/test-fs-access.js
  test/parallel/test-fs-append-file-sync.js
  test/parallel/test-fs-cp.mjs
  test/parallel/test-fs-mkdir.js
  test/parallel/test-fs-opendir.js
  test/parallel/test-fs-promises-file-handle-readFile.js
  test/parallel/test-fs-promises-write-optional-params.js
  test/parallel/test-fs-read-optional-params.js
  test/parallel/test-fs-read-position-validation.mjs
  test/parallel/test-fs-read-promises-optional-params.js
  test/parallel/test-fs-read-stream.js
  test/parallel/test-fs-readSync-optional-params.js
  test/parallel/test-fs-readSync-position-validation.mjs
  test/parallel/test-fs-readfile-flags.js
  test/parallel/test-fs-rm.js
  test/parallel/test-fs-stat-bigint.js
  test/parallel/test-fs-stream-options.js
  test/parallel/test-fs-write-optional-params.js
  test/parallel/test-fs-write-sync-optional-params.js
Labels: test, author ready, needs-ci, commit-queue-squash

#43949 http: fix http server connection list when close
  lib/_http_common.js
  src/node_http_parser.cc
  test/parallel/test-http-server-connection-list-when-close.js
Labels: http, c++, http_parser, fast-track, author ready

#43911 test_runner: pass signal on timeout
  lib/internal/test_runner/test.js
  test/message/test_runner_output.out
  test/parallel/test-runner-misc.js
Labels: author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, test_runner

#43910 doc: clarify subprocess.stdout/in/err property
  doc/api/child_process.md
Labels: child_process, doc, author ready

#43878 test: simplify test-tls-set-secure-context
  test/parallel/test-tls-set-secure-context.js
Labels: test, author ready, needs-ci

#43866 stream: improve `ArrayBufferView` validation in `respondWithNewView()`
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/util.js
  test/parallel/test-whatwg-readablebytestream-bad-buffers-and-views.js
Labels: util, c++, experimental, author ready, needs-ci, web streams, commit-queue-squash

#43843 test_runner: validate `timeout` option
  lib/internal/test_runner/test.js
  lib/internal/validators.js
  test/parallel/test-runner-option-validation.js
Labels: experimental, author ready, needs-ci, dont-land-on-v14.x, commit-queue-failed, dont-land-on-v16.x, test_runner

#43887 Add test concurrency flag
  doc/api/test.md
  lib/internal/test_runner/test.js
  test/parallel/test-runner-concurrency.js
Labels: experimental, author ready, needs-ci, dont-land-on-v14.x, commit-queue-failed, dont-land-on-v16.x, commit-queue-squash, test_runner

#43787 test: work scheduled in process.nextTick can keep the event loop alive
  test/parallel/test-process-beforeexit.js
Labels: test, author ready, needs-ci, commit-queue-squash

#43938 buffer: do not leak memory if buffer is too big
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci

#43903 trace_events: trace net connect event
  doc/api/tracing.md
  src/connection_wrap.cc
  src/pipe_wrap.cc
  src/tcp_wrap.cc
  test/parallel/test-trace-events-net.js
Labels: c++, lib / src, author ready, needs-ci

#43877 test: remove test-whatwg-events-add-event-listener-options-once.js
  test/parallel/test-whatwg-events-add-event-listener-options-once.js
Labels: test, author ready, needs-ci

#43779 inspector: set sampling interval before start
  src/inspector_profiler.cc
Labels: c++, inspector, author ready, needs-ci

#43010 net: fix socket._getpeername
  lib/net.js
  test/parallel/test-net-remote-address.js
Labels: net, needs-ci, commit-queue-squash

#43934 doc: recommend git-node-v8
  doc/contributing/maintaining-V8.md
Labels: doc, author ready, commit-queue-squash

#43954 tools: add more options to track flaky tests
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/doc.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  tools/test.py
Labels: test, meta, tools, author ready, commit-queue-squash

#43979 src: remove dead code in base64_encode
  src/base64-inl.h
Labels: buffer, c++, fast-track, author ready, needs-ci

#43759 doc: improve documentation for safe `Promise` statics alternatives
  doc/contributing/primordials.md
Labels: doc, author ready, commit-queue-squash

#43958 test: update WPT encoding tests and encoding.json
  test/fixtures/wpt/README.md
  test/fixtures/wpt/encoding/encodeInto.any.js
  test/fixtures/wpt/encoding/encodeInto.any.js.headers
  test/fixtures/wpt/encoding/idlharness-shadowrealm.window.js
  test/fixtures/wpt/encoding/sharedarraybuffer.https.html
  test/fixtures/wpt/encoding/sharedarraybuffer.https.html.headers
  test/fixtures/wpt/encoding/single-byte-decoder.window.js
  test/fixtures/wpt/encoding/streams/decode-utf8.any.js
  test/fixtures/wpt/encoding/streams/decode-utf8.any.js.headers
  test/fixtures/wpt/encoding/textdecoder-copy.any.js.headers
  test/fixtures/wpt/encoding/textdecoder-eof.any.js
  test/fixtures/wpt/encoding/textdecoder-streaming.any.js
  test/fixtures/wpt/encoding/textdecoder-streaming.any.js.headers
  test/fixtures/wpt/versions.json
  test/wpt/status/encoding.json
Labels: test, author ready, needs-ci, dont-land-on-v14.x

#43896 src: refactor DH groups to delete crypto_groups.h
  src/crypto/crypto_dh.cc
  src/crypto/crypto_dh.h
  src/crypto/crypto_groups.h
  src/node_crypto.h
Labels: crypto, c++, author ready, needs-ci, review wanted

#43985 doc: update email and mailmap for BethGriggs
  .mailmap
  README.md
Labels: doc, meta, fast-track

#43967 esm: move package config helpers
  lib/internal/modules/esm/package_config.js
  lib/internal/modules/esm/resolve.js
  test/parallel/test-bootstrap-modules.js
Labels: esm, author ready, loaders, commit-queue-squash

#43964 tools: add verbose flag to find-inactive-collaborators
  tools/find-inactive-collaborators.mjs
Labels: tools, author ready

#43989 doc: add missing test runner option
  doc/api/test.md
Labels: doc, test, fast-track, author ready, dont-land-on-v14.x, dont-land-on-v16.x, test_runner

#43990 test: change misleading variable name
  test/pummel/test-crypto-dh-hash.js
Labels: crypto, test, fast-track, author ready, needs-ci

#43997 doc: fix typos in `test.md`
  doc/api/test.md
Labels: doc, fast-track, author ready, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, test_runner

#43961 test: fix test-cluster-concurrent-disconnect
  test/parallel/test-cluster-concurrent-disconnect.js
Labels: test, author ready, needs-ci

#43629 src: turn embedder api overload into default argument
  src/node.cc
  src/node.h
Labels: c++, semver-major, author ready, needs-ci

#43981 test: reduce loop times for preventing test from timeout
  test/parallel/test-vm-break-on-sigint.js
Labels: test, fast-track, author ready, needs-ci

#43976 test_runner: validate `concurrency` option
  lib/internal/test_runner/test.js
  test/parallel/test-runner-option-validation.js
Labels: experimental, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, test_runner

#43975 net: add local family
  doc/api/net.md
  lib/net.js
  test/parallel/test-net-local-address-port.js
Labels: net, semver-minor, author ready, needs-ci

#43971 test: remove test-gc-http-client-timeout from flaky list
  test/sequential/sequential.status
Labels: test, author ready, needs-ci

#43921 deps: cherry-pick 00704f5a from V8 upstream
  common.gypi
  deps/v8/include/v8-array-buffer.h
  deps/v8/src/api/api.cc
  deps/v8/test/cctest/test-api-array-buffer.cc
Labels: v8 engine, author ready, needs-ci, commit-queue-squash

#43849 lib: add `Promise` methods to `avoid-prototype-pollution` lint rule
  lib/internal/debugger/inspect.js
  lib/internal/http2/core.js
  lib/internal/main/worker_thread.js
  lib/internal/modules/esm/module_job.js
  lib/internal/per_context/primordials.js
  lib/internal/streams/operators.js
  lib/internal/webstreams/readablestream.js
  test/parallel/test-eslint-avoid-prototype-pollution.js
  test/parallel/test-primordials-promise.js
  tools/eslint-rules/avoid-prototype-pollution.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#44005 doc: fix typo in packages.md
  doc/api/packages.md
Labels: doc, fast-track, author ready

#43977 test_runner: graceful termination on `--test` only
  lib/internal/test_runner/harness.js
  test/fixtures/test-runner/never_ending_async.js
  test/fixtures/test-runner/never_ending_sync.js
  test/parallel/test-runner-exit-code.js
Labels: author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, test_runner
