Repository nodejs/node, pull requests merged in 2022-10, with the labels that each got.

#44794 doc: include last security release date
  doc/contributing/security-release-process.md
Labels: doc, commit-queue-squash

#44770 stream: handle enqueuing chunks when a pending BYOB pull request exists
  lib/internal/webstreams/readablestream.js
  test/wpt/status/streams.json
Labels: author ready, needs-ci, web streams

#44724 doc: update node prefix require.cache example
  doc/api/modules.md
Labels: doc, module

#44863 meta: fix `test_runner` labeling
  .github/label-pr-config.yml
Labels: meta, fast-track

#44858 doc: add anchor link for --preserve-symlinks
  doc/api/cli.md
Labels: doc, cli, fast-track

#44824 test: check server status in test-tls-psk-client
  test/sequential/test-tls-psk-client.js
Labels: test, author ready, needs-ci

#44809 test: remove unused variable in addon test
  test/addons/report-api/binding.cc
Labels: test, addons, author ready, needs-ci

#44806 doc: add extra step reporter pre-approval
  doc/contributing/security-release-process.md
Labels: doc

#44810 test: skip some binding tests on IBMi PASE
  test/addons/addons.status
Labels: test, addons, author ready, needs-ci, ibm i

#42894 fs: add directory autodetection to `fsPromises.symlink()`
  doc/api/fs.md
  lib/internal/fs/promises.js
  test/parallel/test-fs-symlink-dir.js
Labels: fs, semver-major, author ready, needs-ci, commit-queue-squash

#42771 test: improve lib/internal/source_map/source_map.js coverage
  test/fixtures/source-map/disk-index.map
  test/parallel/test-source-map-api.js
Labels: test, author ready, needs-ci

#44827 node-api: create reference only when needed
  src/js_native_api_v8.cc
Labels: c++, node-api, author ready

#44049 build: convert V8 test JSON to JUnit XML
  .gitignore
  Makefile
  tools/test-v8.bat
  tools/v8-json-to-junit.py
Labels: build, meta, tools

#44852 src: use OnScopeLeave instead of multiple free()
  src/crypto/crypto_common.cc
Labels: tls, crypto, c++, author ready, needs-ci

#44854 doc: remove unnecessary leading commas
  doc/api/test.md
Labels: doc, dont-land-on-v14.x, test_runner

#44859 esm: remove specifier resolution flag
  doc/api/cli.md
  doc/api/esm.md
  doc/node.1
  lib/internal/modules/esm/formats.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/run_main.js
  lib/repl.js
  src/node_options.cc
  src/node_options.h
  test/es-module/test-esm-experimental-warnings.mjs
  test/es-module/test-esm-specifiers-symlink.mjs
  test/es-module/test-esm-specifiers.mjs
  test/fixtures/es-module-specifiers/dir-with-main/main.js
  test/fixtures/es-module-specifiers/dir-with-main/package.json
  test/fixtures/es-module-specifiers/package-type-commonjs/a.js
  test/fixtures/es-module-specifiers/package-type-commonjs/b.mjs
  test/fixtures/es-module-specifiers/package-type-commonjs/c.cjs
  test/fixtures/es-module-specifiers/package-type-commonjs/index.mjs
  test/fixtures/es-module-specifiers/package-type-commonjs/package.json
  test/fixtures/es-module-specifiers/package-type-module/a.js
  test/fixtures/es-module-specifiers/package-type-module/b.mjs
  test/fixtures/es-module-specifiers/package-type-module/c.cjs
  test/fixtures/es-module-specifiers/package-type-module/index.js
  test/fixtures/es-module-specifiers/package-type-module/package.json
Labels: module, lib / src, notable-change, experimental, esm, author ready, needs-ci, dont-land-on-v14.x, loaders, dont-land-on-v16.x, dont-land-on-v18.x

#44703 lib: add cause to DOMException
  lib/internal/per_context/domexception.js
  test/parallel/test-domexception-cause.js
Labels: needs-ci

#44850 doc: grammar fix in dns docs
  doc/api/dns.md
Labels: doc, dns, author ready, commit-queue-squash

#44496 tools: make utils.SearchFiles deterministic
  tools/utils.py
Labels: build, python, needs-ci

#44855 src: avoid X509_free in loops in crypto_x509.cc
  src/crypto/crypto_context.cc
Labels: tls, crypto, c++, author ready, needs-ci

#44849 src: deduplicate setting RSA OAEP label
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_rsa.cc
  src/crypto/crypto_util.cc
  src/crypto/crypto_util.h
Labels: crypto, c++, lib / src, author ready, needs-ci

#44543 src: remove UncheckedMalloc(0) workaround
  src/string_bytes.cc
  src/util-inl.h
  test/cctest/test_util.cc
Labels: c++, author ready, needs-ci

#44892 doc,crypto: mark experimental algorithms more visually
  doc/api/webcrypto.md
  doc/api_assets/style.css
Labels: crypto, doc, experimental, author ready, webcrypto

#44295 fs: improve promise based readFile performance for big files
  benchmark/fs/readfile-promises.js
  lib/fs.js
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises-readfile.js
Labels: fs

#44818 http: be more aggressive to reply 400, 408 and 431
  doc/api/http.md
  lib/_http_server.js
  test/parallel/test-http-server-headers-timeout-keepalive.js
  test/parallel/test-http-server-headers-timeout-pipelining.js
  test/parallel/test-http-server-request-timeout-keepalive.js
  test/parallel/test-http-server-request-timeout-pipelining.js
Labels: http, commit-queue-squash

#44899 doc: move release keys we don't use anymore in README
  README.md
Labels: fast-track, commit-queue-squash

#44711 process: runtime deprecate coercion to integer in `process.exit()`
  doc/api/deprecations.md
  lib/internal/bootstrap/node.js
  lib/internal/process/per_thread.js
  lib/internal/process/warning.js
  lib/internal/util.js
  test/parallel/test-process-exit-code-deprecation.js
Labels: util, semver-major, process, author ready, needs-ci

#44896 lib: require JSDoc in internal validators code
  lib/internal/validators.js
Labels: author ready, needs-ci, commit-queue-failed

#44846 test: check `--test` is disallowed in NODE_OPTIONS
  test/parallel/test-cli-node-options-disallowed.js
Labels: test, author ready, needs-ci

#44631 util: add default value option to parsearg
  doc/api/util.md
  lib/internal/util/parse_args/parse_args.js
  lib/internal/util/parse_args/utils.js
  lib/internal/validators.js
  test/parallel/test-parse-args.mjs
Labels: util, semver-minor, author ready, commit-queue-squash

#44707 test: loosen test for negative timestamps in `test-fs-stat-date`
  test/parallel/test-fs-stat-date.mjs
Labels: fs, test, needs-ci

#44864 test: don't clobber RegExp.$_ on startup
  test/common/index.js
Labels: test, author ready

#42880 (changelog_v12) Fix typo
  doc/changelogs/CHANGELOG_V12.md
Labels: release

#44920 doc: fix label name in collaborator guide
  doc/contributing/collaborator-guide.md
Labels: doc, fast-track

#44912 doc: remove Legacy status from querystring
  doc/api/querystring.md
Labels: doc, querystring, author ready

#44897 crypto: graduate webcrypto to stable
  doc/api/webcrypto.md
Labels: crypto, doc, notable-change, webcrypto, dont-land-on-v16.x, dont-land-on-v18.x

#42590 fs: add `FileHandle.prototype.readLines`
  doc/api/fs.md
  lib/internal/fs/promises.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-fs-promises-file-handle-readLines.mjs
Labels: fs, semver-minor, author ready, needs-ci, review wanted

#44860 lib: enable global CustomEvent by default
  doc/api/cli.md
  doc/api/globals.md
  doc/node.1
  lib/internal/process/pre_execution.js
  src/node_options.cc
  src/node_options.h
  test/parallel/test-global-customevent-disabled.js
  test/parallel/test-global-customevent.js
  test/parallel/test-repl-tab-complete.js
  test/wpt/test-events.js
Labels: c++, semver-major, author ready, needs-ci, needs-citgm, eventtarget

#44646 doc: mention `corepack prepare` supports dist-tag
  doc/api/corepack.md
Labels: doc, author ready, commit-queue-failed

#44914 src: remove uid_t/gid_t casts
  src/node_credentials.cc
Labels: c++, process, security, author ready, needs-ci

#44890 crypto: add causes to applicable webcrypto's OperationError
  lib/internal/crypto/aes.js
  lib/internal/crypto/cfrg.js
  lib/internal/crypto/ec.js
  lib/internal/crypto/mac.js
  lib/internal/crypto/rsa.js
  lib/internal/crypto/util.js
Labels: crypto, lib / src, experimental, author ready, needs-ci, webcrypto

#44434 src,stream: improve DoWrite() and Write()
  src/node_http2.cc
  src/stream_base-inl.h
  src/stream_base.cc
  src/stream_base.h
Labels: c++, lib / src, commit-queue-squash

#44349 path: add dot for path.format if absent in ext
  doc/api/path.md
  lib/path.js
  test/parallel/test-path-parse-format.js
Labels: semver-major, path, needs-ci, needs-citgm

#44922 fs: fix opts.filter issue in cp async
  lib/internal/fs/cp/cp.js
  test/parallel/test-fs-cp.mjs
Labels: fs, author ready, needs-ci, commit-queue-squash

#44861 test: add logs to watch-mode-inspect
  test/sequential/test-watch-mode-inspect.mjs
Labels: test, flaky-test, needs-ci

#44888 doc: improve building doc for Android
  BUILDING.md
Labels: doc, build, review wanted

#40237 doc: add fsPromises.readFile() example
  doc/api/fs.md
Labels: doc, fs, commit-queue-squash

#44962 doc: fix backticks in fs API docs
  doc/api/fs.md
Labels: doc, fs, fast-track, author ready

#44919 doc: deprecate url.parse()
  doc/api/deprecations.md
  doc/api/url.md
Labels: doc, notable-change, tsc-agenda, author ready, commit-queue-squash

#44867 stream: fix `size` function returned from QueuingStrategies
  lib/internal/webstreams/queuingstrategies.js
  test/wpt/status/streams.json
Labels: author ready, needs-ci, web streams

#44921 Revert "http: do not leak error listeners"
  lib/_http_server.js
  test/parallel/test-http-socket-listeners.js
Labels: http, needs-ci, commit-queue-failed

#44946 crypto: simplify webcrypto ECDH deriveBits
  lib/internal/crypto/diffiehellman.js
  lib/internal/crypto/webcrypto.js
Labels: crypto, experimental, author ready, needs-ci, webcrypto

#44945 crypto: remove webcrypto HKDF and PBKDF2 default-applied lengths
  lib/internal/crypto/hkdf.js
  lib/internal/crypto/pbkdf2.js
  test/parallel/test-webcrypto-derivebits-hkdf.js
  test/pummel/test-webcrypto-derivebits-pbkdf2.js
Labels: crypto, experimental, author ready, needs-ci, webcrypto

#44917 crypto: fix webcrypto HMAC "get key length" in deriveKey and generateKey
  lib/internal/crypto/mac.js
  lib/internal/crypto/util.js
  lib/internal/crypto/webcrypto.js
  test/parallel/test-webcrypto-derivekey.js
  test/parallel/test-webcrypto-keygen.js
Labels: crypto, experimental, author ready, needs-ci, webcrypto

#43153 events: add null check for the signal of EventTarget
  lib/internal/event_target.js
  test/parallel/test-whatwg-events-add-event-listener-options-signal.js
  test/wpt/status/dom/events.json
Labels: semver-major, author ready, needs-ci, commit-queue-squash

#44902 perf_hooks: convert maxSize to IDL value in setResourceTimingBufferSize
  lib/internal/perf/performance.js
  lib/internal/webidl.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-internal-webidl-converttoint.js
  test/parallel/test-performance-resourcetimingbuffersize.js
Labels: perf_hooks, needs-ci

#44250 inspector: introduce inspector/promises API
  doc/api/inspector.md
  lib/inspector/promises.js
  src/node_builtins.cc
  test/parallel/test-inspector-promises.js
Labels: semver-major, inspector, author ready, needs-ci

#44961 deps: V8: cherry-pick c2792e58035f
  common.gypi
  deps/v8/AUTHORS
  deps/v8/src/base/logging.h
  deps/v8/src/inspector/v8-string-conversions.h
Labels: build, v8 engine, needs-ci

#44782 child_process: validate arguments for null bytes
  lib/child_process.js
  test/parallel/test-child-process-reject-null-bytes.js
Labels: child_process, author ready, needs-ci

#44903 src: return void in InitializeInspector()
  src/api/environment.cc
  src/env.h
  src/node.cc
  src/node_main_instance.cc
  src/node_snapshotable.cc
  test/parallel/test-inspect-address-in-use.js
Labels: c++, lib / src, needs-ci

#44869 bootstrap: merge main thread and worker thread initializations
  lib/internal/main/worker_thread.js
  lib/internal/process/pre_execution.js
Labels: process, needs-ci

#44657 events: add unique events benchmark
  benchmark/events/ee-listen-unique.js
Labels: events, benchmark

#44874 http,http2: support more attributes for early hint link
  lib/internal/validators.js
  test/parallel/test-validators.js
Labels: http, http2, needs-ci

#44980 test: refactor promises to async/await
  test/sequential/test-debugger-break.js
Labels: test, author ready, needs-ci

#44955 test: improve test coverage in `test-child-process-spawn-argv0.js`
  test/parallel/test-child-process-spawn-argv0.js
Labels: test, author ready, needs-ci

#44970 test: add test to improve coverage in test-http2-compat-serverresponse-write.js
  test/parallel/test-http2-compat-serverresponse-write.js
Labels: test, needs-ci

#44918 lib: make properties on Blob and URL enumerable
  lib/internal/blob.js
  lib/internal/url.js
  test/parallel/test-blob.js
  test/parallel/test-whatwg-url-properties.js
Labels: whatwg-url, author ready, needs-ci, commit-queue-squash

#44862 lib: promise version of `streams.finished` call cleanup after eos
  doc/api/stream.md
  lib/internal/streams/end-of-stream.js
  test/parallel/test-stream-promises.js
Labels: author ready, commit-queue-squash

#44983 src: iwyu in cleanup_queue.cc
  src/cleanup_queue.cc
Labels: c++, author ready, needs-ci

#44959 test: improve test coverage for `os` package
  test/parallel/test-os-process-priority.js
Labels: test, needs-ci

#45004 doc: improve the workflow to test release binaries
  doc/contributing/releases.md
Labels: doc, fast-track, author ready

#45011 url: improve url.parse() compliance with WHATWG URL
  lib/url.js
  test/parallel/test-url-parse-format.js
Labels: url, author ready, needs-ci

#45012 url: improve port validation
  lib/url.js
  test/parallel/test-url-parse-format.js
  test/parallel/test-url-parse-invalid-input.js
Labels: url, author ready, needs-ci

#44990 benchmark: add initial blob benchmark
  benchmark/blob/blob.js
  test/benchmark/test-benchmark-blob.js
Labels: benchmark, author ready, commit-queue-squash

#45000 doc: fix http and http2 writeEarlyHints() parameter
  doc/api/http.md
  doc/api/http2.md
Labels: doc, author ready, dont-land-on-v14.x, commit-queue-failed, dont-land-on-v16.x

#45039 lib: fix typo in `pre_execution.js`
  lib/internal/process/pre_execution.js
Labels: process, fast-track, author ready, needs-ci

#45027 test: remove unnecessary noop function args to mustCall()
  test/async-hooks/test-late-hook-enable.js
  test/parallel/test-async-hooks-enable-before-promise-resolve.js
  test/parallel/test-async-hooks-enable-disable.js
  test/parallel/test-cluster-worker-kill-signal.js
  test/parallel/test-common.js
  test/parallel/test-dgram-bind-fd.js
  test/parallel/test-dns-get-server.js
  test/parallel/test-fs-stat.js
  test/parallel/test-fs-watch-close-when-destroyed.js
  test/parallel/test-http2-respond-with-file-connection-abort.js
  test/parallel/test-http2-window-size.js
  test/parallel/test-net-socket-end-callback.js
  test/parallel/test-net-socket-setnodelay.js
  test/parallel/test-promise-hook-exceptions.js
  test/parallel/test-stream-duplex-from.js
  test/parallel/test-stream-pipeline-queued-end-in-destroy.js
  test/parallel/test-stream-pipeline-with-empty-string.js
  test/parallel/test-stream-readable-unshift.js
  test/parallel/test-tls-close-notify.js
  test/parallel/test-ttywrap-stack.js
  test/parallel/test-worker-data-url.js
  test/sequential/test-tls-lookup.js
Labels: test, fast-track, author ready

#45023 deps: patch V8 to 10.7.193.16
  deps/v8/include/v8-version.h
  deps/v8/src/compiler/compilation-dependencies.cc
  deps/v8/src/compiler/compilation-dependencies.h
  deps/v8/src/compiler/js-create-lowering.cc
  deps/v8/src/execution/isolate.cc
  deps/v8/src/heap/concurrent-marking.cc
  deps/v8/src/objects/string.cc
Labels: v8 engine, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x

#45051 test: Remove mention of `--experimental-async-stack-tagging-api` flag
  test/parallel/test-snapshot-console.js
Labels: test, fast-track, author ready, needs-ci

#44626 2022-10-18, Version 19.0.0 (Current)
  CHANGELOG.md
  doc/abi_version_registry.json
  doc/api/cli.md
  doc/api/deprecations.md
  doc/api/fs.md
  doc/api/globals.md
  doc/api/http.md
  doc/api/http2.md
  doc/api/https.md
  doc/api/inspector.md
  doc/api/path.md
  doc/api/perf_hooks.md
  doc/api/process.md
  doc/api/tls.md
  doc/api/url.md
  doc/api/webcrypto.md
  doc/changelogs/CHANGELOG_ARCHIVE.md
  doc/changelogs/CHANGELOG_IOJS.md
  doc/changelogs/CHANGELOG_V10.md
  doc/changelogs/CHANGELOG_V11.md
  doc/changelogs/CHANGELOG_V12.md
  doc/changelogs/CHANGELOG_V13.md
  doc/changelogs/CHANGELOG_V14.md
  doc/changelogs/CHANGELOG_V15.md
  doc/changelogs/CHANGELOG_V16.md
  doc/changelogs/CHANGELOG_V17.md
  doc/changelogs/CHANGELOG_V18.md
  doc/changelogs/CHANGELOG_V19.md
  doc/changelogs/CHANGELOG_V4.md
  doc/changelogs/CHANGELOG_V5.md
  doc/changelogs/CHANGELOG_V6.md
  doc/changelogs/CHANGELOG_V7.md
  doc/changelogs/CHANGELOG_V8.md
  doc/changelogs/CHANGELOG_V9.md
  src/node_version.h
Labels: release, v19.x

#45032 lib: add ability to add separate event name to defineEventHandler
  lib/internal/event_target.js
  test/parallel/test-eventtarget.js
Labels: author ready

#21128 util: add MIME utilities
  doc/api/errors.md
  doc/api/util.md
  doc/contributing/primordials.md
  lib/internal/errors.js
  lib/internal/mime.js
  lib/internal/per_context/primordials.js
  lib/util.js
  test/fixtures/mime-whatwg-generated.js
  test/fixtures/mime-whatwg.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-eslint-avoid-prototype-pollution.js
  test/parallel/test-mime-api.js
  test/parallel/test-mime-whatwg.js
  test/parallel/test-primordials-regexp.js
  tools/doc/type-parser.mjs
  tools/eslint-rules/avoid-prototype-pollution.js
Labels: module, semver-minor, lib / src, notable-change, author ready, review wanted, commit-queue-squash

#45024 tools: do not use the set-output command in workflows
  .github/workflows/auto-start-ci.yml
  .github/workflows/commit-lint.yml
  .github/workflows/commit-queue.yml
  .github/workflows/label-flaky-test-issue.yml
Labels: meta

#45022 tools: update gr2m/create-or-update-pull-request-action
  .github/workflows/authors.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/find-inactive-tsc.yml
  .github/workflows/license-builder.yml
  .github/workflows/timezone-update.yml
  .github/workflows/tools.yml
Labels: meta

#45042 build: restore Windows resource file
  node.gyp
Labels: windows, build, author ready, needs-ci

#45044 esm: protect ESM loader from prototype pollution
  lib/internal/bootstrap/loaders.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-cjs-prototype-pollution.js
  test/es-module/test-esm-prototype-pollution.mjs
  test/parallel/test-primordials-promise.js
Labels: lib / src, author ready, needs-ci

#45041 inspector: refactor `inspector/promises` to be more robust
  lib/inspector/promises.js
Labels: inspector, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x

#43716 process: remove `process.exit()`, `process.exitCode` coercion to integer
  doc/api/deprecations.md
  doc/api/process.md
  lib/internal/bootstrap/node.js
  lib/internal/process/per_thread.js
  test/parallel/test-process-exit-code-deprecation.js
  test/parallel/test-process-exit-code-validation.js
  test/parallel/test-worker-terminate-http2-respond-with-file.js
Labels: semver-major, process, author ready, needs-ci, commit-queue-squash

#45083 doc: fix typo in parseArgs default value
  doc/api/util.md
Labels: util, doc, fast-track

#45064 test: add missing `common.mustCall`
  test/parallel/test-stream-promises.js
Labels: test, fast-track, author ready, needs-ci

#45049 test: mark test-watch-mode* as flaky on all platforms
  test/sequential/sequential.status
Labels: test, author ready, needs-ci, watch-mode

#45047 test: remove unnecessary noop function args to `mustCall()`
  test/.eslintrc.yaml
  test/async-hooks/test-http-agent-handle-reuse-parallel.js
  test/async-hooks/test-http-agent-handle-reuse-serial.js
  test/known_issues/test-http-path-contains-unicode.js
  test/parallel/test-async-hooks-http-agent-destroy.js
  test/parallel/test-async-hooks-http-agent.js
  test/parallel/test-cluster-fork-windowsHide.js
  test/parallel/test-cluster-ipc-throw.js
  test/parallel/test-cluster-worker-kill-signal.js
  test/parallel/test-cluster-worker-kill.js
  test/parallel/test-common.js
  test/parallel/test-domain-multi.js
  test/parallel/test-fs-watchfile-bigint.js
  test/parallel/test-fs-watchfile.js
  test/parallel/test-http2-socket-proxy-handler-for-has.js
  test/parallel/test-https-max-header-size-per-stream.js
  test/parallel/test-spawn-cmd-named-pipe.js
  test/parallel/test-stream-pipeline-with-empty-string.js
  test/parallel/test-tls-client-reject.js
  test/parallel/test-tls-client-resume.js
  test/parallel/test-tls-disable-renegotiation.js
  test/parallel/test-tls-getprotocol.js
  test/parallel/test-tls-ocsp-callback.js
  test/parallel/test-x509-escaping.js
Labels: test, author ready, needs-ci

#45074 test: remove experimental-wasm-threads flag
  test/parallel/test-worker-message-port-wasm-threads.js
Labels: test, fast-track, author ready, needs-ci, dont-land-on-v14.x

#45055 src: fix test runner coverage
  src/inspector_agent.cc
  test/parallel/test-runner-inspect.mjs
Labels: c++, inspector, author ready, needs-ci, coverage, dont-land-on-v14.x, test_runner

#45058 src: forbid running watch mode in REPL
  src/node.cc
  src/node_options-inl.h
  src/node_options.cc
  src/node_options.h
Labels: c++, author ready, needs-ci, commit-queue-squash, watch-mode

#45103 doc: update Node.js 16 End-of-Life date
  CHANGELOG.md
Labels: meta, fast-track, author ready

#45063 net: remove _readableState from debug statement
  lib/net.js
Labels: net, stream, author ready, needs-ci

#45050 report,doc: define report version semantics
  doc/api/report.md
Labels: doc, author ready, report

#45110 doc: mark Node.js v17.x as EOL
  CHANGELOG.md
Labels: meta, fast-track, author ready

#44373 doc: fix display of "problematic" ASCII characters
  doc/node.1
Labels: doc

#45070 doc: mention v18.x openssl maintaining guide
  doc/contributing/maintaining-openssl.md
Labels: doc

#45111 doc: add note about latest GitHub release
  doc/contributing/releases.md
Labels: doc, fast-track, commit-queue-squash

#45026 stream: don't push null from closed promise #42694
  lib/internal/webstreams/adapters.js
  test/parallel/test-readable-from-web-enqueue-then-close.js
Labels: author ready, needs-ci, web streams

#45060 test: watch mode inspect restart repeatedly
  test/sequential/test-watch-mode-inspect.mjs
Labels: test, author ready, needs-ci, review wanted, watch-mode

#45120 doc: be more definite and present tense-y
  doc/api/cli.md
Labels: doc, cli, fast-track, author ready

#45092 trace_events: fix getCategories
  src/inspector/tracing_agent.cc
  test/parallel/test-inspector-tracing-domain.js
Labels: c++, author ready, needs-ci

#41276 lib: performance improvement on readline async iterator
  benchmark/readline/readline-iterable.js
  lib/events.js
  lib/internal/events/symbols.js
  lib/internal/readline/interface.js
  test/benchmark/test-bechmark-readline.js
  test/parallel/test-readline-async-iterators-backpressure.js
  test/parallel/test-readline-async-iterators.js
Labels: readline, semver-major, commit-queue-squash

#45043 report: add rss and use/kernel cpu usage fields
  doc/api/report.md
  src/node_report.cc
  test/common/report.js
Labels: c++, needs-ci, report

#45101 doc: update mark release line lts on release guide
  doc/contributing/releases.md
Labels: doc, author ready, commit-queue-squash

#45116 url: remove \t \n \r in url.parse() similar to WHATWG
  lib/url.js
  test/parallel/test-url-parse-format.js
Labels: url, author ready, needs-ci

#45119 Revert "deps: V8: forward declaration of `Rtl*FunctionTable`"
  common.gypi
  deps/v8/src/diagnostics/unwinding-info-win64.cc
Labels: build, v8 engine, author ready, needs-ci

#45129 http2: fix debugStream method
  lib/internal/http2/core.js
Labels: http2, author ready, needs-ci

#44713 test: add test for `Module._stat`
  test/parallel/test-module-stat.js
  test/parallel/test-vfs.js
Labels: test, author ready, needs-ci, commit-queue-squash

#45166 tools: fix `create-or-update-pull-request-action` hash on GHA
  .github/workflows/authors.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/find-inactive-tsc.yml
  .github/workflows/license-builder.yml
  .github/workflows/timezone-update.yml
  .github/workflows/tools.yml
Labels: meta, fast-track

#45123 http2: fix crash on Http2Stream::diagnostic_name()
  src/node_http2.cc
Labels: c++, http2, author ready, needs-ci

#45135 dns: fix port validation
  lib/internal/errors.js
  test/parallel/test-dns.js
Labels: errors, author ready, needs-ci

#45100 v18.12.0 proposal
  CHANGELOG.md
  doc/changelogs/CHANGELOG_V18.md
  src/node_version.h
  test/parallel/test-process-release.js
Labels: needs-ci, release, v18.x

#45180 doc: add lukekarrys to collaborators
  README.md
Labels: doc, notable-change, fast-track

#45132 test: remove a snapshot blob from test-inspect-address-in-use.js
  test/parallel/test-inspect-address-in-use.js
Labels: test, author ready, needs-ci

#44952 test_runner: add extra fields in AssertionError YAML
  lib/internal/test_runner/tap_stream.js
  test/message/test_runner_describe_it.out
  test/message/test_runner_output.out
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#45185 build: add GitHub token to auto-start-ci workflow
  .github/workflows/auto-start-ci.yml
Labels: meta, fast-track

#45115 http2: improve session close/destroy procedures
  lib/internal/http2/core.js
  src/node_http2.cc
  test/parallel/test-http2-server-close-callback.js
  test/parallel/test-http2-server-sessionerror.js
  test/parallel/test-http2-too-many-settings.js
Labels: c++, http2, author ready, needs-ci

#44882 test: fixed typo
  test/parallel/test-fs-rm.js
Labels: test, author ready

#45186 doc: mark Node.js 12 as End-of-Life
  CHANGELOG.md
Labels: meta, fast-track, author ready

#45117 stream: fix web streams have no Symbol.toStringTag
  lib/internal/webstreams/queuingstrategies.js
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/writablestream.js
  test/parallel/test-webstream-string-tag.js
Labels: author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, web streams

#45149 tools: update V8 gypfiles for RISC-V
  tools/v8_gypfiles/v8.gyp
Labels: v8 engine, tools, author ready, needs-ci, riscv64

#44461 src: remap invalid file descriptors using `dup2`
  src/node.cc
Labels: c++, author ready

#45095 fs: trace more fs api
  src/node_dir.cc
  src/node_file.cc
Labels: c++, fs, needs-ci

#45154 doc: add link to triage guide
  README.md
Labels: doc, fast-track, author ready, commit-queue-failed

#45161 test_runner: call {before,after}Each() on suites
  lib/internal/test_runner/test.js
  test/message/test_runner_hooks.js
  test/message/test_runner_test_name_pattern.js
Labels: author ready, dont-land-on-v14.x, test_runner

#45162 Revert "deps: make V8 compilable with older glibc"
  common.gypi
  deps/v8/src/base/platform/platform-posix.cc
Labels: build, v8 engine, author ready

#45153 src: let http2 streams end after session close
  src/node_http2.cc
  test/parallel/test-http2-trailers-after-session-close.js
Labels: c++, http2, author ready

#45057 src: clarify OptionEnvvarSettings member names
  lib/internal/process/per_thread.js
  src/node.cc
  src/node.h
  src/node_options-inl.h
  src/node_options.cc
  src/node_options.h
  src/node_worker.cc
Labels: c++, lib / src, needs-ci

#45124 test: use uv_sleep() where possible
  test/addons/async-hello-world/binding.cc
  test/node-api/test_async/test_async.c
Labels: test, addons, node-api, author ready, needs-ci

#45195 build: fix icu-small build on mac with ICU 72.1
  tools/icu/icu-generic.gyp
Labels: tools, i18n-api, fast-track, author ready, needs-ci, icu

#45178 tools: update actions/setup-python to v4
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/linters.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
Labels: meta, author ready

#45175 esm: protect ESM loader from prototype pollution
  doc/contributing/primordials.md
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/per_context/primordials.js
  lib/internal/vm/module.js
  test/es-module/test-cjs-prototype-pollution.js
  test/es-module/test-esm-prototype-pollution.mjs
  test/parallel/test-eslint-avoid-prototype-pollution.js
  test/parallel/test-primordials-promise.js
  tools/eslint-rules/avoid-prototype-pollution.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#45177 doc: add more LTS update steps to the release guide
  doc/contributing/releases.md
Labels: doc

#45157 perf_hooks: align `@@toStringTag` with other Web Performance implementations
  lib/internal/perf/resource_timing.js
  lib/internal/perf/usertiming.js
  test/parallel/test-perf-hooks-resourcetiming.js
  test/parallel/test-perf-hooks-usertiming.js
Labels: author ready, perf_hooks, needs-ci, commit-queue-squash

#45167 doc, http: add Uint8Array as allowed type
  doc/api/http.md
Labels: http, doc, author ready, commit-queue-squash

#45199 build: workaround for node-core-utils
  .github/workflows/auto-start-ci.yml
Labels: meta, fast-track, author ready, commit-queue-failed

#45160 meta: move a collaborator to emeritus
  README.md
Labels: doc, author ready

#45159 tools: keep Emeriti lists case-insensitive alphabetic
  tools/find-inactive-collaborators.mjs
  tools/find-inactive-tsc.mjs
Labels: tools, author ready

#45211 test: use common/tmpdir in watch-mode ipc test
  test/fixtures/watch-mode/ipc.js
  test/parallel/test-watch-mode-files_watcher.mjs
Labels: test, fast-track, author ready, needs-ci

#45218 tools: fix `request-ci-failed` comment
  tools/actions/start-ci.sh
Labels: tools, fast-track, author ready

#41930 doc: clarify moderation in onboarding
  onboarding.md
Labels: doc

#42674 test: fix timeout of test-heap-prof.js in riscv devices
  tools/test.py
  tools/utils.py
Labels: build, test, tools, python, author ready, needs-ci

#45198 doc: add history section to `fetch`-related globals
  doc/api/globals.md
Labels: doc, author ready, dont-land-on-v14.x, dont-land-on-v16.x

#42793 src: fix crypto.privateEncrypt fails first time
  src/crypto/crypto_keys.cc
  test/parallel/test-crypto-publicDecrypt-fails-first-time.js
Labels: crypto, c++, author ready, needs-ci, review wanted, commit-queue-failed, commit-queue-squash

#45148 test: improve test coverage in `test-event-capture-rejections.js`
  test/parallel/test-event-capture-rejections.js
Labels: test, author ready, needs-ci
