Repository nodejs/node, pull requests merged in 2022-12, with the labels that each got.

#45676 lib: add missing type of removeEventListener in question
  lib/readline.js
  test/parallel/test-readline-interface.js
Labels: readline, author ready, needs-ci

#45680 doc: sort http.createServer() options alphabetically
  doc/api/http.md
Labels: http, doc, author ready

#45586 test: fix test-watch-mode-inspect
  test/sequential/test-watch-mode-inspect.mjs
Labels: test, needs-ci, watch-mode

#45585 test: fix test-watch-mode
  test/sequential/test-watch-mode.mjs
Labels: test, author ready, needs-ci, watch-mode

#45703 meta: add .mailmap entry for Stefan Stojanovic
  .mailmap
  AUTHORS
Labels: meta, fast-track, author ready, commit-queue-squash

#45618 test_runner: don't parse TAP from stderr
  lib/internal/test_runner/runner.js
  lib/internal/util/inspector.js
  test/fixtures/test-runner/user-logs.js
  test/parallel/test-runner-cli.js
Labels: util, author ready, dont-land-on-v14.x, test_runner

#45687 test_runner: add `SuiteContext` class
  lib/internal/test_runner/test.js
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#45672 http: Make OutgoingMessage more streamlike
  lib/_http_outgoing.js
  test/parallel/test-http-client-incomingmessage-destroy.js
  test/parallel/test-http-outgoing-destroyed.js
Labels: http, author ready

#45690 doc: use console.error for error case in child_process and dgram
  doc/api/child_process.md
  doc/api/dgram.md
Labels: doc, author ready

#45675 Remove dependency vulnerability checker
  tools/dep_checker/README.md
  tools/dep_checker/dependencies.py
  tools/dep_checker/main.py
  tools/dep_checker/requirements.txt
  tools/dep_checker/versions_parser.py
Labels: tools

#45697 doc: add doc-only deprecation for headers/trailers setters
  doc/api/deprecations.md
Labels: doc, notable-change, author ready, deprecations

#44731 net: add autoSelectFamily option
  doc/api/net.md
  lib/_tls_wrap.js
  lib/internal/errors.js
  lib/internal/net.js
  lib/net.js
  test/parallel/test-http-happy-eyeballs.js
  test/parallel/test-https-happy-eyeballs.js
  test/parallel/test-net-happy-eyeballs-ipv4first.js
  test/parallel/test-net-happy-eyeballs.js
Labels: net, semver-minor, errors, notable-change, needs-ci, commit-queue-squash

#45308 tools: add GitHub token permissions to label flaky-test issues
  .github/workflows/label-flaky-test-issue.yml
Labels: meta, author ready

#45656 doc: fix actual result of example is different in events
  doc/api/events.md
Labels: doc, events, author ready

#45640 doc: using console.error for error cases in crypto and events
  doc/api/crypto.md
  doc/api/events.md
Labels: doc, author ready, commit-queue-squash

#45747 test: fix -Wunused-variable on report-fatalerror
  test/addons/report-fatalerror/binding.cc
Labels: test, addons, needs-ci

#45746 benchmark: rewrite the startup performance benchmark
  benchmark/common.js
  benchmark/fixtures/require-cachable.js
  benchmark/misc/startup.js
Labels: benchmark, performance, author ready, review wanted, commit-queue-squash

#45748 deps: patch V8 to 10.9.194.6
  deps/v8/include/v8-version.h
  deps/v8/src/ast/scopes.cc
  deps/v8/src/ast/scopes.h
  deps/v8/src/sandbox/external-pointer-table-inl.h
  deps/v8/src/sandbox/external-pointer-table.cc
Labels: v8 engine, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x, dont-land-on-v19.x

#45710 test_runner: add resetCalls to MockFunctionContext
  doc/api/test.md
  lib/internal/test_runner/mock.js
  test/parallel/test-runner-mocking.js
Labels: author ready, dont-land-on-v14.x, test_runner

#45668 lib: check number of arguments in `EventTarget`'s function
  lib/internal/event_target.js
  test/parallel/test-eventtarget.js
Labels: author ready, needs-ci, eventtarget, commit-queue-squash

#45739 doc: add args of filter option of fs.cp
  doc/api/fs.md
Labels: doc, fs, author ready

#45769 crypto: fix CipherBase Update int32 overflow
  src/crypto/crypto_cipher.cc
  test/parallel/test-crypto-cipheriv-decipheriv.js
Labels: crypto, c++, author ready, needs-ci, commit-queue-squash

#45659 bootstrap: lazy load non-essential modules
  lib/buffer.js
  lib/fs.js
  lib/internal/async_hooks.js
  lib/internal/bootstrap/browser.js
  lib/internal/bootstrap/node.js
  lib/internal/bootstrap/switches/is_main_thread.js
  lib/internal/console/constructor.js
  lib/internal/dns/utils.js
  lib/internal/errors.js
  lib/internal/fs/promises.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_map.js
  lib/internal/modules/esm/package_config.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/run_main.js
  lib/internal/process/per_thread.js
  lib/internal/process/pre_execution.js
  lib/internal/source_map/source_map_cache.js
  lib/internal/util.js
  lib/util.js
  test/common/wpt.js
  test/parallel/test-bootstrap-modules.js
  test/wpt/test-streams.js
Labels: lib / src, performance, needs-ci

#45788 deps: V8: cherry-pick bc831f8ba33b
  common.gypi
  deps/v8/include/v8-fast-api-calls.h
  deps/v8/src/codegen/machine-type.h
  deps/v8/src/compiler/effect-control-linearizer.cc
  deps/v8/src/compiler/fast-api-calls.cc
  deps/v8/src/compiler/simplified-lowering.cc
  deps/v8/src/d8/d8-test.cc
  deps/v8/test/mjsunit/compiler/fast-api-calls-string.js
Labels: build, v8 engine, fast-track, author ready, needs-ci

#45787 benchmark: add variety of inputs to text-encoder
  benchmark/util/text-encoder.js
Labels: util, benchmark, performance, author ready, commit-queue-squash

#45776 tls: remove trustcor root ca certificates
  src/node_root_certs.h
  tools/mk-ca-bundle.pl
Labels: c++, lib / src, notable-change, author ready

#45614 readline: improve robustness against prototype mutation
  lib/internal/readline/interface.js
Labels: readline, author ready, needs-ci

#45642 lib: allow http.OutgoingMessage to be used in Writable.toWeb()
  lib/internal/webstreams/adapters.js
  test/parallel/test-stream-toWeb-allows-server-response.js
Labels: author ready, needs-ci, web streams, commit-queue-squash

#45786 src: mark generated `snapshot_data` as `const`
  src/node_snapshot_builder.h
  src/node_snapshotable.cc
Labels: c++, author ready, needs-ci

#45765 build: add python 3.11 support for android
  android-configure
Labels: build, needs-ci

#45698 src: make structuredClone work for process.env
  src/env_properties.h
  src/node_env_var.cc
  src/node_messaging.cc
  src/node_process.h
  src/node_realm.cc
  src/util.h
  test/parallel/test-process-env.js
Labels: c++, lib / src, author ready, needs-ci

#45799 src: simplify NodeBIO::GetMethod initialization
  src/crypto/crypto_bio.cc
  src/crypto/crypto_bio.h
  src/crypto/crypto_util.cc
Labels: c++, lib / src, author ready, needs-ci

#45639 src: add uvwasi version
  src/node_metadata.cc
  src/node_metadata.h
  test/parallel/test-process-versions.js
Labels: c++, lib / src, author ready

#45742 test: fix invalid output TAP if there newline in test name
  lib/internal/test_runner/tap_stream.js
  test/message/test_runner_output.js
  test/message/test_runner_output.out
Labels: author ready, dont-land-on-v14.x, commit-queue-squash, test_runner

#45717 watch: add CLI flag to preserve output
  doc/api/cli.md
  lib/internal/main/watch_mode.js
  src/node_options.cc
  src/node_options.h
  test/sequential/test-watch-mode.mjs
Labels: c++, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#45745 test_runner: refactor `tap_parser` to use more primordials
  lib/internal/test_runner/tap_parser.js
Labels: author ready, dont-land-on-v14.x, commit-queue-squash, test_runner

#45808 test: order list alphabetically in `test-bootstrap-modules`
  test/parallel/test-bootstrap-modules.js
Labels: test, fast-track, author ready, needs-ci

#45744 test_runner: refactor `tap_lexer` to use more primordials
  lib/internal/test_runner/tap_lexer.js
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-failed, commit-queue-squash, test_runner

#45794 doc: buffer.fill empty value
  doc/api/buffer.md
  test/parallel/test-buffer-fill.js
Labels: needs-ci, commit-queue-squash

#45806 test: remove flaky parallel/test-process-wrap test
  test/parallel/test-process-wrap.js
Labels: test, author ready, needs-ci

#45807 buffer: remove unnecessary lazy loading
  lib/internal/blob.js
Labels: author ready, needs-ci

#45825 doc: fix wrong output of example in util
  doc/api/util.md
Labels: util, doc, fast-track, author ready

#45815 test_runner: parse yaml
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/tap_stream.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/yaml_parser.js
  test/message/test_runner_output_cli.js
  test/message/test_runner_output_cli.out
Labels: lib / src, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#45822 test: enable idlharness WebCryptoAPI WPTs
  test/wpt/status/WebCryptoAPI.json
  test/wpt/test-webcrypto.js
Labels: test, author ready, needs-ci, dont-land-on-v16.x, dont-land-on-v18.x

#45728 tools: fix incorrect version history order
  test/doctool/test-doctool-html.mjs
  tools/doc/html.mjs
Labels: doc, tools, review wanted

#45604 repl: improve robustness wrt to prototype pollution
  lib/internal/debugger/inspect_repl.js
  lib/internal/util.js
  lib/repl.js
  test/parallel/test-primordials-regexp.js
  test/parallel/test-startup-empty-regexp-statics.js
Labels: util, repl, author ready, needs-ci, debugger

#45827 doc: remove Juan Jose keys
  README.md
Labels: doc, fast-track

#45832 doc: add pipeline and finished to stream/promises doc
  doc/api/stream.md
Labels: doc, author ready, commit-queue-squash

#45858 doc: remove release cleanup step
  doc/contributing/releases.md
Labels: doc

#45883 doc: add backticks to webcrypto rsaOaepParams
  doc/api/webcrypto.md
Labels: crypto, doc, fast-track, author ready

#45811 test: add CryptoKey transferring tests
  test/parallel/test-crypto-key-objects-messageport.js
  test/parallel/test-crypto-worker-thread.js
Labels: crypto, test, author ready, needs-ci

#45863 doc: fix doc metadata for Node.js 16.19.0
  doc/api/test.md
Labels: doc, author ready, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x, test_runner, dont-land-on-v19.x

#45864 doc: reduce likelihood of mismerges during release
  doc/contributing/releases.md
Labels: doc, author ready

#45852 test: update url wpt to latest
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/resources/percent-encoding.json
  test/fixtures/wpt/versions.json
Labels: test, author ready, needs-ci

#43772 feat(esm): leverage loaders when resolving subsequent loaders
  doc/api/esm.md
  lib/internal/modules/esm/loader.js
  lib/internal/process/esm_loader.js
  test/es-module/test-esm-loader-chaining.mjs
  test/fixtures/es-module-loaders/loader-load-foo-or-42.mjs
  test/fixtures/es-module-loaders/loader-load-incomplete.mjs
  test/fixtures/es-module-loaders/loader-load-passthru.mjs
  test/fixtures/es-module-loaders/loader-resolve-42.mjs
  test/fixtures/es-module-loaders/loader-resolve-foo.mjs
  test/fixtures/es-module-loaders/loader-resolve-incomplete.mjs
  test/fixtures/es-module-loaders/loader-resolve-next-modified.mjs
  test/fixtures/es-module-loaders/loader-resolve-passthru.mjs
  test/fixtures/es-module-loaders/loader-resolve-shortcircuit.mjs
  test/fixtures/es-module-loaders/loader-resolve-strip-xxx.mjs
  test/fixtures/es-module-loaders/loader-resolve-strip-yyy.mjs
Labels: process, esm, author ready, loaders, commit-queue-squash, dont-land-on-v19.x

#45870 test_runner: run t.after() if test body throws
  lib/internal/test_runner/test.js
  test/message/test_runner_hooks.js
  test/message/test_runner_hooks.out
Labels: author ready, dont-land-on-v14.x, test_runner

#45850 test: update encoding wpt to latest
  test/fixtures/wpt/README.md
  test/fixtures/wpt/encoding/unsupported-labels.window.js
  test/fixtures/wpt/versions.json
  test/wpt/status/encoding.json
Labels: test, author ready, needs-ci, review wanted

#45608 test_runner: fix mock.method to support class instances
  lib/internal/test_runner/mock.js
  test/parallel/test-runner-mocking.js
Labels: needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#44445 tools: add `ArrayPrototypeConcat` to the list of primordials to avoid
  lib/internal/bootstrap/node.js
  lib/internal/debugger/inspect.js
  lib/internal/main/print_help.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/resolve.js
  lib/internal/perf/observe.js
  lib/internal/util/inspector.js
  lib/repl.js
  test/parallel/test-eslint-avoid-prototype-pollution.js
  tools/eslint-rules/avoid-prototype-pollution.js
Labels: tools, author ready, needs-ci, review wanted

#45621 src: add undici and acorn to `process.versions`
  src/acorn_version.h
  src/node_metadata.cc
  src/node_metadata.h
  src/undici_version.h
  test/parallel/test-process-versions.js
  tools/update-acorn.sh
  tools/update-undici.sh
Labels: c++, tools, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#45889 tools: enforce use of trailing commas in `tools/`
  .eslintrc.js
  benchmark/.eslintrc.yaml
  doc/.eslintrc.yaml
  lib/.eslintrc.yaml
  tools/build-addons.mjs
  tools/doc/addon-verify.mjs
  tools/doc/allhtml.mjs
  tools/doc/alljson.mjs
  tools/doc/apilinks.mjs
  tools/doc/deprecationCodes.mjs
  tools/doc/html.mjs
  tools/doc/json.mjs
  tools/doc/markdown.mjs
  tools/doc/type-parser.mjs
  tools/eslint-rules/alphabetize-errors.js
  tools/eslint-rules/async-iife-no-unused-result.js
  tools/eslint-rules/avoid-prototype-pollution.js
  tools/eslint-rules/crypto-check.js
  tools/eslint-rules/documented-errors.js
  tools/eslint-rules/eslint-check.js
  tools/eslint-rules/inspector-check.js
  tools/eslint-rules/lowercase-name-for-primitive.js
  tools/eslint-rules/no-array-destructuring.js
  tools/eslint-rules/no-duplicate-requires.js
  tools/eslint-rules/no-unescaped-regexp-dot.js
  tools/eslint-rules/non-ascii-character.js
  tools/eslint-rules/prefer-assert-iferror.js
  tools/eslint-rules/prefer-assert-methods.js
  tools/eslint-rules/prefer-common-mustnotcall.js
  tools/eslint-rules/prefer-common-mustsucceed.js
  tools/eslint-rules/prefer-primordials.js
  tools/eslint-rules/prefer-util-format-errors.js
  tools/eslint-rules/require-common-first.js
  tools/eslint-rules/required-modules.js
  tools/find-inactive-collaborators.mjs
  tools/find-inactive-tsc.mjs
  tools/license2rtf.mjs
  tools/lint-md/list-released-versions-from-changelogs.mjs
  tools/lint-pr-url.mjs
  tools/lint-sh.mjs
  tools/update-authors.mjs
Labels: lib / src, author ready, needs-ci

#45894 test: fix test broken under --node-builtin-modules-path
  test/parallel/test-v8-serialize-leak.js
Labels: test, author ready, commit-queue-squash

#45797 doc: add tips for NODE_MODULE
  doc/api/addons.md
Labels: doc, addons, author ready

#45767 src: fix tls certificate root store data race
  src/crypto/crypto_context.cc
Labels: crypto, c++, author ready

#45891 doc: fix some history entries in `deprecations.md`
  doc/api/deprecations.md
Labels: doc, author ready, deprecations

#45869 esm: move hooks handling into separate class
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/process/esm_loader.js
Labels: module, process, esm, author ready, loaders, commit-queue-squash

#45865 test: split parallel fs-watch-recursive tests
  test/parallel/test-fs-watch-recursive-add-file-to-existing-subfolder.js
  test/parallel/test-fs-watch-recursive-add-file-to-new-folder.js
  test/parallel/test-fs-watch-recursive-add-file-with-url.js
  test/parallel/test-fs-watch-recursive-add-file.js
  test/parallel/test-fs-watch-recursive-add-folder.js
  test/parallel/test-fs-watch-recursive-assert-leaks.js
  test/parallel/test-fs-watch-recursive-update-file.js
  test/parallel/test-fs-watch-recursive-validate.js
  test/parallel/test-fs-watch-recursive-watch-file.js
  test/parallel/test-fs-watch-recursive.js
Labels: test, needs-ci

#45902 src: check size of args before using for exec_path
  src/env.cc
Labels: c++, author ready, needs-ci

#45882 src: fix UB in overflow checks
  src/process_wrap.cc
Labels: child_process, c++, author ready, needs-ci

#45871 deps: V8: backport 8ca9f77d0f7c
  common.gypi
  deps/v8/include/v8-internal.h
  deps/v8/src/builtins/builtins-typed-array-gen.cc
  deps/v8/src/compiler/code-assembler.h
  deps/v8/src/objects/js-array-buffer-inl.h
  deps/v8/src/objects/js-array-buffer.h
  deps/v8/src/objects/js-array-buffer.tq
  deps/v8/src/objects/objects-body-descriptors-inl.h
  deps/v8/src/sandbox/external-pointer-table.h
  deps/v8/src/snapshot/deserializer.cc
  deps/v8/test/cctest/heap/test-array-buffer-tracker.cc
Labels: build, v8 engine, needs-ci, snapshot

#45928 doc: fix wrong output of example in `url.password`
  doc/api/url.md
Labels: doc, url, fast-track, author ready

#45876 benchmark: include webstreams benchmark
  benchmark/webstreams/creation.js
  benchmark/webstreams/pipe-to.js
  benchmark/webstreams/readable-async-iterator.js
  test/benchmark/test-benchmark-webstreams.js
Labels: benchmark, author ready

#45886 src: use CreateEnvironment instead of inlining its code where possible
  src/api/environment.cc
  src/node_main_instance.cc
  src/node_snapshotable.cc
Labels: c++, lib / src, needs-ci, commit-queue-squash

#45887 build: add option to disable shared readonly heap
  configure.py
  vcbuild.bat
Labels: windows, build, needs-ci

#45914 src: use string_view for FastStringKey implementation
  src/debug_utils-inl.h
  src/node_snapshotable.cc
  src/node_snapshotable.h
  src/util-inl.h
  src/util.h
Labels: c++, lib / src, author ready, needs-ci, dont-land-on-v16.x, commit-queue-squash

#45930 test: fix flakyness in test-runner reporter test
  test/parallel/test-runner-reporters.js
Labels: test, flaky-test, fast-track, author ready, needs-ci, commit-queue-squash

#45923 module: move test reporter loading
  doc/api/test.md
  lib/internal/modules/run_main.js
  lib/internal/modules/utils.js
  lib/internal/test_runner/utils.js
  test/fixtures/test-runner/node_modules/reporter-cjs/index.js
  test/fixtures/test-runner/node_modules/reporter-cjs/package.json
  test/fixtures/test-runner/node_modules/reporter-esm/index.mjs
  test/fixtures/test-runner/node_modules/reporter-esm/package.json
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-runner-reporters.js
Labels: module, esm, author ready, dont-land-on-v14.x, loaders, commit-queue-squash, test_runner

#45793 errors: refactor to use a method that formats a list string
  lib/internal/errors.js
  test/es-module/test-esm-dynamic-import.js
  test/parallel/test-error-format-list.js
Labels: errors, author ready, needs-ci, commit-queue-squash

#45885 src: fix creating `Isolate`s from addons
  node.gypi
  src/api/environment.cc
  src/node_internals.h
  src/node_main_instance.cc
  src/node_worker.cc
  test/addons/new-isolate-addon/binding.cc
  test/addons/new-isolate-addon/binding.gyp
  test/addons/new-isolate-addon/test-nonodesnapshot.js
  test/addons/new-isolate-addon/test.js
Labels: c++, lib / src, author ready, needs-ci

#45935 meta: add `nodejs/test_runner` to CODEOWNERS
  .github/CODEOWNERS
Labels: meta, author ready

#45937 tools: update GitHub workflow action
  .github/workflows/close-stale-feature-requests.yml
  .github/workflows/close-stalled.yml
Labels: meta, author ready

#45915 doc: show output of example in http
  doc/api/http.md
Labels: http, doc, author ready

#45940 meta: add `nodejs/loaders` to CODEOWNERS
  .github/CODEOWNERS
Labels: meta, author ready

#45927 doc: remove port from example in `url.hostname`
  doc/api/url.md
Labels: doc, url, author ready, commit-queue-failed

#45778 http: Improved timeout defaults handling.
  doc/api/http.md
  lib/_http_server.js
  test/parallel/test-http-server-timeouts-validation.js
Labels: http, semver-minor, author ready, commit-queue-squash

#45777 net: add autoSelectFamily global getter and setter
  doc/api/cli.md
  doc/api/net.md
  lib/net.js
  src/node_options.cc
  src/node_options.h
  test/parallel/test-http-autoselectfamily.js
  test/parallel/test-https-autoselectfamily.js
  test/parallel/test-net-autoselectfamily-commandline-option.js
  test/parallel/test-net-autoselectfamily-ipv4first.js
  test/parallel/test-net-autoselectfamily.js
  test/parallel/test-net-autoselectfamilydefault.js
  test/parallel/test-net-socket-connect-invalid-autoselectfamily.js
Labels: net, notable-change, commit-queue-squash

#45920 doc: update error message of example in repl
  doc/api/repl.md
Labels: doc, repl, author ready

#45890 build: fix arm64 cross-compile from powershell
  vcbuild.bat
Labels: windows, build, needs-ci

#45948 Revert "deps: disable avx512 for simutf on benchmark ci"
  deps/simdutf/simdutf.gyp
Labels: author ready, needs-ci, dependencies

#45947 buffer: add buffer.isUtf8 for utf8 validation
  doc/api/buffer.md
  lib/buffer.js
  src/node_buffer.cc
  src/node_errors.h
  src/util-inl.h
  src/util.h
  test/parallel/test-buffer-isutf8.js
Labels: buffer, c++, semver-minor, notable-change, author ready, needs-ci, commit-queue-squash

#45620 process,worker: ensure code after exit() effectless
  lib/internal/process/per_thread.js
  src/js_native_api_v8.cc
  src/js_native_api_v8.h
  src/node_api.cc
  test/cctest/test_environment.cc
  test/node-api/test_worker_terminate/test.js
  test/node-api/test_worker_terminate/test_worker_terminate.c
  test/parallel/test-async-hooks-worker-asyncfn-terminate-4.js
  test/parallel/test-worker-voluntarily-exit-followed-by-addition.js
  test/parallel/test-worker-voluntarily-exit-followed-by-throw.js
Labels: process, author ready, needs-ci, commit-queue-squash

#45956 doc: replace single executable champion in strategic initiatives doc
  doc/contributing/strategic-initiatives.md
Labels: doc, author ready

#45972 deps: fix updater github workflow job
  .github/workflows/tools.yml
Labels: meta, fast-track

#45960 test: print failed JS/parallel tests
  tools/test.py
Labels: test, tools, python, author ready, commit-queue-squash

#45969 test_runner: use os.availableParallelism()
  lib/internal/test_runner/test.js
Labels: author ready, needs-ci, dont-land-on-v14.x, backport-blocked-v16.x, backport-blocked-v18.x, test_runner

#45970 deps: update to uvwasi 0.0.14
  deps/uvwasi/include/uvwasi.h
  deps/uvwasi/src/debug.h
  deps/uvwasi/src/uv_mapping.c
Labels: author ready, needs-ci, wasi

#45971 tools: add url to `AUTHORS` update automation
  .github/workflows/authors.yml
Labels: meta, author ready

#45951 http: replace `var` with `const` on code of comment
  lib/_http_server.js
Labels: http, author ready

#45979 doc: use `os.availableParallelism()` in async_context and cluster
  doc/api/async_context.md
  doc/api/cluster.md
Labels: doc

#45847 debugger: refactor console in lib/internal/debugger/inspect.js
  lib/internal/debugger/inspect.js
Labels: author ready, needs-ci, debugger, commit-queue-squash

#45878 src: fix crash on OnStreamRead on Windows
  src/stream_base.cc
  test/parallel/test-net-child-process-connect-reset.js
Labels: c++, author ready, needs-ci

#45991 stream: fix typo of return value
  lib/internal/webstreams/writablestream.js
Labels: fast-track, author ready, web streams

#45954 doc: fix wrong output of example in `url.protocol`
  doc/api/url.md
Labels: doc, url, author ready

#45998 src: fix typo in node_file.cc
  src/node_file.cc
Labels: c++, fs, fast-track, author ready

#46011 lib: use `kEmptyObject` as default value for options
  lib/events.js
  lib/internal/fs/watchers.js
  lib/internal/http2/core.js
  lib/internal/socketaddress.js
  lib/net.js
Labels: lib / src, author ready, needs-ci

#45995 deps: patch V8 to 10.9.194.9
  deps/v8/include/v8-version.h
  deps/v8/src/ast/scopes.cc
  deps/v8/src/codegen/arm/assembler-arm.cc
  deps/v8/src/compiler/backend/x64/code-generator-x64.cc
  deps/v8/src/wasm/graph-builder-interface.cc
  deps/v8/test/mjsunit/regress/regress-crbug-1394973.js
Labels: v8 engine, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x, dont-land-on-v19.x

#46016 esm: rewrite loader hooks test
  test/es-module/test-esm-loader-hooks.mjs
  test/fixtures/es-module-loaders/hooks-input.mjs
Labels: test, esm, author ready, loaders, commit-queue-squash
