Repository nodejs/node, pull requests merged in 2022-03, with the labels that each got.

#42144 doc: remove reference to obsolete security program
  SECURITY.md
Labels: doc, author ready, commit-queue-squash

#42145 src: remove dead code in AddFingerprintDigest
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#42147 http2: close stream and session on frameError
  lib/internal/http2/core.js
  src/node_http2.cc
  test/parallel/test-http2-exceeds-server-trailer-size.js
  test/parallel/test-http2-options-max-headers-block-length.js
Labels: c++, http2, needs-ci

#42185 doc: add JakobJingleheimer to collaborators list
  README.md
Labels: doc, notable-change, fast-track

#42136 url: fix url.parse() for @hostname
  lib/url.js
  test/parallel/test-url-parse-format.js
Labels: url, needs-ci

#42161 stream: use .chunk when calling adapters' writev
  lib/internal/webstreams/adapters.js
  test/parallel/test-whatwg-webstreams-adapters-to-streamduplex.js
  test/parallel/test-whatwg-webstreams-adapters-to-streamwritable.js
Labels: stream, needs-ci, review wanted

#42202 doc: use parenthesis instead of em dash
  doc/api/crypto.md
Labels: crypto, doc, fast-track, author ready

#42113 test: fix test-process-env-tz.js by using RegExp
  test/parallel/test-process-env-tz.js
Labels: test, author ready, needs-ci

#42172 doc: add note about nghttp2 hd pair size limit
  doc/api/http2.md
Labels: doc, http2, commit-queue-squash

#42198 doc: clarify that some modules don't work when compiled without ssl
  doc/api/http2.md
  doc/api/https.md
  doc/api/tls.md
Labels: doc, author ready, commit-queue-squash

#42197 loader: fix esm resolve for symlink file
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-specifiers-symlink.mjs
Labels: module, esm, author ready, needs-ci, commit-queue-squash

#42212 src: skip revoke_data_object if uuid is not found
  doc/api/url.md
  src/node_blob.cc
  test/parallel/test-blob-createobjecturl.js
Labels: c++, author ready

#42207 test: cover 32-bit sizes in generatePrime
  test/parallel/test-crypto-prime.js
Labels: crypto, test, author ready

#42218 doc: remove "considered" for clarity
  doc/api/v8.md
Labels: doc, fast-track, author ready

#42190 http2: add edge case note to GOAWAY request
  doc/api/http2.md
  test/parallel/test-http2-goaway-delayed-request.js
Labels: author ready, commit-queue-squash

#42238 doc: remove erroneous comma in cluster explainer
  doc/api/cluster.md
Labels: cluster, doc, fast-track, author ready

#42214 doc: readline `'line'` event emits final line
  doc/api/readline.md
Labels: doc, readline, author ready, commit-queue-squash

#42155 crypto: add CHECKs to remaining BIO_s_mem allocs
  src/crypto/crypto_keys.cc
  src/crypto/crypto_x509.cc
Labels: crypto, c++, author ready, needs-ci

#42153 tools: fix web streams API links
  tools/doc/type-parser.mjs
Labels: doc, tools, author ready, web streams

#42129 meta: add dependencies label to label-pr-config
  .github/label-pr-config.yml
Labels: meta, author ready

#42175 crypto: fix fingerprint string size calculation
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#42204 build: use ccache in make-v8.sh on ppc64le and s390x
  tools/make-v8.sh
Labels: v8 engine, tools, lts-watch-v14.x, lts-watch-v16.x

#42196 url: trim leading and trailing C0 control chars
  lib/url.js
  test/parallel/test-url-parse-format.js
Labels: url, needs-ci

#42062 string_decoder: fix crash when calling `__proto__.write()` using JS
  lib/string_decoder.js
  test/parallel/test-string-decoder.js
Labels: string_decoder, author ready, needs-ci, commit-queue-squash

#42235 doc: remove refs to old OpenSSL list-* commands
  doc/api/crypto.md
Labels: crypto, doc, author ready

#42234 crypto: improve prime size argument validation
  lib/internal/crypto/random.js
  src/crypto/crypto_random.cc
  test/parallel/test-crypto-prime.js
Labels: crypto, c++, author ready

#42177 lib, doc: fix AsyncResource.bind not using 'this' from the caller by default
  doc/api/async_context.md
  lib/async_hooks.js
  test/parallel/test-asyncresource-bind.js
Labels: async_hooks, author ready, needs-ci, commit-queue-squash

#42149 doc: deprecate coercion to string in `fs.write`, `fs.writeFile`, `fs.appendFile`
  doc/api/deprecations.md
Labels: doc, notable-change, author ready, deprecations, commit-queue-squash

#42159 src: use emplace_back instead of push_back
  src/node.cc
Labels: c++, author ready, needs-ci

#42236 test: use global webcrypto for WPT tests
  test/wpt/test-webcrypto.js
Labels: test, author ready

#42223 src,crypto: avoid tristate `Maybe<bool>` in `ExportJWKEcKey()`
  src/crypto/crypto_ec.cc
  src/crypto/crypto_ec.h
  src/crypto/crypto_keys.cc
Labels: c++, lib / src, author ready, needs-ci

#42163 http: make TCP noDelay enabled by default
  doc/api/http.md
  doc/api/net.md
  lib/_http_agent.js
  lib/_http_server.js
  test/parallel/test-http-nodelay.js
Labels: http, semver-major, notable-change, author ready, needs-citgm, commit-queue-squash

#42124 crypto: fix X509Certificate toLegacyObject
  lib/internal/crypto/x509.js
  src/crypto/crypto_common.cc
  src/crypto/crypto_common.h
  src/crypto/crypto_x509.cc
  test/parallel/test-crypto-x509.js
  test/parallel/test-x509-escaping.js
Labels: c++, semver-major, lib / src, author ready, review wanted

#42123 crypto: prettify othername in PrintGeneralName
  src/crypto/crypto_common.cc
  test/parallel/test-x509-escaping.js
Labels: crypto, c++, semver-major, review wanted

#42268 doc: fix version history for `net.Socket` and `net.Server`
  doc/api/http.md
  doc/api/net.md
Labels: doc, fast-track, backport-requested-v17.x

#42267 debugger: correct typo in inspect_repl.js
  lib/internal/debugger/inspect_repl.js
Labels: fast-track, author ready, needs-ci, debugger

#42241 doc: remove outdated timeout.unref content
  doc/api/timers.md
Labels: doc, timers, author ready

#42248 http2: fix potential integer overflow
  src/node_http2.cc
Labels: c++, http2, author ready

#42252 esm, doc: fix and improve specifier resolution warning
  doc/api/esm.md
  lib/internal/modules/esm/formats.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-specifiers-legacy-flag-warning.mjs
Labels: module, esm, author ready, needs-ci, loaders

#42247 src: perform minor cleanups on zlib code
  src/node_zlib.cc
Labels: c++, zlib, author ready

#42280 url: revert fix url.parse() for `@hostname`
  lib/url.js
  test/parallel/test-url-parse-format.js
Labels: url, fast-track, needs-ci

#42240 deps: V8: cherry-pick c6f6626deb14
  common.gypi
  deps/v8/src/regexp/riscv64/regexp-macro-assembler-riscv64.cc
Labels: build, v8 engine, author ready

#42257 src: remove redundant buffer size check
  src/string_bytes.cc
Labels: buffer, c++, author ready, needs-ci

#42283 test: add test case for reverted 17.7 regression
  test/parallel/test-url-relative.js
Labels: url, fast-track, author ready, needs-ci

#42263 url: preserve null char in WHATWG URL errors
  lib/internal/url.js
  src/node_url.cc
  test/parallel/test-url-null-char.js
Labels: c++, whatwg-url, author ready, needs-ci

#42295 doc: improve pipe description
  doc/api/child_process.md
Labels: child_process, doc, author ready, commit-queue-squash

#42269 doc: clarify the meaning of legacy status
  doc/api/documentation.md
  doc/api/url.md
Labels: doc, author ready, commit-queue-squash

#42303 src: check return value of HMAC_Final
  src/crypto/crypto_hmac.cc
Labels: crypto, c++, author ready, needs-ci

#42305 esm: improve typings and code coverage
  lib/internal/modules/esm/formats.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-basic-imports.mjs
Labels: esm, author ready

#42307 src: avoid returning invalid value from hex2bin
  src/node_url.cc
Labels: c++, whatwg-url, author ready, needs-ci

#42306 src: simplify bound check in ParseArrayIndex
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci

#41772 test: fix failure in `test/sequential/test-heapdump.js`
  test/sequential/test-heapdump.js
Labels: test, author ready, needs-ci, review wanted

#42304 src: check EC_POINT_get_affine_coordinates result
  src/crypto/crypto_ec.cc
Labels: crypto, c++, author ready, needs-ci

#42313 url: throw on NULL in IPv6 hostname
  lib/url.js
  test/parallel/test-url-parse-invalid-input.js
Labels: url, semver-major, needs-ci

#42213 test: improve _http_outgoing coverage
  test/parallel/test-http-outgoing-internal-headernames-getter.js
Labels: test, author ready, needs-ci

#42211 test: improve _http_incoming.js coverage
  test/parallel/test-set-incoming-message-header.js
Labels: test, author ready, needs-ci

#41418 doc: Clarify path search in child_process spawn
  doc/api/child_process.md
Labels: child_process, doc, author ready

#42258 fix async iterable pipeline AbortSignal examples
  doc/api/stream.md
Labels: doc, stream, author ready, commit-queue-squash

#41702 lib: refactor to use primordials in `lib/assert.js`
  lib/assert.js
Labels: assert, author ready, needs-ci

#42301 esm: make extension-less errors in type:module actionable
  doc/api/esm.md
  lib/internal/errors.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-unknown-or-no-extension.js
Labels: errors, esm, author ready, needs-ci, commit-queue-squash

#42355 doc: update base branch name for nodejs org
  doc/contributing/releases.md
Labels: doc, fast-track, author ready

#42337 doc: revise async_hooks docs
  doc/api/async_hooks.md
Labels: doc, async_hooks, author ready

#42374 doc: remove unneeded lint disable comment
  README.md
Labels: doc, fast-track, author ready

#42343 test: improve https_renew_cert.sh script
  test/fixtures/keys/selfsigned-no-keycertsign/cert.pem
  test/fixtures/keys/selfsigned-no-keycertsign/https_renew_cert.sh
Labels: test, author ready, needs-ci

#42357 worker: do not send message if port is closing
  src/node_messaging.cc
  test/parallel/test-worker-message-port-close.js
Labels: c++, author ready, needs-ci, lts-watch-v14.x, lts-watch-v16.x

#42292 build: bump macOS deployment target to 10.15
  BUILDING.md
  common.gypi
Labels: doc, semver-major, build, notable-change, needs-ci

#42321 src: convert `hex2bin()` into a regular function
  src/node_url.cc
Labels: c++, whatwg-url, author ready, needs-ci

#42370 doc: add that chacha20-poly1305 is IETF version
  doc/api/crypto.md
Labels: crypto, doc, author ready

#42319 test,crypto: add and update empty passphrase regression tests
  test/parallel/test-crypto-keygen.js
Labels: crypto, openssl, author ready, needs-ci

#42378 doc: improve README.md usability
  README.md
Labels: doc, author ready

#42383 crypto: fix auth tag length error when mode != GCM
  src/crypto/crypto_cipher.cc
  test/parallel/test-crypto-authenticated.js
Labels: crypto, c++, author ready, needs-ci

#42406 tools: make update-undici script executable
  tools/update-undici.sh
Labels: tools, fast-track

#42377 tools: fix skip PR if CI is still running
  tools/actions/commit-queue.sh
Labels: tools, author ready, commit-queue-squash

#42398 doc: update property name
  doc/api/perf_hooks.md
Labels: doc, author ready, perf_hooks

#42394 doc: unify import order in CCM example
  doc/api/crypto.md
Labels: crypto, doc, author ready

#42368 src: refactor IsSupportedAuthenticatedMode
  src/crypto/crypto_cipher.cc
Labels: crypto, c++, author ready

#42323 doc,test: clarify ChaCha20-Poly1305 usage
  doc/api/crypto.md
  test/parallel/test-crypto-authenticated.js
Labels: crypto, doc, test, author ready, needs-ci

#42401 doc: standardize typography for _semantic versioning_
  README.md
  doc/api/documentation.md
Labels: doc, author ready

#42402 async_hooks: remove destroyed symbol on Promises
  lib/internal/async_hooks.js
  src/async_wrap.cc
  typings/internalBinding/async_wrap.d.ts
Labels: c++, async_hooks, author ready, typings

#42165 doc: make header smaller and dropdown click-driven when JS is on
  .eslintignore
  doc/api_assets/README.md
  doc/api_assets/api.js
  doc/api_assets/style.css
  doc/template.html
Labels: doc, author ready, commit-queue-squash

#42416 tools: bump cpplint to 1.6.0
  tools/cpplint.py
Labels: tools, author ready, commit-queue-failed, commit-queue-rebase

#42346 chore(doc): add `trace_gc` to diagnostic tooling support document
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc, diag-agenda, author ready

#42444 doc: fix typo in async_context.md
  doc/api/async_context.md
Labels: doc, fast-track, author ready

#42428 doc: add link to section
  README.md
Labels: doc, author ready

#42455 doc: change comma-splice to two sentences
  doc/api/cli.md
Labels: author ready

#42054 src: properly report exceptions from `AddressToJS()`
  lib/dgram.js
  src/js_udp_wrap.cc
  src/node_internals.h
  src/node_sockaddr-inl.h
  src/node_sockaddr.cc
  src/node_sockaddr.h
  src/tcp_wrap.cc
  src/udp_wrap.cc
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash

#42339 doc: expand history for conditional exports changes in v12
  doc/api/packages.md
Labels: doc, commit-queue-squash

#42427 crypto: make authTagLength optional for CC20P1305
  doc/api/crypto.md
  src/crypto/crypto_cipher.cc
  test/parallel/test-crypto-authenticated.js
Labels: crypto, c++, semver-minor, author ready, needs-ci

#42461 doc: clarify napi_finalize behavior
  doc/api/n-api.md
Labels: doc, node-api, commit-queue-squash

#42484 doc: remove comma splice in events.md
  doc/api/events.md
Labels: doc, events, fast-track, author ready, commit-queue-squash

#42410 test,fs: add fs.rm() tests for .git directories
  test/parallel/test-fs-rm.js
Labels: test, author ready, needs-ci, commit-queue-squash

#42460 chore: bump actions/checkout
  .github/workflows/authors.yml
  .github/workflows/auto-start-ci.yml
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/commit-lint.yml
  .github/workflows/commit-queue.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/daily.yml
  .github/workflows/doc.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/find-inactive-tsc.yml
  .github/workflows/license-builder.yml
  .github/workflows/linters.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/tools.yml
Labels: meta

#42465 doc: fix question promise API example
  doc/api/readline.md
Labels: doc, readline, author ready, dont-land-on-v12.x, dont-land-on-v14.x, commit-queue-squash

#42333 doc: update security release onboarding
  doc/contributing/security-steward-on-off-boarding.md
Labels: doc, author ready, commit-queue-squash

#42471 test: add `--trace-gc` flag test
  test/fixtures/gc.js
  test/v8-updates/test-trace-gc-flag.js
Labels: test, author ready, needs-ci, commit-queue-squash

#42502 test: fix typos in test/parallel
  test/parallel/test-fs-symlink-longpath.js
  test/parallel/test-net-socket-timeout.js
  test/parallel/test-queue-microtask-uncaught-asynchooks.js
  test/parallel/test-stream-duplex-from.js
  test/parallel/test-stream-writable-change-default-encoding.js
Labels: test, fast-track, author ready, needs-ci

#42314 esm: emit experimental warnings in common place
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/resolve.js
  lib/internal/process/esm_loader.js
  test/es-module/test-esm-experimental-warnings.mjs
  test/es-module/test-esm-specifiers-legacy-flag-warning.mjs
Labels: module, process, experimental, esm, author ready, loaders, commit-queue-squash

#42390 net,dns: trace tcp connection and dns by perf_hooks
  doc/api/perf_hooks.md
  lib/dns.js
  lib/internal/dns/promises.js
  lib/internal/perf/observe.js
  lib/net.js
  src/node_perf_common.h
  test/parallel/test-dns-perf_hooks.js
  test/parallel/test-net-perf_hooks.js
Labels: lib / src, author ready

#38545 buffer: refactor `byteLength` to remove outdated optimizations
  lib/buffer.js
  test/parallel/test-buffer-bytelength.js
Labels: buffer, semver-major, needs-ci

#42495 doc: suggest checkHost in checkServerIdentity docs
  doc/api/tls.md
Labels: tls, crypto, doc, author ready

#42065 [v12 backport] deps: V8: cherry-pick cc9a8a37445e
  common.gypi
  deps/v8/src/execution/messages.cc
Labels: build, v8 engine, needs-ci, v12.x

#42494 child_process: add env contents types in JSDoc
  lib/child_process.js
Labels: child_process, needs-ci

#42525 doc: add stability class to legacy description
  doc/api/documentation.md
Labels: doc, fast-track

#42536 test: fix comments in test files
  test/common/README.md
  test/common/internet.js
  test/es-module/test-esm-loader-resolve-type.mjs
  test/parallel/test-crypto-keygen.js
  test/parallel/test-domain-thrown-error-handler-stack.js
  test/parallel/test-http-keep-alive-max-requests.js
  test/parallel/test-http2-server-stream-session-destroy.js
  test/parallel/test-stream-pipeline-listeners.js
Labels: test, esm, fast-track, author ready

#41565 tool: Fixed bug causing JSON format to be broken
  configure.py
Labels: build, python, author ready, needs-ci
