Repository nodejs/node, pull requests merged in 2022-04, with the labels that each got.

#42551 doc: fix internal link in collaborator-guide.md
  doc/contributing/collaborator-guide.md
Labels: doc, fast-track, author ready

#42516 doc: guide towards x509.fingerprint256
  doc/api/crypto.md
Labels: crypto, doc, author ready

#42548 doc: remove extraneous comma
  doc/api/cluster.md
Labels: cluster, doc, fast-track

#42521 doc: document breaking change in `http.IncomingMessage` `'close'` event
  doc/api/http.md
  doc/changelogs/CHANGELOG_V16.md
Labels: doc, dont-land-on-v12.x, dont-land-on-v14.x, lts-watch-v16.x

#42520 src: fix typo in InspectorIoDelegate constructor
  src/inspector_io.cc
Labels: c++, inspector, author ready

#42534 doc: consolidate CI sections
  doc/contributing/pull-requests.md
Labels: doc, author ready, commit-queue-squash

#42567 test: fix typo in common/wpt.js
  test/common/wpt.js
Labels: test, fast-track, author ready

#42542 crypto: fix webcrypto derive key lengths
  lib/internal/crypto/webcrypto.js
  test/parallel/test-webcrypto-derivekey.js
Labels: crypto, experimental, author ready, needs-ci, webcrypto

#42491 doc: add introduction sentence for CJS
  doc/api/modules.md
Labels: doc, module, author ready, commit-queue-squash

#42539 buffer: fix `atob` input validation
  lib/buffer.js
  test/parallel/test-btoa-atob.js
Labels: buffer, author ready, needs-ci, dont-land-on-v12.x

#42327 test: add test for exception handlings in debugger
  test/parallel/test-debugger-invalid-json.js
Labels: test, author ready, needs-ci

#42541 test: improve `FileHandle.prototype.write` coverage
  test/parallel/test-fs-promises-file-handle-write.js
Labels: test, author ready

#42532 test: pass data into napi_create_external
  test/js-native-api/test_exception/test_exception.c
Labels: test, author ready

#42443 lib: improve the coverage of the validator
  lib/internal/validators.js
  test/parallel/test-validators.js
Labels: author ready, needs-ci, commit-queue-squash

#42552 doc: improve util.promisify() content in readline.md
  doc/api/readline.md
Labels: author ready, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x

#42554 doc: simplify recommendation in webcrypto.md
  doc/api/webcrypto.md
Labels: crypto, doc, author ready, commit-queue, commit-queue-failed

#42555 doc: clarify recommendations in stream.md
  doc/api/stream.md
Labels: doc, stream, commit-queue-failed

#42556 doc: simplify recommendations in process.md
  doc/api/process.md
Labels: doc, process, commit-queue-failed

#42540 test: remove hack for `atob` and `btoa` WPT tests
  test/wpt/test-atob.js
Labels: test, author ready, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x

#42420 test: improve lib/internal/readline/promises.js coverage
  test/parallel/test-readline-promises-csi.mjs
Labels: test, author ready, needs-ci, commit-queue-squash

#42562 crypto: cleanup webcrypto jwk code
  lib/internal/crypto/dsa.js
  lib/internal/crypto/webcrypto.js
Labels: crypto, experimental, author ready, needs-ci, webcrypto

#42561 doc: aes webcrypto unwrap is not a node-specific extensions
  doc/api/webcrypto.md
Labels: crypto, doc, experimental, author ready, webcrypto

#42559 crypto: do not add undefined hash in webcrypto normalizeAlgorithm
  lib/internal/crypto/util.js
  lib/internal/crypto/webcrypto.js
  test/parallel/test-webcrypto-util.js
Labels: crypto, experimental, author ready, needs-ci, webcrypto

#42278 src: add proper mutexes for accessing FIPS state
  src/crypto/crypto_util.cc
Labels: crypto, c++, openssl, author ready

#42582 doc: change "OCSP Request" to "OCSP request"
  doc/api/tls.md
Labels: tls, doc, fast-track

#42549 build: set stale action back to running nightly
  .github/workflows/close-stale-feature-requests.yml
Labels: meta

#42563 os: avoid unnecessary usage of var
  lib/os.js
Labels: os, author ready, needs-ci

#42522 lib: source maps filter null prefix
  lib/internal/source_map/prepare_stack_trace.js
  test/fixtures/source-map/throw-async.mjs
  test/fixtures/source-map/throw-async.mjs.map
  test/fixtures/source-map/throw-async.ts
  test/parallel/test-source-map-enable.js
Labels: needs-ci

#42588 doc: fix documentation of `FileHandle.prototype.appendFile`
  doc/api/fs.md
Labels: doc, fs, fast-track, author ready, dont-land-on-v12.x

#42578 doc: remove faulty justification for 128-bit AES
  doc/api/tls.md
Labels: tls, doc, security, fast-track, author ready

#42572 build: consolidate JS and md linting GitHub Actions
  .github/workflows/linters.yml
Labels: meta, author ready

#28006 process: disallow some uses of Object.defineProperty() on process.env
  doc/api/errors.md
  src/node_env_var.cc
  src/node_errors.h
  test/parallel/test-process-env-delete.js
  test/parallel/test-process-env-ignore-getter-setter.js
  test/parallel/test-worker-process-env.js
Labels: c++, semver-major, process, notable-change, author ready, commit-queue-squash

#42225 stream: expose web streams globals, remove runtime experimental warning
  .eslintrc.js
  doc/api/globals.md
  doc/api/webstreams.md
  lib/.eslintrc.yaml
  lib/internal/blob.js
  lib/internal/bootstrap/browser.js
  test/common/index.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-global-webstreams.js
  test/wpt/test-streams.js
Labels: semver-major, tools, author ready, needs-ci, web streams

#37408 lib: refactor Timeout, ImmediateList, TimersList to class
  lib/internal/timers.js
Labels: timers, semver-major, author ready, needs-citgm

#39841 crypto: cleanup validation
  lib/internal/crypto/keygen.js
  test/parallel/test-crypto-keygen.js
Labels: crypto, semver-major, needs-ci, commit-queue-squash

#41677 fs: fix write methods param validation and docs
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
  test/parallel/test-fs-promises-file-handle-write.js
  test/parallel/test-fs-write.js
Labels: fs, author ready, needs-ci

#42602 meta: update .mailmap and AUTHORS
  .mailmap
  AUTHORS
Labels: meta, fast-track

#42408 build: windows/arm64 native compilation support
  configure.py
  vcbuild.bat
Labels: windows, build, needs-ci

#42586 doc: remove obsolete stream API selection text
  doc/api/stream.md
Labels: doc, stream, author ready

#42538 build: remove precompiled header and debug information for host builds
  common.gypi
  tools/v8_gypfiles/v8.gyp
Labels: build, v8 engine, tools, needs-ci

#42597 doc: simplify Http2Stream encoding text
  doc/api/http2.md
Labels: doc, http2, author ready

#42627 doc: delete Chakracore time-travel from diagnostic tooling support tiers
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc, fast-track, author ready

#42604 doc: update AIX minimum supported arch
  BUILDING.md
Labels: doc, semver-major, build, aix, notable-change, author ready

#42642 http: document that ClientRequest inherits from OutgoingMessage
  doc/api/http.md
  tools/doc/type-parser.mjs
Labels: http, doc, fast-track

#42620 doc: copyedit corepack.md
  doc/api/corepack.md
Labels: doc, author ready, commit-queue-failed, commit-queue-squash

#42649 doc: fix typo in fs.read signature
  doc/api/fs.md
Labels: doc, fs, fast-track, author ready

#42608 doc: add history entries for DEP0162 on `fs.md`
  doc/api/fs.md
Labels: doc, fs, author ready

#42607 fs: runtime deprecate string coercion in `fs.write`, `fs.writeFileSync`
  doc/api/deprecations.md
  lib/fs.js
  test/parallel/test-fs-write-file-sync.js
  test/parallel/test-fs-write.js
Labels: fs, semver-major, author ready, needs-ci, needs-citgm, commit-queue-squash

#42464 readline: fix .question still called after closed
  doc/api/errors.md
  doc/api/readline.md
  lib/internal/errors.js
  lib/internal/readline/interface.js
  test/parallel/test-readline-interface.js
  test/parallel/test-readline-promises-interface.js
Labels: readline, semver-major, needs-ci, commit-queue-squash

#40773 stream: remove thenable support
  doc/api/deprecations.md
  lib/internal/streams/destroy.js
  lib/internal/streams/readable.js
  lib/internal/streams/transform.js
  lib/internal/streams/writable.js
  test/parallel/test-stream-construct-async-error.js
Labels: stream, semver-major, notable-change, author ready, commit-queue-squash

#42633 doc: add missing word in rootCertificates section
  doc/api/tls.md
Labels: tls, doc, fast-track

#42409 src,inspector: fix empty MaybeLocal crash
  src/inspector_js_api.cc
  test/pummel/test-repl-empty-maybelocal-crash.js
Labels: c++, inspector, author ready, needs-ci, commit-queue-squash

#42634 doc: link to dynamic import function
  doc/api/crypto.md
  doc/api/http2.md
  doc/api/https.md
  doc/api/tls.md
Labels: doc, author ready

#42632 doc: add missing article in session ticket section
  doc/api/tls.md
Labels: tls, doc, fast-track, author ready

#42628 test: simplify test-http-write-callbacks.js
  test/parallel/test-http-write-callbacks.js
Labels: test, author ready, needs-ci

#42672 doc: add missing punctuation in Web Streams doc
  doc/api/webstreams.md
Labels: doc, fast-track

#42647 doc: mark tlsSocket.authorized as boolean property
  doc/api/tls.md
Labels: tls, doc

#42652 doc: fix outgoingMessage.removeHeader() signature
  doc/api/http.md
Labels: http, doc, author ready

#41470 test: remove an unnecessary `undefined` in wpt
  test/common/wpt.js
Labels: test, author ready, needs-ci

#42653 doc: recommend `fh.createWriteStream` for fsPromises methods
  doc/api/fs.md
Labels: doc, fs, author ready

#42684 doc: mark worker.id as integer in cluster docs
  doc/api/cluster.md
Labels: cluster, doc, fast-track, author ready

#42682 doc: remove unneeded new in Buffer example
  doc/api/buffer.md
Labels: buffer, doc, fast-track, author ready

#42589 src,crypto: remove uses of `AllocatedBuffer` from `crypto_tls.cc`
  src/crypto/crypto_tls.cc
Labels: crypto, c++, author ready, needs-ci

#42661 doc: fix `added:` info for some methods
  doc/api/http.md
Labels: http, doc, author ready

#42667 deps: update Acorn to v8.7.0
  deps/acorn/acorn/CHANGELOG.md
  deps/acorn/acorn/dist/acorn.js
  deps/acorn/acorn/dist/acorn.mjs
  deps/acorn/acorn/dist/bin.js
  deps/acorn/acorn/package.json
Labels: author ready, needs-ci, dependencies

#42611 doc: change AES-GCM IV recommendation in WebCrypto
  doc/api/webcrypto.md
Labels: crypto, doc, author ready

#42666 build: make x86 Windows support temporarily experimental
  BUILDING.md
Labels: doc, windows, semver-major, build, v8 engine

#42596 test: allow numeric string for lookupService test
  test/parallel/test-dns-lookupService-promises.js
Labels: dns, test, author ready, needs-ci, commit-queue-squash

#42109 build: add configure option --v8-enable-short-builtin-calls
  configure.py
  tools/v8_gypfiles/features.gypi
Labels: build, v8 engine, tools, performance, needs-ci

#42662 buffer: atob throw error when the input value is invalid
  lib/buffer.js
  test/parallel/test-btoa-atob.js
Labels: buffer, author ready, needs-ci

#42685 tools: update clang-format from 1.2.3 to 1.6.0
  tools/clang-format/package-lock.json
  tools/clang-format/package.json
Labels: tools, author ready

#42659 doc: update minimum glibc requirements for Linux
  BUILDING.md
Labels: doc, semver-major, build, notable-change, linux

#42650 test: improve internal/url.js coverage
  test/parallel/test-whatwg-url-custom-searchparams-inspect.js
Labels: test, author ready, needs-ci, commit-queue

#42671 doc: fix the example for embedders
  doc/api/embedding.md
Labels: doc, embedding, author ready

#42681 build: run clang-format on CI
  .github/workflows/linters.yml
Labels: meta, author ready, commit-queue-squash

#42724 tools: update clang-format 1.6.0 to 1.7.0
  tools/clang-format/package-lock.json
  tools/clang-format/package.json
Labels: tools, fast-track, author ready

#42693 doc: improve doc for http.ServerResponse inheritance
  doc/api/http.md
Labels: http, doc, author ready

#42728 doc: fix ESM JSON/data URL import example
  doc/api/esm.md
Labels: doc, esm, fast-track, dont-land-on-v12.x, dont-land-on-v14.x

#42430 module: ensure 'node:'-only modules can access node_modules
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/resolve.js
  test/parallel/test-runner-import-no-scheme.js
Labels: tsc-agenda, author ready, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v17.x, commit-queue-squash

#42730 deps: patch V8 to 10.1.124.8
  deps/v8/include/v8-version.h
  deps/v8/src/compiler/escape-analysis.cc
  deps/v8/src/wasm/baseline/liftoff-compiler.cc
Labels: v8 engine, fast-track, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v17.x, v18.x

#42734 doc: revise data imports and node: imports sections
  doc/api/esm.md
Labels: doc, esm, fast-track, author ready

#42712 tools: lint osx shell scripts
  tools/macos-firewall.sh
  tools/osx-notarize.sh
Labels: macos, tools, author ready

#42711 doc: fix `added:` info for `outgoingMessage.{,un}cork()`
  doc/api/http.md
Labels: http, doc, author ready

#42704 doc: document the 'close' and 'finish' events
  doc/api/http.md
Labels: http, doc, author ready

#41513 test: improve test coverage of internal/blob
  test/parallel/test-blob-buffer-too-large.js
  test/parallel/test-blob.js
Labels: test, author ready, needs-ci, commit-queue-squash

#42656 test: remove the legacy url parser function in inspector-helper.js
  test/common/inspector-helper.js
Labels: test, author ready, needs-ci, commit-queue

#42658 test_runner: add initial CLI runner
  doc/api/cli.md
  doc/api/test.md
  doc/node.1
  lib/internal/errors.js
  lib/internal/main/test_runner.js
  lib/internal/test_runner/tap_stream.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
  src/node.cc
  src/node_options.cc
  src/node_options.h
  test/fixtures/test-runner/index.js
  test/fixtures/test-runner/index.test.js
  test/fixtures/test-runner/node_modules/test-nm.js
  test/fixtures/test-runner/random.test.mjs
  test/fixtures/test-runner/subdir/subdir_test.js
  test/fixtures/test-runner/test/random.cjs
  test/message/test_runner_no_refs.out
  test/message/test_runner_output.js
  test/message/test_runner_output.out
  test/message/test_runner_unresolved_promise.out
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-test-filter.js
Labels: semver-minor, lib / src, author ready, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v17.x

#42750 meta: move mmarchini to emeritus
  README.md
  doc/contributing/strategic-initiatives.md
Labels: doc, fast-track

#42626 doc: delete `mdb_v8` from diagnostic tooling support tiers
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc

#42644 large page attributing an id on Linux.
  src/large_pages/node_large_page.cc
Labels: c++, needs-ci

#42737 doc: fix `added:` info for `outgoingMessage.writable*`
  doc/api/http.md
Labels: http, doc, author ready

#42749 async_hooks: avoid decrementing iterator after erase
  src/env-inl.h
Labels: c++, author ready, needs-ci

#42746 benchmark: fix misc/startup failure
  benchmark/fixtures/require-cachable.js
Labels: benchmark, author ready

#42739 doc: improve fragment (`:target`) anchors behavior on HTML version
  doc/api_assets/api.js
  doc/api_assets/style.css
Labels: doc, tools, author ready

#42733 doc: copyedit http.OutgoingMessage documentation
  doc/api/http.md
Labels: http, doc

#42751 doc: close tag in n-api.md
  doc/api/n-api.md
Labels: doc, node-api, author ready

#42691 doc: add documentation for inherited methods
  doc/api/http.md
Labels: http, doc, commit-queue-failed

#42587 doc: consolidate use of multiple-byte units
  doc/api/buffer.md
  doc/api/cli.md
  doc/api/errors.md
  doc/api/fs.md
  doc/api/http.md
  doc/api/stream.md
  doc/api/util.md
  doc/contributing/investigating-native-memory-leaks.md
  doc/node.1
  lib/assert.js
  lib/fs.js
  lib/internal/crypto/scrypt.js
  lib/internal/errors.js
  lib/internal/fs/utils.js
  src/inspector_agent.cc
  test/common/README.md
  test/parallel/test-crypto-scrypt.js
  test/parallel/test-fs-util-validateoffsetlength.js
  test/parallel/test-http2-max-session-memory-leak.js
  test/parallel/test-tls-securepair-leak.js
  tools/compress_json.py
  tools/gyp/pylib/gyp/generator/ninja.py
  tools/inspector_protocol/encoding/encoding.h
  tools/inspector_protocol/lib/encoding_h.template
  tools/msvs/install_tools/install_tools.bat
  tools/v8_gypfiles/features.gypi
Labels: lib / src, author ready, needs-ci

#42765 build: improve the `format-cpp` error message
  .github/workflows/linters.yml
Labels: meta, author ready

#42756 worker: add `hasRef()` to the handle object
  src/node_worker.cc
  src/node_worker.h
  test/parallel/test-worker-hasref.js
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash

#42753 doc: clarify core modules that can be loaded without a prefix
  doc/api/modules.md
Labels: doc, module, author ready, commit-queue-squash

#42752 doc: add `node:` prefix for all core modules
  doc/api/assert.md
  doc/api/async_context.md
  doc/api/async_hooks.md
  doc/api/buffer.md
  doc/api/child_process.md
  doc/api/cli.md
  doc/api/cluster.md
  doc/api/console.md
  doc/api/crypto.md
  doc/api/deprecations.md
  doc/api/dgram.md
  doc/api/diagnostics_channel.md
  doc/api/dns.md
  doc/api/domain.md
  doc/api/embedding.md
  doc/api/errors.md
  doc/api/esm.md
  doc/api/events.md
  doc/api/fs.md
  doc/api/globals.md
  doc/api/http.md
  doc/api/http2.md
  doc/api/https.md
  doc/api/index.md
  doc/api/inspector.md
  doc/api/intl.md
  doc/api/module.md
  doc/api/modules.md
  doc/api/net.md
  doc/api/os.md
  doc/api/packages.md
  doc/api/path.md
  doc/api/perf_hooks.md
  doc/api/policy.md
  doc/api/process.md
  doc/api/querystring.md
  doc/api/readline.md
  doc/api/repl.md
  doc/api/stream.md
  doc/api/string_decoder.md
  doc/api/synopsis.md
  doc/api/timers.md
  doc/api/tls.md
  doc/api/tracing.md
  doc/api/tty.md
  doc/api/url.md
  doc/api/util.md
  doc/api/v8.md
  doc/api/vm.md
  doc/api/wasi.md
  doc/api/webcrypto.md
  doc/api/webstreams.md
  doc/api/worker_threads.md
  doc/api/zlib.md
  doc/contributing/writing-and-running-benchmarks.md
  doc/contributing/writing-tests.md
  src/crypto/README.md
  test/common/README.md
Labels: doc, author ready, commit-queue-failed

#42794 src: use `node:` prefix in example
  src/node_http_common.h
Labels: c++, fast-track, author ready

#42764 build: fix format-cpp
  .github/workflows/linters.yml
Labels: meta, author ready

#42757 src: define fs.constants.S_IWUSR & S_IRUSR for Win
  doc/api/fs.md
  src/node_constants.cc
  test/parallel/test-fs-constants.js
Labels: c++, author ready, needs-ci

#42778 doc: fix version history for Loaders API
  doc/api/cli.md
  doc/api/esm.md
Labels: doc, author ready, dont-land-on-v12.x, dont-land-on-v14.x

#42786 doc: fix example in assert.md
  doc/api/assert.md
Labels: assert, doc, fast-track, author ready

#42803 test: use `assert.match()` instead of `assert(regex.test())`
  test/parallel/test-runner-cli.js
Labels: test, fast-track, author ready, needs-ci

#42783 doc: delete heapdump from diagnostic tooling support tiers
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc, author ready

#42789 doc: fix outdated documentation for `family` property
  doc/api/dgram.md
  doc/api/net.md
  doc/api/os.md
  doc/api/tls.md
Labels: doc, author ready, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x

#42797 docs: order module linker arguments correctly
  doc/api/vm.md
Labels: doc, vm, author ready

#42784 v8: export more fields in getHeapStatistics
  doc/api/v8.md
  lib/v8.js
  src/node_v8.cc
  test/parallel/test-v8-stats.js
Labels: c++, v8 engine, author ready, needs-ci

#42815 crypto: validate `this` in all webcrypto methods and getters
  lib/internal/crypto/webcrypto.js
  test/parallel/test-webcrypto-constructors.js
Labels: crypto, experimental, author ready, needs-ci, webcrypto, commit-queue-squash

#42810 build: improve reliability of find_python.cmd script
  tools/msvs/find_python.cmd
Labels: windows, install, tools, author ready, needs-ci

#42807 feat: remove experimental warning from FormData
  lib/internal/bootstrap/pre_execution.js
Labels: author ready, needs-ci, fetch

#42809 build: enable V8's shared read-only heap
  configure.py
  test/parallel/test-worker-nearheaplimit-deadlock.js
  tools/v8_gypfiles/features.gypi
  tools/v8_gypfiles/v8.gyp
Labels: build, v8 engine, tools, needs-ci, dont-land-on-v12.x, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash

#42766 src,crypto: remove uses of `AllocatedBuffer` from `crypto_ec.cc`
  src/crypto/crypto_ec.cc
Labels: crypto, c++, author ready, needs-ci, commit-queue-squash

#42820 errors,vm: update error and use cause
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/vm/module.js
  test/parallel/test-vm-module-errors.js
Labels: vm, errors, experimental, author ready, needs-ci

#42846 test: fix flaky HTTP server tests
  test/parallel/test-http-server-headers-timeout-keepalive.js
  test/parallel/test-http-server-request-timeout-keepalive.js
Labels: test, fast-track, author ready, needs-ci

#42848 meta: update authors
  .mailmap
  AUTHORS
Labels: fast-track, commit-queue-failed, commit-queue-squash

#42819 wasi: remove unecessary null check
  src/node_wasi.cc
Labels: c++, author ready, needs-ci, wasi

#42836 doc: update WebAssembly strategy with Wasm Web API
  doc/contributing/maintaining-web-assembly.md
Labels: doc, author ready

#42834 test: skip test that cannot pass under --node-builtin-modules-path
  test/parallel/test-worker-init-failure.js
Labels: test, flaky-test, author ready, worker

#42842 lib,src: use Response URL as WebAssembly location
  lib/internal/bootstrap/pre_execution.js
  src/node_wasm_web_api.cc
  src/node_wasm_web_api.h
  test/fixtures/crash.wasm
  test/fixtures/crash.wat
  test/parallel/test-wasm-web-api.js
Labels: c++, author ready, needs-ci

#42811 fs: fix mkdirSync so ENOSPC is correctly reported
  src/node_file.cc
Labels: c++, fs, author ready, needs-ci

#42761 test: make port arbitrary in net-perf_hooks
  test/parallel/test-net-perf_hooks.js
Labels: test, author ready, needs-ci

#42877 doc: fix markdown formatting in primordials.md
  doc/contributing/primordials.md
Labels: doc, fast-track

#42813 doc: clarify guide on testing internal errors
  doc/contributing/writing-tests.md
Labels: doc, author ready, commit-queue-squash

#42738 docs,test: add tests and docs for duplex.fromWeb and duplex.toWeb
  doc/api/stream.md
  test/parallel/test-stream-duplex.js
Labels: author ready, needs-ci, commit-queue-squash

#42872 errors,console: refactor to use ES2020 & ES2021 syntax
  lib/internal/console/constructor.js
  lib/internal/errors.js
Labels: console, errors, needs-ci

#42864 src: make --no-node-snapshot a per-process option
  src/node.cc
  src/node_options.cc
  src/node_options.h
  src/node_worker.cc
Labels: c++, lib / src, needs-ci

#42875 esm: graduate top-level-await to stable
  doc/api/esm.md
  src/module_wrap.cc
  src/node_options.cc
  src/node_options.h
Labels: c++, author ready, needs-ci

#42876 doc: record March 2022 security release steward
  doc/contributing/security-release-process.md
Labels: doc, author ready

#42799 src: turn SSL_CTX_new CHECK/segfault into JS exception
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_context.cc
Labels: crypto, c++, author ready

#42818 v8: export cpu_profiler_metadata_size in getHeapCodeStatistics
  doc/api/v8.md
  lib/v8.js
  src/node_v8.cc
  test/parallel/test-v8-stats.js
Labels: c++, v8 engine, author ready, needs-ci
