Repository nodejs/node, pull requests merged in 2022-09, with the labels that each got.

#44306 src: simplify SFINAE of `ToStringHelper::BaseConvert`
  src/debug_utils-inl.h
Labels: c++, author ready, needs-ci

#44423 deps: V8: backport ff8d67c88449
  common.gypi
  deps/v8/src/builtins/builtins-microtask-queue-gen.cc
  deps/v8/src/d8/d8.cc
  deps/v8/src/d8/d8.h
  deps/v8/src/execution/isolate.cc
  deps/v8/src/objects/contexts.cc
  deps/v8/src/objects/contexts.h
  deps/v8/src/objects/objects.cc
  deps/v8/test/mjsunit/promise-hooks.js
Labels: build, v8 engine, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x

#44467 src: avoid casting std::trunc(... / ...) to size_t
  src/crypto/crypto_keygen.cc
Labels: crypto, c++, fast-track, author ready, needs-ci

#44410 src: improve error handling in CloneSSLCerts
  src/crypto/crypto_common.cc
Labels: tls, crypto, c++, author ready, needs-ci

#44482 doc: use serial comma in addons docs
  doc/api/addons.md
Labels: doc, addons, fast-track, author ready

#44452 build: go faster, drop -fno-omit-frame-pointer
  common.gypi
Labels: build, author ready, needs-ci

#44481 doc: do not use "Returns:" for crypto.constants
  doc/api/crypto.md
Labels: crypto, doc, fast-track, author ready

#44468 crypto: add digest name to INVALID_DIGEST errors
  src/crypto/crypto_hkdf.cc
  src/crypto/crypto_hmac.cc
  src/crypto/crypto_rsa.cc
  src/crypto/crypto_sig.cc
Labels: c++, lib / src, author ready, needs-ci

#44475 crypto: handle invalid prepareAsymmetricKey JWK inputs
  lib/internal/crypto/keygen.js
  lib/internal/crypto/keys.js
  test/parallel/test-crypto-key-objects.js
  test/parallel/test-crypto-sign-verify.js
Labels: crypto, author ready, needs-ci

#44418 stream: fix setting abort reason in `ReadableStream.pipeTo()`
  lib/internal/webstreams/readablestream.js
  test/parallel/test-webstream-readablestream-pipeto.js
  test/wpt/status/streams.json
Labels: author ready, needs-ci, web streams

#44450 test_runner: fix `duration_ms` to be milliseconds
  lib/internal/test_runner/test.js
Labels: author ready, needs-ci, test_runner

#44500 src: rename misleading arg in ClientHelloParser
  src/crypto/crypto_clienthello-inl.h
  src/crypto/crypto_clienthello.h
Labels: tls, c++, fast-track, author ready, needs-ci

#44512 doc: add missing parenthesis in TLSSocket section
  doc/api/tls.md
Labels: tls, doc, fast-track, author ready

#44493 src: use V8 entropy source if RAND_bytes() != 1
  src/crypto/crypto_util.cc
  src/crypto/crypto_util.h
  src/node.cc
Labels: c++, v8 engine, openssl, author ready, needs-ci

#44366 watch: add initial implementation for `node --watch`
  doc/api/cli.md
  lib/internal/assert/assertion_error.js
  lib/internal/main/watch_mode.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/loader.js
  lib/internal/util/colors.js
  lib/internal/watch_mode/files_watcher.js
  node.gypi
  src/env-inl.h
  src/inspector_agent.cc
  src/node.cc
  src/node_options.cc
  src/node_options.h
  test/common/inspector-helper.js
  test/fixtures/watch-mode/dependant.js
  test/fixtures/watch-mode/dependant.mjs
  test/fixtures/watch-mode/dependency.js
  test/fixtures/watch-mode/dependency.mjs
  test/fixtures/watch-mode/failing.js
  test/fixtures/watch-mode/graceful-sigterm.js
  test/fixtures/watch-mode/infinite-loop.js
  test/fixtures/watch-mode/inspect.js
  test/fixtures/watch-mode/inspect_with_signal.js
  test/fixtures/watch-mode/ipc.js
  test/fixtures/watch-mode/parse_args.js
  test/fixtures/watch-mode/process_exit.js
  test/fixtures/watch-mode/subdir/file.js
  test/parallel/test-watch-mode-files_watcher.mjs
  test/parallel/test-watch-mode.mjs
Labels: c++, semver-minor, lib / src, notable-change, author ready, needs-ci

#44222 doc: move policy docs to the permissions scope
  doc/api/errors.md
  doc/api/index.md
  doc/api/permissions.md
  doc/api/policy.md
  test/doctool/test-make-doc.mjs
Labels: doc, commit-queue-squash

#44479 src: use automatic memory mgmt in SecretKeyGen
  src/crypto/crypto_keygen.cc
  src/crypto/crypto_keygen.h
Labels: crypto, c++, author ready, needs-ci, review wanted, backport-blocked-v16.x

#44427 test: improve api/encoding.cc coverage
  src/api/encoding.cc
  test/addons/parse-encoding/test.js
Labels: c++, author ready, needs-ci, commit-queue-squash

#44451 doc: document attribute Script.cachedDataRejected
  doc/api/vm.md
Labels: doc, vm

#44499 lib: fix reference leak
  benchmark/process/next-tick-loop-args.js
  benchmark/process/next-tick-loop.js
  lib/internal/fixed_queue.js
Labels: benchmark, author ready, needs-ci

#44279 bootstrap: clean up inspector console methods during serialization
  lib/internal/console/constructor.js
  test/fixtures/snapshot/console.js
  test/parallel/test-snapshot-console.js
Labels: console, needs-ci

#44531 tools: fix shebang to use python3 by default
  tools/test.py
Labels: test, tools, python

#44566 Revert "build: go faster, drop -fno-omit-frame-pointer"
  common.gypi
Labels: build, fast-track, author ready, needs-ci

#44538 doc: emphasize that createCipher is never secure
  doc/api/crypto.md
  doc/api/deprecations.md
Labels: crypto, doc, security, author ready

#44505 stream: add `ReadableByteStream.tee()`
  doc/api/webstreams.md
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/util.js
  test/parallel/test-whatwg-readablestream.js
  test/parallel/test-whatwg-readablestream.mjs
  test/wpt/status/streams.json
Labels: semver-minor, experimental, author ready, needs-ci, dont-land-on-v14.x, web streams, commit-queue-squash

#44540 stream: remove `abortReason` from `WritableStreamDefaultController`
  doc/api/webstreams.md
  lib/internal/webstreams/writablestream.js
  test/parallel/test-whatwg-writablestream.js
Labels: author ready, needs-ci, web streams

#44551 test: split watch mode inspector tests to sequential
  test/parallel/test-watch-mode.mjs
  test/sequential/test-watch-mode-inspect.mjs
Labels: test, flaky-test, needs-ci

#44549 doc: remove ebpf from supported tooling list
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc

#44545 test: use python3 instead of python
  test/parallel/test-child-process-set-blocking.js
Labels: test, python, needs-ci

#44520 test_runner: support using `--inspect` with `--test`
  doc/api/test.md
  lib/internal/cluster/primary.js
  lib/internal/main/test_runner.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/util/inspector.js
  src/node_options.cc
  test/common/index.mjs
  test/fixtures/test-runner/run_inspect.js
  test/fixtures/test-runner/run_inspect_assert.js
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-inspect.mjs
  test/sequential/test-runner-run-inspect.mjs
Labels: c++, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#44585 doc: do not use weak MODP group in example
  doc/api/crypto.md
Labels: crypto, doc, fast-track, author ready

#43627 process: make process.config read only
  doc/api/deprecations.md
  doc/api/process.md
  lib/internal/bootstrap/node.js
  test/abort/test-abort-fatal-error.js
  test/fixtures/overwrite-config-preload-module.js
  test/parallel/test-process-config.js
Labels: semver-major, process, author ready, needs-ci

#44575 crypto: restrict PBKDF2 args to signed int
  lib/internal/crypto/pbkdf2.js
  test/parallel/test-crypto-pbkdf2.js
Labels: crypto, author ready, needs-ci

#44477 module: exports & imports invalid slash deprecation
  doc/api/deprecations.md
  doc/api/esm.md
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-exports-deprecations.mjs
  test/es-module/test-esm-exports.mjs
  test/es-module/test-esm-imports.mjs
  test/fixtures/es-modules/pkgimports/package.json
  test/fixtures/es-modules/pkgimports/sub/internal/test.js
  test/fixtures/node_modules/pkgexports/internal/test.js
  test/fixtures/node_modules/pkgexports/package.json
Labels: experimental, esm, author ready, needs-ci

#44594 doc: fix link in `process.md`
  doc/api/process.md
Labels: doc, process, fast-track, author ready

#44572 doc: mention how to get commit release
  doc/contributing/releases.md
Labels: doc, author ready

#44574 tools: increase timeout of running WPT
  tools/test.py
Labels: test, tools

#44495 module: exports & imports runtime deprecate invalid slashes
  doc/api/deprecations.md
  lib/internal/modules/esm/resolve.js
Labels: semver-major, esm, author ready, needs-ci, commit-queue-squash

#44207 build: refactor Android build system
  android-configure
  android-patches/trap-handler.h.patch
  android_configure.py
Labels: build, author ready, needs-ci, commit-queue-squash

#44487 doc: fix vm.Script createCachedData example
  doc/api/vm.md
Labels: doc, vm

#42796 fs: remove coercion to string in writing methods
  doc/api/deprecations.md
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
  test/parallel/test-fs-write-file-sync.js
  test/parallel/test-fs-write.js
Labels: fs, semver-major, author ready, needs-ci, commit-queue-squash

#44587 doc: fix errors in http.md
  doc/api/http.md
Labels: http, doc, author ready, commit-queue-failed

#44603 doc: fix heading levels for test runner hooks
  doc/api/test.md
Labels: doc, test, fast-track, author ready

#44589 doc: remove old OpenSSL ENGINE constants
  doc/api/crypto.md
Labels: crypto, doc, openssl, author ready

#44588 doc: deprecate modp1, modp2, and modp5 groups
  doc/api/crypto.md
  doc/api/deprecations.md
  doc/api_assets/style.css
Labels: crypto, doc, semver-minor, notable-change, author ready, deprecations

#44592 cluster: use inspector utils
  lib/internal/cluster/primary.js
  lib/internal/util/inspector.js
Labels: util, cluster, author ready, needs-ci

#44488 bootstrap: generate bootstrapper arguments in BuiltinLoader
  src/api/environment.cc
  src/node.cc
  src/node_builtins.cc
  src/node_builtins.h
  src/node_realm.cc
  src/node_realm.h
Labels: c++, lib / src, needs-ci, review wanted

#44480 test: ignore stale process cleanup failures on Windows
  test/common/child_process.js
Labels: test, flaky-test, needs-ci, review wanted

#44489 inspector: expose inspector.close on workers
  doc/api/inspector.md
  lib/inspector.js
  src/node_process_methods.cc
  test/parallel/test-inspector-close-worker.js
Labels: c++, inspector, needs-ci

#44536 win: fix fs.realpath.native for long paths
  lib/fs.js
  test/parallel/test-fs-long-path.js
Labels: fs, author ready

#44541 dns: refactor default resolver
  lib/dns.js
  lib/internal/dns/callback_resolver.js
  lib/internal/dns/promises.js
  lib/internal/dns/utils.js
  lib/internal/main/worker_thread.js
  lib/internal/process/pre_execution.js
  test/parallel/test-bootstrap-modules.js
Labels: lib / src, author ready, review wanted, commit-queue-squash

#44534 src: dump isolate stats when process exits
  src/api/environment.cc
Labels: c++, author ready, needs-ci, commit-queue-squash

#44581 src: make NearHeapLimitCallback() more robust
  src/env-inl.h
  src/env.cc
  src/env.h
  src/node_worker.cc
Labels: c++, lib / src, needs-ci

#44074 src: make ReqWrap weak
  lib/fs.js
  src/cares_wrap.cc
  src/connection_wrap.cc
  src/node_file.cc
  src/req_wrap-inl.h
  src/tcp_wrap.cc
  src/udp_wrap.cc
Labels: c++, fs, needs-ci

#44617 fix(api): fixed an entry of the process api that was non-conforming
  doc/api/process.md
Labels: doc, process, fast-track

#44613 fs: remove unused option in `fs.fstatSync()`
  lib/fs.js
Labels: fs, author ready, needs-ci

#44609 doc: use serial comma in stream docs
  doc/api/stream.md
Labels: doc, stream, author ready

#44606 readline: remove `question` method from `InterfaceConstructor`
  doc/api/readline.md
  lib/internal/readline/interface.js
  lib/readline.js
  lib/readline/promises.js
Labels: readline, semver-major, author ready, needs-ci

#44614 test_runner: include stack trace of `uncaughtException` and `unhandledRejection`
  lib/internal/test_runner/tap_stream.js
  lib/internal/test_runner/test.js
  test/message/test_runner_describe_it.out
  test/message/test_runner_output.js
  test/message/test_runner_output.out
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#44620 test: fix test-runner-inspect
  lib/internal/test_runner/runner.js
Labels: flaky-test, author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#44616 src: avoid copy when creating Blob
  src/node_blob.cc
  src/node_blob.h
Labels: c++, author ready, needs-ci

#44640 test: fix `test-repl` not validating leaked globals properly
  test/parallel/test-repl.js
Labels: test, fast-track, author ready, needs-ci

#44608 doc: use serial comma in report docs
  doc/api/report.md
Labels: doc, author ready, report

#44615 meta: update test_runner in label-pr-config
  .github/label-pr-config.yml
Labels: meta, author ready

#44599 Update README.md
  README.md
Labels: doc, author ready

#44618 lib,test: fix bug in InternalSocketAddress
  lib/internal/socketaddress.js
  test/parallel/test-socketaddress.js
Labels: net, author ready, needs-ci, quic

#44580 tls: fix out-of-bounds read in ClientHelloParser
  node.gyp
  src/crypto/crypto_clienthello.cc
  test/cctest/test_crypto_clienthello.cc
Labels: tls, crypto, c++, build, security, author ready

#42686 test: improve lib/readline.js coverage
  test/parallel/test-readline-interface.js
Labels: test, commit-queue-squash

#43988 Add timezone update workflow
  .github/workflows/timezone-update.yml
  tools/update-timezone.mjs
Labels: meta, tools

#44664 tools: fix typo in update-nghttp2.sh
  tools/update-nghttp2.sh
Labels: tools, fast-track

#44644 doc: maintain only one list of MODP groups
  doc/api/crypto.md
Labels: crypto, doc, author ready

#44625 doc: improve building doc for Windows Powershell
  BUILDING.md
Labels: doc, build, author ready, commit-queue-failed

#44635 dns: remove unnecessary parameter from validateOneOf
  lib/dns.js
  lib/internal/dns/promises.js
Labels: dns, author ready, needs-ci

#44665 doc: make legacy banner slightly less bright
  doc/api_assets/style.css
Labels: doc, fast-track, author ready

#44667 meta: move dnlup to emeriti
  README.md
Labels: doc, meta, fast-track, author ready

#44378 http: throw error on content-length mismatch
  doc/api/errors.md
  doc/api/http.md
  lib/_http_outgoing.js
  lib/internal/errors.js
  test/parallel/test-http-content-length-mismatch.js
  test/parallel/test-http-outgoing-properties.js
  test/parallel/test-http-response-multi-content-length.js
Labels: http, semver-minor, errors, author ready, needs-ci

#44619 deps: update ngtcp2 update instructions
  deps/ngtcp2/README.md
Labels: author ready, review wanted, quic, dependencies, dont-land-on-v14.x

#44537 module: open stat/readPackage to mutations
  lib/internal/modules/cjs/loader.js
Labels: author ready, needs-ci, commit-queue-squash

#44668 src: remove <unistd.h> from node_os.cc
  src/node_os.cc
Labels: c++, os, author ready, needs-ci

#44716 meta: add mailmap entry for dnlup
  .mailmap
  AUTHORS
Labels: meta, fast-track

#44701 esm, loader: tidy ESMLoader internals
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/loader.js
  test/es-module/test-esm-loader-hooks.mjs
Labels: lib / src, needs-ci, loaders, commit-queue-squash

#44621 test: deflake watch mode tests
  test/fixtures/watch-mode/event_loop_blocked.js
  test/fixtures/watch-mode/graceful-sigterm.js
  test/fixtures/watch-mode/infinite-loop.js
  test/parallel/test-watch-mode.mjs
  test/sequential/test-watch-mode.mjs
Labels: test, flaky-test, needs-ci, commit-queue-failed, commit-queue-squash

#44734 doc: remove extra space on threadpool usage
  doc/api/fs.md
Labels: doc, fs, fast-track

#44210 gyp: libnode for ios app embedding
  configure.py
  deps/cares/cares.gyp
  node.gyp
  node.gypi
  tools/v8_gypfiles/v8.gyp
Labels: build, v8 engine, tools, cares, notable-change, needs-ci, gyp, dependencies, dont-land-on-v14.x, commit-queue, commit-queue-squash

#44723 doc,crypto: update webcrypto docs for global access
  doc/api/webcrypto.md
Labels: crypto, doc, author ready, dont-land-on-v14.x, webcrypto, dont-land-on-v16.x, commit-queue-squash, dont-land-on-v18.x

#44669 src: avoid using v8 on Isolate termination
  src/env.cc
  src/node_http2.cc
  src/node_platform.cc
Labels: c++, author ready, needs-ci, commit-queue-squash

#44387 doc: include code examples for webstreams consumers
  doc/api/webstreams.md
Labels: doc

#44727 benchmark: fix startup benchmark
  benchmark/fixtures/require-cachable.js
Labels: benchmark, author ready

#44733 doc,crypto: cleanup removed pbkdf2 behaviours
  doc/api/crypto.md
Labels: crypto, doc, author ready

#44725 test: fix addon tests compilation with OpenSSL 1.1.1
  test/addons/openssl-providers/binding.cc
Labels: test, openssl, addons, author ready, needs-ci, commit-queue-squash

#44748 doc: add registry number for Electron 22
  doc/abi_version_registry.json
Labels: doc, fast-track

#44702 stream: handle a pending BYOB pull request from a released reader
  doc/api/webstreams.md
  lib/internal/webstreams/readablestream.js
  test/wpt/status/streams.json
Labels: author ready, needs-ci, web streams

#44687 test: changed promise to async/await in debugger-watcher
  test/sequential/test-debugger-watchers.js
  test/sequential/test-debugger-watchers.mjs
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-failed

#44714 doc: update the deprecation for exit code to clarify its scope
  doc/api/deprecations.md
Labels: doc, author ready, deprecations, commit-queue-failed

#44758 src: restore IS_RELEASE to 0
  src/node_version.h
Labels: fast-track, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x

#44666 test: check that sysconf returns a positive value
  test/cctest/test_crypto_clienthello.cc
Labels: tls, c++, test, needs-ci

#44739 test: fix watch mode test flake
  test/sequential/test-watch-mode.mjs
Labels: test, author ready, needs-ci

#44688 test: update test-debugger-low-level to use await/async
  test/sequential/test-debugger-low-level.js
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-squash

#44678 test: change promises to async/await in test-debugger-invalid-args.js
  test/sequential/test-debugger-invalid-args.js
Labels: test, code-and-learn, author ready, needs-ci

#44759 doc: fix v16.17.1 security release changelog
  doc/changelogs/CHANGELOG_V16.md
Labels: doc, fast-track, author ready

#44761 doc: fix description for `napi_get_cb_info()` in `n-api.md`
  doc/api/n-api.md
Labels: doc, node-api

#44683 test: change promises to async/await
  test/sequential/test-debugger-launch.js
  test/sequential/test-debugger-launch.mjs
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-squash

#44791 doc: fix typo in `fs.mkdir` example
  doc/api/fs.md
Labels: doc, fs, fast-track, author ready

#44754 test: verify napi_remove_wrap with napi_delete_reference
  test/js-native-api/test_reference_double_free/test_reference_double_free.c
  test/js-native-api/test_reference_double_free/test_wrap.js
Labels: test, node-api, needs-ci

#44774 path: change basename() argument from ext to suffix
  doc/api/path.md
  lib/path.js
Labels: path, author ready, needs-ci

#44706 tools: update eslint-check.js to object style
  tools/eslint-rules/eslint-check.js
Labels: tools, code-and-learn

#44685 test: change the promises to async/await in test/sequential/test-debugger-exec-scope.js
  test/sequential/test-debugger-exec-scope.js
  test/sequential/test-debugger-exec-scope.mjs
Labels: test, code-and-learn, author ready, needs-ci

#44684 Change the promises to async/await in test/sequential/test-debugger-p…
  test/sequential/test-debugger-profile.js
Labels: test, code-and-learn, author ready, needs-ci

#44696 test:update promise to async/await test-debugger-preserve-breaks
  test/sequential/test-debugger-preserve-breaks.js
Labels: test, code-and-learn, author ready, needs-ci

#44717 GitHub Workflows security hardening
  .github/workflows/timezone-update.yml
Labels: meta, commit-queue-failed, commit-queue-squash

#44680 test: modify test-debugger-custom-port.js to use async-await
  test/sequential/test-debugger-custom-port.js
Labels: code-and-learn, author ready, commit-queue-squash

#44789 doc: remove "currently" and comma splice from child_process.md
  doc/api/child_process.md
Labels: child_process, doc, author ready, commit-queue-failed

#44763 tools: refactor deprecated format to use object-style notation
  tools/eslint-rules/no-unescaped-regexp-dot.js
Labels: tools, code-and-learn, author ready

#44779 esm: fix duplicated test
  test/es-module/test-esm-specifiers-legacy-flag.mjs
  test/es-module/test-esm-specifiers.mjs
Labels: test, esm, author ready

#44769 fs(read(fd[, options], callback)): throw `ERR_INVALID_ARG_TYPE` when `options.buffer` is `null`
  lib/fs.js
  test/parallel/test-fs-read.js
Labels: fs, semver-major, needs-ci, commit-queue-squash

#44694 test: refactor to async/await
  test/sequential/test-debugger-exec.js
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-squash

#44767 fs: don't hard code name in validatePosition()
  lib/internal/fs/utils.js
Labels: fs

#44772 test: add extra tests for basename with ext option
  test/parallel/test-path-basename.js
Labels: test, author ready, needs-ci

#44697 test: change promises to async/await
  test/sequential/test-debugger-sb-before-load.js
Labels: test, code-and-learn, author ready, needs-ci

#44677 test: change promises to async/await in test-debugger-backtrace.js
  test/sequential/test-debugger-backtrace.js
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-squash

#44674 Migrated from Promise chains to Async/Await
  test/sequential/test-debugger-restart-message.js
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-squash

#44771 src: remove ParseIP() in cares_wrap.cc
  src/cares_wrap.cc
Labels: c++, cares, author ready, needs-ci

#44675 test-debugger-auto-resume - promise to async/await
  test/sequential/test-debugger-auto-resume.js
  test/sequential/test-debugger-auto-resume.mjs
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-failed

#44561 crypto: use EVP_PKEY_CTX_set_dsa_paramgen_q_bits when available
  src/crypto/crypto_dsa.cc
Labels: crypto, c++, author ready, needs-ci

#44693 test: change promises to async/await in test-debugger-heap-profiler
  test/sequential/test-debugger-heap-profiler.js
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-failed

#44695 test:update test-debugger-random-port-with-inspect-port.js to use awa…
  test/sequential/test-debugger-random-port-with-inspect-port.js
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#44689 test: refactor to await
  test/parallel/test-debugger-invalid-json.mjs
Labels: test, code-and-learn, author ready, needs-ci

#44692 test: update test-debugger-scripts to use await/async
  test/sequential/test-debugger-scripts.js
Labels: test, code-and-learn, needs-ci, commit-queue-squash

#44686 test: change promise to async/await in test-debugger-help.mjs
  test/sequential/test-debugger-help.js
  test/sequential/test-debugger-help.mjs
Labels: test, code-and-learn, author ready, needs-ci

#44690 test: use async/await in test-debugger-exceptions
  test/sequential/test-debugger-exceptions.js
Labels: test, code-and-learn, author ready, needs-ci

#44780 tools: fix typo in `tools/update-authors.mjs`
  tools/update-authors.mjs
Labels: tools, author ready
