Repository nodejs/node, pull requests merged in 2023-04, with the labels that each got.

#47306 tools: disable Codecov commit statuses
  codecov.yml
Labels: author ready

#46305 esm: skip file: URL conversion to path when possible
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/translators.js
  test/parallel/test-esm-url-extname.js
Labels: esm, author ready, needs-ci, commit-queue-squash

#47340 Revert "util: reduce javascript call for ToUSVString"
  lib/internal/util.js
  src/node_util.cc
Labels: util, c++, fast-track, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x, dont-land-on-v19.x

#47318 doc: remove Vladimir de Turckheim from Security release stewards
  README.md
  doc/contributing/security-release-process.md
Labels: doc, author ready

#47320 blob: fix range error with many chunks
  lib/internal/blob.js
  test/parallel/test-blob.js
Labels: author ready, needs-ci

#46674 test_runner: add code coverage support to spec reporter
  lib/internal/test_runner/reporter/spec.js
  lib/internal/test_runner/reporter/tap.js
  lib/internal/test_runner/utils.js
  test/parallel/test-runner-coverage.js
Labels: needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#47372 build: remove Python pip --no-user option (#47338)
  Makefile
Labels: build, fast-track, needs-ci

#47357 build: update stale action from v7 to v8
  .github/workflows/close-stale-feature-requests.yml
  .github/workflows/close-stalled.yml
Labels: meta

#47309 sea: fix memory leak detected by asan
  src/node_sea.cc
  test/parallel/test-single-executable-application.js
Labels: author ready, needs-ci, commit-queue-squash, single-executable

#47341 doc: clarify reports are only evaluated on active versions
  SECURITY.md
Labels: doc

#47190 url: improve URLSearchParams creation performance
  lib/internal/url.js
  test/parallel/test-whatwg-url-custom-searchparams-constructor.js
Labels: url, performance, whatwg-url, needs-ci, review wanted, needs-benchmark-ci

#47349 test: verify tracePromise does not do runStores
  test/parallel/test-diagnostics-channel-tracing-channel-promise-run-stores.js
Labels: test, fast-track, needs-ci, commit-queue-failed, diagnostics_channel, commit-queue-squash

#47375 doc: reserve 116 for Electron 25
  doc/abi_version_registry.json
Labels: doc, fast-track, author ready, commit-queue-squash

#47378 benchmark: fix invalid requirementsURL
  benchmark/_http-benchmarkers.js
Labels: http, benchmark, fast-track, author ready

#47107 src: bootstrap prepare stack trace callback in shadow realm
  .github/CODEOWNERS
  lib/assert.js
  lib/internal/bootstrap/node.js
  lib/internal/bootstrap/realm.js
  lib/internal/main/mksnapshot.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/helpers.js
  lib/internal/process/pre_execution.js
  lib/internal/util/inspect.js
  lib/repl.js
  src/api/environment.cc
  src/node_builtins.cc
  src/node_errors.cc
  src/node_realm.cc
  src/node_shadow_realm.cc
  test/es-module/test-loaders-hidden-from-users.js
  test/parallel/test-inspector-inspect-brk-node.js
  test/parallel/test-shadow-realm-prepare-stack-trace.js
Labels: c++, lib / src, needs-ci, realm

#47361 build: remove non-exist build file
  node.gyp
Labels: build, author ready, needs-ci

#47355 test: move test-shadow-realm-gc.js to known_issues
  test/known_issues/known_issues.status
  test/known_issues/test-shadow-realm-gc.js
Labels: test, needs-ci, commit-queue-squash

#47088 test_runner: stringify AssertError expected and actual
  lib/internal/test_runner/reporter/tap.js
  lib/internal/test_runner/yaml_to_js.js
  test/message/test_runner_output.js
  test/message/test_runner_output.out
  test/message/test_runner_output_cli.out
  test/message/test_runner_output_dot_reporter.out
  test/message/test_runner_output_spec_reporter.out
Labels: needs-ci, dont-land-on-v14.x, test_runner

#47370 test_runner: hide failing tests title when all tests pass
  lib/internal/test_runner/reporter/spec.js
  test/message/test_runner_spec_reporter_successful.js
  test/message/test_runner_spec_reporter_successful.out
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-failed, test_runner

#47394 test_runner: color errors only when colors are avilable
  lib/internal/test_runner/reporter/spec.js
Labels: fast-track, author ready, needs-ci, dont-land-on-v14.x, test_runner

#47335 permission: drop process.permission.deny
  benchmark/permission/permission-fs-deny.js
  benchmark/permission/permission-fs-read.js
  doc/api/permissions.md
  doc/api/process.md
  lib/internal/process/permission.js
  src/env.cc
  src/permission/child_process_permission.cc
  src/permission/child_process_permission.h
  src/permission/fs_permission.cc
  src/permission/fs_permission.h
  src/permission/permission.cc
  src/permission/permission.h
  src/permission/permission_base.h
  src/permission/worker_permission.cc
  src/permission/worker_permission.h
  test/fixtures/permission/fs-read.js
  test/fixtures/permission/fs-symlink-target-write.js
  test/fixtures/permission/fs-symlink.js
  test/fixtures/permission/fs-wildcard.js
  test/fixtures/permission/fs-write.js
  test/parallel/test-permission-allow-child-process-cli.js
  test/parallel/test-permission-allow-worker-cli.js
  test/parallel/test-permission-child-process-cli.js
  test/parallel/test-permission-deny-child-process.js
  test/parallel/test-permission-deny-fs-wildcard.js
  test/parallel/test-permission-deny-worker-threads.js
  test/parallel/test-permission-deny.js
  test/parallel/test-permission-fs-read.js
  test/parallel/test-permission-fs-relative-path.js
  test/parallel/test-permission-fs-symlink-target-write.js
  test/parallel/test-permission-fs-symlink.js
  test/parallel/test-permission-fs-wildcard.js
  test/parallel/test-permission-fs-windows-path.js
  test/parallel/test-permission-fs-write.js
  test/parallel/test-permission-has.js
  test/parallel/test-permission-worker-threads-cli.js
Labels: c++, lib / src, needs-ci

#47363 doc: add a note about os.cpus() returning an empty list
  doc/api/os.md
Labels: doc, os, commit-queue-failed, commit-queue-squash

#46509 src: use stricter compile-time guidance
  src/node_snapshotable.cc
Labels: c++, author ready, needs-ci

#47403 test: fix flaky test-watch-mode-inspect
  test/sequential/test-watch-mode-inspect.mjs
Labels: test, fast-track, author ready, needs-ci, review wanted

#47369 watch: fix watch path with equals
  lib/internal/main/watch_mode.js
  test/sequential/test-watch-mode.mjs
Labels: author ready, needs-ci, commit-queue-squash, watch-mode

#47194 module: do less CJS module loader initialization at run time
  lib/internal/bootstrap/realm.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/helpers.js
  lib/internal/util.js
Labels: lib / src, needs-ci

#46790 net: enable autoSelectFamily by default
  doc/api/cli.md
  doc/api/errors.md
  doc/api/net.md
  lib/internal/errors.js
  lib/internal/net.js
  lib/net.js
  src/node_options.cc
  src/node_options.h
  test/common/index.js
  test/internet/test-tls-autoselectfamily-servername.js
  test/parallel/test-http-autoselectfamily.js
  test/parallel/test-http2-ping-settings-heapdump.js
  test/parallel/test-https-autoselectfamily.js
  test/parallel/test-net-autoselectfamily-commandline-option.js
  test/parallel/test-net-autoselectfamily-default.js
  test/parallel/test-net-autoselectfamily-ipv4first.js
  test/parallel/test-net-autoselectfamily.js
  test/parallel/test-tls-connect-hints-option.js
  test/sequential/test-http-econnrefused.js
  test/sequential/test-net-better-error-messages-port.js
  test/sequential/test-net-connect-econnrefused.js
  test/sequential/test-net-reconnect-error.js
Labels: c++, net, semver-major, needs-ci

#47436 doc: add MoLow to the TSC
  README.md
Labels: doc, fast-track

#47217 src: use the internal field to determine if an object is a BaseObject
  src/async_wrap.cc
  src/base_object-inl.h
  src/base_object.cc
  src/base_object.h
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_context.cc
  src/crypto/crypto_dh.cc
  src/crypto/crypto_ec.cc
  src/crypto/crypto_hash.cc
  src/crypto/crypto_hmac.cc
  src/crypto/crypto_keys.cc
  src/crypto/crypto_sig.cc
  src/crypto/crypto_x509.cc
  src/env.cc
  src/env_properties.h
  src/histogram.cc
  src/module_wrap.cc
  src/node_binding.cc
  src/node_blob.cc
  src/node_i18n.cc
  src/node_messaging.cc
  src/node_serdes.cc
  src/node_snapshotable.cc
  src/node_sockaddr.cc
  src/node_trace_events.cc
  src/node_util.cc
  src/node_wasi.cc
  src/node_wasm_web_api.cc
Labels: c++, lib / src, needs-ci, commit-queue-squash

#47313 build, deps, tools: avoid excessive LTO
  deps/openssl/openssl-cli.gypi
  deps/openssl/openssl.gyp
  node.gyp
  tools/icu/icu-generic.gyp
  tools/v8_gypfiles/d8.gyp
  tools/v8_gypfiles/v8.gyp
Labels: build, v8 engine, openssl, tools, i18n-api, needs-ci, dependencies, icu

#47389 src: track ShadowRealm native objects correctly in the heap snapshot
  src/env.cc
  src/env.h
  src/node_realm.cc
  src/node_realm.h
  src/node_shadow_realm.cc
  src/node_shadow_realm.h
Labels: c++, lib / src, needs-ci

#47359 build: sync cares source change
  deps/cares/cares.gyp
Labels: cares, author ready, needs-ci, dependencies, commit-queue-failed

#47415 url: do not use object as hashmap
  lib/internal/url.js
  test/parallel/test-whatwg-url-custom-searchparams-constructor.js
Labels: whatwg-url, author ready, commit-queue-squash

#47424 doc: add performance initiative
  doc/contributing/strategic-initiatives.md
Labels: doc, author ready

#47414 url: more sophisticated brand check for URLSearchParams
  lib/internal/url.js
Labels: whatwg-url, author ready, needs-ci, commit-queue

#47425 tools: add root certificate update script
  .github/workflows/tools.yml
  doc/contributing/maintaining-root-certs.md
  tools/dep_updaters/update-root-certs.mjs
Labels: meta, tools

#47453 tools: fix notify-on-push Slack messages
  .github/workflows/notify-on-push.yml
Labels: meta, author ready

#47454 test: remove stale entry from known_issues.status
  test/known_issues/known_issues.status
Labels: test, author ready, needs-ci

#47448 meta: ping startup and realm team on src/node_realm* changes
  .github/CODEOWNERS
Labels: meta

#47407 crypto: replace THROW with CHECK for scrypt keylen
  src/crypto/crypto_scrypt.cc
  test/parallel/test-crypto-scrypt.js
Labels: crypto, c++, author ready, needs-ci

#47442 build: add node-core-utils to setup
  .gitpod.yml
Labels: meta

#47446 tools: automate cjs-module-lexer dependency update
  .github/workflows/tools.yml
  tools/dep_updaters/update-cjs-module-lexer.sh
Labels: meta, tools, author ready

#47125 sea: use JSON configuration and blob content for SEA
  doc/api/cli.md
  doc/api/single-executable-applications.md
  doc/contributing/maintaining-single-executable-application-support.md
  node.gyp
  src/json_parser.cc
  src/json_parser.h
  src/node.cc
  src/node_errors.cc
  src/node_errors.h
  src/node_options.cc
  src/node_options.h
  src/node_sea.cc
  src/node_sea.h
  test/parallel/test-single-executable-application.js
  test/parallel/test-single-executable-blob-config-errors.js
  test/parallel/test-single-executable-blob-config.js
Labels: c++, lib / src, needs-ci, commit-queue-squash

#47426 doc: info on handling unintended breaking changes
  doc/contributing/collaborator-guide.md
Labels: doc, author ready, commit-queue-squash

#47471 src: allow simdutf::convert_* functions to return zero
  src/inspector/node_string.cc
Labels: c++, author ready, needs-ci, commit-queue-squash

#47470 permission: support fs.mkdtemp
  src/node_file.cc
  test/fixtures/permission/fs-write.js
Labels: c++, fs, needs-ci, dont-land-on-v16.x, dont-land-on-v18.x, dont-land-on-v19.x

#47392 test: migrate test runner message tests to snapshot
  .github/CODEOWNERS
  test/common/README.md
  test/common/assertSnapshot.js
  test/common/index.js
  test/common/index.mjs
  test/fixtures/test-runner/output/abort.js
  test/fixtures/test-runner/output/abort.snapshot
  test/fixtures/test-runner/output/abort_suite.js
  test/fixtures/test-runner/output/abort_suite.snapshot
  test/fixtures/test-runner/output/describe_it.js
  test/fixtures/test-runner/output/describe_it.snapshot
  test/fixtures/test-runner/output/describe_nested.js
  test/fixtures/test-runner/output/describe_nested.snapshot
  test/fixtures/test-runner/output/dot_reporter.js
  test/fixtures/test-runner/output/dot_reporter.snapshot
  test/fixtures/test-runner/output/hooks.js
  test/fixtures/test-runner/output/hooks.snapshot
  test/fixtures/test-runner/output/name_pattern.js
  test/fixtures/test-runner/output/name_pattern.snapshot
  test/fixtures/test-runner/output/name_pattern_with_only.js
  test/fixtures/test-runner/output/name_pattern_with_only.snapshot
  test/fixtures/test-runner/output/no_refs.js
  test/fixtures/test-runner/output/no_refs.snapshot
  test/fixtures/test-runner/output/no_tests.js
  test/fixtures/test-runner/output/no_tests.snapshot
  test/fixtures/test-runner/output/only_tests.js
  test/fixtures/test-runner/output/only_tests.snapshot
  test/fixtures/test-runner/output/output.js
  test/fixtures/test-runner/output/output.snapshot
  test/fixtures/test-runner/output/output_cli.js
  test/fixtures/test-runner/output/output_cli.snapshot
  test/fixtures/test-runner/output/spec_reporter.js
  test/fixtures/test-runner/output/spec_reporter.snapshot
  test/fixtures/test-runner/output/spec_reporter_successful.js
  test/fixtures/test-runner/output/spec_reporter_successful.snapshot
  test/fixtures/test-runner/output/unresolved_promise.js
  test/fixtures/test-runner/output/unresolved_promise.snapshot
  test/message/test_runner_output_cli.js
  test/message/test_runner_output_dot_reporter.js
  test/message/test_runner_spec_reporter_successful.out
  test/parallel/test-runner-output.mjs
Labels: test, author ready, needs-ci, commit-queue-squash

#46933 fs: implement byob mode for readableWebStream()
  doc/api/fs.md
  lib/internal/fs/promises.js
  test/parallel/test-filehandle-readablestream.js
Labels: fs, semver-minor, author ready, review wanted, web streams, commit-queue-squash

#47466 bootstrap: do not expand process.argv[1] for snapshot entry points
  lib/internal/v8/startup_snapshot.js
  test/parallel/test-snapshot-argv1.js
Labels: needs-ci, review wanted

#47167 test: unused callback variables removed
  test/parallel/test-wrap-js-stream-exceptions.js
Labels: test, author ready, needs-ci, commit-queue

#47423 test: mark test/parallel/test-file-write-stream4 as flaky
  test/parallel/parallel.status
Labels: test, fast-track, author ready, needs-ci

#47382 tools: move update-acorn.sh to dep_updaters
  .github/workflows/tools.yml
  doc/contributing/maintaining-acorn.md
  tools/dep_updaters/update-acorn-walk.sh
  tools/dep_updaters/update-acorn.sh
  tools/update-acorn-walk.sh
Labels: meta, tools, author ready

#47343 src: use correct variable in node_builtins.cc
  src/node_builtins.cc
Labels: c++, needs-ci

#47467 bootstrap: support namespaced builtins in snapshot scripts
  lib/internal/main/mksnapshot.js
  test/parallel/test-snapshot-namespaced-builtin.js
Labels: needs-ci, review wanted

#47512 meta: add mailmap entry for KhafraDev
  .mailmap
Labels: meta, fast-track

#47440 deps: V8: cherry-pick 8e10685ff918
  common.gypi
  deps/v8/BUILD.gn
Labels: build, v8 engine, author ready, needs-ci

#47532 doc: fix typo in util.types.isNativeError()
  doc/api/util.md
Labels: util, doc, fast-track, author ready

#44710 Move ESM loaders off-thread
  doc/api/esm.md
  lib/internal/main/worker_thread.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/initialize_import_meta.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/esm/shared_constants.js
  lib/internal/modules/esm/utils.js
  lib/internal/modules/esm/worker.js
  lib/internal/process/esm_loader.js
  lib/internal/worker.js
  src/node_worker.cc
  test/es-module/test-esm-import-meta-resolve.mjs
  test/es-module/test-esm-loader-modulemap.js
  test/es-module/test-esm-loader-search.js
  test/es-module/test-esm-loader-with-syntax-error.mjs
  test/es-module/test-esm-resolve-type.mjs
  test/fixtures/es-module-loaders/hooks-input.mjs
  test/fixtures/es-module-loaders/loader-edge-cases.mjs
  test/fixtures/es-module-loaders/loader-load-foo-or-42.mjs
  test/fixtures/es-module-loaders/loader-load-incomplete.mjs
  test/fixtures/es-module-loaders/loader-load-passthru.mjs
  test/fixtures/es-module-loaders/loader-load-receiving-modified-context.mjs
  test/fixtures/es-module-loaders/loader-log-args.mjs
  test/fixtures/es-module-loaders/loader-resolve-42.mjs
  test/fixtures/es-module-loaders/loader-resolve-foo.mjs
  test/fixtures/es-module-loaders/loader-resolve-incomplete.mjs
  test/fixtures/es-module-loaders/loader-resolve-next-modified.mjs
  test/fixtures/es-module-loaders/loader-resolve-passthru.mjs
  test/fixtures/es-module-loaders/loader-resolve-receiving-modified-context.mjs
  test/fixtures/es-module-loaders/loader-resolve-shortcircuit.mjs
  test/fixtures/es-module-loaders/loader-resolve-strip-xxx.mjs
  test/fixtures/es-module-loaders/loader-resolve-strip-yyy.mjs
  test/fixtures/es-module-loaders/never-settling-resolve-step/import.meta.never-resolve.mjs
  test/fixtures/es-modules/import-resolve-exports.mjs
  test/fixtures/es-modules/runmain.mjs
Labels: lib / src, notable-change, esm, author ready, needs-ci, loaders

#47520 diagnostics_channel: fix ref counting bug when reaching zero subscribers
  lib/diagnostics_channel.js
  test/parallel/test-diagnostics-channel-pub-sub.js
Labels: confirmed-bug, fast-track, needs-ci, diagnostics_channel

#47346 tools: add missing pinned dependencies
  .github/workflows/daily-wpt-fyi.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/update-openssl.yml
Labels: meta, openssl, dependencies, commit-queue-squash

#47509 tools: automate uvwasi dependency update
  .github/workflows/tools.yml
  doc/contributing/maintaining-web-assembly.md
  tools/dep_updaters/update-uvwasi.sh
Labels: meta, tools

#47543 benchmark: add a benchmark for `defaultResolve`
  benchmark/esm/esm-loader-defaultResolve.js
Labels: benchmark, performance, esm, fast-track, author ready, commit-queue-squash

#47550 doc: fix split infinitive in Hooks caveat
  doc/api/esm.md
Labels: doc, esm, fast-track, author ready

#47377 benchmark: differentiate whatwg and legacy url
  benchmark/url/legacy-url-get-prop.js
  benchmark/url/legacy-url-parse.js
  benchmark/url/legacy-vs-whatwg-url-get-prop.js
  benchmark/url/whatwg-url-canParse.js
  benchmark/url/whatwg-url-get-prop.js
  benchmark/url/whatwg-url-parse.js
  benchmark/url/whatwg-url-to-and-from-path.js
Labels: url, benchmark, author ready, commit-queue-squash

#47422 test: mark test-cluster-primary-error flaky on asan
  test/sequential/sequential.status
  tools/test.py
Labels: test, author ready, needs-ci

#47317 readline: fix issue with newline-less last line
  lib/internal/readline/interface.js
  test/fixtures/repl-load-multiline-no-trailing-newline.js
  test/parallel/test-readline-interface-no-trailing-newline.js
  test/parallel/test-repl-load-multiline-no-trailing-newline.js
Labels: readline, author ready, needs-ci, commit-queue-squash

#47514 lib: use webidl DOMString converter in EventTarget
  lib/internal/event_target.js
  lib/internal/webidl.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-eventtarget.js
Labels: author ready, needs-ci, commit-queue-squash

#47547 url: handle URL.canParse without base parameter
  src/node_url.cc
  test/parallel/test-whatwg-url-canparse.js
Labels: c++, whatwg-url, fast-track, author ready, needs-ci

#47546 doc: update darwin-x64 toolchain used for Node.js 20 releases
  BUILDING.md
Labels: doc, build, fast-track, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v19.x

#47558 doc: add missing setEncoding call in ESM example
  doc/api/esm.md
Labels: doc, esm, fast-track, author ready

#47541 esm: avoid try/catch when validating urls
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/resolve.js
Labels: esm, author ready, needs-ci

#47542 esm: avoid accessing lazy getters for urls
  lib/internal/modules/esm/resolve.js
Labels: esm, author ready, needs-ci

#47515 src: fix CSPRNG when length exceeds INT_MAX
  src/crypto/crypto_util.cc
Labels: crypto, c++, openssl, security, author ready, needs-ci

#47524 src: replace static const string_view by static constexpr
  src/json_utils.cc
Labels: c++, author ready, needs-ci, review wanted

#47014 src: fix typo in process.env accessor error message
  src/node_env_var.cc
  test/parallel/test-process-env-ignore-getter-setter.js
Labels: c++, needs-ci

#47554 src: use v8::Boolean(b) over b ? True() : False()
  src/api/environment.cc
  src/crypto/crypto_context.cc
  src/crypto/crypto_hmac.cc
  src/crypto/crypto_random.cc
  src/crypto/crypto_sig.cc
  src/crypto/crypto_tls.cc
  src/node_http2.cc
  src/node_os.cc
Labels: c++, lib / src, author ready, needs-ci

#47584 typings: fix syntax error in tsconfig
  tsconfig.json
Labels: fast-track

#47536 deps: patch V8 to 11.3.244.8
  deps/v8/include/v8-version.h
  deps/v8/infra/mb/mb_config.pyl
  deps/v8/infra/testing/builders.pyl
  deps/v8/src/builtins/builtins-error.cc
  deps/v8/tools/builtins-pgo/profile_only.py
  deps/v8/tools/whitespace.txt
Labels: v8 engine, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x, dont-land-on-v19.x

#47559 crypto: remove INT_MAX restriction in randomBytes
  src/crypto/crypto_random.cc
Labels: crypto, c++, author ready, needs-ci

#47595 doc: fix typo in webcrypto metadata
  doc/api/webcrypto.md
Labels: crypto, doc, fast-track, author ready

#47517 doc: fix release-post script location
  doc/contributing/releases.md
Labels: doc

#47579 test_runner: avoid reporting parents of failing tests in summary
  lib/internal/test_runner/reporter/spec.js
  test/fixtures/test-runner/output/spec_reporter.snapshot
  test/fixtures/test-runner/output/spec_reporter_cli.snapshot
  test/pseudo-tty/test_runner_default_reporter.out
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#47381 2023-04-18, Version 20.0.0 (Current)
  CHANGELOG.md
  doc/abi_version_registry.json
  doc/api/async_context.md
  doc/api/buffer.md
  doc/api/cli.md
  doc/api/deprecations.md
  doc/api/esm.md
  doc/api/fs.md
  doc/api/globals.md
  doc/api/net.md
  doc/api/process.md
  doc/api/test.md
  doc/api/url.md
  doc/api/util.md
  doc/api/wasi.md
  doc/api/webcrypto.md
  doc/changelogs/CHANGELOG_ARCHIVE.md
  doc/changelogs/CHANGELOG_IOJS.md
  doc/changelogs/CHANGELOG_V010.md
  doc/changelogs/CHANGELOG_V012.md
  doc/changelogs/CHANGELOG_V10.md
  doc/changelogs/CHANGELOG_V12.md
  doc/changelogs/CHANGELOG_V13.md
  doc/changelogs/CHANGELOG_V14.md
  doc/changelogs/CHANGELOG_V15.md
  doc/changelogs/CHANGELOG_V16.md
  doc/changelogs/CHANGELOG_V17.md
  doc/changelogs/CHANGELOG_V18.md
  doc/changelogs/CHANGELOG_V19.md
  doc/changelogs/CHANGELOG_V20.md
  doc/changelogs/CHANGELOG_V4.md
  doc/changelogs/CHANGELOG_V5.md
  doc/changelogs/CHANGELOG_V6.md
  doc/changelogs/CHANGELOG_V7.md
  doc/changelogs/CHANGELOG_V8.md
  doc/changelogs/CHANGELOG_V9.md
  src/node_version.h
Labels: release, v20.x

#47611 doc: fix lint error in `wasi.md`
  doc/api/wasi.md
Labels: doc, fast-track, wasi

#47585 doc: remove markdown link from heading
  doc/api/permissions.md
Labels: doc, author ready, policy

#47586 test_runner: execute before hook on test
  doc/api/test.md
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/hooks.js
  test/fixtures/test-runner/output/hooks.snapshot
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#47548 esm: propagate `process.exit` from the loader thread to the main thread
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/worker.js
  test/es-module/test-esm-loader-hooks.mjs
Labels: esm, author ready, commit-queue-squash

#47417 tools: automate zlib update
  .github/workflows/tools.yml
  tools/dep_updaters/update-zlib.sh
Labels: meta, tools, author ready

#47591 tools: add option to run workflow with specific tool id
  .github/workflows/tools.yml
Labels: meta, author ready

#47482 tools: add update script for googletest
  .github/workflows/tools.yml
  tools/dep_updaters/update-googletest.sh
Labels: meta, tools, author ready

#47596 doc: improve fs permissions description
  doc/api/cli.md
  doc/api/permissions.md
Labels: doc, fs, security, author ready

#47600 tools: add execution permission to uvwasi script
  tools/dep_updaters/update-uvwasi.sh
Labels: tools, author ready

#47580 esm: remove support for deprecated hooks
  lib/internal/modules/esm/hooks.js
  test/es-module/test-esm-loader-obsolete-hooks.mjs
  test/fixtures/es-module-loaders/hooks-obsolete.mjs
Labels: experimental, esm, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v19.x

#47549 node-api: test passing NULL to number APIs
  test/js-native-api/test_number/binding.gyp
  test/js-native-api/test_number/test_null.c
  test/js-native-api/test_number/test_null.h
  test/js-native-api/test_number/test_null.js
  test/js-native-api/test_number/test_number.c
Labels: test, node-api, needs-ci

#47354 src: make AliasedBuffers in the binding data weak
  lib/fs.js
  lib/internal/encoding.js
  lib/v8.js
  src/aliased_buffer-inl.h
  src/aliased_buffer.h
  src/encoding_binding.cc
  src/encoding_binding.h
  src/node_file.cc
  src/node_file.h
  src/node_realm-inl.h
  src/node_realm.h
  src/node_v8.cc
  src/node_v8.h
Labels: c++, lib / src, author ready, needs-ci

#47084 fs: `fs.cp()` should accept mode flag to specify the copy behavior
  doc/api/fs.md
  lib/internal/fs/cp/cp-sync.js
  lib/internal/fs/cp/cp.js
  lib/internal/fs/utils.js
  test/parallel/test-fs-cp.mjs
Labels: fs, semver-minor, author ready, needs-ci, review wanted

#47606 doc: change offset of example in `Buffer.copyBytesFrom`
  doc/api/buffer.md
Labels: buffer, doc, author ready

#47593 tools: update PR label config
  .github/label-pr-config.yml
Labels: meta, author ready

#47195 inspector: add tips for Session
  doc/api/inspector.md
Labels: doc, inspector, review wanted

#41439 fs: add recursive opendir/readdir
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/dir.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
  test/sequential/test-fs-opendir-recursive.js
  test/sequential/test-fs-readdir-recursive.js
Labels: test, notable-change, author ready, needs-ci, commit-queue-squash

#47607 tools: fix updating root certificates
  tools/dep_updaters/update-root-certs.mjs
Labels: tools

#47617 doc: update error code of buffer
  doc/api/buffer.md
Labels: buffer, doc, author ready

#47620 loader: use default loader as cascaded loader in the in loader worker
  lib/internal/main/worker_thread.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/utils.js
  lib/internal/modules/esm/worker.js
  lib/internal/process/pre_execution.js
  test/es-module/test-loaders-workers-spawned.mjs
  test/fixtures/print-delayed.js
Labels: lib / src, esm, author ready, loaders, commit-queue-squash

#47621 tools: keep PR titles/description up-to-date
  .github/workflows/find-inactive-tsc.yml
  .github/workflows/timezone-update.yml
  .github/workflows/tools.yml
  .github/workflows/update-openssl.yml
Labels: meta, author ready

#47654 doc,fs: update description of fs.stat() method
  doc/api/fs.md
Labels: doc, fs, author ready, commit-queue-squash

#47677 doc: fix typos in SECURITY.md
  SECURITY.md
Labels: doc, fast-track, author ready

#47651 test_runner: move coverage collection to root.postRun()
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/test.js
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#47652 test_runner: support coverage of unnamed functions
  lib/internal/test_runner/coverage.js
  test/fixtures/test-runner/coverage.js
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#47676 doc: fix capitalization of ASan
  BUILDING.md
Labels: doc, build, fast-track

#47685 doc: fix typos
  doc/api/cli.md
  doc/api/diagnostics_channel.md
  doc/api/domain.md
  doc/api/inspector.md
  doc/api/n-api.md
  doc/api/util.md
  doc/api/wasi.md
  doc/api/worker_threads.md
  doc/contributing/adding-v8-fast-api.md
  doc/contributing/api-documentation.md
  doc/contributing/investigating-native-memory-leaks.md
  doc/contributing/maintaining-cjs-module-lexer.md
  doc/contributing/maintaining-dependencies.md
  doc/contributing/maintaining-types-for-nodejs.md
  doc/contributing/releases.md
  doc/contributing/writing-and-running-benchmarks.md
Labels: doc, fast-track, author ready

#47648 test_runner: fix nested hooks
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/hooks.js
  test/fixtures/test-runner/output/name_pattern.js
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#46652 lib: improve esm resolve performance
  lib/internal/modules/esm/resolve.js
Labels: performance, esm, needs-ci, needs-citgm, loaders

#47405 http: add highWaterMark opt in http.createServer
  doc/api/http.md
  doc/api/net.md
  lib/_http_outgoing.js
  lib/_http_server.js
  lib/http.js
  lib/net.js
  test/parallel/test-http-server-options-highwatermark.js
Labels: http, net, author ready, needs-ci

#47693 doc: fix a typo in `fs.openAsBlob`
  doc/api/fs.md
Labels: doc, fs, fast-track

#47642 doc: clarify concurrency model of test runner
  doc/api/test.md
Labels: doc, author ready, dont-land-on-v14.x, test_runner

#47701 tools: fix skip message in update-cjs-module-lexer
  tools/dep_updaters/update-cjs-module-lexer.sh
Labels: tools, fast-track

#46979 src: prevent changing `FunctionTemplateInfo` after publish
  src/histogram.cc
  src/node_messaging.cc
Labels: c++

#47687 test_runner: remove no-op validation
  lib/internal/test_runner/runner.js
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#47401 doc: async_hooks asynchronous content example add mjs code
  doc/api/async_hooks.md
Labels: doc, async_hooks

#47567 node-api: test passing NULL to napi_define_class
  test/js-native-api/test_constructor/binding.gyp
  test/js-native-api/test_constructor/test_constructor.c
  test/js-native-api/test_constructor/test_null.c
  test/js-native-api/test_constructor/test_null.h
  test/js-native-api/test_constructor/test_null.js
Labels: test, node-api, needs-ci

#47570 tls: accept SecureContext object in server.addContext()
  doc/api/tls.md
  lib/_tls_wrap.js
  test/parallel/test-tls-add-context.js
Labels: tls, needs-ci

#47594 tools: automate v8 patch update
  .github/workflows/update-v8.yml
  tools/dep_updaters/update-v8-patch.sh
Labels: meta, tools, commit-queue-squash

#46973 dns: expose getDefaultResultOrder
  doc/api/dns.md
  lib/dns.js
  lib/internal/dns/promises.js
  lib/internal/dns/utils.js
  test/internet/test-dns-getDefaultResultOrder.js
Labels: dns, semver-minor, needs-ci, commit-queue-squash

#47603 quic: another round of QUIC stuff...
  src/async_wrap.h
  src/quic/bindingdata.cc
  src/quic/bindingdata.h
  src/quic/defs.h
  src/quic/endpoint.cc
  src/quic/endpoint.h
  src/quic/packet.cc
  src/quic/packet.h
  src/quic/session.h
  src/quic/tlscontext.cc
  test/sequential/test-async-wrap-getasyncid.js
Labels: c++, lib / src, needs-ci, quic, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x, dont-land-on-v19.x, dont-land-on-v20.x

#47725 tools: fix update-v8-patch cache
  .github/workflows/update-v8.yml
Labels: meta, fast-track

#47619 tools: move update-npm to dep updaters
  tools/dep_updaters/update-npm.sh
Labels: tools, commit-queue-squash

#47730 doc: fix a typo in `permissions.md`
  doc/api/permissions.md
Labels: doc, fast-track, author ready

#47712 stream: prevent pipeline hang with generator functions
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline.js
Labels: author ready, needs-ci, commit-queue-squash

#47695 src: mark fatal error functions as noreturn
  src/api/environment.cc
  src/inspector_agent.cc
  src/node.h
  src/node_api.cc
  src/node_errors.cc
  src/node_errors.h
  src/node_watchdog.cc
Labels: c++, lib / src, author ready, needs-ci

#47733 test: remove spaces from test runner test names
  test/parallel/test-runner-concurrency.js
Labels: test, fast-track, author ready, needs-ci

#47704 doc: add link to news for Node.js core
  doc/contributing/sharing-project-news.md
Labels: doc, author ready, commit-queue-squash

#47754 src: fix typo in comment in quic/sessionticket.cc
  src/quic/sessionticket.cc
Labels: c++, fast-track, author ready, needs-ci, quic, dont-land-on-v14.x

#47752 doc: move addaleax to TSC emiriti
  README.md
Labels: doc, fast-track, author ready

#47722 doc: mark signing the binary is macOS and Windows only in single-executable docs
  doc/api/single-executable-applications.md
Labels: doc, author ready, single-executable

#47686 test_runner: support combining coverage reports
  doc/api/cli.md
  doc/api/test.md
  lib/internal/test_runner/coverage.js
  src/node_options.cc
  test/fixtures/v8-coverage/combined_coverage/common.js
  test/fixtures/v8-coverage/combined_coverage/first.test.js
  test/fixtures/v8-coverage/combined_coverage/second.test.js
  test/fixtures/v8-coverage/combined_coverage/third.test.js
  test/parallel/test-runner-coverage.js
Labels: c++, semver-minor, dont-land-on-v14.x, test_runner

#47734 doc,test: fix concurrency option of test()
  doc/api/test.md
  test/parallel/test-runner-concurrency.js
Labels: doc, test, author ready, needs-ci, test_runner

#47735 src: replace idna functions with ada::idna
  lib/internal/idna.js
  src/encoding_binding.cc
  src/encoding_binding.h
Labels: c++, author ready, needs-ci

#47736 deps: V8: cherry-pick c5ab3e4f0c5a
  common.gypi
  deps/v8/src/codegen/tnode.h
Labels: build, v8 engine, author ready, needs-ci

#47776 doc: move BethGriggs to regular member
  README.md
Labels: fast-track

#47766 doc: fix typo in webstreams.md
  doc/api/webstreams.md
Labels: doc, fast-track, author ready

#47740 assert: deprecate callTracker
  doc/api/assert.md
  doc/api/deprecations.md
  lib/assert.js
Labels: assert, author ready, needs-ci

#47746 src: avoid copying string in fs_permission
  src/permission/fs_permission.cc
  src/permission/fs_permission.h
Labels: c++, author ready, needs-ci

#47721 v8: fix ERR_NOT_BUILDING_SNAPSHOT is not a constructor
  lib/internal/v8/startup_snapshot.js
  test/fixtures/snapshot/v8-startup-snapshot-api.js
  test/parallel/test-v8-startup-snapshot-api.js
Labels: author ready, needs-ci, snapshot

#47751 test_runner: fix `--require` with `--experimental-loader`
  src/api/environment.cc
  test/parallel/test-runner-cli.js
Labels: c++, author ready, needs-ci

#47728 url: reduce revokeObjectURL cpp calls
  lib/internal/url.js
  src/node_blob.cc
  src/node_blob.h
Labels: c++, whatwg-url, author ready, needs-ci

#47771 meta: ping nodejs/startup for startup test changes
  .github/CODEOWNERS
Labels: meta

#47792 doc: remove MoLow from Triagers
  README.md
Labels: doc, fast-track

#47774 benchmark: add eventtarget creation bench
  benchmark/events/eventtarget-creation.js
Labels: events, benchmark, author ready
