Repository nodejs/node, pull requests merged in 2023-08, with the labels that each got.

#48973 src: do not pass user input to format string
  src/node_file.cc
  test/es-module/test-cjs-legacyMainResolve.js
Labels: c++, fs, author ready, needs-ci

#48943 src: cast v8::Object::GetInternalField() return value to v8::Value
  src/base_object-inl.h
  src/module_wrap.cc
  src/node_file.cc
  src/node_task_queue.cc
  src/node_zlib.cc
  src/stream_base.cc
Labels: c++, lib / src, author ready, needs-ci

#48978 doc: drop github actions check in sec release process
  doc/contributing/security-release-process.md
Labels: doc, author ready

#48913 test_runner: fix global after not failing the tests
  lib/internal/test_runner/test.js
  test/common/assertSnapshot.js
  test/fixtures/test-runner/output/global_after_should_fail_the_test.js
  test/fixtures/test-runner/output/global_after_should_fail_the_test.snapshot
  test/fixtures/test-runner/output/hooks-with-no-global-test.js
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#48999 esm: fix typo `parentUrl` -> `parentURL`
  lib/internal/modules/esm/initialize_import_meta.js
  lib/internal/modules/esm/loader.js
Labels: esm, fast-track, loaders

#48842 esm: add `initialize` hook, integrate with `register`
  doc/api/esm.md
  doc/api/module.md
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/utils.js
  lib/internal/process/pre_execution.js
  test/es-module/test-esm-loader-hooks.mjs
  test/es-module/test-esm-loader-programmatically.mjs
  test/fixtures/es-module-loaders/hooks-initialize-port.mjs
  test/fixtures/es-module-loaders/hooks-initialize.mjs
Labels: esm, author ready, loaders, commit-queue-squash

#48989 test: remove `--no-warnings` flag in `test_runner` fixtures
  test/fixtures/test-runner/output/abort.js
  test/fixtures/test-runner/output/abort_hooks.js
  test/fixtures/test-runner/output/abort_suite.js
  test/fixtures/test-runner/output/describe_it.js
  test/fixtures/test-runner/output/describe_nested.js
  test/fixtures/test-runner/output/dot_reporter.js
  test/fixtures/test-runner/output/hooks.js
  test/fixtures/test-runner/output/name_pattern.js
  test/fixtures/test-runner/output/name_pattern_with_only.js
  test/fixtures/test-runner/output/no_refs.js
  test/fixtures/test-runner/output/no_tests.js
  test/fixtures/test-runner/output/only_tests.js
  test/fixtures/test-runner/output/output_cli.js
  test/fixtures/test-runner/output/single.js
  test/fixtures/test-runner/output/spec_reporter.js
  test/fixtures/test-runner/output/spec_reporter_cli.js
  test/fixtures/test-runner/output/spec_reporter_successful.js
  test/fixtures/test-runner/output/unresolved_promise.js
Labels: test, needs-ci

#48990 test: use `fixtures.fileURL` when appropriate
  test/parallel/test-fs-whatwg-url.js
  test/parallel/test-module-create-require.js
Labels: test, author ready, needs-ci

#48992 test: refactor `test-node-output-errors`
  test/parallel/test-node-output-errors.mjs
Labels: test, author ready, needs-ci

#48991 test: use `spawn` and `spawnPromisified` instead of `exec`
  test/parallel/test-preload.js
  test/parallel/test-timers-immediate-promisified.js
  test/parallel/test-timers-interval-promisified.js
  test/parallel/test-timers-timeout-promisified.js
  test/parallel/test-url-parse-invalid-input.js
  test/sequential/test-cli-syntax-require.js
  test/sequential/test-fs-stat-sync-overflow.js
Labels: test, author ready, needs-ci

#49005 doc: remove v14 mention
  doc/contributing/maintaining/maintaining-openssl.md
Labels: doc, author ready

#49008 doc: clarify use of process.env in worker threads on Windows
  doc/api/process.md
  doc/api/worker_threads.md
Labels: doc, author ready

#49067 tools: limit the number of auto start CIs
  .github/workflows/auto-start-ci.yml
Labels: meta, fast-track, author ready

#49023 doc: reserve 118 for Electron 27
  doc/abi_version_registry.json
Labels: doc, author ready

#49014 doc: add "type" to test runner event details
  doc/api/test.md
Labels: doc, author ready, test_runner

#43529 doc: detailed description of keystrokes Ctrl-Y and Meta-Y
  doc/api/readline.md
Labels: doc, readline

#49084 src: revert IS_RELEASE to 0
  src/node_version.h
Labels: fast-track

#49094 doc: add missing period
  doc/api/policy.md
Labels: doc, fast-track, policy

#48733 src: fix callback_queue.h missing header
  src/callback_queue.h
Labels: c++, author ready, needs-ci

#49040 test: add `tmpdir.fileURL()`
  test/common/README.md
  test/common/tmpdir.js
  test/es-module/test-esm-extension-lookup-deprecation.mjs
  test/parallel/test-child-process-cwd.js
  test/parallel/test-fs-mkdtemp.js
  test/parallel/test-fs-rm.js
  test/parallel/test-runner-inspect.mjs
Labels: test, author ready, needs-ci

#45704 src,tools: initialize cppgc
  src/env-inl.h
  src/env.cc
  src/env.h
  src/node.cc
  src/node.h
  src/node_main_instance.cc
  src/node_worker.cc
  test/addons/cppgc-object/binding.cc
  test/addons/cppgc-object/binding.gyp
  test/addons/cppgc-object/test.js
  tools/install.py
Labels: c++, lib / src, needs-ci

#49060 esm: protect `ERR_UNSUPPORTED_DIR_IMPORT` against prototype pollution
  lib/internal/errors.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-main-lookup.mjs
Labels: errors, esm, author ready, commit-queue-squash

#48914 test: print instruction for creating missing snapshot in assertSnapshot
  test/common/assertSnapshot.js
Labels: test, needs-ci

#49000 test: stabilize the inspector-open-dispose test
  test/sequential/test-inspector-open-dispose.mjs
Labels: test, author ready, needs-ci

#48975 test_runner: expose location of tests
  doc/api/test.md
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/reporter/spec.js
  lib/internal/test_runner/reporter/tap.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/tests_stream.js
  src/node_util.cc
  test/fixtures/test-runner/output/abort.snapshot
  test/fixtures/test-runner/output/abort_hooks.snapshot
  test/fixtures/test-runner/output/abort_suite.snapshot
  test/fixtures/test-runner/output/default_output.snapshot
  test/fixtures/test-runner/output/describe_it.js
  test/fixtures/test-runner/output/describe_it.snapshot
  test/fixtures/test-runner/output/dot_reporter.snapshot
  test/fixtures/test-runner/output/global_after_should_fail_the_test.snapshot
  test/fixtures/test-runner/output/hooks.snapshot
  test/fixtures/test-runner/output/no_refs.snapshot
  test/fixtures/test-runner/output/output.js
  test/fixtures/test-runner/output/output.snapshot
  test/fixtures/test-runner/output/output_cli.snapshot
  test/fixtures/test-runner/output/spec_reporter.snapshot
  test/fixtures/test-runner/output/spec_reporter_cli.snapshot
  test/fixtures/test-runner/output/tap_escape.js
  test/fixtures/test-runner/output/tap_escape.snapshot
  test/fixtures/test-runner/output/timeout_in_before_each_should_not_affect_further_tests.snapshot
  test/fixtures/test-runner/output/unresolved_promise.snapshot
  test/parallel/test-runner-output.mjs
Labels: semver-minor, lib / src, needs-ci, test_runner

#49059 test_runner: run global after() hook earlier
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/async-test-scheduling.mjs
  test/fixtures/test-runner/output/async-test-scheduling.snapshot
  test/fixtures/test-runner/output/global_after_should_fail_the_test.snapshot
  test/parallel/test-runner-output.mjs
  test/parallel/test-runner-root-after-with-refed-handles.js
Labels: commit-queue-failed, commit-queue-squash, test_runner

#48785 doc: node inspect port 0 description when help is printed
  lib/internal/debugger/inspect.js
Labels: author ready, debugger

#48721 src: avoid string copy in BuiltinLoader::GetBuiltinIds
  src/node_builtins.cc
  src/node_builtins.h
Labels: c++, author ready, needs-ci, review wanted

#49085 doc: update with latest security release
  doc/contributing/security-release-process.md
Labels: doc

#49086 doc: update process.binding deprecation text
  doc/api/deprecations.md
Labels: doc, security, author ready, deprecations, permission

#49110 Revert "test_runner: run global after() hook earlier"
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/async-test-scheduling.mjs
  test/fixtures/test-runner/output/async-test-scheduling.snapshot
  test/fixtures/test-runner/output/global_after_should_fail_the_test.snapshot
  test/parallel/test-runner-output.mjs
  test/parallel/test-runner-root-after-with-refed-handles.js
Labels: fast-track, author ready, needs-ci, commit-queue-squash, test_runner

#49105 test: reduce flakiness of `test-esm-loader-hooks`
  test/es-module/test-esm-loader-hooks.mjs
Labels: test, esm, fast-track, author ready, needs-ci

#47150 readline: add paste bracket mode - fixes #45213
  lib/internal/readline/utils.js
Labels: readline, author ready, needs-ci

#48952 events: remove weak listener for event target
  lib/internal/event_target.js
  test/parallel/test-eventtarget-memoryleakwarning.js
  test/parallel/test-eventtarget.js
Labels: events, author ready, needs-ci, commit-queue-squash

#48698 fs: fix readdir recursive sync & callback
  lib/fs.js
  test/sequential/test-fs-readdir-recursive.js
Labels: fs, author ready, needs-ci

#49061 src: remove redundant code for uv_handle_type
  src/node_util.cc
Labels: util, c++, author ready, needs-ci

#49038 esm: import.meta.resolve exact module not found errors should return
  lib/internal/errors.js
  lib/internal/modules/esm/fetch_module.js
  lib/internal/modules/esm/initialize_import_meta.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-import-meta-resolve.mjs
Labels: errors, esm, author ready, commit-queue-squash

#49083 test: document `fixtures.fileURL()`
  test/common/README.md
Labels: doc, test, author ready

#49079 test: add `tmpdir.resolve()`
  test/common/README.md
  test/common/tmpdir.js
Labels: test, author ready, needs-ci

#47999 module: make CJS load from ESM loader
  doc/api/esm.md
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/translators.js
  test/es-module/test-esm-loader-hooks.mjs
  test/es-module/test-esm-named-exports.js
  test/fixtures/es-module-loaders/builtin-named-exports-loader.mjs
  test/fixtures/es-module-loaders/not-found-assert-loader.mjs
  test/fixtures/require-resolve.js
Labels: esm, author ready, needs-ci, loaders, commit-queue-squash

#49028 esm: unflag import.meta.resolve
  doc/api/cli.md
  doc/api/esm.md
  lib/internal/modules/esm/initialize_import_meta.js
  src/node_options.cc
  test/es-module/test-esm-import-meta-resolve.mjs
  test/es-module/test-esm-import-meta.mjs
  test/es-module/test-esm-loader-hooks.mjs
Labels: c++, notable-change, esm, commit-queue-squash

#49089 stream: improve WebStreams creation performance
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/writablestream.js
Labels: performance, author ready, needs-ci, needs-benchmark-ci, web streams, commit-queue-squash

#49069 esm: fix `globalPreload` warning
  lib/internal/modules/esm/hooks.js
  test/es-module/test-esm-loader-hooks.mjs
Labels: esm, author ready, needs-ci, commit-queue-squash

#49104 lib: fix MIME overmatch in data URLs
  lib/internal/modules/esm/formats.js
  test/es-module/test-esm-invalid-data-urls.js
Labels: esm, author ready, needs-ci, commit-queue-failed

#49114 doc: make the NODE_VERSION_IS_RELEASE revert clear
  doc/contributing/releases.md
Labels: doc

#49158 doc: fix name of the flag in `initialize()` docs
  doc/api/esm.md
Labels: doc, esm, fast-track, author ready

#48851 src: refactor vector writing in snapshot builder
  node.gyp
  src/node_snapshot_builder.h
  src/node_snapshotable.cc
  tools/snapshot/node_mksnapshot.cc
Labels: c++, lib / src, needs-ci

#49116 test_runner: reland run global after() hook earlier
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/async-test-scheduling.mjs
  test/fixtures/test-runner/output/async-test-scheduling.snapshot
  test/fixtures/test-runner/output/global_after_should_fail_the_test.snapshot
  test/parallel/test-runner-output.mjs
  test/parallel/test-runner-root-after-with-refed-handles.js
Labels: author ready, test_runner

#49119 src: remove duplicated code in `GenerateSingleExecutableBlob()`
  src/node_sea.cc
Labels: author ready, needs-ci, commit-queue-squash, single-executable

#49121 doc: fix `Type` notation in webstreams
  doc/api/webstreams.md
Labels: doc, author ready

#49131 test: refactor `test-esm-loader-hooks` for easier debugging
  test/es-module/test-esm-loader-hooks.mjs
Labels: test, esm, author ready, needs-ci

#49146 test: fix assertion message in test_async.c
  test/node-api/test_async/test_async.c
Labels: test, node-api, fast-track, author ready, needs-ci

#49125 test: use `tmpdir.resolve()` in fs tests #1
  test/parallel/test-fs-promises-file-handle-aggregate-errors.js
  test/parallel/test-fs-promises-file-handle-close-errors.js
  test/parallel/test-fs-promises-file-handle-op-errors.js
  test/parallel/test-fs-promises-file-handle-read-worker.js
  test/parallel/test-fs-promises-file-handle-readLines.mjs
  test/parallel/test-fs-promises-file-handle-stat.js
  test/parallel/test-fs-promises-file-handle-sync.js
  test/parallel/test-fs-promises-file-handle-truncate.js
  test/parallel/test-fs-promises-readfile-with-fd.js
  test/parallel/test-fs-promises-readfile.js
  test/parallel/test-fs-promises-watch.js
  test/parallel/test-fs-promises-write-optional-params.js
  test/parallel/test-fs-promises-writefile-with-fd.js
  test/parallel/test-fs-read-stream-autoClose.js
  test/parallel/test-fs-read-stream-fd.js
  test/parallel/test-fs-read-stream-file-handle.js
  test/parallel/test-fs-read-stream-pos.js
  test/parallel/test-fs-readfile-fd.js
  test/parallel/test-fs-readfile-flags.js
  test/parallel/test-fs-readfile-pipe-large.js
  test/parallel/test-fs-readfile-unlink.js
  test/parallel/test-fs-readfile.js
  test/parallel/test-fs-readfilesync-pipe-large.js
  test/parallel/test-fs-readv-promises.js
  test/parallel/test-fs-readv-sync.js
  test/parallel/test-fs-readv.js
  test/parallel/test-fs-ready-event-stream.js
  test/parallel/test-fs-sir-writes-alot.js
  test/parallel/test-fs-syncwritestream.js
  test/parallel/test-fs-write-buffer-large.js
  test/parallel/test-fs-write-buffer.js
  test/parallel/test-fs-write-file-buffer.js
  test/parallel/test-fs-write-file-invalid-path.js
  test/parallel/test-fs-write-file-sync.js
  test/parallel/test-fs-write-file-typedarrays.js
  test/parallel/test-fs-write-file.js
  test/parallel/test-fs-write-negativeoffset.js
  test/parallel/test-fs-write-optional-params.js
  test/parallel/test-fs-write-reuse-callback.js
  test/parallel/test-fs-write-sigxfsz.js
  test/parallel/test-fs-write-stream-autoclose-option.js
  test/parallel/test-fs-write-stream-change-open.js
  test/parallel/test-fs-write-stream-close-without-callback.js
  test/parallel/test-fs-write-stream-double-close.js
  test/parallel/test-fs-write-stream-encoding.js
  test/parallel/test-fs-write-stream-end.js
  test/parallel/test-fs-write-stream-file-handle-2.js
  test/parallel/test-fs-write-stream-file-handle.js
  test/parallel/test-fs-write-stream-fs.js
  test/parallel/test-fs-write-stream-throw-type-error.js
  test/parallel/test-fs-write-stream.js
  test/parallel/test-fs-write-sync-optional-params.js
  test/parallel/test-fs-write-sync.js
  test/parallel/test-fs-write.js
  test/parallel/test-fs-writefile-with-fd.js
  test/parallel/test-fs-writev-promises.js
  test/parallel/test-fs-writev-sync.js
  test/parallel/test-fs-writev.js
Labels: test, author ready, needs-ci

#49126 test: use `tmpdir.resolve()` in fs tests #2
  test/parallel/test-fs-access.js
  test/parallel/test-fs-append-file-sync.js
  test/parallel/test-fs-append-file.js
  test/parallel/test-fs-assert-encoding-error.js
  test/parallel/test-fs-buffer.js
  test/parallel/test-fs-chmod-mask.js
  test/parallel/test-fs-chmod.js
  test/parallel/test-fs-copyfile-respect-permissions.js
  test/parallel/test-fs-copyfile.js
  test/parallel/test-fs-cp.mjs
  test/parallel/test-fs-error-messages.js
  test/parallel/test-fs-fmap.js
  test/parallel/test-fs-fsync.js
  test/parallel/test-fs-glob.mjs
  test/parallel/test-fs-lchown.js
  test/parallel/test-fs-link.js
  test/parallel/test-fs-long-path.js
  test/parallel/test-fs-mkdir-mode-mask.js
  test/parallel/test-fs-mkdir-recursive-eaccess.js
  test/parallel/test-fs-mkdir-rmdir.js
  test/parallel/test-fs-mkdir.js
  test/parallel/test-fs-mkdtemp.js
  test/parallel/test-fs-non-number-arguments-throw.js
  test/parallel/test-fs-open-flags.js
  test/parallel/test-fs-open-mode-mask.js
  test/parallel/test-fs-open-numeric-flags.js
  test/parallel/test-fs-options-immutable.js
  test/parallel/test-fs-promisified.js
  test/parallel/test-fs-rm.js
  test/parallel/test-fs-rmdir-recursive-sync-warns-not-found.js
  test/parallel/test-fs-rmdir-recursive-sync-warns-on-file.js
  test/parallel/test-fs-rmdir-recursive-throws-not-found.js
  test/parallel/test-fs-rmdir-recursive-throws-on-file.js
  test/parallel/test-fs-rmdir-recursive-warns-not-found.js
  test/parallel/test-fs-rmdir-recursive-warns-on-file.js
  test/parallel/test-fs-rmdir-recursive.js
  test/parallel/test-fs-stat-bigint.js
  test/parallel/test-fs-stat-date.mjs
  test/parallel/test-fs-stream-fs-options.js
  test/parallel/test-fs-symlink-buffer-path.js
  test/parallel/test-fs-symlink-dir-junction-relative.js
  test/parallel/test-fs-symlink-dir-junction.js
  test/parallel/test-fs-symlink-dir.js
  test/parallel/test-fs-symlink.js
  test/parallel/test-fs-utils-get-dirents.js
  test/parallel/test-fs-watch-close-when-destroyed.js
  test/parallel/test-fs-watch-encoding.js
  test/parallel/test-fs-watch-enoent.js
  test/parallel/test-fs-watch-file-enoent-after-deletion.js
  test/parallel/test-fs-watch.js
  test/parallel/test-fs-watchfile-bigint.js
  test/parallel/test-fs-watchfile.js
Labels: test, author ready, needs-ci

#49127 test: use `tmpdir.resolve()` in various tests #1
  test/parallel/test-blob-file-backed.js
  test/parallel/test-child-process-fork-exec-path.js
  test/parallel/test-child-process-pipe-dataflow.js
  test/parallel/test-crypto-authenticated-stream.js
  test/parallel/test-crypto-sign-verify.js
  test/parallel/test-http-agent-getname.js
  test/parallel/test-http-chunk-problem.js
  test/parallel/test-http-pipe-fs.js
  test/parallel/test-http2-compat-serverrequest-pipe.js
  test/parallel/test-http2-pipe-named-pipe.js
  test/parallel/test-http2-pipe.js
  test/parallel/test-http2-respond-file-error-pipe-offset.js
  test/parallel/test-http2-respond-file-with-pipe.js
  test/parallel/test-readline-async-iterators-destroy.js
  test/parallel/test-readline-async-iterators.js
  test/parallel/test-repl-autocomplete.js
  test/parallel/test-repl-history-navigation.js
  test/parallel/test-repl-history-perm.js
  test/parallel/test-repl-persistent-history.js
  test/parallel/test-repl-programmatic-history.js
  test/parallel/test-repl-require-after-write.js
  test/parallel/test-repl-reverse-search.js
  test/parallel/test-repl-save-load.js
  test/parallel/test-snapshot-api.js
  test/parallel/test-snapshot-argv1.js
  test/parallel/test-snapshot-basic.js
  test/parallel/test-snapshot-cjs-main.js
  test/parallel/test-snapshot-console.js
  test/parallel/test-snapshot-error.js
  test/parallel/test-snapshot-eval.js
  test/parallel/test-snapshot-gzip.js
  test/parallel/test-snapshot-incompatible.js
  test/parallel/test-snapshot-namespaced-builtin.js
  test/parallel/test-snapshot-net.js
  test/parallel/test-snapshot-typescript.js
  test/parallel/test-snapshot-umd.js
  test/parallel/test-snapshot-warning.js
  test/parallel/test-snapshot-weak-reference.js
  test/parallel/test-snapshot-worker.js
  test/parallel/test-trace-events-all.js
  test/parallel/test-trace-events-api.js
  test/parallel/test-trace-events-async-hooks-dynamic.js
  test/parallel/test-trace-events-async-hooks-worker.js
  test/parallel/test-trace-events-async-hooks.js
  test/parallel/test-trace-events-binding.js
  test/parallel/test-trace-events-bootstrap.js
  test/parallel/test-trace-events-console.js
  test/parallel/test-trace-events-environment.js
  test/parallel/test-trace-events-file-pattern.js
  test/parallel/test-trace-events-fs-async.js
  test/parallel/test-trace-events-fs-sync.js
  test/parallel/test-trace-events-http.js
  test/parallel/test-trace-events-metadata.js
  test/parallel/test-trace-events-net.js
  test/parallel/test-trace-events-none.js
  test/parallel/test-trace-events-process-exit.js
  test/parallel/test-trace-events-promises.js
  test/parallel/test-trace-events-threadpool.js
  test/parallel/test-trace-events-v8.js
  test/parallel/test-trace-events-vm.js
Labels: test, author ready, needs-ci

#49128 test: use `tmpdir.resolve()` in various tests #2
  test/parallel/test-common.js
  test/parallel/test-debugger-heap-profiler.js
  test/parallel/test-file-write-stream.js
  test/parallel/test-file-write-stream2.js
  test/parallel/test-file-write-stream3.js
  test/parallel/test-file-write-stream4.js
  test/parallel/test-heap-prof-dir-absolute.js
  test/parallel/test-heap-prof-dir-name.js
  test/parallel/test-heap-prof-dir-relative.js
  test/parallel/test-heap-prof-interval.js
  test/parallel/test-heap-prof-name.js
  test/parallel/test-internal-fs-syncwritestream.js
  test/parallel/test-macos-app-sandbox.js
  test/parallel/test-module-cache.js
  test/parallel/test-module-loading-globalpaths.js
  test/parallel/test-module-multi-extensions.js
  test/parallel/test-module-readonly.js
  test/parallel/test-module-stat.js
  test/parallel/test-npm-install.js
  test/parallel/test-permission-fs-symlink-target-write.js
  test/parallel/test-permission-fs-symlink.js
  test/parallel/test-permission-fs-traversal-path.js
  test/parallel/test-pipe-file-to-http.js
  test/parallel/test-policy-parse-integrity.js
  test/parallel/test-preload-print-process-argv.js
  test/parallel/test-process-chdir.js
  test/parallel/test-process-execpath.js
  test/parallel/test-process-redirect-warnings-env.js
  test/parallel/test-process-redirect-warnings.js
  test/parallel/test-require-enoent-dir.js
  test/parallel/test-require-long-path.js
  test/parallel/test-require-symlink.js
  test/parallel/test-require-unicode.js
  test/parallel/test-runner-concurrency.js
  test/parallel/test-runner-import-no-scheme.js
  test/parallel/test-runner-inspect.mjs
  test/parallel/test-runner-reporters.js
  test/parallel/test-runner-watch-mode.mjs
  test/parallel/test-single-executable-blob-config-errors.js
  test/parallel/test-single-executable-blob-config.js
  test/parallel/test-source-map-enable.js
  test/parallel/test-stdin-from-file.js
  test/parallel/test-stdio-pipe-stderr.js
  test/parallel/test-stdout-to-file.js
  test/parallel/test-tls-enable-keylog-cli.js
  test/parallel/test-v8-coverage.js
  test/parallel/test-v8-take-coverage.js
  test/parallel/test-vfs.js
  test/parallel/test-watch-mode-files_watcher.mjs
  test/parallel/test-worker-esm-missing-main.js
  test/parallel/test-zlib-brotli-from-brotli.js
  test/parallel/test-zlib-from-gzip.js
Labels: test, author ready, needs-ci

#49143 doc: add print results for examples in `WebStreams`
  doc/api/webstreams.md
Labels: doc, author ready, commit-queue-squash

#49106 build: fix typo `libray` -> `library` (configure.py)
  configure.py
Labels: build, author ready, needs-ci

#49145 crypto: remove default encoding from sign/verify
  lib/internal/crypto/sig.js
Labels: crypto, author ready, needs-ci, dont-land-on-v16.x, dont-land-on-v18.x

#49165 test: add test for effect of UV_THREADPOOL_SIZE
  test/node-api/test_uv_threadpool_size/binding.gyp
  test/node-api/test_uv_threadpool_size/test.js
  test/node-api/test_uv_threadpool_size/test_uv_threadpool_size.c
Labels: c++, test, libuv, node-api, author ready, needs-ci, review wanted

#49167 crypto: remove default encoding from Hash/Hmac
  lib/internal/crypto/hash.js
Labels: crypto, author ready, needs-ci, dont-land-on-v16.x, dont-land-on-v18.x

#49169 crypto: remove default encoding from DiffieHellman
  lib/internal/crypto/diffiehellman.js
Labels: crypto, author ready, needs-ci, dont-land-on-v16.x, dont-land-on-v18.x

#49199 tools: fix github reporter appended multiple times
  tools/test.py
Labels: test, tools, fast-track

#48982 vm: store MicrotaskQueue in ContextifyContext directly
  lib/vm.js
  src/module_wrap.cc
  src/node_contextify.cc
  src/node_contextify.h
Labels: c++, lib / src, needs-ci

#46391 lib: add api to detect whether source-maps are enabled
  doc/api/process.md
  lib/internal/bootstrap/node.js
  test/fixtures/source-map/output/source_map_disabled_by_api.js
  test/fixtures/source-map/output/source_map_enabled_by_api.js
Labels: semver-minor, process, needs-ci

#48890 src: add built-in `.env` file support
  doc/api/cli.md
  node.gyp
  src/env.cc
  src/env.h
  src/heap_utils.cc
  src/inspector_profiler.cc
  src/node.cc
  src/node_credentials.cc
  src/node_dotenv.cc
  src/node_dotenv.h
  src/node_options.cc
  src/node_options.h
  src/node_report.cc
  test/fixtures/dotenv/node-options.env
  test/fixtures/dotenv/valid.env
  test/parallel/test-dotenv-edge-cases.js
  test/parallel/test-dotenv-node-options.js
  test/parallel/test-dotenv.js
  tools/test.py
Labels: c++, lib / src, notable-change, cli, experimental, needs-ci, commit-queue-squash

#49215 doc: add rluvaton to collaborators
  README.md
Labels: doc, notable-change, fast-track

#49108 bootstrap: do not generate code cache in an unfinalized isolate
  src/node_builtins.cc
  src/node_builtins.h
Labels: c++, needs-ci

#49184 test_runner: expose spec reporter as newable function
  lib/test/reporters.js
  test/parallel/test-runner-run.mjs
Labels: author ready, needs-ci, test_runner

#49186 meta: add test/reporters to codeowners
  .github/CODEOWNERS
Labels: meta, author ready

#49047 src,permission: add multiple allow-fs-* flags
  doc/api/cli.md
  doc/api/permissions.md
  lib/internal/process/pre_execution.js
  src/env.cc
  src/node_options.h
  src/permission/child_process_permission.cc
  src/permission/child_process_permission.h
  src/permission/fs_permission.cc
  src/permission/fs_permission.h
  src/permission/inspector_permission.cc
  src/permission/inspector_permission.h
  src/permission/permission.cc
  src/permission/permission.h
  src/permission/permission_base.h
  src/permission/worker_permission.cc
  src/permission/worker_permission.h
  test/es-module/test-cjs-legacyMainResolve-permission.js
  test/parallel/test-cli-permission-multiple-allow.js
  test/parallel/test-permission-fs-read.js
  test/parallel/test-permission-fs-symlink-target-write.js
  test/parallel/test-permission-fs-symlink.js
  test/parallel/test-permission-fs-traversal-path.js
  test/parallel/test-permission-fs-wildcard.js
  test/parallel/test-permission-fs-write.js
Labels: c++, lib / src, needs-ci, commit-queue-squash, permission

#49180 doc: fix wording in napi_async_init
  doc/api/n-api.md
Labels: doc, node-api

#49175 doc: update to semver-minor releases by default
  doc/contributing/releases.md
Labels: doc

#49112 doc: add h1 summary to security release process
  doc/contributing/security-release-process.md
Labels: doc

#49188 doc: add notable-change label mention to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta, author ready

#49189 meta: mention nodejs/tsc when changing GH templates
  .github/CODEOWNERS
Labels: meta

#49099 bootstrap: build code cache from deserialized isolate
  src/node_snapshotable.cc
Labels: c++, needs-ci, commit-queue-squash

#49168 test: use gcUntil() in test-v8-serialize-leak
  test/parallel/test-v8-serialize-leak.js
Labels: test, author ready, needs-ci, review wanted

#49197 test: make test-perf-hooks more robust and work with workers
  test/sequential/test-perf-hooks.js
Labels: test, author ready, needs-ci

#49200 test: add and use spawnSyncAndExit() and spawnSyncAndExitWithoutError()
  test/common/README.md
  test/common/child_process.js
  test/parallel/test-snapshot-api.js
  test/parallel/test-snapshot-basic.js
  test/parallel/test-snapshot-warning.js
Labels: test, needs-ci, commit-queue-squash

#49216 doc: use same name in the doc as in the code
  doc/api/webstreams.md
  lib/internal/webstreams/queuingstrategies.js
Labels: author ready, needs-ci, web streams

#49242 doc: caveat unavailability of `import.meta.resolve` in custom loaders
  doc/api/esm.md
Labels: doc, esm, fast-track, author ready, commit-queue-squash

#49218 build: expand when we run internet tests
  .github/workflows/test-internet.yml
Labels: meta, author ready, commit-queue-squash

#49248 test: reduce flakiness of `test-esm-loader-hooks`
  test/es-module/test-esm-loader-hooks.mjs
  test/fixtures/es-module-loaders/hooks-initialize.mjs
Labels: test, esm, fast-track, needs-ci, commit-queue-squash

#49152 esm: align sync and async load implementations
  lib/internal/modules/esm/load.js
Labels: esm, author ready, needs-ci

#49097 src: add a condition if the argument of `DomainToUnicode` is empty
  src/node_url.cc
Labels: c++, whatwg-url, author ready, needs-ci

#49048 src: use ARES_SUCCESS instead of 0
  src/cares_wrap.cc
Labels: c++, cares, author ready, needs-ci

#49251 doc: add signature for `module.register`
  doc/api/esm.md
  doc/api/module.md
Labels: doc, module, esm, fast-track, loaders

#49136 test: use `tmpdir.resolve()` in various tests #3
  test/addons/symlinked-module/test.js
  test/async-hooks/test-statwatcher.js
  test/common/snapshot.js
  test/doctool/test-apilinks.mjs
  test/doctool/test-doctool-versions.mjs
  test/embedding/test-embedding.js
  test/es-module/test-esm-extension-lookup-deprecation.mjs
  test/es-module/test-esm-resolve-type.mjs
  test/es-module/test-esm-symlink-main.js
  test/es-module/test-esm-windows.js
  test/fixtures/test-runner/concurrency/a.mjs
  test/fixtures/test-runner/concurrency/b.mjs
  test/fixtures/watch-mode/ipc.js
  test/internet/test-corepack-yarn-install.js
  test/internet/test-trace-events-dns.js
  test/node-api/test_general/test.js
  test/node-api/test_policy/test_policy.js
  test/pummel/test-fs-largefile.js
  test/pummel/test-fs-readfile-tostring-fail.js
  test/pummel/test-fs-watch-file-slow.js
  test/pummel/test-policy-integrity-dep.js
  test/pummel/test-policy-integrity-parent-commonjs.js
  test/pummel/test-policy-integrity-parent-module.js
  test/pummel/test-policy-integrity-parent-no-package-json.js
  test/pummel/test-policy-integrity-worker-commonjs.js
  test/pummel/test-policy-integrity-worker-module.js
  test/pummel/test-policy-integrity-worker-no-package-json.js
  test/pummel/test-watch-file.js
  test/report/test-report-writereport.js
  test/sequential/test-cpu-prof-dir-absolute.js
  test/sequential/test-cpu-prof-dir-and-name.js
  test/sequential/test-cpu-prof-dir-relative.js
  test/sequential/test-cpu-prof-dir-worker.js
  test/sequential/test-cpu-prof-name.js
  test/sequential/test-diagnostic-dir-cpu-prof.js
  test/sequential/test-diagnostic-dir-heap-prof.js
  test/sequential/test-http2-timeout-large-write-file.js
  test/sequential/test-single-executable-application-disable-experimental-sea-warning.js
  test/sequential/test-single-executable-application-empty.js
  test/sequential/test-single-executable-application-snapshot.js
  test/sequential/test-single-executable-application-use-code-cache.js
  test/sequential/test-single-executable-application.js
  test/sequential/test-tls-session-timeout.js
  test/sequential/test-watch-mode.mjs
  test/sequential/test-worker-prof.js
  test/tick-processor/test-tick-processor-polyfill-brokenfile.js
  test/tick-processor/tick-processor-base.js
  test/wasi/test-wasi-stdio.js
  test/wasi/test-wasi-symlinks.js
Labels: test, author ready, needs-ci

#49138 test,benchmark: use `tmpdir.fileURL()`
  benchmark/esm/esm-loader-import.js
  test/es-module/test-esm-dynamic-import-mutating-fs.js
  test/es-module/test-esm-dynamic-import-mutating-fs.mjs
  test/node-api/test_policy/test_policy.js
Labels: test, benchmark, node-api, esm, author ready, needs-ci

#49244 src: remove unused function `GetName()` in node_perf
  src/node_perf.cc
Labels: c++, author ready, needs-ci, commit-queue-squash

#48742 doc: clarify use of Uint8Array for n-api
  doc/api/n-api.md
Labels: doc, node-api, commit-queue-squash

#49261 doc: move and rename loaders section
  doc/api/esm.md
  doc/api/module.md
Labels: doc, module, notable-change, esm, author ready, loaders, commit-queue-squash

#49258 doc: update description of `percent_encode` set in `WHATWG API`
  doc/api/url.md
Labels: doc, url, author ready, commit-queue-squash

#49270 worker: protect against user mutating well-known prototypes
  lib/internal/worker/io.js
  test/parallel/test-worker-message-channel.js
Labels: author ready, worker, needs-ci

#49271 doc: fix typo in `stream.finished` documentation
  doc/api/stream.md
Labels: doc, stream, author ready

#49249 stream: add `highWaterMark` to the `map` and `filter` operator
  doc/api/stream.md
  lib/internal/streams/operators.js
  test/parallel/test-stream-forEach.js
  test/parallel/test-stream-map.js
Labels: stream, needs-ci, commit-queue-squash

#49260 build: add symlink to `compile_commands.json` file if needed
  configure.py
Labels: build, needs-ci

#49206 test: fix compiler warning in NodeCryptoEnv
  test/cctest/test_node_crypto_env.cc
Labels: crypto, c++, test, needs-ci

#49265 doc: update module customization hooks docs
  doc/api/cli.md
  doc/api/esm.md
  doc/api/module.md
Labels: doc, esm, author ready, loaders, commit-queue-squash

#49298 fs: remove redundant code in readableWebStream()
  doc/api/fs.md
  lib/internal/fs/promises.js
Labels: fs, author ready, needs-ci

#49300 doc: avoid "not currently recommended"
  doc/api/crypto.md
Labels: crypto, doc, author ready

#49133 policy: fix path to URL conversion
  lib/internal/process/pre_execution.js
  test/parallel/test-policy-manifest.js
Labels: process, author ready, needs-ci

#49284 doc: add riscv64 to list of architectures
  doc/api/os.md
  doc/api/process.md
Labels: doc, author ready, riscv64

#49289 update fs doc for filter
  doc/api/fs.md
Labels: doc, fs, author ready

#49250 stream: use Buffer.from when constructor is a Buffer
  lib/internal/webstreams/readablestream.js
  test/parallel/test-whatwg-readablebytestreambyob.js
Labels: author ready, needs-ci, web streams, commit-queue-squash

#49308 fs: add the options param description in openAsBlob()
  lib/fs.js
Labels: fs, author ready, needs-ci

#49309 doc: use `cjs` as block code's type in `MockTimers`
  doc/api/test.md
Labels: doc, author ready, test_runner

#49316 doc: update outdated reference to NIST SP 800-131A
  doc/api/crypto.md
Labels: crypto, doc, author ready

#49140 crypto: do not overwrite _writableState.defaultEncoding
  lib/internal/streams/lazy_transform.js
  test/parallel/test-crypto.js
Labels: crypto, stream, semver-major, author ready, needs-ci

#49326 doc: add print results for examples in `StringDecoder`
  doc/api/string_decoder.md
Labels: doc, string_decoder, author ready

#49301 tools: remove v8_dump_build_config action
  tools/v8_gypfiles/v8.gyp
Labels: v8 engine, tools, needs-ci

#48947 doc: clarify policy expectations
  doc/api/permissions.md
Labels: doc, commit-queue-squash

#49238 test: migrate message source map tests from Python to JS
  test/fixtures/source-map/output/source_map_enclosing_function.js
  test/fixtures/source-map/output/source_map_enclosing_function.snapshot
  test/fixtures/source-map/output/source_map_reference_error_tabs.js
  test/fixtures/source-map/output/source_map_reference_error_tabs.snapshot
  test/fixtures/source-map/output/source_map_sourcemapping_url_string.js
  test/fixtures/source-map/output/source_map_sourcemapping_url_string.snapshot
  test/fixtures/source-map/output/source_map_throw_catch.js
  test/fixtures/source-map/output/source_map_throw_catch.snapshot
  test/fixtures/source-map/output/source_map_throw_icu.js
  test/fixtures/source-map/output/source_map_throw_icu.snapshot
  test/fixtures/source-map/output/source_map_throw_set_immediate.js
  test/fixtures/source-map/output/source_map_throw_set_immediate.snapshot
  test/message/source_map_enclosing_function.js
  test/message/source_map_reference_error_tabs.out
  test/message/source_map_sourcemapping_url_string.out
  test/message/source_map_throw_catch.out
  test/message/source_map_throw_icu.out
  test/message/source_map_throw_set_immediate.js
  test/message/source_map_throw_set_immediate.out
  test/parallel/test-node-output-sourcemaps.mjs
Labels: test, needs-ci

#49348 test: rename test-crypto-modp1-error
  test/parallel/test-crypto-dh-group-setters.js
Labels: crypto, test, author ready, needs-ci

#49346 src: rename IsAnyByteSource to IsAnyBufferSource
  src/crypto/crypto_aes.cc
  src/crypto/crypto_ec.cc
  src/crypto/crypto_hkdf.cc
  src/crypto/crypto_keys.cc
  src/crypto/crypto_random.cc
  src/crypto/crypto_rsa.cc
  src/crypto/crypto_timing.cc
  src/crypto/crypto_util.cc
  src/crypto/crypto_util.h
Labels: crypto, c++, lib / src, author ready, needs-ci

#49103 node-api: fix compiler warning in node_api.h
  src/node_api.h
Labels: c++, node-api, needs-ci

#49137 benchmark: use `tmpdir.resolve()`
  benchmark/esm/cjs-parse.js
  benchmark/esm/esm-legacyMainResolve.js
  benchmark/esm/esm-loader-defaultResolve.js
  benchmark/fs/read-stream-throughput.js
  benchmark/fs/readfile-permission-enabled.js
  benchmark/fs/readfile-promises.js
  benchmark/fs/readfile.js
  benchmark/fs/write-stream-throughput.js
  benchmark/fs/writefile-promises.js
  benchmark/module/module-loader-circular.js
  benchmark/module/module-loader-deep.js
  benchmark/module/module-loader.js
  benchmark/module/module-require.js
  benchmark/process/coverage.js
Labels: fs, module, benchmark, process, esm

#49320 test_runner: report covered lines, functions and branches to reporters
  doc/api/test.md
  lib/internal/test_runner/coverage.js
  lib/internal/test_runner/utils.js
  test/fixtures/test-runner/custom_reporters/coverage.mjs
  test/parallel/test-runner-coverage.js
Labels: experimental, needs-ci, commit-queue-squash, test_runner

#49397 test_runner: add support for mocking setImmediate timer
  doc/api/test.md
  lib/internal/test_runner/mock/mock_timers.js
  test/parallel/test-runner-mock-timers.js
Labels: experimental, author ready, needs-ci, commit-queue-squash, test_runner

#49155 doc,test: add known path resolution issue in permission model
  doc/api/permissions.md
  test/known_issues/test-permission-model-path-resolution.js
Labels: doc, test, security, needs-ci, permission

#49396 url: handle unicode hostname if empty
  src/node_url.cc
  test/parallel/test-url-format-whatwg.js
Labels: c++, whatwg-url, author ready, needs-ci, review wanted

#49161 url: validate `pathToFileURL(path)` argument as string
  lib/internal/url.js
  lib/url.js
  test/parallel/test-url-pathtofileurl.js
Labels: whatwg-url, needs-ci

#49401 deps: V8: cherry-pick eadaef581c29
  common.gypi
  deps/v8/src/codegen/s390/macro-assembler-s390.cc
  deps/v8/src/compiler/backend/s390/code-generator-s390.cc
Labels: v8 engine, author ready, needs-ci

#49395 doc: fix node-api call example
  doc/api/n-api.md
Labels: doc, node-api, author ready

#49275 test: verify dynamic import call with absolute path strings
  test/es-module/test-esm-dynamic-import.js
Labels: test, esm, needs-ci, commit-queue-squash

#49404 test: simplify test-crypto-dh-group-setters
  test/parallel/test-crypto-dh-group-setters.js
Labels: crypto, test, author ready, needs-ci
