Repository nodejs/node, pull requests merged in 2023-07, with the labels that each got.

#48593 test: add missing assertions to test-runner-cli
  test/parallel/test-runner-cli.js
Labels: test, author ready, needs-ci

#48608 http: null the joinDuplicateHeaders property on cleanup
  lib/_http_common.js
  test/parallel/test-http-parser-memory-retention.js
Labels: http, needs-ci

#48617 doc: fix options order
  doc/api/http.md
Labels: http, doc

#48555 test_runner: todo, only, skip are expected to return a Promise
  lib/internal/test_runner/harness.js
  test/parallel/test-runner-typechecking.js
Labels: author ready, needs-ci, commit-queue-failed, commit-queue-squash, test_runner

#48566 src: Initialize fields accessed by AsyncHooks before AsyncHooks
  src/env.cc
  src/env.h
Labels: c++, needs-ci

#48563 src: deduplicate X509 getter implementations
  src/crypto/crypto_common.cc
  src/crypto/crypto_common.h
  src/crypto/crypto_x509.cc
Labels: crypto, c++, author ready, needs-ci

#48325 src,lib: reducing C++ calls of esm legacy main resolve
  benchmark/esm/esm-legacyMainResolve.js
  lib/internal/modules/esm/resolve.js
  src/node_errors.h
  src/node_file.cc
  src/node_file.h
  test/es-module/test-cjs-legacyMainResolve-permission.js
  test/es-module/test-cjs-legacyMainResolve.js
  test/fixtures/es-modules/legacy-main-resolver/index-js/index.js
  test/fixtures/es-modules/legacy-main-resolver/index-json/index.json
  test/fixtures/es-modules/legacy-main-resolver/index-node/index.node
Labels: c++, fs, esm, needs-ci, commit-queue-squash

#48589 src: fix logically dead code reported by Coverity
  src/quic/session.cc
Labels: c++, author ready, needs-ci, quic

#48606 module: harmonize error code between ESM and CJS
  lib/internal/modules/package_json_reader.js
  test/sequential/test-module-loading.js
Labels: semver-major, author ready, needs-ci

#48564 permission: v8.writeHeapSnapshot and process.report
  lib/internal/process/report.js
  src/heap_utils.cc
  src/node_report.cc
  test/parallel/test-permission-fs-write-report.js
  test/parallel/test-permission-fs-write-v8.js
Labels: c++, lib / src, needs-ci

#47769 lib: add `navigator.hardwareConcurrency`
  .eslintrc.js
  doc/api/globals.md
  lib/.eslintrc.yaml
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  lib/internal/navigator.js
  test/common/index.js
  test/parallel/test-global.js
  test/parallel/test-navigator.js
Labels: semver-major, tools, lib / src, experimental, author ready, needs-ci, needs-citgm, review wanted, commit-queue-squash

#48639 test_runner: add shards support
  doc/api/cli.md
  doc/api/test.md
  doc/node.1
  lib/internal/main/test_runner.js
  lib/internal/test_runner/runner.js
  src/node_options.cc
  src/node_options.h
  test/fixtures/test-runner/shards/a.cjs
  test/fixtures/test-runner/shards/b.cjs
  test/fixtures/test-runner/shards/c.cjs
  test/fixtures/test-runner/shards/d.cjs
  test/fixtures/test-runner/shards/e.cjs
  test/fixtures/test-runner/shards/f.cjs
  test/fixtures/test-runner/shards/g.cjs
  test/fixtures/test-runner/shards/h.cjs
  test/fixtures/test-runner/shards/i.cjs
  test/fixtures/test-runner/shards/j.cjs
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-run.mjs
Labels: semver-minor, author ready, needs-ci, commit-queue-squash, test_runner

#48545 bootstrap: hide experimental web globals with flag kNoBrowserGlobals
  lib/internal/process/pre_execution.js
  src/node_options.cc
  test/cctest/test_environment.cc
Labels: c++, process, author ready, needs-ci

#48551 child_process: support `Symbol.dispose`
  doc/api/child_process.md
  lib/internal/child_process.js
  test/parallel/test-child-process-destroy.js
Labels: child_process, author ready, needs-ci

#48633 timers: support `Symbol.dispose`
  doc/api/timers.md
  lib/internal/per_context/primordials.js
  lib/timers.js
  test/parallel/test-timers-dispose.js
Labels: timers, needs-ci

#48657 doc: fix 'partial' typo
  doc/api/globals.md
Labels: doc, fast-track

#48652 Revert "test: remove test-crypto-keygen flaky designation"
  test/parallel/parallel.status
Labels: test, fast-track, needs-ci

#48596 events: allow safely adding listener to abortSignal
  doc/api/events.md
  lib/events.js
  test/parallel/test-events-add-abort-listener.mjs
  tools/doc/type-parser.mjs
Labels: events, semver-minor, author ready, needs-ci

#48573 http2: send RST code 8 on AbortController signal
  lib/internal/http2/core.js
  test/parallel/test-http2-client-destroy.js
Labels: http2, author ready, needs-ci

#48644 doc: mention git node release prepare
  doc/contributing/releases.md
Labels: doc

#48605 lib: remove aix directory case for package reader
  lib/internal/modules/package_json_reader.js
  src/node_file.cc
  test/parallel/test-module-binding.js
  test/parallel/test-module-loading-error.js
Labels: c++, fs, semver-major, needs-ci, review wanted

#47956 src,lib: make JSTransferables based on private symbols
  common.gypi
  deps/v8/include/v8-value-serializer.h
  deps/v8/src/api/api.cc
  deps/v8/src/objects/value-serializer.cc
  deps/v8/src/objects/value-serializer.h
  deps/v8/test/unittests/objects/value-serializer-unittest.cc
  lib/internal/abort_controller.js
  lib/internal/blob.js
  lib/internal/blocklist.js
  lib/internal/crypto/keys.js
  lib/internal/crypto/x509.js
  lib/internal/event_target.js
  lib/internal/fs/promises.js
  lib/internal/histogram.js
  lib/internal/perf/event_loop_delay.js
  lib/internal/socketaddress.js
  lib/internal/test/transfer.js
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transfer.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/writablestream.js
  lib/internal/worker/js_transferable.js
  src/base_object.cc
  src/base_object.h
  src/crypto/crypto_x509.cc
  src/env_properties.h
  src/histogram.h
  src/node_blob.cc
  src/node_file.cc
  src/node_file.h
  src/node_messaging.cc
  src/node_messaging.h
  src/node_sockaddr.h
  src/node_util.cc
  test/parallel/test-messaging-marktransfermode.js
  test/parallel/test-whatwg-webstreams-transfer.js
  test/parallel/test-worker-message-port-jstransferable-nested-untransferable.js
Labels: lib / src, needs-ci, commit-queue-squash

#48680 doc: clarify transform._transform() callback argument logic
  doc/api/stream.md
Labels: doc, stream

#48592 events: fix bug listenerCount don't compare wrapped listener
  lib/events.js
  test/parallel/test-events-listener-count-with-listener.js
Labels: events, needs-ci, commit-queue-squash

#48703 bootstrap: polyfill Symbol.dispose/Symbol.asyncDispose with correct descriptor
  lib/internal/process/pre_execution.js
Labels: process, author ready, needs-ci

#48691 stream: fix deadlock when pipeing to full sink
  lib/internal/streams/readable.js
  test/parallel/test-stream-pipe-deadlock.js
Labels: stream, needs-ci

#48597 build: do not pass target toolchain flags to host toolchain
  common.gypi
Labels: build, author ready, needs-ci

#48702 src: make BaseObject iteration order deterministic
  src/cleanup_queue-inl.h
  src/cleanup_queue.cc
  src/cleanup_queue.h
Labels: c++, author ready, needs-ci

#48461 module: add SourceMap.lineLengths
  doc/api/module.md
  lib/internal/source_map/source_map.js
  lib/internal/source_map/source_map_cache.js
  test/parallel/test-source-map-api.js
Labels: needs-ci, source maps, commit-queue-squash

#48658 fs: add a fast-path for readFileSync utf-8
  benchmark/fs/readFileSync.js
  lib/fs.js
  lib/internal/fs/read/context.js
  lib/internal/fs/read/utf8.js
  src/node_file.cc
  test/parallel/test-bootstrap-modules.js
Labels: c++, lib / src, performance, notable-change, needs-ci, needs-citgm, commit-queue-squash

#48757 doc: add atlowChemi to collaborators
  README.md
Labels: doc, notable-change, fast-track

#48750 test: fix flaky test-string-decode.js on x86
  test/parallel/test-string-decoder.js
Labels: test, fast-track, author ready, needs-ci

#48726 child_process: harden against prototype pollution
  lib/child_process.js
  test/parallel/test-child-process-prototype-tampering.mjs
Labels: child_process, author ready, needs-ci

#48770 permission: fix data types in PrintTree
  src/permission/fs_permission.cc
Labels: c++, fast-track, author ready, needs-ci

#48751 doc: expand on squashing and rebasing to land a PR
  doc/contributing/collaborator-guide.md
Labels: doc, author ready, commit-queue-squash

#47497 lib: mark URL/URLSearchParams as uncloneable and untransferable
  lib/internal/url.js
  test/wpt/status/url.json
Labels: semver-major, lib / src, author ready, needs-ci

#48586 util: Use `primordials.ArrayPrototypeIndexOf` instead of mutable method
  lib/internal/util/inspect.js
Labels: util, author ready, needs-ci

#48722 src: use string_view for utf-8 string creation
  src/util.cc
  src/util.h
Labels: c++, author ready, needs-ci

#48732 src: remove OnScopeLeaveImpl's move assignment overload
  src/util.h
Labels: c++, author ready, needs-ci, commit-queue-squash

#48738 test: skip experimental test with pointer compression
  test/parallel/test-experimental-shared-value-conveyor.js
Labels: test, author ready, commit-queue-failed, commit-queue-squash

#48765 inspector: open add `SymbolDispose`
  doc/api/inspector.md
  lib/inspector.js
  test/parallel/test-inspector-open-dispose.mjs
Labels: semver-minor, inspector, notable-change, author ready, needs-ci, commit-queue-squash

#48769 doc: remove nodejs/tweet mention
  doc/contributing/security-release-process.md
Labels: doc, author ready

#48709 url: reduce `pathToFileURL` cpp calls
  lib/internal/url.js
Labels: performance, whatwg-url, author ready, needs-ci

#48719 fix: pr template CONTRIBUTING.md url
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta, author ready, commit-queue-squash

#48779 esm: add back `globalPreload` tests
  lib/internal/main/eval_string.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/loader.js
  lib/internal/process/esm_loader.js
  test/es-module/test-esm-loader-hooks.mjs
  test/es-module/test-esm-loader-mock.mjs
  test/fixtures/es-module-loaders/mock-loader.mjs
Labels: process, esm, author ready, needs-ci

#48395 stream: implement ReadableStream.from
  doc/api/webstreams.md
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/util.js
  test/fixtures/wpt/README.md
  test/fixtures/wpt/streams/piping/general-addition.any.js
  test/fixtures/wpt/streams/readable-streams/from.any.js
  test/fixtures/wpt/streams/readable-streams/owning-type-message-port.any.js
  test/fixtures/wpt/streams/readable-streams/owning-type-video-frame.any.js
  test/fixtures/wpt/streams/readable-streams/owning-type.any.js
  test/fixtures/wpt/streams/readable-streams/read-task-handling.window.js
  test/fixtures/wpt/streams/transferable/transform-stream-members.any.js
  test/fixtures/wpt/streams/transform-streams/invalid-realm.tentative.window.js
  test/fixtures/wpt/versions.json
  test/wpt/status/streams.json
Labels: author ready, needs-ci, web streams

#48802 src: fix nullptr access on realm
  src/env.cc
Labels: c++, author ready

#48774 doc: refactor node-api support matrix
  doc/api/n-api.md
Labels: doc, node-api, commit-queue-squash

#48559 esm: unflag `Module.register` and allow nested loader `import()`
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/initialize_import_meta.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/utils.js
  test/es-module/test-esm-loader-chaining.mjs
  test/es-module/test-esm-loader-programmatically.mjs
  test/fixtures/es-module-loaders/loader-load-dynamic-import.mjs
  test/fixtures/es-module-loaders/loader-resolve-dynamic-import.mjs
Labels: process, esm, needs-ci, loaders, dont-land-on-v16.x, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#48734 src: remove unnecessary temporary creation
  src/cleanup_queue-inl.h
Labels: c++, author ready, needs-ci, commit-queue-squash

#48811 test: delete test-net-bytes-per-incoming-chunk-overhead
  test/pummel/test-net-bytes-per-incoming-chunk-overhead.js
Labels: net, test, needs-ci, lts-watch-v16.x, lts-watch-v18.x

#48826 fs: remove redundant `nullCheck`
  lib/fs.js
  test/parallel/test-fs-null-bytes.js
Labels: fs, author ready, needs-ci

#46824 sea: snapshot support in single executable applications
  doc/api/single-executable-applications.md
  lib/internal/main/mksnapshot.js
  lib/internal/process/pre_execution.js
  src/node.cc
  src/node_main_instance.cc
  src/node_sea.cc
  src/node_sea.h
  src/node_snapshotable.cc
  test/sequential/test-single-executable-application-snapshot.js
Labels: c++, lib / src, needs-ci, commit-queue-squash, single-executable

#48708 src: save the performance milestone time origin in the AliasedArray
  lib/internal/perf/utils.js
  lib/internal/process/pre_execution.js
  src/env.cc
  src/node_perf.cc
  src/node_perf_common.h
Labels: c++, lib / src, author ready, needs-ci

#48827 test_runner: call abort on test finish
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/aborts/failed-test-still-call-abort.js
  test/fixtures/test-runner/aborts/successful-test-still-call-abort.js
  test/fixtures/test-runner/aborts/wait-for-abort-helper.js
  test/parallel/test-runner-run.mjs
Labels: needs-ci, commit-queue-squash, test_runner

#48824 doc: include experimental features assessment
  SECURITY.md
Labels: doc, meta

#48854 docs: fix test_runner `test:fail` event type
  doc/api/test.md
Labels: doc, author ready, test_runner

#48853 fs: sync JSDoc with the actual implementation
  lib/internal/fs/promises.js
Labels: fs, author ready, commit-queue-failed, typings

#48834 src: use ARES_SUCCESS instead of 0
  src/cares_wrap.cc
Labels: c++, cares, author ready, needs-ci

#48856 test_runner: fix async callback in describe not awaited
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/describe_it.js
  test/fixtures/test-runner/output/describe_it.snapshot
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#48874 permission: move PrintTree into unnamed namespace
  src/permission/fs_permission.cc
Labels: c++, author ready, needs-ci

#48879 node-api: avoid macro redefinition
  src/js_native_api_v8.h
Labels: c++, node-api, author ready, needs-ci

#48897 url: ensure getter access do not mutate observable symbols
  test/parallel/test-whatwg-url-custom-searchparams.js
Labels: test, fast-track, needs-ci

#48877 test_runner: fix global before not called when no global test exists
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/hooks-with-no-global-test.js
  test/fixtures/test-runner/output/hooks-with-no-global-test.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#48876 doc: add ver of 18.x where Node-api 9 is supported
  doc/api/n-api.md
Labels: doc, node-api

#48611 http: start connections checking interval on listen
  lib/_http_server.js
  lib/https.js
  test/parallel/test-http-server-connections-checking-leak.js
  test/parallel/test-https-server-connections-checking-leak.js
Labels: http, needs-ci, commit-queue-squash

#48860 doc: improve requireHostHeader
  doc/api/http.md
Labels: http, doc

#48892 doc: change duration to duration_ms on test documentation
  doc/api/test.md
Labels: doc, author ready, test_runner

#48191 sea: add support for V8 bytecode-only caching
  doc/api/single-executable-applications.md
  lib/internal/modules/cjs/loader.js
  lib/internal/util/embedding.js
  src/json_parser.cc
  src/json_parser.h
  src/node_contextify.cc
  src/node_contextify.h
  src/node_sea.cc
  src/node_sea.h
  src/node_snapshotable.cc
  src/util.cc
  src/util.h
  test/fixtures/errors/force_colors.snapshot
  test/fixtures/sea.js
  test/sequential/test-single-executable-application-use-code-cache.js
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash, single-executable

#48903 doc: add new TestSream events to custom reporter examples
  doc/api/test.md
Labels: doc, author ready, test_runner

#48836 src: remove ContextEmbedderIndex::kBindingDataStoreIndex
  src/README.md
  src/encoding_binding.cc
  src/env.cc
  src/node_blob.cc
  src/node_context_data.h
  src/node_file.cc
  src/node_http2.cc
  src/node_http_parser.cc
  src/node_process_methods.cc
  src/node_realm-inl.h
  src/node_realm.h
  src/node_snapshotable.cc
  src/node_url.cc
  src/node_v8.cc
  src/quic/bindingdata.cc
  src/timers.cc
Labels: c++, lib / src, needs-ci

#48787 test: relocate test files fixtures for better understanding
  test/fixtures/test-runner/default-behavior/index.test.js
  test/fixtures/test-runner/default-behavior/node_modules/test-nm.js
  test/fixtures/test-runner/default-behavior/random.test.mjs
  test/fixtures/test-runner/default-behavior/subdir/subdir_test.js
  test/fixtures/test-runner/default-behavior/test/random.cjs
  test/fixtures/test-runner/default-behavior/test/skip_by_name.cjs
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-exit-code.js
  test/parallel/test-runner-inspect.mjs
  test/parallel/test-runner-run.mjs
Labels: test, author ready, needs-ci, commit-queue-squash

#48907 src,permission: restrict by default when pm enabled
  src/env.cc
  test/parallel/test-permission-inspector.js
Labels: c++, needs-ci

#46662 module: ensure successful dynamic import returns the same result
  benchmark/esm/esm-loader-import.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/module_map.js
  test/es-module/test-esm-dynamic-import-mutating-fs.js
  test/es-module/test-esm-dynamic-import-mutating-fs.mjs
  test/es-module/test-esm-loader-modulemap.js
Labels: module, lib / src, esm, author ready, needs-ci, commit-queue-squash

#48905 benchmark: add pm startup benchmark
  benchmark/permission/permission-startup.js
Labels: benchmark

#48920 lib,permission: drop repl autocomplete when pm enabled
  lib/internal/util/inspector.js
  test/parallel/test-repl-permission-model.js
Labels: repl, needs-ci

#48922 doc: fix second parameter name of `events.addAbortListener`
  doc/api/events.md
Labels: doc, events, author ready

#48859 doc: improved joinDuplicateHeaders definition
  doc/api/http.md
Labels: http, doc, commit-queue-squash

#48880 test: fix `es-module/test-esm-initialization`
  test/es-module/test-esm-initialization.mjs
Labels: test, esm, author ready, needs-ci

#48663 test_runner: add `__proto__` null
  .eslintrc.js
  lib/internal/test_runner/coverage.js
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/mock/mock.js
  lib/internal/test_runner/mock/mock_timers.js
  lib/internal/test_runner/reporter/spec.js
  lib/internal/test_runner/reporter/tap.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/tests_stream.js
  lib/internal/test_runner/utils.js
  tools/eslint-rules/set-proto-to-null-in-object.js
Labels: lib / src, author ready, needs-ci, needs-benchmark-ci

#48931 benchmark: add benchmarks for the test_runner
  benchmark/fixtures/empty-test-reporter.js
  benchmark/test_runner/global-concurrent-tests.js
  benchmark/test_runner/global-sequential-tests.js
  benchmark/test_runner/suite-tests.js
Labels: benchmark, author ready, commit-queue-squash, test_runner

#48942 test_runner: unwrap error message in TAP reporter
  lib/internal/test_runner/reporter/tap.js
  test/fixtures/test-runner/output/hooks.snapshot
Labels: author ready, commit-queue-squash, test_runner

#48915 test_runner: cleanup test timeout abort listener
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/before-and-after-each-too-many-listeners.js
  test/fixtures/test-runner/output/before-and-after-each-too-many-listeners.snapshot
  test/fixtures/test-runner/output/before-and-after-each-with-timeout-too-many-listeners.js
  test/fixtures/test-runner/output/before-and-after-each-with-timeout-too-many-listeners.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#42387 test: improve internal/worker/io.js coverage
  test/parallel/test-worker-broadcastchannel.js
Labels: test, author ready, worker, needs-ci

#48958 test: fix some assumptions in tests
  test/es-module/test-cjs-legacyMainResolve-permission.js
  test/es-module/test-esm-dynamic-import.js
  test/es-module/test-esm-loader-spawn-promisified.mjs
  test/parallel/test-fs-mkdtemp.js
  test/parallel/test-internal-util-decorate-error-stack.js
  test/parallel/test-repl-require-context.js
  test/parallel/test-stdio-pipe-stderr.js
  test/parallel/test-trace-events-worker-metadata-with-name.js
  test/parallel/test-trace-events-worker-metadata.js
  test/sequential/test-watch-mode.mjs
Labels: test, esm, needs-ci, commit-queue-squash

#48960 test: order `common.mjs` imports and exports in ASCII order
  test/common/index.mjs
Labels: test, needs-ci

#48925 test_runner: fix timeout in *Each hook failing further tests
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/abort_hooks.js
  test/fixtures/test-runner/output/abort_hooks.snapshot
  test/fixtures/test-runner/output/hooks.snapshot
  test/fixtures/test-runner/output/timeout_in_before_each_should_not_affect_further_tests.js
  test/fixtures/test-runner/output/timeout_in_before_each_should_not_affect_further_tests.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner
