Repository nodejs/node, pull requests merged in 2023-12, with the labels that each got.

#50785 test: replace forEach to for.. test-webcrypto-export-import-cfrg.js
  test/parallel/test-webcrypto-export-import-cfrg.js
Labels: test, code-and-learn, author ready, needs-ci

#50863 benchmark: update iterations in benchmark/crypto/get-ciphers.js
  benchmark/crypto/get-ciphers.js
Labels: crypto, benchmark, author ready

#50969 loader: speed up line length calculation used by moduleProvider
  lib/internal/source_map/source_map_cache.js
Labels: module, performance, author ready, needs-ci, source maps

#50976 fs: introduce `dirent.parentPath`
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/dir.js
  lib/internal/fs/utils.js
  test/parallel/test-fs-opendir.js
Labels: fs, author ready, needs-ci, commit-queue-squash

#50990 fs: use w flag for writeFileSync with utf8 encoding when flag not specified
  lib/fs.js
  test/parallel/test-fs-write-file-sync.js
Labels: fs, author ready, needs-ci, commit-queue-squash

#50849 src: fix backtrace with [[noreturn]] abort
  src/api/environment.cc
  src/inspector_agent.cc
  src/node_errors.cc
  src/node_errors.h
  src/node_process_methods.cc
  src/node_watchdog.cc
  src/util.h
Labels: c++, author ready, needs-ci, commit-queue-squash

#50796 doc: --input-type default & limitations
  doc/api/cli.md
Labels: doc, cli

#50763 src: make ModifyCodeGenerationFromStrings more robust
  src/node_errors.cc
Labels: c++, needs-ci

#50932 benchmark: update iterations in benchmark/util/format.js
  benchmark/util/format.js
Labels: util, benchmark, author ready

#51020 doc: deprecate `dirent.path`
  doc/api/deprecations.md
Labels: doc, fs, notable-change, author ready, deprecations, commit-queue-squash, lts-watch-v18.x, lts-watch-v20.x

#50980 test: escape cwd in regexp
  test/parallel/test-runner-output.mjs
Labels: test, author ready, needs-ci

#50580 lib: don't parse windows drive letters as schemes
  lib/internal/source_map/source_map_cache.js
  test/fixtures/source-map/ts-node-win32.js
  test/fixtures/source-map/ts-node.ts
  test/parallel/test-source-map-enable.js
Labels: author ready, needs-ci, source maps, commit-queue-squash

#50899 src: implement --trace-promises
  src/env.cc
  src/env.h
  src/env_properties.h
  src/node.cc
  src/node_errors.cc
  src/node_internals.h
  src/node_options.cc
  src/node_options.h
  test/parallel/test-process-env-allowed-flags-are-documented.js
Labels: c++, lib / src, needs-ci, commit-queue-squash

#50276 test: correctly resolve path of embedtest binary
  test/embedding/test-embedding.js
Labels: test, author ready, needs-ci

#50100 fs: improve error performance of readvSync
  benchmark/fs/bench-readvSync.js
  lib/fs.js
  src/node_file.cc
Labels: c++, fs, author ready, needs-ci

#50466 esm: change transformSource to load for error
  lib/internal/errors.js
  lib/internal/modules/esm/translators.js
  test/es-module/test-esm-loader.mjs
  test/fixtures/es-module-loaders/hooks-custom.mjs
Labels: esm, author ready, needs-ci, commit-queue-failed, loaders, commit-queue-squash

#51059 doc: add deprecation notice to `dirent.path`
  doc/api/fs.md
Labels: doc, fs, fast-track, author ready

#51026 crypto: use new.target instead of instaceof to detect construct calls
  benchmark/crypto/create-hash.js
  lib/internal/crypto/hash.js
Labels: crypto, needs-ci, commit-queue-squash

#51039 module: document `parentURL` in register options
  doc/api/module.md
Labels: doc, module, author ready

#50586 benchmark: add undici websocket benchmark
  benchmark/websocket/simple.js
  test/benchmark/test-benchmark-websocket.js
Labels: benchmark, commit-queue-squash

#51069 build: fix warnings from uv for gn build
  deps/uv/unofficial.gni
Labels: libuv, fast-track, needs-ci

#51068 doc: correct tracingChannel.traceCallback()
  doc/api/diagnostics_channel.md
  lib/diagnostics_channel.js
Labels: author ready, needs-ci, diagnostics_channel, commit-queue-squash

#50956 win,tools: upgrade Windows signing to smctl
  tools/sign.bat
Labels: windows, tools, needs-ci, lts-watch-v18.x, lts-watch-v20.x

#50868 benchmark: update iteration and size in benchmark/crypto/randomBytes.js
  benchmark/crypto/randomBytes.js
Labels: crypto, benchmark, commit-queue-squash

#50929 benchmark: update iterations in benchmark/crypto/aes-gcm-throughput.js
  benchmark/crypto/aes-gcm-throughput.js
Labels: crypto, benchmark

#51089 Updated packages.md and added --experimental-detect-module flag
  doc/api/packages.md
Labels: doc

#51064 test: fix test runner colored output test
  lib/internal/test_runner/reporter/spec.js
  test/fixtures/test-runner/output/arbitrary-output-colored.js
  test/fixtures/test-runner/output/reset-color-depth.js
Labels: test, author ready, needs-ci

#51040 util: improve performance of function areSimilarFloatArrays
  lib/internal/util/comparisons.js
Labels: util, needs-ci, needs-benchmark-ci

#50869 benchmark: increase iteration counts for 4 cases
  benchmark/perf_hooks/performance-observer.js
  benchmark/perf_hooks/resourcetiming.js
  benchmark/perf_hooks/timerfied.js
  benchmark/perf_hooks/usertiming.js
Labels: benchmark, author ready, perf_hooks

#50927 src: remove unused headers in `node_file.cc`
  src/node_file.cc
Labels: c++, fs, needs-ci

#50944 bootstrap: improve snapshot unsupported builtin warnings
  lib/internal/main/mksnapshot.js
Labels: author ready, needs-ci

#51047 test_runner: fix infinite loop when files are undefined in test runner
  lib/internal/test_runner/runner.js
  test/parallel/test-runner-run.mjs
Labels: author ready, needs-ci, test_runner

#51077 doc: deprecate hash constructor
  doc/api/deprecations.md
Labels: crypto, doc, author ready, deprecations

#51075 fs: throw fchownSync error from c++
  lib/fs.js
  src/node_file.cc
  typings/internalBinding/fs.d.ts
Labels: c++, fs, needs-ci, typings

#51033 module: load source maps in `commonjs` translator
  lib/internal/modules/esm/translators.js
  test/es-module/test-esm-loader-hooks.mjs
Labels: esm, author ready, needs-ci, source maps

#51121 test: handle relative https redirect
  test/internet/test-inspector-help-page.js
Labels: test, author ready, needs-ci

#50394 http: preserve raw header duplicates in writeHead after setHeader calls
  lib/_http_server.js
  test/parallel/test-http-write-head-after-set-header.js
Labels: http, semver-major, needs-ci

#51119 test_runner: format coverage report for tap reporter
  lib/internal/test_runner/reporter/tap.js
  test/parallel/test-runner-coverage.js
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#50973 crypto: end of life createCipher and createDecipher
  benchmark/crypto/cipher-stream.js
  doc/api/crypto.md
  doc/api/deprecations.md
  lib/crypto.js
  lib/internal/crypto/cipher.js
  src/crypto/crypto_cipher.cc
  test/parallel/test-crypto-authenticated.js
  test/parallel/test-crypto-cipher-decipher.js
  test/parallel/test-crypto-classes.js
  test/parallel/test-crypto.js
  test/parallel/test-process-emit-warning-from-native.js
Labels: crypto, semver-major, lib / src, author ready, deprecations, needs-ci

#51177 doc: fix simdjson wrong link
  doc/contributing/maintaining/maintaining-dependencies.md
Labels: doc, fast-track

#51160 watch: fix infinite loop when passing --watch=true flag
  lib/internal/main/watch_mode.js
  test/sequential/test-watch-mode.mjs
Labels: author ready, needs-ci, test_runner

#49025 Initial proposal for additional http2settings
  doc/api/errors.md
  doc/api/http2.md
  lib/internal/errors.js
  lib/internal/http2/core.js
  lib/internal/http2/util.js
  src/node_http2.cc
  src/node_http2.h
  src/node_http2_state.h
  test/parallel/test-http2-getpackedsettings.js
  test/parallel/test-http2-update-settings.js
Labels: c++, lib / src, author ready, commit-queue-squash

#51181 doc: fix `TestsStream` parent class
  doc/api/test.md
Labels: doc, author ready, test_runner

#50946 doc: Correct note on behavior of stats.isDirectory
  doc/api/fs.md
Labels: doc, fs, commit-queue-squash

#51027 fs: validate fd synchronously on c++
  lib/fs.js
  src/node_file.cc
  src/util.cc
  src/util.h
  test/cctest/test_util.cc
  test/parallel/test-fs-fchmod.js
  test/parallel/test-fs-fchown.js
  test/parallel/test-fs-truncate.js
Labels: c++, fs, needs-ci

#51185 doc: mention native addons are restricted in pm
  doc/api/permissions.md
Labels: doc, author ready, commit-queue-squash, permission

#50060 node-api: segregate nogc APIs from rest via type system
  doc/api/n-api.md
  doc/contributing/adding-new-napi-api.md
  doc/contributing/releases-node-api.md
  src/js_native_api.h
  src/js_native_api_types.h
  src/js_native_api_v8.cc
  src/js_native_api_v8.h
  src/node_api.cc
  src/node_api.h
  test/js-native-api/common.h
  test/js-native-api/test_cannot_run_js/test_cannot_run_js.c
  test/js-native-api/test_finalizer/test_finalizer.c
  test/js-native-api/test_string/test_string.c
  test/node-api/test_reference_by_node_api_version/test_reference_by_node_api_version.c
  test/node-api/test_threadsafe_function/test_uncaught_exception.c
  tools/build-addons.mjs
Labels: c++, lib / src, node-api

#33633 test: improve http-client coverage
  lib/_http_client.js
  test/parallel/test-http-client-input-function.js
  test/parallel/test-http-client-insecure-http-parser-error.js
Labels: test, author ready, commit-queue-squash

#51195 doc: remove version from `maintaining-dependencies.md`
  doc/contributing/maintaining/maintaining-dependencies.md
  tools/dep_updaters/update-openssl.sh
  tools/dep_updaters/update-v8-patch.sh
  tools/dep_updaters/utils.sh
Labels: tools, author ready, commit-queue-squash

#50840 src: implement FastByteLengthUtf8 with simdutf::utf8_length_from_latin1
  benchmark/buffers/buffer-bytelength-string.js
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci, commit-queue-squash

#51013 test: resolve flakiness in worker*.test-free-called
  test/addons/worker-buffer-callback/test-free-called.js
Labels: test, addons, author ready, needs-ci

#51056 doc: set exit code in custom test runner example
  doc/api/test.md
Labels: doc, author ready, commit-queue-squash, test_runner

#51078 fs: improve mkdtemp performance for buffer prefix
  benchmark/fs/bench-mkdtempSync.js
  lib/fs.js
  src/node_file.cc
Labels: c++, fs, performance, needs-ci, review wanted

#51178 tools: check timezone current version
  .github/workflows/timezone-update.yml
Labels: meta, tools, author ready, commit-queue-squash

#51206 test: use tmpdir.refresh() in test-esm-loader-resolve-type.mjs
  test/es-module/test-esm-loader-resolve-type.mjs
Labels: test, esm, author ready, needs-ci

#51207 doc: remove ambiguous 'considered'
  doc/api/crypto.md
Labels: crypto, doc, author ready

#50908 fs: make stats date fields lazy
  lib/internal/fs/utils.js
  test/parallel/test-fs-stat.js
Labels: fs, semver-major, needs-ci

#51045 net: add new connection attempts events
  doc/api/net.md
  lib/net.js
  test/common/dns.js
  test/internet/test-net-autoselectfamily-events-failure.js
  test/internet/test-net-autoselectfamily-events-timeout.js
  test/internet/test-net-autoselectfamily-timeout-close.js
  test/parallel/test-net-autoselectfamily-commandline-option.js
  test/parallel/test-net-autoselectfamily-default.js
  test/parallel/test-net-autoselectfamily-ipv4first.js
  test/parallel/test-net-autoselectfamily.js
Labels: net, semver-minor, needs-ci, lts-watch-v20.x

#51219 meta: update artifact actions to v4
  .github/workflows/build-tarball.yml
  .github/workflows/daily-wpt-fyi.yml
  .github/workflows/doc.yml
  .github/workflows/scorecard.yml
Labels: meta, author ready

#51211 doc: mention node:wasi in the Threat Model
  SECURITY.md
Labels: doc

#50791 test: replace forEach with for-of in test-v8-serders.js
  test/parallel/test-v8-serdes.js
Labels: test, code-and-learn, needs-ci

#51184 doc,permissions: adjust limitations and known issues section
  doc/api/permissions.md
Labels: doc, author ready, permission

#51209 permission: fix wildcard when children > 1
  src/permission/fs_permission.h
  test/parallel/test-permission-fs-wildcard.js
Labels: c++, needs-ci, permission

#51212 lib,permission: handle buffer on fs.symlink
  lib/fs.js
  test/parallel/test-permission-fs-symlink-relative.js
Labels: fs, needs-ci, permission

#51183 src,permission: add --allow-addon flag
  doc/api/cli.md
  doc/api/permissions.md
  doc/node.1
  lib/internal/process/pre_execution.js
  src/env.cc
  src/node_options.cc
  src/node_options.h
  test/parallel/test-permission-allow-addons-cli.js
  test/parallel/test-permission-no-addons.js
  test/parallel/test-permission-warning-flags.js
Labels: c++, semver-minor, process, needs-ci, permission

#51200 deps: V8: cherry-pick de611e69ad51
  common.gypi
  deps/v8/src/maglev/maglev-code-generator.cc
Labels: build, v8 engine, author ready, needs-ci

#51204 http: remove misleading warning
  lib/_http_server.js
  test/parallel/test-http-server-multiple-client-error.js
  test/parallel/test-http-socket-error-listeners.js
Labels: http, needs-ci, commit-queue-squash

#51224 fs: remove `internalModuleReadJSON` binding
  typings/internalBinding/fs.d.ts
Labels: author ready, typings

#51225 fs: add missing jsdoc parameters to `readSync`
  lib/fs.js
Labels: fs, author ready, needs-ci

#51210 test: skip test-watch-mode-inspect on arm
  test/sequential/sequential.status
Labels: test, author ready

#50782 test: move to for of loop in test-http-hostname-typechecking.js
  test/parallel/test-http-hostname-typechecking.js
Labels: test, code-and-learn, author ready, needs-ci

#51249 test: replace forEach with for-of in test-webcrypto-export-import-ec
  test/parallel/test-webcrypto-export-import-ec.js
Labels: test, code-and-learn, fast-track, author ready, needs-ci

#51231 doc: bump FreeBSD experimental support to 13.2
  BUILDING.md
Labels: doc, semver-major, build

#51149 node-api: type tag external values without v8::Private
  src/js_native_api_v8.cc
  test/cctest/test_linked_binding.cc
Labels: c++, node-api, needs-ci

#51087 fs: filehandle.read(buffer) can't read file when options are omitted
  doc/api/fs.md
  lib/internal/fs/promises.js
  test/parallel/test-fs-promises-file-handle-read.js
Labels: fs, author ready, needs-ci, commit-queue-squash

#51243 lib: reduce overhead of `SafePromiseAllSettledReturnVoid` calls
  lib/internal/per_context/primordials.js
Labels: author ready, needs-ci

#51259 meta: notify tsc on changes in SECURITY.md
  .github/CODEOWNERS
Labels: meta, fast-track

#51242 Optimize Memory Usage by Hoisting Function in For Loop 💽
  lib/internal/per_context/primordials.js
Labels: author ready, needs-ci

#51246 timers: export timers.promises
  lib/timers.js
  test/parallel/test-timers-promises.js
Labels: timers, semver-minor, author ready, needs-ci

#51247 doc: mark `--jitless` as experimental
  doc/api/cli.md
Labels: doc, cli, author ready

#51248 lib: fix use of `--frozen-intrinsics` with `--jitless`
  lib/internal/freeze_intrinsics.js
  test/parallel/test-freeze-intrinsics.js
Labels: author ready, needs-ci, commit-queue-squash

#50858 src: fix unix abstract socket path for trace event
  src/pipe_wrap.cc
  test/parallel/test-trace-events-net-abstract-socket.js
Labels: c++, net, author ready

#51223 esm: fix hint on invalid module specifier
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-module-not-found-commonjs-hint.mjs
  test/es-module/test-esm-type-flag-cli-entry.mjs
  test/fixtures/es-modules/folder%25with percentage#/index.js
  test/fixtures/node_modules/@nodejsscope/pkg/index.js
  test/fixtures/node_modules/lone_file.js
  test/fixtures/node_modules/some_module/folder%25with percentage#/index.js
Labels: esm, author ready, needs-ci

#50982 test_runner: fixed test object is incorrectly passed to setup()
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/utils.js
  test/parallel/test-runner-reporters.js
  test/parallel/test-runner-run.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#51257 build: add `-flax-vector-conversions` to V8 build
  tools/v8_gypfiles/toolchain.gypi
Labels: v8 engine, tools, author ready, needs-ci

#51255 streams: fix cloned webstreams not being unref'd
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transfer.js
  lib/internal/webstreams/writablestream.js
  test/parallel/test-webstreams-clone-unref.js
  test/parallel/test-whatwg-webstreams-transfer.js
Labels: baking-for-lts, author ready, web streams, commit-queue-squash

#51263 src: eliminate duplicate code in histogram.cc
  src/histogram.cc
  src/histogram.h
Labels: c++, author ready, needs-ci

#51141 test: fix inconsistency write size in `test-fs-readfile-tostring-fail`
  test/pummel/test-fs-readfile-tostring-fail.js
Labels: test, author ready, needs-ci, commit-queue-squash

#51264 util: pass invalidSubtypeIndex instead of trimmedSubtype to error
  lib/internal/mime.js
Labels: author ready, needs-ci

#51269 src: do not treat all paths ending with node_modules as such
  src/node_modules.cc
  test/es-module/test-esm-resolve-type.mjs
  test/fixtures/es-modules/package-ends-node_modules/index.js
  test/fixtures/es-modules/package-ends-node_modules/package.json
Labels: c++, author ready

#51138 src: enter isolate before destructing IsolateData
  src/node_worker.cc
Labels: c++, author ready, worker, needs-ci

#51168 streams: fixes for webstreams
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/util.js
  lib/internal/webstreams/writablestream.js
  test/wpt/status/streams.json
Labels: author ready, web streams, commit-queue-squash

#51256 build: fix arm64 cross-compilation
  configure.py
  node.gyp
Labels: build, needs-ci, dont-land-on-v18.x

#51037 fs: use private fields instead of symbols for `Dir`
  lib/internal/fs/dir.js
Labels: fs, semver-major, needs-ci, commit-queue-squash

#51287 src: refactor `GetCreationContext` calls
  src/api/callback.cc
  src/base_object-inl.h
  src/module_wrap.cc
  src/node_messaging.cc
  src/node_worker.cc
Labels: c++, lib / src, author ready, needs-ci

#51032 fs: fix fs.promises.realpath for long paths on Windows
  lib/internal/fs/promises.js
  test/parallel/test-fs-long-path.js
Labels: fs, needs-ci

#50694 doc: the GN files should use Node's license
  LICENSE
  deps/ada/unofficial.gni
  deps/base64/unofficial.gni
  deps/brotli/unofficial.gni
  deps/cares/unofficial.gni
  deps/googletest/unofficial.gni
  deps/histogram/unofficial.gni
  deps/llhttp/unofficial.gni
  deps/nghttp2/unofficial.gni
  deps/ngtcp2/unofficial.gni
  deps/openssl/unofficial.gni
  deps/postject/unofficial.gni
  deps/simdutf/unofficial.gni
  deps/uv/unofficial.gni
  deps/uvwasi/unofficial.gni
  src/inspector/unofficial.gni
  tools/gypi_to_gn.py
  tools/license-builder.sh
  unofficial.gni
Labels: lib / src, needs-ci

#49891 watch: fix null `fileName` on windows systems
  lib/internal/watch_mode/files_watcher.js
Labels: needs-ci

#51180 trace_events: use private fields instead of symbols for `Tracing`
  lib/trace_events.js
  test/parallel/test-util-inspect.js
Labels: semver-major, trace_events, needs-ci

#51294 tools: fix dep_updaters dir updates
  tools/dep_updaters/update-c-ares.sh
  tools/dep_updaters/update-nghttp3.sh
  tools/dep_updaters/update-ngtcp2.sh
  tools/dep_updaters/update-uvwasi.sh
  tools/dep_updaters/utils.sh
Labels: tools, author ready

#51296 src: add fast api for Histogram
  benchmark/perf_hooks/histogram-record.js
  src/histogram.cc
  src/histogram.h
  src/node_external_reference.h
Labels: c++, author ready

#50790 test: replace foreach with for of
  test/parallel/test-stream2-transform.js
Labels: test, code-and-learn, needs-ci, commit-queue-squash

#51155 src,stream: Improve WriteString
  src/stream_base.cc
  src/stream_base.h
  src/stream_wrap.h
Labels: c++, author ready, needs-ci, commit-queue-squash

#51305 watch: clarify that the fileName parameter can be null
  lib/internal/watch_mode/files_watcher.js
Labels: doc, fs, author ready, needs-ci

#51271 Fix VScode "Reopen in Container"
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: author ready
