Repository nodejs/node, pull requests merged in 2023-02, with the labels that each got.

#46407 test: add trailing commas in `test/internet`
  test/.eslintrc.yaml
  test/internet/test-corepack-yarn-install.js
  test/internet/test-dgram-broadcast-multi-process.js
  test/internet/test-dgram-membership.js
  test/internet/test-dgram-multicast-multi-process.js
  test/internet/test-dgram-multicast-set-interface-lo.js
  test/internet/test-dgram-multicast-ssm-multi-process.js
  test/internet/test-dgram-multicast-ssmv6-multi-process.js
  test/internet/test-dns-any.js
  test/internet/test-dns-idna2008.js
  test/internet/test-dns-ipv4.js
  test/internet/test-dns-ipv6.js
  test/internet/test-dns-lookup.js
  test/internet/test-dns-promises-resolve.js
  test/internet/test-dns.js
  test/internet/test-http-dns-fail.js
  test/internet/test-tls-add-ca-cert.js
  test/internet/test-trace-events-dns.js
Labels: test, author ready

#46408 test: add trailing commas in `test/known_issues`
  test/.eslintrc.yaml
  test/known_issues/test-dgram-bind-shared-ports-after-port-0.js
  test/known_issues/test-http-path-contains-unicode.js
  test/known_issues/test-repl-require-context.js
  test/known_issues/test-stdin-is-always-net.socket.js
  test/known_issues/test-url-parse-conformance.js
  test/known_issues/test-vm-ownkeys.js
  test/known_issues/test-vm-ownpropertynames.js
  test/known_issues/test-vm-ownpropertysymbols.js
  test/known_issues/test-vm-timeout-escape-nexttick.js
  test/known_issues/test-vm-timeout-escape-queuemicrotask.js
Labels: test, needs-ci

#46426 benchmark: add trailing commas in `benchmark/fs`
  benchmark/.eslintrc.yaml
  benchmark/fs/bench-opendir.js
  benchmark/fs/bench-readdir.js
  benchmark/fs/bench-readdirSync.js
  benchmark/fs/bench-stat-promise.js
  benchmark/fs/bench-stat.js
  benchmark/fs/bench-statSync-failure.js
  benchmark/fs/bench-statSync.js
  benchmark/fs/read-stream-throughput.js
  benchmark/fs/readFileSync.js
  benchmark/fs/readfile-partitioned.js
  benchmark/fs/readfile-promises.js
  benchmark/fs/readfile.js
  benchmark/fs/write-stream-throughput.js
  benchmark/fs/writefile-promises.js
Labels: fs, benchmark

#46429 test: make more crypto tests work with BoringSSL
  test/parallel/test-tls-cert-chains-concat.js
  test/parallel/test-tls-cert-chains-in-ca.js
  test/parallel/test-tls-empty-sni-context.js
  test/parallel/test-tls-set-ciphers-error.js
Labels: test, author ready, needs-ci

#46424 benchmark: add trailing commas in `benchmark/async_hooks`
  benchmark/.eslintrc.yaml
  benchmark/async_hooks/async-local-storage-run.js
  benchmark/async_hooks/async-resource-vs-destroy.js
  benchmark/async_hooks/gc-tracking.js
  benchmark/async_hooks/http-server.js
  benchmark/async_hooks/promises.js
Labels: benchmark, async_hooks

#46441 test_runner: top-level diagnostics not ommited when running with --test
  lib/internal/test_runner/runner.js
  test/message/test_runner_output_cli.out
  test/message/test_runner_output_spec_reporter.out
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#46436 doc: add note about major release rotation
  doc/contributing/releases.md
Labels: doc

#46389 stream: dont access Object.prototype.type during TransformStream init
  lib/internal/webstreams/transformstream.js
  test/parallel/test-whatwg-transformstream.js
Labels: author ready, needs-ci, web streams, commit-queue-squash

#46388 doc: fix -C flag usage
  doc/api/cli.md
Labels: doc, cli

#46403 stream: add suport for abort signal in finished() for webstreams
  lib/internal/streams/end-of-stream.js
  test/parallel/test-webstreams-finished.js
Labels: needs-ci, commit-queue-squash

#46307 stream: add pipeline() for webstreams
  doc/api/stream.md
  lib/internal/streams/pipeline.js
  lib/internal/streams/utils.js
  lib/stream/promises.js
  test/parallel/test-webstreams-pipeline.js
Labels: stream, author ready, web streams, commit-queue-squash

#46450 test_runner: fix missing test diagnostics
  lib/internal/test_runner/runner.js
  test/message/test_runner_output_cli.out
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#46432 async_hooks: deprecate the AsyncResource.bind asyncResource property
  doc/api/async_context.md
  doc/api/deprecations.md
  lib/async_hooks.js
Labels: semver-major, async_hooks, author ready, commit-queue-failed

#46460 tools: update ESLint custom rules to not use the deprecated format
  tools/eslint-rules/lowercase-name-for-primitive.js
  tools/eslint-rules/prefer-assert-methods.js
  tools/eslint-rules/prefer-common-mustnotcall.js
  tools/eslint-rules/require-common-first.js
  tools/eslint-rules/required-modules.js
Labels: tools, author ready

#46438 benchmark: add trailing commas in `benchmark/util`
  benchmark/.eslintrc.yaml
  benchmark/util/format.js
  benchmark/util/inspect-array.js
  benchmark/util/inspect-proxy.js
  benchmark/util/inspect.js
  benchmark/util/normalize-encoding.js
  benchmark/util/priority-queue.js
  benchmark/util/text-decoder.js
  benchmark/util/text-encoder.js
  benchmark/util/type-check.js
Labels: util, benchmark, author ready, commit-queue-failed

#46439 benchmark: add trailing commas in `benchmark/net`
  benchmark/.eslintrc.yaml
  benchmark/net/net-c2s.js
  benchmark/net/net-pipe.js
  benchmark/net/net-s2c.js
  benchmark/net/net-wrap-js-stream-passthrough.js
  benchmark/net/tcp-raw-c2s.js
  benchmark/net/tcp-raw-pipe.js
  benchmark/net/tcp-raw-s2c.js
Labels: net, benchmark, author ready, commit-queue-failed

#46461 benchmark: add trailing commas in `benchmark/module`
  benchmark/.eslintrc.yaml
  benchmark/module/module-loader-circular.js
  benchmark/module/module-loader-deep.js
  benchmark/module/module-loader.js
  benchmark/module/module-require.js
Labels: module, benchmark, author ready, commit-queue-failed

#46423 doc: fix wrong location of `requestTimeout`'s default value
  doc/api/http.md
Labels: http, doc, author ready

#46368 src: allow embedder control of code generation policy
  src/api/environment.cc
  src/node.h
Labels: c++, semver-minor, embedding, author ready, needs-ci

#46463 src: back snapshot I/O with a std::vector sink
  src/node_snapshotable.cc
Labels: c++, author ready, needs-ci, commit-queue-squash

#46385 test: add trailing commas in `test/js-native-api`
  test/.eslintrc.yaml
  test/js-native-api/test_array/test.js
  test/js-native-api/test_bigint/test.js
  test/js-native-api/test_constructor/test.js
  test/js-native-api/test_conversions/test.js
  test/js-native-api/test_error/test.js
  test/js-native-api/test_exception/test.js
  test/js-native-api/test_function/test.js
  test/js-native-api/test_general/testEnvCleanup.js
  test/js-native-api/test_general/testInstanceOf.js
  test/js-native-api/test_object/test.js
  test/js-native-api/test_object/test_null.js
Labels: test, node-api, author ready

#45772 lib: refactor to use `validateInteger`
  lib/internal/histogram.js
  test/sequential/test-performance-eventloopdelay.js
Labels: semver-major, needs-ci, commit-queue-squash

#46414 async_hooks: add async local storage propagation benchmarks
  benchmark/async_hooks/async-local-storage-getstore-nested-resources.js
  benchmark/async_hooks/async-local-storage-getstore-nested-run.js
  benchmark/async_hooks/async-local-storage-propagate-asyncresource.js
  benchmark/async_hooks/async-local-storage-propagate-promise.js
Labels: benchmark, async_hooks

#46458 vm: properly support symbols on globals
  src/node_contextify.cc
  test/parallel/test-vm-global-symbol.js
Labels: c++, vm, author ready, needs-ci, commit-queue-squash

#46473 benchmark: add trailing commas in `benchmark/buffers`
  benchmark/.eslintrc.yaml
  benchmark/buffers/buffer-base64-decode.js
  benchmark/buffers/buffer-base64-encode.js
  benchmark/buffers/buffer-bytelength.js
  benchmark/buffers/buffer-compare-instance-method.js
  benchmark/buffers/buffer-compare-offset.js
  benchmark/buffers/buffer-compare.js
  benchmark/buffers/buffer-concat-fill.js
  benchmark/buffers/buffer-concat.js
  benchmark/buffers/buffer-copy.js
  benchmark/buffers/buffer-creation.js
  benchmark/buffers/buffer-equals.js
  benchmark/buffers/buffer-fill.js
  benchmark/buffers/buffer-from.js
  benchmark/buffers/buffer-hex.js
  benchmark/buffers/buffer-indexof-number.js
  benchmark/buffers/buffer-indexof.js
  benchmark/buffers/buffer-iterate.js
  benchmark/buffers/buffer-normalize-encoding.js
  benchmark/buffers/buffer-read-float.js
  benchmark/buffers/buffer-read-with-byteLength.js
  benchmark/buffers/buffer-read.js
  benchmark/buffers/buffer-slice.js
  benchmark/buffers/buffer-swap.js
  benchmark/buffers/buffer-tojson.js
  benchmark/buffers/buffer-tostring.js
  benchmark/buffers/buffer-write-string.js
  benchmark/buffers/buffer-write.js
  benchmark/buffers/buffer-zero.js
  benchmark/buffers/dataview-set.js
Labels: buffer, benchmark, author ready

#46474 benchmark: add trailing commas in `benchmark/misc`
  benchmark/.eslintrc.yaml
  benchmark/misc/arguments.js
  benchmark/misc/freelist.js
  benchmark/misc/getstringwidth.js
  benchmark/misc/hidestackframes.js
  benchmark/misc/object-property-bench.js
  benchmark/misc/print.js
  benchmark/misc/punycode.js
  benchmark/misc/trace.js
  benchmark/misc/util-extend-vs-object-assign.js
Labels: benchmark, author ready

#46499 timers: cleanup no-longer relevant TODOs in timers/promises
  lib/timers/promises.js
Labels: timers, fast-track, author ready, needs-ci

#46481 benchmark: add trailing commas in `benchmark/process`
  benchmark/.eslintrc.yaml
  benchmark/process/bench-env.js
  benchmark/process/bench-hrtime.js
  benchmark/process/coverage.js
  benchmark/process/memoryUsage.js
  benchmark/process/next-tick-breadth-args.js
  benchmark/process/next-tick-breadth.js
  benchmark/process/next-tick-depth-args.js
  benchmark/process/next-tick-depth.js
  benchmark/process/next-tick-exec-args.js
  benchmark/process/next-tick-exec.js
  benchmark/process/queue-microtask-breadth.js
  benchmark/process/queue-microtask-depth.js
  benchmark/process/resourceUsage.js
Labels: benchmark, process, author ready

#46485 url: remove unused `setURLConstructor` function
  lib/internal/url.js
  src/node_url.cc
Labels: c++, url, whatwg-url, author ready

#46486 url: remove unused `URL::toObject`
  src/node_url.cc
  src/node_url.h
Labels: c++, whatwg-url, author ready

#46487 url: remove unused `URL::ToFilePath()`
  src/node_url.cc
  src/node_url.h
  test/cctest/test_url.cc
Labels: c++, whatwg-url, author ready

#46430 stream: validate readable defaultEncoding
  lib/internal/streams/readable.js
  test/parallel/test-stream-readable-default-encoding.js
Labels: semver-major, author ready, needs-ci, commit-queue-squash

#44347 doc: enrich test commands with executable
  BUILDING.md
Labels: doc, build, author ready, commit-queue-squash

#46495 src: check return value of ftell()
  src/node_snapshotable.cc
Labels: c++, fast-track, author ready, needs-ci

#46489 lib: refactor to use `validateBuffer`
  lib/internal/http2/core.js
  lib/internal/tls/secure-context.js
  lib/vm.js
Labels: tls, vm, http2, author ready, needs-ci

#46492 src: make edge names in BaseObjects more descriptive in heap snapshots
  src/memory_tracker-inl.h
  test/pummel/test-heapdump-dns.js
  test/pummel/test-heapdump-fs-promise.js
  test/pummel/test-heapdump-http2.js
  test/pummel/test-heapdump-inspector.js
  test/pummel/test-heapdump-tls.js
  test/pummel/test-heapdump-zlib.js
Labels: c++, needs-ci

#46056 test: fix tap parser fails if a test logs a number
  lib/internal/test_runner/tap_parser.js
  test/parallel/test-runner-tap-parser-stream.js
  test/parallel/test-runner-tap-parser.js
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#46491 src: allow blobs in addition to `FILE*`s in embedder snapshot API
  src/api/embed_helpers.cc
  src/env.h
  src/node.cc
  src/node.h
  src/node_snapshotable.cc
  src/util.cc
  src/util.h
  test/embedding/embedtest.cc
  test/embedding/test-embedding.js
Labels: c++, semver-minor, embedding, author ready, needs-ci, commit-queue-squash

#46494 lib: add aborted() utility function
  doc/api/util.md
  lib/internal/abort_controller.js
  lib/util.js
  test/parallel/test-aborted-util.js
Labels: util, semver-minor, experimental, author ready, needs-ci, commit-queue-squash

#46447 http: use v8::Array::New() with a prebuilt vector
  src/node_http_parser.cc
Labels: c++, http_parser, needs-ci, commit-queue-squash

#46520 stream: refactor to use `validateAbortSignal`
  lib/internal/abort_controller.js
  lib/internal/webstreams/readablestream.js
Labels: author ready, needs-ci, web streams

#46521 lib: tighten `AbortSignal.prototype.throwIfAborted` implementation
  lib/internal/abort_controller.js
  test/parallel/test-abortcontroller.js
Labels: author ready, needs-ci

#46527 lib: predeclare Event.isTrusted property descriptor
  lib/internal/event_target.js
Labels: performance, author ready, needs-ci

#46531 src: add fflush() to SnapshotData::ToFile()
  src/node_snapshotable.cc
Labels: c++, author ready, needs-ci

#46552 benchmark: add trailing commas in `benchmark/http2`
  benchmark/.eslintrc.yaml
  benchmark/http2/compat.js
  benchmark/http2/headers.js
  benchmark/http2/respond-with-fd.js
  benchmark/http2/simple.js
  benchmark/http2/write.js
Labels: benchmark, http2, author ready

#46551 benchmark: add trailing commas in `benchmark/url`
  benchmark/.eslintrc.yaml
  benchmark/url/legacy-vs-whatwg-url-get-prop.js
  benchmark/url/legacy-vs-whatwg-url-parse.js
  benchmark/url/legacy-vs-whatwg-url-searchparams-parse.js
  benchmark/url/legacy-vs-whatwg-url-searchparams-serialize.js
  benchmark/url/legacy-vs-whatwg-url-serialize.js
  benchmark/url/url-format.js
  benchmark/url/url-parse.js
  benchmark/url/url-resolve.js
  benchmark/url/url-searchparams-iteration.js
  benchmark/url/url-searchparams-read.js
  benchmark/url/url-searchparams-sort.js
  benchmark/url/usvstring.js
  benchmark/url/whatwg-url-idna.js
  benchmark/url/whatwg-url-properties.js
Labels: url, benchmark, author ready

#46553 benchmark: add trailing commas in `benchmark/crypto`
  benchmark/.eslintrc.yaml
  benchmark/crypto/aes-gcm-throughput.js
  benchmark/crypto/cipher-stream.js
  benchmark/crypto/get-ciphers.js
  benchmark/crypto/hash-stream-creation.js
  benchmark/crypto/hash-stream-throughput.js
  benchmark/crypto/hkdf.js
  benchmark/crypto/keygen.js
  benchmark/crypto/oneshot-sign-verify.js
  benchmark/crypto/randomInt.js
  benchmark/crypto/rsa-encrypt-decrypt-throughput.js
  benchmark/crypto/rsa-sign-verify-throughput.js
  benchmark/crypto/webcrypto-digest.js
Labels: crypto, benchmark, author ready

#46565 doc: fix test runner examples
  doc/api/test.md
Labels: doc, author ready, dont-land-on-v14.x, test_runner

#46609 benchmark: add trailing commas in `benchmark/http`
  benchmark/.eslintrc.yaml
  benchmark/http/bench-parser.js
  benchmark/http/check_invalid_header_char.js
  benchmark/http/chunked.js
  benchmark/http/client-request-body.js
  benchmark/http/cluster.js
  benchmark/http/create-clientrequest.js
  benchmark/http/end-vs-write-end.js
  benchmark/http/headers.js
  benchmark/http/http_server_for_chunky_client.js
  benchmark/http/incoming_headers.js
  benchmark/http/set-header.js
  benchmark/http/simple.js
  benchmark/http/upgrade.js
Labels: http, benchmark, author ready

#46610 test: add trailing commas in `test/pummel`
  test/.eslintrc.yaml
  test/pummel/test-crypto-timing-safe-equal-benchmarks.js
  test/pummel/test-dh-regr.js
  test/pummel/test-fs-readfile-tostring-fail.js
  test/pummel/test-fs-watch-file.js
  test/pummel/test-heapdump-dns.js
  test/pummel/test-heapdump-env.js
  test/pummel/test-heapdump-fs-promise.js
  test/pummel/test-heapdump-http2.js
  test/pummel/test-heapdump-inspector.js
  test/pummel/test-heapdump-tls.js
  test/pummel/test-heapdump-worker.js
  test/pummel/test-heapdump-zlib.js
  test/pummel/test-heapsnapshot-near-heap-limit-big.js
  test/pummel/test-heapsnapshot-near-heap-limit-bounded.js
  test/pummel/test-heapsnapshot-near-heap-limit-by-api.js
  test/pummel/test-heapsnapshot-near-heap-limit.js
  test/pummel/test-http-many-keep-alive-connections.js
  test/pummel/test-http-upload-timeout.js
  test/pummel/test-https-large-response.js
  test/pummel/test-https-no-reader.js
  test/pummel/test-keep-alive.js
  test/pummel/test-net-throttle.js
  test/pummel/test-policy-integrity-dep.js
  test/pummel/test-policy-integrity-parent-commonjs.js
  test/pummel/test-policy-integrity-parent-module.js
  test/pummel/test-policy-integrity-parent-no-package-json.js
  test/pummel/test-policy-integrity-worker-commonjs.js
  test/pummel/test-policy-integrity-worker-module.js
  test/pummel/test-policy-integrity-worker-no-package-json.js
  test/pummel/test-regress-GH-892.js
  test/pummel/test-tls-server-large-request.js
  test/pummel/test-tls-throttle.js
  test/pummel/test-vm-race.js
  test/pummel/test-webcrypto-derivebits-pbkdf2.js
  test/pummel/test-worker-take-heapsnapshot.js
Labels: test, author ready

#46584 http: add note about clientError event
  doc/api/http.md
Labels: http, doc, author ready

#46581 doc: remove unused functions from example of `streamConsumers.text`
  doc/api/webstreams.md
Labels: doc, author ready

#46628 benchmark: add trailing commas in `benchmark/path`
  benchmark/.eslintrc.yaml
  benchmark/path/basename-posix.js
  benchmark/path/basename-win32.js
  benchmark/path/dirname-posix.js
  benchmark/path/dirname-win32.js
  benchmark/path/extname-posix.js
  benchmark/path/extname-win32.js
  benchmark/path/format-posix.js
  benchmark/path/format-win32.js
  benchmark/path/isAbsolute-posix.js
  benchmark/path/isAbsolute-win32.js
  benchmark/path/join-posix.js
  benchmark/path/join-win32.js
  benchmark/path/makeLong-win32.js
  benchmark/path/normalize-posix.js
  benchmark/path/normalize-win32.js
  benchmark/path/parse-posix.js
  benchmark/path/parse-win32.js
  benchmark/path/relative-posix.js
  benchmark/path/relative-win32.js
  benchmark/path/resolve-posix.js
  benchmark/path/resolve-win32.js
Labels: path, benchmark, author ready

#46627 doc: add response.strictContentLength to documentation
  doc/api/http.md
Labels: http, doc, author ready, commit-queue-squash

#46655 lib: enforce use of trailing commas in more files
  lib/.eslintrc.yaml
  lib/internal/modules/helpers.js
  lib/internal/policy/sri.js
  lib/internal/readline/utils.js
  lib/internal/test/transfer.js
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/yaml_to_js.js
  lib/timers/promises.js
Labels: lib / src, author ready

#45371 lib: delete unused parameter calls of the cjs module loader findPath method
  lib/internal/modules/cjs/loader.js
Labels: lib / src, author ready, needs-ci

#46273 stream: add abort signal for ReadableStream and WritableStream
  doc/api/stream.md
  lib/internal/streams/add-abort-signal.js
  lib/internal/streams/utils.js
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/writablestream.js
  test/parallel/test-webstreams-abort-controller.js
Labels: semver-minor, needs-ci, web streams, commit-queue-squash

#46563 crypto: re-add padding for AES-KW wrapped JWKs
  lib/internal/crypto/webcrypto.js
  test/parallel/test-webcrypto-wrap-unwrap.js
Labels: crypto, author ready, needs-ci, dont-land-on-v14.x, webcrypto, dont-land-on-v16.x, dont-land-on-v18.x, dont-land-on-v19.x

#46544 test_runner: allow nesting test within describe
  lib/internal/test_runner/harness.js
  test/message/test_runner_describe_it.js
  test/message/test_runner_describe_it.out
  test/message/test_runner_output.js
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#46548 src: remove icu usage from node_string.cc
  src/inspector/node_string.cc
  src/inspector/node_string.h
Labels: c++, needs-ci

#46659 tools: fix bug in `prefer-primordials` lint rule
  test/parallel/test-eslint-prefer-primordials.js
  tools/eslint-rules/prefer-primordials.js
Labels: tools, author ready, needs-ci

#46583 src: allow optional Isolate termination in `node::Stop()`
  src/env.cc
  src/env.h
  src/node.cc
  src/node.h
Labels: c++, semver-minor, embedding, author ready, needs-ci

#46632 test: cover publicExponent validation in OpenSSL
  test/parallel/test-crypto-keygen.js
Labels: test, author ready, needs-ci

#46703 doc: move bcoe to emeriti
  README.md
Labels: doc, fast-track, author ready

#46618 test: fix assertions in test-snapshot-dns-lookup*
  test/internet/test-snapshot-dns-lookup.js
  test/parallel/test-snapshot-dns-lookup-localhost-promise.js
  test/parallel/test-snapshot-dns-lookup-localhost.js
Labels: test, author ready, needs-ci

#45038 src: add initial support for single executable applications
  configure.py
  doc/api/index.md
  doc/api/single-executable-applications.md
  doc/contributing/maintaining-single-executable-application-support.md
  lib/internal/main/single_executable_application.js
  node.gyp
  src/node.cc
  src/node_binding.cc
  src/node_external_reference.h
  src/node_options.cc
  src/node_sea.cc
  src/node_sea.h
  test/fixtures/sea.js
  test/parallel/test-single-executable-application.js
Labels: semver-minor, lib / src, notable-change, author ready, needs-ci, commit-queue-squash

#41023 lib: do not crash using workers with disabled shared array buffers
  benchmark/worker/atomics-wait.js
  lib/internal/main/worker_thread.js
  lib/internal/worker.js
  test/parallel/test-worker-no-atomics.js
  test/parallel/test-worker-no-sab.js
Labels: author ready, worker, needs-ci, commit-queue-failed

#46631 esm: misc test refactors
  test/es-module/test-esm-import-meta-resolve.mjs
  test/es-module/test-esm-initialization.mjs
  test/es-module/test-esm-loader-chaining.mjs
  test/es-module/test-esm-loader-event-loop.mjs
  test/es-module/test-esm-loader-spawn-promisified.mjs
  test/es-module/test-loaders-hidden-from-users.js
  test/es-module/test-loaders-unknown-builtin-module.mjs
  test/fixtures/es-module-loaders/hooks-custom.mjs
  test/parallel/test-loaders-this-value-inside-hook-functions.mjs
Labels: test, esm, author ready, loaders, commit-queue-squash

#46440 test_runner: flatten TAP output when running using `--test`
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  test/message/test_runner_abort.out
  test/message/test_runner_abort_suite.out
  test/message/test_runner_output_cli.out
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-extraneous-async-activity.js
  test/parallel/test-runner-reporters.js
  test/parallel/test-runner-run.mjs
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#45856 test: fix `test-net-happy-eyeballs` without IPv6 support
  test/parallel/test-net-autoselectfamily.js
  test/parallel/test-net-autoselectfamilydefault.js
Labels: test, needs-ci

#46686 stream: add trailing commas in stream source files
  lib/.eslintrc.yaml
  lib/internal/streams/buffer_list.js
  lib/internal/streams/destroy.js
  lib/internal/streams/duplex.js
  lib/internal/streams/duplexify.js
  lib/internal/streams/end-of-stream.js
  lib/internal/streams/from.js
  lib/internal/streams/lazy_transform.js
  lib/internal/streams/pipeline.js
  lib/internal/streams/readable.js
  lib/internal/streams/state.js
  lib/internal/streams/transform.js
  lib/internal/streams/writable.js
Labels: lib / src, author ready

#46685 stream: add trailing commas in webstream source files
  lib/.eslintrc.yaml
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transfer.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/util.js
  lib/internal/webstreams/writablestream.js
Labels: lib / src, author ready, web streams

#46687 lib: add trailing commas in `internal/process`
  lib/.eslintrc.yaml
  lib/internal/process/execution.js
  lib/internal/process/per_thread.js
  lib/internal/process/policy.js
  lib/internal/process/pre_execution.js
  lib/internal/process/promises.js
  lib/internal/process/report.js
  lib/internal/process/signal.js
  lib/internal/process/task_queues.js
  lib/internal/process/worker_thread_only.js
Labels: lib / src, author ready

#45736 [WIP] Non-ASCII character support
  lib/internal/test_runner/tap_lexer.js
  lib/internal/util/inspect.js
  test/parallel/test-runner-tap-lexer.js
Labels: needs-ci, dont-land-on-v14.x, test_runner

#46428 process: print versions by sort
  src/node_process_object.cc
  src/node_report.cc
  test/parallel/test-process-versions.js
Labels: c++, process, author ready, needs-ci, commit-queue-squash

#46651 test_runner: display skipped subtests in spec reporter output
  lib/internal/test_runner/reporter/spec.js
  test/message/test_runner_output_spec_reporter.out
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#46600 stream: fix pipeline callback not called on ended stream
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline.js
  test/parallel/test-webstreams-pipeline.js
Labels: stream, author ready, commit-queue-squash

#46695 cluster: add trailing commas in source files
  lib/.eslintrc.yaml
  lib/internal/cluster/child.js
  lib/internal/cluster/primary.js
  lib/internal/cluster/utils.js
Labels: cluster, author ready

#46696 fs: add trailing commas in source files
  lib/.eslintrc.yaml
  lib/fs.js
  lib/internal/fs/dir.js
  lib/internal/fs/promises.js
  lib/internal/fs/read_file_context.js
  lib/internal/fs/rimraf.js
  lib/internal/fs/streams.js
  lib/internal/fs/utils.js
  lib/internal/fs/watchers.js
Labels: lib / src, author ready

#46697 lib: add trailing commas in `internal/perf`
  lib/.eslintrc.yaml
  lib/internal/perf/event_loop_delay.js
  lib/internal/perf/nodetiming.js
  lib/internal/perf/observe.js
  lib/internal/perf/performance.js
  lib/internal/perf/performance_entry.js
  lib/internal/perf/resource_timing.js
  lib/internal/perf/timerify.js
  lib/internal/perf/utils.js
Labels: lib / src, author ready

#46598 os: improve network interface performance
  lib/os.js
Labels: os, author ready, needs-ci

#46707 test_runner: centralize CLI option handling
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
Labels: lib / src, author ready, test_runner

#46708 test: use newish OpenSSL feature in test-tls-dhe
  test/parallel/test-tls-dhe.js
Labels: tls, test, openssl, author ready, needs-ci

#46661 assert: remove deprecated getFunction() usage
  lib/assert.js
  test/parallel/test-assert.js
Labels: assert, author ready, needs-ci

#46646 deps: V8: cherry-pick 90be99fab31c
  common.gypi
  deps/v8/src/objects/js-date-time-format.cc
  deps/v8/test/mjsunit/mjsunit.status
  deps/v8/test/mjsunit/regress/regress-crbug-1414292.js
  deps/v8/test/test262/test262.status
  test/parallel/test-icu-env.js
  test/parallel/test-intl.js
Labels: build, v8 engine, needs-ci, lts-watch-v14.x, lts-watch-v16.x, commit-queue-squash, lts-watch-v18.x

#46723 src: use string_view for report and related code
  src/json_utils.cc
  src/json_utils.h
  src/node_api.cc
  src/node_errors.cc
  src/node_report.cc
  src/node_report_utils.cc
  src/util.h
Labels: c++, lib / src, author ready, needs-ci

#46540 test_runner: emit test-only diagnostic warning
  lib/internal/test_runner/test.js
  test/message/test_runner_output.out
  test/message/test_runner_output_cli.out
  test/message/test_runner_output_spec_reporter.out
Labels: needs-ci, dont-land-on-v14.x, test_runner

#46523 events: add listener argument to listenerCount
  doc/api/deprecations.md
  doc/api/events.md
  lib/events.js
  test/parallel/test-events-listener-count-with-listener.js
Labels: http, events, semver-minor, needs-ci, commit-queue-squash

#46528 http: unify header treatment
  lib/_http_outgoing.js
  test/parallel/test-http-server-non-utf8-header.js
Labels: http, needs-ci, commit-queue-squash

#46721 Revert "src: let http2 streams end after session close"
  src/node_http2.cc
  test/known_issues/test-http2-trailers-after-session-close.js
Labels: c++, http2, fast-track, needs-ci, lts-watch-v16.x, commit-queue-squash, lts-watch-v18.x

#46718 util,doc: mark parseArgs() as stable
  doc/api/util.md
Labels: util, doc, semver-major, author ready

#46619 src: add SetFastMethodNoSideEffect()
  src/node_process_methods.cc
  src/util.cc
  src/util.h
Labels: c++, author ready

#46698 tools: update-nghttp2 preserve config.h
  tools/update-nghttp2.sh
Labels: tools

#46671 tools: fix regex strings in Python tools
  tools/getsharedopensslhasquic.py
  tools/js2c.py
  tools/v8_gypfiles/GN-scraper.py
Labels: build, v8 engine, tools, python, author ready, needs-ci, commit-queue-squash

#46592 doc: clarify semver-minor notable changes approach
  doc/contributing/releases.md
Labels: doc

#46604 test_runner: add `describe.only` and `it.only` shorthands
  doc/api/test.md
  lib/internal/test_runner/harness.js
  test/message/test_runner_only_tests.js
  test/message/test_runner_only_tests.out
Labels: author ready, needs-ci, dont-land-on-v14.x, test_runner

#46556 src: per-realm binding data
  src/README.md
  src/base_object-inl.h
  src/dataqueue/queue.cc
  src/env-inl.h
  src/env.cc
  src/env.h
  src/node_blob.cc
  src/node_blob.h
  src/node_context_data.h
  src/node_file-inl.h
  src/node_file.cc
  src/node_file.h
  src/node_http2.cc
  src/node_http2_state.h
  src/node_http_parser.cc
  src/node_process.h
  src/node_process_methods.cc
  src/node_realm-inl.h
  src/node_realm.cc
  src/node_realm.h
  src/node_snapshotable.cc
  src/node_snapshotable.h
  src/node_stat_watcher.cc
  src/node_util.cc
  src/node_util.h
  src/node_v8.cc
  src/node_v8.h
Labels: c++, lib / src, realm

#46715 tls: add trailing commas in source files
  lib/.eslintrc.yaml
  lib/_tls_wrap.js
  lib/internal/tls/secure-pair.js
  lib/tls.js
Labels: tls, author ready, commit-queue-failed

#46714 debugger: add trailing commas in source files
  lib/.eslintrc.yaml
  lib/internal/debugger/inspect_client.js
  lib/internal/debugger/inspect_repl.js
Labels: author ready, commit-queue-failed, debugger

#46739 build,test: add proper support for IBM i
  Makefile
  common.gypi
  configure.py
  deps/cares/cares.gyp
  deps/uv/common.gypi
  deps/uv/uv.gyp
  node.gyp
  node.gypi
  test/addons/common.gypi
  test/addons/dlopen-ping-pong/binding.gyp
  test/addons/openssl-binding/binding.gyp
  test/addons/openssl-providers/binding.gyp
  test/addons/zlib-binding/binding.gyp
  tools/install.py
  tools/v8_gypfiles/d8.gyp
  tools/v8_gypfiles/toolchain.gypi
  tools/v8_gypfiles/v8.gyp
Labels: build, v8 engine, libuv, tools, cares, python, author ready, needs-ci, dependencies, ibm i

#46709 test: remove OpenSSL 1.0.2 error message compat
  test/parallel/test-tls-junk-server.js
  test/parallel/test-tls-no-sslv3.js
  test/parallel/test-tls-server-failed-handshake-emits-clienterror.js
  test/parallel/test-tls-socket-failed-handshake-emits-error.js
Labels: tls, test, openssl, author ready, needs-ci

#46740 tools: cleanup WPT refs in daily-wpt-fyi.yml
  .github/workflows/daily-wpt-fyi.yml
Labels: meta, author ready

#46746 deps: fix libuv for android
  deps/uv/uv.gyp
Labels: libuv, fast-track, author ready

#46636 deps: update nghttp2 to 1.52.0
  deps/nghttp2/lib/Makefile.in
  deps/nghttp2/lib/Makefile.msvc
  deps/nghttp2/lib/includes/Makefile.in
  deps/nghttp2/lib/includes/nghttp2/nghttp2ver.h
Labels: http2, author ready

#46617 doc: include context on .toWeb() parameters
  doc/api/stream.md
Labels: doc, stream, author ready, commit-queue-squash

#46752 doc: add test:coverage event to custom reporter examples
  doc/api/test.md
Labels: doc, author ready, dont-land-on-v14.x, test_runner

#46587 net: rework autoSelectFamily implementation
  doc/api/net.md
  lib/_tls_wrap.js
  lib/internal/net.js
  lib/net.js
  test/parallel/test-http-autoselectfamily.js
  test/parallel/test-http2-ping-settings-heapdump.js
  test/parallel/test-https-autoselectfamily.js
  test/parallel/test-net-autoselectfamily-commandline-option.js
  test/parallel/test-net-autoselectfamily-ipv4first.js
  test/parallel/test-net-autoselectfamily.js
  test/parallel/test-net-dns-custom-lookup.js
  test/parallel/test-net-dns-lookup.js
  test/parallel/test-net-options-lookup.js
  test/parallel/test-net-server-reset.js
  test/parallel/test-net-socket-connect-invalid-autoselectfamilyattempttimeout.js
  test/parallel/test-tls-autoselectfamily-servername.js
Labels: c++, net, needs-ci, commit-queue-squash

#46466 http: fix validation of "Link" header
  lib/internal/validators.js
  test/parallel/test-http-early-hints-invalid-argument.js
  test/parallel/test-http-early-hints.js
Labels: author ready, commit-queue-squash

#46601 http: correctly calculate strict content length
  lib/_http_outgoing.js
  test/parallel/test-http-content-length-mismatch.js
Labels: http, author ready, commit-queue-squash

#46680 benchmark: fix worker startup benchmark
  benchmark/misc/startup.js
Labels: benchmark, performance

#46546 test: fix IPv6 checks on IBM i
  test/common/index.js
  test/parallel/test-net-autoselectfamily.js
  test/parallel/test-net-autoselectfamilydefault.js
Labels: test, needs-ci, ibm i, commit-queue-squash

#46787 doc: add document for profiling and heap snapshot
  doc/api/debugger.md
Labels: doc, fast-track, debugger

#46482 doc: document how to use the tls.DEFAULT_CIPHERS
  doc/api/tls.md
Labels: tls, doc, commit-queue-squash, lts-watch-v18.x

#46150 test: include strace openat test
  .github/workflows/test-asan.yml
  test/common/index.js
  test/parallel/test-strace-openat-openssl.js
Labels: test, needs-ci

#46633 node-api: add __wasm32__ guards on async works
  src/node_api.h
Labels: c++, node-api, needs-ci

#46757 repl: add trailing commas in source files
  lib/.eslintrc.yaml
  lib/internal/repl.js
  lib/internal/repl/await.js
  lib/internal/repl/utils.js
  lib/repl.js
Labels: repl, author ready

#46758 child_process: add trailing commas in source files
  lib/.eslintrc.yaml
  lib/child_process.js
  lib/internal/child_process.js
Labels: child_process, author ready

#46759 events: add trailing commas in source files
  lib/.eslintrc.yaml
  lib/events.js
  lib/internal/event_target.js
Labels: events, author ready

#46751 test: improve control flow in test-tls-dhe
  test/parallel/test-tls-dhe.js
Labels: tls, test, author ready, needs-ci

#46694 tools: run format-cpp on node-api test c files
  Makefile
Labels: build, needs-ci

#46735 test: fix test-v8-collect-gc-profile-in-worker.js
  test/parallel/test-v8-collect-gc-profile-in-worker.js
Labels: test, author ready, needs-ci

#46465 stream: fix respondWithNewView() errors when view.byteOffset != 0
  lib/internal/webstreams/readablestream.js
  test/parallel/test-whatwg-readablestream.js
Labels: author ready, needs-ci, web streams

#46720 test_runner: better handle async bootstrap errors
  lib/internal/errors.js
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/utils.js
  test/parallel/test-runner-reporters.js
Labels: lib / src, author ready, commit-queue-squash, test_runner

#46775 meta: update CODEOWNERS of url implementations
  .github/CODEOWNERS
Labels: meta, author ready

#46736 url: simplify and improve url formatting
  lib/internal/url.js
  lib/url.js
  src/node_url.cc
  test/parallel/test-whatwg-url-custom-inspect.js
Labels: c++, url, whatwg-url, needs-ci, review wanted

#46816 doc: add marco-ippolito to collaborators
  README.md
Labels: doc, notable-change, fast-track

#46770 dgram: fix unhandled exception aborting a closed udp socket
  lib/dgram.js
  test/parallel/test-dgram-abort-closed.js
Labels: dgram, author ready, needs-ci

#46807 test: remove unreachable return
  test/abort/test-abort-fatal-error.js
Labels: test, fast-track, needs-ci

#46793 meta: remove unnecessary onboarding step
  onboarding.md
Labels: doc, author ready

#46794 test: stop faking performance idlharness
  test/common/wpt.js
  test/wpt/status/hr-time.json
  test/wpt/test-hr-time.js
  test/wpt/test-performance-timeline.js
  test/wpt/test-user-timing.js
Labels: test, author ready, needs-ci

#46795 test: isolate hr-time specific wpt global init
  test/common/wpt.js
  test/wpt/test-hr-time.js
Labels: test, author ready, needs-ci

#46796 test: remove useless require('../common') from WPTs
  test/wpt/.eslintrc.yaml
  test/wpt/README.md
  test/wpt/test-abort.js
  test/wpt/test-atob.js
  test/wpt/test-blob.js
  test/wpt/test-broadcastchannel.js
  test/wpt/test-console.js
  test/wpt/test-domexception.js
  test/wpt/test-encoding.js
  test/wpt/test-events.js
  test/wpt/test-file.js
  test/wpt/test-hr-time.js
  test/wpt/test-microtask-queuing.js
  test/wpt/test-performance-timeline.js
  test/wpt/test-resource-timing.js
  test/wpt/test-streams.js
  test/wpt/test-structured-clone.js
  test/wpt/test-timers.js
  test/wpt/test-url.js
  test/wpt/test-user-timing.js
  test/wpt/test-wasm-webapi.js
Labels: test, author ready, needs-ci

#46799 lib: fix DOMException property descriptors after being lazy loaded
  lib/internal/bootstrap/browser.js
  test/common/wpt.js
  test/wpt/test-domexception.js
Labels: author ready, needs-ci, commit-queue-squash

#46801 test: remove useless WPT init scripts
  test/wpt/test-blob.js
  test/wpt/test-broadcastchannel.js
  test/wpt/test-encoding.js
Labels: test, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x

#46802 test: update encoding WPTs
  test/fixtures/wpt/README.md
  test/fixtures/wpt/encoding/streams/invalid-realm.window.js
  test/fixtures/wpt/versions.json
  test/wpt/status/encoding.json
Labels: test, author ready, needs-ci

#46803 tools: upload daily WPT Report to both staging and production
  .github/workflows/daily-wpt-fyi.yml
Labels: meta, author ready

#46804 test: fix WPT title when no META title is present
  test/common/wpt.js
Labels: test, author ready, needs-ci

#46805 test: simplify test-tls-alert
  test/parallel/test-tls-alert.js
Labels: tls, test, author ready, needs-ci

#46806 build: warn for gcc versions earlier than 10.1
  BUILDING.md
  configure.py
Labels: doc, semver-major, build, needs-ci

#46781 test: fix test-net-connect-reset-until-connected
  test/parallel/parallel.status
  test/parallel/test-net-connect-reset-until-connected.js
Labels: test, needs-ci, lts-watch-v16.x, lts-watch-v18.x

#46835 lib,src: fix a few typos in comments
  lib/_http_client.js
  lib/_tls_wrap.js
  lib/events.js
  src/base_object.h
  src/dataqueue/queue.h
  src/node_contextify.cc
Labels: lib / src, fast-track, author ready, needs-ci

#46779 benchmark: add benchmark for EventTarget add and remove
  benchmark/events/eventtarget-add-remove.js
Labels: events, benchmark, author ready

#46811 lib: add trailing commas to more internal files
  lib/.eslintrc.yaml
  lib/_http_agent.js
  lib/_http_client.js
  lib/_http_common.js
  lib/_http_incoming.js
  lib/_http_outgoing.js
  lib/_http_server.js
  lib/internal/abort_controller.js
  lib/internal/async_hooks.js
  lib/internal/blob.js
  lib/internal/blocklist.js
  lib/internal/buffer.js
  lib/internal/constants.js
  lib/internal/dgram.js
  lib/internal/encoding.js
  lib/internal/error_serdes.js
  lib/internal/errors.js
  lib/internal/file.js
  lib/internal/freeze_intrinsics.js
  lib/internal/histogram.js
  lib/internal/inspector_async_hook.js
  lib/internal/linkedlist.js
  lib/internal/net.js
  lib/internal/options.js
  lib/internal/per_context/domexception.js
  lib/internal/per_context/primordials.js
  lib/internal/promise_hooks.js
  lib/internal/querystring.js
  lib/internal/socket_list.js
  lib/internal/socketaddress.js
  lib/internal/source_map/source_map.js
  lib/internal/source_map/source_map_cache.js
  lib/internal/stream_base_commons.js
  lib/internal/timers.js
  lib/internal/trace_events_async_hooks.js
  lib/internal/tty.js
  lib/internal/url.js
  lib/internal/util.js
  lib/internal/v8_prof_polyfill.js
  lib/internal/validators.js
  lib/internal/wasm_web_api.js
  lib/internal/watchdog.js
  lib/internal/worker.js
Labels: lib / src, author ready

#46838 test: fix os-release check for Ubuntu in SEA test
  test/parallel/test-single-executable-application.js
Labels: test, fast-track, author ready, needs-ci

#46818 stream: always delay construct callback by a nextTick
  lib/internal/streams/destroy.js
  test/parallel/test-stream2-transform.js
Labels: author ready, needs-ci, commit-queue-squash

#45841 lib,src: update exit codes
  lib/internal/debugger/inspect.js
  lib/internal/main/repl.js
  src/node.cc
  test/parallel/test-snapshot-basic.js
  test/parallel/test-snapshot-error.js
  test/parallel/test-snapshot-incompatible.js
  test/sequential/test-debugger-invalid-args.js
Labels: c++, semver-major, author ready, needs-ci, commit-queue-failed, debugger, commit-queue-squash

#46822 tools: fix linter message when using global `DOMException`
  lib/.eslintrc.yaml
Labels: author ready

#46760 assert: fix exception message for assert(0) on try catch block
  lib/assert.js
  test/parallel/test-assert.js
Labels: assert, author ready, needs-ci, commit-queue-squash

#46663 lib: rename internal module declaration as internal bindings
  lib/internal/bootstrap/loaders.js
Labels: author ready, needs-ci

#46675 stream: enable usage of webstreams on compose()
  doc/api/stream.md
  lib/internal/streams/compose.js
  lib/internal/streams/pipeline.js
  test/parallel/test-webstreams-compose.js
Labels: stream, web streams, commit-queue-squash
