Repository nodejs/node, pull requests merged in 2023-10, with the labels that each got.

#49959 esm: improve JSDoc annotation of internal functions
  lib/internal/modules/run_main.js
  lib/internal/process/pre_execution.js
Labels: fast-track, typings, commit-queue-squash

#49767 doc: updated building docs for windows
  BUILDING.md
  tools/bootstrap/windows_boxstarter
Labels: doc, build, tools, commit-queue-squash

#49965 esm: improve `getFormatOfExtensionlessFile` perf.
  lib/internal/modules/esm/formats.js
  src/node_constants.cc
  src/node_constants.h
  src/node_file.cc
  typings/internalBinding/constants.d.ts
  typings/internalBinding/fs.d.ts
Labels: c++, lib / src, performance, author ready, needs-ci

#49961 doc: update link to Abstract Modules Records spec
  doc/api/vm.md
Labels: doc, vm, fast-track

#49966 stream: avoid tick in writable hot path
  lib/internal/streams/writable.js
Labels: author ready, needs-ci

#50005 doc: update Collaborator pronouns
  README.md
Labels: doc, fast-track

#49979 nghttp3_conv: fix call to undeclared functions 'ntohl' and 'htons'
  deps/ngtcp2/ngtcp2.gyp
Labels: build, needs-ci

#49928 lib: reduce overhead of validateObject
  benchmark/validators/validate-object.js
  lib/fs.js
  lib/internal/abort_controller.js
  lib/internal/encoding.js
  lib/internal/event_target.js
  lib/internal/fs/promises.js
  lib/internal/util/inspect.js
  lib/internal/validators.js
  lib/internal/vm.js
  lib/internal/webstreams/readablestream.js
  test/benchmark/test-benchmark-validators.js
  test/parallel/test-validators.js
Labels: lib / src, performance, author ready, needs-ci

#50020 doc: reserve 119 for Electron 28
  doc/abi_version_registry.json
Labels: doc, fast-track

#49999 test_runner: add test location for FileTests
  lib/internal/test_runner/runner.js
  test/parallel/test-runner-filetest-location.js
Labels: author ready, test_runner

#49898 fs: improve error performance for `fdatasyncSync`
  benchmark/fs/bench_fdatasyncSync.js
  lib/fs.js
  src/node_file.cc
  typings/internalBinding/fs.d.ts
Labels: c++, lib / src, performance, author ready, needs-ci, needs-benchmark-ci, commit-queue-squash

#50008 perf_hooks: reducing overhead of performance observer entry list
  benchmark/perf_hooks/performance-observer.js
  lib/internal/perf/observe.js
Labels: author ready, needs-ci

#50010 src: name scoped lock
  src/node_messaging.cc
Labels: c++, author ready, needs-ci

#50012 perf: optimize Writable
  lib/internal/streams/writable.js
Labels: stream, notable-change, author ready, needs-ci

#50009 fs: add flush option to writeFile() functions
  doc/api/fs.md
  lib/fs.js
  lib/internal/fs/promises.js
  test/parallel/test-fs-write-file-flush.js
Labels: fs, notable-change, author ready, commit-queue-squash

#49980 tls: handle cases where the raw socket is destroyed
  lib/_tls_wrap.js
  test/parallel/test-tls-socket-close.js
Labels: tls, needs-ci

#49635 src: fix TLSWrap lifetime bug in ALPN callback
  src/crypto/crypto_tls.cc
Labels: tls, crypto, c++, needs-ci, lts-watch-v18.x

#49950 vm: use default host-defined options when importModuleDynamically is not set
  benchmark/vm/compile-script-in-isolate-cache.js
  lib/internal/modules/esm/utils.js
  lib/vm.js
  src/env_properties.h
  src/node_contextify.cc
  test/parallel/test-vm-no-dynamic-import-callback.js
Labels: c++, lib / src, performance, needs-ci, needs-benchmark-ci, commit-queue-squash

#49914 perf_hooks: reduce overhead of new user timings
  lib/internal/perf/performance_entry.js
  lib/internal/perf/usertiming.js
Labels: performance, author ready, needs-ci

#49037 node-api: update headers for better wasm support
  src/js_native_api.h
  src/node_api.h
Labels: c++, node-api, needs-ci, commit-queue-squash

#49986 esm: bypass CommonJS loader under `--default-type=module`
  doc/api/cli.md
  lib/internal/main/run_main_module.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/run_main.js
  lib/internal/process/pre_execution.js
  test/es-module/test-esm-type-flag-cli-entry.mjs
  test/fixtures/es-modules/package-without-type/file#1.js
Labels: module, process, cli, esm, author ready, needs-ci, commit-queue-squash

#50013 stream: lazy allocate back pressure buffer
  lib/internal/streams/writable.js
Labels: author ready, needs-ci

#50034 crypto: account for disabled `SharedArrayBuffer`
  lib/internal/crypto/webidl.js
Labels: crypto, author ready, needs-ci

#49973 tls: use `validateNumber` for `options.minDHSize`
  lib/_tls_wrap.js
  test/parallel/test-tls-client-mindhsize.js
Labels: tls, semver-major, author ready, needs-ci

#38733 http: refactor to make servername option normalization testable
  lib/_http_agent.js
Labels: http, author ready, needs-ci

#39020 docs: explained what node keyword does in terminal
  doc/api/synopsis.md
Labels: doc, author ready

#49799 test: change forEach to for...of
  test/parallel/test-assert.js
Labels: test, code-and-learn, author ready, needs-ci, commit-queue-squash

#49831 test: replace forEach() in test-net-perf_hooks with for of
  test/parallel/test-net-perf_hooks.js
Labels: test, code-and-learn, author ready, needs-ci

#49855 lib: fix compileFunction throws range error for negative numbers
  lib/internal/vm.js
  test/es-module/test-vm-compile-function-lineoffset.js
Labels: vm, author ready, needs-ci

#49935 test_runner: disallow array in `run` options
  lib/internal/test_runner/runner.js
  test/parallel/test-runner-run.mjs
Labels: semver-major, author ready, needs-ci, commit-queue-squash, test_runner

#50047 lib: let deps require `node` prefixed modules
  lib/internal/bootstrap/realm.js
Labels: lib / src, author ready, needs-ci

#49825 test: replace forEach with for..of in test-process-env-ignore
  test/parallel/test-process-env-ignore-getter-setter.js
Labels: test, code-and-learn, needs-ci, commit-queue-squash

#50028 doc: use precise terminology in test runner
  doc/api/test.md
Labels: doc, test_runner

#50029 doc: use precise promise terminology in fs
  doc/api/fs.md
Labels: doc, fs

#47839 src: throw DOMException on cloning non-serializable objects
  doc/api/errors.md
  src/env_properties.h
  src/node_errors.h
  src/node_messaging.cc
  test/parallel/test-whatwg-webstreams-transfer.js
  test/parallel/test-worker-message-port-transfer-filehandle.js
  test/parallel/test-worker-workerdata-messageport.js
Labels: c++, semver-major, author ready, needs-ci

#49889 util: lazy parse mime parameters
  benchmark/mime/mimetype-instantiation.js
  benchmark/mime/mimetype-to-string.js
  benchmark/mime/parse-type-and-subtype.js
  benchmark/mime/to-ascii-lower.js
  lib/internal/mime.js
  test/benchmark/test-benchmark-mime.js
  test/parallel/test-mime-api.js
Labels: performance, author ready, needs-ci, commit-queue-squash

#49720 vm: freeze `dependencySpecifiers` array
  lib/internal/vm/module.js
Labels: vm, semver-major, needs-ci

#49996 test_runner, cli: add --test-concurrency flag
  doc/api/cli.md
  doc/api/test.md
  doc/node.1
  lib/internal/main/test_runner.js
  src/node_options.cc
  src/node_options.h
  test/parallel/test-runner-cli-concurrency.js
Labels: c++, semver-minor, commit-queue-failed

#50067 doc: add command to get patch minors and majors
  doc/contributing/releases.md
Labels: doc, author ready

#50068 doc: move permission model to Active Development
  doc/api/cli.md
  doc/api/permissions.md
Labels: doc

#50072 doc: mention files read before env setup
  doc/api/permissions.md
Labels: doc, author ready

#48749 src: generate snapshot with --predictable
  src/node.cc
  src/node.h
  tools/snapshot/node_mksnapshot.cc
Labels: c++, needs-ci

#49824 test: replace forEach with for..of in test-parse-args.mjs
  test/parallel/test-parse-args.mjs
Labels: test, code-and-learn, needs-ci, commit-queue-squash

#50057 crypto: use X509_ALGOR accessors instead of reaching into X509_ALGOR
  src/crypto/crypto_rsa.cc
Labels: crypto, c++, needs-ci

#49051 build: drop support for Visual Studio 2019
  .github/workflows/build-windows.yml
  BUILDING.md
  vcbuild.bat
Labels: doc, windows, semver-major, build, meta, tools, needs-ci

#50026 src: avoid making JSTransferable wrapper object weak
  src/node_messaging.cc
  src/node_messaging.h
  test/pummel/test-structuredclone-jstransferable.js
Labels: c++, needs-ci

#50032 fs: improve error performance for `ftruncateSync`
  benchmark/fs/bench-ftruncateSync.js
  lib/fs.js
  src/node_file.cc
Labels: c++, fs, performance, author ready, needs-ci

#50108 test: fix flaky test-runner-cli-concurrency.js
  lib/internal/main/test_runner.js
  test/parallel/test-runner-cli-concurrency.js
Labels: test, needs-ci

#50038 fs: improve error performance of writevSync
  benchmark/fs/bench-writevSync.js
  lib/fs.js
  src/node_file.cc
Labels: c++, fs, author ready, needs-ci, review wanted, needs-benchmark-ci

#50104 test: reduce number of repetition in test-heapdump-shadowrealm.js
  test/pummel/test-heapdump-shadow-realm.js
Labels: test, needs-ci

#50153 deps: update undici to v5.26.3
  deps/undici/src/docs/api/Client.md
  deps/undici/src/lib/client.js
  deps/undici/src/lib/compat/dispatcher-weakref.js
  deps/undici/src/lib/core/request.js
  deps/undici/src/lib/fetch/index.js
  deps/undici/src/package.json
  deps/undici/src/scripts/esbuild-build.mjs
  deps/undici/src/types/agent.d.ts
  deps/undici/src/types/client.d.ts
  deps/undici/src/types/connector.d.ts
  deps/undici/undici.js
  doc/contributing/maintaining/maintaining-dependencies.md
  src/undici_version.h
  tools/dep_updaters/update-undici.sh
Labels: lib / src, fast-track, needs-ci

#50118 tools: remove no-return-await lint rule
  .eslintrc.js
Labels: tools, author ready

#50107 stream: reduce overhead of transfer
  benchmark/webstreams/js_transfer.js
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/writablestream.js
Labels: c++, lib / src, author ready, needs-ci

#50128 test: add EOVERFLOW as an allowed error
  test/parallel/test-fs-read-promises-position-validation.mjs
Labels: test, needs-ci

#50165 tools: fix update-acorn.sh and undici_version.h path
  src/undici_version.h
  tools/dep_updaters/update-acorn.sh
Labels: tools, fast-track, author ready

#50147 meta: ping TSC for offboarding
  .github/workflows/find-inactive-collaborators.yml
Labels: meta, author ready

#50140 esm: use import attributes instead of import assertions
  .eslintignore
  .eslintrc.js
  doc/api/errors.md
  doc/api/esm.md
  doc/api/module.md
  lib/internal/errors.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/assert.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/modules/esm/module_map.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/esm/utils.js
  lib/internal/process/execution.js
  lib/repl.js
  src/module_wrap.cc
  src/module_wrap.h
  src/node.cc
  test/es-module/test-esm-assertionless-json-import.js
  test/es-module/test-esm-data-urls.js
  test/es-module/test-esm-dynamic-import-attribute.js
  test/es-module/test-esm-dynamic-import-attribute.mjs
  test/es-module/test-esm-import-assertion-2.mjs
  test/es-module/test-esm-import-assertion-validation.js
  test/es-module/test-esm-import-assertion-warning.mjs
  test/es-module/test-esm-import-attributes-1.mjs
  test/es-module/test-esm-import-attributes-2.mjs
  test/es-module/test-esm-import-attributes-3.mjs
  test/es-module/test-esm-import-attributes-errors.js
  test/es-module/test-esm-import-attributes-errors.mjs
  test/es-module/test-esm-import-attributes-validation.js
  test/es-module/test-esm-json-cache.mjs
  test/es-module/test-esm-json.mjs
  test/es-module/test-esm-virtual-json.mjs
  test/fixtures/es-module-loaders/assertionless-json-import.mjs
  test/fixtures/es-module-loaders/builtin-named-exports-loader.mjs
  test/fixtures/es-module-loaders/hooks-custom.mjs
  test/fixtures/es-module-loaders/hooks-input.mjs
  test/fixtures/es-module-loaders/loader-invalid-format.mjs
  test/fixtures/es-module-loaders/loader-invalid-url.mjs
  test/fixtures/es-module-loaders/loader-with-dep.mjs
  test/fixtures/es-module-loaders/not-found-assert-loader.mjs
  test/fixtures/es-module-loaders/string-sources.mjs
  test/fixtures/es-modules/import-json-named-export.mjs
  test/fixtures/es-modules/json-modules.mjs
  test/parallel/test-vm-module-dynamic-import.js
  tools/dep_updaters/update-eslint.sh
  tools/node_modules/eslint/node_modules/@babel/plugin-syntax-import-assertions/lib/index.js
  tools/node_modules/eslint/node_modules/@babel/plugin-syntax-import-attributes/LICENSE
  tools/node_modules/eslint/node_modules/@babel/plugin-syntax-import-attributes/lib/index.js
  tools/node_modules/eslint/node_modules/@babel/plugin-syntax-import-attributes/package.json
  tools/node_modules/eslint/node_modules/caniuse-lite/data/features/css-display-contents.js
  tools/node_modules/eslint/node_modules/caniuse-lite/package.json
  tools/node_modules/eslint/node_modules/electron-to-chromium/full-chromium-versions.js
  tools/node_modules/eslint/node_modules/electron-to-chromium/full-chromium-versions.json
  tools/node_modules/eslint/node_modules/electron-to-chromium/full-versions.js
  tools/node_modules/eslint/node_modules/electron-to-chromium/full-versions.json
  tools/node_modules/eslint/node_modules/electron-to-chromium/package.json
Labels: lib / src, notable-change, experimental, author ready, needs-ci, commit-queue-squash, lts-watch-v18.x, backport-requested-v20.x

#50123 typings: Use `Symbol.dispose` and `Symbol.asyncDispose` in types
  typings/primordials.d.ts
Labels: author ready, typings

#50131 fs: improve error performance of `readdirSync`
  lib/fs.js
  src/node_file.cc
  test/parallel/test-fs-readdir-types.js
  test/parallel/test-repl-underscore.js
  typings/internalBinding/fs.d.ts
Labels: c++, fs, author ready, needs-ci, review wanted, typings

#50073 benchmark: add warmup to accessSync bench
  benchmark/fs/bench-accessSync.js
Labels: fs, benchmark, author ready

#49993 streams: use private symbol for bitmap state
  lib/internal/streams/readable.js
  lib/internal/streams/writable.js
Labels: stream, needs-ci, needs-benchmark-ci

#50037 os: improve performance of hostname and homedir
  benchmark/os/homedir.js
  benchmark/os/hostname.js
  benchmark/os/uptime.js
  lib/os.js
Labels: os, author ready, needs-ci

#50035 benchmark: fix race condition on fs benchs
  benchmark/fs/readfile-partitioned.js
  benchmark/fs/readfile-permission-enabled.js
  benchmark/fs/readfile-promises.js
  benchmark/fs/readfile.js
  benchmark/fs/writefile-promises.js
Labels: fs, benchmark

#50133 doc: improve ccache explanation
  BUILDING.md
Labels: doc, build, author ready

#50167 http: reduce parts in chunked response when corking
  lib/_http_outgoing.js
Labels: http, semver-major, notable-change, author ready, needs-ci, review wanted, needs-benchmark-ci, commit-queue-squash

#50011 tools: refactor checkimports.py
  tools/checkimports.py
Labels: tools, author ready

#50156 deps: V8: cherry-pick 25902244ad1a
  common.gypi
  deps/v8/src/execution/isolate.cc
  deps/v8/test/cctest/test-api.cc
Labels: build, v8 engine, author ready, needs-ci

#50173 stream: improve readable stream read perf
  lib/internal/streams/readable.js
Labels: stream, performance, notable-change, author ready, needs-ci, needs-benchmark-ci

#50175 tools: update comment in `update-uncidi.sh` and `acorn_version.h`
  src/acorn_version.h
  tools/dep_updaters/update-undici.sh
Labels: c++, tools, author ready, commit-queue-failed

#50124 test: fix defect path traversal tests
  test/fixtures/permission/fs-traversal.js
  test/parallel/test-permission-fs-traversal-path.js
Labels: test, security, author ready, needs-ci, permission

#50172 doc: add loong64 to list of architectures
  doc/api/os.md
  doc/api/process.md
Labels: doc

#50102 doc: add command to keep major branch sync
  doc/contributing/releases.md
Labels: doc

#50179 doc: update release-stewards with last sec-release
  doc/contributing/security-release-process.md
Labels: doc

#50110 lib: reduce overhead of blob clone
  benchmark/blob/clone.js
  lib/internal/blob.js
  test/parallel/test-blob.js
Labels: c++, author ready, needs-ci, commit-queue-squash

#50114 deps: patch V8 to 11.8.172.15
  deps/v8/include/v8-version.h
  deps/v8/src/compiler/js-call-reducer.cc
  deps/v8/src/ic/ic.cc
  deps/v8/test/mjsunit/compiler/regress-crbug-1486342.js
Labels: v8 engine, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#49870 2023-10-17, Version 21.0.0 (Current)
  CHANGELOG.md
  doc/abi_version_registry.json
  doc/api/cli.md
  doc/api/deprecations.md
  doc/api/errors.md
  doc/api/esm.md
  doc/api/fs.md
  doc/api/globals.md
  doc/api/module.md
  doc/api/n-api.md
  doc/api/net.md
  doc/api/webstreams.md
  doc/api/worker_threads.md
  doc/changelogs/CHANGELOG_ARCHIVE.md
  doc/changelogs/CHANGELOG_IOJS.md
  doc/changelogs/CHANGELOG_V010.md
  doc/changelogs/CHANGELOG_V012.md
  doc/changelogs/CHANGELOG_V10.md
  doc/changelogs/CHANGELOG_V11.md
  doc/changelogs/CHANGELOG_V12.md
  doc/changelogs/CHANGELOG_V13.md
  doc/changelogs/CHANGELOG_V14.md
  doc/changelogs/CHANGELOG_V15.md
  doc/changelogs/CHANGELOG_V16.md
  doc/changelogs/CHANGELOG_V17.md
  doc/changelogs/CHANGELOG_V18.md
  doc/changelogs/CHANGELOG_V19.md
  doc/changelogs/CHANGELOG_V20.md
  doc/changelogs/CHANGELOG_V21.md
  doc/changelogs/CHANGELOG_V4.md
  doc/changelogs/CHANGELOG_V5.md
  doc/changelogs/CHANGELOG_V6.md
  doc/changelogs/CHANGELOG_V7.md
  doc/changelogs/CHANGELOG_V8.md
  doc/changelogs/CHANGELOG_V9.md
  src/node_version.h
Labels: needs-ci, release, v21.x

#49963 stream: readable bimap
  lib/internal/streams/readable.js
Labels: needs-ci

#50218 doc: fix H4ad collaborator sort
  README.md
Labels: doc, fast-track, author ready

#50211 doc: fix typo in dgram docs
  doc/api/dgram.md
Labels: dgram, doc, fast-track

#50095 fs: add flush option to appendFile() functions
  doc/api/fs.md
  test/parallel/test-fs-append-file-flush.js
Labels: author ready

#50223 test: set sea snapshot tests as flaky
  test/sequential/sequential.status
Labels: test, fast-track, author ready, needs-ci

#50181 esm: rename error code related to import attributes
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/modules/esm/assert.js
  test/es-module/test-esm-import-attributes-errors.js
  test/es-module/test-esm-import-attributes-errors.mjs
  test/es-module/test-esm-import-attributes-validation.js
Labels: errors, experimental, esm, author ready, needs-ci, needs-citgm, dont-land-on-v18.x, dont-land-on-v20.x

#50127 esm: improve check for ESM syntax
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/helpers.js
  src/node_contextify.cc
  src/node_contextify.h
Labels: module, lib / src, esm, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#50221 test: set `test-runner-watch-mode` as flaky
  test/parallel/parallel.status
Labels: test, flaky-test, fast-track, needs-ci

#50227 test: set parallel http server test as flaky
  test/parallel/parallel.status
Labels: test, flaky-test, fast-track, author ready, needs-ci

#50111 doc: add ReflectConstruct to known perf issues
  doc/contributing/primordials.md
Labels: doc, author ready, commit-queue-squash

#50136 Reduce TLS 'close' event listener warnings caused by autoSelectFamily
  lib/_tls_wrap.js
  test/parallel/test-tls-reinitialize-listeners.js
Labels: tls, needs-ci, commit-queue-squash

#50252 test: set inspector async hook test as flaky
  test/parallel/parallel.status
Labels: test, flaky-test, fast-track, author ready, needs-ci

#50226 test: set `test-esm-loader-resolve-type` as flaky
  test/es-module/es-module.status
Labels: test, flaky-test, esm, fast-track, author ready, needs-ci

#50053 test: improve code coverage of diagnostics_channel
  test/parallel/test-diagnostics-channel-tracing-channel-args-types.js
Labels: test, author ready, needs-ci, review wanted, diagnostics_channel

#50251 test: fix `test-loaders-workers-spawned` flakiness
  test/es-module/test-loaders-workers-spawned.mjs
Labels: test, flaky-test, esm, fast-track, needs-ci

#50261 test: set `test-structuredclone-*` as flaky
  test/pummel/pummel.status
Labels: flaky-test, fast-track

#50297 meta: move Trott to TSC regular member
  README.md
Labels: doc, fast-track

#50232 test: set crypto-timing test as flaky
  test/pummel/pummel.status
Labels: test, flaky-test, author ready, needs-ci

#50216 doc: fix release process table of contents
  doc/contributing/releases.md
Labels: doc, author ready

#50240 test: reduce the number of requests and parsers
  test/sequential/test-http-regr-gh-2928.js
Labels: test, author ready, needs-ci

#50246 test: set `test-emit-after-on-destroyed` as flaky
  test/async-hooks/async-hooks.status
Labels: test, async_hooks, flaky-test, fast-track, author ready, needs-ci

#50234 crypto: ensure valid point on elliptic curve in SubtleCrypto.importKey
  lib/internal/crypto/ec.js
  src/crypto/crypto_keys.cc
  src/crypto/crypto_keys.h
  test/parallel/test-webcrypto-export-import-ec.js
Labels: crypto, c++, lib / src, author ready, needs-ci, webcrypto

#50200 lib: add `navigator.userAgent`
  doc/api/globals.md
  lib/internal/navigator.js
  test/parallel/test-navigator.js
Labels: semver-minor, notable-change, experimental, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#50264 test: update `url` web platform tests
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/failure.html
  test/fixtures/wpt/url/resources/a-element-origin.js
  test/fixtures/wpt/url/resources/a-element.js
  test/fixtures/wpt/url/resources/setters_tests.json
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/url/url-statics-canparse.any.js
  test/fixtures/wpt/url/urlsearchparams-delete.any.js
  test/fixtures/wpt/url/urlsearchparams-has.any.js
  test/fixtures/wpt/versions.json
Labels: test, needs-ci

#49847 fs: improve error performance for `mkdirSync`
  benchmark/fs/bench-mkdirSync.js
  lib/fs.js
  src/node_file.cc
  typings/internalBinding/fs.d.ts
Labels: c++, fs, performance, author ready, needs-ci

#49880 fs: improve error performance for `fsyncSync`
  benchmark/fs/bench-fsyncSync.js
  lib/fs.js
  src/node_file.cc
  typings/internalBinding/fs.d.ts
Labels: c++, fs, performance, needs-ci, commit-queue-squash

#50033 fs: improve error performance for `readSync`
  benchmark/fs/bench-readSync.js
  lib/fs.js
  src/node_file.cc
  typings/internalBinding/fs.d.ts
Labels: c++, fs, author ready, needs-ci, typings, commit-queue-squash

#50201 util: remove internal mime fns from benchmarks
  benchmark/mime/parse-type-and-subtype.js
  benchmark/mime/to-ascii-lower.js
  lib/internal/mime.js
  test/parallel/test-mime-api.js
Labels: author ready, needs-ci

#49820 test: replace forEach with for..of in test-http2-client-destroy.js
  test/parallel/test-http2-client-destroy.js
Labels: test, code-and-learn, needs-ci, commit-queue-squash

#50273 test: deflake `test-esm-loader-resolve-type`
  test/fixtures/es-module-loaders/hook-resolve-type-loader.mjs
  test/fixtures/es-module-loaders/hook-resolve-type.mjs
Labels: test, esm, author ready, needs-ci

#49822 test: replace forEach with for..of in test-net-isipv4.js
  test/parallel/test-net-isipv4.js
Labels: test, code-and-learn, needs-ci, commit-queue-squash

#50291 tools: drop support for osx notarization with gon
  tools/osx-notarize.sh
Labels: macos, tools, lts-watch-v18.x, lts-watch-v20.x

#50315 Revert "test: set `test-esm-loader-resolve-type` as flaky"
  test/es-module/es-module.status
Labels: test, esm, fast-track, author ready, needs-ci

#50299 doc: update release process LTS step
  doc/contributing/releases.md
Labels: doc, author ready

#50086 doc: add loong64 info into platform list
  BUILDING.md
Labels: doc, build, loong64

#50204 stream: simplify prefinish
  lib/internal/streams/writable.js
Labels: author ready, needs-ci

#50259 test: set `test-watch-mode-inspect` as flaky
  test/sequential/sequential.status
Labels: test, flaky-test, fast-track, author ready, needs-ci

#49756 lib: improve performance of validateStringArray and validateBooleanArray
  benchmark/validators/parse-file-mode.js
  benchmark/validators/validate-array.js
  benchmark/validators/validate-boolean.js
  benchmark/validators/validate-encoding.js
  benchmark/validators/validate-one-of.js
  benchmark/validators/validate-x-array.js
  lib/internal/validators.js
  test/benchmark/test-benchmark-validators.js
Labels: performance, author ready, needs-ci, needs-benchmark-ci

#49150 worker: handle detached `MessagePort` from a different context
  src/node_messaging.cc
  test/parallel/test-worker-workerdata-messageport.js
Labels: c++, worker, needs-ci

#50310 doc: explain how to disable `navigator`
  doc/api/globals.md
Labels: doc, experimental, author ready, dont-land-on-v18.x, dont-land-on-v20.x

#50203 stream: avoid getter for defaultEncoding
  lib/internal/streams/writable.js
Labels: author ready, needs-ci

#50302 deps: V8: cherry-pick f7d000a7ae7b
  common.gypi
  deps/v8/AUTHORS
  deps/v8/src/diagnostics/perf-jit.cc
  deps/v8/src/logging/log.cc
Labels: build, v8 engine, author ready, needs-ci

#50314 esm: do not give wrong hints when detecting file format
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/load.js
  test/es-module/test-esm-detect-ambiguous.mjs
Labels: esm, author ready, needs-ci, commit-queue-squash

#50309 meta: mention other notable changes section
  .github/workflows/comment-labeled.yml
Labels: meta

#50278 doc: fix hardwareConcurrency example
  doc/api/globals.md
Labels: doc, experimental, author ready

#50158 src: add commit hash shorthand in zlib version
  src/node_metadata.cc
  src/zlib_version.h
  tools/dep_updaters/update-zlib.sh
Labels: c++, tools, author ready, needs-ci

#50185 fs: do not throw error on cpSync internals
  lib/internal/fs/cp/cp-sync.js
Labels: fs, author ready, needs-ci, review wanted

#50141 vm: use import attributes instead of import assertions
  doc/api/vm.md
  lib/internal/vm/module.js
  test/parallel/test-vm-module-link.js
Labels: vm, experimental, author ready, needs-ci, lts-watch-v18.x, backport-requested-v20.x

#50318 test: ensure never settling promises are detected
  test/.eslintrc.yaml
  test/es-module/test-esm-cjs-named-error.mjs
  test/internet/test-dns-lookup.js
  test/parallel/test-blob.js
  test/parallel/test-crypto-webcrypto-aes-decrypt-tag-too-small.js
  test/parallel/test-directory-import.js
  test/parallel/test-dns-lookup.js
  test/parallel/test-dns-lookupService-promises.js
  test/parallel/test-dns-lookupService.js
  test/parallel/test-dns-resolve-promises.js
  test/parallel/test-event-emitter-error-monitor.js
  test/parallel/test-file-validate-mode-flag.js
  test/parallel/test-filehandle-close.js
  test/parallel/test-fs-filehandle-use-after-close.js
  test/parallel/test-fs-lchmod.js
  test/parallel/test-fs-open.js
  test/parallel/test-fs-promises-readfile.js
  test/parallel/test-fs-promises-watch.js
  test/parallel/test-fs-promises.js
  test/parallel/test-fs-read-empty-buffer.js
  test/parallel/test-stream-consumers.js
  test/parallel/test-stream-readable-destroy.js
  test/parallel/test-stream-reduce.js
  test/parallel/test-vm-module-cached-data.js
  test/parallel/test-vm-timeout-escape-promise-module.js
  test/parallel/test-webcrypto-export-import-cfrg.js
  test/parallel/test-webcrypto-export-import-rsa.js
  test/parallel/test-webstream-readablestream-pipeto.js
  test/parallel/test-whatwg-readablebytestream.js
  test/parallel/test-whatwg-readablestream.js
  test/parallel/test-whatwg-webstreams-adapters-to-readablestream.js
  test/parallel/test-whatwg-webstreams-adapters-to-readablewritablepair.js
  test/parallel/test-whatwg-webstreams-adapters-to-streamreadable.js
  test/parallel/test-whatwg-webstreams-adapters-to-streamwritable.js
  test/parallel/test-whatwg-webstreams-adapters-to-writablestream.js
  test/parallel/test-whatwg-webstreams-transfer.js
  test/parallel/test-whatwg-writablestream.js
  test/parallel/test-worker-message-port-transfer-filehandle.js
  test/sequential/test-vm-timeout-escape-promise-module-2.js
  test/wasi/test-wasi-not-started.js
Labels: test, esm, author ready, needs-ci

#50319 test: improve watch mode test
  test/sequential/test-watch-mode.mjs
Labels: test, author ready, needs-ci, commit-queue-squash

#49770 benchmark: Rename permission-fs-read.js to permission-processhas-fs-read.js
  benchmark/permission/permission-processhas-fs-read.js
Labels: benchmark, code-and-learn, author ready, permission

#50351 benchmark: add more cases to Readable.from
  benchmark/streams/readable-from.js
Labels: stream, benchmark, fast-track

#50198 stream: refactor writable _write
  lib/internal/streams/writable.js
  test/parallel/test-stream-uint8array.js
Labels: author ready, needs-ci

#50298 v20.9.0 proposal
  CHANGELOG.md
  doc/changelogs/CHANGELOG_V20.md
  src/node_version.h
  test/parallel/test-process-release.js
Labels: meta, needs-ci, v20.x

#50288 src: use find instead of char-by-char in FromFilePath()
  src/node_url.cc
  src/node_url.h
Labels: c++, whatwg-url, author ready, needs-ci, commit-queue-squash

#50375 src: fix node_version.h
  src/node_version.h
Labels: fast-track, author ready, needs-ci

#48462 build: fix building when there is only python3
  configure.py
  node.gyp
  tools/gyp/pylib/gyp/generator/msvs.py
  tools/v8_gypfiles/toolchain.gypi
Labels: v8 engine, tools, needs-ci, commit-queue-failed, commit-queue-squash

#50331 test_runner: Fix mock timer promisified setInterval return value
  lib/internal/test_runner/mock/mock_timers.js
  test/parallel/test-runner-mock-timers.js
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#50337 streams: optimize creation
  lib/internal/streams/duplex.js
  lib/internal/streams/readable.js
  lib/internal/streams/utils.js
  lib/internal/streams/writable.js
Labels: stream, author ready, needs-ci

#50372 doc: fixed 7.1 anchor in releases.md's toc
  doc/contributing/releases.md
Labels: doc, fast-track, author ready

#50341 streams: use Array for Readable buffer
  benchmark/streams/readable-bigread.js
  benchmark/streams/readable-readall.js
  lib/internal/streams/buffer_list.js
  lib/internal/streams/readable.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-stream-buffer-list.js
  test/parallel/test-stream2-readable-from-list.js
Labels: notable-change, author ready, needs-ci

#50330 src: implement structuredClone in native
  benchmark/misc/structured-clone.js
  lib/.eslintrc.yaml
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  lib/internal/perf/usertiming.js
  lib/internal/structured_clone.js
  lib/internal/webstreams/readablestream.js
  src/node_messaging.cc
  test/parallel/test-structuredClone-global.js
Labels: c++, lib / src, needs-ci, commit-queue-squash

#50349 tools: run coverage CI only on relevant files
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
Labels: meta, author ready

#50350 stream: readable use bitmap accessors
  lib/internal/streams/readable.js
Labels: stream, performance, author ready, needs-ci, needs-benchmark-ci

#50352 test: v8: Add test-linux-perf-logger test suite
  test/fixtures/linux-perf-logger.js
  test/v8-updates/test-linux-perf-logger.js
Labels: test, author ready, needs-ci, commit-queue-squash

#49849 fs: add stacktrace to fs/promises
  lib/internal/fs/promises.js
  test/parallel/test-fs-access.js
  test/parallel/test-fs-promises-readfile.js
  test/parallel/test-fs-promises.js
Labels: fs, notable-change, author ready, needs-ci, needs-benchmark-ci, commit-queue-squash

#50357 stream: avoid calls to listenerCount
  lib/internal/streams/readable.js
Labels: stream, performance, author ready, needs-ci

#50371 test: fix vm assertion actual and expected order
  test/parallel/test-vm-module-dynamic-import.js
Labels: test, fast-track, author ready, needs-ci

#50359 stream: improve `Readable#from` perf
  lib/internal/streams/from.js
Labels: stream, performance, author ready, needs-ci

#50361 test_runner: output errors of suites
  lib/internal/test_runner/reporter/spec.js
  test/fixtures/test-runner/output/hooks_spec_reporter.js
  test/fixtures/test-runner/output/hooks_spec_reporter.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, test_runner

#50388 doc: update notable changes in v21.1.0
  doc/changelogs/CHANGELOG_V21.md
Labels: fast-track, release, commit-queue-squash

#50414 Revert "tools: update doc dependencies"
  tools/doc/package-lock.json
  tools/doc/package.json
Labels: doc, tools, fast-track, author ready

#50426 doc: fix typo in webstreams.md
  doc/api/webstreams.md
Labels: doc, fast-track, author ready

#50395 test: fix crypto-dh error message for OpenSSL 3.x
  test/parallel/test-crypto-dh.js
Labels: crypto, test, openssl, author ready, needs-ci
