Repository nodejs/node, pull requests merged in 2023-03, with the labels that each got.

#46672 src: remove shadowed variable in `OptionsParser::Parse`
  src/node_options-inl.h
Labels: c++, author ready

#46863 test: move socket from CWD to temporary directory
  test/parallel/test-fs-cp.mjs
Labels: test, author ready, needs-ci

#46859 test: fix test file path in `test-permission-deny-fs-symlink-target-write.js`
  test/parallel/test-permission-deny-fs-symlink-target-write.js
Labels: test, author ready, needs-ci, commit-queue-squash

#46864 lib: fix `BroadcastChannel` initialization location
  lib/internal/bootstrap/browser.js
  lib/internal/bootstrap/node.js
Labels: embedding, author ready

#46860 test: update web-platform tests for url
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/failure.html
  test/fixtures/wpt/url/resources/setters_tests.json
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/url/urlsearchparams-size.any.js
  test/fixtures/wpt/versions.json
Labels: test, author ready, needs-ci

#46891 tools: ensure daily wpt nightly node version can be installed
  .github/workflows/daily-wpt-fyi.yml
Labels: meta, fast-track, author ready

#46742 repl: fix .load infinite loop caused by shared use of lineEnding RegExp
  lib/internal/readline/interface.js
  test/parallel/test-readline-interface-recursive-writes.js
Labels: readline, repl, author ready, needs-ci, commit-queue-squash

#46897 doc: fix stream iterator helpers examples
  doc/api/stream.md
Labels: doc, stream, fast-track

#46870 url: remove unnecessary call to `FunctionPrototypeBind`
  lib/internal/url.js
Labels: whatwg-url, author ready, needs-ci

#46872 test_runner: fix reconstruction of errors extracted from YAML
  lib/internal/test_runner/reporter/tap.js
  lib/internal/test_runner/yaml_to_js.js
  test/message/test_runner_abort.out
  test/message/test_runner_abort_suite.out
  test/message/test_runner_describe_it.out
  test/message/test_runner_output.out
  test/message/test_runner_output_cli.out
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#46536 test: assume priv ports start at 1024 if it can't be changed
  test/parallel/test-cluster-bind-privileged-port.js
Labels: test, author ready, needs-ci, commit-queue-squash

#46488 tools: refactor `tools/deps_updater`
  .github/workflows/tools.yml
  tools/dep_updaters/update-eslint.sh
  tools/dep_updaters/update-libuv.sh
  tools/dep_updaters/update-postject.sh
  tools/dep_updaters/update-simdutf.sh
Labels: meta, tools, author ready, commit-queue-squash

#46420 Fix Visual Studio installation detection for Arm64
  tools/msvs/vswhere_usability_wrapper.cmd
  vcbuild.bat
Labels: windows, install, build, tools, needs-ci

#46884 url: set `formatUrl` method as no side effect
  src/node_url.cc
Labels: c++, whatwg-url, author ready, needs-ci

#46909 src: fix missing trailing ,
  node.gyp
Labels: build, fast-track, needs-ci

#46890 test: move testPath from CWD to temporary directory
  test/parallel/test-fs-assert-encoding-error.js
Labels: test, author ready, needs-ci

#46901 esm: add a runtime warning when using import assertions
  lib/internal/modules/esm/assert.js
  test/es-module/test-esm-import-assertion-errors.js
  test/es-module/test-esm-import-assertion-errors.mjs
  test/es-module/test-esm-import-assertion-validation.js
  test/es-module/test-esm-import-assertion-warning.mjs
  test/es-module/test-esm-json.mjs
Labels: experimental, esm, author ready, needs-ci, dont-land-on-v14.x, lts-watch-v16.x, lts-watch-v18.x

#46904 url: use private properties for brand check
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/hooks.js
  lib/internal/url.js
  lib/internal/worker.js
  test/parallel/test-whatwg-url-custom-inspect.js
  test/parallel/test-whatwg-url-invalidthis.js
Labels: semver-major, performance, whatwg-url, esm, author ready, worker, needs-ci

#46907 doc: fix fs missing import
  doc/api/async_hooks.md
Labels: doc, async_hooks, author ready

#46953 doc: fix links to SSL_CTX_set_options
  doc/api/crypto.md
Labels: crypto, doc, openssl, fast-track, author ready

#46922 doc: add release key for Juan Arboleda
  README.md
Labels: fast-track

#46911 test: simplify test-tls-ecdh-auto
  test/parallel/test-tls-ecdh-auto.js
Labels: tls, test, author ready, needs-ci

#46938 doc: use number which is bigger than 1024 as port in http2
  doc/api/http2.md
Labels: doc, http2, author ready

#46940 doc: fix port of destination server is not defined in http2
  doc/api/http2.md
Labels: doc, http2, author ready

#46949 doc: fix description of TLS dhparam option
  doc/api/tls.md
Labels: tls, doc, author ready

#46954 doc: remove useless SSL_OP_* options
  doc/api/crypto.md
Labels: tls, crypto, doc, openssl, author ready

#46910 test: improve test coverage of lib/dns
  test/parallel/test-dns.js
Labels: test, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#46971 esm: fix import assertion warning
  lib/internal/modules/esm/assert.js
  test/es-module/test-esm-import-assertion-errors.js
  test/es-module/test-esm-import-assertion-errors.mjs
  test/es-module/test-esm-import-assertion-validation.js
  test/es-module/test-esm-import-assertion-warning.mjs
Labels: experimental, esm, fast-track, author ready, needs-ci

#46961 test_runner: remove root tracking set
  lib/internal/test_runner/harness.js
Labels: author ready, dont-land-on-v14.x, commit-queue, test_runner

#47003 src: remove unused `v8::Uint32Array` from encoding
  src/encoding_binding.cc
Labels: c++, fast-track, author ready, needs-ci

#46769 http: use listenerCount when adding noop event
  lib/_http_server.js
  test/parallel/test-http-socket-error-listeners.js
Labels: http, needs-ci, commit-queue-squash

#46968 doc: fix myUrl is not defined in url
  doc/api/url.md
Labels: doc, url, author ready

#46984 doc: diagnostics_channel added in v14.17.0
  doc/api/diagnostics_channel.md
Labels: doc, fast-track, commit-queue-failed, diagnostics_channel

#46970 typings: improve `primordials` typings
  lib/internal/per_context/primordials.js
  typings/primordials.d.ts
Labels: author ready, needs-ci, typings

#46977 test: add coverage for custom loader hooks with permission model
  test/es-module/test-esm-loader-hooks.mjs
Labels: test, esm, author ready, needs-ci

#46982 doc: add missing test runner flags to man page
  doc/node.1
Labels: doc, author ready

#46983 test_runner: mark module as stable
  doc/api/cli.md
  doc/api/test.md
Labels: doc, semver-major, author ready, commit-queue, test_runner

#46956 src: remove TLSEXT_TYPE_alpn guard
  src/node_constants.cc
Labels: crypto, c++, openssl, author ready, needs-ci, commit-queue

#47010 test,crypto: update WebCryptoAPI WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/encrypt_decrypt/aes_gcm.https.any.js
  test/fixtures/wpt/WebCryptoAPI/encrypt_decrypt/aes_gcm_256_iv.https.any.js
  test/fixtures/wpt/WebCryptoAPI/encrypt_decrypt/aes_gcm_256_iv_fixtures.js
  test/fixtures/wpt/WebCryptoAPI/encrypt_decrypt/aes_gcm_96_iv_fixtures.js
  test/fixtures/wpt/WebCryptoAPI/encrypt_decrypt/aes_gcm_vectors.js
  test/fixtures/wpt/WebCryptoAPI/sign_verify/ecdsa_vectors.js
  test/fixtures/wpt/WebCryptoAPI/wrapKey_unwrapKey/wrapKey_unwrapKey.https.any.js
  test/fixtures/wpt/versions.json
Labels: crypto, test, author ready, needs-ci, webcrypto

#47004 meta: add single-executable labels and code owners
  .github/CODEOWNERS
  .github/label-pr-config.yml
Labels: meta, author ready, commit-queue-squash, single-executable

#47012 net: fix setting of value in 'setDefaultAutoSelectFamilyAttemptTimeout'
  doc/api/net.md
  lib/net.js
  test/parallel/test-net-socket-connect-invalid-autoselectfamilyattempttimeout.js
Labels: net, author ready, needs-ci

#47015 doc: fix typo on esm loaders example
  doc/api/esm.md
Labels: doc, esm, author ready, commit-queue-squash

#46993 tools: automate cares update
  .github/workflows/tools.yml
  doc/contributing/maintaining-c-ares.md
  tools/dep_updaters/update-c-ares.sh
  tools/update-cares.sh
Labels: meta, tools, author ready, commit-queue-squash

#47017 test: fallback to IPv4 if IPv6 is unavailable
  test/sequential/test-tls-psk-client.js
  test/sequential/test-tls-securepair-client.js
Labels: test, author ready, needs-ci, commit-queue-squash

#47024 tools: dont use stale cached node versions in daily wpt
  .github/workflows/daily-wpt-fyi.yml
Labels: meta

#47026 doc,test: extend the list of platforms supported by single-executables
  doc/api/single-executable-applications.md
  doc/contributing/maintaining-single-executable-application-support.md
  test/parallel/test-single-executable-application.js
Labels: author ready, needs-ci, commit-queue-squash, single-executable

#46991 benchmark: update README to include all benchmarks
  benchmark/README.md
Labels: benchmark, author ready

#47029 test: move `test-tls-autoselectfamily-servername` to `test/internet`
  test/internet/test-tls-autoselectfamily-servername.js
Labels: test, author ready, needs-ci

#46812 debugger: Add set context line number command
  lib/internal/debugger/inspect_repl.js
  test/fixtures/debugger/twenty-lines.js
  test/sequential/test-debugger-set-context-line-number.mjs
Labels: author ready, needs-ci, debugger, commit-queue-squash

#46978 tls: support automatic DHE
  doc/api/tls.md
  lib/internal/tls/secure-context.js
  src/crypto/crypto_context.cc
  test/parallel/test-tls-client-getephemeralkeyinfo.js
  test/parallel/test-tls-dhe.js
Labels: tls, c++, semver-minor, notable-change, author ready, needs-ci

#46947 debugger: improve validations and documents for watch and unwatch
  doc/api/debugger.md
  lib/internal/debugger/inspect_repl.js
  test/sequential/test-debugger-watch-validation.js
  test/sequential/test-debugger-watchers.mjs
Labels: author ready, needs-ci, debugger

#46810 benchmark: add a benchmark for URLSearchParams creation and toString()
  benchmark/url/url-searchparams-creation.js
  benchmark/url/url-searchparams-toString.js
Labels: url, benchmark, whatwg-url, author ready

#47053 Fix typo in test.md
  doc/api/test.md
Labels: doc, fast-track, dont-land-on-v14.x, test_runner

#47028 crypto: remove ALPN_ENABLED
  doc/api/crypto.md
  src/node_constants.cc
  typings/internalBinding/constants.d.ts
Labels: tls, crypto, c++, semver-major, needs-ci, typings

#47066 doc: remove remaining SSL_OP_NETSCAPE_*_BUG
  doc/api/crypto.md
Labels: tls, crypto, doc, openssl, fast-track, author ready

#47035 src: use std::array for passing argv in node::url
  src/node_url.cc
Labels: c++, whatwg-url, author ready, needs-ci

#47049 meta: ask expected behavior reason in bug template
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Labels: meta, author ready

#46688 test_runner: support defining test reporter in NODE_OPTIONS
  doc/api/cli.md
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/utils.js
  src/node_options.cc
Labels: c++, author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#46942 inspector: fix session.disconnect crash
  src/inspector_js_api.cc
  test/parallel/test-inspector-connect-to-main-thread.js
Labels: c++, inspector, author ready, needs-ci

#47095 test: fix test-permission-deny-fs-wildcard (win32)
  test/parallel/test-permission-deny-fs-wildcard.js
Labels: test, fast-track, needs-ci

#47057 src: fix clang 14 linker error
  src/inspector/node_string.cc
Labels: c++, author ready, needs-ci

#47082 doc: fix "maintaining dependencies" heading typos
  doc/contributing/maintaining-dependencies.md
Labels: doc, fast-track, author ready

#47030 permission: add path separator to loader check
  lib/internal/modules/cjs/loader.js
  test/fixtures/permission/loader/index.js
  test/parallel/test-cli-permission-deny-fs.js
Labels: needs-ci

#47101 Revert "vm: fix leak in vm.compileFunction when importModuleDynamically is used"
  src/env_properties.h
  src/node_contextify.cc
  src/node_contextify.h
  test/pummel/test-vm-compile-function-leak.js
Labels: c++, lib / src, fast-track, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x

#47068 src: remove SSL_CTX_get_tlsext_ticket_keys guards
  src/crypto/crypto_context.cc
Labels: tls, crypto, c++, openssl, author ready, needs-ci

#47044 tools: align update-ada.sh with other scripts
  .github/workflows/tools.yml
  tools/dep_updaters/update-ada.sh
Labels: meta, tools, author ready

#46878 repl: preserve preview on ESCAPE key press
  lib/internal/repl/utils.js
  lib/repl.js
  test/parallel/test-repl-history-navigation.js
Labels: repl, needs-ci, commit-queue-squash

#47083 src: remove dead comments about return_code_cache
  src/node_builtins.cc
Labels: c++, author ready, needs-ci

#47050 test_runner: accept \x1b as a escape symbol
  lib/internal/test_runner/tap_lexer.js
  test/parallel/test-runner-tap-lexer.js
Labels: author ready, needs-ci, dont-land-on-v14.x, commit-queue-squash, test_runner

#47079 src: fix duplication of externalized builtin code
  src/node_builtins.cc
Labels: c++, fast-track, author ready, needs-ci

#47102 doc: indicate that `name` is no longer an optional argument
  doc/api/perf_hooks.md
Labels: doc, author ready, perf_hooks, dont-land-on-v14.x, dont-land-on-v16.x, dont-land-on-v18.x

#47134 test: mark test-http-max-sockets as flaky on win32
  test/sequential/sequential.status
Labels: windows, test, flaky-test, fast-track, author ready, needs-ci

#46615 vm: properly handle defining props on any value
  src/env_properties.h
  src/node_contextify.cc
  test/parallel/test-vm-global-setter.js
  test/parallel/test-vm-global-symbol.js
  test/parallel/test-vm-not-strict.js
Labels: c++, vm, needs-ci, commit-queue-squash

#46855 test: reduce flakiness of parallel/test-http-remove-header-stays-removed.js
  test/parallel/test-http-remove-header-stays-removed.js
Labels: test, flaky-test, author ready, needs-ci, commit-queue-squash

#46840 doc: improve documentation for util.types.isNativeError()
  doc/api/util.md
Labels: util, doc, author ready, commit-queue-squash

#47122 doc: clarify that `fs.create{Read,Write}Stream` support `AbortSignal`
  doc/api/fs.md
Labels: doc, fs, author ready, dont-land-on-v14.x

#46989 url: allow extension of user provided URL objects
  doc/api/url.md
  lib/internal/url.js
  test/parallel/test-http-client-request-options.js
Labels: whatwg-url, author ready, needs-ci

#47131 test,crypto: update WebCryptoAPI WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_keys.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_Ed25519.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_X25519.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any.js
  test/fixtures/wpt/versions.json
Labels: crypto, test, author ready, needs-ci, webcrypto

#47011 deps: cherry-pick win/arm64/clang fixes
  deps/histogram/src/hdr_atomic.h
  deps/histogram/src/hdr_histogram.c
  deps/ngtcp2/nghttp3/lib/nghttp3_ringbuf.c
  deps/ngtcp2/ngtcp2/lib/ngtcp2_ringbuf.c
Labels: needs-ci, quic, dependencies, dont-land-on-v14.x

#47039 events: add getMaxListeners method
  doc/api/events.md
  lib/events.js
  test/parallel/test-events-getmaxlisteners.js
Labels: events, semver-minor, author ready, needs-ci, commit-queue-squash

#47091 permission: fix some vulnerabilities in fs
  src/node_file.cc
  test/parallel/test-permission-deny-fs-read.js
  test/parallel/test-permission-deny-fs-write.js
Labels: c++, fs, security, author ready, needs-ci

#47135 test: update URL web-platform-tests
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/javascript-urls.window.js
  test/fixtures/wpt/url/resources/setters_tests.json
  test/fixtures/wpt/url/resources/toascii.json
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/url/urlencoded-parser.any.js
  test/fixtures/wpt/versions.json
  test/wpt/status/url.json
Labels: test, whatwg-url, author ready, needs-ci

#47139 test: fix 'checks' validation test for checkPrime
  test/parallel/test-crypto-prime.js
Labels: crypto, test, author ready, needs-ci

#45903 node-api: document node-api shutdown finalization
  doc/api/n-api.md
Labels: doc, node-api

#47154 buffer: use private properties for brand checks in File
  lib/internal/file.js
  test/parallel/test-file.js
Labels: author ready, needs-ci

#47155 Fix typo in async_context.md
  doc/api/async_context.md
Labels: doc, async_hooks, author ready

#47073 crypto: remove obsolete SSL_OP_* constants
  src/node_constants.cc
  typings/internalBinding/constants.d.ts
Labels: tls, crypto, c++, semver-major, openssl, author ready, needs-ci, typings

#47132 stream: don't wait for next item in take when finished
  lib/internal/streams/operators.js
  test/parallel/test-stream-drop-take.js
Labels: author ready, needs-ci

#47141 node-api: extend type-tagging to externals
  doc/api/n-api.md
  test/js-native-api/test_object/test.js
  test/js-native-api/test_object/test_object.c
Labels: node-api, author ready, commit-queue-squash

#46941 inspector: log response and requests in the inspector for debugging
  src/inspector_agent.cc
Labels: c++, inspector, needs-ci, commit-queue-squash

#47020 Skip broken tests on Windows ARM64
  test/parallel/parallel.status
Labels: windows, test, arm, needs-ci

#47168 src: replace impossible THROW with CHECK
  src/crypto/crypto_dsa.cc
  test/parallel/test-crypto-keygen.js
Labels: crypto, c++, author ready, needs-ci

#47138 tools: update daily wpt actions summary
  .github/workflows/daily-wpt-fyi.yml
Labels: meta, author ready

#47153 buffer: graduate File from experimental and expose as global
  doc/api/buffer.md
  doc/api/globals.md
  lib/.eslintrc.yaml
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  lib/internal/file.js
Labels: semver-major, author ready, needs-ci, commit-queue-squash

#47179 url: implement URL.canParse
  benchmark/url/whatwgurl-canParse.js
  doc/api/url.md
  lib/internal/url.js
  src/node_url.cc
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/url-statics-canparse.any.js
  test/fixtures/wpt/versions.json
Labels: semver-minor, notable-change, whatwg-url, author ready, needs-ci, commit-queue-squash

#45943 msi: migrate to WiX4
  .gitignore
  BUILDING.md
  tools/msvs/msi/NuGet.Config
  tools/msvs/msi/custom_actions/custom_actions.cc
  tools/msvs/msi/custom_actions/custom_actions.def
  tools/msvs/msi/custom_actions/custom_actions.vcxproj
  tools/msvs/msi/i18n/en-us.wxl
  tools/msvs/msi/nodemsi.sln
  tools/msvs/msi/nodemsi.wixproj
  tools/msvs/msi/nodemsi/i18n/en-us.wxl
  tools/msvs/msi/nodemsi/nodemsi.wixproj
  tools/msvs/msi/nodemsi/product.wxs
  vcbuild.bat
Labels: doc, windows, install, semver-minor, build, meta, tools, needs-ci, commit-queue-squash

#47181 doc: remove use of DEFAULT_ENCODING in PBKDF2 docs
  doc/api/crypto.md
Labels: crypto, doc, author ready, deprecations

#47178 tools: notify on Slack when invalid commit lands
  .github/workflows/notify-force-push.yml
  .github/workflows/notify-on-push.yml
Labels: meta, commit-queue-squash

#47199 fs: invalidate blob created from empty file when written to
  lib/internal/blob.js
  test/parallel/test-blob-file-backed.js
Labels: fs, author ready, needs-ci

#47164 test_runner: report failing tests after summary
  lib/internal/test_runner/reporter/spec.js
  test/message/test_runner_output_spec_reporter.out
  test/pseudo-tty/test_runner_default_reporter.js
  test/pseudo-tty/test_runner_default_reporter.out
Labels: lib / src, author ready, needs-ci, commit-queue-squash, test_runner

#47203 url: add pending-deprecation to `url.parse()`
  doc/api/deprecations.md
  lib/url.js
Labels: url, semver-major, author ready, deprecations, needs-ci

#47237 tools: fix Slack notification action
  .github/workflows/notify-on-push.yml
Labels: meta, fast-track, author ready

#47078 meta: automate description requests when notable change label is added
  .github/workflows/comment-labeled.yml
Labels: meta

#45671 stream: expose stream symbols
  lib/internal/streams/destroy.js
  lib/internal/streams/utils.js
  lib/stream.js
Labels: stream, author ready

#47209 deps: V8: cherry-pick 975ff4dbfd1b
  common.gypi
  deps/v8/AUTHORS
  deps/v8/src/objects/keys.cc
  deps/v8/test/cctest/test-api.cc
Labels: build, v8 engine, author ready, needs-ci

#47166 doc: update `stream.reduce` concurrency note
  doc/api/stream.md
Labels: doc, stream

#47245 doc: fix grammar in the collaborator guide
  doc/contributing/collaborator-guide.md
Labels: doc, fast-track, author ready

#47197 tools: standardize update-nghttp2.sh
  .github/workflows/tools.yml
  doc/contributing/maintaining-nghttp2.md
  tools/dep_updaters/update-nghttp2.sh
Labels: meta, tools, author ready

#46928 tools: add button to copy code example to clipboard
  doc/api_assets/api.js
  doc/api_assets/style.css
  tools/doc/html.mjs
Labels: doc, tools, author ready, commit-queue-squash

#47222 test,crypto: update WebCryptoAPI WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.https.any.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_bits_fixtures.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_keys.https.any.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_keys.js
  test/fixtures/wpt/versions.json
Labels: crypto, test, author ready, needs-ci, webcrypto

#47211 meta: update link to collaborators discussion page
  GOVERNANCE.md
Labels: meta, commit-queue-squash

#47198 tools: standardize update-llhttp.sh
  .github/workflows/tools.yml
  doc/contributing/maintaining-http.md
  tools/dep_updaters/update-llhttp.sh
  tools/update-llhttp.sh
Labels: meta, tools, commit-queue-squash

#47206 tools: upgrade Windows digital signature to SHA256
  tools/sign.bat
Labels: windows, build, tools, security, author ready, needs-ci

#47182 crypto: remove DEFAULT_ENCODING
  doc/api/crypto.md
  doc/api/deprecations.md
  lib/crypto.js
  lib/internal/crypto/util.js
  test/parallel/test-crypto-authenticated.js
  test/parallel/test-crypto-binary-default.js
  test/parallel/test-crypto-scrypt.js
Labels: crypto, semver-major, author ready, deprecations, needs-ci

#46903 doc: clarify http error events after calling destroy()
  doc/api/http.md
Labels: http, doc

#46886 doc: improve example for Error.captureStackTrace()
  doc/api/errors.md
Labels: doc, errors, commit-queue-squash

#47262 doc: use serial comma in cli docs
  doc/api/cli.md
Labels: doc, cli, fast-track

#47235 Fix test-child-process-exec-cwd for Windows on ARM64
  test/parallel/parallel.status
  test/parallel/test-child-process-exec-cwd.js
Labels: test, author ready, needs-ci

#47238 test_runner: expose reporter for use in run api
  doc/api/test.md
  lib/test/reporters.js
  test/parallel/test-runner-run.mjs
Labels: test, author ready, needs-ci, commit-queue-squash, test_runner

#47282 doc: fix typo in SECURITY.md
  SECURITY.md
Labels: doc, fast-track, commit-queue-failed

#47285 tools: update codecov branch
  codecov.yml
Labels: fast-track, commit-queue-failed

#47201 tools: standardize update-base64.sh
  .github/workflows/tools.yml
  tools/dep_updaters/update-base64.sh
  tools/update-base64.sh
Labels: meta, tools

#46820 tools: use actions pinned by commit hash on all workflows
  .github/workflows/auto-start-ci.yml
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/close-stale-feature-requests.yml
  .github/workflows/close-stalled.yml
  .github/workflows/commit-lint.yml
  .github/workflows/commit-queue.yml
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/daily-wpt-fyi.yml
  .github/workflows/daily.yml
  .github/workflows/doc.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/find-inactive-tsc.yml
  .github/workflows/label-pr.yml
  .github/workflows/license-builder.yml
  .github/workflows/linters.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/timezone-update.yml
  .github/workflows/tools.yml
Labels: meta, commit-queue-squash

#47292 test: skip instantiateStreaming-bad-imports WPT
  test/wpt/status/wasm/webapi.json
Labels: test, fast-track, author ready, needs-ci

#46929 stream: add setter & getter for default highWaterMark
  doc/api/stream.md
  lib/_http_outgoing.js
  lib/internal/streams/state.js
  lib/stream.js
  test/parallel/test-stream-set-default-hwm.js
Labels: http, stream, semver-minor, author ready, needs-ci, commit-queue

#47252 doc: revise example of assert.CallTracker
  doc/api/assert.md
Labels: assert, doc, author ready, commit-queue-squash

#47271 build: avoid usage of pipes library
  configure.py
Labels: build, author ready, needs-ci

#47244 src,http2: ensure cleanup if a frame is not sent
  src/node_http2.cc
  test/parallel/test-h2-large-header-cause-client-to-hangup.js
Labels: c++, http2, author ready, needs-ci, commit-queue-squash

#47276 meta: clarify the threat model to explain the JSON.parse case
  SECURITY.md
Labels: doc, author ready, commit-queue-squash

#47254 tools: add scorecard ci
  .github/workflows/scorecard.yml
Labels: doc, meta

#47330 tools: fix typo in nghttp2 path
  .github/workflows/tools.yml
Labels: meta, fast-track, author ready

#47205 tools: automate brotli update
  .github/workflows/tools.yml
  tools/dep_updaters/update-brotli.sh
Labels: meta, tools

#47210 test: update wasm/jsapi WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/versions.json
  test/fixtures/wpt/wasm/jsapi/exception/basic.tentative.any.js
  test/fixtures/wpt/wasm/jsapi/exception/constructor.tentative.any.js
  test/fixtures/wpt/wasm/jsapi/exception/getArg.tentative.any.js
  test/fixtures/wpt/wasm/jsapi/exception/identity.tentative.any.js
  test/fixtures/wpt/wasm/jsapi/exception/toString.tentative.any.js
  test/fixtures/wpt/wasm/jsapi/wasm-module-builder.js
Labels: test, author ready, needs-ci

#44490 tools: fix duration_ms to be milliseconds
  tools/test.py
Labels: test, tools, author ready, lts-watch-v14.x, lts-watch-v16.x

#47295 Explaining that vm.SourceTextModule() is able to evaluate in current …
  doc/api/vm.md
Labels: doc, vm, author ready

#46892 tools: remove targets for individual test suites in `Makefile`
  Makefile
  vcbuild.bat
Labels: build, author ready, needs-ci, dont-land-on-v14.x, dont-land-on-v16.x, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v19.x

#47298 doc: add importing util to example of `process.report.getReport'
  doc/api/process.md
Labels: doc, process, author ready

#47163 util: fix inspecting error with a throwing getter for `cause`
  lib/internal/util/inspect.js
  test/message/util-inspect-error-cause.js
  test/message/util-inspect-error-cause.out
Labels: util, author ready, needs-ci

#47283 test: run WPT files in parallel again
  Makefile
  test/common/wpt.js
  test/wpt/testcfg.py
  tools/merge-wpt-reports.mjs
Labels: test, author ready, needs-ci

#47188 src: don't reset embeder signal handlers
  src/node.cc
Labels: c++
