Repository nodejs/node, pull requests merged in 2024-04, with the labels that each got.

#52287 test_runner: disable highWatermark on TestsStream
  lib/internal/test_runner/tests_stream.js
Labels: author ready, test_runner

#52296 test_runner: improve describe.only behavior
  doc/api/test.md
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/only_tests.js
  test/fixtures/test-runner/output/only_tests.snapshot
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#52297 test_runner: hide new line when no error in spec reporter
  lib/internal/test_runner/reporter/spec.js
  test/fixtures/test-runner/output/default_output.snapshot
  test/fixtures/test-runner/output/hooks_spec_reporter.snapshot
  test/fixtures/test-runner/output/spec_reporter.snapshot
  test/fixtures/test-runner/output/spec_reporter_cli.snapshot
  test/fixtures/test-runner/output/suite-skip-hooks.snapshot
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#52262 crypto: validate RSA-PSS saltLength in subtle.sign and subtle.verify
  lib/internal/crypto/rsa.js
  lib/internal/crypto/util.js
  test/parallel/test-webcrypto-sign-verify-rsa.js
Labels: crypto, author ready, needs-ci, webcrypto

#52301 tools: use Python 3.12 in GitHub Actions workflows
  .github/workflows/build-tarball.yml
  .github/workflows/build-windows.yml
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
  .github/workflows/daily-wpt-fyi.yml
  .github/workflows/linters.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-ubsan.yml
  .github/workflows/tools.yml
Labels: meta, author ready

#52315 doc: replace "below" with "following"
  doc/api/addons.md
  doc/api/modules.md
Labels: doc, commit-queue-squash

#52291 module: centralize SourceTextModule compilation for builtin loader
  lib/internal/modules/esm/create_dynamic_module.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/esm/utils.js
  lib/internal/vm/module.js
  src/env_properties.h
  src/module_wrap.cc
Labels: lib / src, needs-ci

#52181 doc: add tips about vcpkg cause build faild on windows
  BUILDING.md
Labels: doc, build, commit-queue-squash

#52320 Revert "tools: run `build-windows` workflow only on source changes"
  .github/workflows/build-windows.yml
Labels: meta

#52360 doc: add missing space
  doc/contributing/api-documentation.md
Labels: doc, fast-track, author ready

#52354 doc: add Rafael to sec release stewards
  doc/contributing/security-release-process.md
Labels: doc, author ready

#52318 stream: make Duplex inherit destroy from Writable
  lib/internal/streams/duplex.js
  test/parallel/test-stream-duplex-destroy.js
Labels: needs-ci

#52225 lib: .load .save add proper error message when no file passed
  lib/repl.js
  test/parallel/test-repl-save-load.js
Labels: repl, author ready, commit-queue-squash

#52348 fs,permission: make handling of buffers consistent
  lib/fs.js
  lib/internal/fs/promises.js
Labels: fs, security, author ready, needs-ci, permission

#52388 doc: fix typo in cli.md
  doc/api/cli.md
Labels: doc, cli, fast-track

#52253 benchmark: conditionally use spawn with taskset for CPU pinning
  benchmark/_cli.js
  benchmark/compare.js
  benchmark/run.js
  doc/contributing/writing-and-running-benchmarks.md
Labels: benchmark, performance, author ready, commit-queue-squash

#52373 doc: use consistent plural form of "index"
  doc/api/buffer.md
  doc/api/dgram.md
  doc/api/documentation.md
  doc/api/events.md
  doc/api/n-api.md
Labels: doc, author ready

#52379 doc: reserve 125 for Electron 31
  doc/abi_version_registry.json
Labels: doc, author ready

#52356 doc: update the location of `build_with_cmake`
  doc/api/n-api.md
Labels: doc, node-api

#52358 watch: fix some node argument not passed to watched process
  lib/internal/main/watch_mode.js
  test/sequential/test-watch-mode.mjs
Labels: needs-ci, commit-queue-squash, watch-mode

#52190 cli: implement `node --run <script-in-package-json>`
  doc/api/cli.md
  lib/internal/main/run.js
  lib/internal/shell.js
  src/node.cc
  src/node_modules.cc
  src/node_modules.h
  src/node_options.cc
  src/node_options.h
  test/fixtures/run-script/.env
  test/fixtures/run-script/node_modules/.bin/ada
  test/fixtures/run-script/node_modules/.bin/ada.bat
  test/fixtures/run-script/node_modules/.bin/custom-env
  test/fixtures/run-script/node_modules/.bin/custom-env.bat
  test/fixtures/run-script/node_modules/.bin/positional-args
  test/fixtures/run-script/node_modules/.bin/positional-args.bat
  test/fixtures/run-script/package.json
  test/message/node_run_non_existent.js
  test/message/node_run_non_existent.out
  test/parallel/test-node-run.js
  typings/internalBinding/modules.d.ts
Labels: c++, semver-minor, lib / src, notable-change, needs-ci

#52340 crypto: reject Ed25519/Ed448 in Sign/Verify prototypes
  src/crypto/crypto_sig.cc
  test/parallel/test-crypto-sign-verify.js
Labels: crypto, c++, author ready, needs-ci

#52302 tools: update Ruff to v0.3.4
  Makefile
  pyproject.toml
Labels: build

#52368 Fix h2-over-h2 connection proxying
  lib/internal/http2/core.js
  lib/internal/js_stream_socket.js
  lib/internal/stream_base_commons.js
  test/parallel/test-http2-client-proxy-over-http2.js
Labels: http2, author ready, needs-ci, lts-watch-v20.x

#52390 src: update branch name in node_revert.h
  src/node_revert.h
Labels: c++, lib / src, fast-track, needs-ci

#52341 crypto: make timingSafeEqual faster for Uint8Array
  benchmark/crypto/timingSafeEqual.js
  src/crypto/crypto_timing.cc
  src/node_external_reference.h
Labels: crypto, c++, performance, author ready, needs-ci

#52264 module: disallow CJS <-> ESM edges in a cycle from require(esm)
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/helpers.js
  src/env_properties.h
  src/module_wrap.cc
  test/es-module/test-require-module-cycle-esm-cjs-esm-esm.js
  test/es-module/test-require-module-cycle-esm-cjs-esm.js
  test/es-module/test-require-module-cycle-esm-esm-cjs-esm-esm.js
  test/es-module/test-require-module-cycle-esm-esm-cjs-esm.js
  test/fixtures/es-modules/esm-cjs-esm-cycle/a.mjs
  test/fixtures/es-modules/esm-cjs-esm-cycle/b.cjs
  test/fixtures/es-modules/esm-cjs-esm-cycle/require-a.cjs
  test/fixtures/es-modules/esm-cjs-esm-cycle/require-b.cjs
  test/fixtures/es-modules/esm-cjs-esm-esm-cycle/a.mjs
  test/fixtures/es-modules/esm-cjs-esm-esm-cycle/b.cjs
  test/fixtures/es-modules/esm-cjs-esm-esm-cycle/c.mjs
  test/fixtures/es-modules/esm-esm-cjs-esm-cycle/a.mjs
  test/fixtures/es-modules/esm-esm-cjs-esm-cycle/b.mjs
  test/fixtures/es-modules/esm-esm-cjs-esm-cycle/c.mjs
  test/fixtures/es-modules/esm-esm-cjs-esm-cycle/d.mjs
  test/fixtures/es-modules/esm-esm-cjs-esm-esm-cycle/a.mjs
  test/fixtures/es-modules/esm-esm-cjs-esm-esm-cycle/b.mjs
  test/fixtures/es-modules/esm-esm-cjs-esm-esm-cycle/c.cjs
  test/fixtures/es-modules/esm-esm-cjs-esm-esm-cycle/z.mjs
Labels: lib / src, needs-ci, commit-queue-squash

#52392 doc: call out http(s).globalAgent defaults
  doc/api/http.md
  doc/api/https.md
Labels: doc

#52345 crypto: deprecate implicitly shortened GCM tags
  doc/api/crypto.md
  doc/api/deprecations.md
  src/crypto/crypto_cipher.cc
  test/common/index.js
  test/parallel/test-crypto-gcm-explicit-short-tag.js
  test/parallel/test-crypto-gcm-implicit-short-tag.js
Labels: crypto, c++, security, notable-change, author ready, deprecations, needs-ci

#52423 tools: update stale bot messaging
  .github/workflows/close-stale-feature-requests.yml
Labels: meta, author ready

#52425 tools: change inactive limit to 12 months
  GOVERNANCE.md
  tools/find-inactive-collaborators.mjs
Labels: meta, tools, author ready, commit-queue-squash

#52405 test: fix Windows compiler warnings in overlapped-checker
  test/overlapped-checker/main_win.c
Labels: test, needs-ci

#52452 doc: add Rafael to steward list
  doc/contributing/security-release-process.md
Labels: doc, fast-track

#52454 doc: accommodate upcoming stricter .md linting
  BUILDING.md
Labels: doc, build, fast-track

#52455 doc: remove Internet Explorer mention in BUILDING.md
  BUILDING.md
Labels: fast-track

#52290 doc: add lint-js-fix into BUILDING.md
  BUILDING.md
Labels: doc, build

#52326 test_runner: make end of work check stricter
  lib/internal/test_runner/test.js
  test/parallel/test-runner-filter-warning.js
Labels: test_runner

#52430 test: simplify ASan build checks
  .github/workflows/test-asan.yml
  test/common/index.js
  test/parallel/test-crypto-dh-leak.js
  test/parallel/test-crypto-secure-heap.js
  test/parallel/test-strace-openat-openssl.js
  test/parallel/test-v8-serialize-leak.js
  test/pummel/test-vm-memleak.js
  tools/test.py
Labels: test, meta, tools, needs-ci

#52353 test: fix watch test with require not testing pid
  test/sequential/test-watch-mode.mjs
Labels: test, author ready, needs-ci, commit-queue-squash

#52427 buffer: improve `btoa` performance
  benchmark/buffers/buffer-btoa.js
  lib/buffer.js
  src/node_buffer.cc
Labels: buffer, c++, needs-ci, commit-queue-squash

#52440 lib: replace string prototype usage with alternatives
  lib/internal/options.js
Labels: author ready, needs-ci

#52217 crypto: enable NODE_EXTRA_CA_CERTS with BoringSSL
  src/node.cc
Labels: c++, needs-ci, commit-queue-squash

#52428 buffer: improve `base64` and `base64url` performance
  src/string_bytes.cc
Labels: buffer, c++, notable-change, needs-ci, needs-benchmark-ci, commit-queue-squash

#52095 lib: convert WeakMaps in cjs loader with symbol properties
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/translators.js
  src/env_properties.h
Labels: esm, author ready, needs-ci

#52275 lib: refactor lazy loading of undici for fetch method
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  test/parallel/test-fetch-mock.js
Labels: lib / src, needs-ci, commit-queue-squash

#52280 url: implement parse method for safer URL parsing
  lib/internal/url.js
  src/node_url.cc
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/url/url-statics-parse.any.js
  test/fixtures/wpt/versions.json
Labels: semver-minor, whatwg-url, needs-ci, commit-queue-squash

#52476 tools: add a linter for README lists
  .github/workflows/linters.yml
  README.md
  tools/lint-readme-lists.mjs
Labels: doc, meta, tools, author ready

#52477 buffer: add missing ARG_TYPE(ArrayBuffer) for isUtf8
  lib/buffer.js
Labels: buffer, author ready, needs-ci

#52437 module: tidy code and comments
  doc/api/errors.md
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
Labels: esm, author ready, needs-ci, commit-queue-squash

#52471 lib: Rename readme.md to README.md
  lib/internal/README.md
Labels: doc, author ready

#52403 test_runner: expose lcov reporter as newable function
  lib/test/reporters.js
Labels: semver-major, author ready, needs-ci, test_runner

#52523 tools: update minimatch index path
  tools/dep_updaters/update-minimatch.sh
Labels: tools, fast-track

#52511 test: write tests for assertIsArray http2 util
  test/parallel/test-http2-misc-util.js
Labels: test, needs-ci

#52401 test_runner: better error handing for test hook
  lib/internal/test_runner/harness.js
  test/fixtures/test-runner/async-error-in-test-hook.mjs
  test/fixtures/test-runner/output/describe_it.snapshot
  test/fixtures/test-runner/output/junit_reporter.snapshot
  test/fixtures/test-runner/output/output.snapshot
  test/fixtures/test-runner/output/output_cli.snapshot
  test/fixtures/test-runner/output/spec_reporter.snapshot
  test/fixtures/test-runner/output/spec_reporter_cli.snapshot
  test/parallel/test-runner-extraneous-async-activity.js
  test/parallel/test-runner-output.mjs
Labels: needs-ci, test_runner

#52426 node-api: store external type tags by value
  src/js_native_api_v8.cc
  test/js-native-api/test_object/test_object.c
Labels: c++, node-api, commit-queue-squash

#52515 doc: update test runner coverage limitations
  doc/api/test.md
Labels: doc, test_runner

#52542 test: skip test for dynamically linked OpenSSL
  test/parallel/test-crypto-rsa-dsa.js
Labels: test, fast-track, needs-ci

#52487 module: fix submodules loaded by require() and import()
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  test/es-module/test-require-module-dynamic-import-3.js
  test/es-module/test-require-module-dynamic-import-4.js
  test/fixtures/es-modules/require-and-import/load.cjs
  test/fixtures/es-modules/require-and-import/load.mjs
  test/fixtures/es-modules/require-and-import/node_modules/dep/mod.js
  test/fixtures/es-modules/require-and-import/node_modules/dep/package.json
Labels: esm, needs-ci

#52438 src: fix loadEnvFile ENOENT error
  src/node_process_methods.cc
  test/parallel/test-process-load-env-file.js
Labels: c++, author ready, needs-ci

#52406 src: remove regex usage for env file parsing
  src/node_dotenv.cc
  src/node_dotenv.h
  test/fixtures/dotenv/eof-without-value.env
  test/fixtures/dotenv/multiline.env
  test/fixtures/dotenv/valid.env
  test/parallel/test-dotenv-edge-cases.js
  test/parallel/test-dotenv.js
  test/parallel/util-parse-env.js
Labels: c++, author ready, needs-ci, commit-queue-squash

#52560 build: temporary disable ubsan
  .github/workflows/test-ubsan.yml
Labels: meta, fast-track, author ready

#52474 net: add CLI option for autoSelectFamilyAttemptTimeout
  doc/api/cli.md
  doc/api/net.md
  lib/net.js
  src/node_options.cc
  src/node_options.h
  test/common/index.js
  test/parallel/test-net-autoselectfamily-attempt-timeout-cli-option.js
  test/parallel/test-net-autoselectfamily-attempt-timeout-default-value.js
Labels: c++, net, needs-ci, commit-queue-squash

#52561 tools: fix heading spaces for osx-entitlements.plist
  tools/osx-entitlements.plist
Labels: macos, tools, fast-track

#52538 test: split wasi poll test for windows
  test/wasi/c/poll.c
  test/wasi/c/poll_win.c
  test/wasi/test-wasi-poll.js
  test/wasi/wasi.status
  test/wasi/wasm/poll_win.wasm
Labels: test, needs-ci

#52566 doc: fix issue detected in markdown lint update
  doc/contributing/feature-request-management.md
Labels: fast-track

#52548 benchmark: reduce the buffer size for blob
  benchmark/blob/blob.js
Labels: benchmark, author ready

#52543 src: remove erroneous CVE-2024-27980 revert option
  src/node_revert.h
  src/util-inl.h
  test/parallel/test-child-process-spawn-windows-batch-file.js
Labels: c++, security, author ready, needs-ci

#52529 test_runner: add --test-skip-pattern cli option
  doc/api/cli.md
  doc/api/test.md
  doc/node.1
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
  src/node_options.cc
  src/node_options.h
  test/fixtures/test-runner/output/name_and_skip_patterns.js
  test/fixtures/test-runner/output/name_and_skip_patterns.snapshot
  test/fixtures/test-runner/output/skip_pattern.js
  test/fixtures/test-runner/output/skip_pattern.snapshot
  test/parallel/test-runner-output.mjs
Labels: c++, semver-minor, lib / src, author ready, needs-ci, commit-queue-squash

#52104 esm: drop support for import assertions
  src/node.cc
  test/es-module/test-esm-import-attributes-errors.js
  test/es-module/test-esm-import-attributes-errors.mjs
Labels: c++, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v21.x

#52563 test: ensure that all worker servers are ready
  test/parallel/test-tls-ticket-cluster.js
Labels: test, author ready, needs-ci

#52564 cli: remove --no-experimental-global-webcrypto flag
  doc/api/cli.md
  doc/api/globals.md
  doc/node.1
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  lib/internal/crypto/webcrypto.js
  lib/internal/main/eval_string.js
  lib/internal/process/pre_execution.js
  src/node_options.cc
  test/parallel/test-cli-eval.js
  test/parallel/test-global-webcrypto-disbled.js
  test/parallel/test-process-env-allowed-flags-are-documented.js
Labels: crypto, semver-major, process, lib / src, cli, author ready, needs-ci, webcrypto

#52581 tools: update lint-md-dependencies
  tools/lint-md/lint-md.mjs
  tools/lint-md/package-lock.json
  tools/lint-md/package.json
Labels: tools, fast-track

#52556 doc: add RedYetiDev to triage team
  README.md
Labels: doc

#49709 crypto: simplify assertions in Safe*Print
  src/crypto/crypto_common.cc
Labels: crypto, c++, author ready, needs-ci

#52580 lib: use predefined variable instead of bit operation
  lib/internal/abort_controller.js
  lib/internal/event_target.js
Labels: author ready, needs-ci

#52551 doc: correct stream.finished changes
  doc/api/stream.md
Labels: doc, stream, author ready, commit-queue-squash

#52589 doc: sort options alphabetically
  doc/api/net.md
Labels: doc, net, author ready

#52590 doc: replace U+00A0 with U+0020
  doc/api/net.md
Labels: doc, net, author ready

#52555 doc: correct unsafe URL example in http docs
  doc/api/http.md
Labels: http, doc, commit-queue-squash

#52603 fs: fix read / readSync positional offset types
  lib/fs.js
Labels: fs, needs-ci

#52611 cli: remove --no-experimental-fetch flag
  doc/api/cli.md
  doc/node.1
  lib/internal/process/pre_execution.js
  src/node_options.cc
  test/parallel/test-fetch-disabled.mjs
  test/parallel/test-process-env-allowed-flags-are-documented.js
Labels: c++, semver-major, process, cli, author ready, needs-ci, fetch, dont-land-on-v22.x

#52618 events,doc: mark CustomEvent as stable
  doc/api/events.md
Labels: doc, events, notable-change, author ready

#52624 tools: fix invalid escape sequence in mkssldef
  tools/mkssldef.py
Labels: tls, openssl, tools

#52552 crypto: move DEP0182 to runtime deprecation
  doc/api/crypto.md
  doc/api/deprecations.md
  src/crypto/crypto_cipher.cc
  test/parallel/test-crypto-gcm-implicit-short-tag.js
Labels: crypto, c++, semver-major, security, author ready, deprecations, needs-ci

#52625 lib: enforce ASCII order in error code imports
  lib/.eslintrc.yaml
  lib/_http_client.js
  lib/_http_outgoing.js
  lib/_http_server.js
  lib/_tls_wrap.js
  lib/buffer.js
  lib/child_process.js
  lib/dgram.js
  lib/dns.js
  lib/events.js
  lib/fs.js
  lib/internal/assert/calltracker.js
  lib/internal/blob.js
  lib/internal/bootstrap/switches/does_not_own_process_state.js
  lib/internal/console/constructor.js
  lib/internal/crypto/keys.js
  lib/internal/crypto/random.js
  lib/internal/crypto/util.js
  lib/internal/dgram.js
  lib/internal/dns/callback_resolver.js
  lib/internal/dns/promises.js
  lib/internal/dns/utils.js
  lib/internal/errors.js
  lib/internal/event_target.js
  lib/internal/fs/cp/cp-sync.js
  lib/internal/fs/promises.js
  lib/internal/fs/utils.js
  lib/internal/histogram.js
  lib/internal/http2/core.js
  lib/internal/net.js
  lib/internal/perf/observe.js
  lib/internal/process/execution.js
  lib/internal/process/worker_thread_only.js
  lib/internal/readline/interface.js
  lib/internal/readline/promises.js
  lib/internal/streams/add-abort-signal.js
  lib/internal/streams/destroy.js
  lib/internal/streams/end-of-stream.js
  lib/internal/streams/operators.js
  lib/internal/streams/pipeline.js
  lib/internal/streams/readable.js
  lib/internal/test_runner/mock/mock_timers.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/util.js
  lib/internal/util/embedding.js
  lib/internal/util/parse_args/parse_args.js
  lib/internal/v8/startup_snapshot.js
  lib/internal/validators.js
  lib/internal/webstreams/adapters.js
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/util.js
  lib/internal/webstreams/writablestream.js
  lib/net.js
  lib/repl.js
  lib/tty.js
  lib/util.js
  test/parallel/test-eslint-alphabetize-errors.js
  tools/eslint-rules/alphabetize-errors.js
Labels: lib / src, author ready, needs-ci

#52645 test: skip test-fs-watch-recursive-delete.js on IBM i
  test/parallel/test-fs-watch-recursive-delete.js
Labels: test, fast-track, author ready, needs-ci, ibm i

#52595 src: add `string_view` overload to snapshot FromBlob
  src/api/embed_helpers.cc
  src/node.h
Labels: c++, semver-minor, embedding, needs-ci, snapshot

#52559 build: fix arm64 cross-compilation bug on non-arm machines
  node.gyp
Labels: build, author ready, needs-ci

#52660 doc: fix incorrect language identifiers causing duplicated code blocks in test.md
  doc/api/test.md
Labels: doc, fast-track, test_runner

#52509 lib, url: allow `options` for URL parsing in `fileURLtoPath` and `pathToFileURL`
  doc/api/esm.md
  doc/api/url.md
  lib/internal/url.js
  lib/url.js
  test/parallel/test-url-fileurltopath.js
  test/parallel/test-url-pathtofileurl.js
Labels: semver-minor, whatwg-url, author ready, needs-ci

#52659 typings: fix invalid JSDoc declarations
  lib/internal/modules/esm/loader.js
Labels: esm, fast-track, author ready, commit-queue-failed, typings

#52505 2024-04-24, Version 22.0.0 (Current)
  CHANGELOG.md
  doc/api/cli.md
  doc/api/crypto.md
  doc/api/deprecations.md
  doc/api/events.md
  doc/api/fs.md
  doc/api/globals.md
  doc/api/process.md
  doc/api/report.md
  doc/api/stream.md
  doc/api/test.md
  doc/api/v8.md
  doc/changelogs/CHANGELOG_ARCHIVE.md
  doc/changelogs/CHANGELOG_IOJS.md
  doc/changelogs/CHANGELOG_V010.md
  doc/changelogs/CHANGELOG_V012.md
  doc/changelogs/CHANGELOG_V10.md
  doc/changelogs/CHANGELOG_V11.md
  doc/changelogs/CHANGELOG_V12.md
  doc/changelogs/CHANGELOG_V13.md
  doc/changelogs/CHANGELOG_V14.md
  doc/changelogs/CHANGELOG_V15.md
  doc/changelogs/CHANGELOG_V16.md
  doc/changelogs/CHANGELOG_V17.md
  doc/changelogs/CHANGELOG_V18.md
  doc/changelogs/CHANGELOG_V19.md
  doc/changelogs/CHANGELOG_V20.md
  doc/changelogs/CHANGELOG_V21.md
  doc/changelogs/CHANGELOG_V22.md
  doc/changelogs/CHANGELOG_V4.md
  doc/changelogs/CHANGELOG_V5.md
  doc/changelogs/CHANGELOG_V6.md
  doc/changelogs/CHANGELOG_V7.md
  doc/changelogs/CHANGELOG_V8.md
  doc/changelogs/CHANGELOG_V9.md
  src/node_version.h
Labels: release

#52643 test: fix backtick usage in docs
  test/parallel/test-cli-node-options-docs.js
Labels: test, needs-ci

#52648 doc: remove relative limitation to pm
  doc/api/permissions.md
Labels: doc, experimental, author ready, permission

#52058 lib,src: iterate module requests of a module wrap in JS
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/vm/module.js
  src/env_properties.h
  src/module_wrap.cc
  src/module_wrap.h
  test/parallel/test-internal-module-wrap.js
Labels: c++, lib / src, needs-ci

#52577 module: skip NODE_COMPILE_CACHE when policy is enabled
  src/env.cc
  test/parallel/test-compile-cache-policy.js
Labels: c++, needs-ci, commit-queue-squash

#52638 src: cast to v8::Value before using v8::EmbedderGraph::V8Node
  src/memory_tracker-inl.h
Labels: c++, needs-ci

#52669 tools: take co-authors into account in `find-inactive-collaborators`
  tools/find-inactive-collaborators.mjs
Labels: tools, author ready

#52671 test: mark test as flaky
  test/parallel/parallel.status
Labels: test, author ready, needs-ci

#52676 deps: V8: cherry-pick 500de8bd371b
  common.gypi
  deps/v8/BUILD.gn
  deps/v8/src/compiler/turboshaft/assembler.h
  deps/v8/src/wasm/wasm-disassembler.cc
Labels: build, v8 engine, author ready, needs-ci, v22.x

#52708 fs: allow setting Stats/BigIntStats Date properties
  lib/internal/fs/utils.js
  test/parallel/test-fs-stat-bigint.js
  test/parallel/test-fs-stat.js
Labels: fs, author ready, commit-queue-squash

#52657 stream: update ongoing promise in async iterator `return()` method
  lib/internal/webstreams/readablestream.js
  test/fixtures/wpt/README.md
  test/fixtures/wpt/streams/piping/crashtests/cross-piping2.https.html
  test/fixtures/wpt/streams/piping/detached-context-crash.html
  test/fixtures/wpt/streams/readable-streams/async-iterator.any.js
  test/fixtures/wpt/streams/readable-streams/tee-detached-context-crash.html
  test/fixtures/wpt/versions.json
Labels: author ready, web streams, commit-queue-squash

#52713 http2: fix excessive CPU usage when using `allowHTTP1=true`
  lib/internal/http2/core.js
Labels: http2, author ready

#52739 test: make `test-error-serdes` as flaky
  test/parallel/parallel.status
Labels: test, fast-track, needs-ci

#52370 lib: replace MessageEvent with undici's
  lib/.eslintrc.yaml
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  lib/internal/worker/io.js
  test/parallel/test-messageevent-brandcheck.js
  test/parallel/test-worker-message-event.js
Labels: semver-major, lib / src, tsc-agenda, worker, needs-ci, needs-benchmark-ci

#52719 build: fix typo in node.gyp
  node.gyp
Labels: build, author ready, needs-ci

#52723 cli: remove --no-experimental-global-customevent flag
  doc/api/cli.md
  doc/api/globals.md
  doc/node.1
  lib/internal/bootstrap/web/exposed-wildcard.js
  lib/internal/process/pre_execution.js
  src/node_options.cc
  src/node_options.h
  test/common/globals.js
  test/parallel/test-global-customevent-disabled.js
  test/parallel/test-process-env-allowed-flags-are-documented.js
Labels: c++, semver-major, process, lib / src, author ready, needs-ci, commit-queue-squash

#52047 module: support ESM detection in the CJS loader
  .eslintrc.js
  doc/api/modules.md
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/run_main.js
  src/node_contextify.cc
  src/node_errors.cc
  src/node_errors.h
  test/es-module/test-require-module-detect-entry-point-aou.js
  test/es-module/test-require-module-detect-entry-point.js
  test/es-module/test-require-module-dont-detect-cjs.js
  test/es-module/test-require-module-with-detection.js
Labels: module, lib / src, cli, esm, author ready, needs-ci, commit-queue-squash

#52693 meta: standardize regex
  .github/label-pr-config.yml
Labels: meta, author ready, commit-queue-squash

#52730 src,permission: throw async errors on async APIs
  src/node_dir.cc
  src/node_file.cc
  src/permission/permission.cc
  src/permission/permission.h
  test/fixtures/permission/fs-read.js
  test/fixtures/permission/fs-symlink-target-write.js
  test/fixtures/permission/fs-symlink.js
  test/fixtures/permission/fs-traversal.js
  test/fixtures/permission/fs-wildcard.js
  test/fixtures/permission/fs-write.js
  test/fixtures/permission/loader/index.js
Labels: c++, lib / src, security, notable-change, author ready, needs-ci, dont-land-on-v18.x, permission
