Repository nodejs/node, pull requests merged in 2024-10, with the labels that each got.

#55200 doc: use correct dash in stability status
  doc/api/fs.md
Labels: doc, fs, fast-track, author ready

#55166 doc: mention addons to experimental permission
  doc/api/cli.md
Labels: doc, cli, author ready, permission

#54929 test: adding more tests for strip-types
  test/es-module/test-typescript.mjs
  test/fixtures/typescript/ts/test-parameter-properties.ts
  test/fixtures/typescript/ts/test-union-types.ts
Labels: test, esm, author ready, needs-ci, strip-types

#55242 doc: fix unordered error anchors
  doc/api/errors.md
Labels: doc, errors, fast-track, author ready

#55199 doc: update `require(ESM)` history and stability status
  doc/api/modules.md
Labels: doc, module, author ready, commit-queue-failed, commit-queue-squash, backport-requested-v20.x, backport-requested-v22.x

#55226 module: add internal type def for `flushCompileCache`
  typings/internalBinding/modules.d.ts
Labels: module, fast-track, author ready, typings, loaders

#55206 worker: handle invalid BroadcastChannel postMessage after close
  lib/internal/worker/io.js
  test/wpt/status/webmessaging/broadcastchannel.json
Labels: author ready, worker, needs-ci

#55148 fs: acknowledge `signal` option in `filehandle.createReadStream()`
  doc/api/fs.md
  test/parallel/test-fs-read-stream-file-handle.js
Labels: doc, fs, test, author ready, needs-ci, commit-queue-squash

#55186 test_runner: update test context.assert
  doc/api/test.md
Labels: doc, author ready, test_runner

#55210 build: include `.nycrc` in coverage workflows
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
Labels: meta, author ready, coverage

#55123 test: move coverage source map tests to new file
  test/fixtures/test-runner/source-maps/line-lengths/index.js
  test/fixtures/test-runner/source-maps/line-lengths/index.js.map
  test/fixtures/test-runner/source-maps/line-lengths/index.ts
  test/fixtures/test-runner/source-maps/missing-sources/index.js
  test/fixtures/test-runner/source-maps/missing-sources/index.js.map
  test/parallel/test-runner-coverage-source-map.js
  test/parallel/test-runner-coverage.js
Labels: test, author ready, test_runner

#55212 doc: tweak onboarding instructions
  onboarding.md
Labels: doc, meta, author ready, commit-queue-squash

#55115 deps: V8: backport 0d5d6e71bbb0
  common.gypi
  deps/v8/src/flags/flag-definitions.h
  deps/v8/src/init/bootstrapper.cc
  deps/v8/test/mjsunit/harmony/promise-withresolvers.js
  deps/v8/test/test262/testcfg.py
Labels: build, v8 engine, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#54705 test_runner: add cwd option to run
  doc/api/test.md
  lib/internal/test_runner/coverage.js
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/runner.js
  test/fixtures/test-runner-watch.mjs
  test/parallel/test-runner-no-isolation-different-cwd.mjs
  test/parallel/test-runner-run-watch.mjs
  test/parallel/test-runner-run.mjs
  test/parallel/test-runner-watch-mode.mjs
Labels: author ready, commit-queue-squash, test_runner

#55234 worker: add `markAsUncloneable` api
  doc/api/worker_threads.md
  lib/internal/worker/io.js
  lib/worker_threads.js
  test/parallel/test-worker-message-mark-as-uncloneable.js
Labels: semver-minor, author ready, worker, needs-ci

#55243 module: use kNodeModulesRE to detect node_modules
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/helpers.js
  lib/internal/util.js
Labels: util, module, esm, needs-ci

#55245 doc: fix initial default value of autoSelectFamily
  doc/api/net.md
Labels: doc, net, author ready

#54295 process: add `process.features.typescript`
  doc/api/process.md
  lib/internal/bootstrap/node.js
  test/es-module/test-typescript.mjs
  test/parallel/test-process-features.js
Labels: process, experimental, author ready, needs-ci, commit-queue-squash, strip-types

#55248 doc: move `ERR_NAPI_TSFN_START/STOP_IDLE_LOOP` to legacy errors
  doc/api/errors.md
Labels: doc, errors, author ready

#54777 sqlite: enable foreign key constraints by default
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-database-sync.js
Labels: c++, needs-ci, sqlite

#54721 sqlite: make sourceSQL and expandedSQL string-valued properties
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-statement-sync.js
Labels: c++, needs-ci, sqlite

#55262 crypto: add KeyObject.prototype.toCryptoKey
  doc/api/crypto.md
  lib/internal/crypto/aes.js
  lib/internal/crypto/cfrg.js
  lib/internal/crypto/ec.js
  lib/internal/crypto/keys.js
  lib/internal/crypto/mac.js
  lib/internal/crypto/rsa.js
  lib/internal/crypto/webcrypto.js
  test/parallel/test-crypto-key-objects-to-crypto-key.js
  test/parallel/test-webcrypto-export-import.js
Labels: crypto, semver-minor, lib / src, author ready, needs-ci, webcrypto

#55231 test_runner: fix TypeError exception when --enable-source-maps is passed
  lib/internal/test_runner/test.js
  test/parallel/test-runner-enable-source-maps-issue.js
Labels: author ready, commit-queue-squash, test_runner

#55055 test_runner: throw on invalid source map
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/test_runner/coverage.js
  test/fixtures/test-runner/source-maps/invalid-json/index.js
  test/fixtures/test-runner/source-maps/invalid-json/index.js.map
  test/fixtures/test-runner/source-maps/missing-map.js
  test/parallel/test-runner-coverage-source-map.js
Labels: errors, coverage, source maps, test_runner

#55276 lib: remove `Symbol[Async]Dispose` polyfills
  lib/_http_server.js
  lib/child_process.js
  lib/dgram.js
  lib/events.js
  lib/https.js
  lib/inspector.js
  lib/internal/child_process.js
  lib/internal/events/abort_listener.js
  lib/internal/fs/promises.js
  lib/internal/http2/core.js
  lib/internal/process/pre_execution.js
  lib/internal/readline/interface.js
  lib/internal/streams/add-abort-signal.js
  lib/internal/streams/end-of-stream.js
  lib/internal/streams/pipeline.js
  lib/internal/streams/readable.js
  lib/internal/streams/writable.js
  lib/internal/test_runner/mock/mock_timers.js
  lib/internal/test_runner/test.js
  lib/internal/util.js
  lib/internal/webstreams/readablestream.js
  lib/net.js
  lib/readline.js
  lib/readline/promises.js
  lib/timers.js
  typings/primordials.d.ts
Labels: lib / src, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x

#55261 v8: out of bounds copy
  lib/v8.js
  test/parallel/test-v8-deserialize-buffer.js
Labels: buffer, author ready, needs-ci, v8 module

#55241 process: add process.features.require_module
  doc/api/modules.md
  doc/api/process.md
  lib/internal/bootstrap/node.js
  test/es-module/test-require-module-feature-detect.js
  test/parallel/test-process-features.js
Labels: semver-minor, lib / src, needs-ci, commit-queue-squash

#55304 build: fix notify-on-review-wanted action
  .github/workflows/notify-on-review-wanted.yml
Labels: meta, fast-track, author ready

#55286 src: implement IsInsideNodeModules() in C++
  lib/buffer.js
  lib/internal/util.js
  src/node_util.cc
  test/fixtures/warning_node_modules/new-buffer-cjs.js
  test/fixtures/warning_node_modules/new-buffer-esm.mjs
  test/fixtures/warning_node_modules/node_modules/new-buffer-cjs/index.js
  test/fixtures/warning_node_modules/node_modules/new-buffer-cjs/package.json
  test/fixtures/warning_node_modules/node_modules/new-buffer-esm/index.js
  test/fixtures/warning_node_modules/node_modules/new-buffer-esm/package.json
  test/parallel/test-buffer-constructor-node-modules.js
Labels: buffer, util, c++, needs-ci, commit-queue-squash

#55260 [v22.x backport] deps: V8: backport 0d5d6e71bbb0
  common.gypi
  deps/v8/src/flags/flag-definitions.h
  deps/v8/src/init/bootstrapper.cc
  deps/v8/test/mjsunit/harmony/promise-withresolvers.js
  deps/v8/test/test262/testcfg.py
Labels: build, v8 engine, needs-ci, v22.x

#55263 [v22.x backport] doc: update `require(ESM)` history and stability status
  doc/api/modules.md
Labels: doc, module, v22.x

#55172 test: make `test-loaders-workers-spawned` less flaky
  test/es-module/test-loaders-workers-spawned.mjs
Labels: test, esm, author ready, needs-ci

#55284 doc: add onboarding details for ambassador program
  doc/contributing/advocacy-ambasador-program.md
Labels: doc, meta, author ready, commit-queue-squash

#55150 lib: fix module print timing when specifier includes `"`
  lib/internal/util/debuglog.js
  test/parallel/test-module-print-timing.mjs
Labels: util, author ready, needs-ci

#55218 tools: enforce errors to not be documented in legacy section
  doc/api/errors.md
  test/parallel/test-eslint-documented-errors.js
  tools/eslint-rules/documented-errors.js
Labels: doc, tools, errors, author ready, commit-queue-squash

#55228 test_runner: fix coverage report when --enable-source-maps is provided
  lib/internal/test_runner/coverage.js
  test/parallel/test-runner-coverage-source-map.js
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#55250 module: check --experimental-require-module separately from detection
  lib/internal/modules/cjs/loader.js
  test/es-module/test-disable-require-module-with-detection.js
  test/fixtures/es-modules/loose.js
Labels: module, needs-ci

#55297 sqlite: disable DQS misfeature by default
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-database-sync.js
Labels: c++, experimental, author ready, needs-ci, sqlite

#55144 doc: fix `events.once()` example with `AbortSignal`
  doc/api/events.md
Labels: doc, events, author ready

#55238 benchmark: rewrite detect-esm-syntax benchmark
  benchmark/esm/detect-esm-syntax.js
Labels: benchmark, esm

#55331 doc: add pmarchini to collaborators
  README.md
Labels: doc, meta, fast-track, author ready

#55306 doc: reserve 132 for Electron 34
  doc/abi_version_registry.json
Labels: doc, author ready

#55316 module: wrap swc error in ERR_INVALID_TYPESCRIPT_SYNTAX
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/modules/helpers.js
  test/es-module/test-typescript-eval.mjs
Labels: module, errors, author ready, needs-ci, strip-types

#55247 doc: move `ERR_INVALID_PERFORMANCE_MARK` to legacy errors
  doc/api/errors.md
Labels: doc, errors, author ready

#54160 fs,win: fix bug in paths with trailing slashes
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/streams.js
  lib/internal/fs/utils.js
  test/sequential/test-fs-path-dir.js
Labels: fs, semver-major, needs-ci

#55349 doc: add release key for aduh95
  README.md
Labels: doc, fast-track, author ready, lts-watch-v18.x, lts-watch-v20.x

#55321 test: use more informative errors in `test-runner-cli`
  test/parallel/test-runner-cli.js
Labels: test, author ready, needs-ci

#55324 tools: enforce ordering of error codes in `errors.md`
  doc/api/errors.md
  tools/eslint-rules/documented-errors.js
Labels: tools, errors, author ready, dont-land-on-v18.x, dont-land-on-v20.x

#55353 fs: fix linter issue
  lib/internal/fs/utils.js
  test/sequential/test-fs-path-dir.js
Labels: fs, fast-track, author ready, needs-ci, commit-queue-squash

#55320 test: fix tests when Amaro is unavailable
  test/es-module/test-esm-loader-entry-url.mjs
  test/parallel/test-runner-cli.js
Labels: test, esm, needs-ci, strip-types

#55249 build,win: enable pch for clang-cl
  node.gypi
  tools/gyp/pylib/gyp/generator/msvs.py
  tools/v8_gypfiles/v8.gyp
Labels: windows, build, v8 engine, tools, needs-ci, gyp

#55323 process: fix `process.features.typescript` when Amaro is unavailable
  lib/internal/bootstrap/node.js
  test/es-module/test-typescript.mjs
  test/fixtures/typescript/echo-process-features-typescript.cjs
Labels: process, author ready, needs-ci, strip-types

#55339 Revert "test_runner: ignore unmapped lines for coverage"
  lib/internal/test_runner/coverage.js
  test/parallel/test-runner-coverage-source-map.js
Labels: test, fast-track, author ready, needs-ci, revert, dont-land-on-v18.x, test_runner, dont-land-on-v20.x, dont-land-on-v22.x

#55290 doc: fix the return type of outgoingMessage.setHeaders()
  doc/api/http.md
Labels: http, doc, author ready

#55334 doc: edit onboarding guide to clarify when mailmap addition is needed
  onboarding.md
Labels: doc, author ready, commit-queue-squash

#54505 node-api: add napi_create_buffer_from_arraybuffer method
  doc/api/n-api.md
  src/node_api.cc
  src/node_api.h
  test/node-api/test_buffer/binding.gyp
  test/node-api/test_buffer/test.js
  test/node-api/test_buffer/test_buffer.c
Labels: buffer, c++, node-api, needs-ci, commit-queue-squash

#55254 benchmark: adjust config for deepEqual object
  benchmark/assert/deepequal-object.js
Labels: assert, benchmark, review wanted

#55333 esm: mark import attributes and JSON module as stable
  doc/api/esm.md
  lib/internal/modules/esm/translators.js
  test/es-module/test-esm-json.mjs
Labels: notable-change, esm, author ready, needs-ci, lts-watch-v18.x, lts-watch-v20.x

#50853 assert: fix deepEqual always return true on URL
  lib/internal/util/comparisons.js
  lib/internal/util/inspect.js
  test/parallel/test-assert-deep.js
Labels: assert, util, whatwg-url, author ready, commit-queue-squash

#55317 lib: convert transfer sequence to array in js
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  lib/internal/perf/usertiming.js
  lib/internal/webidl.js
  lib/internal/webstreams/readablestream.js
  lib/internal/worker/js_transferable.js
  src/node_messaging.cc
  test/parallel/test-structuredClone-global.js
Labels: author ready, needs-ci, web-standards

#55361 doc: fix ambasador markdown list
  doc/contributing/advocacy-ambasador-program.md
Labels: doc, author ready

#55273 doc: add missing return values in buffer docs
  doc/api/buffer.md
Labels: buffer, doc, fast-track, author ready

#55287 build: fix make errors that occur in Makefile
  Makefile
Labels: build, author ready, needs-ci, commit-queue-squash

#55291 test: update test_util.cc for coverage
  test/cctest/test_util.cc
Labels: c++, test, author ready, needs-ci

#55116 diagnostics_channel: fix unsubscribe during publish
  lib/diagnostics_channel.js
  test/parallel/test-diagnostics-channel-sync-unsubscribe.js
Labels: author ready, needs-ci, diagnostics_channel

#55295 benchmark: adjust byte size for buffer-copy
  benchmark/buffers/buffer-copy.js
Labels: buffer, benchmark, author ready

#55359 test_runner: require `--enable-source-maps` for sourcemap coverage
  lib/internal/test_runner/coverage.js
  test/parallel/test-runner-coverage-source-map.js
Labels: author ready, coverage, source maps, test_runner

#55354 lib: clean up references to GCed abort signals
  lib/internal/abort_controller.js
  test/parallel/test-abortsignal-drop-settled-signals.mjs
Labels: author ready, needs-ci, abortcontroller, commit-queue-squash

#55207 src: fix winapi_strerror error string
  src/api/exceptions.cc
  test/parallel/test-debug-process.js
Labels: c++, needs-ci

#55377 buffer: make Buffer work with resizable ArrayBuffer
  lib/buffer.js
  test/parallel/test-buffer-resizable.js
Labels: buffer, semver-minor, notable-change, author ready

#55365 esm: fix inconsistency of importAssertions between resolve and load hook
  lib/internal/modules/esm/hooks.js
  test/es-module/test-esm-import-assertion-warning.mjs
  test/fixtures/es-module-loaders/hooks-input.mjs
Labels: esm, needs-ci

#55244 test_runner: add mock timers for nodeTimers.promises.scheduler.wait
  lib/internal/test_runner/mock/mock_timers.js
  test/parallel/test-runner-mock-timers.js
Labels: timers, needs-ci, test_runner

#55175 lib: runtime deprecate SlowBuffer
  doc/api/deprecations.md
  lib/buffer.js
  test/parallel/test-buffer-slow.js
Labels: buffer, semver-major, needs-ci, needs-citgm

#55338 2024-10-16, Version 23.0.0 (Current)
  CHANGELOG.md
  doc/abi_version_registry.json
  doc/api/buffer.md
  doc/api/cli.md
  doc/api/crypto.md
  doc/api/deprecations.md
  doc/api/errors.md
  doc/api/esm.md
  doc/api/fs.md
  doc/api/globals.md
  doc/api/http2.md
  doc/api/module.md
  doc/api/modules.md
  doc/api/n-api.md
  doc/api/process.md
  doc/api/test.md
  doc/api/worker_threads.md
  doc/changelogs/CHANGELOG_ARCHIVE.md
  doc/changelogs/CHANGELOG_IOJS.md
  doc/changelogs/CHANGELOG_V010.md
  doc/changelogs/CHANGELOG_V012.md
  doc/changelogs/CHANGELOG_V10.md
  doc/changelogs/CHANGELOG_V11.md
  doc/changelogs/CHANGELOG_V12.md
  doc/changelogs/CHANGELOG_V13.md
  doc/changelogs/CHANGELOG_V14.md
  doc/changelogs/CHANGELOG_V15.md
  doc/changelogs/CHANGELOG_V16.md
  doc/changelogs/CHANGELOG_V17.md
  doc/changelogs/CHANGELOG_V18.md
  doc/changelogs/CHANGELOG_V19.md
  doc/changelogs/CHANGELOG_V20.md
  doc/changelogs/CHANGELOG_V21.md
  doc/changelogs/CHANGELOG_V22.md
  doc/changelogs/CHANGELOG_V23.md
  doc/changelogs/CHANGELOG_V4.md
  doc/changelogs/CHANGELOG_V5.md
  doc/changelogs/CHANGELOG_V6.md
  doc/changelogs/CHANGELOG_V7.md
  doc/changelogs/CHANGELOG_V8.md
  doc/changelogs/CHANGELOG_V9.md
  src/node_version.h
Labels: needs-ci, release, v23.x

#55318 tools: add `polyfilled` option to `prefer-primordials` rule
  test/parallel/test-eslint-prefer-primordials.js
  tools/eslint-rules/prefer-primordials.js
Labels: tools, author ready, needs-ci, backport-requested-v22.x

#55387 build: fix path concatenation
  configure.py
Labels: build, author ready, needs-ci

#55392 dns: honor the order option
  lib/dns.js
  test/parallel/test-dns-default-order-verbatim.js
Labels: dns, needs-ci, dont-land-on-v18.x, lts-watch-v20.x

#55393 test: remove duplicate tests
  test/parallel/test-dns-default-verbatim-false.js
  test/parallel/test-dns-default-verbatim-true.js
Labels: test, author ready, needs-ci

#54927 lib: add flag to drop connection when running in cluster mode
  doc/api/net.md
  lib/internal/cluster/child.js
  test/parallel/test-net-server-drop-connections-in-cluster.js
Labels: cluster, net, author ready, needs-ci

#54862 assert: make assertion_error user myers diff algorithm
  lib/internal/assert/assertion_error.js
  lib/internal/assert/myers_diff.js
  test/parallel/test-assert-checktag.js
  test/parallel/test-assert-deep.js
  test/parallel/test-assert.js
  test/pseudo-tty/test-assert-colors.js
  test/pseudo-tty/test-assert-no-color.js
  test/pseudo-tty/test-assert-position-indicator.js
Labels: assert, util, semver-minor, author ready, needs-ci, needs-benchmark-ci, lts-watch-v20.x

#55426 meta: assign CODEOWNERS for /deps/ncrypto/*
  .github/CODEOWNERS
Labels: meta, fast-track, author ready

#55192 test: update `console` wpt
  test/fixtures/wpt/README.md
  test/fixtures/wpt/console/console-countReset-logging-manual.html
  test/fixtures/wpt/console/console-log-large-array.any.js
  test/fixtures/wpt/console/console-log-symbol.any.js
  test/fixtures/wpt/versions.json
Labels: test, author ready, web-standards

#55171 fs: fix crash when path contains `%`
  src/node_file.cc
  test/parallel/test-fs-cp.mjs
Labels: c++, fs, needs-ci, review wanted, commit-queue-squash

#54545 url: handle "unsafe" characters properly in `pathToFileURL`
  lib/internal/process/execution.js
  lib/internal/url.js
  test/parallel/test-url-pathtofileurl.js
Labels: process, whatwg-url, needs-ci, needs-benchmark-ci, commit-queue-squash

#55158 benchmark: add --runs support to run.js
  benchmark/run.js
  doc/contributing/writing-and-running-benchmarks.md
Labels: benchmark, author ready, commit-queue-squash

#55156 src: remove icu based `ToASCII` and `ToUnicode`
  src/node_i18n.cc
  src/node_i18n.h
  test/fixtures/icu-punycode-toascii.json
  test/parallel/test-icu-punycode.js
Labels: c++, i18n-api, needs-ci, commit-queue-squash

#54836 lib: refactor project to use `Promise.withResolvers`
  lib/child_process.js
  lib/internal/abort_controller.js
  lib/internal/blob.js
  lib/internal/fs/watchers.js
  lib/internal/streams/duplexify.js
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
  lib/internal/util.js
  lib/internal/webstreams/adapters.js
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/transfer.js
  lib/internal/webstreams/transformstream.js
  lib/internal/webstreams/writablestream.js
  test/parallel/test-runner-run-watch.mjs
  test/parallel/test-runner-watch-mode-complex.mjs
  test/parallel/test-runner-watch-mode.mjs
  typings/primordials.d.ts
Labels: lib / src, promises, author ready, needs-ci, needs-benchmark-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#55407 lib: remove startsWith/endsWith primordials for char checks
  lib/_http_agent.js
  lib/internal/main/watch_mode.js
  lib/internal/modules/esm/fetch_module.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/helpers.js
  lib/internal/process/per_thread.js
  lib/internal/process/pre_execution.js
  lib/internal/repl/utils.js
  lib/internal/url.js
  lib/internal/util/inspect.js
  lib/repl.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#55425 crypto: include `openssl/rand.h` explicitly
  deps/ncrypto/ncrypto.cc
Labels: crypto, author ready, needs-ci, dependencies

#55427 test,crypto: update WebCryptoAPI WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/import_export/ec_importKey_failures_ECDH.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/ec_importKey_failures_ECDSA.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/ec_importKey_failures_fixtures.js
  test/fixtures/wpt/WebCryptoAPI/import_export/importKey_failures.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_Ed25519.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_X25519.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_fixtures.js
  test/fixtures/wpt/versions.json
Labels: crypto, test, author ready, needs-ci, webcrypto, web-standards

#54075 src,lib: introduce `util.getSystemErrorMessage(err)`
  doc/api/util.md
  lib/internal/util.js
  lib/util.js
  src/uv.cc
  test/parallel/test-uv-errno.js
Labels: util, c++, libuv, needs-ci

#54259 cli: add `--heap-prof` flag available to `NODE_OPTIONS`
  doc/api/cli.md
  src/node_options.cc
  test/parallel/test-process-env-allowed-flags-are-documented.js
Labels: cli, author ready, needs-ci, commit-queue-failed

#55440 module: simplify ts under node_modules check
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/helpers.js
Labels: module, esm, author ready, needs-ci

#55017 url: runtime deprecate url.parse
  doc/api/deprecations.md
  lib/url.js
  test/parallel/test-url-parse-invalid-input.js
  typings/internalBinding/util.d.ts
Labels: url, semver-major, deprecations, needs-ci, commit-queue-squash

#55454 test: fix invalid `file:` URL in `test-fs-path-dir`
  test/sequential/test-fs-path-dir.js
Labels: test, author ready, needs-ci

#55414 Revert "path: fix bugs and inconsistencies"
  lib/internal/modules/cjs/loader.js
  lib/internal/url.js
  lib/path.js
  src/path.cc
  test/cctest/test_path.cc
  test/parallel/test-fs-utils-get-dirents.js
  test/parallel/test-path-makelong.js
  test/parallel/test-path-normalize.js
  test/parallel/test-path-resolve.js
Labels: path, author ready, needs-ci, revert

#55403 dgram: add UV_UDP_REUSEPORT for udp
  doc/api/dgram.md
  lib/dgram.js
  src/udp_wrap.cc
  test/common/udp.js
  test/parallel/test-child-process-dgram-reuseport.js
  test/parallel/test-cluster-dgram-reuseport.js
  test/parallel/test-dgram-reuseport.js
Labels: dgram, c++, author ready, needs-ci

#55408 net: add UV_TCP_REUSEPORT for tcp
  doc/api/net.md
  lib/net.js
  src/tcp_wrap.cc
  test/common/net.js
  test/parallel/test-child-process-net-reuseport.js
  test/parallel/test-cluster-net-reuseport.js
  test/parallel/test-net-reuseport.js
Labels: c++, net, author ready, needs-ci

#55409 build: conditionally compile bundled sqlite
  node.gyp
Labels: build, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, sqlite

#55438 fix(build): uninstall support AIX 7.1
  tools/install.py
Labels: build, aix, python, author ready, needs-ci

#55462 doc: remove outdated remarks about `highWaterMark` in fs
  doc/api/fs.md
Labels: doc, fs, author ready

#55378 test: deflake `test-cluster-shared-handle-bind-privileged-port`
  test/parallel/test-cluster-shared-handle-bind-privileged-port.js
Labels: cluster, test, author ready, needs-ci, linux, commit-queue-squash

#55450 doc: add isBigIntObject to documentation
  doc/api/util.md
Labels: util, doc, author ready, commit-queue-squash

#55322 doc: add note about stdio streams in child_process
  doc/api/child_process.md
Labels: child_process, doc, author ready, commit-queue-squash

#55453 src: switch from `Get/SetPrototype` to `Get/SetPrototypeV2`
  src/api/environment.cc
  src/internal_only_v8.cc
  src/js_native_api_v8.cc
  src/node_buffer.cc
  src/node_constants.cc
  src/node_options.cc
  src/node_webstorage.cc
Labels: c++, lib / src, author ready, needs-ci

#55205 test: update wpt test for webmessaging/broadcastchannel
  test/fixtures/wpt/README.md
  test/fixtures/wpt/versions.json
  test/fixtures/wpt/webmessaging/broadcastchannel/WEB_FEATURES.yml
  test/fixtures/wpt/webmessaging/broadcastchannel/basics.any.js
  test/fixtures/wpt/webmessaging/broadcastchannel/workers.html
Labels: test, author ready, needs-ci

#55441 test: fix addons and node-api test assumptions
  test/addons/repl-domain-abort/test.js
  test/node-api/test_instance_data/test.js
  test/node-api/test_uv_threadpool_size/node-options.js
Labels: test, addons, node-api, author ready, needs-ci

#55439 typings: add missing type of `ArrayBufferPrototypeGetByteLength`
  typings/primordials.d.ts
Labels: author ready, typings

#55071 fs: pass correct path to `DirentFromStats` during `glob`
  lib/internal/fs/glob.js
  test/parallel/test-fs-glob.mjs
Labels: fs, author ready, needs-ci, commit-queue-squash

#55401 test: make `test-node-output-v8-warning` more flexible
  test/parallel/test-node-output-v8-warning.mjs
Labels: test

#55471 esm: add a fall back when importer in not a file
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-main-lookup.mjs
Labels: esm, author ready, needs-ci

#55473 stream: propagate AbortSignal reason
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline.js
Labels: stream, author ready, needs-ci, commit-queue-squash

#55444 doc: move dual package shipping docs to separate repo
  doc/api/packages.md
Labels: doc, author ready

#55404 lib: ensure FORCE_COLOR forces color output in non-TTY environments
  lib/internal/util/colors.js
  test/fixtures/test-runner/output/assertion-color-tty.mjs
  test/fixtures/test-runner/output/assertion-color-tty.snapshot
  test/fixtures/test-runner/output/non-tty-forced-color-output.js
  test/fixtures/test-runner/output/non-tty-forced-color-output.snapshot
  test/parallel/test-runner-output.mjs
Labels: util, lib / src, author ready, needs-ci, commit-queue-squash

#55420 Update README.md
  README.md
Labels: doc, author ready

#55491 test,crypto: make crypto tests work with BoringSSL
  test/parallel/test-crypto-dh-errors.js
  test/parallel/test-crypto-private-decrypt-gh32240.js
  test/parallel/test-tls-getcertificate-x509.js
Labels: crypto, test, openssl, author ready, needs-ci

#55282 module: add module.stripTypeScriptTypes
  doc/api/module.md
  lib/internal/main/eval_string.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/helpers.js
  lib/internal/modules/typescript.js
  lib/module.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-module-strip-types.js
Labels: semver-minor, author ready, needs-ci, strip-types

#55467 test: increase test coverage for `http.OutgoingMessage.appendHeader()`
  test/parallel/test-http-multiple-headers.js
Labels: test, author ready, needs-ci

#55412 module: add `findPackageJSON` util
  doc/api/module.md
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/package_json_reader.js
  lib/module.js
  test/fixtures/packages/cjs-main-no-index/main.js
  test/fixtures/packages/cjs-main-no-index/other.js
  test/fixtures/packages/cjs-main-no-index/package.json
  test/fixtures/packages/nested/package.json
  test/fixtures/packages/nested/sub-pkg-cjs/index.js
  test/fixtures/packages/nested/sub-pkg-cjs/package.json
  test/fixtures/packages/nested/sub-pkg-esm/index.js
  test/fixtures/packages/nested/sub-pkg-esm/package.json
  test/fixtures/packages/root-types-field/index.js
  test/fixtures/packages/root-types-field/package.json
  test/parallel/test-find-package-json.js
  typings/internalBinding/modules.d.ts
Labels: module, semver-minor, needs-ci, commit-queue-squash

#55442 sqlite: refactor open options
  src/node_sqlite.cc
  src/node_sqlite.h
Labels: c++, needs-ci, sqlite

#55512 test,crypto: update WebCryptoAPI WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/derived_bits_length_testcases.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/derived_bits_length_vectors.js
  test/fixtures/wpt/versions.json
  test/wpt/status/WebCryptoAPI.cjs
Labels: crypto, test, author ready, needs-ci, webcrypto

#55501 test: avoid `apply()` calls with large amount of elements
  test/parallel/test-buffer-includes.js
  test/parallel/test-buffer-indexof.js
Labels: test, author ready, needs-ci

#55507 doc: add esm examples to `node:string_decoder`
  doc/api/string_decoder.md
Labels: doc, string_decoder

#55493 test: increase coverage of `pathToFileURL`
  test/parallel/test-url-pathtofileurl.js
Labels: test, author ready, needs-ci, commit-queue-squash

#55529 build: fix GN build for sqlite and nghttp2
  deps/nghttp2/unofficial.gni
  deps/sqlite/unofficial.gni
Labels: http2, needs-ci, dependencies, sqlite

#55534 doc: add suggested tsconfig for type stripping
  doc/api/typescript.md
Labels: doc, author ready

#55536 doc: move typescript support to active development
  doc/api/cli.md
  doc/api/module.md
  doc/api/process.md
  doc/api/typescript.md
Labels: doc, notable-change, experimental, author ready, strip-types

#55547 fs: make `dirent.path` writable
  doc/api/fs.md
  lib/internal/fs/utils.js
  test/parallel/test-fs-utils-get-dirents.js
Labels: fs, semver-minor, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x

#55530 build: fix GN arg used in `generate_config_gypi.py`
  tools/generate_config_gypi.py
Labels: tools

#55457 http: don't emit error after destroy
  lib/_http_outgoing.js
  test/parallel/test-http-outgoing-destroyed.js
Labels: http, baking-for-lts, author ready, needs-ci, needs-citgm, commit-queue-squash

#55458 src: migrate `String::Value` to `String::ValueView`
  src/inspector_js_api.cc
  src/node_buffer.cc
  src/string_bytes.cc
Labels: c++, lib / src, author ready, needs-ci, needs-citgm, commit-queue-squash

#55560 src: do not run IsWindowsBatchFile on non-windows
  src/process_wrap.cc
  src/spawn_sync.cc
  src/util-inl.h
Labels: c++, lib / src, author ready, needs-ci

#55504 v22.11.0 proposal
  CHANGELOG.md
  doc/changelogs/CHANGELOG_V22.md
  src/node_version.h
  test/parallel/test-process-release.js
Labels: needs-ci, release, v22.x

#55496 module: trim off internal stack frames for require(esm) warnings
  lib/internal/modules/cjs/loader.js
  lib/internal/util.js
  test/es-module/test-require-module-warning.js
  test/fixtures/es-modules/require-module.js
Labels: util, module, needs-ci, review wanted

#55520 module: fix error thrown from require(esm) hitting TLA repeatedly
  lib/internal/errors.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  src/module_wrap.cc
  test/es-module/test-require-module-tla-retry-require.js
Labels: c++, errors, esm, author ready, needs-ci, commit-queue-squash

#55486 test: remove unneeded listeners
  test/parallel/test-child-process-dgram-reuseport.js
  test/parallel/test-child-process-net-reuseport.js
  test/parallel/test-cluster-dgram-reuseport.js
  test/parallel/test-cluster-net-reuseport.js
  test/parallel/test-dgram-reuseport.js
  test/parallel/test-net-reuseport.js
Labels: test, needs-ci

#55563 build: fix building with system icu 76
  configure.py
Labels: build, author ready, needs-ci, icu

#55575 doc: capitalize "MIT License"
  README.md
Labels: doc, fast-track, author ready

#55430 dns: stop using deprecated `ares_query`
  src/cares_wrap.cc
  src/cares_wrap.h
Labels: c++, cares, author ready, needs-ci, commit-queue-squash

#55581 src: use NewFromUtf8Literal in NODE_DEFINE_CONSTANT
  src/node.h
Labels: c++, author ready, needs-ci, commit-queue-squash

#55567 sqlite: add readOnly option
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-database-sync.js
Labels: c++, experimental, author ready, needs-ci, sqlite

#55586 http: add diagnostic channel `http.client.request.created`
  doc/api/diagnostics_channel.md
  lib/_http_client.js
  test/parallel/test-diagnostic-channel-http-request-created.js
  test/parallel/test-diagnostics-channel-http.js
Labels: http, semver-minor, author ready, needs-ci

#55590 module: unify TypeScript and .mjs handling in CommonJS
  lib/internal/modules/cjs/loader.js
Labels: module, author ready, needs-ci

#55460 http2: fix client async storage persistence
  lib/internal/http2/core.js
  test/parallel/test-http2-async-local-storage.js
Labels: http2, author ready, needs-ci, commit-queue-failed

#55476 url: refactor `pathToFileURL` to native
  lib/internal/url.js
  src/node_url.cc
  src/node_url.h
Labels: c++, whatwg-url, author ready, needs-ci, needs-benchmark-ci
