Repository nodejs/node, pull requests merged in 2024-12, with the labels that each got.

#56053 test: move test-worker-arraybuffer-zerofill to parallel
  test/parallel/parallel.status
  test/parallel/test-worker-arraybuffer-zerofill.js
Labels: test, needs-ci

#56081 src: avoid copy on getV8FastApiCallCount
  src/node_debug.cc
Labels: c++, author ready, needs-ci

#56082 src: add async context frame to AsyncResource
  src/api/async_resource.cc
  src/env-inl.h
  src/env.h
  src/node.h
Labels: c++, semver-major, author ready, needs-ci, async_local_storage

#56065 src: remove dead code in async_wrap
  src/async_wrap.cc
  src/async_wrap.h
Labels: c++, async_hooks, author ready, needs-ci

#56084 dgram: check udp buffer size to avoid fd leak
  lib/dgram.js
  test/parallel/test-dgram-createSocket-type.js
Labels: dgram, needs-ci

#56086 src: use std::string_view for process emit fns
  src/node_process.h
  src/node_process_events.cc
Labels: c++, author ready, needs-ci

#56079 net: support blocklist for net.Server
  doc/api/net.md
  lib/net.js
  test/parallel/test-net-server-blocklist.js
Labels: net, semver-minor, author ready, needs-ci

#56092 module: remove --experimental-default-type
  doc/api/cli.md
  doc/api/esm.md
  doc/api/module.md
  doc/api/packages.md
  doc/node.1
  lib/internal/main/check_syntax.js
  lib/internal/main/eval_stdin.js
  lib/internal/main/eval_string.js
  lib/internal/main/run_main_module.js
  lib/internal/modules/esm/formats.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/run_main.js
  lib/internal/process/execution.js
  src/node_options.cc
  src/node_options.h
  test/es-module/test-esm-detect-ambiguous.mjs
  test/es-module/test-esm-extensionless-esm-and-wasm.mjs
  test/es-module/test-esm-type-flag-cli-entry.mjs
  test/es-module/test-esm-type-flag-errors.mjs
  test/es-module/test-esm-type-flag-loose-files.mjs
  test/es-module/test-esm-type-flag-package-scopes.mjs
  test/es-module/test-esm-type-flag-string-input.mjs
  test/es-module/test-typescript-commonjs.mjs
  test/es-module/test-typescript-module.mjs
  test/es-module/test-typescript.mjs
  test/fixtures/es-modules/loose.js
  test/fixtures/es-modules/package-without-type/noext-esm
  test/parallel/test-runner-module-mocking.js
Labels: module, lib / src, baking-for-lts, esm, author ready

#55275 util: add fast path for Latin1 decoding
  benchmark/util/text-decoder.js
  lib/internal/encoding.js
  src/encoding_binding.cc
  src/encoding_binding.h
  test/cctest/test_encoding_binding.cc
Labels: c++, v8 engine, encoding, author ready, needs-ci, commit-queue-squash

#55993 doc: add create-release-action to process
  doc/contributing/releases.md
Labels: doc, author ready, commit-queue-squash

#56062 src: add missing qualifiers to env.cc
  src/env.cc
  src/env.h
Labels: c++, author ready, needs-ci

#56016 build: allow overriding clang usage
  configure.py
Labels: build, embedding, author ready, needs-ci

#56125 doc: fix typo
  doc/changelogs/CHANGELOG_V22.md
Labels: fast-track, release

#56108 crypto: ensure CryptoKey usages and algorithm are cached objects
  lib/internal/crypto/keys.js
  test/parallel/test-webcrypto-export-import-cfrg.js
  test/parallel/test-webcrypto-export-import-ec.js
  test/parallel/test-webcrypto-export-import-rsa.js
  test/parallel/test-webcrypto-export-import.js
  test/parallel/test-webcrypto-keygen.js
Labels: crypto, author ready, needs-ci, webcrypto, web-standards

#56132 doc: add LJHarb to collaborators
  README.md
Labels: doc, notable-change, fast-track, author ready

#56025 test: ensure `cli.md` is in alphabetical order
  doc/api/cli.md
  test/parallel/test-cli-node-options-docs.js
Labels: author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#56122 module: mark evaluation rejection in require(esm) as handled
  src/module_wrap.cc
  test/es-module/test-require-module-error-catching.js
  test/es-module/test-require-module-synchronous-rejection-handling.js
  test/fixtures/es-modules/reference-error-esm.js
  test/fixtures/es-modules/runtime-error-esm.js
  test/fixtures/es-modules/synchronous-rejection-esm.js
Labels: c++, author ready, needs-ci

#56041 lib: fix fs.readdir recursive async
  lib/fs.js
  test/fixtures/permission/fs-read.js
Labels: fs, author ready, needs-ci, commit-queue-squash

#56054 tools: update `create-release-proposal` workflow
  .github/workflows/create-release-proposal.yml
  tools/actions/create-release.sh
Labels: meta, tools, commit-queue-squash

#56124 doc: mention tools/release -a option
  doc/contributing/releases.md
Labels: doc, author ready

#56075 net: support blockList in net.connect
  doc/api/errors.md
  doc/api/net.md
  lib/internal/errors.js
  lib/net.js
  test/parallel/test-net-blocklist.js
Labels: net, semver-minor, errors, author ready, needs-ci

#56052 test: remove test-fs-utimes flaky designation
  test/parallel/parallel.status
Labels: test, needs-ci

#56023 lib: add validation for options in compileFunction
  lib/vm.js
  test/parallel/test-vm-basic.js
Labels: vm, author ready, needs-ci

#56071 src,build: add no user defined deduction guides of CTAD check
  node.gyp
  node.gypi
  src/quic/session.cc
Labels: build, author ready, needs-ci

#56130 doc: add report version section
  doc/api/report.md
Labels: doc, author ready, report

#56131 doc: fix module.md headings
  doc/api/module.md
Labels: doc, module, author ready, dont-land-on-v18.x, dont-land-on-v20.x

#56123 doc: update blog release-post link
  doc/contributing/releases.md
Labels: doc

#55816 lib: disable default memory leak warning for AbortSignal
  doc/api/events.md
  lib/internal/abort_controller.js
  test/parallel/test-eventtarget-memoryleakwarning.js
Labels: author ready, needs-ci

#56120 sea: only assert snapshot main function for main threads
  src/node.cc
  test/sequential/test-single-executable-application-snapshot-worker.js
Labels: c++, needs-ci, commit-queue-squash

#55996 lib: handle Float16Array in node:v8 serdes
  lib/eslint.config_partial.mjs
  lib/v8.js
  test/parallel/test-v8-serdes.js
Labels: author ready, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#56151 Revert "build: avoid compiling with VS v17.12"
  vcbuild.bat
Labels: windows, build, author ready, needs-ci, revert

#54896 v8,tools: expose experimental wasm revectorize feature
  configure.py
  tools/v8_gypfiles/features.gypi
  tools/v8_gypfiles/v8.gyp
Labels: build, v8 engine, tools, author ready, needs-ci

#56001 lib: clean up persisted signals when they are settled
  lib/internal/abort_controller.js
  test/parallel/test-abortsignal-drop-settled-signals.mjs
Labels: author ready, needs-ci

#56161 tools: improve release proposal PR opening
  .github/workflows/create-release-proposal.yml
  tools/actions/create-release.sh
Labels: meta, tools, author ready

#56098 assert: partialDeepStrictEqual now handles comparisons of ArrayBuffers, SharedArrayBuffers and Int16Arrays
  lib/assert.js
  test/parallel/test-assert-objects.js
  test/parallel/test-assert-typedarray-deepequal.js
Labels: assert, author ready, needs-ci

#56164 test: remove `hasOpenSSL3x` utils
  test/common/index.js
  test/parallel/test-https-agent-session-eviction.js
  test/parallel/test-tls-alert.js
  test/parallel/test-tls-empty-sni-context.js
  test/parallel/test-tls-getprotocol.js
  test/parallel/test-tls-min-max-version.js
  test/parallel/test-tls-psk-circuit.js
  test/parallel/test-tls-session-cache.js
Labels: test, author ready, needs-ci

#56165 tools: use commit title as PR title when creating release proposal
  tools/actions/create-release.sh
Labels: tools, author ready

#56172 doc: fix c++ addon hello world sample
  doc/api/addons.md
Labels: doc, addons, author ready

#56176 tools: enable linter for `tools/icu/**`
  eslint.config.mjs
Labels: tools, author ready

#56157 tools: remove has_absl_stringify from gyp file
  tools/v8_gypfiles/v8.gyp
Labels: v8 engine, tools, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x

#56110 fs,win: fix readdir for named pipe
  src/node_file.cc
  test/parallel/test-fs-readdir-pipe.js
Labels: c++, fs, path, author ready, needs-ci, review wanted, commit-queue-squash

#56181 doc: fix incorrect link to style guide
  doc/contributing/pull-requests.md
Labels: doc

#56019 [v22.x backport] build: use glob for dependencies of out/Makefile
  Makefile
Labels: build, needs-ci, v22.x

#56058 [v22.x backport] permission: ignore internalModuleStat on module loading
  doc/api/cli.md
  doc/api/permissions.md
  lib/internal/modules/cjs/loader.js
  src/node_file.cc
  test/fixtures/permission/fs-read.js
  test/fixtures/permission/main-module.js
  test/fixtures/permission/main-module.mjs
  test/fixtures/permission/required-module.js
  test/fixtures/permission/required-module.mjs
  test/parallel/test-permission-fs-internal-module-stat.js
  test/parallel/test-permission-fs-require.js
Labels: c++, fs, module, author ready, needs-ci, v22.x

#55618 test: move localizationd data from `test-icu-env` to external file
  test/fixtures/icu/localizationData-v74.2.json
  test/fixtures/icu/localizationData-v75.1.json
  test/fixtures/icu/localizationData-v76.1.json
  test/parallel/test-icu-env.js
  tools/icu/update-test-data.mjs
Labels: tools, i18n-api, author ready, needs-ci, icu, commit-queue-squash

#56183 module: prevent main thread exiting before esm worker ends
  lib/internal/modules/esm/worker.js
  test/es-module/test-esm-loader-spawn-promisified.mjs
  test/fixtures/es-module-loaders/hooks-custom.mjs
Labels: esm, author ready, needs-ci, commit-queue-squash, lts-watch-v18.x, lts-watch-v20.x

#56186 doc: call out import.meta is only supported in ES modules
  doc/api/esm.md
Labels: doc, esm, author ready

#56188 util: do not rely on mutable `Object` and `Function`' `constructor` prop
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect.js
Labels: util, author ready, needs-ci

#56187 http2: createSecureServer support ALPNCallback option
  lib/internal/http2/core.js
  test/parallel/test-http2-alpn.js
Labels: http2, needs-ci

#56191 worker: fix crash when a worker joins after exit
  src/node_worker.cc
Labels: c++, worker

#56196 build: use variable for simdutf path
  node.gni
  unofficial.gni
Labels: build, embedding

#56133 src: fix outdated js2c.cc references
  src/node_builtins.h
Labels: c++, needs-ci

#56198 doc: update blog link to /vulnerability
  SECURITY.md
Labels: doc, author ready

#56200 doc: update announce documentation for releases
  doc/contributing/releases.md
Labels: doc, commit-queue-squash

#55096 Allow manipulating the generator in Duplex.from()
  lib/internal/streams/duplexify.js
  test/parallel/test-stream-duplex-from.js
Labels: stream, semver-minor, test, needs-ci, commit-queue-squash

#56203 tools: fix release proposal linter to support more than 1 folk preparing
  .github/workflows/lint-release-proposal.yml
Labels: meta, author ready, lts-watch-v18.x, lts-watch-v20.x

#56206 doc: `sea.getRawAsset(key)` always returns an ArrayBuffer
  doc/api/single-executable-applications.md
Labels: doc

#56201 src,lib: stabilize permission model
  benchmark/fs/readfile-permission-enabled.js
  benchmark/permission/permission-processhas-fs-read.js
  benchmark/permission/permission-startup.js
  doc/api/cli.md
  doc/api/permissions.md
  doc/api/process.md
  doc/node.1
  lib/internal/process/permission.js
  lib/internal/process/pre_execution.js
  src/env.cc
  src/node_options.cc
  src/node_options.h
  test/addons/no-addons/permission.js
  test/es-module/test-cjs-legacyMainResolve-permission.js
  test/es-module/test-esm-loader-hooks.mjs
  test/fixtures/dotenv/node-options.env
  test/parallel/test-cli-bad-options.js
  test/parallel/test-cli-permission-deny-fs.js
  test/parallel/test-cli-permission-multiple-allow.js
  test/parallel/test-compile-cache-api-permission.js
  test/parallel/test-compile-cache-permission-allowed.js
  test/parallel/test-compile-cache-permission-disallowed.js
  test/parallel/test-permission-allow-addons-cli.js
  test/parallel/test-permission-allow-child-process-cli.js
  test/parallel/test-permission-allow-wasi-cli.js
  test/parallel/test-permission-allow-worker-cli.js
  test/parallel/test-permission-child-process-cli.js
  test/parallel/test-permission-experimental.js
  test/parallel/test-permission-fs-absolute-path.js
  test/parallel/test-permission-fs-internal-module-stat.js
  test/parallel/test-permission-fs-read.js
  test/parallel/test-permission-fs-relative-path.js
  test/parallel/test-permission-fs-require.js
  test/parallel/test-permission-fs-symlink-relative.js
  test/parallel/test-permission-fs-symlink-target-write.js
  test/parallel/test-permission-fs-symlink.js
  test/parallel/test-permission-fs-traversal-path.js
  test/parallel/test-permission-fs-wildcard.js
  test/parallel/test-permission-fs-windows-path.js
  test/parallel/test-permission-fs-write-report.js
  test/parallel/test-permission-fs-write-v8.js
  test/parallel/test-permission-fs-write.js
  test/parallel/test-permission-has.js
  test/parallel/test-permission-inspector-brk.js
  test/parallel/test-permission-inspector.js
  test/parallel/test-permission-no-addons.js
  test/parallel/test-permission-processbinding.js
  test/parallel/test-permission-warning-flags.js
  test/parallel/test-permission-wasi.js
  test/parallel/test-permission-worker-threads-cli.js
  test/parallel/test-process-load-env-file.js
  test/parallel/test-repl-permission-model.js
  tools/run-worker.js
Labels: c++, semver-minor, lib / src, notable-change, author ready, needs-ci, dont-land-on-v18.x, permission

#55915 fix(node_http2.cc): remove duplicate codeblock
  src/node_http2.cc
Labels: c++, http2, needs-ci

#56112 http: add setDefaultHeaders option to http.request
  doc/api/http.md
  lib/_http_client.js
  test/parallel/test-http-dont-set-default-headers-with-set-header.js
  test/parallel/test-http-dont-set-default-headers-with-setHost.js
  test/parallel/test-http-dont-set-default-headers.js
Labels: http, author ready, needs-ci, commit-queue-squash

#55985 sqlite: add support for custom functions
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-custom-functions.js
Labels: c++, author ready, sqlite

#56197 test: fix test-abortsignal-drop-settled-signals flakiness
  test/parallel/test-abortsignal-drop-settled-signals.mjs
Labels: test, author ready, needs-ci, commit-queue-squash

#55257 doc: add esm examples to `node:perf_hooks`
  doc/api/perf_hooks.md
Labels: doc, perf_hooks

#56217 test: remove exludes for sea tests on PPC
  test/sequential/sequential.status
Labels: test, needs-ci

#56223 Revert "tools: disable automated libuv updates"
  .github/workflows/tools.yml
Labels: meta, author ready

#56068 report: fix typos in memory limit units
  doc/api/report.md
  src/node_report.cc
  test/common/report.js
Labels: c++, semver-minor, needs-ci, report

#55620 node-api: allow napi_delete_reference in basic finalizers
  src/js_native_api_v8.cc
  test/js-native-api/6_object_wrap/6_object_wrap.cc
  test/js-native-api/6_object_wrap/binding.gyp
  test/js-native-api/6_object_wrap/myobject.h
  test/js-native-api/6_object_wrap/test-basic-finalizer.js
Labels: c++, node-api, needs-ci, commit-queue-squash

#56229 doc: add esm examples to `node:tls`
  doc/api/tls.md
Labels: tls, doc, author ready, commit-queue-squash

#56232 tools: use `github.actor` instead of bot username for release proposals
  .github/workflows/create-release-proposal.yml
Labels: meta, author ready

#56233 doc: fix winget config path
  BUILDING.md
Labels: doc, build

#56185 module: add prefix-only modules to `module.builtinModules`
  doc/api/module.md
  doc/api/modules.md
  lib/internal/bootstrap/realm.js
  lib/internal/modules/cjs/loader.js
  lib/repl.js
  test/parallel/test-internal-module-require.js
  test/parallel/test-process-get-builtin.mjs
  test/parallel/test-repl-tab-complete-import.js
  test/parallel/test-repl-tab-complete.js
  test/parallel/test-require-resolve.js
Labels: module, semver-minor, baking-for-lts, author ready, needs-ci

#56216 doc: fix 'which' to 'that' and added comma
  doc/contributing/technical-priorities.md
Labels: doc

#56239 test: use --permission over --experimental-permission
  test/parallel/test-permission-sqlite-load-extension.js
  test/sqlite/test-sqlite-extensions.mjs
Labels: test, author ready, needs-ci, permission

#56222 util: fix Latin1 decoding to return string output
  src/encoding_binding.cc
  test/cctest/test_encoding_binding.cc
  test/parallel/test-util-text-decoder.js
Labels: c++, author ready, needs-ci, commit-queue-squash

#55335 doc: add esm examples to `node:readline`
  doc/api/readline.md
Labels: doc, readline, commit-queue-squash

#55432 doc: add esm examples to `node:repl`
  doc/api/repl.md
Labels: doc, repl, commit-queue-squash

#56087 dgram: support blocklist in udp
  doc/api/dgram.md
  lib/dgram.js
  test/parallel/test-dgram-blocklist.js
Labels: dgram, author ready, needs-ci

#55562 Document `Buffer.concat` zero-fill behavior
  doc/api/buffer.md
Labels: buffer, doc, author ready, commit-queue-squash

#55780 doc: clarify util.aborted `resource` parameter usage
  doc/api/util.md
Labels: util, doc, author ready

#56238 deps: define V8_PRESERVE_MOST as no-op on Windows
  common.gypi
  deps/v8/include/v8config.h
Labels: windows, build, v8 engine, needs-ci

#56225 util: harden more built-in classes against prototype pollution
  lib/buffer.js
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect.js
Labels: buffer, util, author ready, needs-ci

#56199 build: add major release action
  .github/workflows/major-release.yml
Labels: meta, author ready, commit-queue-squash

#56251 tools: add REPLACEME check to workflow
  .github/workflows/lint-release-proposal.yml
Labels: meta, author ready

#56060 test_runner: exclude test files from coverage by default
  doc/api/cli.md
  doc/api/test.md
  lib/internal/fs/glob.js
  lib/internal/test_runner/coverage.js
  lib/internal/test_runner/utils.js
  lib/path.js
  test/fixtures/test-runner/coverage-default-exclusion/file-test.js
  test/fixtures/test-runner/coverage-default-exclusion/file.test.mjs
  test/fixtures/test-runner/coverage-default-exclusion/file.test.ts
  test/fixtures/test-runner/coverage-default-exclusion/logic-file.js
  test/fixtures/test-runner/coverage-default-exclusion/test.cjs
  test/fixtures/test-runner/coverage-default-exclusion/test/not-matching-test-name.js
  test/fixtures/test-runner/output/lcov_reporter.js
  test/parallel/test-runner-coverage-default-exclusion.mjs
  test/parallel/test-runner-coverage-source-map.js
  test/parallel/test-runner-coverage-thresholds.js
  test/parallel/test-runner-coverage.js
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#56051 test: remove test-sqlite-statement-sync flaky designation
  test/parallel/parallel.status
Labels: test, needs-ci

#56284 tools: fix `node:` enforcement for docs
  doc/eslint.config_partial.mjs
Labels: doc, fast-track, author ready

#56213 sqlite: aggregate constants in a single property
  doc/api/sqlite.md
  src/node_sqlite.cc
  test/parallel/test-sqlite-session.js
  test/parallel/test-sqlite.js
  typings/internalBinding/constants.d.ts
Labels: c++, semver-minor, author ready, needs-ci, typings, commit-queue-squash, sqlite

#56265 doc: stabilize util.styleText
  doc/api/util.md
Labels: util, doc, notable-change, author ready

#56266 build: fix missing fp16 dependency in d8 builds
  tools/v8_gypfiles/d8.gyp
Labels: v8 engine, tools, needs-ci

#56271 build: set DESTCPU correctly for 'make binary' on loongarch64
  Makefile
Labels: build, author ready, needs-ci, loong64

#56272 doc: fix color contrast issue in light mode
  doc/api_assets/hljs.css
Labels: doc

#56276 meta: move MoLow to TSC regular member
  README.md
Labels: doc, author ready

#56275 build: build v8 with -fvisibility=hidden on macOS
  tools/v8_gypfiles/v8.gyp
Labels: v8 engine, tools, needs-ci

#56283 doc: fix links in `module.md`
  doc/api/module.md
Labels: doc, module, author ready

#55270 stream: catch and forward error from dest.write
  lib/internal/streams/readable.js
  test/parallel/test-stream-pipe-objectmode-to-non-objectmode.js
Labels: stream, semver-major, author ready, needs-ci

#56295 test: make `test-permission-sqlite-load-extension` more robust
  test/parallel/test-permission-sqlite-load-extension.js
Labels: test, author ready, needs-ci

#56050 test: deflake test-esm-loader-hooks-inspect-brk
  test/parallel/test-esm-loader-hooks-inspect-brk.js
Labels: test, author ready, needs-ci

#56298 test_runner,cli: mark test isolation as stable
  doc/api/cli.md
  doc/node.1
  lib/internal/test_runner/utils.js
  src/node_options.cc
  test/parallel/test-runner-cli-concurrency.js
  test/parallel/test-runner-cli-timeout.js
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-coverage.js
  test/parallel/test-runner-extraneous-async-activity.js
  test/parallel/test-runner-force-exit-failure.js
  test/parallel/test-runner-no-isolation-filtering.js
  test/parallel/test-runner-no-isolation-hooks.mjs
  test/parallel/test-runner-snapshot-tests.js
  test/parallel/test-runner-watch-mode.mjs
Labels: c++, author ready, commit-queue-squash, test_runner

#56048 test: remove async-hooks/test-writewrap flaky designation
  test/async-hooks/async-hooks.status
Labels: test, async_hooks, needs-ci

#56067 stream: validate undefined sizeAlgorithm in WritableStream
  lib/internal/webstreams/writablestream.js
Labels: author ready, needs-ci, web streams, web-standards

#55844 esm: add experimental support for addon modules
  doc/api/cli.md
  doc/api/esm.md
  doc/api/module.md
  doc/node.1
  lib/internal/modules/esm/formats.js
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/translators.js
  src/node_options.cc
  src/node_options.h
  test/addons/.gitignore
  test/addons/esm/binding-export-default.cc
  test/addons/esm/binding-export-primitive.cc
  test/addons/esm/binding.cc
  test/addons/esm/binding.gyp
  test/addons/esm/node_modules/esm-package/package.json
  test/addons/esm/test-esm.mjs
  test/addons/esm/test-import-package.js
  test/addons/esm/test-import.js
  test/addons/esm/test-require-package.js
  test/addons/esm/test-require.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#56162 node-api: remove deprecated attribute from napi_module_register
  src/node_api.h
Labels: c++, node-api, author ready, needs-ci

#56307 build: test macos-13 on GitHub actions
  .github/workflows/test-macos.yml
Labels: meta, author ready

#56315 module: use buffer.toString base64
  lib/eslint.config_partial.mjs
  lib/internal/modules/typescript.js
  test/parallel/test-module-strip-types.js
Labels: module, author ready, needs-ci

#56317 tools: add release line label when opening release proposal
  tools/actions/create-release.sh
Labels: tools, author ready

#56318 doc: add entry to changelog about SQLite Session Extension
  doc/changelogs/CHANGELOG_V22.md
  doc/changelogs/CHANGELOG_V23.md
Labels: author ready, release

#56325 tools: fix `require-common-first` lint rule from subfolder
  test/addons/esm/test-esm.mjs
  test/parallel/test-eslint-require-common-first.js
  tools/eslint-rules/require-common-first.js
Labels: tools, author ready, needs-ci

#54657 test: check typescript loader
  test/es-module/test-typescript.mjs
  test/fixtures/typescript/ts/hook.ts
  test/fixtures/typescript/ts/test-loader.ts
  test/fixtures/typescript/ts/test-simple.js
Labels: wip, test, esm, needs-ci, strip-types

#56285 module: support eval with ts syntax detection
  doc/api/cli.md
  lib/internal/main/eval_string.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/typescript.js
  lib/internal/process/execution.js
  src/node_options.cc
  test/es-module/test-typescript-eval.mjs
  test/fixtures/eval/eval_messages.snapshot
Labels: module, lib / src, baking-for-lts, author ready, needs-ci, review wanted, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x, strip-types

#56341 test: skip `test-sqlinte-extension` when SQLite is not built by us
  test/sqlite/test-sqlite-extensions.mjs
Labels: test, needs-ci

#55898 doc: fixing the crc32 function on documentation
  doc/api/zlib.md
Labels: doc, zlib, commit-queue-squash

#55811 src: use starts_with in fs_permission.cc
  src/permission/fs_permission.cc
Labels: c++, fs, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, permission

#56337 doc: update macOS and Xcode versions for releases
  BUILDING.md
Labels: doc, build, macos, lts-watch-v18.x, lts-watch-v20.x, lts-watch-v22.x

#56344 test: deflake test-watch-file-shared-dependency
  test/parallel/test-watch-file-shared-dependency.mjs
Labels: test, author ready, needs-ci

#56345 docs: clarify that WASM is trusted
  SECURITY.md
Labels: doc, author ready, commit-queue-squash

#56346 doc: use `<ul>` instead of `<ol>` in `SECURITY.md`
  SECURITY.md
Labels: doc, author ready, commit-queue-failed

#56302 url: use resolved path to convert to `fileURL`
  lib/internal/url.js
Labels: whatwg-url, author ready, needs-ci

#56349 test: enable ts test on win arm64
  test/es-module/test-typescript.mjs
Labels: test, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, strip-types

#56339 test: improve abort signal dropping test
  test/parallel/test-abortsignal-drop-settled-signals.mjs
Labels: test, author ready

#56350 module: unflag --experimental-strip-types
  benchmark/ts/strip-typescript.js
  doc/api/cli.md
  doc/api/process.md
  doc/api/test.md
  doc/api/typescript.md
  doc/node.1
  src/node_options.cc
  src/node_options.h
  test/es-module/test-esm-loader-entry-url.mjs
  test/es-module/test-esm-resolve-type.mjs
  test/es-module/test-typescript-commonjs.mjs
  test/es-module/test-typescript-eval.mjs
  test/es-module/test-typescript-module.mjs
  test/es-module/test-typescript.mjs
  test/fixtures/eval/eval_messages.snapshot
  test/module-hooks/test-module-hooks-preload.js
  test/module-hooks/test-module-hooks-resolve-load-import-inline-typescript-override.mjs
  test/module-hooks/test-module-hooks-resolve-load-require-inline-typescript-override.js
  test/parallel/test-inspector-strip-types.js
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-coverage-default-exclusion.mjs
  test/parallel/test-runner-coverage-source-map.js
Labels: module, semver-minor, lib / src, notable-change, baking-for-lts, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, strip-types

#54431 doc: expand description of `parseArg`'s `default`
  doc/api/util.md
Labels: util, doc, commit-queue-squash

#56365 test: remove test-net-write-fully-async-hex-string flaky designation
  test/parallel/parallel.status
Labels: test, author ready, needs-ci

#56364 test: remove test-worker-arraybuffer-zerofill flaky designation
  test/parallel/parallel.status
Labels: test, needs-ci

#56369 test: remove flaky designation
  test/parallel/parallel.status
Labels: test, author ready, needs-ci

#56352 sqlite: allow passing conflict resolution handler function
  doc/api/sqlite.md
  src/env_properties.h
  src/node_sqlite.cc
  test/parallel/test-sqlite-session.js
Labels: c++, author ready, commit-queue-squash, sqlite

#56359 lib: add typescript support to STDIN eval
  doc/api/typescript.md
  lib/internal/main/eval_stdin.js
  test/fixtures/eval/stdin_messages.snapshot
  test/fixtures/eval/stdin_typescript.js
  test/fixtures/eval/stdin_typescript.snapshot
  test/parallel/test-node-output-eval.mjs
Labels: semver-minor, author ready, needs-ci, stdio, dont-land-on-v18.x, dont-land-on-v20.x, strip-types

#48409 test: use unusual chars in the path to ensure our tests are robust
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  test/common/index.js
  test/common/index.mjs
  test/es-module/test-esm-invalid-pjson.js
  test/fixtures/snapshot/child-process-sync.js
  test/parallel/test-fs-cp.mjs
  test/parallel/test-inspector-strip-types.js
  test/parallel/test-npm-install.js
  test/parallel/test-snapshot-child-process-sync.js
  test/parallel/test-startup-empty-regexp-statics.js
  test/parallel/test-startup-empty-regexp-statics.mjs
Labels: meta, author ready, commit-queue-squash

#56382 module: fix async resolution error within the sync `findPackageJSON`
  doc/api/module.md
  lib/internal/modules/package_json_reader.js
  test/parallel/test-find-package-json.js
Labels: module, commit-queue-squash, lts-watch-v18.x, lts-watch-v20.x, lts-watch-v22.x

#55676 node-api: define version 10
  doc/api/n-api.md
  doc/contributing/releases-node-api.md
  src/js_native_api.h
  src/js_native_api_v8.cc
  src/js_native_api_v8.h
  src/node_api.cc
  src/node_api.h
  src/node_version.h
  test/js-native-api/test_cannot_run_js/binding.gyp
  test/js-native-api/test_cannot_run_js/test_cannot_run_js.c
  test/js-native-api/test_general/test.js
  test/js-native-api/test_string/binding.gyp
  test/node-api/test_buffer/binding.gyp
  test/node-api/test_reference_by_node_api_version/binding.gyp
Labels: c++, lib / src, node-api, needs-ci, commit-queue-squash
