Repository nodejs/node, pull requests merged in 2024-08, with the labels that each got.

#53825 stream: throw TypeError when criteria fulfilled in getIterator
  lib/internal/webstreams/util.js
  test/parallel/test-webstream-readable-from.js
Labels: author ready, needs-ci, web streams

#53793 child_process: remove unused internal event
  lib/internal/child_process.js
Labels: child_process, author ready, needs-ci, needs-citgm

#54118 module: remove outdated comment
  lib/internal/modules/esm/resolve.js
Labels: esm, author ready, commit-queue-failed

#54087 buffer: use native copy impl
  benchmark/buffers/buffer-copy.js
  lib/buffer.js
  src/node_buffer.cc
  src/node_external_reference.h
Labels: buffer, notable-change, author ready, needs-ci

#54138 doc: update list of Triagers on the `README.md`
  README.md
Labels: doc, author ready

#54136 build: add `--without-amaro` build flag
  configure.py
  node.gyp
  node.gypi
  src/node_metadata.cc
  src/node_metadata.h
  test/es-module/test-typescript-commonjs.mjs
  test/es-module/test-typescript-eval.mjs
  test/es-module/test-typescript-module.mjs
  test/es-module/test-typescript.mjs
  test/parallel/test-process-versions.js
Labels: lib / src, author ready, needs-ci, type-strip

#53933 doc: fix worker threadId/destination typo
  doc/api/worker_threads.md
Labels: doc, author ready, worker

#48528 lib: rewrite AsyncLocalStorage without async_hooks
  benchmark/async_hooks/async-local-storage-getstore-nested-resources.js
  benchmark/async_hooks/async-local-storage-getstore-nested-run.js
  doc/api/cli.md
  lib/async_hooks.js
  lib/internal/async_context_frame.js
  lib/internal/async_local_storage/async_hooks.js
  lib/internal/async_local_storage/native.js
  lib/internal/process/promises.js
  lib/internal/process/task_queues.js
  lib/internal/timers.js
  node.gyp
  src/api/async_resource.cc
  src/api/callback.cc
  src/async_context_frame.cc
  src/async_context_frame.h
  src/async_wrap-inl.h
  src/async_wrap.cc
  src/async_wrap.h
  src/env-inl.h
  src/env.h
  src/node_api.cc
  src/node_binding.cc
  src/node_internals.h
  src/node_options.cc
  src/node_options.h
  test/fixtures/errors/async_error_nexttick_main.snapshot
  test/parallel/test-async-context-frame.mjs
  test/parallel/test-async-local-storage-exit-does-not-leak.js
  test/parallel/test-bootstrap-modules.js
Labels: wip, c++, semver-minor, lib / src, performance, blocked, async_hooks, needs-ci

#54152 doc: add missing new lines to custom test reporter examples
  doc/api/test.md
Labels: doc, author ready, test_runner

#54104 lib,permission: support Buffer to permission.has
  lib/fs.js
  lib/internal/process/permission.js
  test/fixtures/permission/fs-read.js
  test/fixtures/permission/fs-traversal.js
  test/parallel/test-permission-has.js
Labels: fs, process, needs-ci, permission

#54088 buffer: faster type check
  lib/buffer.js
Labels: buffer, author ready, needs-ci

#54164 module: fix strip-types interaction with detect-module
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/helpers.js
  lib/internal/modules/run_main.js
  test/es-module/test-typescript-commonjs.mjs
  test/es-module/test-typescript-eval.mjs
  test/es-module/test-typescript-module.mjs
  test/es-module/test-typescript.mjs
  test/fixtures/typescript/ts/test-empty-file.ts
  test/fixtures/typescript/ts/test-import-fs.ts
Labels: lib / src, author ready, needs-ci, strip-types

#54061 test: add initial pull delay and prototype pollution prevention tests for ReadableStream
  test/parallel/test-whatwg-readablestream.js
Labels: test, needs-ci

#54137 test: fix typo in test
  test/async-hooks/verify-graph.js
  test/parallel/test-diagnostics-channel-net.js
  test/parallel/test-tls-set-sigalgs.js
  test/parallel/test-worker-workerdata-messageport.js
Labels: test, async_hooks, author ready, needs-ci

#54176 benchmark: use assert.ok instead of assert
  benchmark/buffers/buffer-atob.js
  benchmark/buffers/buffer-btoa.js
  benchmark/buffers/buffer-iterate.js
Labels: buffer, benchmark, author ready, commit-queue-squash

#54151 test_runner: run after hooks even if test is aborted
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/abort-runs-after-hook.js
  test/fixtures/test-runner/output/abort-runs-after-hook.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, test_runner

#53768 doc: refresh instructions for building node from source
  BUILDING.md
Labels: doc, build, author ready

#54117 buffer: add JSDoc to blob bytes method
  lib/internal/blob.js
Labels: author ready, needs-ci

#54093 lib: fix typos in comments within internal/streams
  lib/internal/streams/readable.js
  lib/internal/streams/transform.js
  lib/internal/streams/utils.js
  lib/internal/streams/writable.js
Labels: stream, author ready, needs-ci, commit-queue-squash

#54109 watch: reload changes in contents of --env-file
  lib/internal/main/watch_mode.js
  src/node.cc
  test/sequential/test-watch-mode.mjs
Labels: c++, needs-ci, commit-queue-squash

#54156 inspector: provide detailed network information to fix devtools frontend errors
  lib/internal/inspector_network_tracking.js
  src/inspector/network_agent.cc
  src/inspector/network_agent.h
  src/inspector/node_protocol.pdl
  test/parallel/test-inspector-emit-protocol-event.js
  test/parallel/test-inspector-network-domain.js
Labels: c++, inspector, author ready, commit-queue-squash

#54081 build: warn for GCC versions earlier than 12.2
  BUILDING.md
  configure.py
Labels: doc, semver-major, build, needs-ci

#53745 doc, meta: replace command with link to keys
  README.md
Labels: doc, meta

#54120 sea: don't set code cache flags when snapshot is used
  src/node_sea.cc
Labels: needs-ci, single-executable

#54194 Fix doc net connection
  doc/api/net.md
Labels: doc, net, author ready, commit-queue-squash

#53695 build: support `lint-js-fix` in `vcbuild.bat`
  vcbuild.bat
Labels: windows, build, author ready, needs-ci

#54129 test: update wpt test for streams
  test/fixtures/wpt/README.md
  test/fixtures/wpt/streams/piping/abort.any.js
  test/fixtures/wpt/streams/piping/detached-context-crash.html
  test/fixtures/wpt/streams/readable-streams/cancel.any.js
  test/fixtures/wpt/streams/readable-streams/from.any.js
  test/fixtures/wpt/versions.json
  test/wpt/status/streams.json
Labels: test, author ready, needs-ci, web streams, commit-queue-squash

#52981 doc: add links to security steward companies
  README.md
Labels: doc

#54115 test: set test-structuredclone-jstransferable non-flaky
  test/pummel/pummel.status
Labels: test, needs-ci

#54192 doc: fix sea assets example
  doc/api/single-executable-applications.md
Labels: doc, single-executable

#53846 test_runner: mock_loader resolve the cjs and esm formats respectively.
  lib/test/mock_loader.js
  test/fixtures/module-mocking/basic-esm-without-extension.js
  test/fixtures/module-mocking/wrong-import-after-module-mocking.js
  test/parallel/test-runner-module-mocking.js
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#53991 path: fix relative on Windows
  benchmark/path/relative-win32.js
  lib/path.js
  test/parallel/test-path-relative.js
Labels: windows, path, needs-ci

#54108 doc: add esm examples to `node:console`
  doc/api/console.md
Labels: doc, console, commit-queue-squash

#54179 doc: add KevinEady as a triager
  README.md
Labels: doc, meta

#53901 tools: add workflow to ensure `README` lists are in sync with gh teams
  .github/workflows/linters.yml
  tools/lint-readme-lists.mjs
Labels: doc, meta, tools

#54203 benchmark: remove force option as force defaults to true.
  benchmark/fs/bench-cpSync.js
Labels: fs, benchmark, author ready

#54204 test: add subtests to test-node-run
  test/fixtures/run-script/cannot-find-script/package.json
  test/fixtures/run-script/cannot-parse/package.json
  test/parallel/test-node-run.js
Labels: test, author ready, needs-ci, commit-queue-squash

#53358 benchmark: support --help in CLI
  benchmark/_cli.js
Labels: benchmark, performance

#52858 meta: add module label for the lib/internal/modules folder
  .github/label-pr-config.yml
Labels: module, meta, commit-queue-squash

#54172 doc: add esm examples to `node:dns`
  doc/api/dns.md
Labels: doc, dns, author ready, commit-queue-squash

#54206 lib: fix unhandled errors in webstream adapters
  lib/internal/webstreams/adapters.js
  test/parallel/test-stream-readable-from-web-termination.js
  test/parallel/test-stream-readable-to-web-termination.js
Labels: needs-ci, web streams

#53958 fs: remove unnecessary option argument validation
  lib/fs.js
Labels: fs, needs-ci, commit-queue-squash

#54208 test: use assert.{s,deepS}trictEqual()
  test/parallel/test-tls-set-sigalgs.js
Labels: test, author ready, needs-ci

#54229 doc: sort versions DESC
  doc/api/test.md
Labels: doc, fast-track, author ready, commit-queue-failed, test_runner

#54219 src: skip inspector wait in internal workers
  src/api/environment.cc
  src/env-inl.h
  src/env.cc
  src/env.h
  src/node_options-inl.h
  src/node_options.h
  src/node_worker.cc
  test/common/inspector-helper.js
  test/parallel/test-esm-loader-hooks-inspect-brk.js
  test/parallel/test-esm-loader-hooks-inspect-wait.js
Labels: c++, lib / src, inspector, author ready, worker, needs-ci

#54116 test_runner: fix wrongfully printed diagnostic warning while `only: false`
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/only_tests.js
  test/fixtures/test-runner/output/only_tests.snapshot
  test/fixtures/test-runner/output/test-diagnostic-warning-without-test-only-flag.js
  test/fixtures/test-runner/output/test-diagnostic-warning-without-test-only-flag.snapshot
  test/parallel/test-runner-output.mjs
Labels: needs-ci, commit-queue-squash, test_runner

#54217 doc: warn for windows build bug
  BUILDING.md
Labels: doc, windows, build, author ready

#54233 test: refactor `test-runner-module-mocking`
  test/parallel/test-runner-module-mocking.js
Labels: test, author ready, needs-ci

#54242 test: fix timeout not being cleared
  test/parallel/test-pipe-file-to-http.js
Labels: test, author ready, needs-ci

#54243 module: refactor ts parser loading
  lib/internal/modules/helpers.js
Labels: module, author ready, needs-ci, strip-types

#54207 doc: update `buffer.constants.MAX_LENGTH` size
  doc/api/buffer.md
Labels: buffer, doc

#54252 typings: add util.styleText type definition
  typings/internalBinding/util.d.ts
Labels: author ready, typings

#54239 lib: improve async_context_frame structure
  doc/api/cli.md
  lib/async_hooks.js
  lib/internal/async_context_frame.js
  lib/internal/async_local_storage/async_context_frame.js
  lib/internal/process/task_queues.js
  lib/internal/timers.js
  src/api/async_resource.cc
Labels: doc, lib / src, diag-agenda, needs-ci, async_local_storage

#54245 console: use validateOneOf for colorMode validation
  lib/internal/console/constructor.js
  test/parallel/test-console-tty-colors.js
Labels: console, author ready, commit-queue-squash

#53294 module,win: fix long path resolve
  src/node_file.cc
  src/node_modules.cc
  test/es-module/test-GH-50753.js
  test/es-module/test-cjs-esm-warn.js
  test/es-module/test-cjs-legacyMainResolve-permission.js
  test/es-module/test-esm-long-path-win.js
Labels: c++, fs, needs-ci, commit-queue-squash

#54254 benchmark: change assert() to assert.ok()
  benchmark/fs/bench-chownSync.js
  benchmark/fs/bench-linkSync.js
  benchmark/fs/bench-readlinkSync.js
  benchmark/fs/bench-readvSync.js
  benchmark/fs/bench-renameSync.js
  benchmark/fs/bench-symlinkSync.js
  benchmark/fs/bench-writevSync.js
  benchmark/fs/read-stream-throughput.js
Labels: fs, benchmark

#54266 doc: remove module-based permission doc
  doc/api/permissions.md
Labels: doc, author ready, policy

#54267 meta: add test-permission-* CODEOWNERS
  .github/CODEOWNERS
Labels: meta, author ready, permission

#54269 doc: explicitly mention node:fs module restriction
  doc/api/permissions.md
Labels: doc, commit-queue-squash, permission

#54271 benchmark: rename count to n
  benchmark/misc/startup-cli-version.js
  benchmark/misc/startup-core.js
Labels: benchmark

#54281 tty: initialize winSize array with values
  lib/tty.js
Labels: tty, needs-ci, commit-queue-squash

#54246 inspector: support `Network.loadingFailed` event
  doc/api/inspector.md
  lib/inspector.js
  lib/internal/inspector_network_tracking.js
  src/inspector/network_agent.cc
  src/inspector/network_agent.h
  src/inspector/node_protocol.pdl
  test/parallel/test-inspector-emit-protocol-event.js
  test/parallel/test-inspector-network-domain.js
Labels: c++, semver-minor, lib / src, inspector

#54222 deps: fix GN build warning in ncrypto
  deps/ncrypto/unofficial.gni
Labels: author ready, needs-ci, dependencies

#53971 doc, test: simplify test README table
  test/README.md
Labels: doc, test, meta

#54292 doc: add esm examples to `node:http2`
  doc/api/http2.md
Labels: doc, http2, esm

#54258 lib: avoid for of loop and remove unnecessary variable in zlib
  lib/zlib.js
Labels: zlib, author ready, needs-ci

#54053 lib: replace spread operator with primordials function
  lib/internal/streams/compose.js
Labels: stream, needs-ci

#54287 module: do not attempt to strip type when there's no source
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/helpers.js
Labels: module, esm, author ready, needs-ci

#54308 benchmark: add stream.compose benchmark
  benchmark/streams/compose.js
Labels: stream, benchmark, author ready

#54283 module: add --experimental-transform-types flag
  doc/api/cli.md
  doc/api/typescript.md
  doc/node.1
  lib/internal/main/eval_string.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/helpers.js
  src/node_options.cc
  src/node_options.h
  test/es-module/test-typescript-transform.mjs
  test/fixtures/typescript/ts/transformation/test-decorator.ts
  test/fixtures/typescript/ts/transformation/test-enum-stacktrace.ts
  test/fixtures/typescript/ts/transformation/test-enum.ts
  test/fixtures/typescript/ts/transformation/test-legacy-module.ts
  test/fixtures/typescript/ts/transformation/test-modern-typescript.ts
  test/fixtures/typescript/ts/transformation/test-namespace.ts
  test/fixtures/typescript/ts/transformation/test-transformed-typescript.js
  test/fixtures/typescript/ts/transformation/test-unused-import.ts
Labels: semver-minor, lib / src, notable-change, author ready, needs-ci, commit-queue-squash, strip-types

#54262 url: modify pathToFileURL to handle extended UNC paths
  lib/internal/url.js
  test/parallel/test-url-pathtofileurl.js
Labels: url, windows, whatwg-url, author ready, needs-ci

#51280 doc: mark process.nextTick legacy
  doc/api/process.md
Labels: doc, process, deprecations

#54314 tools: add find pyenv path on windows
  tools/msvs/find_python.cmd
Labels: windows, install, tools, author ready, needs-ci

#54319 buffer: optimize for common encodings
  lib/buffer.js
Labels: buffer, author ready, needs-ci, needs-benchmark-ci

#53909 build: update `ruff` to `0.5.2`
  Makefile
Labels: build, needs-ci

#54237 src: don't match after `--` in `Dotenv::GetPathFromArgs`
  src/node_dotenv.cc
  test/parallel/test-dotenv-edge-cases.js
Labels: c++, needs-ci, dotenv

#54188 test: fix test-cli-permission tests when cwd contains /tmp
  test/parallel/test-cli-permission-deny-fs.js
  test/parallel/test-cli-permission-multiple-allow.js
Labels: test, author ready, needs-ci, commit-queue-squash

#54331 path: change `posix.join` to use array
  lib/path.js
Labels: path, author ready, needs-ci, needs-benchmark-ci

#54324 buffer: optimize createFromString
  lib/buffer.js
  src/node_buffer.cc
Labels: buffer, c++, notable-change, author ready, needs-ci

#54332 test: make sure current run result is pushed and reset
  test/parallel/test-runner-run-watch.mjs
  test/parallel/test-runner-watch-mode.mjs
Labels: test, author ready, needs-ci

#54335 tools: remove header from c-ares license
  tools/license-builder.sh
Labels: tools

#54339 build: always disable strict aliasing
  common.gypi
  configure.py
  doc/api/process.md
  tools/v8_gypfiles/toolchain.gypi
Labels: build, v8 engine, tools, needs-ci

#54334 benchmark: use assert.ok searchparams
  benchmark/url/url-searchparams-update.js
Labels: url, benchmark, whatwg-url, author ready

#54342 buffer: optimize byteLength for common encodings
  lib/buffer.js
Labels: buffer, author ready, needs-ci

#54276 src: refactor http parser binding initialization
  src/node_binding.h
  src/node_external_reference.h
  src/node_http_parser.cc
Labels: c++, http_parser, needs-ci

#54345 buffer: optimize byteLength for short strings
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci

#54311 buffer: use fast API for writing one-byte strings
  benchmark/buffers/buffer-write-string-short.js
  lib/internal/buffer.js
  src/node_buffer.cc
  src/node_external_reference.h
Labels: buffer, c++, notable-change, author ready, needs-ci

#54027 doc: fix typo in method name in the sea doc
  doc/api/single-executable-applications.md
Labels: doc

#54263 doc: correct peformance entry types
  doc/api/perf_hooks.md
Labels: doc, author ready, perf_hooks

#54356 src,test: track `URL.canParse` fast API calls
  src/node_url.cc
  test/parallel/test-url-canParse-whatwg.js
  test/parallel/test-whatwg-url-canparse.js
  typings/internalBinding/url.d.ts
Labels: c++, whatwg-url, needs-ci, typings

#54391 buffer: properly apply dst offset and src length on fast path
  src/node_buffer.cc
Labels: buffer, c++, fast-track, needs-ci

#54361 doc: replace v19 mention in Current release
  README.md
Labels: doc, meta, author ready

#54328 doc: add versions when `--watch-preserve-output` was added
  doc/api/cli.md
Labels: doc, cli, author ready

#53001 cli: allow `--test-[name/skip]-pattern` in `NODE_OPTIONS`
  doc/api/cli.md
  src/node_options.cc
Labels: c++, cli, needs-ci, test_runner

#54338 doc: use gcc 12 on AIX for Node.js >=23
  BUILDING.md
Labels: doc, semver-major, build, aix, notable-change

#54375 test: make snapshot comparison more flexible
  test/fixtures/errors/promise_unhandled_warn_with_error.snapshot
  test/fixtures/errors/throw_error_with_getter_throw.snapshot
  test/fixtures/errors/throw_null.snapshot
  test/fixtures/errors/throw_undefined.snapshot
  test/parallel/test-node-output-errors.mjs
Labels: test, author ready, needs-ci

#54268 doc: add note on weakness of permission model
  doc/api/permissions.md
Labels: doc, security, author ready, permission

#54381 doc: add git node security --cleanup
  doc/contributing/security-release-process.md
Labels: doc, author ready

#54125 doc: fix description of the max header size in `HPE_HEADER_OVERFLOW` section
  doc/api/errors.md
Labels: doc, errors, author ready, commit-queue-squash

#54387 test_runner: report failures in filtered suites
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/filtered-suite-throws.js
  test/fixtures/test-runner/output/filtered-suite-throws.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, dont-land-on-v18.x, test_runner, dont-land-on-v20.x

#54383 doc: reserve ABI 130 for Electron 33
  doc/abi_version_registry.json
Labels: doc, author ready

#49534 test_runner: use validateStringArray for `timers.enable()`
  lib/internal/test_runner/mock/mock_timers.js
  test/parallel/test-runner-mock-timers.js
Labels: experimental, author ready, test_runner

#54291 src: update compile cache storage structure
  src/compile_cache.cc
  src/compile_cache.h
  src/env.cc
  src/env.h
  test/parallel/test-compile-cache-permission-disallowed.js
Labels: c++, needs-ci

#54399 doc: add esm examples to `node:https`
  doc/api/https.md
Labels: https, doc, esm, commit-queue-squash

#54409 doc, meta: add missing `,` to `BUILDING.md`
  BUILDING.md
Labels: doc, build, meta, fast-track, author ready

#54412 meta: run coverage-windows when `vcbuild.bat` updated
  .github/workflows/coverage-windows.yml
Labels: windows, meta, coverage

#54423 test_runner: finish build phase before running tests
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/filtered-suite-delayed-build.js
  test/fixtures/test-runner/output/filtered-suite-delayed-build.snapshot
  test/fixtures/test-runner/output/filtered-suite-order.mjs
  test/fixtures/test-runner/output/filtered-suite-order.snapshot
  test/fixtures/test-runner/output/source_mapped_locations.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, test_runner

#54153 src: improve buffer.transcode performance
  benchmark/buffers/buffer-transcode.js
  src/node_i18n.cc
Labels: buffer, c++, i18n-api, performance, needs-ci

#54416 test_runner: make `mock.module`'s `specifier` consistent with `import()`
  doc/api/test.md
  lib/internal/test_runner/mock/mock.js
  test/parallel/test-runner-module-mocking.js
Labels: author ready, needs-ci, test_runner

#54402 module: add sourceURL magic comment hinting generated source
  lib/internal/modules/helpers.js
  test/common/inspector-helper.js
  test/parallel/test-inspector-strip-types.js
Labels: module, inspector, author ready, needs-ci, commit-queue-squash, strip-types

#54444 test_runner: account for newline in source maps
  lib/internal/test_runner/coverage.js
  test/fixtures/test-runner/source-map-line-lengths/index.js
  test/fixtures/test-runner/source-map-line-lengths/index.js.map
  test/fixtures/test-runner/source-map-line-lengths/index.ts
  test/parallel/test-runner-coverage.js
Labels: author ready, test_runner

#54223 test_runner: refactor `mock_loader`
  lib/internal/test_runner/mock/loader.js
  lib/internal/test_runner/mock/mock.js
  test/parallel/test-runner-module-mocking.js
Labels: test, author ready, needs-ci, commit-queue-squash, test_runner

#54395 test: prevent V8 from writing into the system's tmpdir
  test/parallel/test-cli-node-options.js
Labels: test, needs-ci

#54461 module: fix discrepancy between .ts and .js
  lib/internal/modules/esm/get_format.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/helpers.js
  test/es-module/test-typescript.mjs
  test/fixtures/typescript/ts/issue-54457.mjs
  test/fixtures/typescript/ts/test-require.ts
Labels: module, esm, author ready, needs-ci, strip-types

#54462 tools: add swc license
  LICENSE
  tools/license-builder.sh
Labels: meta, tools, author ready

#54454 meta: add more labels to dep-updaters
  .github/workflows/tools.yml
  .github/workflows/update-openssl.yml
  .github/workflows/update-v8.yml
Labels: meta, commit-queue-squash

#54488 doc: fix capitalization in module.md
  doc/api/modules.md
Labels: doc, module, fast-track, author ready

#54474 stream: change stream to use index instead of `for...of`
  lib/stream.js
Labels: stream, author ready, needs-ci

#54264 net: exclude ipv6 loopback addresses from server.listen
  lib/net.js
  src/cares_wrap.cc
  test/parallel/test-net-server-close-before-calling-lookup-callback.js
  test/sequential/test-net-server-listen-ipv6-link-local.js
Labels: net, semver-minor, baking-for-lts, author ready, needs-ci, commit-queue-squash

#54122 src: remove cached data tag from snapshot metadata
  src/env.cc
  src/env.h
  src/node_snapshotable.cc
  test/parallel/parallel.status
Labels: c++, needs-ci, commit-queue-squash

#54481 meta: remind users to use a supported version in bug reports
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Labels: meta, author ready, commit-queue-squash

#54429 test_runner: add support for coverage thresholds
  doc/api/cli.md
  doc/node.1
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
  src/node_options.cc
  src/node_options.h
  test/parallel/test-runner-coverage-thresholds.js
Labels: semver-minor, notable-change, cli, author ready, coverage, commit-queue-squash, test_runner

#54358 build: update required python version to 3.8
  BUILDING.md
  android-configure
  configure
  configure.py
  pyproject.toml
Labels: doc, build, python, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#54494 test: add tests for runner coverage with different stdout column widths
  test/fixtures/test-runner/coverage-snap/a.js
  test/fixtures/test-runner/coverage-snap/b.js
  test/fixtures/test-runner/coverage-snap/many-uncovered-lines.js
  test/fixtures/test-runner/output/coverage-width-100-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-100-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-100.mjs
  test/fixtures/test-runner/output/coverage-width-100.snapshot
  test/fixtures/test-runner/output/coverage-width-150-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-150-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-150.mjs
  test/fixtures/test-runner/output/coverage-width-150.snapshot
  test/fixtures/test-runner/output/coverage-width-80-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-80-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-80.mjs
  test/fixtures/test-runner/output/coverage-width-80.snapshot
  test/fixtures/test-runner/output/coverage-width-infinity-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-infinity-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-infinity.mjs
  test/fixtures/test-runner/output/coverage-width-infinity.snapshot
  test/parallel/test-runner-output.mjs
Labels: test, author ready, coverage, commit-queue-squash

#54337 build: don't clean obj.target directory if it doesn't exist
  Makefile
Labels: build, needs-ci, commit-queue-squash

#54369 fs: refactor handleTimestampsAndMode to remove redundant call
  lib/internal/fs/cp/cp.js
Labels: fs, author ready, needs-ci

#54119 typings: provide internal types for wasi bindings
  typings/globals.d.ts
  typings/internalBinding/wasi.d.ts
Labels: author ready, wasi, typings, commit-queue-squash

#54482 doc: update websocket flag description to reflect stable API status
  doc/api/cli.md
Labels: doc, cli, author ready

#54418 src: use correct way to signal interceptor error
  src/node_webstorage.cc
Labels: c++, needs-ci

#54509 test: fix improper path to URL conversion
  test/fixtures/permission/fs-read.js
  test/parallel/test-diagnostics-channel-module-import-error.js
  test/parallel/test-diagnostics-channel-module-import.js
Labels: test, author ready, needs-ci

#54404 timers: fix validation
  doc/api/timers.md
  lib/timers/promises.js
  test/parallel/test-timers-timeout-promisified.js
Labels: timers, needs-ci, commit-queue-squash

#54350 sqlite: return results with null prototype
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-data-types.js
  test/parallel/test-sqlite-database-sync.js
  test/parallel/test-sqlite-named-parameters.js
  test/parallel/test-sqlite-statement-sync.js
  test/parallel/test-sqlite-transactions.js
  test/parallel/test-sqlite.js
Labels: c++, needs-ci, commit-queue-squash, sqlite

#54470 net: validate host name for server listen
  lib/net.js
  test/parallel/test-net-server-listen-options.js
Labels: net, semver-major, author ready, needs-ci

#54190 benchmark: fix benchmark for file path and URL conversion
  benchmark/url/whatwg-url-to-and-from-path.js
Labels: url, benchmark, whatwg-url, author ready

#54443 src: change SetEncodedValue to return Maybe<void>
  src/crypto/crypto_ec.cc
  src/crypto/crypto_util.cc
  src/crypto/crypto_util.h
Labels: c++, lib / src, author ready, needs-ci

#54538 test: force spec reporter in test-runner-watch-mode.mjs
  test/parallel/test-runner-watch-mode.mjs
Labels: test, author ready

#54544 src: handle errors correctly in webstorage
  src/node_webstorage.cc
  src/node_webstorage.h
Labels: c++, author ready, needs-ci

#53928 tools: remove unused python files
  tools/getarch.py
  tools/getendian.py
  tools/getmachine.py
Labels: tools, python, author ready

#54533 buffer: allow invalid encoding in from
  lib/buffer.js
  test/parallel/test-buffer-from.js
Labels: buffer, author ready, needs-ci

#54524 buffer: truncate instead of throw when writing beyond buffer
  lib/internal/buffer.js
  test/parallel/test-buffer-write.js
Labels: buffer, fast-track, author ready, needs-ci

#53590 node-api: remove RefBase and CallbackWrapper
  src/js_native_api_v8.cc
  src/js_native_api_v8.h
  src/node_api.cc
Labels: c++, node-api, author ready, needs-ci, commit-queue-squash

#54442 zlib: simplify validators
  lib/internal/validators.js
  lib/zlib.js
Labels: zlib, needs-ci

#54548 test_runner: always make spec the default reporter
  doc/api/test.md
  lib/internal/test_runner/utils.js
  test/parallel/test-runner-reporters.js
Labels: semver-major, author ready, test_runner

#54487 doc: add note about shasum generation failure
  doc/contributing/releases.md
Labels: doc, meta, author ready

#54275 lib: fix emit warning for debuglog.time when disabled
  lib/internal/util/debuglog.js
  test/fixtures/GH-54265/dep1.js
  test/fixtures/GH-54265/dep2.js
  test/fixtures/GH-54265/index.js
  test/fixtures/GH-54265/require-hook.js
  test/parallel/test-module-print-timing.mjs
Labels: util, author ready, needs-ci, commit-queue-squash

#54502 deps: backport ICU-22787 to fix ClangCL on Windows
  tools/icu/patches/75/source/common/unicode/platform.h
  tools/icu/patches/75/source/tools/genccode/genccode.c
  tools/icu/patches/75/source/tools/genccode/pkg_genc.h
  tools/icu/patches/75/source/tools/pkgdata/pkgdata.cpp
  tools/icu/patches/75/source/tools/toolutil/pkg_genc.cpp
  tools/icu/patches/75/source/tools/toolutil/pkg_genc.h
Labels: windows, build, tools, i18n-api, needs-ci, dependencies, icu, commit-queue-squash

#54527 doc: fix information about including coverage files
  doc/api/test.md
Labels: doc, coverage, commit-queue-squash, test_runner

#53659 test: fix embedding test for Windows
  test/embedding/test-embedding.js
Labels: test, author ready, needs-ci, commit-queue-squash

#54389 lib: respect terminal capabilities on styleText
  doc/api/util.md
  lib/util.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-util-styletext.js
Labels: util, author ready, needs-ci, commit-queue-squash

#54501 src: add JS APIs for compile cache and NODE_DISABLE_COMPILE_CACHE
  doc/api/cli.md
  doc/api/module.md
  lib/internal/modules/helpers.js
  lib/module.js
  src/compile_cache.cc
  src/compile_cache.h
  src/env.cc
  src/node_modules.cc
  test/fixtures/compile-cache-wrapper.js
  test/parallel/test-compile-cache-api-env.js
  test/parallel/test-compile-cache-api-permission.js
  test/parallel/test-compile-cache-api-success.js
  test/parallel/test-compile-cache-api-tmpdir.js
  test/parallel/test-compile-cache-disable.js
Labels: c++, semver-minor, lib / src, author ready, needs-ci, commit-queue-squash
