Repository nodejs/node, pull requests merged in 2024-06, with the labels that each got.

#53124 src,permission: disable WASI when pm is enabled
  doc/api/cli.md
  doc/api/permissions.md
  doc/node.1
  lib/internal/process/pre_execution.js
  node.gyp
  src/env.cc
  src/node_options.cc
  src/node_options.h
  src/node_wasi.cc
  src/permission/permission.cc
  src/permission/permission.h
  src/permission/permission_base.h
  src/permission/wasi_permission.cc
  src/permission/wasi_permission.h
  test/parallel/test-permission-allow-wasi-cli.js
  test/parallel/test-permission-warning-flags.js
  test/parallel/test-permission-wasi.js
Labels: c++, semver-minor, lib / src, needs-ci, permission

#53175 src,permission: handle process.chdir on pm
  src/node_process_methods.cc
  test/fixtures/permission/fs-read.js
Labels: c++, author ready, needs-ci, permission

#53148 test_runner: refactor to use min/max of `validateInteger`
  lib/internal/test_runner/runner.js
  test/parallel/test-runner-cli.js
  test/parallel/test-runner-run.mjs
Labels: author ready, needs-ci, test_runner

#53188 stream: fix memory usage regression in writable
  lib/internal/streams/writable.js
Labels: needs-ci

#53114 test_runner: handle file rename and deletion under watch mode
  lib/internal/test_runner/runner.js
  lib/internal/watch_mode/files_watcher.js
  test/parallel/test-runner-watch-mode.mjs
Labels: needs-ci, commit-queue-squash, test_runner

#53227 lib: fix the name of the fetch global function
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  test/parallel/test-global.js
Labels: lib / src, regression, author ready, needs-ci, commit-queue-squash, fetch

#53229 test: update TLS trace tests for OpenSSL >= 3.2
  test/parallel/test-tls-enable-trace-cli.js
  test/parallel/test-tls-enable-trace.js
Labels: test, author ready, needs-ci

#53232 test: fix test when compiled without engine support
  test/addons/openssl-test-engine/test.js
Labels: test, addons, author ready, needs-ci

#53233 benchmark: fix napi/ref addon
  benchmark/napi/ref/addon.c
Labels: benchmark, author ready

#53183 Revert "module: have a single hooks thread for all workers"
  lib/internal/main/worker_thread.js
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/worker.js
  lib/internal/worker.js
  src/handle_wrap.cc
  test/common/index.mjs
  test/es-module/test-esm-loader-mock.mjs
  test/es-module/test-esm-loader-threads.mjs
  test/es-module/test-esm-named-exports.js
  test/es-module/test-esm-named-exports.mjs
  test/es-module/test-esm-virtual-json.mjs
  test/fixtures/es-module-loaders/builtin-named-exports.mjs
  test/fixtures/es-module-loaders/hooks-exit-worker.mjs
  test/fixtures/es-module-loaders/hooks-log.mjs
  test/fixtures/es-module-loaders/not-found-assert-loader.mjs
  test/fixtures/es-module-loaders/worker-fail-on-load.mjs
  test/fixtures/es-module-loaders/worker-fail-on-resolve.mjs
  test/fixtures/es-module-loaders/worker-log-again.mjs
  test/fixtures/es-module-loaders/worker-log-fail-worker-load.mjs
  test/fixtures/es-module-loaders/worker-log-fail-worker-resolve.mjs
  test/fixtures/es-module-loaders/worker-log.mjs
  test/fixtures/es-module-loaders/workers-spawned.mjs
Labels: lib / src, tsc-agenda, needs-ci, commit-queue-squash

#52725 build: fix --v8-lite-mode build
  tools/v8_gypfiles/v8.gyp
Labels: v8 engine, tools, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#53221 buffer: add .bytes() method to Blob
  lib/internal/blob.js
  test/fixtures/wpt/FileAPI/Blob-methods-from-detached-frame.html
  test/fixtures/wpt/FileAPI/META.yml
  test/fixtures/wpt/FileAPI/blob/Blob-bytes.any.js
  test/fixtures/wpt/FileAPI/blob/Blob-constructor.any.js
  test/fixtures/wpt/FileAPI/blob/Blob-stream.any.js
  test/fixtures/wpt/README.md
  test/fixtures/wpt/versions.json
Labels: buffer, semver-minor, author ready, needs-ci, web-standards

#53172 vm,src: add property query interceptors
  src/node_contextify.cc
  src/node_contextify.h
  test/parallel/test-vm-global-property-prototype.js
Labels: c++, vm, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#53189 stream: micro-optimize writable condition
  lib/internal/streams/writable.js
Labels: author ready

#53078 cli: add `--expose-gc` flag available to `NODE_OPTIONS`
  doc/api/cli.md
  src/node_options.cc
  test/parallel/test-cli-node-options.js
Labels: c++, cli, needs-ci

#53215 doc: remove cases for keys not containing "*" in `PATTERN_KEY_COMPARE`
  doc/api/esm.md
Labels: doc, esm, author ready

#53300 crypto: fix propagation of "memory limit exceeded"
  src/crypto/crypto_scrypt.cc
  test/parallel/test-crypto-scrypt.js
Labels: crypto, c++, openssl, author ready, needs-ci

#53315 test_runner: calculate executed lines using source map
  lib/internal/test_runner/coverage.js
  test/fixtures/test-runner/coverage-loader/hooks.mjs
  test/fixtures/test-runner/coverage-loader/sum.test.ts
  test/fixtures/test-runner/coverage-loader/sum.ts
  test/parallel/test-runner-coverage.js
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#53316 tools: use sccache Github action
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/test-asan.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-ubsan.yml
Labels: meta, author ready, commit-queue-squash

#53307 lib: fix misleading argument of validateUint32
  lib/internal/test_runner/test.js
  lib/internal/validators.js
  lib/v8.js
Labels: lib / src, author ready, needs-ci

#53348 Revert "vm,src: add property query interceptors"
  src/node_contextify.cc
  src/node_contextify.h
  test/parallel/test-vm-global-property-prototype.js
Labels: c++, vm, fast-track, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x

#53301 doc: indicate requirement on VS 17.6 or newer
  BUILDING.md
Labels: doc, build

#53325 build: generate binlog in out directories
  vcbuild.bat
Labels: windows, build, needs-ci

#53217 src: use v8::(Des|S)erializeInternalFieldsCallback
  src/api/environment.cc
  src/node_snapshotable.cc
  src/node_snapshotable.h
Labels: c++, author ready, needs-ci, snapshot

#53345 doc: fix broken link in `static-analysis.md`
  doc/contributing/static-analysis.md
Labels: doc, meta, author ready

#53344 doc: remove IRC from man page
  doc/node.1
Labels: doc, author ready

#53337 lib: fix timer leak
  lib/internal/timers.js
  lib/timers.js
  test/fixtures/source-map/output/source_map_throw_set_immediate.snapshot
  test/parallel/test-primitive-timer-leak.js
Labels: timers, author ready, needs-ci

#53329 doc: doc-only deprecate OpenSSL engine-based APIs
  doc/api/crypto.md
  doc/api/deprecations.md
  doc/api/https.md
  doc/api/tls.md
Labels: doc, openssl, notable-change, author ready

#53355 lib: expose global CloseEvent
  doc/api/globals.md
  lib/eslint.config_partial.mjs
  lib/internal/bootstrap/web/exposed-window-or-worker.js
  lib/internal/process/pre_execution.js
  test/common/globals.js
  test/eslint.config_partial.mjs
  test/parallel/test-websocket-disabled.js
  test/parallel/test-websocket.js
Labels: semver-major, process, lib / src, author ready

#53269 tools: add stream label on PR when related files being changed in lib
  .github/label-pr-config.yml
Labels: meta

#53154 src: traverse parent folders while running `--run`
  doc/api/cli.md
  src/node_task_runner.cc
  src/node_task_runner.h
  test/fixtures/run-script/sub-directory/.gitkeep
  test/fixtures/run-script/sub-directory/node_modules/.bin/.gitkeep
  test/parallel/test-node-run.js
Labels: c++, semver-minor, needs-ci

#53349 doc: fix mistake in the module `load` hook api
  doc/api/module.md
Labels: doc, module, author ready

#53249 doc: remove mentions of policy model from security info
  doc/contributing/security-model-strategy.md
Labels: doc, meta, security, deprecations, policy

#53181 build: fix the extra whitespace before NINJIA_ARGS
  Makefile
Labels: build, author ready, needs-ci

#53261 stream: prevent stream unexpected pause when highWaterMark set to 0
  lib/internal/streams/writable.js
  test/parallel/test-streams-highwatermark.js
Labels: stream, needs-ci

#53317 doc, stream: define more cases for event emissions
  doc/api/stream.md
Labels: doc, stream

#53235 doc, meta: use markdown rather than HTML in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: doc, meta

#53384 test: update TLS tests for OpenSSL 3.2
  test/common/index.js
  test/parallel/test-tls-empty-sni-context.js
  test/parallel/test-tls-psk-circuit.js
Labels: test, openssl, author ready, needs-ci

#53212 tools: use Ubuntu 24.04 and Clang on GitHub actions
  .github/workflows/build-tarball.yml
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/daily.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
Labels: meta

#53213 stream: make sure _destroy is called on the tail
  lib/internal/streams/compose.js
  test/parallel/test-stream-compose.js
Labels: author ready, needs-ci, commit-queue-squash

#53387 lib: fix naming convention of `Symbol`
  lib/internal/event_target.js
  lib/internal/events/symbols.js
  lib/internal/http2/util.js
Labels: events, http2, author ready, needs-ci, commit-queue-squash

#53373 test: update tests for OpenSSL 3.0.14
  test/parallel/test-http2-https-fallback.js
  test/parallel/test-http2-server-unknown-protocol.js
  test/parallel/test-tls-alpn-server-client.js
Labels: test, openssl, needs-ci, lts-watch-v18.x, lts-watch-v20.x

#53389 src: fix permission inspector crash
  src/inspector_js_api.cc
  src/node_contextify.cc
  test/fixtures/permission/inspector-brk.js
  test/parallel/test-permission-inspector-brk.js
Labels: c++, inspector, author ready, needs-ci

#53364 crypto: improve GetECGroupBits signature
  src/crypto/crypto_common.cc
Labels: crypto, c++, needs-ci

#53397 doc: API doc typo fixes
  doc/api/cli.md
  doc/api/test.md
Labels: doc, fast-track, author ready

#53393 tools: move ESLint tools to tools/eslint
  Makefile
  benchmark/eslint.config_partial.mjs
  doc/eslint.config_partial.mjs
  eslint.config.mjs
  lib/eslint.config_partial.mjs
  test/eslint.config_partial.mjs
  tools/eslint/eslint-plugin-node-core.js
  tools/eslint/eslint.config_partial.mjs
  tools/eslint/eslint.config_utils.mjs
Labels: lib / src, author ready, needs-ci

#53396 doc, http: add `rejectNonStandardBodyWrites` option, clear its behaviour
  doc/api/http.md
Labels: http, doc, author ready, commit-queue-squash

#53228 build: find version of Clang installed on Windows
  BUILDING.md
  tools/msvs/vswhere_usability_wrapper.cmd
  vcbuild.bat
Labels: doc, windows, install, build, tools, needs-ci

#53405 tools: do not run Corepack code before it's reviewed
  Makefile
Labels: build, author ready, needs-ci

#53400 src: fix IsIPAddress for IPv6
  src/inspector_socket.cc
Labels: c++, inspector, author ready, needs-ci

#53360 src: print v8::OOMDetails::detail when it's available
  src/node_errors.cc
Labels: c++, author ready, needs-ci

#53414 tools: fix c-ares update script
  tools/dep_updaters/update-c-ares.sh
Labels: tools, author ready

#53366 tls: use SSL_get_peer_tmp_key
  src/crypto/crypto_common.cc
Labels: tls, crypto, c++, openssl, needs-ci

#53439 src: avoid strcmp in favor of operator==
  src/crypto/crypto_keys.cc
Labels: crypto, c++, fast-track, author ready, needs-ci

#52658 lib: reduce amount of caught URL errors
  lib/internal/modules/esm/hooks.js
  lib/internal/modules/esm/loader.js
  lib/internal/source_map/source_map_cache.js
  lib/internal/url.js
Labels: lib / src, author ready, needs-ci

#53418 src: fix typo in env.cc
  src/env.cc
Labels: c++, author ready

#53241 stream: pipe to a closed or destroyed stream should not be allowed in pipeline
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline.js
Labels: stream, semver-major, errors, commit-queue-squash

#52801 doc: add Buffer.from(string) to functions that use buffer pool
  doc/api/buffer.md
Labels: buffer, doc

#53429 Revert "util: move util._extend to eol"
  benchmark/es/spread-assign.js
  benchmark/misc/util-extend-vs-object-assign.js
  doc/api/deprecations.md
  doc/api/util.md
  lib/util.js
  test/fixtures/tls-connect.js
  test/parallel/test-util.js
Labels: util, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#53433 doc: move `node --run` stability to release candidate
  doc/api/cli.md
Labels: doc, notable-change, cli, author ready

#53436 tls: avoid taking ownership of OpenSSL objects
  src/crypto/crypto_common.cc
Labels: tls, crypto, c++, openssl, author ready, needs-ci

#53438 stream: callback should be called when pendingcb is 0
  lib/internal/streams/end-of-stream.js
  test/parallel/test-stream-finished.js
Labels: stream, author ready, commit-queue-squash

#53440 src: simplify `size() == 0` checks
  src/blob_serializer_deserializer-inl.h
  src/crypto/crypto_aes.cc
  src/crypto/crypto_ec.cc
  src/crypto/crypto_spkac.cc
  src/crypto/crypto_util.h
  src/module_wrap.cc
  src/node_file.cc
  src/permission/fs_permission.cc
  src/permission/fs_permission.h
Labels: c++, lib / src, author ready, needs-ci

#53441 src: remove `SetEncoding` from StringEncoder
  src/string_decoder-inl.h
  src/string_decoder.h
Labels: buffer, c++, author ready, needs-ci

#53442 src: remove `base64` from `process.versions`
  src/base64_version.h
  src/node_metadata.cc
  src/node_metadata.h
  test/parallel/test-process-versions.js
Labels: buffer, c++, baking-for-lts, author ready, needs-ci

#48547 stream: support dispose in writable
  doc/api/stream.md
  lib/internal/streams/writable.js
  test/parallel/test-stream-duplex-destroy.js
  test/parallel/test-stream-transform-destroy.js
  test/parallel/test-stream-writable-destroy.js
Labels: stream, author ready, needs-ci

#52951 lib: speed up MessageEvent creation internally
  lib/internal/worker/io.js
Labels: author ready, worker, needs-ci, commit-queue-squash

#51344 fs: add fast api for `InternalModuleStat`
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/resolve.js
  src/node_external_reference.h
  src/node_file.cc
  test/parallel/test-permission-fs-internal-module-stat.js
Labels: c++, lib / src, performance, needs-ci

#53455 buffer: make indexOf(byte) faster
  src/node_buffer.cc
  src/node_external_reference.h
Labels: buffer, c++, performance, author ready, needs-ci

#53459 tls: check result of SSL_CTX_set_*_proto_version
  src/crypto/crypto_context.cc
Labels: tls, crypto, c++, openssl, author ready, needs-ci

#53338 doc: remove first timer badge
  doc/contributing/collaborator-guide.md
  doc/first_timer_badge.png
Labels: doc, commit-queue-failed, commit-queue-squash

#53431 assert,util: correct comparison when both contain same reference
  lib/internal/util/comparisons.js
  test/parallel/test-assert-deep.js
Labels: test, author ready, needs-ci, commit-queue-squash

#53452 fs: do not crash if the watched file is removed while setting up watch
  lib/internal/fs/recursive_watch.js
  test/parallel/test-fs-watch-recursive-linux-parallel-remove.js
Labels: fs, needs-ci, commit-queue-squash

#53463 lib: remove the unused code
  lib/internal/process/pre_execution.js
Labels: process, author ready, needs-ci

#53471 meta: fix typo in dependency updates
  .github/workflows/tools.yml
Labels: meta, author ready

#53472 test: update `url` web-platform tests
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/WEB_FEATURES.yml
  test/fixtures/wpt/url/a-element.html
  test/fixtures/wpt/url/resources/setters_tests.json
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/versions.json
Labels: test, author ready, needs-ci

#53473 inspector: fix disable async hooks on Debugger.setAsyncCallStackDepth
  src/async_wrap.cc
  src/env.cc
  src/env.h
  src/inspector_agent.cc
  test/parallel/test-inspector-async-call-stack.js
Labels: c++, inspector, notable-change, author ready, needs-ci, commit-queue-squash

#53474 src: use `args.This()` instead of `Holder`
  doc/api/addons.md
  src/README.md
  src/async_wrap.cc
  src/cares_wrap.cc
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_context.cc
  src/crypto/crypto_dh.cc
  src/crypto/crypto_ec.cc
  src/crypto/crypto_hash.cc
  src/crypto/crypto_hmac.cc
  src/crypto/crypto_keys.cc
  src/crypto/crypto_sig.cc
  src/crypto/crypto_tls.cc
  src/crypto/crypto_util.h
  src/crypto/crypto_x509.cc
  src/handle_wrap.cc
  src/histogram.cc
  src/inspector_js_api.cc
  src/js_stream.cc
  src/js_udp_wrap.cc
  src/node_blob.cc
  src/node_contextify.cc
  src/node_dir.cc
  src/node_file.cc
  src/node_http2.cc
  src/node_http_parser.cc
  src/node_internals.h
  src/node_process_methods.cc
  src/node_serdes.cc
  src/node_sockaddr.cc
  src/node_stat_watcher.cc
  src/node_trace_events.cc
  src/node_v8.cc
  src/node_wasm_web_api.cc
  src/node_watchdog.cc
  src/node_webstorage.cc
  src/node_zlib.cc
  src/pipe_wrap.cc
  src/process_wrap.cc
  src/quic/endpoint.cc
  src/quic/session.cc
  src/quic/streams.cc
  src/signal_wrap.cc
  src/stream_base.cc
  src/stream_pipe.cc
  src/stream_wrap.cc
  src/tcp_wrap.cc
  src/tty_wrap.cc
  src/udp_wrap.cc
  test/parallel/test-timers-unref.js
Labels: c++, lib / src, author ready, needs-ci

#53477 test: update encoding web-platform tests
  test/fixtures/wpt/README.md
  test/fixtures/wpt/encoding/api-basics.any.js
  test/fixtures/wpt/encoding/api-surrogates-utf8.any.js
  test/fixtures/wpt/encoding/encodeInto.any.js
  test/fixtures/wpt/encoding/iso-2022-jp-decoder.any.js
  test/fixtures/wpt/encoding/legacy-mb-schinese/gb18030/gb18030-decoder.any.js
  test/fixtures/wpt/encoding/legacy-mb-schinese/gb18030/gb18030-encoder.html
  test/fixtures/wpt/encoding/resources/utf-32-big-endian-nobom.xml
  test/fixtures/wpt/encoding/resources/utf-32-little-endian-nobom.xml
  test/fixtures/wpt/encoding/sharedarraybuffer.https.html
  test/fixtures/wpt/encoding/streams/backpressure.any.js
  test/fixtures/wpt/encoding/streams/decode-attributes.any.js
  test/fixtures/wpt/encoding/streams/decode-bad-chunks.any.js
  test/fixtures/wpt/encoding/streams/decode-non-utf8.any.js
  test/fixtures/wpt/encoding/streams/readable-writable-properties.any.js
  test/fixtures/wpt/encoding/textdecoder-arguments.any.js
  test/fixtures/wpt/encoding/textdecoder-byte-order-marks.any.js
  test/fixtures/wpt/encoding/textdecoder-fatal-streaming.any.js
  test/fixtures/wpt/encoding/textdecoder-fatal.any.js
  test/fixtures/wpt/encoding/textdecoder-ignorebom.any.js
  test/fixtures/wpt/encoding/textdecoder-utf16-surrogates.any.js
  test/fixtures/wpt/encoding/textencoder-utf16-surrogates.any.js
  test/fixtures/wpt/versions.json
  test/wpt/status/encoding.json
Labels: test, author ready, needs-ci

#53478 test: update `compression` web-platform tests
  test/fixtures/wpt/README.md
  test/fixtures/wpt/compression/WEB_FEATURES.yml
  test/fixtures/wpt/compression/decompression-buffersource.tentative.any.js
  test/fixtures/wpt/versions.json
Labels: test, author ready, needs-ci

#52742 doc: update the description of the return type for options.filter
  doc/api/fs.md
Labels: doc, fs

#53107 util: support negative options for `parseArgs`
  doc/api/util.md
  lib/internal/util/parse_args/parse_args.js
  test/parallel/test-parse-args.mjs
Labels: util, semver-minor, author ready, needs-ci

#53510 doc: only apply content-visibility on all.html
  doc/api_assets/style.css
Labels: doc, fast-track, author ready, commit-queue-squash

#52135 fs: move `ToNamespacedPath` to c++
  lib/fs.js
  lib/internal/fs/promises.js
  src/node_blob.cc
  src/node_file.cc
  src/node_url.cc
  src/path.cc
  src/path.h
  test/cctest/test_path.cc
  test/fixtures/permission/fs-traversal.js
  test/parallel/test-fs-mkdir.js
Labels: c++, fs, windows, lib / src, baking-for-lts, needs-ci, commit-queue-squash

#53494 stream: update doc for new default high water mark
  doc/api/stream.md
Labels: doc, stream, author ready, commit-queue-squash

#53490 meta: use correct source for workflow in PR
  .github/workflows/find-inactive-collaborators.yml
Labels: meta, commit-queue-squash

#53444 src: reset `process.versions` during pre-execution
  src/node_process_object.cc
Labels: c++, needs-ci

#53511 build: only generate specified build type ninja files
  configure.py
Labels: build, author ready, needs-ci

#53543 lib: update js2c.py to js2c.cc
  lib/internal/bootstrap/realm.js
Labels: lib / src, fast-track, author ready

#53243 doc, meta: organize contributing to Node-API guide
  doc/contributing/adding-new-napi-api.md
Labels: doc, meta, node-api, commit-queue-squash

#53519 build: configure with shared sqlite3
  configure.py
  node.gyp
  node.gypi
  tools/generate_config_gypi.py
Labels: build, tools, author ready, needs-ci

#52881 path: add `matchesGlob` method
  doc/api/path.md
  lib/path.js
  test/parallel/test-path-glob.js
Labels: semver-minor, path, notable-change, author ready, needs-ci, commit-queue-squash

#53535 test: extend env for `test-node-output-errors`
  test/parallel/test-node-output-errors.mjs
Labels: test, author ready, needs-ci

#53460 crypto: avoid taking ownership of OpenSSL objects
  src/crypto/crypto_common.cc
  src/crypto/crypto_common.h
  src/crypto/crypto_keys.cc
Labels: c++, lib / src, author ready, needs-ci

#53522 deps: V8: cherry-pick 9ebca66a5740
  common.gypi
  deps/v8/src/api/api.cc
  deps/v8/src/builtins/builtins-arraybuffer.cc
  deps/v8/src/compiler/heap-refs.cc
  deps/v8/src/compiler/js-call-reducer.cc
  deps/v8/src/compiler/js-native-context-specialization.cc
  deps/v8/src/flags/flag-definitions.h
  deps/v8/src/heap/factory.cc
  deps/v8/src/init/bootstrapper.cc
  deps/v8/src/objects/js-array-buffer.cc
  deps/v8/src/objects/value-serializer.cc
  deps/v8/test/cctest/test-api-array-buffer.cc
  deps/v8/test/mjsunit/compiler/typedarray-resizablearraybuffer.js
  deps/v8/test/mjsunit/dataview-growablesharedarraybuffer.js
  deps/v8/test/mjsunit/dataview-resizablearraybuffer-detach.js
  deps/v8/test/mjsunit/dataview-resizablearraybuffer.js
  deps/v8/test/mjsunit/harmony/arraybuffer-transfer.js
  deps/v8/test/mjsunit/harmony/typed-array-to-sorted.js
  deps/v8/test/mjsunit/harmony/typedarray-to-reversed.js
  deps/v8/test/mjsunit/harmony/typedarray-tostringtag.js
  deps/v8/test/mjsunit/harmony/typedarray-with.js
  deps/v8/test/mjsunit/maglev/regress-1406456.js
  deps/v8/test/mjsunit/maglev/typedarray-resizablearraybuffer.js
  deps/v8/test/mjsunit/rab-gsab-transfer-to-worker.js
  deps/v8/test/mjsunit/rab-gsab-valueserializer.js
  deps/v8/test/mjsunit/regress-1358505.js
  deps/v8/test/mjsunit/regress-crbug-1321980.js
  deps/v8/test/mjsunit/regress-crbug-1359991.js
  deps/v8/test/mjsunit/regress/regress-1380398.js
  deps/v8/test/mjsunit/regress/regress-1393942.js
  deps/v8/test/mjsunit/regress/regress-crbug-1306929.js
  deps/v8/test/mjsunit/regress/regress-crbug-1307310.js
  deps/v8/test/mjsunit/regress/regress-crbug-1347721.js
  deps/v8/test/mjsunit/regress/regress-crbug-1347722.js
  deps/v8/test/mjsunit/regress/regress-crbug-1362487.js
  deps/v8/test/mjsunit/regress/regress-crbug-1377840.js
  deps/v8/test/mjsunit/regress/regress-crbug-1381064.js
  deps/v8/test/mjsunit/regress/regress-crbug-1384474-variant2.js
  deps/v8/test/mjsunit/regress/regress-crbug-1384474-variant3.js
  deps/v8/test/mjsunit/regress/regress-crbug-1384474.js
  deps/v8/test/mjsunit/regress/regress-crbug-1392577.js
  deps/v8/test/mjsunit/regress/regress-crbug-1393375.js
  deps/v8/test/mjsunit/regress/regress-crbug-1399799.js
  deps/v8/test/mjsunit/regress/regress-crbug-1402139.js
  deps/v8/test/mjsunit/regress/regress-crbug-1412001.js
  deps/v8/test/mjsunit/regress/regress-crbug-1454650.js
  deps/v8/test/mjsunit/regress/regress-crbug-1459172.js
  deps/v8/test/mjsunit/resizablearraybuffer-growablesharedarraybuffer.js
  deps/v8/test/mjsunit/typedarray-growablesharedarraybuffer-array-methods.js
  deps/v8/test/mjsunit/typedarray-growablesharedarraybuffer-atomics.js
  deps/v8/test/mjsunit/typedarray-growablesharedarraybuffer.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer-array-methods.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer-atomics.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer-detach.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer.js
  deps/v8/test/mjsunit/wasm/resizablearraybuffer-growablesharedarraybuffer-wasm.js
  deps/v8/test/test262/testcfg.py
  deps/v8/test/unittests/objects/value-serializer-unittest.cc
Labels: build, v8 engine, author ready, needs-ci

#53545 tools: fix skip detection of test runner output
  tools/test.py
Labels: test, tools

#53546 tools: lock versions of irrelevant DB deps
  tools/eslint/package.json
Labels: tools, author ready

#53539 src: use `starts_with` in node_dotenv.cc
  src/node_dotenv.cc
Labels: c++, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#53558 esm: move hooks test with others
  test/es-module/test-esm-loader-hooks.mjs
  test/es-module/test-esm-named-exports.js
  test/fixtures/es-modules/require-esm-throws-with-loaders.js
Labels: test, esm, author ready, needs-ci, loaders

#53560 doc: note http.closeAllConnections excludes upgraded sockets
  doc/api/http.md
Labels: http, doc, author ready, commit-queue-squash

#53582 Revert "deps: V8: cherry-pick 9ebca66a5740"
  common.gypi
  deps/v8/src/api/api.cc
  deps/v8/src/builtins/builtins-arraybuffer.cc
  deps/v8/src/compiler/heap-refs.cc
  deps/v8/src/compiler/js-call-reducer.cc
  deps/v8/src/compiler/js-native-context-specialization.cc
  deps/v8/src/flags/flag-definitions.h
  deps/v8/src/heap/factory.cc
  deps/v8/src/init/bootstrapper.cc
  deps/v8/src/objects/js-array-buffer.cc
  deps/v8/src/objects/value-serializer.cc
  deps/v8/test/cctest/test-api-array-buffer.cc
  deps/v8/test/mjsunit/compiler/typedarray-resizablearraybuffer.js
  deps/v8/test/mjsunit/dataview-growablesharedarraybuffer.js
  deps/v8/test/mjsunit/dataview-resizablearraybuffer-detach.js
  deps/v8/test/mjsunit/dataview-resizablearraybuffer.js
  deps/v8/test/mjsunit/harmony/arraybuffer-transfer.js
  deps/v8/test/mjsunit/harmony/typed-array-to-sorted.js
  deps/v8/test/mjsunit/harmony/typedarray-to-reversed.js
  deps/v8/test/mjsunit/harmony/typedarray-tostringtag.js
  deps/v8/test/mjsunit/harmony/typedarray-with.js
  deps/v8/test/mjsunit/maglev/regress-1406456.js
  deps/v8/test/mjsunit/maglev/typedarray-resizablearraybuffer.js
  deps/v8/test/mjsunit/rab-gsab-transfer-to-worker.js
  deps/v8/test/mjsunit/rab-gsab-valueserializer.js
  deps/v8/test/mjsunit/regress-1358505.js
  deps/v8/test/mjsunit/regress-crbug-1321980.js
  deps/v8/test/mjsunit/regress-crbug-1359991.js
  deps/v8/test/mjsunit/regress/regress-1380398.js
  deps/v8/test/mjsunit/regress/regress-1393942.js
  deps/v8/test/mjsunit/regress/regress-crbug-1306929.js
  deps/v8/test/mjsunit/regress/regress-crbug-1307310.js
  deps/v8/test/mjsunit/regress/regress-crbug-1347721.js
  deps/v8/test/mjsunit/regress/regress-crbug-1347722.js
  deps/v8/test/mjsunit/regress/regress-crbug-1362487.js
  deps/v8/test/mjsunit/regress/regress-crbug-1377840.js
  deps/v8/test/mjsunit/regress/regress-crbug-1381064.js
  deps/v8/test/mjsunit/regress/regress-crbug-1384474-variant2.js
  deps/v8/test/mjsunit/regress/regress-crbug-1384474-variant3.js
  deps/v8/test/mjsunit/regress/regress-crbug-1384474.js
  deps/v8/test/mjsunit/regress/regress-crbug-1392577.js
  deps/v8/test/mjsunit/regress/regress-crbug-1393375.js
  deps/v8/test/mjsunit/regress/regress-crbug-1399799.js
  deps/v8/test/mjsunit/regress/regress-crbug-1402139.js
  deps/v8/test/mjsunit/regress/regress-crbug-1412001.js
  deps/v8/test/mjsunit/regress/regress-crbug-1454650.js
  deps/v8/test/mjsunit/regress/regress-crbug-1459172.js
  deps/v8/test/mjsunit/resizablearraybuffer-growablesharedarraybuffer.js
  deps/v8/test/mjsunit/typedarray-growablesharedarraybuffer-array-methods.js
  deps/v8/test/mjsunit/typedarray-growablesharedarraybuffer-atomics.js
  deps/v8/test/mjsunit/typedarray-growablesharedarraybuffer.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer-array-methods.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer-atomics.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer-detach.js
  deps/v8/test/mjsunit/typedarray-resizablearraybuffer.js
  deps/v8/test/mjsunit/wasm/resizablearraybuffer-growablesharedarraybuffer-wasm.js
  deps/v8/test/test262/testcfg.py
  deps/v8/test/unittests/objects/value-serializer-unittest.cc
Labels: fast-track, dont-land-on-v22.x

#53564 meta: prevent constant references to issues in versioning
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Labels: meta

#53580 Revert "build: only generate specified build type files"
  configure.py
Labels: build, fast-track, needs-ci, dont-land-on-v22.x

#53566 doc: clarify that fs.exists() may return false for existing symlink
  doc/api/fs.md
Labels: doc, fs, author ready

#53569 doc: document `testSkipPatterns` testing option
  doc/api/test.md
Labels: doc, author ready, test_runner

#53523 Coverage reporter shallow error doc
  doc/api/test.md
Labels: doc, commit-queue-squash, test_runner

#53411 test: refactor, add assertion to http-request-end
  test/parallel/test-http-request-end.js
Labels: test, needs-ci, commit-queue-failed

#53503 test: fix OpenSSL version checks
  test/parallel/test-crypto-dh.js
Labels: test, openssl, author ready, needs-ci

#53513 meta: make emitting warnings bypass deprecation cycle
  doc/contributing/collaborator-guide.md
Labels: doc, meta

#53462 stream: pipeline wait for close before calling the callback
  lib/internal/streams/pipeline.js
  test/parallel/test-stream-pipeline.js
Labels: stream, semver-minor, baking-for-lts, needs-ci

#53540 src: move `FromNamespacedPath` to path.cc
  src/node_file.cc
  src/node_url.cc
  src/node_url.h
  src/path.cc
  src/path.h
Labels: c++, lib / src, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#53585 build: add version-specific library path for AIX
  common.gypi
Labels: build, aix, author ready, needs-ci

#53544 tools: Fix class of GetEmbeddedSnapshotData in snapshot README
  tools/snapshot/README.md
Labels: doc, tools, snapshot

#53612 benchmark: add cpSync benchmark
  benchmark/fs/bench-cpSync.js
Labels: fs, benchmark, fast-track, author ready

#53542 doc, typings: events.once accepts symbol event type
  doc/api/events.md
  lib/events.js
Labels: doc, events

#46678 timers: emit process warning if delay is negative or NaN
  doc/api/process.md
  doc/api/timers.md
  lib/internal/timers.js
  test/fixtures/source-map/output/source_map_throw_set_immediate.snapshot
  test/parallel/test-timers-nan-duration-emit-once-per-process.js
  test/parallel/test-timers-nan-duration-warning.js
  test/parallel/test-timers-negative-duration-warning-emit-once-per-process.js
  test/parallel/test-timers-negative-duration-warning.js
  test/parallel/test-timers-not-emit-duration-zero.js
Labels: timers, semver-major, author ready, needs-ci, review wanted, commit-queue-squash

#53597 test: use `Set.difference()`
  test/parallel/test-bootstrap-modules.js
Labels: test, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v21.x

#53599 meta: move member from TSC regular to emeriti
  README.md
Labels: doc, meta, author ready

#53601 crypto: make deriveBits length parameter optional and nullable
  doc/api/webcrypto.md
  lib/internal/crypto/webcrypto.js
  test/parallel/test-webcrypto-derivebits-cfrg.js
  test/parallel/test-webcrypto-derivebits-ecdh.js
  test/parallel/test-webcrypto-derivebits-hkdf.js
  test/pummel/test-webcrypto-derivebits-pbkdf2.js
  test/wpt/status/WebCryptoAPI.json
Labels: crypto, author ready, needs-ci, webcrypto

#53603 lib: add toJSON to PerformanceMeasure
  lib/internal/perf/usertiming.js
  test/parallel/test-performance-measure-detail.js
Labels: author ready, needs-ci

#53604 doc: add esm example for os
  doc/api/os.md
Labels: doc, os, author ready

#53607 doc: add issue for news from ambassadors
  doc/contributing/sharing-project-news.md
Labels: doc, author ready

#53608 doc: remove some news issues that are no longer
  doc/contributing/sharing-project-news.md
Labels: doc, author ready

#53615 doc: fix doc for correct usage with plan & TextContext
  doc/api/test.md
Labels: doc, author ready, test_runner

#53146 test: do not assume cwd in snapshot tests
  test/common/assertSnapshot.js
  test/parallel/test-runner-output.mjs
Labels: test, author ready, needs-ci

#53631 typings: add `fs_dir` types
  typings/globals.d.ts
  typings/internalBinding/fs.d.ts
  typings/internalBinding/fs_dir.d.ts
Labels: fs, author ready, typings

#53063 src: replace `kPathSeparator` with std::filesystem
  src/compile_cache.cc
  src/compile_cache.h
  src/env.cc
  src/inspector_profiler.cc
  src/node_file.cc
  src/node_report.cc
  src/path.cc
  src/path.h
  src/permission/fs_permission.cc
  src/permission/fs_permission.h
  src/util.h
Labels: c++, lib / src, author ready, needs-ci
