Repository nodejs/node, pull requests merged in 2024-07, with the labels that each got.

#53637 doc: fix module customization hook examples
  doc/api/module.md
Labels: doc, module, author ready

#53638 doc: include node.module_timer on available categories
  doc/api/tracing.md
Labels: doc, author ready

#53650 doc: mark NODE_MODULE_VERSION for Node.js 22.0.0
  doc/abi_version_registry.json
Labels: doc, author ready

#53626 fs: fix typings
  lib/fs.js
  typings/internalBinding/fs.d.ts
Labels: fs, needs-ci, typings, commit-queue-squash

#53057 test: use python3 instead of python in pummel test
  test/pummel/test-child-process-spawn-loop.js
Labels: test, author ready, needs-ci

#53642 test_runner: support module detection in module mocks
  lib/internal/test_runner/mock/mock.js
  lib/test/mock_loader.js
Labels: module, test, author ready, needs-ci, loaders, commit-queue-squash, test_runner

#53649 lib: make navigator properties lazy
  lib/internal/navigator.js
Labels: performance, author ready, needs-ci

#53693 meta: move regular TSC member to emeritus
  README.md
Labels: doc, author ready

#53655 v8: move `ToNamespacedPath` to c++
  lib/v8.js
  src/heap_utils.cc
Labels: c++, author ready, needs-ci

#53654 lib: move `ToNamespacedPath` call to c++
  lib/internal/modules/esm/formats.js
  src/node_file.cc
Labels: c++, fs, esm, author ready, needs-ci

#53656 esm: remove unnecessary toNamespacedPath calls
  lib/internal/modules/esm/resolve.js
Labels: esm, author ready, needs-ci

#53664 doc: add additional explanation to the wildcard section in permissions
  doc/api/permissions.md
Labels: doc, author ready

#53702 doc: require `node:process` in assert doc examples
  doc/api/assert.md
Labels: assert, doc, author ready

#53692 test: un-set inspector-async-hook-setup-at-inspect-brk as flaky
  test/parallel/parallel.status
Labels: test, author ready, needs-ci

#53687 build: fix mac build error of c-ares under GN
  deps/cares/unofficial.gni
Labels: cares, needs-ci, dependencies

#53688 src: do not get string_view from temp string
  src/path.cc
Labels: c++, author ready, needs-ci

#53733 url: add missing documentation for `URL.parse()`
  doc/api/url.md
Labels: doc, url, fast-track, author ready, commit-queue-squash

#53696 http2: remove prototype primordials
  doc/contributing/primordials.md
  lib/eslint.config_partial.mjs
  lib/internal/http2/compat.js
  lib/internal/http2/core.js
  lib/internal/http2/util.js
Labels: http2, author ready, needs-ci, commit-queue-squash

#53709 doc: fix releases guide for recent Git versions
  doc/contributing/releases.md
Labels: doc, author ready

#53694 doc: exclude voting and regular TSC from spotlight
  doc/contributing/reconizing-contributors.md
Labels: author ready, commit-queue-squash

#53596 worker: allow copied NODE_OPTIONS in the env setting
  src/node_worker.cc
  test/fixtures/spawn-worker-with-copied-env.js
  test/fixtures/spawn-worker-with-trace-exit.js
  test/parallel/test-worker-node-options.js
Labels: c++, worker, needs-ci, commit-queue-squash

#53573 src: refactor embedded entrypoint loading
  lib/internal/main/check_syntax.js
  lib/internal/main/embedding.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/util/embedding.js
  src/node.cc
  src/node_contextify.cc
  src/node_main_instance.cc
  src/node_sea.cc
  src/node_sea.h
  test/fixtures/sea.js
Labels: lib / src, needs-ci, commit-queue-squash

#53698 http: remove prototype primordials
  doc/contributing/primordials.md
  lib/_http_agent.js
  lib/_http_client.js
  lib/_http_common.js
  lib/_http_incoming.js
  lib/_http_outgoing.js
  lib/_http_server.js
  lib/eslint.config_partial.mjs
  lib/http.js
  lib/internal/http.js
Labels: lib / src, author ready, needs-ci, commit-queue-failed, commit-queue-squash, dont-land-on-v18.x

#53711 esm: improve `defaultResolve` performance
  lib/internal/modules/esm/resolve.js
Labels: esm, author ready, needs-ci

#53741 doc: remove the last <pre> tag
  doc/api/modules.md
Labels: doc, fast-track, commit-queue-squash

#53724 src: fix Worker termination when `--inspect-brk` is passed
  src/debug_utils.h
  src/env-inl.h
  src/env.h
  src/inspector_agent.cc
  src/inspector_agent.h
  src/node.cc
  src/node.h
  src/node_worker.cc
  test/parallel/test-inspector-exit-worker-in-wait-for-connection2.js
Labels: c++, lib / src, inspector, author ready, worker, needs-ci, commit-queue-squash

#53683 crypto: avoid std::function
  src/crypto/crypto_keys.cc
Labels: crypto, c++, author ready, needs-ci

#53731 doc: mention v8.setFlagsFromString to pm
  doc/api/permissions.md
Labels: doc, permission

#53611 src: document the Node.js context emebdder data
  src/node_context_data.h
Labels: c++, needs-ci

#53734 cli: update `node.1` to reflect Atom's sunset
  doc/node.1
Labels: doc, meta, cli, author ready

#53699 tls: remove prototype primordials
  doc/contributing/primordials.md
  lib/_tls_common.js
  lib/_tls_wrap.js
  lib/eslint.config_partial.mjs
  lib/tls.js
Labels: tls, author ready, needs-ci, commit-queue-squash

#53729 lib: remove path.resolve from permissions.js
  lib/internal/process/permission.js
Labels: process, author ready, needs-ci, permission

#53759 src: fix typo in node.h
  src/node.h
Labels: c++, fast-track, author ready

#53721 http: expose websocket in nodehttp
  doc/api/http.md
  lib/http.js
  test/parallel/test-http-import-websocket.js
Labels: http, semver-minor, needs-ci, request-ci-failed, commit-queue-squash, lts-watch-v20.x

#53744 meta: use HTML entities in `commit-queue` comment
  tools/actions/commit-queue.sh
Labels: tools, author ready, commit-queue-squash

#53682 worker: add postMessageToThread
  doc/api/errors.md
  doc/api/process.md
  doc/api/worker_threads.md
  lib/internal/errors.js
  lib/internal/main/worker_thread.js
  lib/internal/worker.js
  lib/internal/worker/messaging.js
  lib/worker_threads.js
  test/parallel/test-bootstrap-modules.js
  test/parallel/test-http-multiple-headers.js
  test/parallel/test-worker-messaging-errors-handler.js
  test/parallel/test-worker-messaging-errors-invalid.js
  test/parallel/test-worker-messaging-errors-timeout.js
  test/parallel/test-worker-messaging.js
Labels: semver-minor, process, lib / src, author ready, worker, needs-ci

#53750 build: fix build warning of c-ares under GN build
  deps/cares/unofficial.gni
Labels: cares, author ready, needs-ci, dependencies

#53667 fs: improve error performance of `fs.dir`
  lib/internal/fs/dir.js
  src/node_dir.cc
  typings/internalBinding/fs_dir.d.ts
Labels: c++, fs, author ready, needs-ci, typings

#53752 lib,src,test,doc: add node:sqlite module
  doc/api/cli.md
  doc/api/errors.md
  doc/api/index.md
  doc/api/sqlite.md
  doc/node.1
  lib/internal/bootstrap/realm.js
  lib/internal/process/pre_execution.js
  lib/sqlite.js
  node.gyp
  src/env_properties.h
  src/node_binding.cc
  src/node_builtins.cc
  src/node_options.cc
  src/node_options.h
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite.js
  tools/doc/type-parser.mjs
Labels: semver-minor, lib / src, experimental, author ready, commit-queue-squash

#53662 doc: fix that 22.x docs scroll to wrong locations
  doc/api_assets/style.css
Labels: doc, author ready

#53647 Added OpenSSL Security Level section to docs/api/tls.md
  doc/api/tls.md
Labels: tls, doc, openssl

#53305 crypto: remove ERR_CRYPTO_SCRYPT_INVALID_PARAMETER
  doc/api/errors.md
  lib/internal/crypto/scrypt.js
  lib/internal/errors.js
  test/parallel/test-crypto-scrypt.js
Labels: crypto, semver-major, errors, author ready, needs-ci

#53623 http, readline: replace sort with toSorted
  lib/internal/readline/utils.js
  typings/primordials.d.ts
Labels: http, readline, needs-ci, typings, dont-land-on-v18.x, dont-land-on-v20.x

#53766 src: use Maybe<void> in node::crypto::error
  src/crypto/crypto_util.cc
Labels: crypto, c++, author ready, needs-ci

#53767 src: fix error handling in ExportJWKAsymmetricKey
  src/crypto/crypto_keys.cc
Labels: crypto, c++, author ready, needs-ci

#53089 util: fix crashing when emitting new Buffer() deprecation warning
  lib/internal/util.js
Labels: util, needs-ci

#53784 doc: clarify authenticity of plaintexts in update
  doc/api/crypto.md
Labels: crypto, doc, security, author ready

#53754 doc: use mock.callCount() in examples
  doc/api/test.md
Labels: doc, author ready, test_runner

#53239 process: port on-exit-leak-free to core
  LICENSE
  doc/api/process.md
  lib/internal/bootstrap/node.js
  lib/internal/process/finalization.js
  lib/internal/process/per_thread.js
  test/fixtures/process/before-exit.mjs
  test/fixtures/process/close.mjs
  test/fixtures/process/different-registry-per-thread.mjs
  test/fixtures/process/gc-not-close.mjs
  test/fixtures/process/unregister.mjs
  test/parallel/test-process-finalization.mjs
  tools/license-builder.sh
Labels: semver-minor, process, lib / src, author ready, needs-ci, commit-queue-squash

#53630 fs: move `ToNamespacedPath` dir calls to c++
  lib/internal/fs/dir.js
  src/node_dir.cc
Labels: c++, fs, author ready, needs-ci

#53632 fs: reduce throwing unnecessary errors on glob
  lib/internal/fs/glob.js
Labels: fs, author ready, needs-ci

#53628 url: reduce unnecessary string copies
  src/node_url.cc
Labels: c++, whatwg-url, author ready, needs-ci

#53658 src: move `loadEnvFile` toNamespacedPath call
  lib/internal/process/per_thread.js
  src/node_process_methods.cc
Labels: c++, process, author ready, needs-ci

#53769 doc: add Rafael to the last security release
  doc/contributing/security-release-process.md
Labels: doc, security, fast-track, author ready

#53764 lib,esm: handle bypass network-import via data:
  lib/internal/modules/esm/resolve.js
  test/es-module/test-http-imports.mjs
  test/fixtures/es-modules/import-data-url.mjs
Labels: esm, author ready, needs-ci

#53800 stream: improve inspector ergonomics
  lib/internal/webstreams/readablestream.js
  lib/internal/webstreams/writablestream.js
Labels: author ready, needs-ci, web streams

#53797 meta: add `node_sqlite.c` to PR label config
  .github/label-pr-config.yml
Labels: meta, author ready, commit-queue-squash, sqlite

#53811 src: use Maybe<void> in ManagedEVPPKey
  src/crypto/crypto_ec.cc
  src/crypto/crypto_ec.h
  src/crypto/crypto_keys.cc
  src/crypto/crypto_keys.h
  src/crypto/crypto_rsa.cc
  src/crypto/crypto_rsa.h
Labels: c++, lib / src, author ready, needs-ci

#53829 meta: change email of @anonrig
  .mailmap
  README.md
Labels: doc, meta, fast-track, author ready

#53827 url: fix typo
  lib/internal/url.js
Labels: whatwg-url, author ready

#53814 test: update wpt test for url
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/resources/toascii.json
  test/fixtures/wpt/versions.json
Labels: test, author ready, needs-ci

#53770 doc, meta: add PTAL to glossary
  glossary.md
Labels: doc, meta

#53783 meta: remove redudant logging from dep updaters
  tools/dep_updaters/update-acorn-walk.sh
  tools/dep_updaters/update-acorn.sh
  tools/dep_updaters/update-minimatch.sh
Labels: meta, tools, commit-queue-squash

#53553 test: support glob matching coverage files
  doc/api/cli.md
  doc/api/test.md
  doc/node.1
  lib/internal/test_runner/coverage.js
  src/node_options.cc
  src/node_options.h
  test/parallel/test-runner-coverage.js
Labels: notable-change, author ready, needs-ci, test_runner

#53627 fs: add v8 fast api to closeSync
  src/env.cc
  src/env.h
  src/node_external_reference.h
  src/node_file.cc
Labels: c++, fs, author ready, needs-ci

#53760 doc: move MylesBorins to emeritus
  README.md
Labels: doc, meta

#53833 test_runner: fix escaping in snapshot tests
  lib/internal/test_runner/snapshot.js
  test/fixtures/test-runner/snapshots/unit.js
  test/parallel/test-runner-snapshot-tests.js
Labels: author ready, test_runner

#53636 tls: add setKeyCert() to tls.Socket
  doc/api/tls.md
  lib/_tls_wrap.js
  src/crypto/crypto_tls.cc
  src/crypto/crypto_tls.h
  test/parallel/test-tls-server-setkeycert.js
Labels: c++, lib / src, author ready, needs-ci

#53834 test_runner: remove plan option from run()
  lib/internal/test_runner/runner.js
  test/fixtures/test-runner/output/test-runner-plan.js
Labels: author ready, test_runner

#53817 lib: refactor `platform` utility methods
  lib/fs.js
  lib/internal/fs/glob.js
  lib/internal/fs/promises.js
  lib/internal/fs/rimraf.js
  lib/internal/fs/utils.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/url.js
  lib/internal/util.js
  lib/net.js
  lib/path.js
Labels: lib / src, author ready, needs-ci

#53832 src: update outdated references to spec sections
  src/util-inl.h
  src/util.h
Labels: c++, author ready, needs-ci

#53820 src,test: further cleanup references to osx
  Makefile
  configure.py
  node.gypi
  src/large_pages/node_large_page.cc
  src/node_internals.h
  src/node_report.cc
  src/util.cc
  test/common/README.md
  test/common/index.js
  test/common/index.mjs
  test/common/shared-lib-util.js
  test/fixtures/permission/fs-write.js
  test/parallel/test-child-process-exec-timeout-expire.js
  test/parallel/test-cluster-bind-privileged-port.js
  test/parallel/test-cluster-concurrent-disconnect.js
  test/parallel/test-cluster-shared-handle-bind-privileged-port.js
  test/parallel/test-fs-lchmod.js
  test/parallel/test-fs-mkdir.js
  test/parallel/test-fs-open-flags.js
  test/parallel/test-fs-promises-file-handle-aggregate-errors.js
  test/parallel/test-fs-promises-file-handle-close-errors.js
  test/parallel/test-fs-promises-file-handle-op-errors.js
  test/parallel/test-fs-promises-watch.js
  test/parallel/test-fs-promises.js
  test/parallel/test-fs-readdir-buffer.js
  test/parallel/test-fs-watch-enoent.js
  test/parallel/test-fs-watch-recursive-validate.js
  test/parallel/test-fs-watch.js
  test/parallel/test-fs-watchfile.js
  test/parallel/test-process-getgroups.js
  test/parallel/test-stdin-from-file-spawn.js
  test/parallel/test-tls-honorcipherorder.js
  test/parallel/test-watch-mode-files_watcher.mjs
  test/sequential/test-cluster-send-handle-large-payload.js
  test/sequential/test-fs-watch.js
  test/sequential/test-watch-mode.mjs
Labels: lib / src, author ready, needs-ci

#53765 lib: make navigator not runtime-lookup process.version, arch, or platform
  lib/internal/navigator.js
  lib/internal/process/per_thread.js
  lib/internal/process/pre_execution.js
  lib/internal/url.js
  test/parallel/test-navigator.js
Labels: lib / src, author ready, needs-ci

#53749 tools: use v8_features.json to populate config.gypi
  tools/generate_config_gypi.py
  unofficial.gni
Labels: tools

#53844 build: disable test-asan workflow
  .github/workflows/test-asan.yml
Labels: meta, author ready

#53602 src,lib: expose getCategoryEnabledBuffer to use on node.http
  lib/internal/http.js
  src/node_trace_events.cc
  test/parallel/test-trace-events-get-category-enabled-buffer.js
Labels: http, c++, author ready, needs-ci, commit-queue-squash

#53849 test_runner: consolidate option parsing
  lib/internal/main/test_runner.js
  lib/internal/test_runner/coverage.js
  lib/internal/test_runner/utils.js
Labels: author ready, test_runner

#53850 src: fix potential segmentation fault in SQLite
  src/node_sqlite.cc
Labels: c++, author ready, needs-ci, sqlite

#53786 src: fix env-file flag to ignore spaces before quotes
  src/node_dotenv.cc
  test/fixtures/dotenv/valid.env
  test/parallel/test-dotenv.js
Labels: c++, author ready, needs-ci, dotenv

#53762 doc: update release-post nodejs.org script
  doc/contributing/releases.md
Labels: doc, author ready

#53857 doc: fix casing of GitHub handles in README lists
  README.md
Labels: doc, meta, author ready

#53889 doc: fix release date for 22.5.0
  doc/changelogs/CHANGELOG_V22.md
Labels: fast-track, release, dont-land-on-v18.x, dont-land-on-v20.x

#53888 meta: move anonrig to tsc voting members
  README.md
Labels: doc, meta, fast-track, author ready

#53861 fs: avoid unnecessary options checks when options argument is not passed
  lib/fs.js
Labels: fs, author ready, needs-ci

#53862 deps: fix include_dirs of nbytes
  deps/nbytes/nbytes.gyp
  deps/nbytes/unofficial.gni
Labels: needs-ci, dependencies

#53895 doc: add MattiasBuelens to collaborators
  README.md
Labels: doc, meta, fast-track

#53782 cli: document `--inspect` port `0` behavior
  doc/api/cli.md
Labels: doc, inspector, cli, author ready, commit-queue-squash

#53872 esm: refactor `get_format`
  lib/internal/modules/esm/get_format.js
Labels: esm, author ready, needs-ci

#53617 fs: move `rmSync` implementation to c++
  lib/fs.js
  lib/internal/fs/rimraf.js
  src/node_errors.h
  src/node_file.cc
  test/parallel/test-fs-rmdir-recursive.js
  typings/internalBinding/fs.d.ts
Labels: c++, lib / src, author ready, needs-ci

#53876 src: refactor webstorage implementation
  src/node_webstorage.cc
Labels: c++, author ready, needs-ci

#53904 Revert "fs: add v8 fast api to closeSync"
  src/env.cc
  src/env.h
  src/node_external_reference.h
  src/node_file.cc
Labels: c++, fs, lib / src, fast-track, needs-ci, revert

#53593 inspector: add initial support for network inspection
  doc/api/cli.md
  doc/api/inspector.md
  lib/inspector.js
  lib/internal/inspector_network_tracking.js
  lib/internal/process/pre_execution.js
  src/env_properties.h
  src/inspector/network_agent.cc
  src/inspector/network_agent.h
  src/inspector/network_inspector.cc
  src/inspector/network_inspector.h
  src/inspector/node_inspector.gypi
  src/inspector/node_protocol.pdl
  src/inspector/node_string.cc
  src/inspector_agent.cc
  src/inspector_agent.h
  src/inspector_js_api.cc
  src/node_options.cc
  src/node_options.h
  test/parallel/test-inspector-emit-protocol-event.js
  test/parallel/test-inspector-network-domain.js
Labels: c++, semver-minor, lib / src, inspector, notable-change, diag-agenda, experimental, author ready, commit-queue-squash

#53676 doc: update `api_assets` README for new files
  doc/api_assets/README.md
Labels: doc, author ready

#53567 doc: add documentation for ReadStream and WriteStream in tty
  doc/api/tty.md
  tools/doc/type-parser.mjs
Labels: doc, tools, author ready, commit-queue-squash

#53883 src: use Maybe<void> in SecureContext
  src/crypto/crypto_context.cc
  src/crypto/crypto_context.h
Labels: crypto, c++, author ready, needs-ci

#53907 doc, sqlite: add `--experimental-sqlite` note
  doc/api/sqlite.md
Labels: doc, commit-queue-squash, sqlite

#53859 lib: improve error message when index not found on cjs
  src/node_file.cc
  test/es-module/test-cjs-legacyMainResolve.js
Labels: c++, fs, needs-ci, commit-queue-squash

#53920 test: deflake test-blob-file-backed
  test/parallel/test-blob-file-backed.js
Labels: test, needs-ci

#53926 doc: move --test-coverage-{ex,in}clude to proper location
  doc/api/cli.md
Labels: doc, cli, fast-track, author ready

#53921 test_runner: refactoring for supporting in-process testing
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
Labels: author ready, test_runner

#53619 module: unflag detect-module
  doc/api/cli.md
  doc/api/esm.md
  doc/api/modules.md
  doc/api/packages.md
  lib/internal/main/check_syntax.js
  lib/internal/modules/run_main.js
  src/node_options.cc
  src/node_options.h
  test/es-module/test-esm-cjs-exports.js
  test/es-module/test-esm-detect-ambiguous.mjs
  test/es-module/test-esm-extensionless-esm-and-wasm.mjs
  test/es-module/test-esm-import-flag.mjs
  test/es-module/test-esm-loader-hooks.mjs
  test/es-module/test-esm-resolve-type.mjs
  test/es-module/test-require-module-detect-entry-point-aou.js
  test/es-module/test-require-module-detect-entry-point.js
  test/es-module/test-require-module-dont-detect-cjs.js
  test/es-module/test-require-module-implicit.js
  test/es-module/test-require-module-with-detection.js
  test/fixtures/es-module-loaders/builtin-named-exports-loader.mjs
Labels: module, lib / src, baking-for-lts, tsc-agenda, esm, author ready, needs-ci, loaders, commit-queue-squash, dont-land-on-v18.x

#53930 meta: store actions secrets in environment
  .github/workflows/auto-start-ci.yml
  .github/workflows/commit-queue.yml
Labels: meta, author ready, commit-queue-squash

#53942 doc: remove `scroll-behavior: smooth;`
  doc/api_assets/style.css
Labels: doc, author ready

#53950 doc,tools: enforce use of `node:` prefix
  doc/api/async_hooks.md
  doc/api/timers.md
  doc/api/wasi.md
  doc/api/worker_threads.md
  doc/eslint.config_partial.mjs
Labels: doc, author ready

#53938 test: use `PYTHON` executable from env in `assertSnapshot`
  test/common/assertSnapshot.js
Labels: test, author ready, needs-ci, commit-queue-squash

#53967 test: reduce flakiness of `test-assert-esm-cjs-message-verify`
  test/parallel/test-assert-esm-cjs-message-verify.js
Labels: test, fast-track, author ready, needs-ci

#53954 doc: add info about prefix-only modules to `module.builtinModules`
  doc/api/module.md
Labels: doc, module, author ready, commit-queue-squash

#53912 tools: fix `SLACK_TITLE` in invalid commit workflow
  .github/workflows/notify-on-push.yml
Labels: meta, author ready, commit-queue-squash

#53875 src: move `ToNamespacedPath` call of webstorage
  lib/internal/webstorage.js
  src/node_webstorage.cc
  src/node_webstorage.h
Labels: c++, author ready, needs-ci

#53781 child_process: fix incomplete prototype pollution hardening
  lib/child_process.js
  test/parallel/test-child-process-prototype-tampering.mjs
Labels: child_process, test, security, needs-ci

#53959 src: switch from ToLocalChecked to ToLocal in node_webstorage
  src/node_webstorage.cc
Labels: c++, author ready

#53949 meta: reword linter messages
  eslint.config.mjs
  lib/eslint.config_partial.mjs
Labels: tools, author ready

#53756 lib: improve cluster/primary code
  lib/internal/cluster/primary.js
Labels: cluster, author ready, needs-ci

#53785 doc: update boxstarter README
  tools/bootstrap/README.md
Labels: doc, build, meta, tools, author ready

#53813 src: avoid strcmp in ImportJWKAsymmetricKey
  src/crypto/crypto_keys.cc
Labels: crypto, c++, author ready, needs-ci

#53879 src,http2: cache invariant code motion
  src/node_http2.cc
Labels: c++, performance, http2, author ready, needs-ci

#53931 test_runner: refactor coverage to pass in config options
  lib/internal/test_runner/coverage.js
  lib/internal/test_runner/harness.js
Labels: author ready, test_runner

#53622 timers: test timeout NaN warning in promises version
  test/parallel/test-timers-nan-duration-warning-promises.js
Labels: test, author ready, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x

#53941 src: do not save c_str of a temp string
  src/node_file.cc
Labels: c++, fs, needs-ci

#53966 deps: V8: cherry-pick 9812cb486e2b
  common.gypi
  deps/v8/include/v8-local-handle.h
Labels: build, v8 engine, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#53952 test: skip --title check on IBM i
  test/fixtures/spawn-worker-with-copied-env.js
Labels: test, needs-ci, ibm i

#53851 src,test: disallow unsafe integer coercion in SQLite
  src/node_sqlite.cc
  test/parallel/test-sqlite.js
Labels: c++, experimental, author ready, needs-ci, sqlite

#53718 meta: make more bug-report information required
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Labels: meta

#53951 build, tools: drop leading `/` from `r2dir`
  tools/release.sh
Labels: tools

#53614 fs: optimize `fs.cpSync` js calls
  lib/internal/fs/cp/cp-sync.js
  src/node_errors.h
  src/node_file.cc
  test/fixtures/permission/fs-read.js
  typings/internalBinding/fs.d.ts
Labels: c++, lib / src, author ready, needs-ci

#53970 meta: remove license for hljs
  LICENSE
  tools/license-builder.sh
Labels: meta, tools, author ready

#53972 src: fix slice of slice of file-backed Blob
  src/dataqueue/queue.cc
  test/parallel/test-blob-file-backed.js
Labels: c++, author ready, needs-ci

#53976 doc: fix documentation for `--run`
  doc/api/cli.md
Labels: doc, cli, commit-queue-squash

#53918 test: skip sea tests in large debug builds
  test/common/sea.js
Labels: test, needs-ci, single-executable

#53878 test_runner: cleanup global event listeners after run
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/runner.js
  test/parallel/test-runner-run.mjs
Labels: needs-ci, commit-queue-squash, test_runner

#53605 build: fix gyp configs in debug
  configure.py
  tools/v8_gypfiles/features.gypi
  tools/v8_gypfiles/toolchain.gypi
Labels: build, v8 engine, tools, author ready, needs-ci, commit-queue-squash

#53990 doc: fix typo in recognizing-contributors
  doc/contributing/recognizing-contributors.md
Labels: doc, fast-track

#53704 process: unify experimental warning messages
  lib/internal/process/pre_execution.js
Labels: process, experimental, author ready, needs-ci

#53776 fs: ensure consistency for mkdtemp in both fs and fs/promises
  lib/internal/fs/promises.js
Labels: fs, author ready, needs-ci, lts-watch-v20.x

#53993 Fixes: https://github.com/nodejs/node/issues/53989
  test/parallel/test-child-process-cwd.js
Labels: test, fast-track, author ready, needs-ci, commit-queue-squash

#53751 test: mark test-pipe-file-to-http as flaky
  test/parallel/parallel.status
Labels: test, author ready, needs-ci

#53981 src: return `undefined` if no rows are returned in SQLite
  src/node_sqlite.cc
  test/parallel/test-sqlite.js
Labels: c++, author ready, needs-ci, sqlite

#53982 fs: fix regression on rmsync
  src/node_file.cc
Labels: c++, fs, author ready, needs-ci

#54004 meta: add jake to collaborators
  README.md
Labels: doc, meta, notable-change, fast-track

#53885 src: fix `-Wshadow` warning
  src/util.h
Labels: c++, author ready

#53884 build: ensure `v8_pointer_compression_sandbox` is enabled on 64bit
  common.gypi
  configure.py
Labels: build

#52908 doc, test: tracing channel hasSubscribers getter
  doc/api/diagnostics_channel.md
  test/parallel/test-diagnostics-channel-tracing-channel-has-subscribers.js
Labels: needs-ci, diagnostics_channel

#53940 deps: add gn build files for ncrypto
  deps/ncrypto/unofficial.gni
Labels: needs-ci, dependencies

#54029 meta: move tsc member to emeritus
  README.md
Labels: doc, fast-track

#53728 deps: fix V8 compilation on GCC 12
  common.gypi
  deps/v8/src/base/macros.h
Labels: v8 engine, needs-ci

#53863 build: avoid compiling with VS v17.10
  vcbuild.bat
Labels: windows, build, needs-ci, commit-queue-squash

#53999 lib: optimize copyError with ObjectAssign in primordials
  lib/internal/assert/assertion_error.js
Labels: assert, author ready, needs-ci, needs-benchmark-ci, commit-queue-squash

#54031 test: mark 'test/parallel/test-sqlite.js' as flaky
  test/parallel/parallel.status
Labels: test, fast-track, needs-ci

#54003 src: remove redundant RsaPointer (use RSAPointer)
  src/crypto/crypto_rsa.cc
  src/crypto/crypto_util.h
Labels: crypto, c++, author ready

#54036 doc: correct typescript stdin support
  doc/api/typescript.md
Labels: fast-track, type-strip
