Repository nodejs/node, pull requests merged in 2024-11, with the labels that each got.

#55521 src: fix dns crash when failed to create NodeAresTask
  src/cares_wrap.cc
Labels: c++, cares, author ready, needs-ci

#55597 doc: improve c++ embedder API doc
  doc/api/embedding.md
Labels: doc, embedding

#55578 test_runner: pass `options` directly to `TestCoverage`
  lib/internal/test_runner/coverage.js
Labels: author ready, test_runner

#55606 meta: show PR/issue title on review-wanted
  .github/workflows/notify-on-review-wanted.yml
Labels: meta, author ready

#55266 build: stop pre-compiling `lint-md`
  .github/dependabot.yml
  .github/workflows/tools.yml
  .gitignore
  Makefile
  eslint.config.mjs
  tools/lint-md/.gitignore
  tools/lint-md/lint-md.mjs
  tools/lint-md/lint-md.src.mjs
  tools/lint-md/package-lock.json
  tools/lint-md/package.json
  vcbuild.bat
Labels: build, meta, tools, author ready, needs-ci

#55617 build: use rclone instead of aws CLI
  Makefile
  tools/release.sh
  vcbuild.bat
Labels: build, tools, needs-ci, lts-watch-v18.x, lts-watch-v20.x, lts-watch-v22.x

#55610 src: refactor ECDHBitsJob signature
  lib/internal/crypto/diffiehellman.js
  src/crypto/crypto_ec.cc
  src/crypto/crypto_ec.h
  src/crypto/crypto_keys.cc
  src/crypto/crypto_keys.h
Labels: crypto, c++, lib / src, author ready, needs-ci, webcrypto

#55611 doc: remove mention of ECDH-ES in crypto.diffieHellman
  doc/api/crypto.md
Labels: crypto, doc, author ready

#55616 doc: add a note on console stream behavior
  doc/api/console.md
Labels: doc, console

#55622 http: add diagnostic channel `http.server.response.created`
  doc/api/diagnostics_channel.md
  lib/_http_server.js
  test/parallel/test-diagnostic-channel-http-response-created.js
  test/parallel/test-diagnostics-channel-http.js
Labels: http, author ready, needs-ci

#55625 tools: lint README lists more strictly
  README.md
  tools/lint-readme-lists.mjs
Labels: doc, tools, author ready

#55368 src: move more key related stuff to ncrypto
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
  src/crypto/crypto_keygen.cc
  src/crypto/crypto_keygen.h
  src/crypto/crypto_keys.cc
  src/crypto/crypto_keys.h
  src/crypto/crypto_util.h
Labels: crypto, author ready, needs-ci, dependencies

#55434 os: improve path check with direct index access
  lib/os.js
Labels: os, needs-ci, review wanted, commit-queue-squash

#55474 assert: fix the string length check for printing the simple diff
  lib/internal/assert/assertion_error.js
  test/parallel/test-assert-deep.js
  test/parallel/test-assert.js
Labels: assert, author ready, needs-ci

#55543 module: simplify `findPackageJSON` implementation
  lib/internal/modules/package_json_reader.js
Labels: module, author ready, needs-ci

#55552 lib: make ALS default to AsyncContextFrame
  doc/api/cli.md
  lib/internal/async_context_frame.js
  src/node_options.cc
  test/parallel/test-without-async-context-frame.mjs
Labels: c++, doc, semver-major, test, needs-ci, async_local_storage

#55607 meta: make review-wanted message minimal
  .github/workflows/notify-on-review-wanted.yml
Labels: meta, author ready

#55626 util: fix util.getCallSites plurality
  benchmark/util/get-callsite.js
  doc/api/deprecations.md
  doc/api/util.md
  lib/util.js
  src/node_util.cc
  test/common/index.js
  test/fixtures/get-call-site.js
  test/fixtures/get-call-sites.js
  test/parallel/test-util-getcallsite.js
  test/parallel/test-util-getcallsites.js
Labels: util, c++, semver-minor, notable-change, deprecations, needs-ci

#55527 Revert "fs,win: fix bug in paths with trailing slashes"
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/streams.js
  lib/internal/fs/utils.js
  test/sequential/test-fs-path-dir.js
Labels: fs, needs-ci, revert, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x

#55549 typings: fix `ModulesBinding` types
  typings/internalBinding/modules.d.ts
Labels: author ready, typings

#54626 doc: add write flag when open file as the demo code's intention
  doc/api/stream.md
Labels: doc, stream, author ready

#54227 doc: broken `PerformanceObserver` code sample
  doc/api/perf_hooks.md
Labels: doc, perf_hooks

#55619 tools: run daily WPT.fyi report on all supported releases
  .github/workflows/daily-wpt-fyi.yml
Labels: meta, author ready

#55695 tools: compact jq output in daily-wpt-fyi.yml action
  .github/workflows/daily-wpt-fyi.yml
Labels: meta, fast-track

#55629 crypto: fix `RSA_PKCS1_PADDING` error message
  src/crypto/crypto_cipher.cc
Labels: crypto, c++, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#55679 module: simplify --inspect-brk handling
  lib/internal/modules/cjs/loader.js
Labels: module, needs-ci

#55571 sqlite: improve error handling using MaybeLocal
  src/node_sqlite.cc
Labels: c++, experimental, author ready, needs-ci, review wanted, sqlite

#55589 util: add sourcemap support to getCallSites
  doc/api/deprecations.md
  doc/api/util.md
  lib/util.js
  test/fixtures/typescript/ts/test-get-callsite-explicit.ts
  test/fixtures/typescript/ts/test-get-callsite.ts
  test/parallel/test-util-getcallsites.js
Labels: util, semver-minor, needs-ci

#55694 tools: use `util.parseArgs` in `lint-md`
  tools/lint-md/lint-md.mjs
Labels: tools, author ready

#55703 test,crypto: update WebCryptoAPI WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/derive_key_and_encrypt.https.any.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/derive_key_and_encrypt.js
  test/fixtures/wpt/WebCryptoAPI/util/helpers.js
  test/fixtures/wpt/versions.json
Labels: crypto, test, author ready, needs-ci, webcrypto

#53079 src: nuke deprecated and un-used enum members in `OptionEnvvarSettings`
  src/node.h
  typings/internalBinding/options.d.ts
Labels: c++, semver-major, author ready, needs-ci, typings

#55489 lib: implement webidl dictionary converter and use it in structuredClone
  lib/internal/webidl.js
  lib/internal/worker/js_transferable.js
  test/parallel/test-structuredClone-global.js
Labels: author ready, worker, commit-queue-failed, web-standards

#55495 doc: update --max-semi-space-size description in cli.md
  doc/api/cli.md
Labels: doc, cli, author ready, dont-land-on-v18.x

#55623 path,win: fix bug in resolve and normalize
  lib/path.js
  src/path.cc
  test/cctest/test_path.cc
  test/parallel/test-path-makelong.js
  test/parallel/test-path-normalize.js
  test/parallel/test-path-resolve.js
Labels: c++, path, baking-for-lts, author ready, needs-ci

#55472 test: refactor some esm tests
  test/es-module/test-esm-import-meta-resolve.mjs
  test/es-module/test-esm-pkgname.mjs
Labels: test, esm, author ready, needs-ci

#55406 assert: fix deepStrictEqual on errors when cause is present
  lib/internal/assert/assertion_error.js
  test/parallel/test-assert-deep-with-error.js
Labels: test, author ready, needs-ci

#55605 test: ignore unrelated events in FS watch tests
  test/parallel/test-fs-watch-recursive-add-file-to-existing-subfolder.js
  test/parallel/test-fs-watch-recursive-add-file-to-new-folder.js
  test/parallel/test-fs-watch-recursive-add-file-with-url.js
  test/parallel/test-fs-watch-recursive-add-file.js
  test/parallel/test-fs-watch-recursive-add-folder.js
Labels: test, author ready, needs-ci, watch-mode

#55591 src: provide workaround for container-overflow (issue 55584)
  src/node_modules.cc
Labels: c++, author ready, needs-ci, commit-queue-squash

#55715 doc: clarity to available addon options
  doc/api/addons.md
Labels: doc, addons, author ready

#55544 util: don't catch on circular toStringTag error
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect.js
Labels: util, author ready, needs-ci, review wanted

#55197 test: update `performance-timeline` wpt
  test/fixtures/wpt/README.md
  test/fixtures/wpt/performance-timeline/back-forward-cache-restoration.tentative.html
  test/fixtures/wpt/performance-timeline/droppedentriescount.any.js
  test/fixtures/wpt/performance-timeline/idlharness-shadowrealm.window.js
  test/fixtures/wpt/performance-timeline/navigation-id-detached-frame.tentative.html
  test/fixtures/wpt/performance-timeline/navigation-id-element-timing.tentative.html
  test/fixtures/wpt/performance-timeline/navigation-id-initial-load.tentative.html
  test/fixtures/wpt/performance-timeline/navigation-id-long-task-task-attribution.tentative.html
  test/fixtures/wpt/performance-timeline/navigation-id-mark-measure.tentative.html
  test/fixtures/wpt/performance-timeline/navigation-id-reset.tentative.html
  test/fixtures/wpt/performance-timeline/navigation-id-resource-timing.tentative.html
  test/fixtures/wpt/performance-timeline/navigation-id-worker-created-entries.html
  test/fixtures/wpt/performance-timeline/navigation-id.helper.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/abort-block-bfcache.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-attributes.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-bfcache-reasons-stay.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-bfcache.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-cross-origin-bfcache.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-fetch.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-iframes-without-attributes.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-lock.https.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-navigation-failure.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-not-bfcached.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-redirect-on-history.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-reload.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-same-origin-bfcache.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/performance-navigation-timing-same-origin-replace.tentative.window.js
  test/fixtures/wpt/performance-timeline/not-restored-reasons/test-helper.js
  test/fixtures/wpt/performance-timeline/resources/child-frame.html
  test/fixtures/wpt/performance-timeline/resources/empty.html
  test/fixtures/wpt/performance-timeline/resources/going-back.html
  test/fixtures/wpt/performance-timeline/resources/include-frames-helper.js
  test/fixtures/wpt/performance-timeline/resources/include-frames-subframe.html
  test/fixtures/wpt/performance-timeline/resources/json_resource.json
  test/fixtures/wpt/performance-timeline/resources/make_long_task.js
  test/fixtures/wpt/performance-timeline/resources/navigation-id-detached-frame-page.html
  test/fixtures/wpt/performance-timeline/resources/worker-navigation-id.js
  test/fixtures/wpt/performance-timeline/supportedEntryTypes-cross-realm-access.html
  test/fixtures/wpt/performance-timeline/tentative/detached-frame.html
  test/fixtures/wpt/performance-timeline/tentative/include-frames-originA-A-A.html
  test/fixtures/wpt/performance-timeline/tentative/include-frames-originA-A.html
  test/fixtures/wpt/performance-timeline/tentative/include-frames-originA-AA.html
  test/fixtures/wpt/performance-timeline/tentative/include-frames-originA-AB.html
  test/fixtures/wpt/performance-timeline/tentative/include-frames-originA-B-A.html
  test/fixtures/wpt/performance-timeline/tentative/include-frames-originA-B-B.html
  test/fixtures/wpt/performance-timeline/tentative/include-frames-originA-B.html
  test/fixtures/wpt/performance-timeline/tentative/performance-entry-source.html
  test/fixtures/wpt/performance-timeline/tentative/with-filter-options-originA.html
  test/fixtures/wpt/performance-timeline/timing-removed-iframe.html
  test/fixtures/wpt/versions.json
  test/wpt/status/performance-timeline.json
Labels: test, author ready, needs-ci, web-standards

#55654 doc: consistent use of word child process
  doc/api/child_process.md
Labels: child_process, doc, author ready, commit-queue-squash

#55717 tools: fix c-ares updater script for Node.js 18
  tools/dep_updaters/update-c-ares.mjs
Labels: tools, author ready

#55720 lib: use `Promise.withResolvers()` in timers
  lib/timers/promises.js
Labels: timers, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x

#54869 repl: runtime deprecate instantiating without new
  doc/api/deprecations.md
  lib/internal/util.js
  lib/repl.js
  test/parallel/test-repl-preview-without-inspector.js
  test/parallel/test-repl-preview.js
  test/parallel/test-repl.js
Labels: util, repl, semver-major, author ready, deprecations, needs-ci, needs-citgm, commit-queue-squash

#55755 [v20.x] build: pin doc workflow to Node.js 20
  .github/workflows/doc.yml
Labels: meta, fast-track, v18.x, lts-watch-v18.x, v20.x

#55728 lib: remove unnecessary optional chaining
  lib/events.js
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/fs/read/context.js
  lib/internal/fs/watchers.js
  lib/timers/promises.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#55732 doc: enforce strict policy to semver-major releases
  doc/contributing/releases.md
Labels: doc, notable-change

#55734 test: add buffer to fs_permission tests
  test/fixtures/permission/fs-read.js
  test/fixtures/permission/fs-write.js
Labels: fs, test, author ready, needs-ci, permission

#55737 lib: prefer symbol to number in webidl `type` function
  lib/internal/webidl.js
Labels: author ready, needs-ci

#55738 assert: differentiate cases where `cause` is `undefined` or missing
  lib/internal/assert/assertion_error.js
  lib/internal/util/comparisons.js
  test/parallel/test-assert-deep-with-error.js
Labels: assert, util, author ready, needs-ci

#55745 doc: add esm path import
  doc/api/path.md
Labels: doc, path, fast-track, author ready, commit-queue-failed, commit-queue-squash

#55766 doc: add path aliases typescript doc
  doc/api/typescript.md
Labels: doc, fast-track, commit-queue-squash

#55739 test: ensure that test priority is not higher than current priority
  test/parallel/test-os.js
Labels: os, test, author ready, needs-ci, commit-queue-squash

#55746 doc: clarify removal of experimental API does not require a deprecation
  doc/api/documentation.md
Labels: doc, author ready

#55744 fs: fix bufferSize option for opendir recursive
  lib/internal/fs/dir.js
  test/sequential/test-fs-opendir-recursive.js
Labels: fs, test, needs-ci

#55740 util: do not mark experimental feature as deprecated
  doc/api/deprecations.md
  doc/api/util.md
  lib/internal/util.js
  lib/util.js
  test/parallel/test-util-getcallsite.js
Labels: util, experimental, author ready, deprecations, needs-ci

#55710 test: improve test coverage for child process message sending
  test/parallel/test-child-process-send-type-error.js
Labels: child_process, test, author ready, needs-ci

#55697 src: add cli option to exclude env vars on dr
  doc/api/cli.md
  doc/api/process.md
  doc/api/report.md
  lib/internal/process/report.js
  src/env-inl.h
  src/env.h
  src/node_options.cc
  src/node_options.h
  src/node_report.cc
  src/node_report_module.cc
  test/common/report.js
  test/report/test-report-writereport-exclude-env.js
Labels: c++, semver-minor, lib / src, needs-ci, report

#55719 src: improve `node:os` userInfo performance
  lib/os.js
  src/node_os.cc
Labels: c++, os, needs-ci, needs-benchmark-ci

#55758 doc: consolidate history table of CustomEvent
  doc/api/events.md
  doc/api/globals.md
Labels: doc, author ready, dont-land-on-v18.x, dont-land-on-v20.x, backport-requested-v22.x

#55788 doc: sort --report-exclude alphabetically
  doc/api/cli.md
Labels: doc, cli, fast-track, author ready

#55772 tools: remove non-existent file from eslint config
  eslint.config.mjs
Labels: tools, author ready

#55781 tools: make commit-queue check blocked label
  .github/workflows/commit-queue.yml
Labels: tools, author ready

#55362 build: apply cpp linting and formatting to ncrypto
  Makefile
  deps/ncrypto/dh-primes.h
  deps/ncrypto/engine.cc
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
Labels: crypto, build, author ready, needs-ci, dependencies, commit-queue-squash

#55789 build: use glob for dependencies of out/Makefile
  Makefile
Labels: build, author ready, needs-ci, lts-watch-v18.x, lts-watch-v20.x

#55775 doc: clarify triager role
  doc/contributing/issues.md
Labels: doc, meta, author ready

#55798 build: implement node_use_amaro flag in GN build
  node.gni
  tools/generate_config_gypi.py
  unofficial.gni
Labels: build, author ready

#55777 esm: fix import.meta.resolve crash
  src/node_modules.cc
  test/es-module/test-esm-import-meta-resolve.mjs
Labels: c++, author ready, needs-ci

#55771 benchmark: add `test_runner/mock-fn`
  benchmark/test_runner/mock-fn.js
Labels: benchmark, author ready, test_runner

#55602 report: fix network queries in getReport libuv with exclude-network
  doc/api/report.md
  src/node_report.cc
  src/node_report.h
  src/node_report_utils.cc
  test/common/report.js
  test/report/test-report-exclude-network.js
Labels: c++, lib / src, needs-ci, report, commit-queue-squash

#55819 test: fix permission fixtures lint
  test/fixtures/permission/main-module.js
  test/fixtures/permission/main-module.mjs
  test/fixtures/permission/required-module.js
  test/fixtures/permission/required-module.mjs
Labels: test, fast-track, author ready

#55810 doc: update unflag info of `import.meta.resolve`
  doc/api/esm.md
Labels: doc, esm

#55812 doc: correct max-semi-space-size statement
  doc/api/cli.md
Labels: doc, cli, dont-land-on-v18.x

#55820 module: tidy code string concat → string templates
  lib/internal/modules/package_json_reader.js
Labels: module, fast-track, commit-queue-squash

#55818 doc: fix history info for `URL.prototype.toJSON`
  doc/api/url.md
Labels: doc, url, author ready

#55830 doc: add notable-change mention to sec release
  doc/contributing/releases.md
Labels: doc, author ready, commit-queue-squash

#55548 fs: remove `dirent.path`
  benchmark/fs/bench-opendirSync.js
  doc/api/deprecations.md
  doc/api/fs.md
  lib/internal/fs/utils.js
  test/parallel/test-fs-opendir.js
  test/parallel/test-fs-utils-get-dirents.js
  test/sequential/test-fs-opendir-recursive.js
  test/sequential/test-fs-readdir-recursive.js
Labels: fs, semver-major, author ready, deprecations, needs-ci

#55230 events: extract event listener validation as a function
  lib/events.js
Labels: events, author ready, needs-ci

#55832 doc: clarify UV_THREADPOOL_SIZE env var usage
  doc/api/cli.md
Labels: doc, cli, author ready

#55836 doc: add `-S` flag release preparation example
  doc/contributing/releases.md
Labels: doc, author ready

#55757 benchmark: add `test-reporters`
  benchmark/fixtures/basic-test-runner.js
  benchmark/test_runner/test-reporters.js
Labels: benchmark, author ready, test_runner

#55846 doc: add `node:sqlite` to mandatory `node:` prefix list
  doc/api/modules.md
Labels: doc, module, author ready, sqlite

#55855 doc: add history entries for JSON modules stabilization
  doc/api/esm.md
Labels: doc, esm, author ready, backport-requested-v18.x, backport-requested-v20.x, backport-requested-v22.x, backport-requested-v23.x

#55553 fs: fix parentPath returned from getDirent() when type is `UV_DIRENT_UNKNOWN`
  lib/internal/fs/utils.js
  test/parallel/test-fs-utils-get-dirents.js
Labels: fs, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v23.x

#55828 Revert "src: migrate `String::Value` to `String::ValueView`"
  src/inspector_js_api.cc
  src/node_buffer.cc
  src/string_bytes.cc
Labels: c++, lib / src, author ready, needs-ci, revert, commit-queue-squash

#55785 src: use env strings to create sqlite results
  src/env_properties.h
  src/node_sqlite.cc
Labels: c++, needs-ci, sqlite

#55858 test_runner: error on mocking an already mocked date
  lib/internal/test_runner/mock/mock_timers.js
  test/parallel/test-runner-mock-timers-date.js
Labels: author ready, needs-ci, test_runner

#55565 test: prevent unwanted dependencyOwners removal
  lib/internal/watch_mode/files_watcher.js
  test/parallel/test-runner-complex-dependencies.mjs
  test/parallel/test-watch-file-shared-dependency.mjs
Labels: fs, author ready, needs-ci, commit-queue-failed, test_runner, watch-mode

#55866 crypto: allow length=0 for HKDF and PBKDF2 in SubtleCrypto.deriveBits
  lib/internal/crypto/hkdf.js
  lib/internal/crypto/pbkdf2.js
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/cryptokey_algorithm_returns_cached_object.https.any.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/derived_bits_length_testcases.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/hkdf.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/pbkdf2.js
  test/fixtures/wpt/versions.json
  test/parallel/test-webcrypto-derivebits-hkdf.js
  test/pummel/test-webcrypto-derivebits-pbkdf2.js
Labels: crypto, author ready, needs-ci, webcrypto, lts-watch-v20.x, lts-watch-v22.x

#54181 sqlite: add support for SQLite Session Extension
  deps/sqlite/sqlite.gyp
  doc/api/sqlite.md
  node.gyp
  src/env_properties.h
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-session.js
  tools/doc/type-parser.mjs
Labels: c++, lib / src, author ready, commit-queue-squash, sqlite

#52888 tools: fix riscv64 build failed
  tools/v8_gypfiles/v8.gyp
Labels: v8 engine, tools, needs-ci, riscv64

#55890 doc,lib,src,test: unflag sqlite module
  doc/api/cli.md
  doc/api/sqlite.md
  doc/node.1
  lib/internal/process/pre_execution.js
  src/node_options.cc
  src/node_options.h
  test/parallel/test-sqlite-data-types.js
  test/parallel/test-sqlite-database-sync.js
  test/parallel/test-sqlite-named-parameters.js
  test/parallel/test-sqlite-statement-sync.js
  test/parallel/test-sqlite-transactions.js
  test/parallel/test-sqlite.js
Labels: c++, semver-minor, process, notable-change, author ready, sqlite

#55895 test_runner: mark context.plan() as stable
  doc/api/test.md
Labels: doc, author ready, test_runner

#55835 doc: include git node release --promote to steps
  doc/contributing/releases.md
Labels: doc, author ready, commit-queue-squash

#55791 doc: fix relative path mention in --allow-fs
  doc/api/cli.md
Labels: doc, cli, author ready, permission

#55904 tools: lint js in `doc/**/*.md`
  doc/api/errors.md
  doc/api/esm.md
  doc/api/inspector.md
  doc/api/modules.md
  doc/api/perf_hooks.md
  doc/api/process.md
  doc/api/punycode.md
  doc/api/stream.md
  doc/api/test.md
  doc/api/tls.md
  doc/api/tracing.md
  doc/api/util.md
  doc/api/v8.md
  doc/api/vm.md
  doc/api/worker_threads.md
  doc/api/zlib.md
  doc/changelogs/CHANGELOG_V23.md
  doc/contributing/writing-and-running-benchmarks.md
  eslint.config.mjs
Labels: doc, tools, author ready, commit-queue-squash

#55908 test: fix determining lower priority
  test/parallel/test-os.js
Labels: test, author ready, needs-ci, commit-queue-squash

#55857 doc: add esm examples to `node:timers`
  doc/api/timers.md
Labels: doc, timers, author ready, commit-queue-squash

#55912 build: fix GN build for sqlite
  deps/sqlite/unofficial.gni
Labels: author ready, needs-ci, dependencies, sqlite

#55947 meta: remove @RedYetiDev from issue triage
  README.md
Labels: doc, meta, fast-track, author ready

#55935 doc: fix Node.js 23 column in CHANGELOG.md
  CHANGELOG.md
Labels: meta, author ready, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x, v23.x

#55923 tools: add linter for release commit proposals
  .github/workflows/lint-release-proposal.yml
Labels: meta, author ready, lts-watch-v18.x, lts-watch-v20.x

#55940 doc: document approach for building wasm in deps
  doc/contributing/maintaining/maintaining-dependencies.md
Labels: doc

#55928 build: use variable for OpenSSL dep path
  deps/ncrypto/unofficial.gni
  node.gni
  unofficial.gni
Labels: embedding, dependencies

#55946 doc: add esm example for zlib
  doc/api/zlib.md
Labels: doc, zlib, author ready

#55690 build: add create release proposal action
  .github/workflows/create-release-proposal.yml
  tools/actions/create-release.sh
Labels: meta, tools, author ready, commit-queue-squash

#55831 doc: order crypto methods alphabetically
  doc/api/crypto.md
Labels: crypto, doc, author ready, commit-queue-squash

#54630 assert: add partialDeepStrictEqual
  doc/api/assert.md
  lib/assert.js
  lib/internal/test_runner/test.js
  test/parallel/test-assert-objects.js
Labels: assert, semver-minor, notable-change, author ready, needs-ci

#55750 test: convert readdir test to use test runner
  test/parallel/test-fs-readdir-recursive.js
Labels: test, code-and-learn, needs-ci

#55959 test: make HTTP/1.0 connection test more robust
  test/parallel/test-http-remove-connection-header-persists-connection.js
Labels: test, needs-ci

#55963 test_runner: simplify hook running logic
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/abort_hooks.snapshot
  test/fixtures/test-runner/output/global_after_should_fail_the_test.snapshot
  test/fixtures/test-runner/output/hooks.snapshot
  test/fixtures/test-runner/output/hooks_spec_reporter.snapshot
Labels: author ready, test_runner

#55714 lib: avoid excluding symlinks in recursive fs.readdir with filetypes
  lib/fs.js
  test/parallel/test-fs-readdir-types-symlinks.js
Labels: fs, needs-ci

#55943 tools: use tokenless Codecov uploads
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/coverage-windows.yml
Labels: meta

#55934 doc: add vetted courses to the ambassador benefits
  doc/contributing/advocacy-ambasador-program.md
Labels: doc

#55786 doc: add missing documentation for `PerformanceObserver.prototype.takeRecords()`
  doc/api/perf_hooks.md
Labels: doc, author ready, perf_hooks

#55892 doc: deprecate passing invalid types in fs.existsSync
  doc/api/deprecations.md
Labels: doc, deprecations

#55966 http2: fix memory leak caused by premature listener removing
  src/node_http2.cc
  test/parallel/test-h2leak-destroy-session-on-socket-ended.js
Labels: c++, http2, author ready, commit-queue-squash

#55930 build: avoid compiling with VS v17.12
  vcbuild.bat
Labels: windows, build, needs-ci

#55982 src: safely remove the last line from dotenv
  src/node_dotenv.cc
  test/fixtures/dotenv/no-final-newline-single-quotes.env
  test/fixtures/dotenv/no-final-newline.env
  test/parallel/test-dotenv-edge-cases.js
Labels: c++, author ready, needs-ci, dont-land-on-v18.x, lts-watch-v20.x, lts-watch-v22.x

#54460 tools: add WPT updater for specific subsystems
  .github/workflows/update-wpt.yml
Labels: meta, commit-queue-squash

#56003 tools: update WPT updater
  .github/workflows/update-wpt.yml
Labels: meta, fast-track, author ready

#55545 process: deprecate `features.{ipv6,uv}` and `features.tls_*`
  doc/api/deprecations.md
  doc/api/process.md
Labels: doc, semver-minor, process, notable-change, deprecations

#55604 cli: implement --trace-env and --trace-env-[js|native]-stack
  doc/api/cli.md
  src/debug_utils.cc
  src/debug_utils.h
  src/env.cc
  src/node.cc
  src/node_credentials.cc
  src/node_env_var.cc
  src/node_internals.h
  src/node_options.cc
  src/node_options.h
  src/path.cc
  test/fixtures/process-env/define.js
  test/fixtures/process-env/delete.js
  test/fixtures/process-env/enumerate.js
  test/fixtures/process-env/get.js
  test/fixtures/process-env/query.js
  test/fixtures/process-env/set.js
  test/parallel/test-trace-env-stack.js
  test/parallel/test-trace-env.js
Labels: c++, semver-minor, lib / src, needs-ci, commit-queue-squash

#55988 doc: remove confusing and outdated sentence
  doc/api/stream.md
Labels: doc, stream, author ready

#56018 doc: fix deprecation codes
  doc/api/deprecations.md
Labels: doc, fast-track, deprecations

#55968 doc: improve GN build documentation a bit
  doc/contributing/gn-build.md
Labels: doc

#55990 doc: add history entry for textEncoder.encodeInto()
  doc/api/util.md
Labels: util, doc, author ready

#55991 doc: move history entry to class description
  doc/api/util.md
Labels: util, doc, author ready

#55992 doc: add FAQ to releases section
  doc/contributing/releases.md
Labels: doc, author ready, commit-queue-squash

#55950 tools: filter release keys to reduce interactivity
  tools/release.sh
Labels: tools, author ready

#55570 Remove unused import from sample code
  doc/api/async_context.md
Labels: doc

#55995 lib: refactor code to improve readability
  lib/internal/util/colors.js
Labels: util, author ready, needs-ci

#56012 doc: add added tag and fix typo sqlite.md
  doc/api/sqlite.md
Labels: doc, fast-track, author ready, sqlite

#55997 test,crypto: update WebCryptoAPI WPT
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/digest/digest.https.any.js
  test/fixtures/wpt/WebCryptoAPI/generateKey/failures.js
  test/fixtures/wpt/WebCryptoAPI/import_export/importKey_failures.js
  test/fixtures/wpt/WebCryptoAPI/wrapKey_unwrapKey/wrapKey_unwrapKey.https.any.js
  test/fixtures/wpt/WebCryptoAPI/wrapKey_unwrapKey/wrapKey_unwrapKey_vectors.js
  test/fixtures/wpt/versions.json
Labels: crypto, test, author ready, needs-ci, webcrypto

#56000 src: fix check fd
  src/util.cc
  test/parallel/test-fs-stat.js
Labels: c++, author ready, needs-ci

#56007 tools: fix nghttp3 updater script
  tools/dep_updaters/update-nghttp3.sh
Labels: meta, tools, author ready, commit-queue-squash

#56008 tools: allow dispatch of `tools.yml` from forks
  .github/workflows/tools.yml
Labels: meta, author ready

#56069 tools: fix update-undici script
  tools/dep_updaters/update-undici.sh
Labels: tools, fast-track

#56010 sqlite: deps include `sqlite3ext.h`
  deps/sqlite/sqlite3ext.h
  tools/dep_updaters/update-sqlite.sh
Labels: tools, author ready, needs-ci, dependencies, sqlite

#55718 zlib: deprecate classes usage without `new`
  doc/api/deprecations.md
  lib/zlib.js
  test/parallel/test-zlib.js
Labels: zlib, semver-major, notable-change, deprecations, needs-ci

#56043 meta: add releasers as CODEOWNERS to proposal action
  .github/CODEOWNERS
Labels: meta, author ready

#56042 build: remove defaults for create-release-proposal
  .github/workflows/create-release-proposal.yml
Labels: meta, author ready
