Repository nodejs/node, pull requests merged in 2025-04, with the labels that each got.

#57575 crypto: fix output of privateDecrypt with zero-length data
  deps/ncrypto/ncrypto.cc
  test/parallel/test-crypto-oaep-zero-length.js
Labels: confirmed-bug, crypto, author ready, needs-ci, dependencies, webcrypto, commit-queue-squash

#57674 tools: enable linter on some fixtures file
  eslint.config.mjs
  test/eslint.config_partial.mjs
Labels: tools, author ready, commit-queue-failed

#57634 doc: classify Chrome DevTools Protocol as tier 2
  doc/contributing/diagnostic-tooling-support-tiers.md
Labels: doc

#57582 src: disable abseil deadlock detection
  node.gyp
  src/node.cc
  test/cctest/node_test_fixture.cc
  tools/v8_gypfiles/abseil.gyp
Labels: c++, build, needs-ci, commit-queue-squash

#57296 doc: improved `fetch` docs
  doc/api/globals.md
Labels: doc, commit-queue-squash

#57551 http: remove outgoingmessage _headers and _headersList
  doc/api/deprecations.md
  lib/_http_outgoing.js
  test/parallel/test-http-outgoing-internal-headernames-getter.js
  test/parallel/test-http-outgoing-internal-headernames-setter.js
  test/parallel/test-http-outgoing-internal-headers.js
Labels: http, semver-major, author ready, deprecations, needs-ci, needs-citgm

#57622 Revert "assert,util: revert recursive breaking change"
  doc/api/assert.md
  lib/internal/util/comparisons.js
  test/parallel/test-assert-deep.js
Labels: util, semver-major, author ready, needs-ci

#57689 quic: fix debug log
  lib/internal/quic/quic.js
  src/quic/streams.cc
Labels: author ready, needs-ci, quic

#57705 doc: mark type stripping as release candidate
  doc/api/cli.md
  doc/api/module.md
  doc/api/process.md
  doc/api/typescript.md
Labels: doc, author ready, strip-types

#57569 sqlite: refactor prepared statement iterator
  src/env_properties.h
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-statement-sync.js
Labels: c++, lib / src, author ready

#57571 sqlite,src: refactor sqlite value conversion
  src/node_sqlite.cc
  test/parallel/test-sqlite-statement-sync.js
Labels: c++, author ready, commit-queue-squash, sqlite

#57659 win: fix SIGQUIT on ClangCL
  src/node.h
  test/parallel/test-child-process-kill.js
Labels: c++, windows, author ready, needs-ci

#52372 src: Fix inefficient usage of v8_inspector::StringView
  src/inspector_js_api.cc
  src/util-inl.h
  src/util.h
Labels: c++, lib / src, needs-ci

#57585 src, permission: make ERR_ACCESS_DENIED more descriptive
  src/permission/permission.cc
  src/permission/permission_base.h
  test/fixtures/permission/fs-read.js
  test/fixtures/permission/fs-write.js
  test/parallel/test-permission-child-process-cli.js
  test/parallel/test-permission-inspector.js
  test/parallel/test-permission-wasi.js
  test/parallel/test-permission-worker-threads-cli.js
Labels: c++, author ready, needs-ci, permission

#57726 doc: process.execve is only unavailable for Windows
  doc/api/process.md
Labels: doc, process, author ready

#57695 src: fix kill signal 0 on Windows
  src/process_wrap.cc
  test/parallel/test-child-process-kill.js
Labels: child_process, c++, windows, process

#57693 deps: update ada and web-platform tests
  deps/ada/ada.cpp
  deps/ada/ada.h
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/IdnaTestV2-removed.window.js
  test/fixtures/wpt/url/resources/IdnaTestV2-removed.json
  test/fixtures/wpt/url/resources/setters_tests.json
  test/fixtures/wpt/url/resources/toascii.json
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/url/url-setters-a-area.window.js
  test/fixtures/wpt/url/url-setters.any.js
  test/fixtures/wpt/url/url-statics-canparse.any.js
  test/fixtures/wpt/url/urlsearchparams-delete.any.js
  test/fixtures/wpt/urlpattern/resources/urlpatterntestdata.json
  test/fixtures/wpt/versions.json
  test/wpt/status/urlpattern.json
Labels: author ready, needs-ci, dependencies, commit-queue-squash

#57699 tools: enable linter in `test/fixtures/eval`
  eslint.config.mjs
  test/fixtures/eval/eval_typescript.js
  test/fixtures/eval/stdin_typescript.js
Labels: tools, author ready, commit-queue-failed

#57698 tools: enable linter in `test/fixtures/test-runner/output`
  eslint.config.mjs
  test/fixtures/test-runner/output/abort_hooks.js
  test/fixtures/test-runner/output/arbitrary-output-colored.js
  test/fixtures/test-runner/output/arbitrary-output.js
  test/fixtures/test-runner/output/assertion-color-tty.mjs
  test/fixtures/test-runner/output/before-and-after-each-too-many-listeners.js
  test/fixtures/test-runner/output/before-and-after-each-with-timeout-too-many-listeners.js
  test/fixtures/test-runner/output/coverage-width-100-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-100-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-100.mjs
  test/fixtures/test-runner/output/coverage-width-100.snapshot
  test/fixtures/test-runner/output/coverage-width-150-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-150-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-150.mjs
  test/fixtures/test-runner/output/coverage-width-150.snapshot
  test/fixtures/test-runner/output/coverage-width-40.mjs
  test/fixtures/test-runner/output/coverage-width-40.snapshot
  test/fixtures/test-runner/output/coverage-width-80-color.mjs
  test/fixtures/test-runner/output/coverage-width-80-uncovered-lines-color.mjs
  test/fixtures/test-runner/output/coverage-width-80-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-80-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-80.mjs
  test/fixtures/test-runner/output/coverage-width-80.snapshot
  test/fixtures/test-runner/output/coverage-width-infinity-uncovered-lines.mjs
  test/fixtures/test-runner/output/coverage-width-infinity-uncovered-lines.snapshot
  test/fixtures/test-runner/output/coverage-width-infinity.mjs
  test/fixtures/test-runner/output/coverage-width-infinity.snapshot
  test/fixtures/test-runner/output/coverage_failure.js
  test/fixtures/test-runner/output/describe_it.js
  test/fixtures/test-runner/output/filtered-suite-order.mjs
  test/fixtures/test-runner/output/filtered-suite-throws.js
  test/fixtures/test-runner/output/global_after_should_fail_the_test.js
  test/fixtures/test-runner/output/hooks-with-no-global-test.js
  test/fixtures/test-runner/output/hooks.js
  test/fixtures/test-runner/output/junit_reporter.js
  test/fixtures/test-runner/output/lcov_reporter.js
  test/fixtures/test-runner/output/lcov_reporter.snapshot
  test/fixtures/test-runner/output/name_pattern.js
  test/fixtures/test-runner/output/only_tests.js
  test/fixtures/test-runner/output/output.js
  test/fixtures/test-runner/output/output_cli.js
  test/fixtures/test-runner/output/spec_reporter_cli.js
  test/fixtures/test-runner/output/test-diagnostic-warning-without-test-only-flag.js
  test/fixtures/test-runner/output/test-runner-plan-timeout.js
  test/fixtures/test-runner/output/timeout_in_before_each_should_not_affect_further_tests.js
Labels: tools, needs-ci

#57729 doc: remove link to `QUIC.md`
  doc/api/index.md
Labels: doc, author ready

#57700 tools: enable linter in `test/fixtures/source-map/output`
  eslint.config.mjs
  test/fixtures/source-map/output/source_map_enabled_by_api_node_modules.js
  test/fixtures/source-map/output/source_map_prepare_stack_trace.js
Labels: tools, needs-ci

#57730 doc: add back mention of visa fees to onboarding doc
  onboarding.md
Labels: doc, author ready, commit-queue-squash

#57686 http2: skip writeHead if stream is closed
  lib/internal/http2/compat.js
  test/parallel/test-http2-compat-write-head-after-close.js
Labels: http2, author ready, needs-ci

#57621 sqlite: enable common flags
  deps/sqlite/sqlite.gyp
  deps/sqlite/unofficial.gni
  test/parallel/test-sqlite.js
Labels: author ready, dependencies, commit-queue-squash, sqlite

#57733 src: update std::vector<v8::Local<T>> to use v8::LocalVector<T>
  src/node_messaging.cc
Labels: c++, author ready, needs-ci

#57648 assert,util: improve deep object comparison performance
  benchmark/assert/deepequal-map.js
  benchmark/assert/deepequal-prims-and-objs-big-loop.js
  benchmark/assert/deepequal-set.js
  benchmark/assert/partial-deep-equal.js
  lib/internal/util/comparisons.js
  test/parallel/test-assert-deep.js
Labels: assert, util, author ready, needs-ci, commit-queue-squash

#57508 repl: deprecate `repl.builtinModules`
  doc/api/deprecations.md
  doc/api/repl.md
  lib/repl.js
  test/parallel/test-repl-options.js
Labels: repl, author ready, needs-ci

#57754 src: remove unused variable in crypto_x509.cc
  src/crypto/crypto_x509.cc
Labels: crypto, c++, fast-track, needs-ci

#57653 doc: update example of using `await` in REPL
  doc/api/repl.md
  test/parallel/test-repl-top-level-await.js
Labels: author ready, needs-ci

#57676 buffer: define global v8::CFunction objects as const
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci

#57421 util: fix parseEnv incorrectly splitting multiple ‘=‘ in value
  benchmark/fixtures/valid.env
  src/node_dotenv.cc
  test/fixtures/dotenv/valid.env
  test/parallel/test-dotenv.js
  test/parallel/test-util-parse-env.js
Labels: c++, author ready, needs-ci, commit-queue-squash, config

#57479 src: initialize privateSymbols for per_context
  src/api/environment.cc
  src/node_builtins.cc
  src/node_internals.h
  src/node_messaging.cc
  src/node_realm.cc
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash

#57596 module: remove unnecessary `readPackage` function
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/package_json_reader.js
Labels: module, author ready, needs-ci

#57599 module: improve `getPackageType` performance
  lib/internal/modules/package_json_reader.js
  src/node_modules.cc
  src/node_modules.h
  typings/internalBinding/modules.d.ts
Labels: c++, module, author ready, needs-ci, typings, commit-queue-squash

#57425 watch: check parent and child path properly
  lib/internal/watch_mode/files_watcher.js
  test/parallel/test-watch-mode-files_watcher.mjs
Labels: author ready, needs-ci, watch-mode

#57742 test: update expected error message for macOS
  test/parallel/test-module-loading-error.js
Labels: test, author ready, needs-ci

#57560 doc: allow the $schema property in node.config.json
  doc/node-config-schema.json
  lib/internal/options.js
Labels: author ready, needs-ci

#57706 src: improve StringBytes error handling
  src/api/encoding.cc
  src/crypto/crypto_ec.cc
  src/crypto/crypto_hash.cc
  src/crypto/crypto_hmac.cc
  src/crypto/crypto_keys.cc
  src/crypto/crypto_spkac.cc
  src/crypto/crypto_util.cc
  src/encoding_binding.cc
  src/fs_event_wrap.cc
  src/node.h
  src/node_buffer.cc
  src/node_dir.cc
  src/node_file.cc
  src/node_i18n.cc
  src/node_os.cc
  src/string_bytes.cc
  src/string_bytes.h
  src/string_decoder.cc
Labels: c++, lib / src, author ready, needs-ci

#57745 doc: update position type to integer | null in fs
  doc/api/fs.md
Labels: doc, fs, author ready

#57747 doc: explicitly state that corepack will be removed in v25+
  doc/api/corepack.md
Labels: doc, commit-queue-squash

#57023 crypto: remove BoringSSL dh-primes addition
  deps/ncrypto/dh-primes.h
  deps/ncrypto/ncrypto.cc
Labels: author ready, dependencies

#57691 test: add tests for REPL custom evals
  lib/repl.js
  test/parallel/test-repl-custom-eval.js
  test/parallel/test-repl-eval.js
Labels: repl, author ready, needs-ci

#57725 fs: improve globSync performance
  lib/internal/fs/glob.js
Labels: fs, author ready, needs-ci

#57767 src: improve error handling in `node_env_var.cc`
  src/node_env_var.cc
Labels: c++, author ready, needs-ci

#57670 lib: use SafeMap primordial for ActiveAsyncContextFrame
  lib/internal/async_context_frame.js
Labels: author ready, needs-ci, async_local_storage

#57762 doc: clarify examples section in REPL doc
  doc/api/repl.md
Labels: doc, repl, author ready, commit-queue-squash

#57776 doc: fix typo in writing-docs
  doc/contributing/writing-docs.md
Labels: doc, author ready

#57779 doc: add missing v0.11.15 changelog entry
  doc/changelogs/CHANGELOG_ARCHIVE.md
  doc/changelogs/CHANGELOG_V012.md
Labels: author ready, release

#56600 sqlite: add aggregate function
  doc/api/sqlite.md
  src/env_properties.h
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-aggregate-function.mjs
Labels: c++, author ready, commit-queue-squash, sqlite

#57727 zlib: fix pointer alignment
  src/node_zlib.cc
Labels: c++, zlib, needs-ci

#57783 doc: list DOMException as a potential error raised by Node.js
  doc/api/errors.md
Labels: doc, errors, author ready

#57453 module: fix incorrect formatting in require(esm) cycle error message
  lib/internal/modules/esm/loader.js
Labels: esm, author ready, needs-ci, lts-watch-v20.x

#57644 http2: fix a error in the check for frame->hd.type (related to CVE-2025-23085)
  src/node_http2.cc
  test/parallel/test-http2-premature-close.js
Labels: c++, http2, author ready, needs-ci, commit-queue-squash

#57672 test_runner: improve --test-timeout to be per test
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
  test/fixtures/test-runner/output/test-timeout-flag.js
  test/fixtures/test-runner/output/test-timeout-flag.snapshot
  test/parallel/test-runner-filetest-location.js
  test/parallel/test-runner-output.mjs
  test/parallel/test-runner-run.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#57785 doc: fix deprecation type for `DEP0148`
  doc/api/deprecations.md
Labels: doc, author ready, deprecations, lts-watch-v20.x

#57787 crypto: remove CipherBase::Init
  lib/internal/crypto/cipher.js
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_cipher.h
  test/parallel/test-crypto-cipheriv-decipheriv.js
Labels: c++, lib / src, author ready, needs-ci

#57791 src: remove `void*` -> `char*` -> `void*` casts
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_sig.cc
  src/node_buffer.cc
  src/node_http2.cc
  src/stream_base.cc
  src/udp_wrap.cc
Labels: c++, lib / src, author ready, needs-ci

#56585 src: add BaseObjectPtr nullptr operations
  src/base_object-inl.h
  src/base_object.h
  src/histogram.cc
  src/node_blob.cc
  src/node_http2.cc
  src/node_sockaddr.cc
  src/node_sqlite.cc
  src/quic/session.h
  test/cctest/test_base_object_ptr.cc
Labels: c++, lib / src, needs-ci

#57790 tools: do not use temp files when merging PRs
  tools/actions/commit-queue.sh
  tools/actions/merge.sh
Labels: tools, author ready, commit-queue-squash

#57789 test: deflake test-buffer-large-size
  test/pummel/test-buffer-large-size-buffer-alloc-unsafe-slow.js
  test/pummel/test-buffer-large-size-buffer-alloc-unsafe.js
  test/pummel/test-buffer-large-size-buffer-alloc.js
  test/pummel/test-buffer-large-size-buffer-write.js
  test/pummel/test-buffer-large-size-slowbuffer.js
  test/pummel/test-buffer-large-size.js
Labels: test, author ready, needs-ci, commit-queue-squash

#57806 util: preserve `length` of deprecated functions
  lib/internal/util.js
  test/parallel/test-util-deprecate.js
Labels: util, author ready, needs-ci, commit-queue-squash

#57759 doc: clarify the multi REPL example
  doc/api/repl.md
Labels: doc, repl

#57752 sqlite: add timeout options to DatabaseSync
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-database-sync.js
  test/parallel/test-sqlite-timeout.js
Labels: c++, author ready, commit-queue-squash, sqlite

#57667 tools: remove unused `osx-pkg-postinstall.sh`
  tools/osx-pkg-postinstall.sh
Labels: macos, tools, author ready

#57819 src: implement util.types fast API calls
  src/node_types.cc
  test/parallel/test-util-types.js
Labels: assert, util, c++, performance, author ready, needs-ci

#57400 repl: add support for multiline history
  doc/api/repl.md
  lib/internal/readline/interface.js
  lib/internal/repl/history.js
  lib/internal/repl/utils.js
  lib/repl.js
  test/fixtures/.node_repl_history_multiline
  test/parallel/test-repl-history-navigation.js
  test/parallel/test-repl-load-multiline-from-history.js
  test/parallel/test-repl-multiline-navigation.js
  test/parallel/test-repl-multiline.js
  test/parallel/test-repl-persistent-history.js
  test/parallel/test-repl-programmatic-history.js
  test/parallel/test-repl-recoverable.js
  test/parallel/test-repl-reverse-search.js
  test/parallel/test-repl-top-level-await.js
  test/parallel/test-repl-unexpected-token-recoverable.js
  test/parallel/test-repl.js
Labels: readline, repl, semver-minor, notable-change, author ready, needs-ci, commit-queue-squash

#57837 doc: add missing TS formats for `load` hooks
  doc/api/module.md
Labels: doc, module, author ready

#57843 crypto: fix misleading positional argument
  lib/internal/crypto/cipher.js
Labels: crypto, author ready, needs-ci

#57825 doc: clarify future Corepack removal in v25+
  doc/api/corepack.md
Labels: doc, author ready, commit-queue-squash

#57841 tools: edit create-release-proposal workflow to handle pr body length
  tools/actions/create-release-proposal.sh
Labels: tools, author ready, commit-queue-squash

#57848 test_runner: match minimum file column to 'all files'
  lib/internal/test_runner/utils.js
  test/fixtures/test-runner/output/coverage-short-filename.mjs
  test/fixtures/test-runner/output/coverage-short-filename.snapshot
  test/parallel/test-runner-output.mjs
Labels: author ready, needs-ci, test_runner

#57788 tools: add codeql nightly
  .github/workflows/codeql.yml
Labels: meta, author ready

#57816 crypto: revert dangerous uses of std::string_view
  deps/ncrypto/engine.cc
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_cipher.h
  src/crypto/crypto_context.cc
  src/crypto/crypto_ec.cc
  src/crypto/crypto_hash.cc
  src/crypto/crypto_hkdf.cc
  src/crypto/crypto_hmac.cc
  src/crypto/crypto_keys.cc
  src/crypto/crypto_pbkdf2.cc
  src/crypto/crypto_rsa.cc
  src/crypto/crypto_sig.cc
  src/crypto/crypto_sig.h
  src/crypto/crypto_tls.cc
  src/crypto/crypto_util.cc
Labels: crypto, c++, lib / src, security, needs-ci, dependencies

#57889 doc: fix typo in `module.md`
  doc/api/module.md
Labels: doc, module, fast-track

#57865 stream: preserve asynclocalstorage context in finished()
  lib/internal/streams/end-of-stream.js
  test/async-hooks/test-async-local-storage-stream-finished.js
Labels: stream, semver-minor, author ready, needs-ci, commit-queue-squash, async_local_storage

#57874 repl: fix multiline history editing string order
  lib/internal/readline/interface.js
  test/parallel/test-repl-multiline-navigation.js
Labels: readline, author ready, needs-ci

#57786 test_runner: recalculate run duration on watch restart
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  test/parallel/test-runner-run-watch.mjs
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#57578 src: update std::vector<v8::Local<T>> to use v8::LocalVector<T>
  src/node_builtins.cc
  src/node_builtins.h
Labels: c++, needs-ci

#57642 Update std::vector<v8::Local<T>> to use v8::LocalVector<T> (Part 2)
  src/README.md
  src/node_contextify.cc
  src/node_contextify.h
  src/node_sea.cc
  src/node_snapshotable.cc
Labels: c++, lib / src, needs-ci

#57438 test_runner: add global setup and teardown functionality
  doc/api/cli.md
  doc/api/test.md
  doc/node-config-schema.json
  doc/node.1
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/utils.js
  src/node_options.cc
  src/node_options.h
  test/fixtures/test-runner/global-setup-teardown/another-test-file.js
  test/fixtures/test-runner/global-setup-teardown/async-setup-teardown.js
  test/fixtures/test-runner/global-setup-teardown/basic-setup-teardown.js
  test/fixtures/test-runner/global-setup-teardown/basic-setup-teardown.mjs
  test/fixtures/test-runner/global-setup-teardown/basic-setup-teardown.ts
  test/fixtures/test-runner/global-setup-teardown/error-in-setup.js
  test/fixtures/test-runner/global-setup-teardown/imported-module-with-test.mjs
  test/fixtures/test-runner/global-setup-teardown/imported-module.mjs
  test/fixtures/test-runner/global-setup-teardown/required-module.cjs
  test/fixtures/test-runner/global-setup-teardown/setup-only.js
  test/fixtures/test-runner/global-setup-teardown/teardown-only.js
  test/fixtures/test-runner/global-setup-teardown/test-file.js
  test/fixtures/test-runner/test-runner-global-hooks.mjs
  test/parallel/test-runner-global-setup-teardown.mjs
  test/parallel/test-runner-global-setup-watch-mode.mjs
  test/parallel/test-runner-run-global-hooks.mjs
  test/parallel/test-runner-run.mjs
Labels: c++, lib / src, needs-ci, commit-queue-squash

#57880 crypto: forbid passing `Float16Array` to `getRandomValues()`
  lib/internal/crypto/random.js
  test/wpt/status/WebCryptoAPI.cjs
  test/wpt/test-webcrypto.js
Labels: crypto, author ready, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#57888 worker: add worker.getHeapStatistics()
  doc/api/worker_threads.md
  lib/internal/worker.js
  src/async_wrap.h
  src/env_properties.h
  src/node_worker.cc
  src/node_worker.h
  test/parallel/test-worker-heap-statistics.js
  test/sequential/test-async-wrap-getasyncid.js
  typings/internalBinding/worker.d.ts
Labels: c++, semver-minor, lib / src, needs-ci, commit-queue-squash

#57832 util: fix formatting of objects with built-in Symbol.toPrimitive
  doc/api/util.md
  lib/internal/util/inspect.js
  test/parallel/test-util-format.js
Labels: util, author ready, needs-ci, commit-queue-squash

#57820 src: add ExecutionAsyncId getter for any Context
  src/api/hooks.cc
  src/node.h
  test/addons/async-hooks-id/binding.cc
  test/addons/async-hooks-id/test.js
Labels: c++, semver-minor, async_hooks, needs-ci, commit-queue-squash

#57886 doc: mark devtools integration section as active development
  doc/api/inspector.md
Labels: doc, inspector

#57883 process: disable building execve on IBM i
  doc/api/process.md
  lib/internal/process/per_thread.js
  src/node_process_methods.cc
  test/parallel/test-process-execve-abort.js
  test/parallel/test-process-execve-on-exit.js
  test/parallel/test-process-execve-permission-fail.js
  test/parallel/test-process-execve-permission-granted.js
  test/parallel/test-process-execve-socket.js
  test/parallel/test-process-execve-validation.js
  test/parallel/test-process-execve-worker-threads.js
  test/parallel/test-process-execve.js
Labels: c++, needs-ci, commit-queue-squash

#57887 test: Enable skipped colorize test
  test/fixtures/test-runner/output/coverage-width-80-color.snapshot
  test/fixtures/test-runner/output/coverage-width-80-uncovered-lines-color.snapshot
  test/parallel/test-runner-output.mjs
Labels: test, needs-ci

#57868 src: fix typo in comments
  src/node_sqlite.cc
Labels: c++, author ready, needs-ci, sqlite

#57907 build: remove redundant `-mXX` flags for V8
  tools/v8_gypfiles/toolchain.gypi
Labels: v8 engine, tools, author ready, needs-ci, commit-queue-squash

#57876 assert,util: fix constructor lookup in deep equal comparison
  benchmark/assert/deepequal-prims-and-objs-big-loop.js
  lib/internal/util/comparisons.js
  lib/internal/util/inspect.js
  test/parallel/test-assert-deep.js
Labels: assert, util, author ready, needs-ci, commit-queue-squash

#57870 build: fix missing files warning
  deps/ncrypto/ncrypto.gyp
  tools/v8_gypfiles/abseil.gyp
Labels: v8 engine, tools, needs-ci, dependencies

#57808 http2: fix graceful session close
  lib/internal/http2/core.js
  src/env_properties.h
  src/node_http2.cc
  src/node_http2.h
  test/parallel/test-http2-client-rststream-before-connect.js
  test/parallel/test-http2-session-graceful-close.js
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash

#57834 node-api: convert NewEnv to node_napi_env__::New
  src/node_api.cc
  src/node_api_internals.h
Labels: c++, node-api, needs-ci

#57881 assert: support `Float16Array` in loose deep equality checks
  lib/internal/util/comparisons.js
  test/parallel/test-assert-partial-deep-equal.js
  test/parallel/test-assert-typedarray-deepequal.js
Labels: assert, util, author ready, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x

#57645 worker: add ESM version examples to worker docs
  doc/api/worker_threads.md
Labels: doc, worker

#57324 os: fix netmask format check condition in getCIDR function
  lib/internal/util.js
  lib/os.js
  test/parallel/test-internal-util-getCIDR.js
Labels: os, needs-ci, commit-queue-squash

#57925 sqlite: add getter to detect transactions
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-database-sync.js
Labels: c++, author ready, sqlite

#57930 test: force GC in test-file-write-stream4
  test/parallel/test-file-write-stream4.js
Labels: test, author ready, needs-ci

#57852 src: fixup errorhandling more in various places
  src/api/encoding.cc
  src/api/environment.cc
  src/js_stream.cc
  src/js_udp_wrap.cc
  src/node_contextify.cc
  src/node_http_common.h
  src/pipe_wrap.cc
  src/tcp_wrap.cc
  src/util.cc
Labels: c++, lib / src, needs-ci

#57892 tools: add semver-major release support to release-lint
  tools/actions/lint-release-proposal-commit-list.mjs
Labels: tools, author ready

#57798 util: fix parseEnv handling of invalid lines
  src/node_dotenv.cc
  test/parallel/test-dotenv-edge-cases.js
Labels: c++, author ready, needs-ci, commit-queue-squash, config

#57860 sqlite: add location method
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-database-sync.js
Labels: c++, needs-ci, commit-queue-squash, sqlite

#57945 meta: fix subsystem in commit title
  .github/workflows/tools.yml
Labels: meta, author ready

#57910 src: improve thread safety of `TaskQueue`
  src/node_platform.cc
  src/node_platform.h
Labels: c++

#57949 src: avoid calling SetPrototypeV2()
  src/api/environment.cc
  src/node_constants.cc
Labels: c++, author ready, needs-ci

#57951 src: move windows specific fns to _WIN32
  src/util-inl.h
  src/util.h
Labels: c++, author ready, needs-ci

#57943 src: add DCHECK_EQ for Object::New calls
  src/node_sqlite.cc
Labels: c++, author ready, needs-ci, commit-queue-squash, sqlite

#57969 doc: fix `AsyncLocalStorage` example response changes after node v18
  doc/api/async_context.md
Labels: doc, author ready, commit-queue-squash

#57974 crypto: fix cross-realm `SharedArrayBuffer` validation
  lib/internal/crypto/webidl.js
  test/parallel/test-crypto-subtle-cross-realm.js
Labels: crypto, author ready, needs-ci

#57926 watch: clarify completion/failure watch mode messages
  lib/internal/main/watch_mode.js
  test/sequential/test-watch-mode.mjs
Labels: author ready, needs-ci, watch-mode

#57979 doc: reserve module version 136 for Electron 37
  doc/abi_version_registry.json
Labels: doc, author ready

#58004 http2: use args.This() instead of args.Holder()
  src/node_http2.cc
Labels: c++, http2, fast-track, author ready, needs-ci

#57975 src: use ranges library (C++20) to simplify code
  src/node_options-inl.h
Labels: c++, author ready, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x, config

#57981 node-api: add nested object wrap and napi_ref test
  test/js-native-api/6_object_wrap/binding.gyp
  test/js-native-api/6_object_wrap/myobject.cc
  test/js-native-api/6_object_wrap/nested_wrap.cc
  test/js-native-api/6_object_wrap/nested_wrap.h
  test/js-native-api/6_object_wrap/nested_wrap.js
  test/js-native-api/6_object_wrap/test-basic-finalizer.js
  test/js-native-api/6_object_wrap/test-object-wrap-ref.js
  test/js-native-api/6_object_wrap/test.js
Labels: test, node-api, needs-ci

#58024 Revert "readline: add stricter validation for functions called after close
  lib/internal/readline/interface.js
  test/parallel/test-readline-interface.js
  test/parallel/test-readline-promises-interface.js
  test/parallel/test-readline-promises-tab-complete.js
  test/parallel/test-repl-import-referrer.js
  test/parallel/test-repl-no-terminal.js
  test/parallel/test-repl-uncaught-exception-async.js
Labels: readline, fast-track, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v23.x, dont-land-on-v24.x

#57999 build: fix zstd pkgname
  configure.py
Labels: build, author ready, needs-ci

#58007 test_runner: support mocking json modules
  doc/api/test.md
  lib/internal/test_runner/mock/loader.js
  lib/internal/test_runner/mock/mock.js
  test/fixtures/module-mocking/basic.json
  test/parallel/test-runner-module-mocking.js
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#55896 lib: resolve the issue of not adhering to the specified buffersize
  lib/internal/fs/dir.js
Labels: fs, needs-ci

#58017 test: add ALS test using http agent keep alive
  test/parallel/test-async-local-storage-http-agent.js
Labels: test, author ready, needs-ci, async_local_storage

#58022 test: add fast api tests for getLibuvNow()
  src/timers.cc
  src/timers.h
  test/parallel/test-timers-now.js
Labels: c++, timers, author ready, needs-ci

#58023 url: improve canParse() performance for non-onebyte strings
  src/node_external_reference.h
  src/node_url.cc
  src/node_url.h
  test/parallel/test-whatwg-url-canparse.js
Labels: c++, lib / src, author ready, needs-ci

#57970 build: define python when generating `out/Makefile`
  Makefile
Labels: build, author ready, needs-ci

#58029 async_hooks: enable AsyncLocalStorage once constructed
  lib/internal/async_local_storage/async_hooks.js
  test/parallel/test-async-local-storage-enter-with.js
Labels: author ready, needs-ci, async_local_storage

#58030 src: fix EnvironmentOptions.async_context_frame default value
  src/node_options.h
  test/parallel/test-internal-async-context-frame-disable.js
  test/parallel/test-internal-async-context-frame-enabled.js
Labels: c++, author ready, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x, async_local_storage, dont-land-on-v23.x

#58036 tools: enable CodeQL config file
  .github/codeql-config.yml
  .github/workflows/codeql.yml
Labels: meta, author ready

#58041 test: add missing newlines to repl .exit writes
  test/parallel/test-repl-function-definition-edge-case.js
  test/parallel/test-repl-import-referrer.js
  test/parallel/test-repl-options.js
  test/parallel/test-repl-require-context.js
  test/parallel/test-repl-require-self-referential.js
Labels: test, author ready, needs-ci

#58052 doc: fix typo in `buffer.md`
  doc/api/buffer.md
Labels: buffer, doc, author ready

#58071 build: downgrade armv7 support to experimental
  .github/ISSUE_TEMPLATE/4-report-a-flaky-test.yml
  .github/workflows/label-flaky-test-issue.yml
  BUILDING.md
Labels: semver-major, build, meta, arm, fast-track, author ready

#58048 buffer: improve byteLength performance
  src/node_buffer.cc
  src/node_external_reference.h
Labels: buffer, c++, author ready, needs-ci

#58053 buffer: avoid creating unnecessary environment
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci

#58054 src: fix internalModuleStat v8 fast path
  lib/fs.js
  lib/internal/fs/promises.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/resolve.js
  lib/internal/modules/package_json_reader.js
  src/node_external_reference.h
  src/node_file.cc
  test/parallel/test-permission-fs-internal-module-stat.js
Labels: lib / src, author ready, needs-ci

#58055 src: remove unused detachArrayBuffer method
  src/node_buffer.cc
Labels: buffer, c++, author ready, needs-ci

#58056 benchmark: disambiguate `filename` and `dirname` read perf
  benchmark/esm/import-meta.js
  benchmark/fixtures/import-meta-dirname-and-filename.mjs
  benchmark/fixtures/import-meta-dirname.mjs
  benchmark/fixtures/import-meta-filename.mjs
Labels: benchmark, esm, author ready

#58075 lib: avoid StackOverflow on `serializeError`
  lib/internal/error_serdes.js
  test/sequential/test-error-serdes.js
Labels: fast-track, author ready, needs-ci

#57995 build: use `$(BUILDTYPE)` when cleaning coverage files
  Makefile
Labels: build, author ready, needs-ci

#57991 doc,build,win: update docs with clang
  BUILDING.md
  tools/bootstrap/windows_boxstarter
  vcbuild.bat
Labels: doc, windows, build, tools, needs-ci, commit-queue-squash, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v23.x
