Repository nodejs/node, pull requests merged in 2025-06, with the labels that each got.

#58507 test: make sqlite-database-sync tests work with system sqlite
  test/parallel/test-sqlite-database-sync.js
Labels: test, author ready, needs-ci, sqlite

#58512 http2: add diagnostics channel 'http2.server.stream.error'
  doc/api/diagnostics_channel.md
  lib/internal/http2/core.js
  test/parallel/test-diagnostics-channel-http2-server-stream-error.js
Labels: http2, author ready, needs-ci, diagnostics_channel

#58518 http: deprecate instantiating classes without new
  doc/api/deprecations.md
Labels: doc, notable-change, author ready, deprecations, commit-queue-squash

#58404 dns: fix dns query cache implementation
  src/cares_wrap.cc
  test/parallel/test-dns.js
Labels: c++, cares, needs-ci, commit-queue-squash, lts-watch-v20.x, lts-watch-v22.x

#58527 child_process: move _channel to end-of-life
  doc/api/deprecations.md
  lib/internal/child_process.js
  test/parallel/test-child-process-fork.js
Labels: child_process, semver-major, author ready, deprecations, needs-ci, commit-queue-squash

#58541 lib: graduate error codes that have been around for years
  doc/api/errors.md
Labels: doc, semver-minor, errors, author ready

#58293 http2: remove support for priority signaling
  doc/api/deprecations.md
  doc/api/http2.md
  lib/internal/http2/core.js
  lib/internal/util.js
  test/parallel/test-http2-client-priority-before-connect.js
  test/parallel/test-http2-client-request-options-errors.js
  test/parallel/test-http2-client-set-priority.js
  test/parallel/test-http2-priority-cycle-.js
  test/parallel/test-http2-priority-event.js
  test/parallel/test-http2-server-stream-session-destroy.js
Labels: semver-major, http2, tsc-agenda, author ready, needs-ci

#58489 src: remove fast API for InternalModuleStat
  src/node_file.cc
  test/parallel/test-permission-fs-internal-module-stat.js
Labels: c++, fs, needs-ci, commit-queue-squash

#58547 crypto: forward auth tag to OpenSSL immediately
  src/crypto/crypto_cipher.cc
  src/crypto/crypto_cipher.h
Labels: crypto, c++, author ready, needs-ci

#57909 disable REPL completion on proxies and getters
  lib/repl.js
  test/parallel/test-repl-completion-on-getters-disabled.js
  test/parallel/test-repl-save-load.js
  test/parallel/test-repl-tab-complete.js
Labels: repl, author ready, needs-ci, commit-queue-squash

#58543 test: dispose of filehandles in filehandle.read tests
  test/parallel/test-fs-read-empty-buffer.js
  test/parallel/test-fs-read-offset-null.js
Labels: fs, test, author ready, needs-ci, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v23.x

#58561 deps: V8: cherry-pick 249de887a8d3
  common.gypi
  deps/v8/src/parsing/parser-base.h
  deps/v8/test/mjsunit/harmony/for-using-of-await-using-of.js
Labels: build, v8 engine, needs-ci, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v23.x

#58116 http2: add lenient flag for RFC-9113
  doc/api/http2.md
  lib/internal/http2/util.js
  src/node_http2.cc
  src/node_http2_state.h
  test/parallel/test-http2-server-rfc-9113-client.js
  test/parallel/test-http2-server-rfc-9113-server.js
  test/parallel/test-http2-util-update-options-buffer.js
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash

#58502 win,tools: use Azure Trusted Signing
  tools/sign.bat
Labels: windows, build, tools, needs-ci, lts-watch-v20.x, lts-watch-v22.x

#58530 doc: update metadata for _transformState deprecation
  doc/api/deprecations.md
Labels: doc, author ready, deprecations, commit-queue-squash

#58471 src: remove node.h APIs to make callback without an async context
  src/api/callback.cc
  src/node.h
Labels: c++, semver-major, needs-ci

#57624 src: env_vars caching and local variable scope optimization
  src/node_dotenv.cc
Labels: c++, author ready, needs-ci, config

#58591 doc: add support link for panva
  README.md
Labels: doc, meta, author ready

#58597 doc,lib: update source map links to ECMA426
  doc/api/cli.md
  doc/api/module.md
  doc/api/modules.md
  doc/api/process.md
  lib/internal/source_map/source_map_cache.js
  test/parallel/test-source-map-enable.js
Labels: needs-ci, source maps

#58604 doc: add path rules and validation for export targets in package.json
  doc/api/packages.md
Labels: doc, author ready, commit-queue-squash

#58615 test: close FileHandle objects in tests explicitly
  test/parallel/test-fs-open.js
  test/parallel/test-fs-promises-file-handle-read.js
  test/parallel/test-fs-promises-file-handle-readFile.js
  test/parallel/test-whatwg-readablebytestream.js
Labels: test, author ready, needs-ci

#58580 src: make global error message vectors const in contextify
  src/node_contextify.cc
Labels: c++, vm, author ready, needs-ci

#58637 test: split indirect eval import tests
  test/es-module/test-esm-dynamic-import.js
  test/es-module/test-vm-main-context-default-loader-eval.js
  test/es-module/test-vm-main-context-default-loader.js
  test/parallel/test-vm-module-referrer-realm.mjs
Labels: vm, test, esm, author ready, needs-ci, commit-queue-squash

#58598 module: allow cycles in require() in the CJS handling in ESM loader
  lib/internal/modules/esm/module_job.js
  src/module_wrap.cc
  test/es-module/test-import-preload-require-cycle.js
  test/fixtures/import-require-cycle/a.js
  test/fixtures/import-require-cycle/b.js
  test/fixtures/import-require-cycle/c.js
  test/fixtures/import-require-cycle/preload.mjs
Labels: c++, esm, needs-ci, commit-queue-squash

#58669 http2: fix DEP0194 message
  lib/internal/http2/core.js
  test/parallel/test-http2-client-priority-before-connect.js
  test/parallel/test-http2-client-set-priority.js
  test/parallel/test-http2-priority-cycle-.js
  test/parallel/test-http2-priority-event.js
  test/parallel/test-http2-server-stream-session-destroy.js
Labels: http2, fast-track, author ready, needs-ci

#57419 esm: syncify default path of `ModuleLoader.load`
  lib/internal/modules/esm/load.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/helpers.js
Labels: esm, needs-ci, commit-queue-squash

#58661 module: fix typescript import.meta.main
  lib/internal/modules/esm/translators.js
  test/es-module/test-esm-import-meta-main-eval.mjs
  test/fixtures/es-modules/import-meta-main.ts
Labels: esm, author ready, needs-ci, strip-types

#58675 test: use `common.skipIfInspectorDisabled()` to skip tests
  test/parallel/test-source-map-enable.js
  test/parallel/test-v8-coverage.js
  test/parallel/test-v8-stop-coverage.js
  test/parallel/test-v8-take-coverage-noop.js
  test/parallel/test-v8-take-coverage.js
Labels: test, author ready, needs-ci

#58636 test: refactor repl tab complete tests
  test/parallel/test-repl-tab-complete-buffer.js
  test/parallel/test-repl-tab-complete-custom-completer.js
  test/parallel/test-repl-tab-complete-files.js
  test/parallel/test-repl-tab-complete-on-editor-mode.js
  test/parallel/test-repl-tab-complete-require.js
  test/parallel/test-repl-tab-complete.js
Labels: test, author ready, needs-ci, commit-queue-squash

#57850 test: add tests for REPL custom evals (second attempt)
  lib/repl.js
  test/parallel/test-repl-custom-eval-previews.js
  test/parallel/test-repl-custom-eval.js
  test/parallel/test-repl-eval.js
Labels: repl, author ready, needs-ci

#58714 doc: add islandryu to collaborators
  README.md
Labels: doc, meta, notable-change, fast-track, commit-queue-squash

#56918 fs: fix fs.promises.mkdir to also report ENOSPC correctly
  src/node_file.cc
Labels: c++, fs, needs-ci

#58709 repl: fix tab completion not working with computer string properties
  lib/repl.js
  test/parallel/test-repl-tab-complete-computed-props.js
Labels: repl, needs-ci, commit-queue-squash

#58728 fs: avoid computing time coefficient constants in runtime
  lib/internal/fs/utils.js
Labels: fs, author ready, needs-ci

#58732 doc: add history entry for TS support in hooks
  doc/api/module.md
Labels: doc, module, author ready, dont-land-on-v20.x

#58678 tools: include toolchain.gypi in abseil.gyp
  tools/v8_gypfiles/abseil.gyp
  tools/v8_gypfiles/toolchain.gypi
  tools/v8_gypfiles/v8.gyp
Labels: v8 engine, tools, needs-ci

#58645 inspector: add protocol methods retrieving sent/received data
  doc/api/inspector.md
  lib/inspector.js
  lib/internal/inspector/network.js
  lib/internal/inspector/network_http.js
  lib/internal/inspector/network_undici.js
  src/inspector/network_agent.cc
  src/inspector/network_agent.h
  src/inspector/node_protocol.pdl
  test/parallel/test-inspector-emit-protocol-event.js
  test/parallel/test-inspector-network-data-received.js
  test/parallel/test-inspector-network-data-sent.js
Labels: lib / src, inspector, needs-ci

#58692 fs: make `Dir` disposers idempotent
  doc/api/fs.md
  lib/internal/fs/dir.js
  test/parallel/test-fs-promises-file-handle-dispose.js
Labels: fs, needs-ci

#58758 src: pass resource on permission checks for spawn
  src/node_process_methods.cc
  src/process_wrap.cc
  src/spawn_sync.cc
  test/parallel/test-permission-child-process-cli.js
  test/parallel/test-process-execve-permission-fail.js
Labels: c++, lib / src, author ready, needs-ci, permission

#58752 tools: make nodedownload module compatible with Python 3.14
  tools/configure.d/nodedownload.py
Labels: build, python, needs-ci

#58653 repl: avoid deprecated `require.extensions` in tab completion
  lib/repl.js
Labels: repl, author ready, needs-ci, commit-queue-squash

#58770 [v22.x] tools: disable failing coverage jobs
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
Labels: meta, v22.x

#58779 doc: reserve NMV 139 for Electron 38
  doc/abi_version_registry.json
Labels: doc

#57931 src: add FromV8Value<T>() for integral and enum types
  src/crypto/crypto_keys.cc
  src/node_file.cc
  src/node_util.cc
  src/node_v8.cc
  src/node_zlib.cc
  src/process_wrap.cc
  src/udp_wrap.cc
  src/util-inl.h
Labels: c++, lib / src, author ready, needs-ci

#58178 http: fix keep-alive not timing out after post-request empty line
  lib/_http_server.js
  test/parallel/test-http-keep-alive-empty-line.mjs
Labels: http, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#55874 module: improve error message for top-level await in CommonJS
  lib/internal/modules/esm/module_job.js
  src/module_wrap.cc
  src/module_wrap.h
  test/es-module/test-esm-detect-ambiguous.mjs
Labels: c++, module, vm, esm, author ready, needs-ci, review wanted, commit-queue-squash

#58441 dns: set timeout to 1000ms when timeout <= 0
  src/cares_wrap.cc
Labels: c++, cares, author ready, needs-ci

#58775 repl: improve tab completion on computed properties
  lib/repl.js
  test/parallel/test-repl-tab-complete-computed-props.js
Labels: repl, author ready, needs-ci

#58028 src: use ranges library (C++20) more systematically
  src/cleanup_queue.cc
  src/crypto/crypto_util.cc
  src/inspector_socket.cc
  src/inspector_socket_server.cc
  src/node.cc
  src/node_credentials.cc
  src/node_dotenv.cc
  src/node_http2.h
  src/node_messaging.cc
  src/node_platform.cc
  src/node_process_object.cc
  src/node_report.cc
  src/node_sea.cc
  src/node_task_runner.cc
  src/node_watchdog.cc
  test/cctest/test_inspector_socket_server.cc
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash, dont-land-on-v20.x, dont-land-on-v22.x

#58681 lib: fix `getTypeScriptParsingMode` jsdoc
  lib/internal/modules/typescript.js
Labels: module, author ready, needs-ci, commit-queue-squash

#58811 doc: fix `stream.md` section order
  doc/api/stream.md
Labels: doc, stream, author ready, commit-queue-failed

#58840 test_runner: correct "already mocked" error punctuation placement
  lib/internal/test_runner/mock/mock.js
Labels: fast-track, needs-ci, test_runner

#58825 doc: add missing colon to headers in `globals.md`
  doc/api/globals.md
Labels: doc, author ready

#58049 doc: add Array type in http request headers
  doc/api/http.md
Labels: http, doc, author ready

#58839 build: option to use custom `inspector_protocol` path
  node.gni
  src/inspector/unofficial.gni
  unofficial.gni
Labels: c++, author ready

#58074 tty: treat empty `NO_COLOR` same as absent `NO_COLOR`
  lib/internal/tty.js
  test/pseudo-tty/test-tty-color-support.js
Labels: tty, author ready, needs-ci, dont-land-on-v20.x, dont-land-on-v22.x

#58848 fs: throw `ERR_INVALID_THIS` on illegal invocations
  lib/internal/fs/dir.js
  lib/internal/fs/streams.js
  test/parallel/test-fs-opendir.js
  test/parallel/test-fs-write-stream-autoclose-option.js
Labels: fs, author ready, needs-ci

#58791 repl: fix eval errors thrown after close throwing `ERR_USE_AFTER_CLOSE`
  lib/repl.js
  test/parallel/test-repl-eval-error-after-close.js
Labels: repl, author ready, needs-ci

#58829 vm: expose import phase on SourceTextModule.moduleRequests
  doc/api/vm.md
  lib/internal/vm/module.js
  src/module_wrap.cc
  test/parallel/test-vm-module-errors.js
  test/parallel/test-vm-module-modulerequests.js
  tools/doc/type-parser.mjs
Labels: c++, vm, author ready, needs-ci

#58855 test: close dirs in `fs-opendir` test
  test/parallel/test-fs-opendir.js
Labels: test, author ready, needs-ci, commit-queue-squash

#58866 test: remove reliance on in-tree `deps/undici`
  test/parallel/test-inspector-network-fetch.js
Labels: test, author ready, needs-ci, lts-watch-v22.x

#58833 test_runner: correctly filter --experimental-config-file
  lib/internal/test_runner/runner.js
  test/fixtures/test-runner/options-propagation/experimental-config-file.test.mjs
  test/fixtures/test-runner/options-propagation/node.config.json
  test/parallel/test-runner-cli.js
Labels: author ready, needs-ci, commit-queue-squash, test_runner

#58867 build: disable `v8_enable_pointer_compression_shared_cage` on non-64bit
  common.gypi
Labels: build, author ready

#58876 doc: fix links in test.md
  doc/api/test.md
Labels: doc, author ready, test_runner

#58878 test: add tests to ensure that node.1 is kept in sync with cli.md
  test/parallel/test-cli-node-cli-manpage-env-vars.mjs
  test/parallel/test-cli-node-cli-manpage-options.mjs
Labels: test, author ready, needs-ci, commit-queue-squash
