Repository nodejs/node, pull requests merged in 2025-08, with the labels that each got.

#58497 tools: check for std::vector<v8::Local> in lint
  tools/cpplint.py
Labels: tools

#58976 lib: add type names in source mapped stack traces
  lib/internal/source_map/prepare_stack_trace.js
  test/fixtures/source-map/output/source_map_throw_class_method.js
  test/fixtures/source-map/output/source_map_throw_class_method.snapshot
  test/fixtures/source-map/throw-class-method.js
  test/fixtures/source-map/throw-class-method.min.js
  test/fixtures/source-map/throw-class-method.min.js.map
  test/parallel/test-node-output-sourcemaps.mjs
Labels: lib / src, needs-ci, source maps

#59289 meta: add nodejs/path to path files
  .github/CODEOWNERS
Labels: meta, author ready

#58948 test: deflake stream-readable-to-web test
  test/parallel/test-stream-readable-to-web.js
  test/parallel/test-stream-readable-to-web.mjs
Labels: test, flaky-test, author ready, needs-ci, commit-queue-squash

#59176 typings: improve internal binding types
  typings/globals.d.ts
  typings/internalBinding/async_context_frame.d.ts
  typings/internalBinding/constants.d.ts
  typings/internalBinding/http_parser.d.ts
  typings/internalBinding/icu.d.ts
  typings/internalBinding/sea.d.ts
  typings/internalBinding/symbols.d.ts
  typings/internalBinding/util.d.ts
  typings/primordials.d.ts
Labels: typings

#59295 doc: clarify release candidate stability index
  doc/api/documentation.md
Labels: doc, author ready

#59048 build: bump minimum Clang version to 19
  .github/actions/install-clang/action.yml
  .github/workflows/build-tarball.yml
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/test-internet.yml
  .github/workflows/test-linux.yml
  configure.py
Labels: semver-major, build, meta, needs-ci

#58941 test: add known issue test for fs.cpSync dereference bug
  test/known_issues/test-fs-cp-sync-dereference.js
Labels: test, author ready, needs-ci

#59297 doc: clarify the need of compiler compatible with c++20
  BUILDING.md
Labels: doc, build, author ready

#59329 doc: correct orthography `eg.` → `e.g.`
  doc/contributing/investigating-native-memory-leaks.md
  tools/msvs/msi/nodemsi/product.wxs
Labels: v8 engine, openssl, libuv, fast-track, needs-ci, dependencies, commit-queue-squash, sqlite

#59311 test: update WPT resources,WebCryptoAPI,webstorage
  test/fixtures/wpt/README.md
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_bits_curve448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/derive_bits_keys/cfrg_curves_keys_curve448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/generateKey/failures_Ed448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/generateKey/failures_X448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/generateKey/successes_Ed448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/generateKey/successes_X448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/getRandomValues.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_Ed448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_X448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_Ed448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/import_export/okp_importKey_failures_X448.tentative.https.any.js
  test/fixtures/wpt/WebCryptoAPI/sign_verify/eddsa_curve448.tentative.https.any.js
  test/fixtures/wpt/resources/channel.sub.js
  test/fixtures/wpt/resources/check-layout-th.js
  test/fixtures/wpt/resources/check-layout.js
  test/fixtures/wpt/resources/declarative-shadow-dom-polyfill.js
  test/fixtures/wpt/resources/idlharness-shadowrealm.js
  test/fixtures/wpt/resources/idlharness.js
  test/fixtures/wpt/resources/out-of-scope-test.js
  test/fixtures/wpt/resources/testdriver-actions.js
  test/fixtures/wpt/resources/testdriver-actions.js.headers
  test/fixtures/wpt/resources/testdriver.js
  test/fixtures/wpt/resources/testharness-shadowrealm-audioworkletprocessor.js
  test/fixtures/wpt/resources/testharness-shadowrealm-inner.js
  test/fixtures/wpt/resources/testharness-shadowrealm-outer.js
  test/fixtures/wpt/resources/testharness.js
  test/fixtures/wpt/resources/testharnessreport.js
  test/fixtures/wpt/resources/web-bluetooth-bidi-test.js
  test/fixtures/wpt/versions.json
  test/fixtures/wpt/webstorage/storage_local_setitem_quotaexceedederr.window.js
  test/fixtures/wpt/webstorage/storage_session_setitem_quotaexceedederr.window.js
  test/fixtures/wpt/webstorage/symbol-props.window.js
  test/wpt/status/WebCryptoAPI.cjs
  test/wpt/status/webstorage.json
Labels: test, author ready, needs-ci, web-standards

#59243 http: add server.keepAliveTimeoutBuffer option
  doc/api/http.md
  lib/_http_server.js
  test/parallel/test-http-keep-alive-timeout-buffer.js
Labels: http, semver-minor, author ready, needs-ci, commit-queue-squash

#59284 crypto: prepare webcrypto key import/export for modern algorithms
  lib/internal/crypto/aes.js
  lib/internal/crypto/cfrg.js
  lib/internal/crypto/ec.js
  lib/internal/crypto/keys.js
  lib/internal/crypto/mac.js
  lib/internal/crypto/rsa.js
  lib/internal/crypto/util.js
  lib/internal/crypto/webcrypto.js
Labels: crypto, author ready, needs-ci, webcrypto

#59291 src: remove unused DSAKeyExportJob
  src/crypto/crypto_dsa.cc
  src/crypto/crypto_dsa.h
Labels: crypto, c++, author ready, needs-ci

#59344 doc: fix grammar in global dispatcher usage
  doc/api/globals.md
Labels: doc, author ready

#59096 meta: clarify pr objection process further
  doc/contributing/collaborator-guide.md
Labels: doc, meta, tsc-agenda, author ready, commit-queue-squash

#59353 build: fix OpenSSL version detection
  configure.py
Labels: build, author ready, needs-ci

#59356 doc: fix missing reference links for server.keepAliveTimeoutBuffer
  doc/api/http.md
Labels: http, doc, author ready

#59355 src: mark realm leaf classes final
  src/node_realm.h
  src/node_shadow_realm.h
Labels: c++, author ready, needs-ci, commit-queue-failed

#58237 deps: support madvise(3C) across ALL illumos revisions
  common.gypi
  deps/v8/src/base/platform/platform-posix.cc
Labels: v8 engine, author ready, needs-ci

#59278 assert: change utils to use index instead of for...of
  lib/internal/assert/utils.js
Labels: assert, author ready, needs-ci, commit-queue-squash

#59017 build: fix `node_use_sqlite` for GN builds
  node.gni
  unofficial.gni
Labels: build, author ready

#59351 typings: improve internal binding types
  typings/globals.d.ts
  typings/internalBinding/encoding_binding.d.ts
Labels: author ready, typings, commit-queue-squash

#59392 tools: disable nullability-completeness warnings
  tools/v8_gypfiles/toolchain.gypi
Labels: v8 engine, tools, author ready, needs-ci

#59388 test,crypto: skip unsupported ciphers
  test/parallel/test-crypto-aes-wrap.js
  test/parallel/test-crypto-authenticated-stream.js
  test/parallel/test-crypto-authenticated.js
  test/parallel/test-crypto-default-shake-lengths.js
  test/parallel/test-crypto-des3-wrap.js
  test/parallel/test-crypto-ecb.js
  test/parallel/test-crypto-padding-aes256.js
Labels: test, needs-ci, commit-queue-squash

#59406 lib: optimize writable stream buffer clearing
  lib/internal/streams/writable.js
Labels: stream, author ready, needs-ci

#59348 test: exclude mock from coverage
  lib/internal/test_runner/coverage.js
  test/fixtures/test-runner/coverage-with-mock/module.js
  test/fixtures/test-runner/coverage-with-mock/sum.js
  test/fixtures/test-runner/output/coverage-with-mock.mjs
  test/fixtures/test-runner/output/coverage-with-mock.snapshot
  test/fixtures/test-runner/output/typescript-coverage.snapshot
  test/parallel/test-runner-output.mjs
Labels: needs-ci, commit-queue-squash, test_runner

#59228 benchmark: remove deprecated _extend from benchmark
  benchmark/es/spread-assign.js
Labels: v8 engine, benchmark, author ready, review wanted

#59436 src: update OpenSSL pqc checks
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
  src/crypto/crypto_keys.cc
  src/crypto/crypto_keys.h
  src/crypto/crypto_ml_dsa.cc
  src/crypto/crypto_ml_dsa.h
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#59363 src: add Intel CET properties to large_pages.S
  src/large_pages/node_text_start.S
Labels: c++, needs-ci

#59315 http: add Agent.agentKeepAliveTimeoutBuffer option
  doc/api/http.md
  lib/_http_agent.js
  test/parallel/test-http-agent-keep-alive-timeout-buffer.js
Labels: http, semver-minor, author ready, needs-ci, commit-queue-squash

#59434 tools: fix return value of try_check_compiler
  configure.py
Labels: build, author ready, needs-ci

#59445 doc: add RafaelGSS as performance strategic lead
  doc/contributing/strategic-initiatives.md
Labels: doc, author ready

#59451 assert: resolve TODO and rename function
  lib/assert.js
  test/parallel/test-fs-promises.js
Labels: assert, author ready, needs-ci, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v24.x

#59453 esm: sync-ify module translation
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
Labels: esm, author ready, needs-ci, commit-queue-squash

#59424 test: replace manual error checks with assert.ifError/mustSucceed
  test/parallel/test-child-process-send-returns-boolean.js
  test/parallel/test-dgram-blocklist.js
  test/parallel/test-fs-watchfile.js
Labels: test, needs-ci

#59459 benchmark: reflect current OpenSSL in crypto key benchmarks
  benchmark/crypto/create-keyobject.js
  benchmark/crypto/oneshot-sign.js
  benchmark/crypto/oneshot-verify.js
Labels: crypto, benchmark, author ready

#58646 module: correctly detect top-level await in ambiguous contexts
  src/node_contextify.cc
  test/es-module/test-esm-tla-syntax-errors-not-recognized-as-tla-error.mjs
Labels: c++, vm, needs-ci, commit-queue-squash

#59461 crypto: support ML-KEM KeyObject
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
  doc/api/crypto.md
  lib/internal/crypto/keygen.js
  src/crypto/crypto_keys.cc
  src/env_properties.h
  test/fixtures/keys/Makefile
  test/fixtures/keys/ml_kem_1024_private.pem
  test/fixtures/keys/ml_kem_1024_private_priv_only.pem
  test/fixtures/keys/ml_kem_1024_private_seed_only.pem
  test/fixtures/keys/ml_kem_1024_public.pem
  test/fixtures/keys/ml_kem_512_private.pem
  test/fixtures/keys/ml_kem_512_private_priv_only.pem
  test/fixtures/keys/ml_kem_512_private_seed_only.pem
  test/fixtures/keys/ml_kem_512_public.pem
  test/fixtures/keys/ml_kem_768_private.pem
  test/fixtures/keys/ml_kem_768_private_priv_only.pem
  test/fixtures/keys/ml_kem_768_private_seed_only.pem
  test/fixtures/keys/ml_kem_768_public.pem
  test/parallel/test-crypto-pqc-key-objects-ml-kem.js
  test/parallel/test-crypto-pqc-keygen-ml-kem.js
Labels: crypto, semver-minor, lib / src, author ready, needs-ci, review wanted, dont-land-on-v20.x, dont-land-on-v22.x

#59471 crypto: fix EVPKeyCtxPointer::publicCheck()
  deps/ncrypto/ncrypto.cc
Labels: crypto, c++, author ready, needs-ci, dependencies

#59472 src: move shared_ptr objects in KeyObjectData
  src/crypto/crypto_keys.h
Labels: crypto, c++, author ready, needs-ci

#59475 test: use case-insensitive path checking on Windows in fs.cpSync tests
  test/parallel/parallel.status
  test/parallel/test-fs-cp-sync-copy-symlink-not-pointing-to-folder.mjs
  test/parallel/test-fs-cp-sync-resolve-relative-symlinks-default.mjs
  test/parallel/test-fs-cp-sync-resolve-relative-symlinks-false.mjs
Labels: test, needs-ci

#59314 sea: support execArgv in sea config
  doc/api/single-executable-applications.md
  src/node_sea.cc
  src/node_sea.h
  test/fixtures/sea-exec-argv-empty.js
  test/fixtures/sea-exec-argv.js
  test/sequential/test-single-executable-application-exec-argv-empty.js
  test/sequential/test-single-executable-application-exec-argv.js
Labels: c++, author ready, needs-ci, commit-queue-squash, single-executable

#59391 src: use simdjson::pad
  src/node_modules.cc
Labels: c++, needs-ci, commit-queue-squash

#59254 test: make test-debug-process locale-independent
  test/parallel/test-debug-process.js
Labels: test, needs-ci

#59443 test-runner: add option to rerun only failed tests
  doc/api/cli.md
  doc/api/test.md
  doc/node-config-schema.json
  doc/node.1
  lib/internal/test_runner/harness.js
  lib/internal/test_runner/reporter/rerun.js
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/test.js
  lib/internal/test_runner/utils.js
  src/node_options.cc
  src/node_options.h
  test/fixtures/test-runner/rerun.js
  test/parallel/test-runner-test-rerun-failures.js
Labels: lib / src, author ready, needs-ci

#59456 util: add remaining errors to `wellKnownPrototypes`
  lib/internal/util/inspect.js
Labels: util, author ready, needs-ci, typings

#59404 inspector: initial support websocket inspection
  doc/api/inspector.md
  lib/inspector.js
  lib/internal/inspector/network_undici.js
  src/inspector/network_agent.cc
  src/inspector/network_agent.h
  src/inspector/node_protocol.pdl
  test/common/websocket-server.js
  test/parallel/test-inspector-emit-protocol-event.js
  test/parallel/test-inspector-network-websocket.js
Labels: c++, lib / src, inspector, needs-ci, commit-queue-squash, dont-land-on-v20.x, dont-land-on-v22.x

#59446 util: fix error's namespaced node_modules highlighting using inspect
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect.js
Labels: util, author ready, needs-ci

#59448 assert,util: fail promise comparison in deep equal checks
  doc/api/assert.md
  lib/internal/util/comparisons.js
  test/parallel/test-assert-deep.js
Labels: util, semver-major, author ready, needs-ci

#59312 doc: add missing Zstd strategy constants
  doc/api/zlib.md
Labels: doc, zlib, author ready, commit-queue-squash

#59511 doc: clarify maxRSS unit in `process.resourceUsage()`
  doc/api/process.md
Labels: doc, process, author ready

#59503 test: add parseTestMetadata support
  test/common/assertSnapshot.js
  test/common/index.js
  test/common/index.mjs
  test/parallel/test-parse-test-envs.js
Labels: test, needs-ci

#59466 http, benchmark: remove CRLF variables
  benchmark/http/bench-parser.js
  test/parallel/test-http-header-overflow.js
  test/parallel/test-http-upgrade-client2.js
  test/parallel/test-https-foafssl.js
Labels: http, needs-ci, commit-queue-squash

#59491 crypto: support ML-KEM, DHKEM, and RSASVE key encapsulation mechanisms
  benchmark/crypto/kem.js
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
  doc/api/crypto.md
  doc/api/errors.md
  lib/crypto.js
  lib/internal/crypto/kem.js
  lib/internal/errors.js
  node.gyp
  src/crypto/crypto_kem.cc
  src/crypto/crypto_kem.h
  src/node_crypto.cc
  src/node_crypto.h
  test/parallel/test-crypto-encap-decap.js
Labels: crypto, semver-minor, lib / src, experimental, author ready, needs-ci, review wanted, dont-land-on-v20.x, dont-land-on-v22.x

#59526 tools: avoid parsing test files twice
  tools/test.py
Labels: test, tools, author ready

#59464 stream: add brotli support to CompressionStream and DecompressionStream
  doc/api/globals.md
  doc/api/webstreams.md
  lib/internal/webstreams/compression.js
  test/parallel/test-whatwg-webstreams-compression.js
Labels: semver-minor, notable-change, needs-ci, review wanted, web streams

#59532 test: rename test-net-server-drop-connections-in-cluster.js to -http-
  test/parallel/test-http-server-drop-connections-in-cluster.js
Labels: test, needs-ci

#59468 typings: add missing URLBinding methods
  typings/internalBinding/url.d.ts
Labels: author ready, typings

#59226 doc: link to `TypedArray.from()` in signature
  doc/api/buffer.md
Labels: buffer, doc, author ready

#59516 node-api: link to other programming language bindings
  doc/api/n-api.md
Labels: doc, node-api

#59473 src: use simdjson to parse --snapshot-config
  src/node_snapshotable.cc
Labels: c++, needs-ci, commit-queue-squash

#59350 sqlite: handle ?NNN bind params as positional
  src/node_sqlite.cc
  test/parallel/test-sqlite-statement-sync.js
Labels: c++, author ready, needs-ci, sqlite

#59558 crypto: fix subtle.getPublicKey error for secret type key inputs
  lib/internal/crypto/webcrypto.js
  test/parallel/test-webcrypto-get-public-key.mjs
Labels: confirmed-bug, crypto, experimental, author ready, needs-ci, webcrypto, dont-land-on-v20.x, dont-land-on-v22.x

#59539 crypto: add AES-OCB Web Cryptography algorithm
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
  doc/api/webcrypto.md
  lib/internal/crypto/aes.js
  lib/internal/crypto/keys.js
  lib/internal/crypto/util.js
  lib/internal/crypto/webcrypto.js
  lib/internal/crypto/webidl.js
  src/crypto/crypto_aes.cc
  src/crypto/crypto_aes.h
  test/fixtures/crypto/aes_ocb.js
  test/fixtures/webcrypto/supports-modern-algorithms.mjs
  test/parallel/test-webcrypto-derivebits-hkdf.js
  test/parallel/test-webcrypto-encrypt-decrypt-aes.js
  test/parallel/test-webcrypto-encrypt-decrypt.js
  test/parallel/test-webcrypto-keygen.js
  test/parallel/test-webcrypto-wrap-unwrap.js
Labels: crypto, semver-minor, lib / src, experimental, author ready, needs-ci, review wanted, webcrypto, dont-land-on-v20.x, dont-land-on-v22.x

#58155 src: enforce assumptions in FIXED_ONE_BYTE_STRING
  src/util.h
Labels: c++, author ready, needs-ci

#59588 benchmark: calibrate length of util.diff
  benchmark/util/diff.js
Labels: util, benchmark, author ready

#59550 crypto: load system CA certificates off thread
  src/crypto/crypto_context.cc
  src/crypto/crypto_util.h
  src/node.cc
Labels: c++, lib / src, needs-ci

#59560 sea: implement execArgvExtension
  doc/api/single-executable-applications.md
  src/node.cc
  src/node_sea.cc
  src/node_sea.h
  test/fixtures/sea-exec-argv-extension-cli.js
  test/fixtures/sea-exec-argv-extension-env.js
  test/fixtures/sea-exec-argv-extension-none.js
  test/sequential/test-single-executable-application-exec-argv-extension-cli.js
  test/sequential/test-single-executable-application-exec-argv-extension-env.js
  test/sequential/test-single-executable-application-exec-argv-extension-none.js
Labels: c++, needs-ci, single-executable

#59586 benchmark: calibrate config v8/serialize.js
  benchmark/v8/serialize.js
Labels: benchmark, author ready

#59608 doc,crypto: cleanup unlinked and self method references webcrypto.md
  doc/api/webcrypto.md
Labels: crypto, doc, author ready, webcrypto

#59544 crypto: add Argon2 Web Cryptography algorithms
  doc/api/webcrypto.md
  lib/internal/crypto/argon2.js
  lib/internal/crypto/keys.js
  lib/internal/crypto/util.js
  lib/internal/crypto/webcrypto.js
  lib/internal/crypto/webidl.js
  test/fixtures/webcrypto/supports-modern-algorithms.mjs
  test/parallel/test-webcrypto-derivebits-argon2.js
  tools/doc/type-parser.mjs
Labels: crypto, semver-minor, lib / src, experimental, author ready, needs-ci, review wanted, commit-queue-failed, webcrypto, dont-land-on-v20.x, dont-land-on-v22.x

#59161 tools: add script to make reviewing backport PRs easier
  tools/actions/review_backport.sh
Labels: tools, author ready

#59479 test_runner: set mocktimer's interval undefined when clearInterval called
  lib/internal/test_runner/mock/mock_timers.js
  test/parallel/test-runner-mock-timers.js
Labels: author ready, needs-ci, test_runner

#59080 doc: fix missing link to the Error documentation in the `http` page
  doc/api/http.md
Labels: http, doc, author ready, commit-queue-squash

#59619 src: remove JSONParser
  node.gyp
  src/json_parser.cc
  src/json_parser.h
Labels: c++, build, needs-ci

#59601 src: add name for more threads
  src/node_platform.cc
  src/node_watchdog.cc
  src/tracing/agent.cc
Labels: c++, author ready, needs-ci

#59607 repl: fix wrong parentheses
  lib/internal/repl/utils.js
  lib/repl.js
  test/parallel/test-repl-preview.js
  test/parallel/test-repl.js
Labels: repl, author ready, needs-ci, commit-queue-squash

#59622 build: compile bundled uvwasi conditionally
  node.gyp
Labels: build, author ready, needs-ci

#59627 doc: reserve NMV 140 for Electron 39
  doc/abi_version_registry.json
Labels: doc, author ready

#59283 deps: V8: cherry-pick 6b1b9bca2a8 [loong64][codegen] Avoid memory access under stack pointer
  common.gypi
  deps/v8/src/codegen/loong64/macro-assembler-loong64.cc
Labels: v8 engine, author ready, needs-ci

#59595 test: deflake test-http-keep-alive-empty-line
  test/parallel/test-http-keep-alive-empty-line.mjs
Labels: test, needs-ci

#59635 doc: fix filehandle.read typo
  doc/api/fs.md
Labels: doc, fs, author ready

#59637 test: skip test-fs-cp* tests that are constantly failing on Windows
  test/parallel/parallel.status
Labels: test, author ready, needs-ci

#59640 test: mark test-inspector-network-fetch as flaky again
  test/parallel/parallel.status
Labels: test, needs-ci

#59642 doc: fix quic session instance typo
  doc/api/quic.md
Labels: doc, author ready, quic

#59579 doc: update install_tools.bat free disk space
  tools/msvs/install_tools/install_tools.bat
Labels: windows, install, tools, author ready, needs-ci

#59660 test: fix internet/test-dns
  test/internet/test-dns.js
Labels: test, author ready, needs-ci, commit-queue-squash, lts-watch-v20.x, lts-watch-v22.x

#59650 lib: revert to using default derived class constructors
  lib/inspector/promises.js
  lib/internal/buffer.js
  lib/internal/crypto/keys.js
  lib/internal/fs/glob.js
  lib/internal/modules/esm/module_map.js
  lib/internal/per_context/primordials.js
  lib/internal/readline/interface.js
  lib/internal/repl/utils.js
  lib/readline/promises.js
Labels: lib / src, author ready, needs-ci, dont-land-on-v20.x

#59529 stream: replace manual function validation with validateFunction
  lib/internal/streams/operators.js
Labels: stream, needs-ci

#59576 wasi: fix `clean` target in `test/wasi/Makefile`
  test/wasi/Makefile
Labels: test, author ready, needs-ci

#59572 doc: mark `path.matchesGlob` as stable
  doc/api/path.md
Labels: doc, path, author ready, commit-queue-squash

#59673 build: use `windows-2025` runner
  .github/workflows/coverage-windows.yml
Labels: meta, author ready

#59680 lib: fix DOMException subclass support
  lib/internal/per_context/domexception.js
  test/parallel/test-domexception-subclass.js
Labels: author ready

#59681 fs: fix dereference: false on cpSync
  src/node_file.cc
  test/known_issues/test-fs-cp-sync-dereference.js
  test/parallel/test-fs-cp-sync-dereference.js
Labels: c++, fs, author ready, needs-ci

#59671 src: use non-deprecated Get/SetPrototype methods
  src/node_sqlite.cc
Labels: c++, author ready, needs-ci, dont-land-on-v20.x, dont-land-on-v22.x, sqlite
