Repository nodejs/node, pull requests merged in 2025-10, with the labels that each got.

#60070 meta: move Michael to emeritus
  README.md
Labels: doc, author ready

#60072 module: use sync cjs when importing cts
  lib/internal/modules/esm/loader.js
  test/es-module/test-typescript-commonjs.mjs
  test/es-module/test-typescript-module.mjs
  test/fixtures/typescript/cts/issue-59963/a.cts
  test/fixtures/typescript/cts/issue-59963/b.mts
  test/fixtures/typescript/cts/issue-59963/c.cts
  test/fixtures/typescript/mts/issue-59963/a.mts
  test/fixtures/typescript/mts/issue-59963/b.cts
  test/fixtures/typescript/mts/issue-59963/c.mts
Labels: esm, author ready, needs-ci, strip-types

#60080 doc: update macOS version used to build releases
  BUILDING.md
Labels: doc, build, author ready, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v24.x

#59925 doc: mark --env-file and --env-file-if-exists as stable
  doc/api/cli.md
  doc/api/environment_variables.md
  doc/api/process.md
  doc/api/util.md
Labels: doc, author ready

#60103 process: fix wrong asyncContext under unhandled-rejections=strict
  lib/internal/process/promises.js
  test/parallel/test-promise-unhandled-error-with-reading-file.js
Labels: process, async_hooks, author ready, needs-ci

#59995 lib: implement passive listener behavior per spec
  lib/internal/event_target.js
  test/parallel/test-whatwg-events-add-event-listener-options-passive.js
  test/wpt/status/dom/events.json
Labels: author ready, needs-ci, commit-queue-squash

#60033 src: update cares_wrap to use DictionaryTemplates
  src/cares_wrap.cc
  src/env_properties.h
Labels: c++, cares, author ready, needs-ci

#60039 lib: optimize priority queue
  lib/internal/priority_queue.js
Labels: performance, author ready, needs-ci

#60036 src: update crypto.getCipherInfo() to use DictionaryTemplate
  benchmark/crypto/getcipherinfo.js
  lib/internal/crypto/cipher.js
  src/crypto/crypto_cipher.cc
  src/env_properties.h
Labels: crypto, c++, semver-major, performance, author ready, needs-ci, commit-queue-squash

#60115 test: mark `test-runner-run-watch` flaky on macOS
  test/parallel/parallel.status
Labels: test, macos, author ready, needs-ci, watch-mode

#59958 http: improve writeEarlyHints by avoiding for-of loop
  lib/_http_server.js
Labels: http, author ready, needs-ci

#60059 src: update contextify to use DictionaryTemplate
  src/env_properties.h
  src/node_contextify.cc
Labels: c++, vm, author ready, needs-ci

#60009 inspector: improve batch diagnostic channel subscriptions
  lib/internal/inspector/network.js
  lib/internal/inspector/network_http.js
  lib/internal/inspector/network_http2.js
  lib/internal/inspector/network_undici.js
Labels: inspector, http2, needs-ci

#60022 doc: add automated migration info to deprecations
  doc/api/deprecations.md
Labels: doc, deprecations, commit-queue-squash

#60112 [v22.x] deps: update undici to 6.22.0
  deps/undici/src/docs/docs/api/ProxyAgent.md
  deps/undici/src/index-fetch.js
  deps/undici/src/lib/core/errors.js
  deps/undici/src/lib/dispatcher/proxy-agent.js
  deps/undici/src/lib/llhttp/wasm_build_env.txt
  deps/undici/src/lib/mock/mock-errors.js
  deps/undici/src/lib/web/fetch/body.js
  deps/undici/src/lib/web/fetch/response.js
  deps/undici/src/package.json
  deps/undici/src/types/proxy-agent.d.ts
  deps/undici/undici.js
  src/undici_version.h
Labels: lib / src, needs-ci, request-ci-failed, v22.x

#60123 quic: continue working on quic api bits
  lib/internal/quic/quic.js
  lib/internal/quic/symbols.js
  lib/quic.js
  test/parallel/test-quic-exports.mjs
  test/parallel/test-quic-handshake-ipv6-only.mjs
  test/parallel/test-quic-internal-endpoint-listen-defaults.mjs
  test/parallel/test-quic-internal-endpoint-stats-state.mjs
Labels: author ready, needs-ci, quic, commit-queue-squash

#60000 [v22.x backport] module: link module with a module request record
  lib/internal/modules/esm/module_job.js
  lib/internal/vm/module.js
  src/module_wrap.cc
  src/module_wrap.h
  test/es-module/test-esm-import-attributes-identity.mjs
  test/es-module/test-esm-json.mjs
  test/fixtures/es-module-loaders/hooks-input.mjs
  test/fixtures/es-modules/json-modules-attributes.mjs
  test/fixtures/primitive-42.json
  test/parallel/test-internal-module-wrap.js
Labels: c++, vm, esm, needs-ci, v22.x

#59999 Update VTune include paths
  src/api/environment.cc
  src/node.cc
  tools/v8_gypfiles/v8vtune.gyp
Labels: c++, lib / src, author ready, needs-ci

#59984 build: upgrade Python linter ruff, add rules ASYNC,PERF
  Makefile
  configure.py
  pyproject.toml
  test/testpy/__init__.py
  test/tools/test_checkimports.py
  tools/generate_config_gypi.py
  tools/icu/icutrim.py
  tools/install.py
  tools/test.py
Labels: build, test, tools, i18n-api, python, needs-ci, icu

#60120 lib: remove redundant destroyHook checks
  lib/internal/async_hooks.js
  lib/internal/process/task_queues.js
  lib/internal/timers.js
  lib/timers.js
  test/fixtures/errors/async_error_nexttick_main.snapshot
Labels: timers, process, async_hooks, author ready, needs-ci, commit-queue-squash
