Repository nodejs/node, pull requests merged in 2025-09, with the labels that each got.

#59675 src: separate module.hasAsyncGraph and module.hasTopLevelAwait
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  src/env_properties.h
  src/module_wrap.cc
  src/module_wrap.h
Labels: c++, lib / src, author ready, needs-ci

#59659 src,sqlite: refactor value conversion
  src/node_sqlite.cc
  src/node_sqlite.h
Labels: c++, author ready, commit-queue-squash, sqlite

#59652 doc: update "Type stripping in dependencies" section
  doc/api/typescript.md
Labels: doc, commit-queue-squash, dont-land-on-v20.x, strip-types

#59709 benchmark: sqlite prevent create both tables on prepare select
  benchmark/sqlite/sqlite-prepare-select-all.js
  benchmark/sqlite/sqlite-prepare-select-get.js
Labels: benchmark, author ready, sqlite

#59720 tools: add sccache to `test-internet` workflow
  .github/workflows/test-internet.yml
Labels: meta, author ready

#59704 src: track async resources via pointers to stack-allocated handles
  src/api/callback.cc
  src/async_wrap.cc
  src/env-inl.h
  src/env.cc
  src/env.h
  src/node_internals.h
  src/node_task_queue.cc
Labels: c++, lib / src, async_hooks, author ready, needs-ci, commit-queue-squash

#59721 test_runner: fix todo inheritance
  lib/internal/test_runner/test.js
  test/fixtures/test-runner/output/name_pattern.snapshot
  test/fixtures/test-runner/todo_exit_code.js
  test/parallel/test-runner-exit-code.js
Labels: author ready, needs-ci, test_runner

#59755 test: skip more sea tests on Linux ppc64le
  test/sequential/sequential.status
Labels: test, ppc, fast-track, author ready, needs-ci, single-executable

#59730 url: add err.input to ERR_INVALID_FILE_URL_PATH
  doc/api/errors.md
  lib/internal/errors.js
  lib/internal/url.js
  test/parallel/test-url-fileurltopath.js
  test/parallel/test-url-invalid-file-url-path-input.js
Labels: errors, whatwg-url, author ready, needs-ci, review wanted

#59647 crypto: add KMAC Web Cryptography algorithms
  deps/ncrypto/ncrypto.cc
  deps/ncrypto/ncrypto.h
  doc/api/webcrypto.md
  lib/internal/crypto/keys.js
  lib/internal/crypto/mac.js
  lib/internal/crypto/util.js
  lib/internal/crypto/webcrypto.js
  lib/internal/crypto/webidl.js
  node.gyp
  src/crypto/crypto_kmac.cc
  src/crypto/crypto_kmac.h
  src/node_crypto.cc
  src/node_crypto.h
  test/fixtures/crypto/kmac.js
  test/fixtures/webcrypto/supports-modern-algorithms.mjs
  test/parallel/test-crypto-key-objects-to-crypto-key.js
  test/parallel/test-webcrypto-derivekey.js
  test/parallel/test-webcrypto-export-import.js
  test/parallel/test-webcrypto-keygen-kmac.js
  test/parallel/test-webcrypto-keygen.js
  test/parallel/test-webcrypto-sign-verify-kmac.js
  test/parallel/test-webcrypto-sign-verify.js
  tools/doc/type-parser.mjs
Labels: crypto, semver-minor, lib / src, experimental, author ready, needs-ci, review wanted, webcrypto, commit-queue-squash, dont-land-on-v20.x, dont-land-on-v22.x

#59766 lib: prefer TypedArrayPrototype primordials
  lib/internal/crypto/argon2.js
  lib/internal/crypto/diffiehellman.js
  lib/internal/crypto/ml_dsa.js
  lib/internal/crypto/ml_kem.js
  lib/internal/crypto/pbkdf2.js
  lib/internal/crypto/random.js
  lib/internal/crypto/webcrypto.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#59495 repl: eol deprecate instantiating without new
  doc/api/deprecations.md
  lib/repl.js
  test/parallel/test-repl.js
Labels: repl, semver-major, needs-ci, commit-queue-squash

#59779 test: skip tests failing when run under root
  test/parallel/test-fs-mkdtempDisposableSync.js
  test/parallel/test-fs-promises-mkdtempDisposable.js
Labels: test, author ready, needs-ci

#59717 http: use cached '1.1' http version string
  lib/_http_common.js
Labels: http, author ready, needs-ci, commit-queue-failed, commit-queue-squash

#59774 repl: do not cause side effects in tab completion
  lib/repl.js
  test/parallel/test-repl-completion-on-getters-disabled.js
  test/parallel/test-repl-tab-complete-getter-error.js
  test/parallel/test-repl-tab-complete-nosideeffects.js
Labels: repl, author ready, needs-ci

#59785 tools: do not attempt to compress tgz archive
  .github/workflows/build-tarball.yml
Labels: meta, author ready

#59679 esm: populate separate cache for require(esm) in imported CJS
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
  lib/internal/modules/helpers.js
  src/env_properties.h
  src/module_wrap.cc
  test/es-module/test-require-esm-from-imported-cjs.js
  test/fixtures/es-modules/require-esm-in-cjs-cache/app.cjs
  test/fixtures/es-modules/require-esm-in-cjs-cache/hooks.js
  test/fixtures/es-modules/require-esm-in-cjs-cache/instrument-sync.js
  test/fixtures/es-modules/require-esm-in-cjs-cache/instrument.js
  test/fixtures/es-modules/require-esm-in-cjs-cache/package.json
  test/fixtures/es-modules/require-esm-in-cjs-cache/test.js
Labels: c++, lib / src, author ready, needs-ci

#59758 diagnostics_channel: revoke DEP0163
  doc/api/deprecations.md
  doc/api/diagnostics_channel.md
Labels: doc, author ready

#59578 assert: cap input size in myersDiff to avoid Int32Array overflow
  lib/internal/assert/myers_diff.js
  test/parallel/test-assert-myers-diff.js
Labels: assert, author ready, needs-ci, commit-queue-squash

#59792 src: fixup node_messaging error handling
  src/node_messaging.cc
Labels: c++, author ready, needs-ci

#59794 tools: print appropriate output when test aborted
  tools/test.py
Labels: test, tools, author ready

#59623 src: call `V8::ExternalMemoryAccounter::Update` instead of `V8::ExternalMemoryAccounter::Increase` to report memory difference to V8
  src/node_mem-inl.h
  src/node_zlib.cc
Labels: c++, zlib, author ready, needs-ci

#59707 doc: stabilize --disable-sigusr1
  doc/api/cli.md
Labels: doc, cli, author ready

#59802 src: use DictionaryTemplate for node_url_pattern
  src/env_properties.h
  src/node_sqlite.cc
  src/node_url_pattern.cc
  src/node_util.cc
  src/node_v8.cc
  src/node_worker.cc
  src/util-inl.h
  src/util.h
Labels: c++, lib / src, author ready, needs-ci, commit-queue-squash

#59837 fix: undici as shared-library should pass test-inspector-network-websocket.js test
  test/parallel/test-inspector-network-websocket.js
Labels: test, fast-track, needs-ci

#59851 doc,crypto: update subtle.generateKey and subtle.importKey
  doc/api/webcrypto.md
Labels: crypto, doc, author ready

#59857 repl: fix cpu overhead pasting big strings to the REPL
  lib/internal/readline/interface.js
  test/parallel/test-repl-paste-big-data.js
Labels: readline, author ready, needs-ci

#59858 util: fix debuglog.enabled not being present with callback logger
  lib/internal/util/debuglog.js
  test/sequential/test-util-debug.js
Labels: util, author ready, needs-ci

#59860 util: inspect objects with throwing Symbol.toStringTag
  lib/internal/util/inspect.js
  test/parallel/test-util-inspect.js
Labels: util, author ready, needs-ci

#59181 url: replaced slice with at
  lib/url.js
Labels: url, author ready, needs-ci, commit-queue-squash

#59696 benchmark: calibrate config dgram multi-buffer
  benchmark/dgram/multi-buffer.js
Labels: dgram, benchmark, author ready

#59762 util: add skipPrototype option to deep equality checks
  doc/api/assert.md
  doc/api/util.md
  lib/assert.js
  lib/internal/util/comparisons.js
  lib/util.js
  test/parallel/test-assert-class.js
  test/parallel/test-util-isDeepStrictEqual.js
Labels: assert, util, author ready, needs-ci, commit-queue-squash

#59813 zlib: implement fast path for crc32
  benchmark/zlib/crc32.js
  src/node_zlib.cc
  test/sequential/test-zlib-crc32-fast-api.js
Labels: c++, zlib, author ready, needs-ci, needs-benchmark-ci, commit-queue-squash

#59071 node-api: added SharedArrayBuffer api
  doc/api/n-api.md
  src/js_native_api.h
  src/js_native_api_v8.cc
  test/js-native-api/test_sharedarraybuffer/binding.gyp
  test/js-native-api/test_sharedarraybuffer/test.js
  test/js-native-api/test_sharedarraybuffer/test_sharedarraybuffer.c
Labels: c++, node-api, author ready, needs-ci, commit-queue-squash

#59867 stream: use new AsyncResource instead of bind
  lib/internal/streams/end-of-stream.js
Labels: stream, needs-ci, commit-queue-squash

#59891 src: replace FIXED_ONE_BYTE_STRING with Environment-cached strings
  src/node_realm.cc
  src/node_sqlite.cc
  src/node_webstorage.cc
  src/stream_wrap.cc
Labels: c++, lib / src, author ready, needs-ci

#59847 fs,win: do not add a second trailing slash in readdir
  src/node_file.cc
Labels: c++, fs, windows, author ready, needs-ci, review wanted, commit-queue-failed, dont-land-on-v20.x

#59892 src: use DictionaryTemplate more in URLPattern
  src/env_properties.h
  src/node_url_pattern.cc
Labels: c++, whatwg-url, author ready, needs-ci

#59910 diagnostics_channel: fix race condition with diagnostics_channel and GC
  lib/diagnostics_channel.js
  test/fixtures/source-map/output/source_map_assert_source_line.snapshot
  test/parallel/test-diagnostics-channel-gc-maintains-subcriptions.js
  test/parallel/test-diagnostics-channel-gc-race-condition.js
Labels: author ready, needs-ci, diagnostics_channel

#59416 lib: use validators for argument validation
  lib/child_process.js
  test/parallel/test-child-process-fork-timeout-kill-signal.js
  test/parallel/test-child-process-spawn-timeout-kill-signal.js
  test/parallel/test-child-process-spawn-typeerror.js
  test/parallel/test-child-process-spawnsync-validation-errors.js
Labels: child_process, semver-major, author ready, needs-ci, commit-queue-squash

#59687 lib: fix inspect deduplication logic
  lib/internal/util/inspect.js
  test/es-module/test-esm-loader-with-syntax-error.mjs
  test/parallel/test-util-inspect.js
Labels: util, author ready, needs-ci, request-ci-failed, commit-queue-squash

#59804 build: add the missing macro definitions for OpenHarmony
  deps/ngtcp2/ngtcp2.gyp
Labels: author ready, needs-ci, quic
