Repository nodejs/node, pull requests merged in 2025-03, with the labels that each got.

#57192 net: emit an error when custom lookup resolves a non-string address
  lib/net.js
  test/parallel/test-net-connect-custom-lookup-non-string-address.mjs
Labels: net, author ready, commit-queue-squash

#57227 src: reduce string allocations on sqlite
  src/node_sqlite.cc
Labels: c++, author ready, needs-ci, commit-queue-squash, sqlite

#57183 doc: add 1ilsang to triage team
  README.md
Labels: doc, author ready

#56835 doc: fix rendering of DEP0174 description
  doc/api/deprecations.md
Labels: doc, deprecations

#57069 timers: check for immediate instance in clearImmediate
  lib/timers.js
  test/parallel/test-timers-invalid-clear.js
Labels: timers, semver-major, author ready, needs-ci

#57237 meta: set nodejs/config as codeowner
  .github/CODEOWNERS
Labels: meta, author ready

#57238 tools: remove deps/zlib/GN-scraper.py
  deps/zlib/GN-scraper.py
  tools/dep_updaters/update-zlib.sh
  tools/gyp_node.py
  tools/v8_gypfiles/GN-scraper.py
Labels: zlib, build, v8 engine, tools, needs-ci, gyp, dependencies

#57073 doc: clarify path.isAbsolute is not enough for mitigating path traversals
  doc/api/path.md
Labels: doc, path

#57246 test: more common.mustNotCall in net
  test/parallel/test-net-eaddrinuse.js
  test/parallel/test-net-listen-close-server.js
  test/parallel/test-net-listen-error.js
  test/parallel/test-tls-close-error.js
  test/parallel/test-tls-handshake-error.js
Labels: test, author ready, needs-ci

#56628 module: add dynamic file-specific ESM warnings
  src/node_contextify.cc
  src/node_process_events.cc
  test/es-module/test-esm-cjs-load-error-note.mjs
  test/es-module/test-esm-long-path-win.js
  test/es-module/test-typescript-commonjs.mjs
Labels: c++, module, vm, esm, needs-ci, review wanted, commit-queue-squash

#57210 src: fix node_config_file.h compilation error in GN build
  src/node_config_file.h
Labels: c++, author ready, needs-ci

#57187 module: handle cached linked async jobs in require(esm)
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  src/module_wrap.cc
Labels: c++, esm, needs-ci, commit-queue-squash

#57271 doc: TypeScript docs should recommend `erasableSyntaxOnly`
  doc/api/typescript.md
Labels: doc, author ready, commit-queue-squash

#57146 v8: add v8.getCppHeapStatistics() method
  doc/api/v8.md
  lib/v8.js
  src/node_v8.cc
  test/parallel/test-cppheap-stats.js
Labels: c++, v8 engine, needs-ci

#57167 tools: add more details about rolling inspector_protocol
  doc/contributing/maintaining/maintaining-dependencies.md
  tools/inspector_protocol/README.md
Labels: tools

#57273 src: refactor SubtleCrypto algorithm and length validations
  lib/internal/crypto/aes.js
  lib/internal/crypto/cfrg.js
  lib/internal/crypto/diffiehellman.js
  lib/internal/crypto/ec.js
  lib/internal/crypto/hkdf.js
  lib/internal/crypto/keys.js
  lib/internal/crypto/mac.js
  lib/internal/crypto/pbkdf2.js
  lib/internal/crypto/rsa.js
  lib/internal/crypto/util.js
  test/parallel/test-webcrypto-derivebits-cfrg.js
  test/parallel/test-webcrypto-derivebits-ecdh.js
  test/parallel/test-webcrypto-derivekey-cfrg.js
  test/parallel/test-webcrypto-derivekey-ecdh.js
  test/parallel/test-webcrypto-encrypt-decrypt.js
  test/parallel/test-webcrypto-export-import.js
  test/parallel/test-webcrypto-keygen.js
Labels: crypto, lib / src, author ready, needs-ci, webcrypto, commit-queue-squash, web-standards

#57276 readline: add support for `Symbol.dispose`
  doc/api/readline.md
  lib/internal/readline/interface.js
Labels: readline, author ready, needs-ci, dont-land-on-v18.x

#57314 tools: revert to use @stylistic/eslint-plugin-js v3
  tools/eslint/package-lock.json
  tools/eslint/package.json
Labels: tools, fast-track, commit-queue-squash

#57249 src: use cached `emit` string
  src/node_process_events.cc
Labels: c++, author ready, needs-ci

#57280 stream: fix `sizeAlgorithm` validation in WritableStream
  lib/internal/webstreams/writablestream.js
  test/parallel/test-whatwg-writablestream-close.js
Labels: author ready, needs-ci, web streams

#57287 doc: update node-api version matrix
  doc/api/n-api.md
  doc/contributing/releases-node-api.md
Labels: doc, node-api, lts-watch-v22.x

#57164 crypto: add support for intermediate certs in --use-system-ca
  src/crypto/crypto_context.cc
  test/fixtures/keys/Makefile
  test/fixtures/keys/ca1-cert.srl
  test/fixtures/keys/intermediate-ca.pem
  test/fixtures/keys/intermediate.key
  test/fixtures/keys/leaf-from-intermediate-cert.pem
  test/fixtures/keys/leaf-from-intermediate-key.pem
  test/fixtures/keys/non-trusted-intermediate-ca.pem
  test/fixtures/keys/non-trusted-intermediate-ca.srl
  test/fixtures/keys/non-trusted-intermediate.key
  test/fixtures/keys/non-trusted-leaf-from-intermediate-cert.pem
  test/fixtures/keys/non-trusted-leaf-from-intermediate-key.pem
  test/parallel/parallel.status
  test/parallel/test-native-certs.mjs
  test/system-ca/README.md
  test/system-ca/system-ca.status
  test/system-ca/test-native-intermediate-certs.mjs
  test/system-ca/test-native-root-certs.mjs
  test/system-ca/test.cfg.py
  tools/test.py
Labels: crypto, c++, needs-ci, commit-queue-squash

#57326 doc: fix Windows ccache section position
  BUILDING.md
Labels: doc, windows, build, fast-track

#57299 test: skip uv-thread-name on IBM i
  test/addons/uv-thread-name/test.js
Labels: test, addons, author ready, needs-ci

#57301 tools: switch back to official OpenSSL
  tools/dep_updaters/update-openssl.sh
Labels: tools

#56960 test: update compression wpt
  test/fixtures/wpt/README.md
  test/fixtures/wpt/compression/idlharness-shadowrealm.window.js
  test/fixtures/wpt/compression/idlharness.https.any.js
  test/fixtures/wpt/versions.json
Labels: test, author ready, needs-ci

#57279 assert: improve myers diff performance
  benchmark/assert/assertion-error.js
  lib/internal/assert/myers_diff.js
Labels: assert, author ready, needs-ci, needs-benchmark-ci

#56967 src: remove redundant qualifiers in src/quic
  src/quic/application.cc
  src/quic/bindingdata.cc
  src/quic/data.cc
  src/quic/endpoint.cc
  src/quic/http3.cc
  src/quic/logstream.cc
  src/quic/packet.cc
  src/quic/preferredaddress.cc
  src/quic/session.cc
  src/quic/sessionticket.cc
  src/quic/streams.cc
  src/quic/tlscontext.cc
  src/quic/transportparams.cc
Labels: c++, lib / src, author ready, needs-ci

#57320 doc: recommend setting `noEmit: true` in `tsconfig.json`
  doc/api/typescript.md
Labels: doc, author ready, commit-queue-squash

#57250 src: use Maybe<void> in ProcessEmitWarningSync
  src/node_process.h
  src/node_process_events.cc
Labels: c++, author ready, needs-ci

#57290 test: use `assert.match` in `test-esm-import-meta`
  test/es-module/test-esm-import-meta.mjs
Labels: test, esm, author ready, needs-ci

#56605 win,build: add option to enable cfg
  common.gypi
  configure.py
  vcbuild.bat
Labels: windows, build, needs-ci, commit-queue-squash

#57325 src: allow embedder customization of `OOMErrorHandler`
  src/api/environment.cc
  src/node.h
Labels: embedding, author ready

#57292 meta: move RaisinTen back to collaborators, triagers and SEA champion
  README.md
  doc/contributing/strategic-initiatives.md
Labels: doc

#57315 tools: import rather than require ESLint plugins
  benchmark/eslint.config_partial.mjs
  doc/eslint.config_partial.mjs
  eslint.config.mjs
  test/eslint.config_partial.mjs
  tools/eslint/eslint.config_partial.mjs
  tools/eslint/eslint.config_utils.mjs
Labels: tools, author ready, needs-ci

#57330 build: fix compatibility with V8's `depot_tools`
  tools/make-v8.sh
  tools/v8/node_common.py
Labels: v8 engine, tools, author ready, needs-ci, lts-watch-v18.x, lts-watch-v20.x, lts-watch-v22.x

#57338 test: simplify test-tls-connect-abort-controller.js
  test/parallel/test-tls-connect-abort-controller.js
Labels: test, author ready, needs-ci

#57339 tls: make server.prototype.setOptions end-of-life
  doc/api/deprecations.md
  lib/_tls_wrap.js
  test/parallel/test-tls-server-setoptions-clientcertengine.js
Labels: tls, semver-major, author ready, needs-ci, needs-citgm

#57110 timers: simplify the compareTimersLists function
  lib/internal/timers.js
Labels: timers, needs-ci, needs-benchmark-ci

#57353 doc: revise `tsconfig.json` note
  doc/api/typescript.md
Labels: doc, author ready

#57354 src: do not pass `nullptr` to `std::string` ctor
  src/debug_utils.cc
Labels: c++, author ready, debugger

#57359 test_runner: change ts default glob
  doc/api/test.md
  lib/internal/test_runner/runner.js
  lib/internal/test_runner/utils.js
  test/fixtures/test-runner/matching-patterns/test/typescript-test.cts
  test/fixtures/test-runner/matching-patterns/test/typescript-test.mts
  test/fixtures/test-runner/matching-patterns/test/typescript-test.ts
Labels: author ready, needs-ci, test_runner, strip-types

#57239 tools: add config subspace
  .github/label-pr-config.yml
  .github/workflows/tools.yml
Labels: meta, author ready, config

#57402 doc: add Darshan back as voting TSC member
  README.md
Labels: doc, fast-track, author ready

#57328 doc: fix usage of module.registerSync in comment
  doc/api/module.md
Labels: doc, module

#57304 test: refactor test runner run plan tests
  test/fixtures/test-runner/plan/less.mjs
  test/fixtures/test-runner/plan/match.mjs
  test/fixtures/test-runner/plan/more.mjs
  test/fixtures/test-runner/plan/nested-subtests.mjs
  test/fixtures/test-runner/plan/plan-via-options.mjs
  test/fixtures/test-runner/plan/streaming.mjs
  test/fixtures/test-runner/plan/subtest.mjs
  test/fixtures/test-runner/plan/timeout-basic.mjs
  test/fixtures/test-runner/plan/timeout-expired.mjs
  test/fixtures/test-runner/plan/timeout-wait-false.mjs
  test/fixtures/test-runner/plan/timeout-wait-true.mjs
  test/parallel/test-runner-plan.mjs
Labels: test, author ready, needs-ci, commit-queue-squash

#57350 sqlite: reset statement immediately in run()
  src/node_sqlite.cc
  test/parallel/test-sqlite-statement-sync.js
Labels: c++, author ready, sqlite

#57386 dns: remove redundant code using common variable
  lib/dns.js
  lib/internal/dns/promises.js
  lib/internal/dns/utils.js
Labels: dns, author ready, needs-ci

#57387 doc: make first parameter optional in `util.getCallSites`
  doc/api/util.md
Labels: util, doc, author ready

#57198 net: validate non-string host for `socket.connect`
  lib/net.js
  test/parallel/test-net-connect-options-invalid.js
Labels: net, author ready, needs-ci

#57361 tls: remove deprecated tls.createSecurePair and SecurePair
  benchmark/tls/secure-pair.js
  doc/api/deprecations.md
  doc/api/tls.md
  lib/internal/tls/secure-pair.js
  lib/tls.js
  test/parallel/test-tls-basic-validations.js
  test/parallel/test-tls-external-accessor.js
  test/parallel/test-tls-handshake-nohang.js
  test/parallel/test-tls-legacy-deprecated.js
  test/parallel/test-tls-securepair-fiftharg.js
  test/parallel/test-tls-securepair-leak.js
  test/parallel/test-tls-securepair-server.js
  test/parallel/test-tls-socket-snicallback-without-server.js
  test/root.status
  test/sequential/sequential.status
  test/sequential/test-tls-securepair-client.js
Labels: tls, semver-major, deprecations, needs-ci

#57397 win,test: disable test case failing with ClangCL
  test/parallel/test-child-process-kill.js
Labels: windows, test, fast-track, needs-ci

#57362 Suggest --use-system-ca when a certificate error occurs
  doc/api/tls.md
  src/crypto/crypto_common.cc
  test/parallel/test-https-agent-create-connection.js
  test/parallel/test-tls-addca.js
  test/parallel/test-tls-friendly-error-message.js
  test/parallel/test-tls-set-secure-context.js
  test/parallel/test-tls-socket-default-options.js
Labels: crypto, c++, needs-ci

#57251 timers: remove unused parameter from insertGuarded
  lib/internal/timers.js
Labels: timers, author ready, needs-ci

#57333 docs: Fix small typo in process.md
  doc/api/process.md
Labels: doc, process, author ready

#57336 tls: remove unnecessary type check on normalize
  lib/_tls_wrap.js
Labels: tls, author ready, needs-ci

#57384 doc: add deprecation mark to some documents in fs module
  doc/api/fs.md
Labels: doc, fs, author ready, lts-watch-v18.x, lts-watch-v20.x

#57395 src: cleanup aliased_buffer.h
  src/aliased_buffer.h
Labels: c++, author ready, needs-ci

#57413 doc: update maintaining-openssl.md for openssl
  .github/workflows/update-openssl.yml
  doc/contributing/maintaining/maintaining-openssl.md
Labels: meta

#57443 meta: remove ovflowd as collaborator
  README.md
Labels: doc, fast-track, author ready

#57426 doc: explicit mention arbitrary code execution as a vuln
  SECURITY.md
Labels: doc, author ready

#57429 deps: update ada to v3.2.1 and update web-platform tests
  deps/ada/ada.cpp
  deps/ada/ada.h
  src/node_url_pattern.cc
  test/fixtures/wpt/README.md
  test/fixtures/wpt/url/IdnaTestV2.window.js
  test/fixtures/wpt/url/resources/IdnaTestV2.json
  test/fixtures/wpt/url/resources/setters_tests.json
  test/fixtures/wpt/url/resources/toascii.json
  test/fixtures/wpt/url/resources/urltestdata.json
  test/fixtures/wpt/urlpattern/resources/urlpatterntestdata.json
  test/fixtures/wpt/versions.json
  test/known_issues/test-whatwg-url-custom-domainto.js
  test/known_issues/test-whatwg-url-toascii.js
  test/wpt/status/url.json
  test/wpt/status/urlpattern.json
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#57459 doc: remove typo YAML snippet from tls.getCACertificates doc
  doc/api/tls.md
Labels: tls, doc, fast-track, author ready

#57432 doc: add history info for --use-system-ca
  doc/api/cli.md
Labels: doc, cli, author ready, commit-queue-squash

#57467 doc: fix typo in url.md
  doc/api/url.md
Labels: doc, url, fast-track, author ready

#57468 build: fix update-wpt workflow
  .github/workflows/update-wpt.yml
Labels: meta, fast-track, author ready

#57420 fs: apply exclude function to root path
  lib/internal/fs/glob.js
  test/parallel/test-fs-glob.mjs
Labels: fs, needs-ci, commit-queue-squash

#57449 doc: add review guidelines for collaborator nominations
  GOVERNANCE.md
Labels: meta, author ready

#57450 crypto: ensure expected JWK alg in SubtleCrypto.importKey RSA imports
  lib/internal/crypto/hashnames.js
  lib/internal/crypto/rsa.js
  test/parallel/test-webcrypto-export-import-rsa.js
Labels: confirmed-bug, crypto, author ready, needs-ci, webcrypto, web-standards

#57477 test: update parallel/test-tls-dhe for OpenSSL 3.5
  test/parallel/test-tls-dhe.js
Labels: test, author ready, needs-ci, lts-watch-v18.x, lts-watch-v20.x

#57311 doc: prefer to sign commits under nodejs repository
  doc/contributing/releases.md
Labels: doc, author ready, commit-queue-squash

#57481 src: remove deleted tls file
  src/node_builtins.cc
Labels: c++, author ready, needs-ci, dont-land-on-v18.x, dont-land-on-v20.x, dont-land-on-v22.x, dont-land-on-v23.x

#57482 url: fix constructor error message for URLPattern
  src/node_url_pattern.cc
Labels: c++, whatwg-url, author ready, needs-ci, commit-queue-squash

#57484 doc: replace NOTEs that do not render properly
  doc/api/cli.md
  doc/api/typescript.md
Labels: doc, author ready

#57490 sqlite: add StatementSync.prototype.columns()
  deps/sqlite/sqlite.gyp
  deps/sqlite/unofficial.gni
  doc/api/sqlite.md
  src/env_properties.h
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-statement-sync-columns.js
Labels: semver-minor, lib / src, experimental, author ready, sqlite

#57501 lib: limit split function calls to prevent excessive array length
  lib/internal/blob.js
  lib/internal/debugger/inspect.js
  lib/internal/errors.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/module_job.js
  lib/internal/repl/await.js
  lib/internal/source_map/source_map_cache.js
  lib/internal/test_runner/utils.js
  lib/internal/tty.js
  lib/internal/util/debuglog.js
  lib/internal/worker/js_transferable.js
  lib/tls.js
Labels: lib / src, author ready, needs-ci, commit-queue-squash

#57506 sqlite: add DatabaseSync.prototype[Symbol.dispose]()
  doc/api/sqlite.md
  lib/sqlite.js
  test/parallel/test-sqlite-database-sync-dispose.js
Labels: experimental, author ready, sqlite

#57393 doc: add node.js streams references to Web Streams doc
  doc/api/webstreams.md
Labels: doc

#57512 doc: remove some inconsistencies in `deprecations.md`
  doc/api/deprecations.md
Labels: doc, author ready, deprecations

#57529 doc: correct status of require(esm) warning in v20 changelog
  doc/changelogs/CHANGELOG_V20.md
Labels: fast-track, release

#57389 doc: deprecate passing `args` to `spawn` and `execFile`
  doc/api/deprecations.md
Labels: doc, author ready, deprecations

#57522 sqlite: add DatabaseSync.prototype.isOpen
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-database-sync.js
Labels: c++, author ready, sqlite

#57483 meta: edit collaborator nomination process
  GOVERNANCE.md
Labels: meta, author ready, commit-queue-squash

#57509 assert: improve partialDeepStrictEqual
  benchmark/assert/deepequal-buffer.js
  benchmark/assert/partial-deep-equal.js
  lib/internal/util/comparisons.js
  test/parallel/test-assert-partial-deep-equal.js
Labels: assert, benchmark, performance, author ready, needs-ci, commit-queue-squash

#57462 util: expose diff function used by the assertion errors
  benchmark/util/diff.js
  doc/api/util.md
  lib/internal/assert/myers_diff.js
  lib/internal/util/diff.js
  lib/util.js
  test/parallel/test-diff.js
Labels: assert, util, semver-minor, notable-change, author ready, needs-ci

#57526 doc: remove mention of visa fees from onboarding doc
  onboarding.md
Labels: doc, author ready

#57527 doc: recommend watching the collaborators repo in the onboarding doc
  onboarding.md
Labels: doc, author ready, commit-queue-squash

#57497 timers: remove unnecessary allocation of _onTimeout
  lib/internal/timers.js
Labels: timers, author ready, needs-ci

#57537 meta: remove collaborator self-nomination
  GOVERNANCE.md
Labels: meta

#57568 doc: remove deprecated pattern in `child_process.md`
  doc/api/child_process.md
Labels: child_process, doc, fast-track, author ready

#57544 doc: add history entry for DEP0190 in `child_process.md`
  doc/api/child_process.md
Labels: child_process, doc, author ready

#57519 src: ensure primordials are initialized exactly once
  src/api/environment.cc
Labels: c++, author ready

#57550 net: make _setSimultaneousAccepts() end-of-life deprecated
  doc/api/deprecations.md
  lib/net.js
  test/parallel/test-net-deprecated-setsimultaneousaccepts.js
  test/parallel/test-net-server-simultaneous-accepts-produce-warning-once.js
Labels: net, semver-major, author ready, needs-ci

#57552 sqlite: add support for unknown named parameters
  doc/api/sqlite.md
  src/node_sqlite.cc
  src/node_sqlite.h
  test/parallel/test-sqlite-named-parameters.js
Labels: c++, author ready, sqlite

#57080 docs: module resolution pseudocode corrections
  doc/api/esm.md
  doc/api/modules.md
Labels: doc, esm, commit-queue-squash

#57200 test: buffer.indexOf: add more number cases
  test/parallel/test-buffer-indexof.js
Labels: test, needs-ci

#57567 fs: remove ability to call truncate with fd
  doc/api/deprecations.md
  lib/fs.js
  test/parallel/test-fs-truncate-fd.js
  test/parallel/test-fs-truncate-sync.js
  test/parallel/test-fs-truncate.js
Labels: fs, semver-major, author ready, deprecations, needs-ci

#57573 tools: update sccache to support GH cache changes
  .github/workflows/build-tarball.yml
  .github/workflows/coverage-linux-without-intl.yml
  .github/workflows/coverage-linux.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
Labels: meta, author ready, lts-watch-v20.x, lts-watch-v22.x

#57579 doc: remove cryptoStream API reference
  doc/api/deprecations.md
  doc/api/tls.md
Labels: tls, doc, author ready

#57516 doc: make stability labels more consistent
  doc/api/assert.md
  doc/api/buffer.md
  doc/api/cli.md
  doc/api/diagnostics_channel.md
  doc/api/esm.md
  doc/api/events.md
  doc/api/globals.md
  doc/api/module.md
  doc/api/permissions.md
  doc/api/test.md
  doc/api/typescript.md
  doc/api/url.md
  doc/api/zlib.md
  doc/api_assets/style.css
  tools/doc/html.mjs
Labels: doc, commit-queue-squash

#57538 doc: update support channels
  .github/SUPPORT.md
Labels: meta, fast-track, commit-queue-squash

#57564 docs: add bjohansebas as triager
  README.md
Labels: doc, author ready

#57072 timers: optimize timer functions with improved argument handling
  lib/timers.js
Labels: timers, author ready, needs-ci, needs-benchmark-ci, commit-queue-squash

#57541 doc: add section stating that very stale PRs should be closed
  doc/contributing/pull-requests.md
Labels: doc, commit-queue-squash

#57607 doc: mention reports should align with Node.js CoC
  SECURITY.md
Labels: doc, author ready

#57620 Update `--require` docs
  doc/api/cli.md
Labels: doc, cli, author ready, commit-queue-failed, commit-queue-squash, dont-land-on-v18.x, lts-watch-v20.x

#57635 doc: remove Corepack documentation
  doc/api/corepack.md
  doc/api/index.md
  doc/api/packages.md
  test/doctool/test-make-doc.mjs
Labels: doc, author ready, commit-queue-failed

#57463 doc: clarify behaviour of node-api adjust function
  doc/api/n-api.md
Labels: doc, node-api, author ready, commit-queue-squash

#57442 [v23.x] deps: update undici to 6.21.2
  deps/undici/src/lib/dispatcher/pool.js
  deps/undici/src/lib/llhttp/wasm_build_env.txt
  deps/undici/src/package.json
  deps/undici/src/types/interceptors.d.ts
  deps/undici/undici.js
  src/undici_version.h
Labels: lib / src, needs-ci, lts-watch-v20.x, v23.x, lts-watch-v22.x

#57594 doc: add gurgunday as triager
  README.md
Labels: doc, author ready

#57665 tools: fix WPT update cron string
  .github/workflows/update-wpt.yml
Labels: meta, author ready

#57673 tools: update ESLint to 9.23
  test/parallel/test-sqlite-statement-sync.js
  tools/eslint/package-lock.json
Labels: tools, author ready, needs-ci
