Repository nodejs/node, pull requests merged in 2025-07, with the labels that each got.

#58883 test: add known issue tests for fs.cp
  test/known_issues/test-fs-cp-async-buffer.js
  test/known_issues/test-fs-cp-filter.js
  test/known_issues/test-fs-cp-non-utf8.js
Labels: fs, test, author ready, needs-ci, commit-queue-squash

#58845 crypto: fix inclusion of `OPENSSL_IS_BORINGSSL` define
  src/node_config.cc
Labels: c++, commit-queue-squash

#58885 doc: update vm doc links
  doc/api/vm.md
Labels: doc, vm, author ready

#58916 meta: add IlyasShabi to collaborators
  README.md
Labels: doc, fast-track, author ready

#58893 test: add known issue tests for recursive readdir calls with Buffer path
  test/known_issues/test-fs-readdir-promise-recursive-with-buffer.js
  test/known_issues/test-fs-readdir-recursive-with-buffer.js
  test/known_issues/test-fs-readdir-sync-recursive-with-buffer.js
Labels: test, author ready, needs-ci

#58853 permission: propagate permission model flags on spawn
  doc/api/cli.md
  doc/api/permissions.md
  lib/child_process.js
  lib/internal/process/permission.js
  lib/internal/process/pre_execution.js
  test/parallel/test-permission-allow-child-process-cli.js
  test/parallel/test-permission-child-process-inherit-flags.js
Labels: child_process, semver-minor, process, notable-change, author ready, needs-ci, permission

#58898 src,permission: enhance permission model debug
  src/permission/fs_permission.cc
Labels: c++, author ready, needs-ci, permission

#58910 doc: update email address for Richard Lau
  .mailmap
  README.md
Labels: doc, meta, author ready

#58911 docs: add @ovflowd back to core collaborators
  README.md
Labels: doc, author ready

#58930 tools,doc: move more MDN links to types
  doc/api/buffer.md
  doc/api/cli.md
  doc/api/globals.md
  doc/api/http.md
  tools/doc/type-parser.mjs
Labels: doc, tools, author ready

#58931 doc: add missing `Class:` mentions
  doc/api/globals.md
  doc/api/http.md
Labels: doc, author ready

#58933 doc: fix `fetch` subsections in `globals.md`
  doc/api/globals.md
Labels: doc, author ready

#58886 module: link module with a module request record
  lib/internal/modules/esm/module_job.js
  lib/internal/vm/module.js
  src/module_wrap.cc
  src/module_wrap.h
  test/es-module/test-esm-import-attributes-identity.mjs
  test/es-module/test-esm-json.mjs
  test/fixtures/es-module-loaders/hooks-input.mjs
  test/fixtures/es-modules/json-modules-attributes.mjs
  test/fixtures/primitive-42.json
  test/parallel/test-internal-module-wrap.js
Labels: c++, vm, esm, needs-ci

#58934 doc: move "Core Promise APIs" to "Completed initiatives"
  doc/contributing/strategic-initiatives.md
Labels: doc, author ready

#58940 os: fix GetInterfaceAddresses memory leaky
  src/node_os.cc
Labels: c++, os, author ready, needs-ci

#58856 fs: close dir before throwing if `options.bufferSize` is invalid
  lib/internal/fs/dir.js
  test/parallel/test-fs-opendir.js
Labels: fs, author ready, needs-ci

#58932 doc: mark stability markers consistent in `globals.md`
  doc/api/globals.md
Labels: doc

#58952 test: deflake test-runner-watch-mode-kill-signal
  test/parallel/test-runner-watch-mode-kill-signal.mjs
Labels: test, flaky-test, needs-ci

#58925 doc: clarify details of TSC public and private meetings
  GOVERNANCE.md
Labels: meta, commit-queue-squash

#58953 inspector: support undici traffic data inspection
  lib/internal/inspector/network.js
  lib/internal/inspector/network_undici.js
  test/parallel/test-inspector-network-fetch.js
Labels: inspector, author ready, needs-ci

#58972 doc: remove broken link to permission model source code
  doc/api/permissions.md
Labels: doc

#58928 lib: flag to conditionally modify proto on deprecate
  benchmark/util/deprecate.js
  lib/internal/util.js
Labels: util, author ready, needs-ci, review wanted

#58087 net: update net.blocklist to allow file save and file management
  doc/api/net.md
  lib/internal/blocklist.js
  test/parallel/test-blocklist.js
  test/parallel/test-net-blocklist.js
Labels: net, semver-minor, needs-ci

#58944 meta: add marco-ippolito to security release stewards
  README.md
Labels: doc, meta

#58983 doc: add sponsorship link to RafaelGSS
  README.md
Labels: doc, author ready

#58957 module: throw error when re-runing errored module jobs
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/module_job.js
  test/es-module/test-import-module-retry-require-errored.js
  test/es-module/test-require-module-retry-import-errored-2.js
Labels: esm, author ready, needs-ci

#58891 repl: improve REPL disabling completion on proxies and getters
  lib/repl.js
  test/parallel/test-repl-completion-on-getters-disabled.js
Labels: repl, author ready, needs-ci

#58986 src: check import attributes value types as strings
  src/module_wrap.cc
Labels: c++, author ready, needs-ci

#58077 inspector: initial support for Network.loadNetworkResource
  doc/api/cli.md
  doc/api/inspector.md
  doc/node.1
  lib/inspector.js
  lib/internal/inspector/network_resources.js
  src/inspector/io_agent.cc
  src/inspector/io_agent.h
  src/inspector/network_agent.cc
  src/inspector/network_agent.h
  src/inspector/network_inspector.cc
  src/inspector/network_inspector.h
  src/inspector/network_resource_manager.cc
  src/inspector/network_resource_manager.h
  src/inspector/node_inspector.gypi
  src/inspector/node_protocol.pdl
  src/inspector/worker_inspector.cc
  src/inspector/worker_inspector.h
  src/inspector_agent.cc
  src/inspector_agent.h
  src/inspector_js_api.cc
  src/node_options.cc
  src/node_options.h
  test/fixtures/inspector-network-resource/app.js.map
  test/parallel/test-inspector-network-resource.js
  typings/internalBinding/inspector.d.ts
Labels: c++, lib / src, inspector, needs-ci, commit-queue-squash

#58997 doc: add stability index to the `--watch-kill-signal` flag
  doc/api/cli.md
Labels: doc, cli, author ready

#58824 test_runner: improve mock timer promisifiers
  lib/internal/test_runner/mock/mock_timers.js
  test/parallel/test-runner-mock-timers.js
Labels: needs-ci, commit-queue-squash, test_runner, dont-land-on-v20.x

#58963 doc: add missing environment variables to manpage
  doc/node.1
  test/parallel/test-cli-node-cli-manpage-env-vars.mjs
Labels: doc, author ready

#59008 crypto: runtime-deprecate default shake128/256 output lengths
  doc/api/deprecations.md
  lib/internal/crypto/hash.js
  src/crypto/crypto_hash.cc
  test/parallel/test-crypto-default-shake-lengths-oneshot.js
  test/parallel/test-crypto-default-shake-lengths.js
  test/parallel/test-crypto-hash.js
Labels: crypto, c++, semver-major, notable-change, author ready, deprecations, needs-ci

#59032 repl: fix repl crashing on variable declarations without init
  lib/repl.js
  test/parallel/test-repl-tab-complete.js
Labels: repl, fast-track, needs-ci

#59041 docs: zlib: rm unused process from example
  doc/api/zlib.md
Labels: doc, zlib

#58958 doc: "if and only if" should be "if" in util.parseArgs default value
  doc/api/util.md
Labels: util, doc

#59050 doc: clarify ERR_FS_FILE_TOO_LARGE explanation to reflect fs.readFile() I/O limit
  doc/api/errors.md
Labels: doc, errors, author ready, commit-queue-squash

#58992 tools,test: enforce best practices to detect never settling promises
  test/es-module/test-import-module-retry-require-errored.js
  test/es-module/test-require-module-retry-import-errored-2.js
  test/es-module/test-require-module-tla-retry-import-2.js
  test/es-module/test-require-module-tla-retry-import.js
  test/es-module/test-vm-main-context-default-loader-eval.js
  test/es-module/test-vm-main-context-default-loader.js
  test/eslint.config_partial.mjs
  test/module-hooks/test-module-hooks-load-esm-mock.js
  test/module-hooks/test-module-hooks-load-esm.js
  test/parallel/test-crypto-async-sign-verify.js
  test/parallel/test-fs-open.js
  test/parallel/test-stream-readable-async-iterators.js
  test/parallel/test-vm-context-dont-contextify.js
Labels: module, test, esm, author ready, needs-ci, loaders

#59078 doc: add RafaelGSS as steward July 25
  doc/contributing/security-release-process.md
Labels: doc, fast-track, author ready

#59087 node-api,doc: update links to ecma262 with section names
  doc/api/n-api.md
Labels: doc, node-api, author ready

#58822 crypto: add tls.setDefaultCACertificates()
  doc/api/tls.md
  lib/tls.js
  src/crypto/crypto_context.cc
  test/common/tls.js
  test/fixtures/es-modules/custom-condition/load.cjs
  test/fixtures/tls-extra-ca-override.js
  test/parallel/test-tls-set-default-ca-certificates-append-fetch.mjs
  test/parallel/test-tls-set-default-ca-certificates-append-https-request.js
  test/parallel/test-tls-set-default-ca-certificates-array-buffer.js
  test/parallel/test-tls-set-default-ca-certificates-basic.js
  test/parallel/test-tls-set-default-ca-certificates-error.js
  test/parallel/test-tls-set-default-ca-certificates-extra-override.js
  test/parallel/test-tls-set-default-ca-certificates-mixed-types.js
  test/parallel/test-tls-set-default-ca-certificates-precedence-bundled.js
  test/parallel/test-tls-set-default-ca-certificates-precedence-empty.js
  test/parallel/test-tls-set-default-ca-certificates-recovery.js
  test/parallel/test-tls-set-default-ca-certificates-reset-fetch.mjs
  test/parallel/test-tls-set-default-ca-certificates-reset-https-request.js
  test/system-ca/test-set-default-ca-certificates-append-system-ca.mjs
  test/system-ca/test-set-default-ca-certificates-override-system.mjs
  test/system-ca/test-set-default-ca-certificates-system-combinations.js
Labels: semver-minor, notable-change, commit-queue-squash

#59020 esm: add JS string builtins support to Wasm ESM Integration
  doc/api/esm.md
  lib/internal/modules/esm/translators.js
  test/es-module/test-esm-wasm.mjs
  test/fixtures/es-modules/invalid-export-name-wasm-js.wasm
  test/fixtures/es-modules/invalid-export-name-wasm-js.wat
  test/fixtures/es-modules/invalid-export-name.wasm
  test/fixtures/es-modules/invalid-export-name.wat
  test/fixtures/es-modules/invalid-import-module.wasm
  test/fixtures/es-modules/invalid-import-module.wat
  test/fixtures/es-modules/invalid-import-name-wasm-js.wasm
  test/fixtures/es-modules/invalid-import-name-wasm-js.wat
  test/fixtures/es-modules/invalid-import-name.wasm
  test/fixtures/es-modules/invalid-import-name.wat
  test/fixtures/es-modules/js-string-builtins.wasm
  test/fixtures/es-modules/js-string-builtins.wat
Labels: esm, needs-ci

#59044 repl: handle errors from getters during completion
  lib/repl.js
  test/parallel/test-repl-tab-complete-getter-error.js
Labels: repl, needs-ci, commit-queue-squash

#59110 src,test: fix config file parsing for flags defaulted to true
  src/node_config_file.cc
  test/fixtures/rc/warnings-false.json
  test/parallel/test-config-file.js
Labels: c++, author ready, config

#58996 fix return value of fs APIs
  src/node_file-inl.h
  src/node_file.cc
  test/fixtures/permission/fs-write.js
Labels: c++, fs, author ready, needs-ci, permission

#59123 doc: fix typo in writing-test.md
  doc/contributing/writing-tests.md
Labels: doc, author ready

#58960 [v22.x backport] crypto: fix SHAKE128/256 breaking change introduced with OpenSSL 3.4
  doc/api/deprecations.md
  lib/internal/crypto/hash.js
  lib/internal/util.js
  src/crypto/crypto_hash.cc
  test/parallel/test-crypto-default-shake-lengths.js
  test/parallel/test-crypto-hash.js
  test/parallel/test-crypto-oneshot-hash.js
Labels: crypto, util, c++, needs-ci, v22.x

#59086 src: add cache to nearest parent package json
  lib/internal/modules/package_json_reader.js
Labels: module, author ready, needs-ci

#59157 doc: add Aditi-1400 to collaborators
  README.md
Labels: doc, fast-track

#59147 test: expand linting rules around `assert` w literal messages
  test/addons/report-fatalerror/test.js
  test/eslint.config_partial.mjs
  test/js-native-api/test_object/test.js
  test/parallel/test-buffer-write-fast.js
  test/parallel/test-net-listen-exclusive-random-ports.js
  test/parallel/test-stream-toArray.js
  test/report/test-report-fatalerror-oomerror-compact.js
  test/report/test-report-fatalerror-oomerror-directory.js
  test/report/test-report-fatalerror-oomerror-filename.js
  test/report/test-report-fatalerror-oomerror-not-set.js
  test/report/test-report-fatalerror-oomerror-set.js
Labels: test, addons, node-api, author ready, needs-ci, report

#58917 doc: add constraints for mem leak to threat model
  SECURITY.md
Labels: doc, security, author ready, security-wg-agenda

#59072 cli: support `${pid}` placeholder in --cpu-prof-name
  doc/api/cli.md
  src/inspector_profiler.cc
  test/sequential/test-cpu-prof-name.js
Labels: c++, semver-minor, inspector, author ready, needs-ci, commit-queue-squash

#59170 benchmark: fix sqlite-is-transaction
  benchmark/sqlite/sqlite-is-transaction.js
Labels: benchmark, author ready, sqlite

#59172 benchmark: small lint fix on _cli.js
  benchmark/_cli.js
Labels: benchmark, performance, author ready

#59174 benchmark: add --track to benchmark
  benchmark/run.js
Labels: benchmark, performance, author ready

#59160 tools: clarify README linter error message
  tools/lint-readme-lists.mjs
Labels: tools, commit-queue-squash

#59187 benchmark: adjust configuration for string-decoder bench
  benchmark/string_decoder/string-decoder.js
Labels: string_decoder, benchmark, author ready

#59158 test: fix flaky test-worker-message-port-transfer-filehandle test
  test/parallel/test-worker-message-port-transfer-filehandle.js
Labels: test, author ready, needs-ci

#59144 test: mark web lock held test as flaky
  test/wpt/status/web-locks.json
Labels: test, author ready, needs-ci

#59113 doc: update the instruction on how to verify releases
  README.md
Labels: doc, notable-change, release-agenda, author ready, commit-queue-squash, lts-watch-v20.x

#59177 worker: add cpuUsage for worker
  doc/api/worker_threads.md
  lib/internal/worker.js
  src/async_wrap.h
  src/env_properties.h
  src/node_worker.cc
  src/node_worker.h
  test/parallel/test-worker-cpu-usage.js
  test/sequential/test-async-wrap-getasyncid.js
  typings/internalBinding/worker.d.ts
Labels: c++, lib / src, author ready, worker, needs-ci

#59104 test: make test-inspector-network-resource sequential
  test/parallel/parallel.status
  test/sequential/test-inspector-network-resource.js
Labels: c++, lib / src, needs-ci, commit-queue-squash

#59229 doc: format safely for `doc-kit`
  doc/api/crypto.md
  doc/api/diagnostics_channel.md
  doc/api/dns.md
  doc/api/events.md
  doc/api/http2.md
  doc/api/inspector.md
  doc/api/module.md
  doc/api/modules.md
  doc/api/stream.md
  doc/api/tls.md
  doc/api/util.md
  doc/api/webcrypto.md
  doc/api/webstreams.md
Labels: doc, author ready, commit-queue-squash

#57613 src: add nullptr checks in `StreamPipe::New`
  src/stream_pipe.cc
Labels: c++, author ready, needs-ci

#59117 src: clear all linked module caches once instantiated
  src/module_wrap.cc
  src/module_wrap.h
  test/parallel/test-internal-module-wrap.js
Labels: c++, module, vm, needs-ci, commit-queue-squash

#59242 tools: allow selecting test subsystems with numbers in their names
  tools/test.py
Labels: test, tools, author ready

#59060 http: deprecate writeHeader
  doc/api/deprecations.md
  lib/_http_server.js
  test/parallel/test-write-header.js
Labels: http, semver-major, author ready, deprecations, needs-ci

#59270 worker: implements nits in Web Locks code
  lib/internal/locks.js
Labels: author ready, needs-ci

#59273 doc: add manpage entry for --use-system-ca
  doc/node.1
Labels: doc
